/**
* A stylesheet for use with Bootstrap 3.x
* @author: Dan Grossman http://www.dangrossman.info/
* @copyright: Copyright (c) 2012-2015 Dan Grossman. All rights reserved.
* @license: Licensed under the MIT license. See http://www.opensource.org/licenses/mit-license.php
* @website: https://www.improvely.com/
*/

/* Container Appearance */

.daterangepicker {
    position: absolute;
    background: #fff;
    top: 100px;
    left: 20px;
    padding: 4px;
    margin-top: 1px;
    border-radius: 4px;
    width: 278px;
}

    .daterangepicker.opensleft:before {
        position: absolute;
        top: -7px;
        right: 9px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }

    .daterangepicker.opensleft:after {
        position: absolute;
        top: -6px;
        right: 10px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent;
        content: '';
    }

    .daterangepicker.openscenter:before {
        position: absolute;
        top: -7px;
        left: 0;
        right: 0;
        width: 0;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }

    .daterangepicker.openscenter:after {
        position: absolute;
        top: -6px;
        left: 0;
        right: 0;
        width: 0;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent;
        content: '';
    }

    .daterangepicker.opensright:before {
        position: absolute;
        top: -7px;
        left: 9px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }

    .daterangepicker.opensright:after {
        position: absolute;
        top: -6px;
        left: 10px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent;
        content: '';
    }

    .daterangepicker.dropup {
        margin-top: -5px;
    }

        .daterangepicker.dropup:before {
            top: initial;
            bottom: -7px;
            border-bottom: initial;
            border-top: 7px solid #ccc;
        }

        .daterangepicker.dropup:after {
            top: initial;
            bottom: -6px;
            border-bottom: initial;
            border-top: 6px solid #fff;
        }

    .daterangepicker.dropdown-menu {
        max-width: none;
        z-index: 3000;
    }

    .daterangepicker.single .ranges, .daterangepicker.single .calendar {
        float: none;
    }

    .daterangepicker .calendar {
        display: none;
        max-width: 350px;
        margin: 4px;
    }

    .daterangepicker.show-calendar .calendar {
        display: block;
    }

    .daterangepicker .calendar.single .calendar-table {
        border: none;
    }

    /* Calendars */

    .daterangepicker .calendar th, .daterangepicker .calendar td {
        white-space: nowrap;
        text-align: center;
        min-width: 32px;
    }

    .daterangepicker .calendar-table {
        border: 1px solid #ddd;
        padding: 4px;
        border-radius: 4px;
        background: #fff;
    }

    .daterangepicker table {
        width: 100%;
        margin: 0;
    }

    .daterangepicker td, .daterangepicker th {
        text-align: center;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        white-space: nowrap;
        cursor: pointer;
    }

        .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
            color: #999;
            background: #fff;
        }

        .daterangepicker td.disabled, .daterangepicker option.disabled {
            color: #999;
            cursor: not-allowed;
            text-decoration: line-through;
        }

        .daterangepicker td.available:hover, .daterangepicker th.available:hover {
            background: #eee;
        }

        .daterangepicker td.in-range {
            background: #ebf4f8;
            border-radius: 0;
        }

        .daterangepicker td.start-date {
            border-radius: 4px 0 0 4px;
        }

        .daterangepicker td.end-date {
            border-radius: 0 4px 4px 0;
        }

        .daterangepicker td.start-date.end-date {
            border-radius: 4px;
        }

        .daterangepicker td.active, .daterangepicker td.active:hover {
            background-color: #357ebd;
            border-color: #3071a9;
            color: #fff;
        }

        .daterangepicker td.week, .daterangepicker th.week {
            font-size: 80%;
            color: #ccc;
        }

    .daterangepicker select.monthselect, .daterangepicker select.yearselect {
        /*font-size: 12px;
        padding: 1px;
        height: auto;
        margin: 0;
        cursor: default;*/
        display: inline;
    }

    .daterangepicker select.monthselect {
        margin-right: 2%;
        width: 55%;
    }

    .daterangepicker select.yearselect {
        width: 40%;
    }

    .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
        width: 70px;
        margin-bottom: 0;
        display: inline;
    }

    .daterangepicker th.month {
        width: auto;
    }

.range_inputs {
    margin-top: 10px;
    text-align: center;
}

/* Text Input Above Each Calendar */

.daterangepicker .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 0 5px 0;
    padding: 0 6px 0 28px;
    width: 100%;
}

    .daterangepicker .input-mini.active {
        border: 1px solid #357ebd;
    }

.daterangepicker .daterangepicker_input i {
    position: absolute;
    left: 8px;
    top: 8px;
}

.daterangepicker .daterangepicker_input {
    position: relative;
}

/* Time Picker */

.daterangepicker .calendar-time {
    text-align: center;
    margin: 5px auto;
    line-height: 30px;
    position: relative;
    padding-left: 28px;
}

    .daterangepicker .calendar-time select.disabled {
        color: #ccc;
        cursor: not-allowed;
    }

/* Predefined Ranges */

.daterangepicker .ranges {
    font-size: 11px;
    float: none;
    margin: 4px;
    text-align: left;
}

    .daterangepicker .ranges ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .daterangepicker .ranges li {
        width: 225px;
        font-size: 13px;
        background: #f5f5f5;
        border: 1px solid #f5f5f5;
        color: #08c;
        padding: 3px 12px;
        margin-bottom: 8px;
        border-radius: 5px;
        cursor: pointer;
    }

        .daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
            background: #08c;
            border: 1px solid #08c;
            color: #fff;
        }

/*  Larger Screen Styling */
@media (min-width: 564px) {
    .daterangepicker {
        width: auto;
    }

        .daterangepicker .ranges ul {
            width: auto;
            height: 290px;
            overflow: auto;
        }

        .daterangepicker.single .ranges ul {
            width: 100%;
        }

        .daterangepicker .calendar.left .calendar-table {
            /*border-right: none;*/
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .daterangepicker .calendar.right .calendar-table {
            /*border-left: none;*/
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .daterangepicker .calendar.left {
            clear: left;
            margin-right: 0;
        }

        .daterangepicker.single .calendar.left {
            clear: none;
        }

        .daterangepicker.single .ranges,
        .daterangepicker.single .calendar {
            float: left;
        }

        .daterangepicker .calendar.right {
            margin-left: 0;
        }

        .daterangepicker .left .daterangepicker_input {
            padding-right: 12px;
        }

        .daterangepicker .calendar.left .calendar-table {
            padding-right: 12px;
        }

        .daterangepicker .ranges,
        .daterangepicker .calendar {
            float: left;
        }
}

@media (min-width: 730px) {
    .daterangepicker .ranges {
        width: 250px;
        float: right;
    }

    .daterangepicker .calendar.left {
        clear: none;
    }
}
