.chat-box li {
    margin: 15px;
    padding: 0;
}

    .chat-box li a.chat-wrapper {
        display: block;
        padding: 10px;
    }

    .chat-box li a.btn-md {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -17px;
        padding: 0 10px;
    }

        .chat-box li a.btn-md .glyph-icon {
            opacity: .5;
        }

    .chat-box li a.chat-wrapper:hover {
        color: #fff;
    }

    .chat-box li .status-badge {
        float: left;
        margin: 0 10px 0 0;
    }

    .chat-box li b {
        font-size: 12px;
        display: block;
        padding: 4px 0 0;
    }

    .chat-box li p {
        font-size: 11px;
        opacity: .6;
    }

ul.chat-box {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat-box li {
    position: relative;
    z-index: 35;
    margin-bottom: 30px;
    padding-right: 65px;
}

    .chat-box li.float-left {
        float: none!important;
        padding-right: 0;
        padding-left: 60px;
    }

.chat-box .chat-author {
    position: absolute;
    top: 0;
    right: 0;
}

.chat-box li.float-left .chat-author {
    right: auto;
    left: 0;
}

.chat-box .chat-author img {
    min-width: 45px;
    border-radius: 100px;
}

.chat-box .popover {
    position: relative!important;
    display: block;
    float: none;
    min-height: 45px;
}

    .chat-box .popover .popover-content {
        padding: 15px;
    }

.chat-box .popover {
    margin-left: 0!important;
}

    .chat-box .popover.left .arrow, .chat-box .popover.right .arrow {
        top: 23px;
    }

.chat-box .chat-time {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    color: rgba(0,0,0,.5);
}

    .chat-box .chat-time i {
        font-size: 13px;
        margin-right: 3px;
    }

.chat-box .popover h3 {
    font-size: 16px;
    margin: 0 0 5px;
}

.chat-box .popover .divider {
    margin: 8px 0 10px;
}

.chat-box .chat-reply {
    overflow: hidden;
    padding: 0;
    border-width: 1px;
}

ul.files-box {
    margin: 0;
    padding: 0 0 15px;
    list-style: none;
}

.files-box li {
    position: relative;
    margin: 0 15px;
    padding: 5px;
}

    .files-box li.divider {
        padding: 2px;
    }

.files-box .files-icon {
    font-size: 20px;
    line-height: 32px;
    display: block;
    float: left;
    width: 30px;
    height: 32px;
}

.files-box .files-content {
    font-size: 11px;
    float: left;
}

    .files-box .files-content .files-date {
        font-size: 10px;
        display: block;
        padding: 3px 0 0;
        opacity: .6;
    }

.files-box .files-buttons {
    position: absolute;
    top: 3px;
    right: 0;
}

.login-box {
    padding: 10px 15px;
}

    /*.login-box .user-img {
        position: relative;
        float: left;
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }*/

    .login-box .user-img {
        position: relative;
        float: left;
        margin-right: 15px;
        margin-top: 10px;
    }

        .login-box .user-img a.change-img {
            font-size: 8px;
            line-height: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            display: none;
            width: 100%;
            height: 20px;
            text-align: center;
            text-transform: uppercase;
            color: #fdfdfd;
            background: rgba(0,0,0,.7);
        }

        .login-box .user-img:hover a.change-img {
            display: block;
        }

        .login-box .user-img img {
            width: 100%;
            height: 100%;
        }

    .login-box .user-info span {
        font-size: 17px;
        display: block;
        padding: 0 0 10px;
    }

        .login-box .user-info span i {
            font-size: 80%;
            font-style: normal;
            display: block;
            opacity: .7;
            -moz-opacity: .7;
            filter: alpha(opacity:70);
        }

    .login-box .user-info a {
        line-height: 16px;
        display: inline-block;
        height: 16px;
        margin-right: 5px;
        padding-right: 5px;
    }

.notifications-box {
    border: 1px solid #ddd;
}

    .notifications-box li {
        line-height: 26px;
        position: relative;
        padding: 10px;
        border-bottom: #ebebeb solid 1px;
    }

        .notifications-box li .notification-text {
            float: left;
        }

        .notifications-box li:last-child {
            border-bottom: 0;
        }

        .notifications-box li .icon-notification {
            line-height: 26px;
            float: left;
            width: 26px;
            height: 26px;
            margin: 0 10px 0 0;
            text-align: center;
            border-radius: 50px;
        }

        .notifications-box li .notification-time {
            font-size: 11px;
            font-style: italic;
            float: right;
            margin: 0 5px 0 10px;
            color: #a9a9a9;
        }

            .notifications-box li .notification-time .glyph-icon {
                margin-left: 3px;
            }

    .notifications-box.notifications-box-alt {
        text-align: left;
        border: 0;
    }

.notifications-box-alt li {
    line-height: inherit;
    padding: 15px 10px;
    border-bottom: #232323 solid 1px;
}

    .notifications-box-alt li .notification-btn {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -11px;
    }

.sb-slidebar .notifications-box-alt li .notification-btn {
    right: 10px;
}

.notifications-box-alt li:first-child {
    padding-top: 5px;
}

.notifications-box-alt li:last-child {
    padding-bottom: 5px;
    border-bottom: 0;
}

.notifications-box-alt li .notification-text {
    font-size: 11px;
    display: block;
    float: none;
    margin-top: -1px;
    margin-bottom: 1px;
}

.notifications-box-alt li .notification-time {
    font-size: 10px;
    float: none;
}

.progress-box li {
    font-size: 12px;
    white-space: nowrap;
    border-bottom: #ddd solid 1px;
}

    .progress-box li a {
        padding: 10px 15px 15px!important;
    }

    .progress-box li:last-child {
        border-bottom: 0;
    }

.progress-box .progress-title {
    margin: 0 0 5px;
    color: #888;
}

    .progress-box .progress-title b {
        float: right;
        color: #666;
    }

.progress-box .progress-time {
    float: right;
    opacity: .7;
    -moz-opacity: .7;
    filter: alpha(opacity:70);
}

.progress-box-alt li {
    padding: 10px 0;
    border: 0;
}

.choose-theme {
    display: block;
    float: left;
    padding: 2px;
    border-radius: 2px;
    margin: 5px 8px 5px 0;
    border: 1px solid #ccc;
}

    .choose-theme.active, .choose-theme:hover {
        opacity: .8;
        border-color: #ccc;
    }

    .choose-theme span {
        width: 30px;
        height: 20px;
        display: block;
        float: left;
        border: 0;
        margin: 0;
    }

.choose-bg {
    border-radius: 100%;
    width: 24px;
    height: 24px;
    margin: 0 3px;
    display: block;
    float: left;
}

    .choose-bg:hover {
        opacity: .8;
    }

ul.todo-box {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-box li {
    margin: 0 0 2px;
    padding: 10px;
    border-left-width: 3px;
    border-left-style: solid;
    background: #fcfcfc;
}

    .todo-box li .sort-handle {
        font-size: 16px;
        display: block;
        float: left;
        width: 18px;
        height: 18px;
        margin-right: 10px;
        cursor: move;
        text-align: center;
        opacity: .75;
        -moz-opacity: .75;
        filter: alpha(opacity:75);
    }

        .todo-box li .sort-handle:hover {
            opacity: 1;
            -moz-opacity: 1;
            filter: alpha(opacity:100);
        }

    .todo-box li a.btn-xs {
        margin-left: 3px;
    }

    .todo-box li input {
        display: block;
        float: left;
        width: auto;
        margin: 5px 5px 0 0;
    }

    .todo-box li label {
        padding: 0 5px;
    }

    .todo-box li .btn.small {
        line-height: 16px;
        width: 16px;
        min-width: 16px;
        height: 16px;
        margin-left: 5px;
        opacity: .75;
        -moz-opacity: .75;
        filter: alpha(opacity:75);
    }

    .todo-box li.todo-done {
        opacity: .65;
        -moz-opacity: .65;
        filter: alpha(opacity:65);
    }

        .todo-box li.todo-done label {
            font-style: italic;
            text-decoration: line-through;
        }

.user-profile-sm {
    padding: 5px;
    text-align: left;
}

    .user-profile-sm img {
        float: left;
    }

    .user-profile-sm .user-welcome {
        font-size: 12px;
        float: left;
        padding: 3px 0 0 15px;
    }

        .user-profile-sm .user-welcome b {
            font-size: 13px;
            display: block;
            color: #d6d6d6;
        }

    .user-profile-sm .btn-sm {
        float: right;
        margin-top: 8px;
    }

.complete-user-profile h4 {
    font-size: 12px;
    text-transform: uppercase;
}

.complete-user-profile .progressbar {
    margin: 10px 0;
}
