﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Precaucion</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="2" style="border: 0px; text-align: center;">
                        Usted está editando su propio usuario.<br />Al guardar cambios será necesario volver a ingresar para que los cambios sean reflejados.
                    </td>
                </tr>
                <tr>
                    <td style="border: 0px; text-align: center;">
                        <a id="BotonConfirmarEditarUsuario" class="btn btn-success">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </a>
                    </td>
                    <td style="border: 0px; text-align: center;">
                        <a onclick="CerrarModal()" class="btn btn-danger">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Cancelar</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalAdvertenciaUsuario .modal-dialog').css('width', '50%');
    });
    function CerrarModal() {
        $('.ModalAdvertenciaUsuario').modal('hide');
    }
</script>
