﻿@{
    List<POS.Models.movimiento_efectivo> ListaMovimientosEfectivo = ViewBag.ListaMovimientosEfectivo as List<POS.Models.movimiento_efectivo>;
}
@foreach (POS.Models.movimiento_efectivo movimiento in ListaMovimientosEfectivo)
{
    <tr class=@(movimiento.estatus ? "tr_movimiento_activo" : "tr_movimiento_inactivo")>
        <td style="text-align: center;">@movimiento.sucursal.nombre_sucursal.ToUpper()</td>
        <td style="text-align: center;">@movimiento.tipo_movimiento_efectivo.nombre.ToUpper()</td>
        <td style="text-align: center;">$@movimiento.monto</td>
        <td style="text-align: center;">@movimiento.descripcion</td>
        <td style="text-align: center;">@movimiento.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
        <td style="text-align: center;">@movimiento.usuario_punto_venta.nombre_usuario.ToUpper()</td>
        <td style="text-align: center;">@(movimiento.motivo_cancelacion != null ? movimiento.motivo_cancelacion.ToUpper() : "" )</td>
        <td style="text-align: center;">@(movimiento.fecha_cancelacion != null ? movimiento.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss") : "" )</td>
        <td style="text-align: center;">@(movimiento.id_usuario_cancela != 0 && movimiento.id_usuario_cancela != null ? movimiento.usuario_punto_venta1.nombre_usuario.ToUpper() : "" )</td>
        <td style="text-align: center;">
            @if (movimiento.estatus)
            {
                <section>
                    <div class="wrapper-demo">
                        <div class="wrapper-dropdown-5" tabindex="1">
                            <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                            Acciones
                            <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                <li>
                                    <label onclick="MostrarModalConfirmarCancelarMovimiento(@movimiento.id)" style="color: #ff0000"><i class="glyph-icon icon-times" aria-hidden="true" style="margin-right: 15px;"></i>Cancelar</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            }
        </td>
    </tr>
}

<script>
    $("#TablaMovimientosEfectivo").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],                  // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: 9,                      // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>