﻿@model POS.Models.movimiento_efectivo
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">¿Desea cancelar el movimiento?</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaSubfamilias" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Tipo Movimiento</th>
                    <th>Monto</th>
                    <th>Descripción</th>
                    <th>Fecha Creación</th>
                    <th>Usuario Creación</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td style="text-align: center;">@Model.sucursal.nombre_sucursal.ToUpper()</td>
                        <td style="text-align: center;">@Model.tipo_movimiento_efectivo.nombre.ToUpper()</td>
                        <td style="text-align: center;">$@Model.monto</td>
                        <td style="text-align: center;">@Model.descripcion</td>
                        <td style="text-align: center;">@Model.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td style="text-align: center;">@Model.usuario_punto_venta.nombre_usuario.ToUpper()</td>
                   </tr>
                <tr>
                    <td style="width: 150px; text-align: right; border: 0px;">Motivo Cancelación: </td>
                    <td colspan="5" style="border: 0px;">
                        <textarea id="motivo_cancelacion" name="motivo_cancelacion" class="form-control obligatorio" row="5"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="6" style="border: 0px;">
                        <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Por favor rellene todos los campos.</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <a id="confirmar_cancelar_movimiento" class="btn btn-success">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </a>
                    </td>
                    <td style="text-align: center;">
                        <a onclick="CerrarModal()" class="btn btn-danger">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Cancelar</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" id="id" value="@Model.id" />

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalConfirmarCancelarMovimientoEfectivo .modal-dialog').css('width', '50%');
        $(".ModalConfirmarCancelarMovimientoEfectivo").on('shown.bs.modal', function () {
            $(this).find('#motivo_cancelacion').focus();
        });
    });
    function CerrarModal() {
        $('.ModalConfirmarCancelarMovimientoEfectivo').modal('hide');
    }
</script>
