﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nuevo Movimiento Efectivo</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaMovimientoEfectivo" class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td style="width: 150px; text-align: right; border: 0px;">Sucursal: </td>
                    <td style="width: 25%; border: 0px;">
                        @Html.DropDownList("id_sucursal", null, new { @class = "form-control obligatorio", disabled = "disabled" })
                    </td>
                    <td style="width: 180px; text-align: right; border: 0px;">Tipo Movimiento: </td>
                    <td style="width: 25%; border: 0px;">
                        @Html.DropDownList("id_tipo_movimiento_efectivo", null, new { @class = "form-control obligatorio", disabled = "disabled" })
                    </td>
                    <td style="width: 150px; text-align: right; border: 0px;">Monto: </td>
                    <td style="width: 25%; border: 0px;">
                        <input type="text" id="monto" name="monto" class="form-control decimal obligatorio"  value="@ViewBag.efectivo_fondo_caja" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right; border: 0px;">Descripción: </td>
                    <td colspan="5" style="border: 0px;">
                        <textarea id="descripcion" name="descripcion" class="form-control" row="5">Fondo de Caja Generado Automáticamente con Efectivo de Ventas de @ViewBag.fecha_recuperacion_efectivo.</textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="border: 0px;">
                        <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Por favor rellene todos los campos.</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="border: 0px;">
                        <a id="BotonAgregarMovimiento" class="btn btn-success">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Agregar</span>
                        </a>
                        <a id="BotonCancelarMovimiento" onclick="CerrarModal()" class="btn btn-danger">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Cancelar</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.ModalGenerarFondoCajaAutomatico .modal-dialog').css('width', '70%');
        $(".ModalGenerarFondoCajaAutomatico").on('shown.bs.modal', function () {
            $(this).find('#monto').focus();
        });
        var id_sucursal_viartual = localStorage.getItem("id_sucursal_virtual");
        $('.ModalGenerarFondoCajaAutomatico #id_sucursal').val(id_sucursal_viartual);
    });
    function CerrarModal() {
        $('.ModalGenerarFondoCajaAutomatico').modal('hide');
    }
</script>
