﻿@{
    ViewBag.Title = "Lista De Productos " + ViewBag.busqueda;
}

@{
    //List<Tienda_Online.Models.familia> ListaFamilias = ViewBag.ListaFamilias as List<Tienda_Online.Models.familia>;
    //List<Tienda_Online.Models.subfamilia> ListaSubfamilias = ViewBag.ListaSubfamilias as List<Tienda_Online.Models.subfamilia>;
    List<Tienda_Online.Models.marca> ListaMarcas = ViewBag.ListaMarcas as List<Tienda_Online.Models.marca>;
    List<int> Familias = ViewBag.Familias as List<int>;
    List<int> Subfamilias = ViewBag.Subfamilias as List<int>;
    List<int> Marcas = ViewBag.Marcas as List<int>;
    List<int> ListaIdProductos = ViewBag.ListaIdProductos as List<int>;
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();

}
<meta name="description" content='@("Busqueda " + configuracion_general.marca + ".!")' />

<section style="margin-bottom: 30px;">
    <div class="container">
        <div class="row">
            @*FILTRO MARCAS MOVIL*@
            <div class="div_movil" style="margin-top: 15px;">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="float: left">
                    <div class="left-sidebar">
                        <div id="button">
                            <label class="btn_filtro_marca botonBordeVerde" onclick="clickBtn_filtro_marca($(this))" >MARCAS</label>
                            <div class="content">
                                <div class="panel-group category-products  panel_marcas  oculto" style="max-height: 740px; overflow-y: auto; display: none">
                                    @foreach (Tienda_Online.Models.marca marca in ListaMarcas.OrderBy(x => x.nombre))
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <input type="checkbox" name="@marca.id" id="@("checkmarca" + marca.id)" class="checkmarca" style="margin-right:5px;" /><a name="@marca.id" id="@("marca" + marca.id)" class="marca" style="cursor:pointer;">@marca.nombre</a>
                                                </h4>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            @*FILTRO MARCAS ESCRITORIO*@
            <div class="div_escritorio">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 " style="float: left">
                    <div class="left-sidebar">
                        <label style="margin-left: 15px; margin-top: 15px;">MARCAS</label>
                        <div class="panel-group category-products" id="filtro_marcas" style="max-height: 740px; overflow-y: auto;">
                            @foreach (Tienda_Online.Models.marca marca in ListaMarcas.OrderBy(x => x.nombre))
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <input type="checkbox" name="@marca.id" id="@("checkmarca" + marca.id)" class="checkmarca" style="margin-right:5px;" /><a name="@marca.id" id="@("marca" + marca.id)" class="marca" style="cursor:pointer;">@marca.nombre</a>
                                        </h4>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 " style="float: left;">
                @* FILTRAR EXTRA Y ORDENAR MOVIL*@
                <div class="div_movil">
                    <label class="btn_filtro_orden botonBordeVerde" onclick="clickBtn_filtro_orden($(this))" >FILTRAR Y ORDENAR</label>
                    <div class="panel_filtros  oculto" style="display:none;">
                        <div id="" class="col-sm-12 col-xs-12 col-lg-4 col-md-4" style="float: left; margin-top: 5px;padding: 0px;">
                            <div style="background-color: #F4F2F2; height: 40px; width: 10%; color: white; float: left;">
                                <img src="@Url.Content("~/images/lupa.svg")" style="    height: 18px;margin: 10px;">
                            </div>
                            <input type="text" id="" class="" placeholder="Filtrar resultados" style="width: 90%; border: none; background-color: #F4F2F2; height: 40px; float: left; padding-left: 10px;" />
                        </div>
                        <div class="col-sm-6 col-xs-12 col-lg-4 col-md-4" style="float: left; text-align: center; margin-top: 15px; margin-bottom: 20px;">
                            <label style="">
                                Ordenar Por
                                <select id="" style="border: none; background-color: #f4f2f2; height: 30px; color: #4a4a4a;">
                                    <option value="1">Codigo</option>
                                    <option value="2">Descripcion</option>
                                    <option value="3">Precio</option>
                                    <option value="4">Existencia</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-sm-6 col-xs-12 col-lg-4 col-md-4" style="float: left; text-align: center; margin-top: 15px; margin-bottom: 20px;">
                            <label>
                                Productos por página 
                                <select id="" style="border: none; background-color: #f4f2f2; height: 30px; color: #4a4a4a;">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                @* FILTRAR EXTRA Y ORDENAR ESCRITORIO*@
                <div class="div_escritorio" style=" margin-top: 30px">
                    <div id="div_filtro_resultados" class="col-sm-12 col-xs-12 col-lg-4 col-md-4" style="float: left; margin-top: 5px;">
                        <div style="background-color: #F4F2F2; height: 40px; width: 10%; color: white; float: left;">
                            <img src="@Url.Content("~/images/lupa.svg")" style="    height: 18px;margin: 10px;">
                        </div>
                        <input type="text" id="filtro_lista" class="" placeholder="Filtrar resultados" style="width: 90%; border: none; background-color: #F4F2F2; height: 40px; float: left; padding-left: 10px;" />
                    </div>
                    <div class="col-sm-6 col-xs-12 col-lg-4 col-md-4" style="float: left; text-align: center; margin-top: 15px; margin-bottom: 20px;">
                        <label style="">
                            Ordenar Por
                                <select id="ordenamiento" style="border: none; background-color: #f4f2f2; height: 30px; color: #4a4a4a;">
                                    <option value="1">Codigo</option>
                                    <option value="2">Descripcion</option>
                                    <option value="3">Precio</option>
                                    <option value="4">Existencia</option>
                                </select>
                        </label>
                    </div>
                    <div class="col-sm-6 col-xs-12 col-lg-4 col-md-4" style="float: left; text-align: center; margin-top: 15px; margin-bottom: 20px;">
                        <label>
                            Productos por página 
                                <select id="numeroProductos" style="border: none; background-color: #f4f2f2; height: 30px; color: #4a4a4a;">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                        </label>
                    </div>
                </div>

                <div id="ListaProductosBusqueda" class="tab-pane fade active in" style="margin-top: 60px"></div>
            </div>
        </div>

    </div>
    <ul style="display: none; list-style-type: none; margin-left: -30px;">
        @if (Familias != null)
        {
            foreach (int i in Familias)
            {
            <li class="familia_busqueda">@i</li>
            }
        }
    </ul>
    <ul style="display: none; list-style-type: none; margin-left: -30px;">
        @if (Subfamilias != null)
        {
            foreach (int i in Subfamilias)
            {
            <li class="subfamilia_busqueda">@i</li>
            }
        }
    </ul>
    <ul style="display: none; list-style-type: none; margin-left: -30px;">
        @if (Marcas != null)
        {
            foreach (int i in Marcas)
            {
            <li class="marca_busqueda">@i</li>
            }
        }
    </ul>
</section>
<script>

    function clickBtn_filtro_marca(_this) {
        _panel = _this.parent().find(".panel_marcas");
        //esta oculto?
        if (_panel.hasClass("oculto")) {
            _panel.slideDown(300);
            _panel.removeClass("oculto");
        }
        else {
            _panel.slideUp(300);
            _panel.addClass("oculto");
        }
    }
    function clickBtn_filtro_orden(_this)
    {
        _panel = _this.parent().find(".panel_filtros");
        //esta oculto?
        if (_panel.hasClass("oculto")) {
            _panel.slideDown(300);
            _panel.removeClass("oculto");
        }
        else {
            _panel.slideUp(300);
            _panel.addClass("oculto");
        }
    }

    
</script>
<script type="text/javascript">
    var numeroProductos = $('#numeroProductos').val();
    var filtro = $('#filtro_lista').val();
    var precio = $('.tooltip-inner').html();
    var ordenamiento = $('#ordenamiento').val();
    var pagina = 1;
    var siguiente_hoja = false;
    $(document).ready(function () {
        @*alert("@ViewBag.filtro");
        alert("@Html.Raw(ViewBag.filtro)");*@
        $('#filtro_lista').val('@Html.Raw(ViewBag.filtro)');
        $('.subfamilia_busqueda').each(function () {
            var subfamilia = $(this).html();
            var familia = $('#subfamilia' + subfamilia).attr('familia');
            $('#subfamilia' + subfamilia).addClass('subfamiliaSeleccionada');
            $('#checksubfamilia' + subfamilia).prop('checked', true);
            var subfamilias_de_familia_seleccionada = 0;
            $('.subfamiliaSeleccionada').each(function () {
                if ($(this).attr('familia') == familia) {
                    subfamilias_de_familia_seleccionada = subfamilias_de_familia_seleccionada + 1;
                }
            });
            if ($('.familia' + familia).length == subfamilias_de_familia_seleccionada) {
                $('.familiaPrincipal' + familia).addClass('familiaSeleccionada');
                $('#checkfamilia' + familia).prop('checked', true);
            }
        });
        $('.familia_busqueda').each(function () {
            var familia = $(this).html();
            $('#familia' + familia).addClass('familiaSeleccionada');
            $('#checkfamilia' + familia).prop('checked', true);
            $('.subfamilia').each(function () {
                if ($(this).attr('familia') == familia) {
                    $(this).addClass('subfamiliaSeleccionada');
                    $('.checkfamilia' + familia).prop('checked', true);
                }
            });
        });
        $('.marca_busqueda').each(function () {
            var marca = $(this).html();
            $('#checkmarca' + marca).prop('checked', true);
            $('#marca' + marca).addClass('marcaSeleccionada');
        });
        VistaParcialProductos();
    });
    $(document).on('click', '#volverinicio', function () {
        window.location.href = '@Url.Action("Index", "Home")';
    });
        $(document).on('click', '.boton_paginacion', function () {
            pagina = $(this).attr("name");
            siguiente_hoja = true;
            VistaParcialProductos();
        });
        $(document).on('change', '#numeroProductos', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('change', '#filtro_lista', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('change', '#ordenamiento', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('click', '.familia', function () {
            var familia = $(this).attr('name');
            siguiente_hoja = false;
            if ($(this).hasClass('familiaSeleccionada')) {
                $(this).removeClass('familiaSeleccionada');
                $('#checkfamilia' + familia).prop('checked', false);
                $('.subfamilia').each(function () {
                    if ($(this).attr('familia') == familia) {
                        $(this).removeClass('subfamiliaSeleccionada');
                        $('.checkfamilia' + familia).prop('checked', false);
                    }
                });
            } else {
                $(this).addClass('familiaSeleccionada');
                $('#checkfamilia' + familia).prop('checked', true);
                $('.subfamilia').each(function () {
                    if ($(this).attr('familia') == familia) {
                        $(this).addClass('subfamiliaSeleccionada');
                        $('.checkfamilia' + familia).prop('checked', true);
                    }
                });
            }
            VistaParcialProductos();
        });
        $(document).on('click', '.checkfamilia', function () {
            var familia = $(this).attr('name');
            siguiente_hoja = false;
            if ($('#familia' + familia).hasClass('familiaSeleccionada')) {
                $('#familia' + familia).removeClass('familiaSeleccionada');
                $('#checkfamilia' + familia).prop('checked', false);
                $('.subfamilia').each(function () {
                    if ($(this).attr('familia') == familia) {
                        $('.familia' + familia).removeClass('subfamiliaSeleccionada');
                        $('.checkfamilia' + familia).prop('checked', false);
                    }
                });
            } else {
                $('#familia' + familia).addClass('familiaSeleccionada');
                $('#checkfamilia' + familia).prop('checked', true);
                $('.subfamilia').each(function () {
                    if ($(this).attr('familia') == familia) {
                        $('.familia' + familia).addClass('subfamiliaSeleccionada');
                        $('.checkfamilia' + familia).prop('checked', true);
                    }
                });
            }
            VistaParcialProductos();
        });
        $(document).on('click', '.subfamilia', function () {
            siguiente_hoja = false;
            var familia = $(this).attr('familia');
            var subfamilia = $(this).attr('name');
            if ($(this).hasClass('subfamiliaSeleccionada')) {
                $(this).removeClass('subfamiliaSeleccionada');
                $('#checksubfamilia' + subfamilia).prop('checked', false);
                $('.familiaSeleccionada').each(function () {
                    if ($(this).attr('name') == familia) {
                        $(this).removeClass('familiaSeleccionada');
                        $('#checkfamilia' + familia).prop('checked', false);
                    }
                });
            } else {
                $(this).addClass('subfamiliaSeleccionada');
                $('#checksubfamilia' + subfamilia).prop('checked', true);
                var subfamilias_de_familia_seleccionada = 0;
                $('.subfamiliaSeleccionada').each(function () {
                    if ($(this).attr('familia') == familia) {
                        subfamilias_de_familia_seleccionada = subfamilias_de_familia_seleccionada + 1;
                    }
                });
                if ($('.familia' + familia).length == subfamilias_de_familia_seleccionada) {
                    $('.familiaPrincipal' + familia).addClass('familiaSeleccionada');
                    $('#checkfamilia' + familia).prop('checked', true);
                }
            }
            VistaParcialProductos();
        });
        $(document).on('click', '.checksubfamilia', function () {
            siguiente_hoja = false;
            var familia = $(this).attr('familia');
            var subfamilia = $(this).attr('name');

            if ($('#subfamilia' + subfamilia).hasClass('subfamiliaSeleccionada')) {
                //alert("subfamilia: " + subfamilia + " selecionada?:SI" + $('#subfamilia' + subfamilia).hasClass('subfamiliaSeleccionada'));
                $('#subfamilia' + subfamilia).removeClass('subfamiliaSeleccionada');
                $('#checksubfamilia' + subfamilia).prop('checked', false);
                $('#familia' + familia).each(function () {
                    $('#familia' + familia).removeClass('familiaSeleccionada');
                    $('#checkfamilia' + familia).prop('checked', false);
                });

            } else {
                //alert("subfamilia: " + subfamilia + " selecionada?:NO" + $('#subfamilia' + subfamilia).hasClass('subfamiliaSeleccionada'));
                $('#subfamilia' + subfamilia).addClass('subfamiliaSeleccionada');
                $('#checksubfamilia' + subfamilia).prop('checked', true);
                var subfamilias_de_familia_seleccionada = 0;
                $('.familia' + familia + '.subfamiliaSeleccionada').each(function () {
                    if ($(this).attr('familia') == familia) {
                        subfamilias_de_familia_seleccionada = subfamilias_de_familia_seleccionada + 1;
                    }
                });
                if ($('.familia' + familia).length == subfamilias_de_familia_seleccionada) {
                    $('.familiaPrincipal' + familia).addClass('familiaSeleccionada');
                    $('#checkfamilia' + familia).prop('checked', true);
                }
            }
            VistaParcialProductos();
        });
        $(document).on('click', '.marca', function () {
            siguiente_hoja = false;
            var marca = $(this).attr('name');
            if ($(this).hasClass('marcaSeleccionada')) {
                $('#checkmarca' + marca).prop('checked', false);
                $(this).removeClass('marcaSeleccionada');
            } else {
                $('#checkmarca' + marca).prop('checked', true);
                $(this).addClass('marcaSeleccionada');
            }
            VistaParcialProductos();
        });
        $(document).on('click', '.checkmarca', function () {
            siguiente_hoja = false;
            var marca = $(this).attr('name');
            if ($('#marca' + marca).hasClass('marcaSeleccionada')) {
                $(this).prop('checked', false);
                $('#marca' + marca).removeClass('marcaSeleccionada');
            } else {
                $('#checkmarca' + marca).prop('checked', true);
                $('#marca' + marca).addClass('marcaSeleccionada');
            }
            VistaParcialProductos();
        });
        function VistaParcialProductos() {
            numeroProductos = $('#numeroProductos').val();
            filtro = $('#filtro_lista').val();
            precio = $('.tooltip-inner').html();
            ordenamiento = $('#ordenamiento').val();
            if (siguiente_hoja == false) {
                pagina = 1;
            }

            var Marcas = [];
            $(".marcaSeleccionada").each(function () {
                Marcas.push($(this).attr('name'))
            });


            var ListaIdProductos=[];

            var _ListaIdProductos = @Html.Raw(Json.Encode(ViewBag.ListaIdProductos));
            for(var i = 0; i < _ListaIdProductos.length; i++) {
                ListaIdProductos[i] = _ListaIdProductos[i];
            }


            var params = {
                'pagina': pagina,
                'numeroProductos': numeroProductos,
                'filtro': filtro,
                'ordenamiento': ordenamiento,
                //'Familias': Familias,
                //'Subfamilias': Subfamilias,
                'Marcas': Marcas,
                //'ListaIdProductos': "@((List<int>)ViewBag.ListaIdProductos)"
                'ListaIdProductos': ListaIdProductos
                
            };


            //alert(JSON.stringify( params));

            var url = '@Url.Action("VistaParcialProductos")';
            $.ajax({
                url: url,
                type: "POST",
                contentType: 'application/json;',
                data: JSON.stringify(params),
                success: function (productos) {
                    $('#ListaProductosBusqueda').html(productos);
                    $('#scrollUp').trigger('click');
                },
                async: true,
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        }

    @*$(document).on('click', '.agregarProducto', function () {
            var info_producto = $(this).parent();
            var Producto = [];
            Producto.push({
                Id: $(this).attr('id_producto'),
                Codigo: $(info_producto).find('.codigo').html(),
                Descripcion: $(info_producto).find('.descripcion').html(),
                Precio_Dolar: $(info_producto).find('.precio').attr('precio_dolar'),
                id_marca: $(this).attr('id_marca'),
                SubFamilia_id: $(this).attr('id_subfamilia'),
                Cantidad: "1",
                Precio_Unitario: $(info_producto).find('.precio').html(),
                Importe: "0",
            });
            var params = {
                'ProductoAgregar': Producto[0]
            };
            var url = '@Url.Action("AgregarProductoCarrito")';
            $.ajax({
                url: url,
                type: "POST",
                dataType: "JSON",
                contentType: 'application/json;',
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.success) {
                        $('#conceptos_carrito').fadeOut(10);
                        $('#conceptos_carrito').html(result.conceptos);
                        $('#conceptos_carrito').fadeIn();
                        ActualizarVistaParcialPreviaCotizacion();
                    }
                },
                async: false
            });
        });*@
</script>

<script>
    $('#filtro_lista').typeahead({
        hint: true,
        highlight: true,
        minLength: 1,
    });
</script>
