﻿@{
    Tienda_Online.Models.producto producto = ViewBag.producto as Tienda_Online.Models.producto;
    Decimal precio_unitario_producto = ViewBag.precio_unitario_producto;
    Decimal cantidad_iva_unitario = ViewBag.cantidad_iva_unitario;
    Decimal total_inventario = ViewBag.total_inventario;
    List<Tienda_Online.Models.itemproductocarrito2> ListaProductosRelacionados = (List<Tienda_Online.Models.itemproductocarrito2>)ViewBag.ListaProductosRelacionados;
    List<Tienda_Online.Models.pdf> ListaCatalogos = ViewBag.ListaCatalogos as List<Tienda_Online.Models.pdf>;
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
    string srcImagen = "";
    if (producto.imagen.Count > 0)
    {
        Tienda_Online.Models.imagen primera_imagen = producto.imagen.First();
        if (!primera_imagen.nombre.Equals(""))
        { 
            if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + primera_imagen.nombre))))
            {
                srcImagen = Url.Content("~/UploadFolder/imagen_producto/" + primera_imagen.nombre.Replace(" ", "%20"));
            }
            else
            {
                srcImagen = Url.Content("~/UploadFolder/imagen_producto/producto_default.png");
            }
        }
    }
    ViewBag.Title = configuracion_general.marca + " - " + producto.Codigo + " " + producto.Descripcion;

}
<meta name="description" content="@(producto.Codigo+" "+producto.Descripcion)" />
<meta property="og:image" content="@srcImagen">
<meta property="og:description" content="@(producto.Codigo+" "+producto.Descripcion)">
<!-- Owl Carousel Assets -->
<style>
    .owl-wrapper-outer {
        overflow: auto;
    }
</style>
<script src="@Url.Content("~/js/owl.carousel.js")"></script>
<link href="@Url.Content("~/css/carousel/owl.carousel.css")" rel="stylesheet">
<link href="@Url.Content("~/css/carousel/owl.theme.css")" rel="stylesheet">
@{

    List<String> ListaDetalles = null;


    if (producto.descripcion_detallada != null)
    {
        ListaDetalles = producto.descripcion_detallada.Split(';').ToList();
    }

    Tienda_Online.Models.cliente cliente = null;
    Boolean estaRegistrado = false;

    if (Request.IsAuthenticated)
    {
        cliente = Tienda_Online.Fn.cliente_logeado.TraerCliente();
        estaRegistrado = true;
    }
}



<div itemscope itemtype="http://schema.org/Product" class="container">
    <meta itemprop="url" content="@Url.Action("DetalleProducto", "Producto", new { @id = producto.id }))">
    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
        <div class="col-sm-12 col-xs-12 col-lg-7 col-lg-offset-5  col-md-7 col-md-offset-5">
            @if (producto.productopadre_id == 64000)
            {
                <h2 itemprop="name" style="color: #4A4A4A; margin-top: 0px;" class="tituloProducto">@producto.Descripcion</h2>
            }
            else
            {
                <h2 itemprop="name" style="color: #4A4A4A; margin-top: 0px;" class="tituloProducto">@producto.productopadre.Descripcion</h2>
            }
        </div>
    </div>
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar_small">
        <div class="product-details">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                @if (producto.imagen.Count > 0)
                {
                    int id = 0;
                    Tienda_Online.Models.imagen primera_imagen = producto.imagen.First();
                    //PRIMERA IMAGEN
                    <div class="col-sm-12 col-lg-9 col-md-9 col-xs-12">
                        <div class="canvas_img">
                            @{
                                if (configuracion_tienda_online.mostrar_inventario == true)
                                {
                                    if (total_inventario > 0)
                                    {
                                        <div class="div_stock">
                                            <span class="en_stock">Disponible</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="div_no_stock">
                                            <span class="sin_stock">Agotado</span>
                                        </div>
                                    }
                                }
                            }
                            <div>
                                @if (!primera_imagen.nombre.Equals(""))
                                {
                                    if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + primera_imagen.nombre))))
                                    {
                                        <div class="cover_img_300px" idimagen="@id" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/" + primera_imagen.nombre.Replace(" ", "%20")) + "');margin:0;width:auto;background-color: transparent;")">
                                            <meta itemprop="image" content="@Url.Content("~/UploadFolder/imagen_producto/" + primera_imagen.nombre.Replace(" ", "%20"))">
                                        </div>
                                    }
                                    //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                    else
                                    {
                                        <div class="cover_img_300px" idimagen="@id" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;filter: alpha(opacity=50);opacity: 0.5;")">
                                        </div>
                                    }
                                }
                                //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                else
                                {
                                    <div class="cover_img_300px" idimagen="@id" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")">
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label style="text-align: center; font-size: 11px; color: #969696; line-height: 11px;">(*) LA FOTOGRAFÍA PUEDE VARIAR AL PRODUCTO OFRECIDO EN TIENDA O DISPONIBLE EN ALMACÉN</label>
                        </div>
                    </div>
                    //MINIATURAS
                    <div class="col-sm-12 col-lg-3 col-md-3 col-xs-12 nopadnomar_small">
                        @foreach (Tienda_Online.Models.imagen imagen in producto.imagen.ToList())
                        {
                            id++;
                            string clase = "";
                            if (id == 1) { clase = " imagen_seleccionada "; }
                            <div class="@(clase + " col-sm-3 col-lg-12 col-md-12 col-xs-3  imagen_miniatura")">
                                <div class="canvas_img">
                                    <div>

                                        @if (!imagen.nombre.Equals(""))
                                        {
                                            if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + imagen.nombre))))
                                            {
                                                <div class="cover_img_80px imagen_detalle" idimagen="@id" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/" + imagen.nombre.Replace(" ", "%20")) + "');margin:0;width:auto;background-color: transparent;")">
                                                </div>
                                            }
                                            //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                            else
                                            {
                                                <div class="cover_img_80px imagen_detalle" idimagen="@id" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")">
                                                </div>
                                            }
                                        }
                                        //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                        else
                                        {
                                            <div class="cover_img_80px imagen_detalle" idimagen="@id" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")">
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                }
                else
                {
                    <div class="col-sm-12 col-lg-9 col-md-9 col-xs-12 nopadnomar_small">
                        <div class="canvas_img">
                            @{
                                if (configuracion_tienda_online.mostrar_inventario == true)
                                {
                                    if (total_inventario > 0)
                                    {
                                        <div class="div_stock">
                                            <span class="en_stock">Disponible</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="div_no_stock">
                                            <span class="sin_stock">Agotado</span>
                                        </div>
                                    }
                                }
                            }
                            <div>
                                <div class="cover_img_300px" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <label style="text-align: center; font-size: 11px; color: #969696; line-height: 11px;">(*) LA FOTOGRAFÍA PUEDE VARIAR AL PRODUCTO OFRECIDO EN TIENDA O DISPONIBLE EN ALMACÉN</label>
                        </div>
                    </div>

                }
            </div>
            <div class="descripcionProducto col-sm-12 col-xs-12 col-lg-7 col-md-7 ">
                <div class="product-information col-sm-12 col-xs-12 col-lg-12 col-md-12 ">
                    <label style="color: #4A4A4A; font-size: 20px">

                        @if (producto.productopadre_id == 64000)
                        {
                            @:Código:
                            <label id="codigo_producto" style="font-weight: bold;">@producto.Codigo</label>
                        }
                        else
                        {
                            @:Variantes:
                            @Html.DropDownList("OPCIONES", (SelectList)ViewBag.ListaHijos, "ELIJA UNA OPCIÓN", new { @class = "form-control pf ListaHijos", @style = "width: calc(100% - 30px);float:left" })
                        }
                    </label>
                    <div class="precioProducto" style="margin-bottom: 0px !important; margin-top: 0px !important;">
                        @*<p class="" style="color:#4A4A4A">Medida:<label style="font-weight:bold">@producto.medida</label></p>*@
                        @if (producto.precio_dolar == 0)
                        {
                            Decimal precio = precio_unitario_producto + cantidad_iva_unitario;
                            <label style="float: none; margin-bottom: 0px !important; font-size: 38px; color: @configuracion_tienda_online.color_primario;">
                                $<label itemprop="price" content="@precio.ToString("0.00")" precio_dolar="@producto.precio_dolar" class="precio" style="float:none;">@precio.ToString("0.00")</label>
                                <label itemprop="priceCurrency" content="MXN" style="float: none; margin-bottom: 0px !important;">MXN</label>
                            </label>
                        }
                        else
                        {
                            Decimal precio = precio_unitario_producto + cantidad_iva_unitario;
                            <label style="float: none; margin-bottom: 0px !important; font-size: 38px; color: @configuracion_tienda_online.color_primario;">
                                $<label itemprop="price" content="@precio.ToString("0.00")" precio_dolar="@producto.precio_dolar" class="precio" style="float:none; margin:0 15px auto !important;">@precio.ToString("0.00")</label>
                                <label itemprop="priceCurrency" content="USD" style="float: none; margin-bottom: 0px !important;">USD</label>
                            </label>

                        }
                    </div>
                    <div id="div_cantidad" class="col-sm-12 col-xs-12 col-lg-12 col-md-12" style="margin-top: 30px; padding-left: 0;">
                        <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                            <label style="float: left; height: 34px; padding: 0 15px 0 0; float: left; font-weight: normal; color: #4A4A4A; font-size: 16px;">
                                Cantidad
                            </label>

                        </div>
                        <div class="col-sm-12 col-xs-12 col-lg-6 col-md-6 cart_quantity_button" style="display: inline-block;">
                            <i class="bajar_cantidad fa fa-minus" aria-hidden="true"></i>
                            <input id="cantidad" class="cart_quantity_input form-control cantidad" type="text" value="1" autocomplete="off" style="width: 55px; border-radius: 0px;">
                            <i class=" subir_cantidad fa fa-plus" aria-hidden="true"></i>
                        </div>


                    </div>

                    <div id="div_agregar_cotizacion" class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                        <label id="alert_OK_agregar_Cotizacion" class="alerta_formulario borde_verde centrado w100">Se agregaron 4 unidades de-l producto con código CX5020204183</label>
                        <label id="alert_OK_agregar_Cotizacion_cantidad" class="alerta_formulario borde_rojo centrado w100">Se agregaron 4 unidades de-l producto con código CX5020204183</label>
                        <label id="alert_error_agregar_Cotizacion" class="alerta_formulario borde_rojo centrado w100">Error al agregar producto a cotización</label>
                        <label id="agregar" class="btn_ok agregarProducto" id_producto="@producto.id" id_subfamilia="@producto.SubFamilia_id" id_proveedor="@producto.Proveedor_id">
                            <i class="fa fa-plus fa-lg" aria-hidden="true" style="margin-right: 5px"></i>Agregar a la cotización
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="descripcion_L">
        <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12" style="margin-top: 50px;">
            <div class=" col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 ">
                <div for="div_datos_tecnicos" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pestana_descripcion pestana_activa">
                    <label>Datos técnicos</label>
                </div>
                <div for="div_como_comprar" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pestana_descripcion">
                    <label>Cómo comprar</label>
                </div>
                <div for="div_politica_envio" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pestana_descripcion">
                    <label>Política de envíos</label>
                </div>
            </div>
        </div>

        <div id="div_contenido_pestana" class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
        </div>
    </div>


    @* hidding div contenido dispositios pequeños *@
    <div id="descripcion_S" class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
        <div class="col-sm-12  col-xs-12">
            <div class="titulo" style="padding: 10px 60px; font-size: 14px; width: 100%; margin: 20px 0; text-align: center;">
                <label>Datos Técnicos</label>
            </div>
        </div>
        <div id="div_datos_tecnicos">
            @*<label>Datos técnicos</label>*@
            <ul style="list-style-type: none; margin-left: -40px;">
                @if (ListaDetalles != null)
                {
                    foreach (String detalle in ListaDetalles)
                    {
                        String[] a = detalle.Split(':');
                        if (a.Length > 1)
                        {
                            <li style="">
                                <label style="font-weight: bold">@(a[0]):<label style="font-weight: normal; margin-left: 2px; margin-bottom: 2px;"> @(a[1])</label></label>
                            </li>
                        }
                        else
                        {
                            <li style="">
                                <label style="font-weight: normal">@detalle</label>
                            </li>
                        }
                    }
                }
            </ul>
            @foreach (Tienda_Online.Models.pdf pdf in ListaCatalogos)
            {
                <label class="boton_descargar botonBordeRojo" onclick="@("descargarDocumentoTecnico(" + pdf.id + ")")" idpdf="@pdf.id" style="width: 220px;">
                    <img src="@Url.Content("~/images/pdf-file.svg")" style="width: 35px;" />
                    <label>@pdf.nombre.Replace(pdf.id.ToString() + "-", "")</label>
                </label>
            }
        </div>

        <div class="col-sm-12  col-xs-12">
            <div class="titulo" style="padding: 10px 60px; font-size: 14px; width: 100%; margin: 20px 0; text-align: center;">
                <label>Cómo comprar</label>
            </div>
        </div>
        <div id="div_como_comprar">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 " style="text-align: left; font-weight: normal">
                <p style="color: #848484;">
                    La buena noticia es que es muy fácil hacer un pedido a través de nuestra página web, o si lo prefieres puedes llamarnos al <strong style="color: @configuracion_tienda_online.color_primario;">@configuracion_tienda_online.telefono_principal</strong>, chatear en vivo, o seguir los siguientes pasos.
                </p>
                <ol class="simple-list" style="color: #848484;">
                    <li>El primer paso es registrarte, es rápido y fácil.</li>
                    <li>Una vez hecho el registro ingresa a tu cuenta. </li>
                    <li>Navega por nuestro catálogo y encuentra los productos  que necesitas.</li>
                    <li>Ingresa la cantidad de piezas que necesitas en el box de “cantidad” y da click en el botón “agregar a cotización”.</li>
                    <li>Si necesitas imprimir la cotización da click en el botón “imprimir cotización”.</li>
                    <li>Si necesitas enviar la cotización haz click en “Enviar Cotización”.</li>
                    <li>Si estás listo para hacer el pedido revisa las partidas, códigos y cantidades de tu cotización. Si necesitas ajustar cantidades puedes hacerlo.</li>
                    <li>Cuando el pedido esté como tú lo quieres haz click en el botón “confirmar pedido” </li>
                    <li>Si necesitas agregar orden de compra es aquí cuando puedes hacerlo.</li>
                    <li>
                        En el recuadro de pedido podrás notar que tenemos diferentes opciones de pago que incluyen:
                        <ol>
                            <li>Depósito bancario en ventanilla en cualquiera de los bancos con los que tenemos cuenta.</li>
                            <li>Transferencia electrónica.</li>
                            <li>Pronto tendremos pago en Línea</li>
                        </ol>
                    </li>
                    <li>Elige una opción de envío y listo.</li>
                    <li>Recibirás un correo de nuestra parte confirmando de recibido tu pedido.</li>
                </ol>

                <a href="@(Url.Action("Compras", "Home") + "#politica_envio")">...ver más</a>
            </div>
        </div>
        <div class="col-sm-12  col-xs-12">
            <div class="titulo" style="padding: 10px 60px; font-size: 14px; width: 100%; margin: 20px 0; text-align: center;">
                <label>Política de envíos</label>
            </div>
        </div>
        <div id="div_politica_envio">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 " style="text-align: left; font-weight: normal">
                <p style="color: #848484;">
                    Costos de envío estándar: $185.00 pesos  de 0-5 kg a las principales ciudades del país en 48 horas después de confirmado el pago, servicio a cargo de FEDEX ó Paquete Express- Articulos con un peso mayor a 5 kilos cambia el precio dependiendo de la dirección de envió, tamaño y peso.
                </p>
                <p style="color: #848484;">¿Qué empresa de mensajería utilizan? FEDEX y PAQUETE EXPRESS, si usted tiene un convenio con alguna paquetería con gusto podemos hacer el embarque a través de ellos, solo te pedimos nos ayudes a coordinar la recolección en nuestro almacén</p>
                <p style="color: #848484;">
                    ¿Cuándo recibiré mi pedido?
                    Los productos que están en stock se envían en un plazo 48 a 72 horas a partir de confirmado el pago.
                    Por seguridad evitamos hacer envíos parciales de mercancía.
                    Este plazo sólo es vigente en las principales ciudades de la República Mexicana.
                    Si la mercancía está disponible y necesitas un envió urgente podemos ayudarte, solo te pedimos considerar un incremento en el costo en envío, comunícate con nosotros con gusto podemos encontrar una solución.
                </p>
                <p style="color: #848484;">
                    IMPORTANTE:
                    Todos los envíos salen de nuestras bodegas en Guadalajara y Puerto Vallarta de lunes a viernes antes de las 16:00 horas
                    Después de que usted realiza su compra, le enviaremos una confirmación de su pedido. Cuando tengamos el pago en firme se le enviará un número o guía para que usted pueda rastrear su envío en la página de la paquetería.
                </p>
                <a href="@(Url.Action("Compras", "Home") + "#politica_envio")">...ver más</a>
            </div>
        </div>
    </div>




    <div class="recommended_items" style="display: none">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div style="width: 100%; margin: 0 auto;">
                <h2 class="text-center" style="margin: 30px; padding-bottom: 40px; padding-top: 40px; font-size: 35px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2">Artículos relacionados</h2>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div id="owl-example" class="owl-carousel">
                @foreach (Tienda_Online.Models.itemproductocarrito2 prod in ListaProductosRelacionados)
                {
                    <div>
                        <div class="" name="@prod.Id">
                            <div class="detalleProducto " style="margin: 0 auto;">
                                <div class="canvas_img">
                                    @{
                                        if (configuracion_tienda_online.mostrar_inventario == true)
                                        {
                                            if (prod.Inventario > 0)
                                            {
                                                <div class="div_stock">
                                                    <span class="en_stock">Disponible</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="div_no_stock">
                                                    <span class="sin_stock">Agotado</span>
                                                </div>
                                            }
                                        }
                                    }
                                    <div>
                                        @if (prod.imagen != null)
                                        {
                                            if (prod.imagen != "")
                                            {

                                                if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + prod.imagen))))
                                                {
                                                    <div class="cover_img_200px" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/" + prod.imagen) + "');margin:0;width:auto;background-color: transparent;")"></div>
                                                }
                                                //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                                else
                                                {
                                                    <div class="cover_img_200px" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="cover_img_200px" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>

                                            }
                                        }
                                        //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                        else
                                        {
                                            <div class="cover_img_200px" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="caption" name="@prod.Id" style="text-align:center ;">
                            <label style="text-align: center; font-weight: bold; color: @configuracion_tienda_online.color_primario;" class="panel-title">
                                <strong name="@prod.Id">
                                    @if (prod.Precio_Dolar == 0)
                                    {
                                        var precioConIva = prod.Precio_Unitario + prod.cantidad_iva_unitario;
                                        <label class="detalleProducto" style="cursor: pointer; font-weight: bold">$<span precio_dolar="@prod.Precio_Dolar" class="precio" style="font-weight:bold">@precioConIva.ToString("0.00")</span><span style="font-weight: bold"> MXN</span></label>
                                    }
                                    else
                                    {
                                        var precioConIva = prod.Precio_Unitario + prod.cantidad_iva_unitario;
                                        <label class="detalleProducto" style="cursor: pointer; font-weight: bold">$<span precio_dolar="@prod.Precio_Dolar" class="precio" style="font-weight:bold">@precioConIva.ToString("0.00")</span><span style="font-weight: bold"> USD</span></label>
                                    }
                                </strong>
                            </label>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container" style="padding: 0px" name="@prod.Id">
                                <label class="codigo detalleProducto" style="font-weight: bold; cursor: pointer; font-size: 24px; text-align: center; color: #848484;">@prod.Codigo</label>
                                <p class="descripcion detalleProducto" style="height: 60px; cursor: pointer; overflow-y: hidden; font-size: 18px; text-align: center; color: #848484;">@prod.Descripcion</p>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 " style="padding: 0px;">
                                <div class="alerta_ok  centrado w100 btn_ok_borde"><i class="fa fa-check-circle-o fa-2x" aria-hidden="true" style="margin-right: 5px"></i>Agregado</div>
                                <div class="alerta_error centrado w100 btn_cancel_borde"><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="margin-right: 5px"></i>Error al agregar</div>
                                <a id_producto="@prod.Id" id_subfamilia="@prod.SubFamilia_id" id_proveedor="@prod.Proveedor_id" class="btn btn-default add-to-cart agregarProducto_busqueda hide-sm-sx" style="background-color: @configuracion_tienda_online.color_primario; color: white; font-weight: 500; border-radius: 5px; letter-spacing: 1px;width: 100%;padding: 15px;"><i class="fa fa-plus fa-lg" aria-hidden="true" style="margin-right: 5px"></i>Agregar a cotización</a>
                                <div id_producto="@prod.Id" class="btn_ok  agregarProducto_busqueda show-sm-sx" style="display:none"><i class="fa fa-plus fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>Agregar</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <a id="p_relacionado_prev" class="left carousel-control" data-slide="prev" style="cursor: pointer; display: none">
                <span class="glyphicon glyphicon-chevron-left glyphicon_carousel"></span>
            </a>
            <a id="p_relacionado_next" class="right carousel-control" data-slide="next" style="cursor: pointer; display: none">
                <span class="glyphicon glyphicon-chevron-right glyphicon_carousel"></span>
            </a>
        </div>
    </div>
</div>


<script>
    var mostrar_inventario = false;
    var bandera_cantidad = false;
    $("#OPCIONES").change(function () {
        $("#agregar").attr("id_producto", $("#OPCIONES option:selected").val());
    });
    $(document).ready(function () {


        function resetCarousel() {
            if ($(".owl-item").length > 0) {
                $(".recommended_items").show();
            }
            else {
                $(".recommended_items").hide();
            }

            if ($(".owl-controls").css("display") != "none") {
                $("#p_relacionado_prev").show();
                $("#p_relacionado_next").show();
            }
            else {
                $("#p_relacionado_prev").hide();
                $("#p_relacionado_next").hide();
            }
        }
        $("#p_relacionado_prev").click(function () {
            owl.prev();
            resetCarousel();
        });

        $("#p_relacionado_next").click(function () {
            owl.next();
            resetCarousel();
        });

        var owl = $("#owl-example").owlCarousel({
            // Most important owl features
            items: 5,
            itemsCustom: false,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [980, 3],
            itemsTablet: [768, 2],
            itemsTabletSmall: false,
            itemsMobile: [479, 1],
            singleItem: false,
            itemsScaleUp: false,

            //Basic Speeds
            slideSpeed: 1000,
            paginationSpeed: 1000,
            rewindSpeed: 1000,

            //Autoplay
            autoPlay: true,
            stopOnHover: false,

            // Navigation
            navigation: false,
            navigationText: ["prev", "next"],
            rewindNav: true,
            scrollPerPage: true,

            //Pagination
            pagination: true,
            paginationNumbers: false,

            // Responsive
            responsive: true,
            responsiveRefreshRate: 200,
            responsiveBaseWidth: window,

            // CSS Styles
            baseClass: "owl-carousel",
            theme: "owl-theme",

            //Lazy load
            lazyLoad: false,
            lazyFollow: true,
            lazyEffect: "fade",

            //Auto height
            autoHeight: false,

            //JSON
            jsonPath: false,
            jsonSuccess: false,

            //Mouse Events
            dragBeforeAnimFinish: true,
            mouseDrag: true,
            touchDrag: true,

            //Transitions
            transitionStyle: false,

            // Other
            addClassActive: false,

            //Callbacks
            beforeUpdate: false,
            afterUpdate: false,
            beforeInit: false,
            afterInit: false,
            beforeMove: false,
            afterMove: false,
            afterAction: false,
            startDragging: false,
            afterLazyLoad: false
        }).data('owlCarousel');

        resetCarousel();
        //if ($('#mostrar_inventario').val() == "True") {
        //    mostrar_inventario = true;
        //} else {
        //    mostrar_inventario = false;
        //}
        //if ($('#bandera_cantidad').val() == "True") {
        //    bandera_cantidad = true;
        //} else {
        //    bandera_cantidad = false;
        //}
    });


</script>
<script>
    @*$(document).on('click', '.boton_descargar', function () {
        idpdf = $(this).attr("idpdf");
        //existe el documento??
        url = '@Url.Action("ExisteDocumentoTecnico", "Home")';
        $.ajax({
            type: "POST",
            url: url,
            data: { id: idpdf },
            success: function (result) {
                if (result.success) {
                    url = '@Url.Action("DocumentoTecnico", "Home")';
                    url += "?pdfFileName=" + result.pdfFileName + "&path=" + result.path;
                    window.location = url;
                }
                else {
                    alert(result.error);
                }
            }
        });
    });*@
    function descargarDocumentoTecnico(idpdf) {
        triggerGA_descargarDocumentoTecnico();
        //existe el documento??
        url = '@Url.Action("ExisteDocumentoTecnico", "Home")';
        $.ajax({
            type: "POST",
            url: url,
            data: { id: idpdf },
            success: function (result) {
                if (result.success) {
                    url = '@Url.Action("DocumentoTecnico", "Home")';
                    url += "?pdfFileName=" + result.pdfFileName + "&path=" + result.path;
                    window.location = url;
                }
                else {
                    alert(result.error);
                }
            }
        });
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.productoRelacionado:first').addClass('active');
        cargarDivPestanaActiva();
    });




    $(".imagen_detalle").click(function () {
        src_click = $(this).css("background-image");
        $('[idimagen="0"]').css("background-image", src_click);
        $(".imagen_seleccionada").removeClass("imagen_seleccionada");
        $(this).addClass("imagen_seleccionada");
    });

    $(".pestana_descripcion").click(function () {
        $(".pestana_activa").removeClass("pestana_activa");
        $(this).addClass("pestana_activa");
        cargarDivPestanaActiva();
    });

    function cargarDivPestanaActiva() {
        divName = $(".pestana_activa").attr("for");
        html = $("#" + divName).html();
        $("#div_contenido_pestana").html(html);
    }

    //$('[idimagen="0"]').click(function () {
    //    height = screen.height
    //    height70porc = height * .7;
    //    //width = screen.width * .6;
    //    src_click = $(this).css("background-image");
    //    //$("#bootbox_zoom .canvas_img").css("width", width + "px");
    //    $("#bootbox_zoom .cover_img").css("height", height70porc + "px");
    //    $("#bootbox_zoom .cover_img").css("background-image", src_click);
    //    bootbox.alert($("#bootbox_zoom").html());
    //});

    $(document).on('click', '.subir_cantidad', function () {
        if (mostrar_inventario) {
            var cantidad_a_cotizar_actual = parseFloat($('#cantidad').val());
            var codigo_producto = $('#codigo_producto').html().trim();
            var cantidad_en_inventario;
            if (bandera_cantidad) {
                cantidad_en_inventario = $('#cantidad_en_existencia').html().trim();
                if (cantidad_en_inventario >= (cantidad_a_cotizar_actual + 1)) {
                    $(this).parent().find('#cantidad').val(parseInt($(this).parent().find('#cantidad').val()) + 1);
                }
            }
            else {
                $(this).parent().find('#cantidad').val(parseInt($(this).parent().find('#cantidad').val()) + 1);
            }
        }
        else {
            $(this).parent().find('#cantidad').val(parseInt($(this).parent().find('#cantidad').val()) + 1);
        }
    });
    $(document).on('click', '.bajar_cantidad', function () {
        if ((parseInt($(this).parent().parent().find('#cantidad').val()) - 1) > 0) {
            $(this).parent().find('#cantidad').val(parseInt($(this).parent().find('#cantidad').val()) - 1);
        }
    });

    $(document).on('keypress', '#cantidad', function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
        else {
            return true;
        }
    });
    $(document).on('blur', '.cantidad', function (e) {
        if ($(this).val() == "" || $(this).val() == null || isNaN(parseInt($(this).val())) || parseInt($(this).val()) == 0) {
            $(this).val(parseInt(0));
        } else {
            if (mostrar_inventario) {
                var cantidad_a_cotizar_actual = parseFloat($('#cantidad').val());
                var codigo_producto = $('#codigo_producto').html().trim();
                var cantidad_en_inventario = parseFloat(traer_cantidad_inventario(codigo_producto)).toFixed(2);
                if (cantidad_en_inventario >= (cantidad_a_cotizar_actual + 1)) {
                    $(this).val(parseInt($(this).val()));
                }
                else {
                    $(this).val(parseInt(cantidad_en_inventario));
                }
                if (bandera_cantidad) {
                    $('#cantidad_en_existencia').html(cantidad_en_inventario);
                }
            }
            else {
                $(this).val(parseInt($(this).val()));
            }

        }
    });

    $(document).on('click', '.BotonMostrarAdjunto', function () {
        var nodo = $(this).attr("name");
        var url = '@Url.Action("VistaParcialMostrarAdjunto")';
        $.post(url, { id: nodo },
            function (x) {
                bootbox.dialog({
                    title: "Adjuntos",
                    message: x,
                    className: "ModalAdjuntos"
                });
            });
    });

    $(document).on('click', '#BotonCerrarModal', function () {
        $(".ModalAdjuntos").modal("hide");
    });
    function traer_cantidad_inventario(codigo_producto) {
        var cantidad = 0;
        var url = '@Url.Action("traer_cantidad_inventario")';
        $.ajax({
            url: url,
            type: "POST",
            data: { codigo_producto: codigo_producto },
            datetype: 'json',
            success: function (result) {
                if (result.success) {
                    cantidad = result.cantidad_en_inventario;
                }
                else {
                    cantidad = -1;
                }
            },
            async: false
        });
        return cantidad;
    }
</script>

<script>
    jQuery(document).ready(function ($) {
        $('#etalage').etalage({
            thumb_image_width: 400,
            thumb_image_height: 422,
            show_hint: true,
            click_callback: function (image_anchor, instance_id) {
                alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
            }
        });
        $('.dropdownlist').change(function () {
            etalage_show($(this).find('option:selected').attr('class'));
        });
    });
</script>