﻿@model Tienda_Online.Models.pdf
<input id="idTicket" disabled="disabled" value="@ViewBag.id_producto" style="display: none;" />
<input id="idArchivo" disabled="disabled" value="@Model.id" style="display: none;" />
<input id="nombreArchivo" disabled="disabled" value="@Model.nombre" style="display: none;" />
<input id="extensionArchivo" disabled="disabled" value="@Model.extension" style="display: none;" />
@*<input id="widthImagen" disabled="disabled" value="@Model.width.Value" style="display: none;" />
<input id="heightImagen" disabled="disabled" value="@Model.height.Value" style="display: none;" />*@
@if (Model.extension.ToLower().Equals("pdf"))
{
    <img id="imagen" src="#" style="width: 0px; height: 0px; display:none; box-shadow: 0px 0px 20px -2px;" />
    <object id="verPDF" data="" type="application/pdf" style="width: 0px; height: 0px; box-shadow: 0px 0px 20px -2px;"></object>
}
else
{
    <img id="imagen" src="#" style="width: 0px; height: 0px; box-shadow: 0px 0px 20px -2px;" />
    <object id="verPDF" data="" type="application/pdf" style="width: 0px; height: 0px; display:none; box-shadow: 0px 0px 20px -2px;"></object>
}
<img id="SiguienteAdjunto" name="@Model.id" src="@Url.Content("~/images/next.png")" style="cursor: pointer; position: absolute; box-shadow: 0px 0px 20px -2px; background-color: rgba(0,0,0,0.5); padding: 5px;" />
<img id="AnteriorAdjunto" name="@Model.id" src="@Url.Content("~/images/previous.png")" style="cursor: pointer; position: absolute; box-shadow: 0px 0px 20px -2px; background-color: rgba(0,0,0,0.5); padding: 5px;" />
<script type="text/javascript">
    var splitNombre;
    var nombre;
    var foto;
    var windowWidth;
    var windowHeight;
    var imagen;
    var imgWidth;
    var imgHeight;
    var siguienteId;
    var SiguienteAdjunto;
    var anteriorId;
    var anteriorAsunto;
    var idTicket;
    var extension;
    var idArchivo;
    $('#SiguienteAdjunto').click(function () {
        $('#imagen').hide();
        var url = '@Url.Action("SiguienteAdjunto")';
        $.ajax({
            type: "POST",
            url: url,
            data: { id: siguienteId, IdProducto: idTicket },
            async: false
        }).done(function (x) {
            var datos = x.split('|');
            splitNombre = datos[0].split('.');
            siguienteId = datos[1];
            //SiguienteAdjunto = datos[4]
            anteriorId = datos[1];
            //AnteriorAdjunto = datos[4]
            //imgWidth = datos[1];
            //imgHeight = datos[2];
            foto = "~/UploadFolder/descripcion_detalle_producto/" + datos[0];
            nombre = datos[0];
            idArchivo = datos[1];
            extension = datos[2];
        });
        ajustarAdjunto();
    });
    $('#AnteriorAdjunto').click(function () {
        $('#imagen').hide();
        var url = '@Url.Action("AnteriorAdjunto")';
        $.ajax({
            type: "POST",
            url: url,
            data: { id: anteriorId, IdProducto: idTicket },
            async: false
        }).done(function (x) {
            var datos = x.split('|');
            splitNombre = datos[0].split('.');
            siguienteId = datos[1];
            //SiguienteAdjunto = datos[4]
            anteriorId = datos[1];
            //AnteriorAdjunto = datos[4]
            //imgWidth = datos[1];
            //imgHeight = datos[2];
            foto = "~/UploadFolder/descripcion_detalle_producto/" + datos[0];
            nombre = datos[0];
            idArchivo = datos[1];
            extension = datos[2];
        });
        ajustarAdjunto();
    });
    $('.ModalAdjuntos').keyup(function (event) {
        if (event.keyCode == 27) {
            $(".ModalAdjuntos").modal("hide");
        } else if (event.keyCode == 39) {
            $('#SiguienteAdjunto').trigger('click');
        } else if (event.keyCode == 37) {
            $('#AnteriorAdjunto').trigger('click');
        }
    });
    $(document).ready(function () {
        idArchivo = $('#idArchivo').val();
        extension = $('#extensionArchivo').val();
        nombre = $("#nombreArchivo").val();
        idTicket = $('#idTicket').val();
        splitNombre = nombre.split('.');
        foto = "~/UploadFolder/descripcion_detalle_producto/" + nombre;
        siguienteId = parseInt($('#SiguienteAdjunto').attr('name'));
        anteriorId = parseInt($('#AnteriorAdjunto').attr('name'));
        windowWidth = $(window).width();
        windowHeight = $(window).height();
        if (extension == "pdf" || extension == "PDF") {
            $('#verPDF').attr('data', '@Url.Action("ObtenerPDF", new { id = "_id_" })'.replace('_id_', idArchivo));
            $('#verPDF').css("width", (windowWidth - 99) + "px");
            $('#verPDF').css("height", (windowHeight - 100) + "px");
            $('.ModalAdjuntos .bootbox-body').css("height", "0px");
            $('.ModalAdjuntos .modal-dialog').css("width", (windowWidth - 97) + 'px');
            $('#SiguienteAdjunto').css('top', ((windowHeight - 220) / 2) + 'px');
            $('#SiguienteAdjunto').css('left', ((windowWidth - 100) - 42) + 'px');
            $('#AnteriorAdjunto').css('top', ((windowHeight - 220) / 2) + 'px');
            $('#AnteriorAdjunto').css('left', '0px');
        } else {
            imagen = document.getElementById('imagen');
            $("#imagen").attr("src", foto);
            imgWidth = parseInt($('#widthImagen').val());
            imgHeight = parseInt($('#heightImagen').val());
            if ((imgWidth > (windowWidth - 120)) || (imgHeight > (windowHeight - 120))) {
                while ((imgWidth > (windowWidth - 120)) || (imgHeight > (windowHeight - 120))) {
                    imgWidth = imgWidth - (imgWidth * .01);
                    imgHeight = imgHeight - (imgHeight * .01);
                }
                $('#imagen').css("width", imgWidth + "px");
                $('#imagen').css("height", imgHeight + "px");
            } else {
                $('#imagen').css("width", imgWidth + "px");
                $('#imagen').css("height", imgHeight + "px");
            }
            $('.ModalAdjuntos .bootbox-body').css("height", "0px");
            $('.ModalAdjuntos .modal-body').css("padding", "0px");
            $('.ModalAdjuntos .modal-dialog').css("width", (parseInt(imgWidth) + 2) + 'px');
            $('#SiguienteAdjunto').css('top', ((imgHeight / 2)) + 'px');
            $('#SiguienteAdjunto').css('left', (imgWidth - 42) + 'px');
            $('#AnteriorAdjunto').css('top', ((imgHeight / 2)) + 'px');
            $('#AnteriorAdjunto').css('left', '0px');
        }
    });
    $(window).resize(function () {
        ajustarAdjunto();
    });
    function ajustarAdjunto() {
        windowWidth = $(window).width();
        windowHeight = $(window).height();
        if (extension == "pdf" || extension == "PDF") {
            $("#imagen").css('width', '0px');
            $("#imagen").css('height', '0px');
            $("#imagen").hide();
            $("#verPDF").show();
            $('#verPDF').attr('data', '@Url.Action("ObtenerPDF", new { id = "_id_" })'.replace('_id_', idArchivo));
            $('#verPDF').css("width", (windowWidth - 99) + "px");
            $('#verPDF').css("height", (windowHeight - 100) + "px");
            $('.ModalAdjuntos .bootbox-body').css("height", "0px");
            $('.ModalAdjuntos .modal-dialog').css("width", (windowWidth - 97) + 'px');
            $('#SiguienteAdjunto').css('top', ((windowHeight - 220) / 2) + 'px');
            $('#SiguienteAdjunto').css('left', ((windowWidth - 100) - 42) + 'px');
            $('#AnteriorAdjunto').css('top', ((windowHeight - 220) / 2) + 'px');
            $('#AnteriorAdjunto').css('left', '0px');
        } else {
            $("#verPDF").css('width', '0px');
            $("#verPDF").css('height', '0px');
            $("#verPDF").hide();
            $("#imagen").show();
            imagen = document.getElementById('imagen');
            $("#imagen").attr("src", foto);
            if ((imgWidth > (windowWidth - 120)) || (imgHeight > (windowHeight - 120))) {
                while ((imgWidth > (windowWidth - 120)) || (imgHeight > (windowHeight - 120))) {
                    imgWidth = imgWidth - (imgWidth * .01);
                    imgHeight = imgHeight - (imgHeight * .01);
                }
                $('#imagen').css("width", imgWidth + "px");
                $('#imagen').css("height", imgHeight + "px");
            } else {
                $('#imagen').css("width", imgWidth + "px");
                $('#imagen').css("height", imgHeight + "px");
            }
            $('.ModalAdjuntos .bootbox-body').css("height", "0px");
            $('.ModalAdjuntos .modal-body').css("padding", "0px");
            $('.ModalAdjuntos .modal-dialog').css("width", (parseInt(imgWidth) + 2) + 'px');
            $('#SiguienteAdjunto').css('top', ((imgHeight / 2)) + 'px');
            $('#SiguienteAdjunto').css('left', (imgWidth - 42) + 'px');
            $('#AnteriorAdjunto').css('top', ((imgHeight / 2)) + 'px');
            $('#AnteriorAdjunto').css('left', '0px');
            $("#imagen").show();
        }
    }
</script>