﻿@{
    List<Tienda_Online.Models.itemproductocarrito2> ListaProductos = ViewBag.ListaProductos as List<Tienda_Online.Models.itemproductocarrito2>;
    int totalProductos = ViewBag.totalProductos;
    int desde = ViewBag.desde;
    int hasta = ViewBag.hasta;
    int pagina = ViewBag.pagina;
    int numeroProductos = ViewBag.numeroProductos;
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
}

@if (totalProductos == 0)
{
    <div class="col-sm-12" style="text-align: center; margin-top: 50px; margin-bottom: 50px; font-size: 30px; color: #4A4A4A;">
        No se encontraron productos
    </div>
}
else
{
    foreach (Tienda_Online.Models.itemproductocarrito2 producto in ListaProductos)
    {

        string banderaImgPath = producto.Precio_Dolar == 0 ? "" : Url.Content("~/images/moneda_dolares.png");
        string moneda = producto.Precio_Dolar == 0 ? "MXN" : "USD";

        <div class="producto_destacado col-lg-3 col-md-3 col-sm-6 col-xs-6" style="padding: 0px;" id_producto="@producto.Id">
            <div class="imgProd" name="@producto.Id">
                <div class="detalleProducto detalleProductoImagen" style="margin: 0 auto;">
                    <div class="canvas_img">
                        @{
                            if (configuracion_tienda_online.mostrar_inventario == true)
                            {
                                if (producto.Inventario > 0)
                                {
                                    <div class="div_stock">
                                        <span class="en_stock">Disponible</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="div_no_stock">
                                        <span class="sin_stock">Agotado</span>
                                    </div>
                                }
                            }
                        }
                        <div>
                            @if (!producto.imagen.Equals(""))
                            {
                                if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + producto.imagen))))
                                {
                                    <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/" + producto.imagen) + "');margin:0;width:auto;background-color: transparent;")"></div>
                                }
                                //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                else
                                {
                                    <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                }
                            }
                            //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                            else
                            {
                                <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="caption" name="@producto.Id">
                <label style="text-align: center; font-weight: bold; color: @configuracion_tienda_online.color_primario;" class="panel-title">
                    <strong name="@producto.Id">
                        @{var precioConIva = producto.Precio_Unitario + producto.cantidad_iva_unitario;}
                        <label class="detalleProducto" style="cursor: pointer; font-weight: bold">
                            $
                            <span precio_dolar="@producto.Precio_Dolar" class="precio" style="font-weight:bold">@precioConIva.ToString("0.00")</span>
                            @if (banderaImgPath != "")
                            {
                                <span style="font-weight: bold">
                                    @moneda<img class="bandera_unitario" src='@banderaImgPath' style='width: 20px; vertical-align: baseline;margin-left: 5px;' />
                                </span>
                            }
                        </label>
                        @* @if (producto.Precio_Dolar == 0)
                            {
                                <label class="detalleProducto" style="cursor: pointer; font-weight: bold">$<span precio_dolar="@producto.Precio_Dolar" class="precio" style="font-weight:bold">@precioConIva.ToString("0.00")</span><span style="font-weight: bold"> MXN</span></label>
                            }
                            else
                            {
                                <label class="detalleProducto" style="cursor: pointer; font-weight: bold">$<span precio_dolar="@producto.Precio_Dolar" class="precio" style="font-weight:bold">@precioConIva.ToString("0.00")</span><span style="font-weight: bold"> USD</span></label>
                            }*@
                    </strong>
                </label>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12a container" style="padding: 0px" name="@producto.Id">
                    <p class="codigo detalleProducto" style="font-weight: bold; cursor: pointer; font-size: 24px; text-align: center; color: #848484;">@producto.Codigo</p>
                    <p class="descripcion detalleProducto" style="height: 60px; cursor: pointer; overflow-y: hidden; font-size: 18px; text-align: center; color: #848484;">@producto.Descripcion</p>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 " style="padding: 0px;">
                    <div class="alerta_ok  centrado w100 btn_ok_borde"><i class="fa fa-check-circle-o fa-2x" aria-hidden="true" style="margin-right: 5px"></i>Agregado</div>
                    <div class="alerta_error centrado w100 btn_cancel_borde"><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="margin-right: 5px"></i>Error</div>
                    <div id_producto="@producto.Id" class="btn_ok  agregarProducto_busqueda hide-sm-sx"><i class="fa fa-plus fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>Agregar a cotización</div>
                    <div id_producto="@producto.Id" class="btn_ok  agregarProducto_busqueda show-sm-sx" style="display:none"><i class="fa fa-plus fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>Agregar</div>
                </div>
            </div>
        </div>
                                }
                            }
<div id="div_resumen_display" style="display: inline-flex; width: 100%; height: 30px; margin-top: 50px;">
    <label style="float: left; width: 45%; margin-left: 15px; display: inline; font-size: 14px; color: #4A4A4A; font-weight: 700;">
        Mostrando los productos @desde al @hasta de @totalProductos productos
    </label>
    <div style="text-align: right; width: 51.7%;">
        @{
            int totalPaginas;
            if (Convert.ToString((Convert.ToDecimal(totalProductos) / numeroProductos)).Split('.').Length > 1)
            {
                totalPaginas = (Convert.ToInt32(totalProductos) / numeroProductos) + 1;
            }
            else
            {
                totalPaginas = (Convert.ToInt32(totalProductos) / numeroProductos);
            }
            if (totalPaginas <= 3)
            {
                <a href="#container_productos" class="boton_paginacion" name="1">Primera</a>
                <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">Anterior</a>
                for (int i = 0; i < totalPaginas; i++)
                {
                    <a href="#container_productos" class="boton_paginacion" name="@(i + 1)">@(i + 1)</a>
                }
                <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">Siguiente</a>
                <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">Ultima</a>
            }
            else if (pagina == totalPaginas)
            {
                <a href="#container_productos" class="boton_paginacion" name="1">Primera</a>
                <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">Anterior</a>
                <a href="#container_productos" class="boton_paginacion" name="1">1</a>
                <span>...</span>
                <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">@(pagina - 1)</a>
                <a href="#container_productos" class="boton_paginacion boton_paginacion_active" name="@pagina">@pagina</a>
                <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">Siguiente</a>
                <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">Ultima</a>
            }
            else if (pagina == 1)
            {
                <a href="#container_productos" class="boton_paginacion" name="1">Primera</a>
                <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">Anterior</a>
                <a href="#container_productos" class="boton_paginacion boton_paginacion_active" name="1">1</a>
                <a href="#container_productos" class="boton_paginacion" name="2">2</a>
                <span>...</span>
                <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">@totalPaginas</a>
                <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">Siguiente</a>
                <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">Ultima</a>
            }
            else
            {
                <a href="#container_productos" class="boton_paginacion" name="1">Primera</a>
                <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">Anterior</a>
                <span>...</span>
                <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">@(pagina - 1)</a>
                <a href="#container_productos" class="boton_paginacion boton_paginacion_active" name="@(pagina)">@(pagina)</a>
                <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">@(pagina + 1)</a>
                <span>...</span>
                <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">Siguiente</a>
                <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">Ultima</a>
            }
        }
    </div>
</div>
