﻿@{
    List<Tienda_Online.Models.itemproductocarrito2> ListaProductos = ViewBag.ListaProductos as List<Tienda_Online.Models.itemproductocarrito2>;
    int totalProductos = ViewBag.totalProductos;
    int desde = ViewBag.desde;
    int hasta = ViewBag.hasta;
    int pagina = ViewBag.pagina;
    int numeroProductos = ViewBag.numeroProductos;
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
}

@if (totalProductos == 0)
{
    <div class="col-sm-12" style="text-align: center; margin-top: 50px; margin-bottom: 50px; font-size: 30px; color: #696763; font-family: 'Roboto', sans-serif;">
        No se encontraron productos
    </div>
}
else
{
    foreach (Tienda_Online.Models.itemproductocarrito2 producto in ListaProductos)
    {
        string banderaImgPath = producto.Precio_Dolar == 0 ? "" : Url.Content("~/images/moneda_dolares.png");
        string moneda = producto.Precio_Dolar == 0 ? "MXN" : "USD";
        <div class="span3" style="margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid lightgray;">
            <div class="item">
                <div class="imgProd" name="@producto.Id">
                    <div class="detalleProducto" style="width: 200px; height: 200px; margin: 0 auto;">
                        @*@if (!producto.imagen.Equals(""))
                            {
                                <img src="@Url.Content("~/UploadFolder/imagen_producto/" + producto.imagen)" alt="" style="cursor: pointer; max-width:100% !important; max-height:100% !important;" />
                            }
                            else
                            {
                                <img src="https://cdn0.iconfinder.com/data/icons/gray-business-toolbar/512/product-3-512.png" alt="" style="cursor: pointer; max-width: 100% !important; max-height: 100% !important;" />
                            }*@
                        <div class="canvas_img">
                            @{
                                if (configuracion_tienda_online.mostrar_inventario == true)
                                {
                                    if (producto.Inventario > 0)
                                    {
                                        <div class="div_stock">
                                            <span class="en_stock">Disponible</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="div_no_stock">
                                            <span class="sin_stock">Agotado</span>
                                        </div>
                                    }
                                }
                            }
                            <div>
                                @if (!producto.imagen.Equals(""))
                                {
                                    if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + producto.imagen))))
                                    {
                                        <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/" + producto.imagen) + "');margin:0;width:auto;background-color: transparent;")"></div>
                                    }
                                    //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                    else
                                    {
                                        <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                    }
                                }
                                //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                else
                                {
                                    <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="caption" name="@producto.Id">
                    <h4 style="font-size: 36px; text-align: center; font-weight: bold; color: @configuracion_tienda_online.color_primario;" class="panel-title;">
                        <strong name="@producto.Id">
                            @{var precioConIva = producto.Precio_Unitario + producto.cantidad_iva_unitario;}
                            <label class="detalleProducto" style="cursor: pointer; font-weight: bold">
                                $
                                <span precio_dolar="@producto.Precio_Dolar" class="precio" style="font-weight:bold">@precioConIva.ToString("0.00")</span>
                                @if (banderaImgPath != "")
                                {
                                    <span style="font-weight: bold">
                                        @moneda<img class="bandera_unitario" src='@banderaImgPath' style='width: 20px; vertical-align: baseline;margin-left: 5px;' />
                                </span>
                                }
                            </label>
                        </strong>
                    </h4>
                    <p class="codigo detalleProducto" style="font-weight: bold; cursor: pointer; font-size: 24px; text-align: center; color: #848484;">@producto.Codigo</p>
                    <p class="descripcion detalleProducto" style="height: 60px; cursor: pointer; overflow-y: hidden; font-size: 18px; text-align: center; color: #848484;">@producto.Descripcion</p>
                    <div class="alerta_ok  centrado w100 btn_ok_borde"><i class="fa fa-check-circle-o fa-2x" aria-hidden="true" style="margin-right: 5px"></i>Agregado</div>
                    <div class="alerta_error centrado w100 btn_cancel_borde"><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="margin-right: 5px"></i>Error al agregar</div>
                    <a id_producto="@producto.Id" id_subfamilia="@producto.SubFamilia_id" id_proveedor="@producto.Proveedor_id" class="btn btn-default add-to-cart agregarProducto_busqueda hide-sm-sx" style="background-color: @configuracion_tienda_online.color_primario; color: white; font-weight: 500; border-radius: 5px; letter-spacing: 1px;width: 100%;padding: 15px;"><i class="fa fa-plus fa-lg" aria-hidden="true" style="margin-right: 5px"></i>Agregar a cotización</a>
                    <div id_producto="@producto.Id" class="btn_ok  agregarProducto_busqueda show-sm-sx" style="display:none;text-align:center"><i class="fa fa-plus fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>Agregar</div>
                </div>
            </div>
        </div>
                                    }
                                }

@if (desde != hasta)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <label style="float: left; margin-left: 15px; display: inline; color: #4A4A4A; border: medium none;">
                Mostrando los productos @desde al @hasta de @totalProductos productos
            </label>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="padding: 0; margin-top: 20px;">
            <div style="text-align: right;">
                @*//PAGINACIÓN VERSION ESCRITORIO*@
                <div class="div_escritorio">
                    @{
                        int totalPaginas;
                        if (Convert.ToString((Convert.ToDecimal(totalProductos) / numeroProductos)).Split('.').Length > 1)
                        {
                            totalPaginas = (Convert.ToInt32(totalProductos) / numeroProductos) + 1;
                        }
                        else
                        {
                            totalPaginas = (Convert.ToInt32(totalProductos) / numeroProductos);
                        }
                        if (totalPaginas <= 3)
                        {

                            //BOTONES VERSION ESCRITORIO
                            <a href="#container_productos" class="boton_paginacion" name="1">Primera</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">Anterior</a>
                            for (int i = 0; i < totalPaginas; i++)
                            {
                                <a href="#container_productos" class="boton_paginacion" name="@(i + 1)">@(i + 1)</a>
                            }
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">Siguiente</a>
                            <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">Ultima</a>
                        }
                        else if (pagina == totalPaginas)
                        {
                            <a href="#container_productos" class="boton_paginacion" name="1">Primera</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">Anterior</a>
                            <a href="#container_productos" class="boton_paginacion" name="1">1</a>
                            <span>...</span>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">@(pagina - 1)</a>
                            <a href="#container_productos" class="boton_paginacion boton_paginacion_active" name="@pagina">@pagina</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">Siguiente</a>
                            <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">Ultima</a>
                        }
                        else if (pagina == 1)
                        {
                            <a href="#container_productos" class="boton_paginacion" name="1">Primera</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">Anterior</a>
                            <a href="#container_productos" class="boton_paginacion boton_paginacion_active" name="1">1</a>
                            <a href="#container_productos" class="boton_paginacion" name="2">2</a>
                            <span>...</span>
                            <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">@totalPaginas</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">Siguiente</a>
                            <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">Ultima</a>
                        }
                        else
                        {
                            <a href="#container_productos" class="boton_paginacion" name="1">Primera</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">Anterior</a>
                            <span>...</span>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">@(pagina - 1)</a>
                            <a href="#container_productos" class="boton_paginacion boton_paginacion_active" name="@(pagina)">@(pagina)</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">@(pagina + 1)</a>
                            <span>...</span>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">Siguiente</a>
                            <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">Ultima</a>
                        }
                    }
                </div>
                @*//PAGINACIÓN VERSION MOVIL*@
                <div class="div_movil">
                    @{
                        if (totalPaginas <= 3)
                        {

                            <a href="#container_productos" class="boton_paginacion" name="1">&lt;</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">&lt;</a>
                            for (int i = 0; i < totalPaginas; i++)
                            {
                                <a href="#container_productos" class="boton_paginacion" name="@(i + 1)">@(i + 1)</a>
                            }
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">&gt;</a>
                            <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">&gt;&gt;</a>
                        }
                        else if (pagina == totalPaginas)
                        {
                            <a href="#container_productos" class="boton_paginacion" name="1">&lt;&lt;</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">&lt;</a>
                            <a href="#container_productos" class="boton_paginacion" name="1">1</a>
                            <span>...</span>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">@(pagina - 1)</a>
                            <a href="#container_productos" class="boton_paginacion boton_paginacion_active" name="@pagina">@pagina</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">&gt;</a>
                            <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">&gt;&gt;</a>
                        }
                        else if (pagina == 1)
                        {
                            <a href="#container_productos" class="boton_paginacion" name="1">&lt;&lt;</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">&lt;</a>
                            <a href="#container_productos" class="boton_paginacion boton_paginacion_active" name="1">1</a>
                            <a href="#container_productos" class="boton_paginacion" name="2">2</a>
                            <span>...</span>
                            <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">@totalPaginas</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">&gt;</a>
                            <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">&gt;&gt;</a>
                        }
                        else
                        {
                            <a href="#container_productos" class="boton_paginacion" name="1">&lt;&lt;</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">&lt;</a>
                            <span>...</span>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina - 1)">@(pagina - 1)</a>
                            <a href="#container_productos" class="boton_paginacion boton_paginacion_active" name="@(pagina)">@(pagina)</a>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">@(pagina + 1)</a>
                            <span>...</span>
                            <a href="#container_productos" class="boton_paginacion" name="@(pagina + 1)">&gt;</a>
                            <a href="#container_productos" class="boton_paginacion" name="@totalPaginas">&gt;&gt;</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
                        }
