﻿@model POS.Models.proveedor
@{
    List<POS.Models.producto> lista_productos = ViewBag.lista_productos as List<POS.Models.producto>;
    List<POS.Models.marca> lista_marcas = ViewBag.lista_marcas as List<POS.Models.marca>;
    List<POS.Models.familia> lista_familias = ViewBag.lista_familias as List<POS.Models.familia>;
    int x_columna = 0;
    int x_objeto = 0;
}

<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 id="folio_serie_entregar" class="title-hero" style="text-align: center; background-color: #254054; color: white;">Detalle</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaProveedor" class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="6" style="font-size: 13px; text-align: center; border: 0px; background-color: #506676; color: white;">Datos Del Proveedor</td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right; border: 0px;">Nombre: </td>
                    <td style="width: 25%; border: 0px;">
                        <input type="text" id="nombre_proveedor" name="nombre_proveedor" class="form-control obligatorio" value="@Model.nombre_proveedor" readonly />
                    </td>
                    <td style="width: 150px; text-align: right; border: 0px;">Folio: </td>
                    <td style="width: 25%; border: 0px;">
                        <input type="text" id="folio" name="folio" class="form-control" value="@Model.folio" style="text-transform: uppercase;" readonly />
                    </td>
                    <td style="border: 0px;"></td>
                    <td style="border: 0px;"></td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right; border: 0px;">Correo: </td>
                    <td style="width: 25%; border: 0px;">
                        <input type="email" id="correo" name="correo" class="form-control" value="@Model.correo" readonly />
                    </td>
                    <td style="width: 150px; text-align: right; border: 0px;">Telefono: </td>
                    <td style="width: 25%; border: 0px;">
                        <input type="text" id="telefono" name="telefono" class="form-control" readonly />
                    </td>
                    <td style="border: 0px;"></td>
                    <td style="border: 0px;"></td>
                </tr>
                <tr>
                    <td colspan="6" style="font-size: 13px; text-align: center; border: 0px; background-color: #506676; color: white;">Productos Relacionados</td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right; border: 0px;"><strong>Codigo</strong></td>
                    <td style="width: 25%; border: 0px;"><strong>Descripción</strong></td>
                    <td style="width: 150px; text-align: right; border: 0px;"><strong>Familia</strong></td>
                    <td style="width: 25%; border: 0px;"><strong>Subfamilia</strong></td>
                    <td style="width: 150px; border: 0px;"></td>
                    <td style="border: 0px;"><strong>Marca</strong></td>
                </tr>
                @foreach (var producto in lista_productos)
                {
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">@producto.Descripcion</td>
                        <td style="width: 25%; border: 0px;">@producto.descripcion_detallada</td>
                        <td style="width: 150px; text-align: right; border: 0px;">@producto.subfamilia.familia.nombre</td>
                        <td style="width: 25%; border: 0px;">@producto.subfamilia.nombre</td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;">@producto.marca.nombre</td>
                    </tr>
                }


                <tr>
                    <td colspan="6" style="font-size: 13px; text-align: center; border: 0px; background-color: #506676; color: white;">Marcas que Surte</td>
                </tr>
                @for (x_objeto = 0; x_objeto < lista_marcas.Count;)
                {
                    <tr>
                        @for (x_columna = 0; x_columna < 3 && x_objeto < lista_marcas.Count; x_columna++)
                        {
                            <td style="width: 150px; text-align: right; border: 0px;"></td>
                            <td style="width: 25%; border: 0px;">@lista_marcas.ElementAt(x_objeto++).nombre</td>
                        }
                        @if (x_columna == 0 && x_objeto == lista_marcas.Count)
                        {
                            <td style="width: 150px; text-align: right; border: 0px;"></td>
                            <td style="width: 25%; border: 0px;"></td>
                            <td style="width: 150px; text-align: right; border: 0px;"></td>
                            <td style="width: 25%; border: 0px;"></td>
                        }
                        @if (x_columna == 1 && x_objeto == lista_marcas.Count)
                        {
                            <td style="width: 150px; text-align: right; border: 0px;"></td>
                            <td style="width: 25%; border: 0px;"></td>
                            <td style="width: 150px; text-align: right; border: 0px;"></td>
                            <td style="width: 25%; border: 0px;"></td>
                        }
                    </tr>
                }
                <tr>
                    <td colspan="6" style="font-size: 13px; text-align: center; border: 0px; background-color: #506676; color: white;">Familias Relacionadas</td>
                </tr>
                @for (x_objeto = 0; x_objeto < lista_familias.Count;)
                {
                    <tr>
                        @for (x_columna = 0; x_columna < 3 && x_objeto < lista_familias.Count; x_columna++)
                        {
                            <td style="width: 150px; text-align: right; border: 0px;"></td>
                            <td style="width: 25%; border: 0px;">@lista_familias.ElementAt(x_objeto++).nombre</td>
                        }
                        @if (x_columna == 0 && x_objeto == lista_familias.Count)
                        {
                            <td style="width: 150px; text-align: right; border: 0px;"></td>
                            <td style="width: 25%; border: 0px;"></td>
                            <td style="width: 150px; text-align: right; border: 0px;"></td>
                            <td style="width: 25%; border: 0px;"></td>
                        }
                        @if (x_columna == 1 && x_objeto == lista_familias.Count)
                        {
                            <td style="width: 150px; text-align: right; border: 0px;"></td>
                            <td style="width: 25%; border: 0px;"></td>
                            <td style="width: 150px; text-align: right; border: 0px;"></td>
                            <td style="width: 25%; border: 0px;"></td>
                        }
                    </tr>
                }
                <tr>
                    <td colspan="6" style="border: 0px;">
                        <a onclick="CerrarModalDetalleProveedor()" class="btn btn-danger">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Cerrar</span>
                        </a>
                    </td>
                </tr>
            </tbody>

                    </table>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('.ModalDetalleProveedor .modal-dialog').css('width', '80%');
                });
            </script>