﻿@model POS.Models.proveedor
@{
    ViewBag.Title = "POS - Nuevo Proveedor";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nuevo Proveedor</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @using (Html.BeginForm("NuevoProveedor", "Proveedor", FormMethod.Post, new { @id = "NuevoProveedor", @style = "margin-bottom:0px;" }))
        { 
            <table id="TablaProveedor" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Nombre: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" id="nombre_proveedor" name="nombre_proveedor" class="form-control obligatorio" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Folio: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" id="folio" name="folio" class="form-control" style="text-transform: uppercase;"/>
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Correo: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="email" id="correo" name="correo" class="form-control" />
                        </td>
                        <td style="width: 150px; text-align: right; border: 0px;">Telefono: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" id="telefono" name="telefono" class="form-control" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaProveedor" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Proveedor ya registrada en el sistema.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <a id="BotonAgregarProveedor" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </a>
                            <a href="@Url.Action("Index")" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Cancelar</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" id="AgregarProveedor" value="Guardar" style="display: none;" />
        }
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '#BotonAgregarProveedor', function () {
        $('#AgregarProveedor').trigger('click');
    });
</script>

<script type="text/javascript">
    var seguir = true;
    $(document).ready(function () {
        $('#NuevoProveedor').bind('submit', function (event) {
            seguir = true;
            $('.obligatorio').each(function () {
                if ($(this).val() == "") {
                    seguir = false;
                }
            });
            if (!seguir) {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
            VerificarProveedor();
            if (!seguir) {
                return false;
            }
        });
    });
    $(document).on('change', '#nombre_proveedor', function () {
        VerificarProveedor();
    });
    function VerificarProveedor() {
        var url = '@Url.Action("VerificarProveedor")';
        $.ajax({
            url: url,
            data: { id: 0, proveedor: $('#nombre_proveedor').val() },
            type: "POST",
            async: false,
            success: function (existe) {
                if (existe == "True") {
                    MostrarAlertaProveedor();
                    OcultarAlertaProveedor();
                    seguir = false;
                }
            }
        });
    }
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function MostrarAlertaProveedor() {
        $('#AlertaProveedor').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
    function OcultarAlertaProveedor() {
        setTimeout(function () {
            $('#AlertaProveedor').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaProveedor').hide(1500);
        }, 3000);
    }
</script>
