/*#page-sidebar, .sb-slidebar {
    background-color: #2a2a2a;
}*/

#page-sidebar, .sb-slidebar {
    background-color: #254054;
}

body {
    color: #3a4049;
    background-color: #fff;
}

#page-header {
    background: #fff;
}

/*#header-logo {
    text-transform: uppercase;
    color: #fff;
    background: #232323;
}*/

#header-logo {
    text-transform: uppercase;
    color: #fff;
    background: #254054;
}

#sidebar-bottom, #sidebar-top {
    background: #313131;
}

    #sidebar-top .nav > li.active > a, #sidebar-top .nav > li > a:hover {
        color: rgba(255,255,255,.55);
        background: rgba(255,255,255,.05);
    }

#page-sidebar, .sb-slidebar {
    color: #9e9e9e;
}

.chat-box li .status-badge .small-badge {
    border-color: #2a2a2a!important;
}

/*#page-sidebar li a {
    color: #737373;
}*/

#page-sidebar li a {
    color: white;
}

#page-sidebar .divider {
    background: rgba(255,255,255,.05);
}

#page-sidebar li a:hover, #page-sidebar li.sfHover > a.sf-with-ul, #sidebar-menu li.active > a {
    color: rgba(255,255,255,.85);
}

#sidebar-menu li ul {
    padding: 5px;
    background: rgba(0,0,0,.1);
}

#sidebar-menu li.active ul li a {
    margin: 0;
    color: #a4a4a4;
}

    #sidebar-menu li.active ul li a:hover {
        color: #000;
        background: #fafafa;
    }

#page-sidebar li.current-page a, #page-sidebar li.current-page a:hover {
    color: #fff!important;
    background: #f87500!important;
}

.page-box {
    background: #fff;
}

    .page-box h3.page-title {
        background: #fbfbfb;
    }

#dynamic-breadcrumb, #page-breadcrumb {
    color: #a3a3a3;
}

    #dynamic-breadcrumb a, #page-breadcrumb a {
        color: #7f7f7f;
    }

        #dynamic-breadcrumb a:hover, #page-breadcrumb a:hover {
            color: #000;
        }

.main-nav {
    border-color: #ccc;
}

    .main-nav ul li a:hover, .main-nav ul li ul, .main-nav ul li.sfHover > a.sf-with-ul {
        background: #fff;
    }

    .main-nav ul li a {
        border-color: #ccc;
    }

    .main-nav ul li ul li a:hover {
        color: #333;
        background: #f3f3f3;
    }

    .main-nav ul li ul {
        box-shadow: 0 2px 3px rgba(0,0,0,.3);
    }

#page-content, #page-content-wrapper {
    background: rgba(242,242,242,.82);
}

#page-nav {
    background: #f8f8f8;
}

#page-subnav li a {
    color: #888;
}

    #page-subnav li a.active, #page-subnav li a:hover {
        color: #333;
        border-color: #f87500;
    }

.sb-slidebar .popover-title {
    color: rgba(255,255,255,.6);
    background: rgba(255,255,255,.1);
}

    .sb-slidebar .popover-title:hover {
        color: rgba(255,255,255,.9);
    }
