﻿@{
    ViewBag.Title = "POS - Creditos Por Venta";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Creditos Por Venta</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @*<div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarExcel" class="btn btn-success" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
            <label>Estatus: </label>
            <select id="select_estatus_ventas_credito" class="form-control" style="display: inline; width: 200px;">
                <option value="TRUE">Pendientes</option>
                <option value="FALSE">Pendientes/Pagadas</option>
            </select>
        </div>
        <table id="TablaCreditosPorVenta" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Id Venta</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Vendedor</th>
                    <th>Total</th>
                    <th>Adeudo</th>
                    <th>Estatus</th>
                    <th>Fecha De Cancelacion</th>
                    <th>Usuario Cancelacion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla"></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        VistaParcialHistorialCreditos();
        $("#ExportarExcel").click(function () {
            $('#TablaCreditosPorVenta .xlsx').trigger("click");
        });
    });
    $("#select_estatus_ventas_credito").change(function () {
        VistaParcialHistorialCreditos();
    });
    $("#id_sucursal").change(function () {
        establecer_id_sucursal_virtual(parseInt($(this).val()));
        VistaParcialHistorialCreditos();
    });
    function VistaParcialHistorialCreditos() {
        var url = '@Url.Action("HistorialCreditosVistaParcial")';
        solamente_pendientes = $("#select_estatus_ventas_credito option:selected").val();
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            id_sucursal = id_sucursal_virtual;
        else
            id_sucursal = $("#id_sucursal").val();
        $.ajax({
            url: url,
            type: "POST",
            data: { id_sucursal: id_sucursal, solamente_pendientes: solamente_pendientes },
            success: function (result) {
                $('#TablaCreditosPorVenta').dataTable().fnClearTable();
                $('#TablaCreditosPorVenta').dataTable().fnDestroy();
                $("#CuerpoTabla").html(result);
                $(".wrapper-dropdown-5").each(function () {
                    var dd = new DropDown($(this));
                    $(document).click(function () {
                        // all dropdowns
                        $('.wrapper-dropdown-5').removeClass('active');
                    });
                });
                CrearTablaCreditosPorVenta();
            },
            async: false
        });
    }
    @*$(document).on('click', '#ExportarPDF', function () {
        solamente_pendientes = $("#select_estatus_ventas_credito option:selected").val();
        id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("traer_pdf_historial_crediticio", "FormatoPDF", new { id_sucursal = "_id_sucursal_" })'.replace('_id_sucursal_', id_sucursal) + "&solamente_pendientes=" + encodeURIComponent(solamente_pendientes);
        window.location.href = url;
    });*@

    function AbonarVenta(id) {
        window.location.href = '@Url.Action("AbonoVentaCliente", new { id = "_id_" })'.replace("_id_", id);
    }
    function CancelarCredito(id) {
        window.location.href = '@Url.Action("CancelarCredito", new { id = "_id_" })'.replace("_id_", id);
    }
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
</script>

<script type="text/javascript">
    function CrearTablaCreditosPorVenta() {
        $('#TablaCreditosPorVenta').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista de Creditos por Venta',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Lista de Creditos por Venta',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Creditos por Venta',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var solamente_pendientes = $("#select_estatus_ventas_credito").val();
        var url = '@Url.Action("TraerPDFListaHistorialCreditos", "FormatoPDF", new { id_sucursal = "_id_", solamente_pendientes = "_solamente_pendientes_" })'.replace("_id_", id_sucursal);
        url = url.replace("_solamente_pendientes_", solamente_pendientes);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>
