﻿@{
    ViewBag.Title = "POS - Creditos Por Cliente";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Creditos Por Cliente</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @*<div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarExcel" class="btn btn-success">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 4px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <div style="float: left; margin-bottom: 10px;">
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Sucursal: </label>
                @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
            </div>
        </div>
        <table id="TablaCreditosPorClientes" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Tipo De Cliente</th>
                    <th>Razon Social</th>
                    <th>Correo</th>
                    <th>Limite De Credito</th>
                    <th>Dias De Credito</th>
                    <th>Adeudo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla" style="font-size: 13px;"></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        ActualizarVistaParcial();
        $("#ExportarExcel").click(function () {
            $('#TablaCreditosPorClientes .xlsx').trigger("click");
        });
    });
    $(document).on('change', '#id_sucursal', function () {
        establecer_id_sucursal_virtual(parseInt($(this).val()));
        ActualizarVistaParcial();
    });
    function MostrarCreditosCliente(id) {
        window.location.href = '@Url.Action("MostrarCreditosClientes", new { id = "_id_" })'.replace("_id_", id);
    }
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
    function ActualizarVistaParcial()
    {
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("VistaParcialCreditoCliente")';
        $.ajax({
            url: url,
            data: { id_sucursal: _id_sucursal },
            success: function (parcial) {
                $('#TablaCreditosPorClientes').dataTable().fnClearTable();
                $('#TablaCreditosPorClientes').dataTable().fnDestroy();
                $("#CuerpoTabla").html(parcial);
                $(".wrapper-dropdown-5").each(function () {
                    var dd = new DropDown($(this));
                    $(document).click(function () {
                        // all dropdowns
                        $('.wrapper-dropdown-5').removeClass('active');
                    });
                });
                CrearTablaCreditosPorClientes();
            },
            async: false
        });
    }
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("TraerPDFListaCreditosPorCliente", "FormatoPDF", new { id_sucursal = "_id_" })'.replace("_id_", id_sucursal);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>

<script type="text/javascript">
    function CrearTablaCreditosPorClientes() {
        $('#TablaCreditosPorClientes').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista Creditos',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Lista creditos',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Creditos',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>
