﻿@model IEnumerable<POS.Models.venta>
    <input id="dias_de_creditoExcel" value="@(Model.Count() > 0 ? Model.First().cliente.dias_credito : 0)" style="display:none" />
    <table class="table" style="width: 100%;">
        <tr>
            <td>Resumen Creditos</td>
        </tr>
        <tr>
            <td>Id Venta</td>
            <td>Fecha</td>
            <td>Fecha De Pago</td>
            <td>Vencimiento</td>
            <td>Sucursal</td>
            <td>Vendedor</td>
            <td>Total</td>
            <td>Adeudo Imp.</t>
            <td>Estatus Adeudo</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="Creditos" name="@item.id">
                <td style="text-align: center;">@item.Serie-@POS.Fn.Numeros.agregarCeros(item.Folio.Value)</td>
                <td id="@("fecha_de_venta_Excel" + item.id)" style="text-align: center;">@item.Fecha_entrega.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
                <td id="@("fecha_de_pago_Excel" + item.id)" style="text-align: center;"></td>
                <td id="@("vencida_Excel" + item.id)" style="text-align: center;"></td>
                <td style="text-align: center;">@item.sucursal.nombre_sucursal</td>
                <td style="text-align: center;">@item.usuario_punto_venta.nombre_usuario</td>
                <td style="text-align: center;">@item.total</td>
                <td style="text-align: center;">@item.aduedo</td>
                <td style="text-align: center;">
                    @if (item.aduedo != 0)
                {
                        <label style="font-weight: 300;">Pendiente</label>
                    }
                    else
                    {
                        <label style="font-weight: 300;">Pagada</label>
                    }
                </td>
            </tr>
        }
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Resumen Abonos</td>
        </tr>
        <tr>
            <td>Id Venta</td>
            <td>Fecha</td>
            <td>Id Abono</td>
            <td>Tipo De Pago</td>
            <td>Usuario Recibe</td>
            <td>Estatus</td>
            <td>Importe</td>
        </tr>
        @foreach (var item in Model)
        {
            foreach (POS.Models.abono a in item.abono.Where(x => x.estatus == true))
            {
                <tr name="@item.id">
                    <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id(a.Venta_id)</td>
                    <td style="text-align: center;">@a.fecha.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
                    <td style="text-align: center;">@a.id</td>
                    <td style="text-align: center;">@a.tipo_pago_abono.tipo</td>
                    <td style="text-align: center;">@a.usuario_punto_venta1.nombre_usuario</td>
                    <td style="text-align: center;">
                        @if (a.estatus == true)
                        {
                            <label style="font-weight: 300;">Activo</label>
                        }
                        else
                        {
                            <label style="font-weight: 300;">Cancelado</label>
                        }
                    </td>
                    <td style="text-align: center;">@a.importe</td>
                </tr>
            }
        }
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Resumen Notas De Credito</td>
        </tr>
        <tr>
            <td>ID Nota Credito</td>
            <td>ID Venta</td>
            <td>Sucursal</td>
            <td>Estatus</td>
            <td>Fecha Creacion</td>
            <td>Fecha Uso</td>
            <td>Fecha Cancelacion</td>
            <td>Importe</td>
        </tr>
        @foreach (POS.Models.nota_credito nota_credito in (ViewBag.ListaNotasCredito as List<POS.Models.nota_credito>
                ))
        {
            <tr name="@nota_credito.id">
                <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(nota_credito.id)</td>
                <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id(nota_credito.id_venta)</td>
                <td style="text-align: center;">@nota_credito.venta.sucursal.nombre_sucursal</td>
                <td style="text-align: center;">@nota_credito.estatus_nota_credito.nombre</td>
                <td style="text-align: center;">
                    @if (nota_credito.fecha_creacion != null)
                    {
                        @nota_credito.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                    }
                </td>
                <td style="text-align: center;">
                    @if (nota_credito.fecha_uso != null)
                    {
                        @nota_credito.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")
                    }
                </td>
                <td style="text-align: center;">
                    @if (nota_credito.fecha_cancelacion != null)
                    {
                        @nota_credito.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                    }
                </td>
                <td style="text-align: center;"><span>$</span>@nota_credito.cantidad</td>
            </tr>
        }
    </table>

    <script>
        $(document).ready(function () {
            calcular_fechas_credito();

            function addDays(theDate, days) {
                return new Date(theDate.getTime() + days * 24 * 60 * 60 * 1000);
            }

            function calcular_fechas_credito() {
                $(".Creditos").each(function () {
                    id = $(this).attr("name");
                    dias_credito = parseInt($("#dias_de_creditoExcel").val());
                    fecha_venta = $("#fecha_de_venta_Excel" + id).html();
                    var fecha_split = fecha_venta.split("/");
                    var dia = fecha_split[0];
                    var mes = fecha_split[1];
                    var año = fecha_split[2];
                    fecha_venta_date = new Date(mes + "/" + dia + "/" + año);
                    var fecha_vencimiento = addDays(fecha_venta_date, dias_credito)
                    //revisar si esta vencida
                    var hoy = (new Date).getTime();
                    var dif = hoy - fecha_vencimiento;
                    var dias_dif = parseFloat((dif / 1000 / 60 / 60 / 24), 0).toFixed(0);
                    if (dias_dif >= 0) {
                        if (dias_dif == 0) {
                            $("#vencida_Excel" + id).html("Hoy Vence");
                        }
                        else {
                            $("#vencida_Excel" + id).html("Vencida: " + dias_dif + " Dias");
                        }
                    }
                    else {
                        $("#vencida_Excel" + id).html("");
                    }
                    //convertir a dd/mm/yyyy
                    var m = fecha_vencimiento.getMonth() + 1;
                    var d = fecha_vencimiento.getDate();
                    var a = fecha_vencimiento.getFullYear();
                    var dia_vencimiento = (d < 10) ? '0' + d : d;
                    var mes_vencimiento = (m < 10) ? '0' + m : m;
                    var año_vencimiento = fecha_vencimiento.getFullYear();
                    var fecha_vencimiento_dd_mm_yyy = dia_vencimiento + "/" + mes_vencimiento + "/" + año_vencimiento;
                    $("#fecha_de_pago_Excel" + id).html(fecha_vencimiento_dd_mm_yyy)
                });
            }
        });
    </script>
