﻿@{
    ViewBag.Title = "Cotización";
}
@{
    List<Tienda_Online.Models.itemproductocarrito2> ListaCarrito = ViewBag.ListaCarrito as List<Tienda_Online.Models.itemproductocarrito2>;
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
    List<Decimal> lista_subtotales_conceptos = new List<Decimal>();
    List<Decimal> lista_ivas_conceptos = new List<Decimal>();
    List<Decimal> lista_totales_conceptos = new List<Decimal>();
}
<meta name="description" content='@("Cotización  " + configuracion_general.marca + ".!")' />

<style type="text/css">
    #GuardarCotizacionDesactivado:hover {
        color: #000;
        background-color: #e6e4df;
        border-color: #e6e4df;
    }
</style>
<section id="cart_items">
    <div class="container">
        <label id="Carrito_desactualizado" class="reload_page botonBordeRojo col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display: none;margin-top: 20px;">
            <i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size: 25px;"></i>El carrito ha sido modificado desde otra ventana . Pulse para cargar la versión mas actualizada.
        </label>
        @if (ListaCarrito != null)
        {
            if (ListaCarrito.Count != 0)
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                    <h2 class="text-center" style="margin-top: 20px !important; padding-bottom: 40px !important; padding-top: 40px !important; margin-bottom:10px !important; font-size: 35px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2">Cotización actual</h2>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;padding-left:0px; padding-right:0px;">
                    <label>
                        <img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; margin:0px 10px;' />Dólar: $
                        <label>@ViewBag.tipoCambiario MXN</label>
                    </label>
                </div>
                foreach (Tienda_Online.Models.itemproductocarrito2 producto in ListaCarrito)
                {
                    Decimal subtotal_concepto_individual = Tienda_Online.Fn.FnCarrito.traerSubtotalConcepto(producto.Precio_Unitario, producto.Cantidad);
                    Decimal iva_concepto_individual = Tienda_Online.Fn.FnCarrito.traerIvaConcepto(producto.cantidad_iva_unitario, producto.Cantidad);
                    Decimal total_concepto_individual = Tienda_Online.Fn.FnCarrito.traerTotalConcepto(producto.Precio_Unitario, producto.cantidad_iva_unitario, producto.Cantidad);
                    lista_subtotales_conceptos.Add(subtotal_concepto_individual);
                    lista_ivas_conceptos.Add(iva_concepto_individual);
                    lista_totales_conceptos.Add(total_concepto_individual);
                    <div class="ProductoCarrito col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5;margin-bottom: 20px; color: #4A4A4A;padding-left:0px; padding-right:0px;" id_producto="@producto.ProductoID" codigo="@producto.Codigo" @(configuracion_tienda_online.mostrar_inventario == true ? "inventario=\"" + producto.Inventario + "\"" : "") }>
                        <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12" onclick="@("window.open(\"" + Url.Action("DetalleProducto", "Producto", new { id_producto = producto.ProductoID }) + "\")")" style="padding-left:0px; padding-right:0px;">
                            <div class="canvas_img" style="height: 100px;">
                                <div>
                                    @if (producto.imagen != null)
                                    {
                                        if (!producto.imagen.Equals(""))
                                        {
                                            if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + producto.imagen))))
                                            {
                                                <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/" + producto.imagen) + "');margin:0;width:auto;background-color: transparent;")"></div>
                                            }
                                            //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                            else
                                            {
                                                <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                            }
                                        }
                                        //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                        else
                                        {
                                            <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                    }
                                </div>
                            </div>
                            <div style="width: 100%; text-align: center;" class="fontbolt20-sm-xs">
                                @producto.Codigo
                            </div>
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 hide-sm-sx">
                                <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12" style="text-align: left;padding-left:0px; padding-right:0px;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Nombre del producto y detalles</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Precio Unitario</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Cantidad</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;"></div>
                                <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;"></div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 align-center-sm-sx" style="padding-left:0px; padding-right:0px;">
                                    <label class="nombre">@producto.Descripcion</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    @if (producto.Precio_Dolar == 0)
                                    {
                                        <label class="precio_unitario" style="font-weight: bold; line-height: 30px;">
                                            $
                                            <span class="precio" precio_dolar="@producto.Precio_Dolar" style="display: none">@producto.Precio_Unitario</span>
                                            <span class="iva_unitario" style="display: none;">@producto.cantidad_iva_unitario</span>
                                            <span style="font-weight: bold">@producto.Precio_Unitario.ToString("#,##0.00")</span>
                                            <span class="Moneda" style="font-weight: bold">MXN</span>
                                            <img class="bandera_unitario" src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px;' />
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="precio_unitario" style="font-weight: bold; line-height: 30px;">
                                            $
                                            <span class="precio" precio_dolar="@producto.Precio_Dolar" style="display: none">@producto.Precio_Unitario</span>
                                            <span class="iva_unitario" style="display: none;">@producto.cantidad_iva_unitario</span>
                                            <span style="font-weight: bold">@(Math.Round((producto.Precio_Unitario / ViewBag.tipoCambiario), 2).ToString("#,##0.00"))</span>
                                            <span class="Moneda" style="font-weight: bold">USD</span>
                                            <img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px;' />
                                        </label>
                                    }
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    <div class="cart_quantity_button" id_producto="@producto.ProductoID" style="display: inline-block;">
                                        <i class="bajar_cantidad2 fa fa-minus" aria-hidden="true"></i>
                                        <input class="cart_quantity_input form-control cantidad" type="text" value="@producto.Cantidad.ToString("#,##0")" autocomplete="off" style="width: 55px; border-radius: 0px;">
                                        <i class=" subir_cantidad2 fa fa-plus" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                            $<span class="importe" style="font-weight: bold">@subtotal_concepto_individual</span>
                                            <span style="font-weight: bold; margin-right: 5px;">MXN</span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                            $<span class="iva" style="font-weight: bold">@iva_concepto_individual</span>
                                            <span style="font-weight: bold; margin-right: 5px;">MXN</span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                            $<span class="total" style="font-weight: bold">@total_concepto_individual</span>
                                            <span style="font-weight: bold; margin-right: 5px;">MXN</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12 align-right-sm-sx" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    <label class="botonEliminar"><i class=" fa fa-minus-circle" aria-hidden="true" style="margin-right: 5px"></i>Eliminar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px; padding-bottom:20px; padding-top:20px;">
                    <label style="display: inline-block; padding: 20px; font-weight: bold; border: 1px dashed #4A4A4A; color: #4A4A4A; width: 100%">La cotización esta vacía</label>
                </div>
            }

            <!-- Para los Totales -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar20-sm-sx" style="text-align: center;padding-right: 0; padding-left: 0px; padding-bottom:20px;">
                <div class="divTotales col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar20-sm-sx" style="padding-right: 0; padding-left: 0px;">
                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12" style="padding-right: 0; padding-left: 0px;">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5; padding-right: 0; padding-left: 0px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                            <h2 class="text-center" style="margin-top: 0px !important; padding-bottom: 20px; padding-top: 20px; font-size: 25px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2;">Totales</h2>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-4" style="padding: 0">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-8" style="padding: 0">
                            <label class="" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario; margin-right: 34px;">
                                $<span id="subtotalpesos" style="font-weight: bold">@lista_subtotales_conceptos.Sum()</span>
                                <span style="font-weight: bold">MXN</span>
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-4" style="padding: 0">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-8" style="padding: 0">
                            <label style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario; margin-right: 34px">
                                $<span id="ivaPesos" style="font-weight: bold">@lista_ivas_conceptos.Sum()</span>
                                <span style="font-weight: bold">MXN</span>
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-4" style="padding: 0">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-8" style="padding: 0">
                            <label style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                $<span id="totalPesos" style="font-weight: bold">@lista_totales_conceptos.Sum()</span>
                                <span style="font-weight: bold">MXN</span>
                                <img class="bandera_subtotal" src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px; vertical-align: central;margin: 0 0 0 10px' />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px; padding-bottom:20px; padding-top:20px;">
                <label style="display: inline-block; padding: 20px; font-weight: bold; border: 1px dashed #4A4A4A; color: #4A4A4A; width: 100%">La cotización esta vacía</label>
            </div>
        }
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label id="alert_registrarse" class="bordeRojo" style="color: #fc5858; border: 2px solid #fc5858; border-radius: 5px; padding: 15px; display: none"><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="margin-right: 10px"></i>Para guardar una cotización es necesario estar registrado. Si no tienes una cuenta puedes crear el PDF.</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <a href="@Url.Action("Index", "Home")">
                <label class="botonBordeRojo" style=""><i class="fa fa-chevron-left" aria-hidden="true" style="margin-right: 5px"></i>Regresar</label>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <label id="EnviarCotizacion" onclick="CrearPDFCotizacionActual()" class="botonBordeAzul">Crear PDF<i class="fa fa-file-pdf-o" aria-hidden="true" style="margin-left: 8px; font-size: 18px;"></i></label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            @if (ListaCarrito != null)
            {
                if (ListaCarrito.Count != 0)
                {
                    <label id="GuardarCotizacion" onclick="clickBtnGuardarCotizacion()" class="botonBordeVerdeReal">Guardar<i class="fa fa-floppy-o" aria-hidden="true" style="margin-left: 8px; font-size: 18px;"></i></label>
                }
                else
                {
                    <label id="GuardarCotizacionDesactivado" class="btn btn-info botonBordeVerde" style="color: #000; background-color: #e6e4df; border-color: #e6e4df; cursor: default; font-size: 18px;">Guardar<i class="fa fa-floppy-o" aria-hidden="true" style="margin-left: 8px"></i></label>
                }
            }
            else
            {
                <label id="GuardarCotizacionDesactivado" class="btn btn-info botonBordeVerde" style="color: #000; background-color: #e6e4df; border-color: #e6e4df; cursor: default; font-size: 18px;">Guardar<i class="fa fa-floppy-o" aria-hidden="true" style="margin-left: 8px"></i></label>
            }
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        // Cuando el focus regresa a la pagina
        // Actualizar cantidad de productos en carrito
        function numero_articulos_carrito_coincide() {
            //contar cantidad en el carrito
            _suma_cantidad = 0;
            var listaCarrito = [];
            $('.ProductoCarrito').each(function () {
                var Producto = ({
                    Codigo: $(this).attr('codigo'),
                    Cantidad: parseFloat($(this).find('.cantidad').val()).toFixed(2),
                });
                listaCarrito.push(Producto);
            });
            params = JSON.stringify({ 'listaCarrito': listaCarrito });
            //cantidad actual cookie
            var url = '@Url.Action("comprararCarrito_con_Cookie")';
            _cantidad_cookie = 0;
            $.ajax({
                url: url,
                type: "POST",
                data: params,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.success) {
                        if (!result.ok) {
                            $("#Carrito_desactualizado").show(300);
                        }
                        else {
                            $("#Carrito_desactualizado").hide(300);
                        }
                    }
                },
                async: true
            });
        }
        $(window).focus(function () {
            numero_articulos_carrito_coincide();
        });
        $(".reload_page").click(function () {
            location.reload();
        });
        InputEnteroSinDecimales(".cantidad");
        $('precio_unitario').each(function () {
            $(this).html(parseFloat($(this).html()).toFixed(2));
        });
        CalcularTotales();
    });
    function CalcularTotales() {
        var subtotalPesos = 0;
        var ivaPesos = 0;
        var totalPesos = 0;
        var subtotalDolares = 0;
        var precioDolar = parseFloat("@ViewBag.tipoCambiario");
        $('.ProductoCarrito').each(function () {
            var unitario = $(this).find('.precio_unitario .precio').html();
            var iva_unitario = $(this).find('.precio_unitario .iva_unitario').html();
            var cantidad = parseFloat($(this).find('.cantidad').val()).toFixed(2);
            var precio_concepto_producto = (parseFloat(unitario) * cantidad);
            var iva_concepto_producto = (parseFloat(iva_unitario) * cantidad);
            var total_concepto_producto = parseFloat(precio_concepto_producto) + parseFloat(iva_concepto_producto);
            subtotalPesos += parseFloat(precio_concepto_producto);
            ivaPesos += parseFloat(iva_concepto_producto);
            totalPesos += parseFloat(total_concepto_producto);
            $(this).find(".importe").html($.number(precio_concepto_producto, 2))
            $(this).find(".iva").html($.number(iva_concepto_producto, 2))
            $(this).find(".total").html($.number(total_concepto_producto, 2));
            Moneda = $(this).find('.Moneda').html();
            banderaSrc = $(this).find('.bandera_unitario').attr("src");
            $(this).find(".tipoMoneda").html(Moneda);
        });
        var ivaDolares = 0;
        var totalPesos = parseFloat(subtotalPesos) + parseFloat(ivaPesos);
        var totalDolares = parseFloat(subtotalDolares) + parseFloat(ivaDolares);
        $("#subtotalpesos").html($.number(subtotalPesos, 2));
        $("#ivaPesos").html($.number(ivaPesos, 2));
        $("#totalPesos").html($.number(totalPesos, 2));
        $("#subtotaldolares").html($.number(subtotalpesos, 2));
        $("#ivadolares").html($.number(ivaPesos, 2));
        $("#totaldolares").html($.number(totalPesos, 2));
    }


    $(document).on('keyup', '.cart_quantity_input', function () {
        var url = '@Url.Action("cambiarCantidadProductoCarrito")';
        id = parseInt($(this).closest(".ProductoCarrito").attr('id_producto'));
        cantidad = parseFloat($(this).val());
        $.ajax({
            url: url,
            type: "POST",
            data: { id_producto: id, cantidad: cantidad },
            success: function () {
                actualizarCantidadCarrito();
                CalcularTotales();
                //contar cantidad en el carrito
                _suma_cantidad = 0;
                var listaCarrito = [];
                $('.ProductoCarrito').each(function () {
                    var Producto = ({
                        Codigo: $(this).attr('codigo'),
                        Cantidad: parseFloat($(this).find('.cantidad').val()).toFixed(2),
                    });
                    listaCarrito.push(Producto);
                });
                params = JSON.stringify({ 'listaCarrito': listaCarrito });
                //cantidad actual cookie
                var url = '@Url.Action("comprararCarrito_con_Cookie")';
                _cantidad_cookie = 0;
                $.ajax({
                    url: url,
                    type: "POST",
                    data: params,
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        if (result.success) {
                            if (!result.ok) {
                                $("#Carrito_desactualizado").show(300);
                            }
                            else {
                                $("#Carrito_desactualizado").hide(300);
                            }
                        }
                    },
                    async: true
                });
            },
            async: true
        });
    });
    $(document).on('click', '.subir_cantidad2', function () {
        var url = '@Url.Action("cambiarCantidadProductoCarrito")';
        id = parseInt($(this).closest(".ProductoCarrito").attr('id_producto'));
        divCantidad = $(this).closest(".cart_quantity_button");
        cantidad = parseFloat(divCantidad.find(".cart_quantity_input").val()) + 1;
        $.ajax({
            url: url,
            type: "POST",
            data: { id_producto: id, cantidad: cantidad },
            success: function () {
                actualizarCantidadCarrito();
                divCantidad.find(".cart_quantity_input").val(cantidad);
                CalcularTotales();
            },
            async: true
        });
    });
    $(document).on('click', '.bajar_cantidad2', function () {
        if ((parseInt($(this).parent().parent().find('.cantidad').val()) - 1) > 0) {
            var url = '@Url.Action("cambiarCantidadProductoCarrito")';
            id = parseInt($(this).closest("div").attr('id_producto'));
            divCantidad = $(this).closest(".cart_quantity_button");
            cantidad = parseFloat(divCantidad.find(".cart_quantity_input").val()) - 1;
            $.ajax({
                url: url,
                type: "POST",
                data: { id_producto: id, cantidad: cantidad },
                success: function () {
                    actualizarCantidadCarrito();
                    divCantidad.find(".cart_quantity_input").val(cantidad);
                    CalcularTotales();
                },
                async: true
            });
        }
    });
    $(document).on('click', '.botonEliminar', function () {
        var url = '@Url.Action("eliminarProductoCarrito")';
        var producto = $(this).closest(".ProductoCarrito ");
        $.ajax({
            url: url,
            type: "POST",
            dataType: "JSON",
            data: { id_producto: parseInt(producto.attr('id_producto')) },
            success: function (result) {
                if (result.success) {
                    producto.remove();
                    CalcularTotales();
                    actualizarCantidadCarrito();
                    //si no hay productos entonces eliminar los subtotales acumulados pesos y dolares
                    if ($(".ProductoCarrito").length == 0) {
                        $(".divTotales").hide();
                        //desactivar boton guardar cotización
                        $("#GuardarCotizacion").attr("style", "color: #000; background-color: #e6e4df; border-color: #e6e4df; cursor: default; padding: 10px 5px; width: 100%;");
                        $("#GuardarCotizacion").attr("class", "btn btn-info");
                        $("#GuardarCotizacion").attr("id", "GuardarCotizacionDesactivado");
                    }
                }
            },
            async: true
        });
    });
    function guardarCotizacion() {
        var id_cotizacion;
        var id_venta;
        var url = '@Url.Action("GuardarCotizacion")';
        $.ajax({
            url: url,
            dataType: 'JSON',
            type: "POST",
            data: {},
            success: function (result) {
                if (result.success == true) {
                    id_cotizacion = result.id_cotizacion;
                    id_venta = result.idventa;
                    var url = '@Url.Action("ModalGuardarCotizacion")';
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: { id_cotizacion: id_cotizacion, id_venta: id_venta },
                        success: function (Modal) {
                            bootbox.dialog({
                                title: "Cotización Guardada Exitosamente",
                                message: Modal,
                                className: "ModalHeaderVerde ModalGuardarCotizacion Modal_responsiva",
                                onEscape: false,
                                closeButton: false
                            });
                        },
                        async: true
                    });
                } else {
                    var url = '@Url.Action("ModalErrorCotizacion")';
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {},
                        success: function (Modal) {
                            bootbox.dialog({
                                title: "Error Al Guardar La Cotizacion",
                                message: Modal,
                                className: "ModalErrorCotizacion",
                                onEscape: false,
                                closeButton: false
                            });
                        },
                        async: true
                    });
                }
            },
            async: true
        });
    }
    function CrearPDFCotizacionActual(id_venta) {
        //REVISAR QUE SEA UN USUARIO ACTIVO
        $("#alert_registrarse").slideUp();
        var url = '@Url.Action("ModalCrearEnviarPDFCotizacionActual")';
        $.ajax({
            url: url,
            type: "POST",
            success: function (Modal) {
                bootbox.dialog({
                    title: "Crear PDF",
                    message: Modal,
                    className: "ModalHeaderVerde modal_width_90 ModalAutoHeight",
                });
            },
            async: true
        });
    }
    function clickBtnGuardarCotizacion() {
        $('.modal').modal('hide');
        $('.ModalConfirmarCotizacion').modal('hide');
        //REVISAR QUE SEA UN USUARIO ACTIVO
        $("#alert_registrarse").slideUp();
        if (parseInt("@ViewBag.isLogin") == 1) {
            guardarCotizacion();
        }
        else {
            $("#alert_registrarse").slideDown('slow');
        }
    }
    function traer_cantidad_inventario(codigo_producto) {
        var cantidad = 0;
        var url = '@Url.Action("traer_cantidad_inventario", "Producto")';
        $.ajax({
            url: url,
            type: "POST",
            data: { codigo_producto: codigo_producto },
            datetype: 'json',
            success: function (result) {
                if (result.success) {
                    cantidad = result.cantidad_en_inventario;
                }
                else {
                    cantidad = -1;
                }
            },
            async: false
        });
        return cantidad;
    }
</script>