﻿<div id="page-content">
    <h3 class="title-hero" style="color:#B4B4B4; margin-top:0px !important;">La cotización se ha generado correctamente con el Folio : <label style="color:#4A4A4A">@ViewBag.id_cotizacion</label> </h3>
    @if (Request.IsAuthenticated)
    {
        String correo = Tienda_Online.Fn.cliente_logeado.TraerCliente().correo;
        <input type="email" id="email_publico_general" value="@correo" hidden />
    }
    else
    {
        <div style="margin-left: 6%; margin-right: 6%;" class="form-group">
            <label for="exampleInputEmail1">Correo:</label>
            <input type="email" class="form-control" id="email_publico_general" aria-describedby="emailHelp" placeholder="Ingresa tu email">
            <small id="emailHelp" class="form-text text-muted">Solo en caso de que quieras que se envie esta coticaciòn a tu direcciòn de correo electronico</small>
        </div>
    }
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label id="ImprimirPDFCotizacion" class="botonBordeVerdeReal" name="@ViewBag.id_venta">
                <span class="button-content"><i class="fa fa-print fa-2x" aria-hidden="true" style="margin:0 10px"></i>Imprimir PDF</span>
            </label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <label id="ImprimirEnviarPDFCotizacion" class="botonBordeVerdeReal" name="@ViewBag.id_venta">
                <span class="button-content"><i class="fa fa-print fa-2x" aria-hidden="true" style="margin:0 10px"></i>Imprimir y <i class="fa fa-envelope-o fa-2x" aria-hidden="true" style="margin:0 10px"></i>Enviar PDF</span>
            </label>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label onclick="CerrarModal()" class="botonBordeRojo">
                <span class="button-content">Cerrar</span>
            </label>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>¡Hecho!</strong> Se a enviado el archivo a tu correo.
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class='alert alert-warning alert-dismissable'>
                <button type='button' class='close' data-dismiss='alert'>&times;</button>
                <strong>¡Cuidado!</strong> Este correo no es valido!.
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var correo;
    $('.alert-success').hide();
    $('.alert-dismissable').hide();
    $(document).ready(function () {
        $('.ModalGuardarCotizacion .modal-dialog').css('width', '60%');
        $('.ModalGuardarCotizacion .modal-title').attr('style', 'text-align:center; font-size:20px;');
        $('#ImprimirPDFCotizacion').click(function () {
            window.location.href = '@Url.Action("GenerarPDFCotizacion", "FormatoPDF", new {  id_venta = ViewBag.id_venta  })';
            _generandoPDF = bootbox.dialog({
                message: "Generando PDF..."
            });
            window.setTimeout(function () {
                _generandoPDF.modal("hide");
            }, 2000); // se cierra la ventana 2 segundos despues
        });

        $('#ImprimirEnviarPDFCotizacion').click(function () {
            correo = $('#email_publico_general').val();
            alert(correo);
            if (correo != "")
            {
                var url = '@Url.Action("GenerarEnviarPDFCotizacion","FormatoPDF", new { id_venta = ViewBag.id_venta, correo = "_correoemail_" })'.replace("_correoemail_", correo);
                url = url.replace("amp;", "");
                window.location.href = url;
                setTimeout(
                function () {
                    $('.alert-success').show();
                }, 5000);

            }
            else {
                $('.alert-warning').show();
            }
        });
    });
    function CerrarModal() {
        window.location.href = '@Url.Action("Index", "Home")';
    }
</script>
