﻿<div class=" col-lg-6 col-md-12 col-sm-12 col-xs-12 formulario_2">
    <div class="span2 nopadnomar" style="width: 100%">
        <label>OPCIÓN 1 - DESCARGAR</label>
        <label style="font-size: 13px; font-weight: normal;">Para descargar el archivo PDF directamente pulse el siguiente botón</label>
        <label id="AlertaGenerando" class=" lbl_ok" style="background-color: #48a0b7"><i class="fa fa-circle-o-notch fa-spin fa-2x  fa-fw" style="margin-right: 10px;"></i>Generando PDF.</label>
        <label id="btn_descargar_pdf" onclick="decargarPDFCotizacionActual()" class="botonBordeAzul">Descargar PDF<i class="fa fa-file-pdf-o" aria-hidden="true" style="margin-left: 8px; font-size: 18px;"></i></label>
    </div>
</div>
<div class=" col-lg-6 col-md-12 col-sm-12 col-xs-12 formulario_2">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
        <div class="span2 nopadnomar" style="width: 100%">
            <label>OPCIÓN 2 - ENVIAR</label>
            <label style="font-size: 13px; font-weight: normal;">Para enviar directamente el archivo a un correo electrónico. introducelo en el siguiente campo y pulsa el boton "Enviar PDF"</label>
            <label class="label_form1">Email: </label>
            <input id="txtemail" name="txtemail" placeholder="Email" value="" type="email">
            <label id="AlertaError" class=" lbl_error alertas"><i class="fa fa-exclamation-circle fa-2x" aria-hidden="true" style="margin-right: 10px"></i>Error al enviar email.</label>
            <label id="AlertaEmail" class=" lbl_error alertas"><i class="fa fa-exclamation-circle fa-2x" aria-hidden="true" style="margin-right: 10px"></i>Favor de introducir un email válido.</label>
            <label id="AlertaEnviando" class=" lbl_ok alertas" style="background-color: #48a0b7"><i class="fa fa-circle-o-notch fa-spin fa-2x  fa-fw" style="margin-right: 10px;"></i>Enviado PDF.</label>
            <label id="AlertaExito" class=" lbl_ok alertas"><i class="fa fa-check-circle-o fa-2x" aria-hidden="true" style="margin-right: 10px"></i>Correo enviado correctamente.</label>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
        <div class="span2 nopadnomar" style="width: 100%">
            <label id="btnEnviarPDFCotizacionActual" onclick="EnviarPDFCotizacionActual()" class="botonBordeAzul">Enviar PDF<i class="fa fa-file-pdf-o" aria-hidden="true" style="margin-left: 8px; font-size: 18px;"></i></label>
        </div>
    </div>
</div>
<script>

    function isValidEmailAddress(emailAddress) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return pattern.test(emailAddress);
    };


    function decargarPDFCotizacionActual() {
        triggerGA_descargarPDF();
        window.location.href = '@Url.Action("decargarPDFCotizacionActual", "FormatoPDF")';
        $("#btn_descargar_pdf").slideUp('slow').delay(3000).slideDown('slow');
        $("#AlertaGenerando").slideDown('slow').delay(3000).slideUp('slow');
    }

    function EnviarPDFCotizacionActual() {
        $(".Alertas").hide();
        if (!isValidEmailAddress($("#txtemail").val())) {
            $("#AlertaEmail").slideDown('slow').delay(1500).slideUp('slow');
        }
        else {
            triggerGA_enviarEmailPDF();
            $("#btnEnviarPDFCotizacionActual").slideUp('slow');
            $("#AlertaEnviando").slideDown('slow');
            var url = '@Url.Action("EnviarPDFCotizacionActual", "FormatoPDF")';
            email = $("#txtemail").val();
            $.ajax({
                url: url,
                type: "POST",
                data: { email: email },
                success: function (result) {
                    $(".Alertas").hide();
                    if (result) {
                        $("#btnEnviarPDFCotizacionActual").slideDown('slow');
                        if (result) {
                            $("#AlertaExito").slideDown('slow').delay(1500).slideUp('slow');
                        }
                        else {
                            $("#AlertaExito").slideDown('slow').delay(1500).slideUp('slow');
                        }
                    }
                },
                async: true
            });


        }
    }

</script>
