﻿@model IEnumerable<POS.Models.cliente>
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white; line-height: 35px;">Clientes
        <br />
        Sucursal <span>@ViewBag.nombreSucursal</span></h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="tabla_lista_Clientes" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr id="@("item_busca_" + cliente.id)">
                        <td class="codigo_selecciona_producto" style="text-align: center;">@cliente.Razon_social</td>
                    </tr> 
                }
            </tbody>
        </table>
        <a onclick="CerrarModal()" class="btn btn-danger" style="margin-left: 10px; margin-bottom: 10px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-times"></i>
            </span>
            <span class="button-content">Cerrar</span>
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalListaClientes .modal-dialog').css('width', '50%');
    });
    function CerrarModal() {
        $('.ModalListaClientes').modal('hide');
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabla_lista_Clientes').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true
        });
    });
</script>
