﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Asignar Tipo De Precio</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td style="text-align: right; border: 0px; width: 25%;">Tipo De Precio: </td>
                    <td style="border: 0px;">
                        @Html.DropDownList("id_tipo_precio", null, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; border: 0px;">
                        <a onclick="EditarTipoPrecio()" class="btn btn-success">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Guardar Cambios</span>
                        </a>
                        <a onclick="CerrarModal()" class="btn btn-danger" style="margin-left: 10px;">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Cancelar</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="text" id="id_cliente" value="@ViewBag.id_cliente" style="display:none;" />
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.ModalEditarTipoPrecio .modal-dialog').css('width', '35%');
    });
    function CerrarModal() {
        $('.ModalEditarTipoPrecio').modal('hide');
    }
</script>
