﻿@{
    ViewBag.Title = "POS - Cotizaciones";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Cotizaciones</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div id="datepicker" style="margin-left: 10px; margin-top: 10px; float: left;">
            <label>Periodo: </label>
            <div class="btn btn-primary" style="width: 375px; background-color: #254054; border-color: #254054;">
                <i class="glyph-icon icon-calendar"></i>
                <input type="text" id="periodo" class="form-control" readonly="readonly" style="border: none; background-color: transparent; color: white; padding-left: 0px; display: inline; box-shadow: none; cursor: pointer; opacity: 100; text-align: center;" />
            </div>
        </div>
        <div id="filtro" style="margin-left: 10px; margin-top: 10px; float: left; display: none;">
            <label>ID De Cotizacion: </label>
            <input type="text" id="filtro_" class="form-control" style="display: inline; width: 200px;" />
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Tipo De Busqueda: </label>
            <select id="tipo_busqueda" class="form-control" style="display: inline; width: 200px;">
                <option value="1">Busqueda Por Fecha</option>
                <option value="2">Busqueda Por ID De Cotizacion</option>
            </select>
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
        </div>
        @*<div style="margin-right: 10px; margin-top: 10px; float: right;">
            <button id="ExportarExcel" class="btn btn-success" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </button>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <table id="TablaCotizaciones" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Vendedor</th>
                    <th>Conceptos</th>
                    <th style="text-align: right;">Ajuste</th>
                    <th style="text-align: right;">Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla"></tbody>
        </table>
    </div>
</div>

<div id="Ticket" style="display: none;"></div>

<script type="text/javascript">
    var table_export;
    $(function () {
        $('#periodo').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
            "timePickerSeconds": true,
            "locale": {
                "format": "MM/DD/YYYY hh:mm:ss A",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizado",
                "daysOfWeek": ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                "firstDay": 1
            },
            ranges: {
                'Hoy': ["@ViewBag.HoyInicio", "@ViewBag.HoyFin"],
                'Ayer': ["@ViewBag.AyerInicio", "@ViewBag.AyerFin"],
                'Antier': ["@ViewBag.AntierInicio", "@ViewBag.AntierFin"],
                'Semana Actual': ["@ViewBag.SemanaActualInicio", "@ViewBag.SemanaActualFin"],
                'Semana Pasada': ["@ViewBag.SemanaPasadaInicio", "@ViewBag.SemanaPasadaFin"],
                'Semana Antepasada': ["@ViewBag.SemanaAntepasadaInicio", "@ViewBag.SemanaAntepasadaFin"],
                'Quincena Actual': ["@ViewBag.QuincenaActualInicio", "@ViewBag.QuincenaActualFin"],
                'Quincena Pasada': ["@ViewBag.QuincenaPasadaInicio", "@ViewBag.QuincenaPasadaFin"],
                'Quincena Antepasada': ["@ViewBag.QuincenaAntepasadaInicio", "@ViewBag.QuincenaAntepasadaFin"],
                'Mes Actual': ["@ViewBag.MesActualInicio", "@ViewBag.MesActualFin"],
                'Mes Pasado': ["@ViewBag.MesPasadoInicioFin", "@ViewBag.MesPasadoFin"],
                'Mes Antepasado': ["@ViewBag.MesAntepasadoInicio", "@ViewBag.MesAntepasadoFin"]
            }
        });
    });
    $(document).ready(function () {
        /*CONFIGURACIONES*/
        if ($('#configuracion_caja_centralizada').val() == "True") {
            caja_centralizada = true;
        } else {
            caja_centralizada = false;
        }
        if ($('#configuracion_edicion_precios').val() == "True") {
            editar_precio_dinamicamente = true;
        } else {
            editar_precio_dinamicamente = false;
        }
        if ($('#configuracion_imprimir_solo_ticket').val() == "True") {
            impresion_solo_ticket = true;
        } else {
            impresion_solo_ticket = false;
        }
        if ($('#confirmacion_directa').val() == "True") {
            confirmacion_directa = true;
        } else {
            confirmacion_directa = false;
        }
        /*CONFIGURACIONES*/
        periodo = $("#periodo").val();
        _filtro = $("#filtro_").val();
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("VistaParcialCotizacion")';
        $.ajax({
            url: url,
            data: { idSucursal: _id_sucursal, periodo: periodo, filtro: _filtro },
            success: function (result) {
                $("#CuerpoTabla").html(result);
                CrearTablaCotizaciones();
            },
            async: false
        });
        $(document).on('change', '#periodo', function () {
            filtrar();
        });
        $("#ExportarExcel").click(function () {
            $('#TablaCotizaciones .xlsx').trigger("click");
        });
        table_export = $("#TablaCotizaciones").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx", "csv", "txt"],     // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: 7,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    });
    });
    function filtrar() {
        periodo = $("#periodo").val();
        _filtro = $("#filtro_").val();
        _id_sucursal = $("#id_sucursal option:selected").val();
        var url = '@Url.Action("VistaParcialCotizacion")';
        $.ajax({
            url: url,
            data: { idSucursal: _id_sucursal, periodo: periodo, filtro: _filtro },
            success: function (result) {
                $('#TablaCotizaciones').dataTable().fnClearTable();
                $('#TablaCotizaciones').dataTable().fnDestroy();
                $("#CuerpoTabla").html(result);
                CrearTablaCotizaciones();
                table_export.reset();
            },
            async: false
        });
    }
    $(document).on('change', '#tipo_busqueda', function () {
        var valor = $(this).val();
        if (valor == 1) {
            $('#filtro').hide();
            $('#filtro_').val('');
            $('#datepicker').show();
        } else {
            $('#datepicker').hide();
            $('#filtro').show();
        }
    });
    $(document).on('change', '#filtro_', function () {
        filtrar();
            });
    $(document).on('change', '#id_sucursal', function () {
        filtrar();
    });
    function RecuperarCotizacion(id) {
        window.location.href = '@Url.Action("RecuperarVentaCotizacion", "Venta", new { id = "_id_" })'.replace("_id_", id);
    }
    function VerCotizacion(id) {
        var url = '@Url.Action("ModalConceptosCotizacionOnline", "TiendaOnline")';
        $.ajax({
            url: url,
            data: { id: id },
            type: "POST",
            success: function (vista) {
                bootbox.dialog({
                    className: "ModalConceptosCotizacionOnline",
                    message: vista,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    function ImprimirCotizacion(id) {
        ConfiguracionImpresionCotizacion(id);
    }
</script>

<script type="text/javascript">
    function CrearTablaCotizaciones() {
        $('#TablaCotizaciones').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista Cotizaciónes',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Lista Cotizaciónes',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Cotizaciónes',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>

@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA COTIZACION*@
<script type="text/javascript">
    var id_cotizacion = 0;
    var cantidad_tickets = parseInt($('#configuracion_cantidad_tickets').val());;
    function ConfiguracionImpresionCotizacion(id) {
        id_cotizacion = id;
        if (impresion_solo_ticket) {
            try {
                GenerarTicketCotizacion();
            } catch (e) {
                var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
                $.ajax({
                    url: url,
                    data: {},
                    success: function (VistaParcial) {
                        bootbox.dialog({
                            className: "ModalAdvertenciaImpresionNoMozilla",
                            message: VistaParcial,
                            closeButton: false,
                            onEscape: true
                        });
                    },
                    async: false
                });
            }
        } else {
            EscogerModoImpresionCotizacion();
        }
    }
    function EscogerModoImpresionCotizacion(){
        var url = '@Url.Action("ModalSeleccionarModoImpresion", "printer")';
        $.ajax({
            url: url,
            data: { },
            success: function (VistaParcial) {
                bootbox.dialog({
                    className: "ModalSeleccionarModoImpresion ModalSeleccionarModoImpresionCotizacion",
                    message: VistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    $(document).on('click', '.ModalSeleccionarModoImpresionCotizacion #selectPDF', function () {
        window.open('@Url.Action("traer_pdf_cotizacion", "FormatoPDF", new { id = "_id_"})'.replace("_id_", id_cotizacion));
        $(".ModalSeleccionarModoImpresion").modal("hide");
        bootbox.hideAll();
        window.location.reload(true);
    });
    $(document).on('click', '.ModalSeleccionarModoImpresionCotizacion #selectTicketPrinter', function () {
        try {
            $(".ModalSeleccionarModoImpresion").modal("hide");
            GenerarTicketCotizacion();
        } catch (e) {
            var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
            $.ajax({
                url: url,
                data: {},
                success: function (VistaParcial) {
                    bootbox.dialog({
                        className: "ModalAdvertenciaImpresionNoMozilla",
                        message: VistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    });
    function GenerarTicketCotizacion() {
        cantidad_tickets = 1;
        var url = '@Url.Action("VistaParcialGenerarTicketVenta", "Venta")';
        $.ajax({
            url: url,
            data: { idVenta: id_cotizacion },
            success: function (VistaParcial) {
                $("#Ticket").html(VistaParcial);
                for (var i = 0; i < cantidad_tickets; i++) {
                    ImprimirTicketCotizacion(document.getElementById('Ticket'));
                }
            },
            async: false
        });
    }
    function ImprimirTicketCotizacion(Ticket) {
        jsPrintSetup.setSilentPrint(true);
        var content = Ticket.innerHTML
        jsPrintSetup.setOption('marginTop', 5);
        jsPrintSetup.setOption('marginBottom', 15);
        jsPrintSetup.setOption('marginLeft', 5);
        jsPrintSetup.setOption('marginRight', 5);
        // set page header
        jsPrintSetup.setOption('headerStrLeft', '');
        jsPrintSetup.setOption('headerStrCenter', '');
        jsPrintSetup.setOption('headerStrRight', '');
        // set empty page footer
        jsPrintSetup.setOption('footerStrLeft', '');
        jsPrintSetup.setOption('footerStrCenter', '');
        jsPrintSetup.setOption('footerStrRight', '');
        jsPrintSetup.definePaperSize(101, 101, "Custom", "Custom_Paper", "Custom PAPER", 300, 400, jsPrintSetup.kPaperSizeMillimeters);
        jsPrintSetup.setPaperSizeData(101);
        //pwin.document.open();
        w = window.open();
        w.document.write(content);
        w.print();
        w.close();
        //setTimeout(function () { pwin.close(); }, 1000);
        jsPrintSetup.setSilentPrint(false);
    }
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var periodo = $("#periodo").val();
        var filtro = $("#filtro_").val();
        var url = '@Url.Action("TraerPDFListaCotizaciones", "FormatoPDF", new { idSucursal = "_id_", periodo = "_periodo_", filtro = "_filtro_" })'.replace("_id_", id_sucursal);
        url = url.replace("_periodo_", periodo);
        url = url.replace("_filtro_", filtro);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>
@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA COTIZACION*@