﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Error: La Nota De Credito Ya A Sido Usada</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <button onclick="CerrarModalNotaCreditoUsada()" class="btn btn-danger autofocus" autofocus>
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalNotaCreditoUsada .modal-dialog').css('width', '50%');
        $('.ModalNotaCreditoUsada').on('shown.bs.modal', function () {
            $(".autofocus").focus();
        });
    });
    function CerrarModalNotaCreditoUsada() {
        $('.ModalNotaCreditoUsada').modal('hide');
        $('body').css('padding-right', '0px !important');
        $('#txt_id_nota_credito').val('');
        $('#txt_id_nota_credito').focus();
    }
</script>
