﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Venta Generada Correctamente</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tr>
                <td style="text-align: center; font-size: 2.5vw; border: 0px;">ID: @ViewBag.folio</td>
            </tr>
            <tr>
                <td style="text-align: center; border: 0px;">
                    <button id="folioNuevaVenta" onclick="CerrarModal()" class="btn btn-success autofocus" autofocus>
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-check"></i>
                        </span>
                        <span class="button-content">Aceptar</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalFolioVenta .modal-dialog').css('width', '30%');
        $(".ModalFolioVenta").on('shown.bs.modal', function () {
            $(this).find('#folioNuevaVenta').focus();
        });
    });
    function CerrarModal() {
        $('.ModalFolioVenta').modal('hide');
        filtrar();
    }
</script>
