﻿@{
    POS.Models.venta venta = ViewBag.venta as POS.Models.venta;
    List<POS.Models.tipo_pago_venta> TiposPago = ViewBag.TiposPago as List<POS.Models.tipo_pago_venta>;
    List<POS.Models.multiple_pago> MultiplePago = venta.multiple_pago.ToList();
    Boolean editar = ViewBag.editar;
}
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Venta <span id="folio_serie_editar">@POS.Fn.Numeros.serie_folio_by_id(venta.id)</span></h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <input id="id_venta" value="@venta.id" style="display:none" />
        <table id="TablaConceptosVenta" class="table" style="width: 100%;">
            <thead>
                <tr>
                    <td colspan="7" style="text-align: center; border: 0px; background-color: #506676; color: white;">Conceptos</td>
                </tr>
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Tipo De Precio</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Precio Unitario Con IVA</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody>
                @foreach (POS.Models.conceptos_por_venta cxp in venta.conceptos_por_venta)
                {
                    <tr>
                        <td style="text-align: center;">@cxp.producto.Codigo</td>
                        <td style="text-align: center;">@cxp.producto.Descripcion</td>
                        <td style="text-align: center;">@cxp.tipocliente.Tipo</td>
                        <td style="text-align: center;">@cxp.cantidad</td>
                        <td style="text-align: center;">@cxp.precio_unitario</td>
                        <td style="text-align: center;">@cxp.precio_unitario_mas_iva</td>
                        <td style="text-align: center;">@cxp.importe_mas_iva</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (venta.nota_credito.Count() > 0 || venta.nota_credito1.Count > 0)
        {
            <table id="TablaNotasCredito" class="table" style="width: 100%; margin-top: 20px;">
                <thead>
                    <tr>
                        <td colspan="9" style="text-align: center; border: 0px none; background-color: #506676; color: white;">Notas De Credito</td>
                    </tr>
                    <tr>
                        <th>ID Nota Credito</th>
                        <th>ID Venta</th>
                        <th>ID Venta Aplicada</th>
                        <th>Sucursal</th>
                        <th>Estatus</th>
                        <th>Fecha Creacion</th>
                        <th>Fecha Uso</th>
                        <th>Fecha Cancelacion</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var nota in venta.nota_credito)
                    {
                        <tr>
                            <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(nota.id)</td>
                            <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id(nota.id_venta)</td>
                            <td style="text-align: center;">
                                @if (nota.id_venta_aplicada != null)
                                {
                                    @POS.Fn.Numeros.serie_folio_by_id(nota.id_venta_aplicada.Value)
                                }
                            </td>
                            <td style="text-align: center;">@nota.venta.sucursal.nombre_sucursal</td>
                            <td style="text-align: center;">@nota.estatus_nota_credito.nombre</td>
                            <td style="text-align: center;">
                                @if (nota.fecha_creacion != null)
                                {
                                    @nota.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                }
                            </td>
                            <td style="text-align: center;">
                                @if (nota.fecha_uso != null)
                                {
                                    @nota.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                }
                            </td>
                            <td style="text-align: center;">
                                @if (nota.fecha_cancelacion != null)
                                {
                                    @nota.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                }
                            </td>
                            <td style="text-align: center;"><span>$</span>@nota.cantidad</td>
                        </tr>
                    }
                    @foreach (var nota in venta.nota_credito1)
                    {
                        <tr>
                            <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(nota.id)</td>
                            <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id(nota.id_venta)</td>
                            <td style="text-align: center;">
                                @if (nota.id_venta_aplicada != null)
                                {
                                    @POS.Fn.Numeros.serie_folio_by_id(nota.id_venta_aplicada.Value)
                                }
                            </td>
                            <td style="text-align: center;">@nota.venta.sucursal.nombre_sucursal</td>
                            <td style="text-align: center;">@nota.estatus_nota_credito.nombre</td>
                            <td style="text-align: center;">
                                @if (nota.fecha_creacion != null)
                                {
                                    @nota.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                }
                            </td>
                            <td style="text-align: center;">
                                @if (nota.fecha_uso != null)
                                {
                                    @nota.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                }
                            </td>
                            <td style="text-align: center;">
                                @if (nota.fecha_cancelacion != null)
                                {
                                    @nota.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                }
                            </td>
                            <td style="text-align: center;"><span>$</span>@nota.cantidad</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (venta.abono.Count() > 0)
        {
            <table id="TablaAbonosVenta" class="table" style="width: 100%; margin-top: 20px;">
                <thead>
                    <tr>
                        <td colspan="2" style="text-align: center; border: 0px; background-color: #506676; color: white;">Abonos Activos</td>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (POS.Models.abono a in venta.abono.Where(x => x.estatus == true))
                    {
                        <tr>
                            <td style="text-align: center;">@a.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td style="text-align: center;">@a.importe</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <table class="table">
            <tbody>
                <tr>
                    <td style="border: 0px;">
                        <div id="Adventenciacredito" class="alert alert-info" style="margin-top: 10px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Advertencia</h4>
                                <p>El total o parcial de la venta fue pagada a credito, si se cambia de tipo de pago, los abonos hechos seran cancelados.</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="border: 0px;">
                        <div id="AlertaFormulario" class="alert alert-info" style="margin-top: 10px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>La suma de los tipos de pagos no coinciden con el total.</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table id="TablaTiposPago" class="table" style="width: 100%; margin-top: 20px;">
            <thead>
                <tr>
                    <td style="width: 80%; border: 0px;"></td>
                    <td colspan="2" style="text-align: center; border: 0px; background-color: #506676; color: white;">Tipos De Pago</td>
                </tr>
                <tr>
                    <th style="width: 80%; border: 0px;">Observaciones</th>
                    <th style="text-align: center; width: 10%;">Tipo De Pago</th>
                    <th style="text-align: center; width: 10%;">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (POS.Models.tipo_pago_venta tipo_pago in TiposPago)
                {
                    String cantidad = "0.00";
                    <tr>
                        @if (TiposPago.ToList().First().id == tipo_pago.id)
                        {
                            <td rowspan="@Convert.ToInt32(TiposPago.Count + 2)" style="width: 80%; border: 0px;">
                                <textarea class="form-control" readonly="readonly" style="height: 165px; resize: none; border: 0px;">@venta.observaciones</textarea>
                            </td>
                        }
                        <td style="font-weight: bold; text-align: center; width: 10%;">@tipo_pago.tipo<span>: </span></td>
                        <td style="font-weight: bold; text-align: center; width: 10%;">$
                            <span>
                                @if (MultiplePago.Where(x => x.id_tipo_pago_venta == tipo_pago.id).Any())
                                {
                                    cantidad = MultiplePago.Where(x => x.id_tipo_pago_venta == tipo_pago.id).Single().cantidad.ToString();
                                    <span id='@("TipoPagoTexto" + tipo_pago.id)' class="TipoPagoTexto" name="@tipo_pago.id">@cantidad</span>
                                    <input type="text" id='@("TipoPago" + tipo_pago.id)' class="form-control TipoPago" name="@tipo_pago.id" value="@cantidad" style="display:none; width:85%;" />
                                }
                                else
                                {
                                    <span id='@("TipoPagoTexto" + tipo_pago.id)' class="TipoPagoTexto" name="@tipo_pago.id">@cantidad</span>
                                    <input type="text" id='@("TipoPago" + tipo_pago.id)' class="form-control TipoPago" name="@tipo_pago.id" value="0.00" style="display:none; width:85%;" />
                                }
                            </span>
                        </td>
                    </tr>
                }
                <tr>
                    <td style="font-weight: bold; text-align: center; width: 10%;">Notas De Venta<span>: </span></td>
                    <td style="font-weight: bold; text-align: center; width: 10%;">$
                            <span>
                                <span id='TipoPagoTextoNotaCredito'>
                                    @if (venta.nota_credito1.Count > 0)
                                    {
                                        @Math.Round(venta.nota_credito1.ToList().Select(x => x.cantidad.Value).Sum(), 2)
                                    }
                                    else
                                    {
                                        @:0.00
                                    }
                                </span>
                            </span>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold; text-align: center; width: 10%; background-color: #9AA7B0; color: white;">Total<span>: </span></td>
                    <td style="font-weight: bold; text-align: center; width: 10%; background-color: #9AA7B0; color: white;">$<span id="total_venta">@venta.total</span></td>
                </tr>
            </tbody>
        </table>
        <div id="BotonCerrarModal" style="margin-left: 10px; display: inline;">
            <button class="btn btn-danger autofocus" style="margin-top: 10px; margin-bottom: 10px;" autofocus>
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-times"></i>
                </span>
                <span class="button-content">Cerrar</span>
            </button>
        </div>
        @if (editar)
        {
            <div id="BotonCancelarEditarTiposPago" style="margin-left: 10px; display: none;">
                <button class="btn btn-danger" style="margin-top: 10px; margin-bottom: 10px;">
                    <span class="glyph-icon icon-separator">
                        <i class="glyph-icon icon-times"></i>
                    </span>
                    <span class="button-content">Cancelar</span>
                </button>
            </div>
            <div id="BotonAceptarEditarTiposPago" style="margin-left: 10px; display: none;">
                <button class="btn btn-success" style="margin-top: 10px; margin-bottom: 10px;">
                    <span class="glyph-icon icon-separator">
                        <i class="glyph-icon icon-check"></i>
                    </span>
                    <span class="button-content">Aceptar</span>
                </button>
            </div>
            <div id="BotonEditarTiposPago" style="margin-left: 10px; display: inline;">
                <button class="btn btn-info" style="margin-top: 10px; margin-bottom: 10px;">
                    <span class="glyph-icon icon-separator">
                        <i class="glyph-icon icon-pencil"></i>
                    </span>
                    <span class="button-content">Modificar Tipos De Pago</span>
                </button>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalConceptosVenta .modal-dialog').css('width', '95%');
        $('.ModalConceptosVenta').on('shown.bs.modal', function () {
            $(".autofocus").focus();
        });
        $('#BotonEditarTiposPago').click(function () {
            $(this).hide();
            $('#BotonCerrarModal').hide();
            $('#BotonCancelarEditarTiposPago').css('display', 'inline');
            $('#BotonAceptarEditarTiposPago').css('display', 'inline');
            $('.TipoPago').css('display', 'inline');
            $('.TipoPagoTexto').hide();
            if (parseFloat($('#TipoPago4').val()) > 0) {
                $('#Adventenciacredito').show();
            }
        });
        $('#BotonCerrarModal').click(function () {
            $('.ModalConceptosVenta').modal('hide');
        });
        $('#BotonCancelarEditarTiposPago').click(function () {
            $('#BotonCancelarEditarTiposPago').hide();
            $('#BotonAceptarEditarTiposPago').hide();
            $('#BotonEditarTiposPago').show();
            $('#BotonCerrarModal').show();
            $('.TipoPago').hide();
            $('.TipoPagoTexto').each(function () {
                var nodo = $(this).attr('name');
                $('#TipoPago' + nodo).val($('#TipoPagoTexto' + nodo).html());
            });
            $('.TipoPagoTexto').show();
            $('#Adventenciacredito').hide();
        });
        $('#BotonAceptarEditarTiposPago').click(function () {
            var suma = 0;
            var total_venta = $('#total_venta').html();
            $('.TipoPago').each(function () {
                if (parseFloat($(this).val()) > 0) {
                    suma = suma + parseFloat($(this).val());
                }
            });
            suma = suma + parseFloat($('#TipoPagoTextoNotaCredito').html());
            //suma = suma.toFixed(3);
            suma = suma;
            //total_venta = parseFloat(total_venta).toFixed(3);
            total_venta = parseFloat(total_venta);
            if (suma == total_venta) {
                var TiposPagos = [];
                $('.TipoPago').each(function () {
                    if (parseFloat($(this).val()) > 0) {
                        TiposPagos.push({
                            id_tipo_pago_venta: $(this).attr('name'),
                            cantidad: $(this).val()
                        });
                    }
                });
                var params = {
                    'id_venta': $('#id_venta').val(),
                    'ListaTiposPagos': TiposPagos
                };
                var url = '@Url.Action("ActualizarTiposPago")';
                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: 'application/json;',
                    data: JSON.stringify(params),
                    success: function () {
                        $('.TipoPago').each(function () {
                            if (parseFloat($(this).val()) > 0) {
                                $('#TipoPagoTexto' + $(this).attr('name')).html($(this).val());
                            } else {
                                $('#TipoPagoTexto' + $(this).attr('name')).html("0.00");
                            }
                        });
                        $('#BotonEditarTiposPago').show();
                        $('#BotonCerrarModal').show();
                        $('#BotonCancelarEditarTiposPago').hide();
                        $('#BotonAceptarEditarTiposPago').hide();
                        $('.TipoPago').hide();
                        $('.TipoPagoTexto').show();
                    },
                    async: false
                });
            } else {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
        });
    });
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
</script>
