﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Al cambiar 'Credito' se cancelaran todos los abonos activos</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <button onclick="CerrarModal()" class="btn btn-success autofocus" autofocus>
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalAdvertenciaCambioTipoPago .modal-dialog').css('width', '50%');
        $('.ModalAdvertenciaCambioTipoPago').on('shown.bs.modal', function () {
            $(".autofocus").focus();
        });
    });
    function CerrarModal() {
        $('.ModalAdvertenciaCambioTipoPago').modal('hide');
    }
</script>
