﻿@{
    POS.Models.venta venta = ViewBag.venta as POS.Models.venta;
}
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Venta <span id="folio_serie_editar">@POS.Fn.Numeros.serie_folio_by_id(venta.id)</span></h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaConceptosVenta" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <td colspan="7" style="text-align: center; border: 0px; background-color: #506676; color: white;">Conceptos De Venta</td>
                </tr>
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Tipo De Precio</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Precio Unitario Con IVA</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody>
                @foreach (POS.Models.conceptos_por_venta cxp in venta.conceptos_por_venta)
                {
                    <tr>
                        <td style="text-align: center;">@cxp.producto.Codigo</td>
                        <td style="text-align: center;">@cxp.producto.Descripcion</td>
                        <td style="text-align: center;">@cxp.tipocliente.Tipo</td>
                        <td style="text-align: center;">@cxp.cantidad</td>
                        <td style="text-align: center;">@cxp.precio_unitario</td>
                        <td style="text-align: center;">@cxp.precio_unitario_mas_iva</td>
                        <td style="text-align: center;">@cxp.importe_mas_iva</td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table" style="width: 100%; margin-top:20px;">
            <thead>
                <tr>
                    <td style="width:80%; border:0px;"></td>
                    <td colspan="2" style="text-align: center; border: 0px; background-color: #506676; color: white;">Tipos De Pago</td>
                </tr>
                <tr>
                    <th style="width:80%; border:0px;"></th>
                    <th style="text-align:center; width:10%;">Tipo De Pago</th>
                    <th style="text-align:center; width:10%;">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (POS.Models.multiple_pago tipo_pago in venta.multiple_pago)
                {
                    <tr>
                        <td style="width:80%; border:0px;"></td>
                        <td style="font-weight: bold; text-align:right; width:10%;">@tipo_pago.tipo_pago_venta.tipo<span>: </span></td>
                        <td style="font-weight: bold; text-align:left; width:10%;">$@tipo_pago.cantidad</td>
                    </tr>
                }
                <tr>
                    <td style="width:80%; border:0px;"></td>
                    <td style="font-weight: bold; text-align:right; width:10%;background-color: #9AA7B0;color: white;">Total<span>: </span></td>
                    <td style="font-weight: bold; text-align:left; width:10%;background-color: #9AA7B0;color: white;">$@venta.total</td>
                </tr>
            </tbody>
        </table>
        @{
            bool existe_abono_activo = venta.abono.Where(x => x.estatus == true).Any();
            <input id="existe_abono_activo" style="display:none" value="@existe_abono_activo" />
            if (existe_abono_activo)
            {
                <table id="TablaAbonosVenta" class="table table-hover" style="width: 100%; margin-top:20px;">
                    <thead>
                        <tr>
                            <td colspan="2" style="text-align: center; border: 0px; background-color: #506676; color: white;">Abonos Activos</td>
                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (POS.Models.abono a in venta.abono.Where(x => x.estatus == true))
                {
                            <tr>
                                <td style="text-align: center;">@a.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                <td style="text-align: center;">@a.importe</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        <div style="margin-left: 10px;">
            <input id="idVenta_editar" value="@venta.id" style="display:none" />
            <button onclick="CerrarModalPrincipal()" class="btn btn-danger autofocus" style="margin-top: 10px; margin-bottom: 10px;" autofocus>
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-times"></i>
                </span>
                <span class="button-content">Cerrar</span>
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalEditarTipoPago .modal-dialog').css('width', '95%');
        $('.ModalEditarTipoPago').on('shown.bs.modal', function () {
            $(".autofocus").focus();
        });
    });
    function CerrarModalPrincipal() {
        $('.ModalEditarTipoPago').modal('hide');
    }
</script>