﻿@{ 
    bool precios_netos = ViewBag.precio_neto;
    decimal porcentaje_iva_producto = ViewBag.porcentaje_iva_producto;
}
<input type="hidden" id="porcentaje_iva_producto" value="@porcentaje_iva_producto" />
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Editar Precio</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="2" style="text-align: center; border: 0px;">@ViewBag.codigo<span> - </span>@ViewBag.tipoprecio<span> - </span>@ViewBag.sucursal</td>
                </tr>
                @if (precios_netos)
                {
                    <tr>
                        <td colspan="2" style="text-align: center; border: 0px; color: #932f2f;">INTRODUCIR PRECIO NETO</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="2" style="text-align: center; border: 0px; color: #932f2f;">INTRODUCIR PRECIO SIN IVA</td>
                    </tr>
                }

                <tr>
                    <td style="text-align: right; border: 0px; width: 25%;">Nuevo Precio: </td>
                    @if (!precios_netos)
                    {
                        <td style="border: 0px;">
                            <input type="text" id="nuevo_precio_editado" class="form-control autofocus" value="@ViewBag.precio" placeholder="PRECIO NETO" autofocus />
                        </td>
                    }
                    else
                    {
                        <td style="border: 0px;">
                            <input type="text" id="nuevo_precio_editado" class="form-control autofocus" value="@ViewBag.precio" placeholder="PRECIO CON IVA" autofocus />
                        </td>
                    }
                </tr>
                <tr>
                    <td colspan="2" style="border: 0px;">
                        <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 10px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Por favor rellene el campo Precio.</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; border: 0px;">
                        <button onclick="CambiarPrecioEditado()" class="btn btn-success">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </button>
                        <button onclick="CerrarModal()" class="btn btn-danger" style="margin-left: 10px;">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Cancelar</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalEditarPrecioProducto .modal-dialog').css('width', '30%');
        $('.ModalEditarPrecioProducto').on('shown.bs.modal', function () {
            $(".autofocus").focus();
        });
    });
    function CerrarModal() {
        $('.ModalEditarPrecioProducto').modal('hide');
    }
    $('#nuevo_precio_editado').bind('keypress', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
</script>
