﻿@model POS.Models.venta
@{
    ViewBag.Title = "POS - Nueva Venta";
}
@{
    List<POS.Models.tipo_pago_venta> ListaTipoPago = ViewBag.ListaTipoPago as List<POS.Models.tipo_pago_venta>;
    String string_lista_tipo_pago = "";
    foreach (var ltp in ListaTipoPago)
    {
        string_lista_tipo_pago += ltp.tipo + ",";
    }
    string_lista_tipo_pago = string_lista_tipo_pago.TrimEnd(',');
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nueva venta</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div id="VistaParcialNuevaVenta"></div>
    </div>
</div>

<div id="Ticket" style="display: none;"></div>

<input type="hidden" id="string_tipos_pagos" value="@string_lista_tipo_pago" />

<script type="text/javascript">
    var Lock_keypress = false;
    var respetar_inventario;
    var precios_netos;
    $(document).ready(function () {
        /*CONFIGURACIONES*/
        if ($('#configuracion_caja_centralizada').val() == "True") {
            caja_centralizada = true;
        } else {
            caja_centralizada = false;
        }
        if ($('#configuracion_edicion_precios').val() == "True") {
            editar_precio_dinamicamente = true;
        } else {
            editar_precio_dinamicamente = false;
        }
        if ($('#configuracion_imprimir_solo_ticket').val() == "True") {
            impresion_solo_ticket = true;
        } else {
            impresion_solo_ticket = false;
        }
        if ($('#confirmacion_directa').val() == "True") {
            confirmacion_directa = true;
        } else {
            confirmacion_directa = false;
        }
        if ($('#respetar_inventario').val() == "True") {
            respetar_inventario = true;
        } else {
            respetar_inventario = false;
        }
        if ($('#precios_netos').val() == "True") {
            precios_netos = true;
        } else {
            precios_netos = false;
        }
        /*CONFIGURACIONES*/

        /*FUNCION PARA TRAER LA VISTA PARCIAL DE NUEVA VENTA*/
        filtrar();
        /*FUNCION PARA TRAER LA VISTA PARCIAL DE NUEVA VENTA*/
        //blur sobre el txtbox cantitidad
        $('#txt_cantidad').blur(function () {
            if ($(this).val() == 0) {
                $(this).val('');
            }
        });
    });

    /*FUNCION PARA PODER MODIFICAR EL PRECIO AL MOMENTO DE HACER LA VENTA*/
    $(document).on("click", "#btn_editar_precio", function () {
        _codigo = $("#codigo_producto").val();
        if ($("#codigo_producto").val().indexOf('|') != -1) {
            _codigo = $("#codigo_producto").val().split('|')[0];
        }
        id_tipo_precio = $("#Input_TipoPrecioId").val();
        id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("ModalEditarPrecioProducto")';
        var _vista_parcial
        $.ajax({
            url: url,
            data: { codigo: _codigo, id_tipo_precio: id_tipo_precio, id_sucursal: id_sucursal},
            success: function (vistaParcial) {
                bootbox.dialog({
                    className: "ModalEditarPrecioProducto",
                    message: vistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    });
    /*FUNCION PARA PODER MODIFICAR EL PRECIO AL MOMENTO DE HACER LA VENTA*/

    /*FUNCION PARA ACTUALIZAR DATOS DEL CLIENTE A LA HORA DE DAR ENTRE EN EL CAMPO*/
    $(document).on("keyup", "#txt_cliente", function (e) {
        cadena = $(this).val();
        if (e.which == 13) {//enter
            traer_datos_cliente();
        }
    });
    /*FUNCION PARA ACTUALIZAR DATOS DEL CLIENTE A LA HORA DE DAR ENTRE EN EL CAMPO*/

    /*FUNCION PARA ACTUALIZAR EL PRECIO CUANDO SE CAMBIE EL TIPO DE PRECIO*/
    $(document).on("keydown", "#Input_TipoPrecioId", function (event) {
        event.preventDefault();
        var charCode = (event.which) ? event.which : event.keyCode
        if (charCode == 37 || charCode == 38 || charCode == 39 || charCode == 40) {
            traer_precio();
        }
        else {
            if (charCode == 13) {
                traer_precio();
                if (isNaN(parseFloat($("#id_precio").text()))) {
                    if ($("#id_precio").text() != "NO EXISTE")
                    { agregar_precio(); }
                }
                else {
                    //traer_precio_y_agregar_a_lista();
                    $('#agregar_concepto').trigger('click');
                    $("#TdPrecioUnitario").html("");
                }
            }
        }
    });
    /*FUNCION PARA ACTUALIZAR EL PRECIO CUANDO SE CAMBIE EL TIPO DE PRECIO*/

    /*FUNCION KEYUP PARA EL CAMPO DE CODIGO DE PRODUCTO*/
    $(document).on("keyup", "#codigo_producto", function (event) {
        cadena = $(this).val();
        var charCode = (event.which) ? event.which : event.keyCode
        _cantidad = 1;
        if (charCode == 106 || charCode == 171 || charCode == 187) {//asterisco
            if (cadena.split('*').length != 1) {
                _cantidad = cadena.split('*')[0].replace(/\D/g, '');
            }
            $(this).val("");
            $("#txt_cantidad").val(_cantidad);
        }
        if (event.which == 13) {//enter
            if (cadena != "") {
                idTipoPrecio = $("#TipoPrecioId option:selected").val();
                $("#Input_TipoPrecioId option[value='" + idTipoPrecio + "']").prop('selected', true);
                $("#Input_TipoPrecioId").focus();
                traer_precio();
            }
        }
    });
    /*FUNCION KEYUP PARA EL CAMPO DE CODIGO DE PRODUCTO*/

    $(document).on("blur", "#codigo_producto", function () {
        var seguir = true;
        _codigo = $("#codigo_producto").val();
        _descripcion = "";
        _idsucursal = $("#id_sucursal option:selected").val();
        if ($("#codigo_producto").val().indexOf('|') != -1) {
            _codigo = $("#codigo_producto").val().split('|')[0];
            _descripcion = $("#codigo_producto").val().split('|')[1];
        }
        if (respetar_inventario) {
            seguir = traer_existencia_inventario(_codigo, _idsucursal);
            if (seguir) {
                traer_precio();
            }
            else {
                if (_codigo != '') {
                    var cantidad_en_existencia = traer_cantidad_inventario(_codigo, _idsucursal);
                    $('#TdInventario').html("<span style='color: red;'>" + cantidad_en_existencia + "</span>");
                    $("#AlertaProductoSinInventario").slideDown('slow').delay(3000).slideUp('slow');
                }
            }
        }
        else
        {
            traer_precio();
        }
    });
       /*FUNCION KEYUP PARA EL CAMPO DE CODIGO DE PRODUCTO*/

    /*FUNCION KEYUP PARA EL CAMPO DE CANTIDAD*/
    $(document).on("keyup", "#txt_cantidad", function (e) {
        cadena = $(this).val();
        _cantidad = 1;
        if (e.which == 13) {//enter
            if (cadena != "" && cadena != 0) {
                if (isNaN(parseFloat($("#id_precio").text()))) {
                    if ($("#id_precio").text() != "NO EXISTE")
                    { agregar_precio(); }
                }
                else {
                    if (respetar_inventario) {
                        var cantidad_en_existencia = 0;
                        var cantidad_a_veneder = $(this).val();
                        idTipoPrecio = $("#TipoPrecioId option:selected").val();
                        $("#Input_TipoPrecioId option[value='" + idTipoPrecio + "']").prop('selected', true);

                        _codigo = $("#codigo_producto").val();
                        _idsucursal = $("#id_sucursal option:selected").val();
                        if ($("#codigo_producto").val().indexOf('|') != -1) {
                            _codigo = $("#codigo_producto").val().split('|')[0];
                        }
                        cantidad_en_existencia = traer_inventario_utilizado(_codigo);
                        if ($("#codigo_producto").val() != "" && cantidad_en_existencia >= cantidad_a_veneder) {
                            //traer_precio_y_agregar_a_lista();
                            $('#agregar_concepto').trigger('click');
                            $("#TdPrecioUnitario").html("");
                            $("#TdInventario").html("");
                        }
                        else {
                            $('#agregar_concepto').hide();
                            $('#cantidad_inventario').html("Solo hay " + cantidad_en_existencia + " productos registrados en el inventario");
                            $("#AlertaProductoNoSuficienteInventario").slideDown('slow').delay(6000).slideUp('slow');
                            $(this).val("");
                        }
                    }
                    else {
                        idTipoPrecio = $("#TipoPrecioId option:selected").val();
                        $("#Input_TipoPrecioId option[value='" + idTipoPrecio + "']").prop('selected', true);
                        if ($("#codigo_producto").val() != "") {
                            //traer_precio_y_agregar_a_lista();
                            $('#agregar_concepto').trigger('click');
                        }
                    }
                }
            }
        }
    });
    /*FUNCION KEYUP PARA EL CAMPO DE CANTIDAD*/

    /*FUNCION PARA AGREGAR UN CONCEPTO*/
    $(document).on("click", "#agregar_concepto", function () {
        if ($('#txt_cantidad').val() != '' && $('#txt_cantidad').val() != 0) {
            traer_precio_y_agregar_a_lista();
        }
        else {
            $('#txt_cantidad').focus();
            $("#AlertaCantidadProducto").slideDown('slow').delay(3000).slideUp('slow');
        }
    });
    /*FUNCION PARA AGREGAR UN CONCEPTO*/

    /*FUNCION KEYUP PARA CUANDO SE AGREGA UN NUEVO PRECIO*/
    $(document).on("keyup", ".agregar_nuevo_precio", function (event) {
        var charCode = (event.which) ? event.which : event.keyCode
        if (charCode == 27) {
            $(".agregar_nuevo_precio").modal("hide");
            $("#Input_TipoPrecioId").focus();
        }
        if (charCode == 13) {//enter
            if (cadena != "") {
                guardarPrecio();
                $(".agregar_nuevo_precio").modal("hide");
                $("#Input_TipoPrecioId").focus();
            }
        }
    });
    /*FUNCION KEYUP PARA CUANDO SE AGREGA UN NUEVO PRECIO*/

    /*FUNCION PARA AGREGAR PRODUCTO DESDE VENTANA FLOTANTE DE PRODUCTOS*/
    $(document).on("dblclick", ".ModalListaProductos #tabla_lista_productos tbody tr", function (event) {
        codigo = $(this).children(".codigo_selecciona_producto").text();
        descripcion = $(this).children(".descripcion_selecciona_producto").text();
        $("#codigo_producto").val(codigo + " | " + descripcion);
        $(".bootbox").modal("hide");
        traer_precio();
        $("#Input_TipoPrecioId").focus();
        $("#Input_TipoPrecioId").select();
    });
    /*FUNCION PARA AGREGAR PRODUCTO DESDE VENTANA FLOTANTE DE PRODUCTOS*/

    /*FUNCION PARA AGREGAR CLIENTE DESDE VENTANA FLOTANTE DE CLIENTES*/
    $(document).on("dblclick", ".ModalListaClientes #tabla_lista_busqueda tbody tr", function (event) {
        nombre = $(this).children(".codigo_selecciona_producto").text();
        $("#txt_cliente").val(nombre);
        $(".bootbox").modal("hide");
        $("#codigo_producto").focus();
        traer_datos_cliente();
    });
    /*FUNCION PARA AGREGAR CLIENTE DESDE VENTANA FLOTANTE DE CLIENTES*/

    /*FUNCION PARA ELIMINAR UN CONCEPTO DE LA VENTA*/
    $(document).on("click", ".eliminar_concepto", function () {
        $(this).closest("tr").remove();
        calcula_totales();
    });
    /*FUNCION PARA ELIMINAR UN CONCEPTO DE LA VENTA*/

    /*FUNCION PARA HABILITAR EL CTRL+Z*/
    document.addEventListener('keydown', function (event) {
        if (event.keyCode == 90 && event.ctrlKey) {
            $("#TablaConceptos tbody .RenglonVenta:last").remove();
            calcula_totales();
        }
    }, false);
    /*FUNCION PARA HABILITAR EL CTRL+Z*/

    /*FUNCION PARA HABILITAR LAS TECLAS RAPIDAS EN CASO DE QUE EL NAVEGADOR SEA FIREFOX*/
    $(document).bind('keydown', function (event) {
        if ($(".bootbox").length == 0) {
            if (!Lock_keypress) {
                var charCode = event.keyCode;
                if (charCode === 112 /*F1*/) {
                    $("#codigo_producto").focus();
                    $("#codigo_producto").select();
                }
                if (charCode === 113 /*F2*/) {
                    var url = '@Url.Action("ModalProductos")';
                    var _vista_parcial;
                    $.ajax({
                        url: url,
                        data: {},
                        success: function (vistaParcial) {
                            bootbox.dialog({
                                className: "ModalListaProductos",
                                message: vistaParcial,
                                closeButton: false,
                                onEscape: true
                            });
                        },
                        async: false
                    });
                }
                if (charCode === 114 /*F3*/) {
                    event.preventDefault();
                    Lock_keypress = true;
                    var url = '@Url.Action("ModalListaClientes", "Cliente")';
                    var _vista_parcial
                    $.ajax({
                        url: url,
                        data: { idSucursal: $("#id_sucursal option:selected").val() },
                        success: function (vistaParcial) {
                            Lock_keypress = false;
                            bootbox.dialog({
                                className: "ModalListaClientes",
                                message: vistaParcial,
                                closeButton: false,
                                onEscape: true
                            });
                        },
                        async: false
                    });
                }
                if (charCode === 115 /*F4*/) {
                    confimar_nueva_venta();
                }
                if (charCode === 116 /*F5*/) {
                    event.preventDefault();
                    guardar_nueva_cotizacion();
                }
                if (charCode === 117 /*F6*/) {
                    limpiar_nueva_venta();
                }
            }
        }
    });
    /*FUNCION PARA HABILITAR LAS TECLAS RAPIDAS EN CASO DE QUE EL NAVEGADOR SEA FIREFOX*/

    function filtrar() {
        var url = '@Url.Action("VistaParcialNuevaVenta")';
        $.ajax({
            url: url,
            data: {},
            success: function (parcial) {
                $("#VistaParcialNuevaVenta").html(parcial);
            },
            async: false
        });
    }

    function CambiarPrecioEditado() {
        if ($(".ModalEditarPrecioProducto #nuevo_precio_editado").val() == '') {
            $("#AlertaFormulario").slideDown('slow').delay(3000).slideUp('slow');
        } else {
            $('.ModalEditarPrecioProducto').modal('hide');
            if (!precios_netos)
            {
                $("#id_precio").text($("#nuevo_precio_editado").val());
            }
            else
            {
                var porcentaje_iva_producto = parseFloat($('.ModalEditarPrecioProducto #porcentaje_iva_producto').val());
                var precio_unitario = parseFloat($("#nuevo_precio_editado").val()) / (1 + (parseFloat(porcentaje_iva_producto) / 100));
                $("#id_precio").text(parseFloat(precio_unitario));
            }
            agregar_a_lista();
        }
    }

    $(document).on('keypress', '.cantidad', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });

    $(document).on('change', '.cantidad', function (e) {
        if (respetar_inventario) {
            var cantidad_en_existencia = 0;
            _codigo = $(this).parent().prev().prev().html().trim();
            _idsucursal = $("#id_sucursal option:selected").val();
            var cantidad_en_existencia = traer_cantidad_inventario(_codigo.trim(), _idsucursal);
            var cantidad_utilizada = 0;
            $(".RenglonVenta").each(function () {
                var codigo_tr = $(this).children().html().trim();
                if (codigo_tr == _codigo) {
                    var utilizado_tr_individual = parseFloat($(this).find('td>input.cantidad').val());
                    cantidad_utilizada += parseFloat(utilizado_tr_individual);
                }
            });
            var cantidad_quiere_vender = parseFloat($(this).val());
            if (cantidad_utilizada > cantidad_en_existencia) {
                $('#cantidad_inventario').html("Solo hay " + cantidad_en_existencia + " productos registrados en el inventario." +
                    "Usted quiere vender " + cantidad_utilizada + " y solo se tiene un registro de " + cantidad_en_existencia + " productos en inventario");
                $("#AlertaProductoNoSuficienteInventario").slideDown('slow').delay(9000).slideUp('slow');
                var diferencia = cantidad_utilizada - cantidad_en_existencia;
                var nuevo_valor = cantidad_quiere_vender - diferencia;
                $(this).val(parseFloat(nuevo_valor));
            }
        }
        calcula_totales();
    });

    function AgregarNotaCredito() {
        var url = '@Url.Action("VerificarNotaCredito")';
        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: { id_nota_credito: $('#txt_id_nota_credito').val() },
            success: function (respuesta) {
                if (respuesta.correcto) {
                    if (respuesta.id_estatus_nota_credito == 1) {
                        var usado = false;
                        $('.NotaCredito').each(function () {
                            if (parseInt($(this).find('.IdNC').html()) == respuesta.id_nota_credito) {
                                usado = true;
                            }
                        });
                        if (usado) {
                            var url = '@Url.Action("ModalNotaCreditoUsada")';
                            $.ajax({
                                url: url,
                                data: {},
                                success: function (vistaParcial) {
                                    bootbox.dialog({
                                        className: "ModalNotaCreditoUsada",
                                        message: vistaParcial,
                                        closeButton: false,
                                        onEscape: true
                                    });
                                },
                                async: false
                            });
                            $('#txt_id_nota_credito').val('');
                            $('#txt_id_nota_credito').focus();
                        } else {
                            $('.ModalAgregarNotaCredito').modal('hide');
                            renglon = "<tr class='NotaCredito'>" +
                                    "<td class='IdNC' style='text-align: center;border: 0px; display:none;'>" + respuesta.id_nota_credito + "</td>" +
                                    "<td class='FolioNC' style='text-align: center;border: 0px;'>" + respuesta.folio_nota_credito + "</td>" +
                                    "<td class='SucursalNC' style='text-align: center;border: 0px;'>" + respuesta.sucursal + "</td>" +
                                    "<td class='EstatusNC' style='text-align:center;border: 0px;'>" + respuesta.estatus + "</td>" +
                                    "<td class='FechaCreacionNC' style='text-align: center;border: 0px;'>" + respuesta.fecha_creacion + "</td>" +
                                    "<td style='text-align: center;border: 0px;'><span> $</span><span class='ImporteNC'>" + respuesta.importe + "</span></td>" +
                                    "<td class='AccionNC' style='text-align: center;border: 0px;'><a class='btn btn-danger EliminarNC'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-times'></i></span><span class='button-content' style='margin-left:6px;'></span></a></td>" +
                                "</tr>";
                            $("#CuerpoTablaNotasCredito").prepend(renglon);
                            if ($('.NotaCredito').length > 0) {
                                $('.TRNC').show();
                            }
                            calcula_totales_confirmar_venta();
                            calcular_total();
                            calcular_cambio();
                            recalcular_porcentaje();
                            //Lo siguiente por si el pago es con tarjeta y cobran comision
                            recalcular_de_nuevo_si_existe_comision_pago_tarjeta();
                        }
                    } else if (respuesta.id_estatus_nota_credito == 2) {
                        var url = '@Url.Action("ModalNotaCreditoUsada")';
                        $.ajax({
                            url: url,
                            data: {},
                            success: function (vistaParcial) {
                                bootbox.dialog({
                                    className: "ModalNotaCreditoUsada",
                                    message: vistaParcial,
                                    closeButton: false,
                                    onEscape: true
                                });
                            },
                            async: false
                        });
                        $('#txt_id_nota_credito').val('');
                        $('#txt_id_nota_credito').focus();
                    } else if (respuesta.id_estatus_nota_credito == 3) {
                        var url = '@Url.Action("ModalNotaCreditoCancelada")';
                        $.ajax({
                            url: url,
                            data: {},
                            success: function (vistaParcial) {
                                bootbox.dialog({
                                    className: "ModalNotaCreditoCancelada",
                                    message: vistaParcial,
                                    closeButton: false,
                                    onEscape: true
                                });
                            },
                            async: false
                        });
                        $('#txt_id_nota_credito').val('');
                        $('#txt_id_nota_credito').focus();
                    }
                } else {
                    var url = '@Url.Action("ModalNotaCreditoInexistente")';
                    $.ajax({
                        url: url,
                        data: {},
                        success: function (vistaParcial) {
                            bootbox.dialog({
                                className: "ModalNotaCreditoInexistente",
                                message: vistaParcial,
                                closeButton: false,
                                onEscape: true
                            });
                        },
                        async: false
                    });
                    $('#txt_id_nota_credito').val('');
                    $('#txt_id_nota_credito').focus();
                }
            },
            async: false
        });
    }

    function AgregarDescuento() {
        var _monto = parseFloat($('#txt_monto').val());
        var _token = $('#txt_token_confirmacion').val();
        var _total = parseFloat($('#txt_total').html());
        if (!(_monto > 0 && _monto <= _total)) {
            $("#AlertaDescuento").slideDown('slow').delay(3000).slideUp('slow');
        }
        else {
            var url = '@Url.Action("VerificarDescuento")';
            var _id_sucursal = $('#id_sucursal').val();
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: { monto: _monto, token: _token, id_sucursal: _id_sucursal },
                success: function (respuesta) {
                    if (respuesta.correcto) {
                        $('#cuerpo_descuentos .monto_descuento').html(respuesta.monto);
                        var porcentaje = calcular_porcentaje_descuento(parseFloat(respuesta.monto));
                        $('#cuerpo_descuentos .porcentaje_descuento .solo_porcentaje').html(porcentaje.toFixed(2));
                        $('#txt_descuento_total').html(respuesta.monto);
                        calcula_totales_confirmar_venta();
                        calcular_total();
                        calcular_cambio();
                        $('.ModalAgregarDescuento').modal('hide');
                        $('.td_descuentos').show();
                        //Lo siguiente por si el pago es con tarjeta y cobran comision
                        recalcular_de_nuevo_si_existe_comision_pago_tarjeta();
                    } else {
                        var url = '@Url.Action("ModalFalloEntregaDescuento")';
                        $.ajax({
                            url: url,
                            data: {},
                            success: function (vistaParcial) {
                                bootbox.dialog({
                                    className: "ModalFalloEntregaDescuento",
                                    message: vistaParcial,
                                    closeButton: false,
                                    onEscape: true
                                });
                            },
                            async: false
                        });
                        $('#txt_token_confirmacion').val('');
                        $('#txt_monto').focus();
                    }
                },
                async: false
            });
        }
    }

    function calcular_porcentaje_descuento(descuento_individual) {
        var total_venta = parseFloat($('#txt_ventas').html());
        var total_nc = parseFloat($('#txt_notas_credito').html());
        var total_venta_menos_nc = total_venta - total_nc;
        var uno_porciento = total_venta_menos_nc / 100;
        var porcentaje = descuento_individual / uno_porciento;

        //return porcentaje.toFixed(2);
        return porcentaje;
    }

    function calcular_monto_descuento(porcentaje_individual) {
        var total_venta = parseFloat($('#txt_ventas').html());
        var total_nc = parseFloat($('#txt_notas_credito').html());
        var total_venta_menos_nc = total_venta - total_nc;
        var uno_porciento = total_venta_menos_nc / 100;
        var monto = uno_porciento * porcentaje_individual;

        //return monto.toFixed(2);
        return monto;
    }

    $(document).on("keyup", "#txt_porcentaje_monto", function () {
        if ($(this).val() < 100) {
            var nuevo_monto = calcular_monto_descuento($(this).val());
            $('#txt_monto').val(decimalAdjust('round', nuevo_monto, -2));
        }
        else {
            var total_maximo_descuento_venta = parseFloat($('#txt_ventas').html());
            nuevo_porcentaje = calcular_porcentaje_descuento(total_maximo_descuento_venta);
            $(this).val(decimalAdjust('round', nuevo_porcentaje, -2));
            $('#txt_monto').val(decimalAdjust('round', total_maximo_descuento_venta, -2));
        }
    });
    $(document).on("keyup", "#txt_monto", function () {
        var total_maximo_descuento_venta = parseFloat($('#txt_ventas').html());
        if ($(this).val() <= total_maximo_descuento_venta) {
            var nuevo_porcentaje = calcular_porcentaje_descuento($(this).val());
            $('#txt_porcentaje_monto').val(decimalAdjust('round', nuevo_porcentaje, -2));
        }
        else {
            $(this).val(total_maximo_descuento_venta);
            var nuevo_porcentaje = calcular_porcentaje_descuento($(this).val());
            $('#txt_porcentaje_monto').val(decimalAdjust('round', nuevo_porcentaje, -2));
        }
    });

    $(document).on('click', '.EliminarDescuento', function () {
        $('#txt_descuento_total').html("0.00");
        $('#cuerpo_descuentos .monto_descuento').html("");
        $('#cuerpo_descuentos .porcentaje_descuento .solo_porcentaje').html("");
        $('.td_descuentos').hide();
        calcula_totales_confirmar_venta();
        calcular_total();
        calcular_cambio();
        //Lo siguiente por si el pago es con tarjeta y cobran comision
        recalcular_de_nuevo_si_existe_comision_pago_tarjeta();
    });
    function recalcular_porcentaje() {
        var total_venta_inicial = parseFloat($('#txt_ventas').html());
        var total_notas_credito = parseFloat($('#txt_notas_credito').html());
        if (total_notas_credito == undefined || total_notas_credito == null) {
            total_notas_credito = 0;
        }
        var total_venta_menos_nc = total_venta_inicial - total_notas_credito;
        var uno_porciento = total_venta_menos_nc / 100;

        $('#cuerpo_descuentos .monto_descuento').each(function () {
            var descuento_individual = parseFloat($(this).html());
            if (descuento_individual != '' && descuento_individual != undefined && descuento_individual != null && descuento_individual > 0) {
                var porcentaje = descuento_individual / uno_porciento;
                $(this).next().children('.solo_porcentaje').html(porcentaje.toFixed(2));
            }
        });
    }

    function limpiar_nueva_venta() {
        if (confirmacion_directa) {
            window.location.href = '@Url.Action("NuevaVenta")';
        } else {
            var url = '@Url.Action("ModalLimpiarVenta")';
            var _vista_parcial
            $.ajax({
                url: url,
                data: {},
                success: function (vistaParcial) {
                    bootbox.dialog({
                        className: "ModalLimpiarVenta",
                        message: vistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    }
    function guardar_nueva_cotizacion() {
        if (confirmacion_directa) {
            guardar_cotizacion();
        } else {
            var url = '@Url.Action("ModalGuardarCotizacion")';
            var _vista_parcial
            $.ajax({
                url: url,
                data: {},
                success: function (vistaParcial) {
                    bootbox.dialog({
                        className: "ModalGuardarCotizacion",
                        message: vistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    }
    function guardar_cotizacion() {
        traer_datos_cliente();
        var conceptos = [];
        $("#TablaConceptos tbody .RenglonVenta").each(function () {
            id = $(this).attr("id");
            cantidad = $("#" + id + " .cantidad").val();
            codigo = $("#" + id + " .codigo").text();
            precio_U = $("#" + id + " .precio_u_redondeado").text();
            precio_U_original = $("#" + id + " .precio_u").text();
            importe = $("#" + id + " .importe").text();
            id_producto = $("#" + id + " .id_producto").text();
            id_tipo_precio = $("#" + id + " .id_tipo_precio").text();
            precio_en_dolares = $("#" + id + " .precio_unitario_dolares_redondeado").text();
            precio_en_dolares_original = $("#" + id + " .precio_unitario_dolares").text();
            var iva_unitario;
            var precio_unitario_mas_iva;
            var iva_importe;
            var importe_mas_iva;
            /*  *** *** *** Calcular el iva del la venta *** *** ***
            Se saca el iva de cada producto  y  se  suma,
            tener en cuenta que si el el iva es 0 ¡¡¡No multiplicar por 0!!!
            */
            var iva_producto = parseFloat($(this).find('.iva_producto').html());
            var iva_decimal;
            if (iva_producto > 0) {
                //iva_decimal = parseFloat(iva_producto / 100).toFixed(2);
                iva_decimal = parseFloat(iva_producto / 100);
            }
            else {
                iva_decimal = 0;
            }
            if (iva_decimal > 0) {
                iva_unitario = parseFloat(parseFloat(precio_U) * parseFloat(iva_decimal));
                iva_importe = parseFloat(parseFloat(importe) * parseFloat(iva_decimal));
            }
            else {
                iva_unitario = 0;
                iva_importe = 0;
            }
            precio_unitario_mas_iva = parseFloat(precio_U) + parseFloat(iva_unitario);
            importe_mas_iva = parseFloat(importe) + parseFloat(iva_importe);

            conceptos.push({
                id_producto: id_producto,
                tipoCliente_id: id_tipo_precio,
                cantidad: cantidad,
                precio_unitario: precio_U,
                precio_unitario_original: precio_U_original,
                iva_unitario: iva_unitario,
                precio_unitario_mas_iva: precio_unitario_mas_iva,
                importe: importe,
                iva_importe: iva_importe,
                importe_mas_iva: importe_mas_iva,
                precio_en_dolares: precio_en_dolares,
                precio_en_dolares_original: precio_en_dolares_original,
                codigo: codigo
            });
        });
        if (conceptos.length != 0) {
            var params = {
                'id_cliente': $("#id_cliente").val(),
                'lista_conceptos': conceptos,
                'precio_dolar_venta': $("#txtbox_precio_dolar").val(),
                'observaciones': $('#descripcion_venta').val(),
                'id_sucursal': $('#id_sucursal').val()
            };
            //guardar cotizacion
            var _url2 = '@Url.Action("NuevaCotizacion")';
            $.ajax({
                url: _url2,
                type: "POST",
                contentType: 'application/json;',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.success) {
                        $('.ModalGuardarCotizacion').modal('hide');
                        ConfiguracionImpresionCotizacion(result.idventa);
                        filtrar();
                    }
                    else {
                        alert("Error al guardar cotización:\n" + result.error);
                    }
                },
                async: false
            });
        }
        else {
            $('.ModalGuardarCotizacion').modal('hide');
            var url = '@Url.Action("ModalVentaVacia")';
            var _vista_parcial
            $.ajax({
                url: url,
                data: {},
                success: function (vistaParcial) {
                    bootbox.dialog({
                        className: "ModalVentaVacia",
                        message: vistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    }
    function confimar_nueva_venta() {
        var seguir = true;
        $('.cantidad').each(function () {
            if ($(this).val() == null || $(this).val() == undefined || $(this).val() == "") {
                seguir = false;
            }
        });
        if (!seguir) {
            $("#AlertaFormulario").slideDown('slow').delay(3000).slideUp('slow');
        } else {
            if ($('#txtbox_precio_dolar').val() == null || $('#txtbox_precio_dolar').val() == undefined || $('#txtbox_precio_dolar').val() == "") {
                $("#AlertaPrecioDolar").slideDown('slow').delay(3000).slideUp('slow');
            } else {
                if (confirmacion_directa) {
                    confirmar_venta();
                } else {
                    var url = '@Url.Action("ModalConfirmarVenta")';
                    var _vista_parcial
                    $.ajax({
                        url: url,
                        data: {},
                        success: function (vistaParcial) {
                            bootbox.dialog({
                                className: "ModalConfirmarVenta",
                                message: vistaParcial,
                                closeButton: false,
                                onEscape: true
                            });
                        },
                        async: false
                    });
                }
            }
        }
    }
    $(document).on("keypress", ".ModalConfirmarVentaDescentralizada", function (event) {
        var charCode = (event.which) ? event.which : event.keyCode;
        if (charCode === 13 /*enter -CONFIRMAR*/) {
            confirmarVenta();
        }
        else {
            var id_elemento_activo = $(':focus').attr("id");
            if (id_elemento_activo != "txt_pago_cliente" && id_elemento_activo != "txt_cambio") {
                if (charCode == 49 || charCode == 50 || charCode == 51 || charCode == 52) {
                    if (charCode === 49 /*1-EFECTIVO*/) {
                    }
                    if (charCode === 50 /*1-TAJETA*/) {
                    }
                    if (charCode === 51 /*1-PRESTAMO*/) {
                    }
                    if (charCode === 52 /*1-CREDITO*/) {
                    }
                }
            }
        }
    });
    var res = $('#string_tipos_pagos').val().split(",");
    $.each(res, function (index, value) {
        $(document).on("click", "#td_" + value, function () {
            if ($(this).hasClass('tipo_pago_seleccionado')) {
                $(this).css('background-color', 'black');
                $(this).css('border-color', 'black');
                $(this).removeClass('tipo_pago_seleccionado');
                $("#pago_" + value).hide();
                if (index == 0) {
                    $('#solo_para_cambio').css('visibility', 'hidden');
                }
                else if (index == 1) {
                    $('#solo_para_porcentaje_comision').css('visibility', 'hidden');
                }
                else if (index == 4) {
                    $('#solo_para_deposito').css('visibility', 'hidden');
                }
            } else {
                $(this).css('background-color', '#ff5757');
                $(this).css('border-color', '#ff5757');
                $(this).addClass('tipo_pago_seleccionado');
                $("#pago_" + value).show();
                $('#txt_pago_' + value).focus();
                if (index == 0) {
                    $('#solo_para_cambio').css('visibility', 'visible');
                }
                else if (index == 1) {
                    $('#solo_para_porcentaje_comision').css('visibility', 'visible');
                }
                else if (index == 4) {
                    $('#solo_para_deposito').css('visibility', 'visible');
                }
            }
            calcular_total();
            calcular_cambio();
        });
    });
    function confirmar_venta() {
        if (caja_centralizada) {
            confirmar_venta_caja_centralizada();
        }
        else {
            confirmar_venta_caja_descentalizada();
        }
    }
    function confirmar_venta_caja_centralizada() {
        traer_datos_cliente();
        var conceptos = [];
        $("#TablaConceptos tbody .RenglonVenta").each(function () {
            id = $(this).attr("id");
            cantidad = $("#" + id + " .cantidad").val();
            codigo = $("#" + id + " .codigo").text();
            precio_U = $("#" + id + " .precio_u_redondeado").text();
            precio_U_original = $("#" + id + " .precio_u").text();
            importe = $("#" + id + " .importe").text();
            id_producto = $("#" + id + " .id_producto").text();
            id_tipo_precio = $("#" + id + " .id_tipo_precio").text();
            precio_en_dolares = $("#" + id + " .precio_unitario_dolares_redondeado").text();
            precio_en_dolares_original = $("#" + id + " .precio_unitario_dolares").text();
            var iva_unitario;
            var precio_unitario_mas_iva;
            var iva_importe;
            var importe_mas_iva;
            /*  *** *** *** Calcular el iva del la venta *** *** ***
            Se saca el iva de cada producto  y  se  suma,
            tener en cuenta que si el el iva es 0 ¡¡¡No multiplicar por 0!!!
            */
            var iva_producto = parseFloat($(this).find('.iva_producto').html());
            var iva_decimal;
            if (iva_producto > 0) {
                //iva_decimal = parseFloat(iva_producto / 100).toFixed(2);
                iva_decimal = parseFloat(iva_producto / 100);
            }
            else {
                iva_decimal = 0;
            }
            if (iva_decimal > 0) {
                iva_unitario = parseFloat(parseFloat(precio_U) * parseFloat(iva_decimal));
                iva_importe = parseFloat(parseFloat(importe) * parseFloat(iva_decimal));
            }
            else {
                iva_unitario = 0;
                iva_importe = 0;
            }
            precio_unitario_mas_iva = parseFloat(precio_U) + parseFloat(iva_unitario);
            importe_mas_iva = parseFloat(importe) + parseFloat(iva_importe);

            conceptos.push({
                id_producto: id_producto,
                tipoCliente_id: id_tipo_precio,
                cantidad: cantidad,
                precio_unitario: precio_U,
                precio_unitario_original: precio_U_original,
                iva_unitario: iva_unitario,
                precio_unitario_mas_iva: precio_unitario_mas_iva,
                importe: importe,
                iva_importe: iva_importe,
                importe_mas_iva: importe_mas_iva,
                precio_en_dolares: precio_en_dolares,
                precio_en_dolares_original: precio_en_dolares_original,
                codigo: codigo
            });
        });
        if (conceptos.length != 0) {
            var params = {
                'id_cliente': $("#id_cliente").val(),
                'precio_dolar_venta': $("#txtbox_precio_dolar").val(),
                'lista_conceptos': conceptos,
                'observaciones': $('#descripcion_venta').val(),
                'id_sucursal': $('#id_sucursal').val()
            };
            //enviar venta
            var _url2 = '@Url.Action("confirmar_venta")';
            $.ajax({
                url: _url2,
                type: "POST",
                contentType: 'application/json;',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.success) {
                        $('.ModalConfirmarVenta').modal('hide');
                        var url = '@Url.Action("ModalFolioVenta")';
                        var _vista_parcial
                        $.ajax({
                            url: url,
                            data: { folio: result.serie_folio },
                            success: function (vistaParcial) {
                                bootbox.dialog({
                                    className: "ModalFolioVenta",
                                    message: vistaParcial,
                                    closeButton: false,
                                    onEscape: true
                                });
                            },
                            async: false
                        });
                    }
                    else {
                        alert("Error al emitir venta:\n" + result.error);
                    }
                },
                async: false
            });
        }
        else {
            $('.ModalConfirmarVenta').modal('hide');
            var url = '@Url.Action("ModalVentaVacia")';
            var _vista_parcial
            $.ajax({
                url: url,
                data: {},
                success: function (vistaParcial) {
                    bootbox.dialog({
                        className: "ModalVentaVacia",
                        message: vistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    }
    function confirmar_venta_caja_descentalizada() {
        traer_datos_cliente();
        var conceptos = [];
        $("#TablaConceptos tbody .RenglonVenta").each(function () {
            id = $(this).attr("id");
            cantidad = $("#" + id + " .cantidad").val();
            codigo = $("#" + id + " .codigo").text();
            precio_U = $("#" + id + " .precio_u_redondeado").text();
            precio_U_original = $("#" + id + " .precio_u").text();
            importe = $("#" + id + " .importe").text();
            id_producto = $("#" + id + " .id_producto").text();
            id_tipo_precio = $("#" + id + " .id_tipo_precio").text();
            precio_en_dolares = $("#" + id + " .precio_unitario_dolares_redondeado").text();
            precio_en_dolares_original = $("#" + id + " .precio_unitario_dolares").text();
            var iva_unitario;
            var precio_unitario_mas_iva;
            var iva_importe;
            var importe_mas_iva;
            /*  *** *** *** Calcular el iva del la venta *** *** ***
            Se saca el iva de cada producto  y  se  suma,
            tener en cuenta que si el el iva es 0 ¡¡¡No multiplicar por 0!!!
            */
            var iva_producto = parseFloat($(this).find('.iva_producto').html());
            var iva_decimal;
            if (iva_producto > 0) {
                //iva_decimal = parseFloat(iva_producto / 100).toFixed(2);
                iva_decimal = parseFloat(iva_producto / 100);
            }
            else {
                iva_decimal = 0;
            }
            if (iva_decimal > 0) {
                iva_unitario = parseFloat(parseFloat(precio_U) * parseFloat(iva_decimal));
                iva_importe = parseFloat(parseFloat(importe) * parseFloat(iva_decimal));
            }
            else {
                iva_unitario = 0;
                iva_importe = 0;
            }
            precio_unitario_mas_iva = parseFloat(precio_U) + parseFloat(iva_unitario);
            importe_mas_iva = parseFloat(importe) + parseFloat(iva_importe);

            conceptos.push({
                id_producto: id_producto,
                tipoCliente_id: id_tipo_precio,
                cantidad: cantidad,
                precio_unitario: precio_U,
                precio_unitario_original: precio_U_original,
                iva_unitario: iva_unitario,
                precio_unitario_mas_iva: precio_unitario_mas_iva,
                importe: importe,
                iva_importe: iva_importe,
                importe_mas_iva: importe_mas_iva,
                precio_en_dolares: precio_en_dolares,
                precio_en_dolares_original: precio_en_dolares_original,
                codigo: codigo
            });
        });
        if (conceptos.length != 0) {
            var params = {
                'id_cliente': $("#id_cliente").val(),
                'lista_conceptos': conceptos,
                'precio_dolar_venta': $("#txtbox_precio_dolar").val(),
                'observaciones': $('#descripcion_venta').val(),
                'id_sucursal': $('#id_sucursal').val()
            };
            //enviar venta
            var _url2 = '@Url.Action("confirmar_venta")';
            $.ajax({
                url: _url2,
                type: "POST",
                contentType: 'application/json;',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.success) {
                        ModalConfirmarVentaCentralizada = "";
                        $('.ModalConfirmarVenta').modal('hide');
                        var url = '@Url.Action("ModalConfirmarVentaDescentralizada")';
                        $.ajax({
                            url: url,
                            data: { idVenta: result.idventa },
                            type: "POST",
                            success: function (vista) {
                                bootbox.dialog({
                                    className: "ModalConfirmarVentaDescentralizada",
                                    message: vista,
                                    closeButton: false,
                                    onEscape: true
                                });
                            },
                            async: false
                        });
                    }
                    else {
                        alert("Error al emitir venta:\n" + result.error);
                    }
                },
                async: false
            });
        }
        else {
            $('.ModalConfirmarVenta').modal('hide');
            var url = '@Url.Action("ModalVentaVacia")';
            var _vista_parcial
            $.ajax({
                url: url,
                data: {},
                success: function (vistaParcial) {
                    bootbox.dialog({
                        className: "ModalVentaVacia",
                        message: vistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    }
    function confirmarVenta() {
        var hay_productos_cantidad_no_cero = false;
        //confirmar venta de status a venta entregada
        if ($(".ModalConfirmarVentaDescentralizada .tipo_pago_seleccionado").length == 0 && ((parseFloat($('#txt_ventas').html()) - parseFloat($('#txt_notas_credito').html()) - parseFloat($('#txt_descuento_total').html())) > 0)) {
            $("#AlertaFormulario").slideDown('slow').delay(3000).slideUp('slow');
        } else {
            var valor_total = 0;
            $('.txt_pago').each(function () {
                if ($(this).parent().parent().parent().parent().is(':visible') == true) {
                    if ($(this).val() > 0) {
                        valor_total = valor_total + parseFloat($(this).val());
                    }
                }
            });
            var valor_total_sin_contado = 0;
            $('.txt_pago').each(function () {
                if ($(this).parent().parent().parent().parent().is(':visible') == true && $(this).attr('name') != "1") {
                    if ($(this).val() > 0) {
                        valor_total_sin_contado = valor_total_sin_contado + parseFloat($(this).val());
                    }
                }
            });
            var es_pago_correcto = se_paga_correctamente_cantidades();
            if (parseFloat(valor_total) < parseFloat($('#txt_total').html()) || (!es_pago_correcto)) {
                if (!es_pago_correcto) {
                    MostrarAlertaPagoMayor();
                    OcultarAlertaPagoMayor();
                }
                else {
                    $("#AlertaCantidad").slideDown('slow').delay(3000).slideUp('slow');
                }
            } else {
                if (respetar_inventario) {
                    hay_productos_cantidad_no_cero = VerificarCantidadesNoCero();
                }
                else {
                    hay_productos_cantidad_no_cero = true;
                }
                if (hay_productos_cantidad_no_cero) {
                    id = $(".ModalConfirmarVentaDescentralizada #txt_id_venta_entregar").val();
                    folio_serie = $(".ModalConfirmarVentaDescentralizada #folio_serie_entregar").text();
                    var TiposPagos = [];
                    $('.txt_pago').each(function () {
                        if ($(this).parent().parent().parent().parent().is(':visible') == true) {
                            if ($(this).val() > 0) {
                                if (parseInt($(this).attr('name')) == 1) {
                                    var pago_efectivo = parseFloat($(this).val());
                                    var pago_no_efectivo = parseFloat(parseFloat(valor_total) - parseFloat(pago_efectivo));
                                    var pago_cambio = parseFloat($('#txt_cambio').html());
                                    TiposPagos.push({
                                        id_tipo_pago_venta: $(this).attr('name'),
                                        //cantidad: (valor_total - (pago_no_efectivo + pago_cambio)).toFixed(5)
                                        cantidad: (valor_total - (pago_no_efectivo + pago_cambio))
                                    });
                                } else {
                                    TiposPagos.push({
                                        id_tipo_pago_venta: $(this).attr('name'),
                                        cantidad: $(this).val()
                                    });
                                }
                            }
                        }
                    });
                    var NotasCredito = [];
                    $('.NotaCredito').each(function () {
                        NotasCredito.push($(this).find('.IdNC').html());
                    });
                    var Descuentos = [];
                    $('#cuerpo_descuentos .monto_descuento').each(function () {
                        var des_cuento = parseFloat($(this).html());
                        if (des_cuento != '' && des_cuento != undefined && des_cuento != null && des_cuento > 0) {
                            Descuentos.push($(this).html());
                        }
                    });
                    var Referencia = $('#txt_referencia').val();
                    if (Referencia == '' || Referencia == undefined) {
                        Referencia = null;
                    }
                    if ($('#RenglonVentaComision').length > 0)
                    {
                        var porcentaje_comision_pago_tarjeta = parseFloat($('#txt_porcentaje_comision').val());
                        var monto_comision = parseFloat($('#RenglonVentaComision .importe').html()) + parseFloat($('#RenglonVentaComision .iva_unitario').html());
                    }
                    else
                    {
                        var porcentaje_comision_pago_tarjeta = 0;
                        var monto_comision = 0;
                    }
                    var params = {
                        'id': id,
                        'ListaTiposPagos': TiposPagos,
                        'ListaNotasCredito': NotasCredito,
                        'ListaDescuentos': Descuentos,
                        'porcentaje_comision_pago_tarjeta': porcentaje_comision_pago_tarjeta,
                        'monto_comision': monto_comision,
                        'Referencia': Referencia
                    };
                    var _url2 = '@Url.Action("confirmar_venta_id")';
                    $.ajax({
                        url: _url2,
                        type: "POST",
                        contentType: 'application/json;',
                        dataType: 'json',
                        data: JSON.stringify(params),
                        success: function (result) {
                            if (result.success) {
                                $("#imprimirticket").attr("name", result.idventa);
                                $(".ModalConfirmarVentaDescentralizada").modal("hide");
                                if (confirmacion_directa) {
                                    $('.ModalConfirmarVentaCentralizada').modal('hide');
                                    ConfiguracionImpresionVenta(result.idventa, result.id_nueva_nota_credito, $('#txt_cambio').html());
                                    filtrar();
                                } else {
                                    var url = '@Url.Action("ModalVentaEntregadaExitosamente")';
                                    $.ajax({
                                        url: url,
                                        data: { folio: folio_serie, folio_nuevo: result.folio_serie_nueva, id_venta: result.idventa, id_nota_credito: result.id_nueva_nota_credito, cambio: $('#txt_cambio').html() },
                                        type: "POST",
                                        success: function (vista) {
                                            bootbox.dialog({
                                                className: "ModalVentaEntregadaExitosamente",
                                                message: vista,
                                                closeButton: false,
                                                onEscape: true
                                            });
                                        },
                                        async: false
                                    });
                                }
                            }
                            else {
                                alert("Error:<label style='font-weight: 500;'> " + result.error + "</label>");
                            }
                        },
                        async: false
                    });
                }
                else
                {
                    $("#AlertaProductoSinInventario").slideDown('slow').delay(6000).slideUp('slow');
                }
            }
        }
    }
    $(document).on('click', '.EliminarNC', function () {
        $(this).parent().parent().remove();
        if ($('.NotaCredito').length == 0) {
            $('.TRNC').hide();
        }
        calcula_totales_confirmar_venta();
        calcular_total();
        calcular_cambio();
        recalcular_porcentaje();
        //Lo siguiente por si el pago es con tarjeta y cobran comision
        recalcular_de_nuevo_si_existe_comision_pago_tarjeta();
    });
    function calcula_totales_confirmar_venta() {
        notas_credito_credito = 0;
        descuentos = 0;
        importe = 0;
        iva = 0;
        total = 0;
        ventas = 0;
        $('.NotaCredito').each(function () {
            notas_credito_credito += parseFloat($(this).find('.ImporteNC').html());
        });
        descuentos = parseFloat($('#txt_descuento_total').html());
        importe = parseFloat($('#txt_subtotal').html());
        iva = parseFloat($('#txt_iva').html());
        ventas = (parseFloat(importe) + parseFloat(iva));
        notas_credito_credito = parseFloat(notas_credito_credito);
        total = parseFloat(parseFloat(ventas) - parseFloat(notas_credito_credito) - parseFloat(descuentos)).toFixed(1);

        //total = (parseFloat(ventas) - parseFloat(notas_credito_credito) - parseFloat(descuentos));
        if (notas_credito_credito == 0) {
            $('#txt_notas_credito').css('color', 'black');
        } else {
            $('#txt_notas_credito').css('color', 'red');
        }
        if (ventas == 0) {
            $('#txt_ventas').css('color', 'black');
        } else {
            $('#txt_ventas').css('color', 'green');
        }
        if (total > 0) {
            $('#txt_total').css('color', 'green');
        } else if (total < 0) {
            $('#txt_total').css('color', 'red');
        } else {
            $('#txt_total').css('color', 'black');
        }
        $('#txt_notas_credito').text(notas_credito_credito);
        $("#txt_subtotal").text(importe);
        $("#txt_iva").text(iva);
        $('#txt_ventas').text(ventas);
        $("#txt_total").text(total);
    }
    function MostrarModalNotaVenta() {
        var url = '@Url.Action("ModalAgregarNotaCredito")';
        $.ajax({
            url: url,
            data: {},
            success: function (vistaParcial) {
                bootbox.dialog({
                    className: "ModalAgregarNotaCredito",
                    message: vistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    function MostrarModalDescuento() {
        var url = '@Url.Action("ModalAgregarDescuento")';
        $.ajax({
            url: url,
            data: {},
            success: function (vistaParcial) {
                bootbox.dialog({
                    className: "ModalAgregarDescuento",
                    message: vistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    $(document).on('keypress', '.decimal', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
</script>

@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA COTIZACION*@
<script type="text/javascript">
    var id_cotizacion = 0;
    var cantidad_tickets = parseInt($('#configuracion_cantidad_tickets').val());;
    function ConfiguracionImpresionCotizacion(id) {
        id_cotizacion = id;
        if (impresion_solo_ticket) {
            try {
                GenerarTicketCotizacion();
            } catch (e) {
                var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
                $.ajax({
                    url: url,
                    data: {},
                    success: function (VistaParcial) {
                        bootbox.dialog({
                            className: "ModalAdvertenciaImpresionNoMozilla",
                            message: VistaParcial,
                            closeButton: false,
                            onEscape: true
                        });
                    },
                    async: false
                });
            }
        } else {
            EscogerModoImpresionCotizacion();
        }
    }
    function EscogerModoImpresionCotizacion() {
        var url = '@Url.Action("ModalSeleccionarModoImpresion", "printer")';
        $.ajax({
            url: url,
            data: {},
            success: function (VistaParcial) {
                bootbox.dialog({
                    className: "ModalSeleccionarModoImpresion ModalSeleccionarModoImpresionCotizacion",
                    message: VistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    $(document).on('click', '.ModalSeleccionarModoImpresionCotizacion #selectPDF', function () {
        window.open('@Url.Action("traer_pdf_cotizacion", "FormatoPDF", new { id = "_id_" })'.replace("_id_", id_cotizacion));
        $(".ModalSeleccionarModoImpresion").modal("hide");        //}, 3000);
        bootbox.hideAll();
        window.location.reload(true);
    });
    $(document).on('click', '.ModalSeleccionarModoImpresionCotizacion #selectTicketPrinter', function () {
        try {
            $(".ModalSeleccionarModoImpresion").modal("hide");
            GenerarTicketCotizacion();
        } catch (e) {
            var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
            $.ajax({
                url: url,
                data: {},
                success: function (VistaParcial) {
                    bootbox.dialog({
                        className: "ModalAdvertenciaImpresionNoMozilla",
                        message: VistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    });
    function GenerarTicketCotizacion() {
        cantidad_tickets = parseInt(cantidad_tickets);
        if (isNaN(cantidad_tickets)) {
            cantidad_tickets = 1;
        }
        var url = '@Url.Action("VistaParcialGenerarTicketVenta", "Venta")';
        $.ajax({
            url: url,
            data: { idVenta: id_cotizacion },
            success: function (VistaParcial) {
                $("#Ticket").html(VistaParcial);
                for (var i = 0; i < cantidad_tickets; i++) {
                    ImprimirTicketCotizacion(document.getElementById('Ticket'));
                }
            },
            async: false
        });
    }
    function ImprimirTicketCotizacion(Ticket) {
        jsPrintSetup.setSilentPrint(true);
        var content = Ticket.innerHTML
        jsPrintSetup.setOption('marginTop', 5);
        jsPrintSetup.setOption('marginBottom', 15);
        jsPrintSetup.setOption('marginLeft', 5);
        jsPrintSetup.setOption('marginRight', 5);
        // set page header
        jsPrintSetup.setOption('headerStrLeft', '');
        jsPrintSetup.setOption('headerStrCenter', '');
        jsPrintSetup.setOption('headerStrRight', '');
        // set empty page footer
        jsPrintSetup.setOption('footerStrLeft', '');
        jsPrintSetup.setOption('footerStrCenter', '');
        jsPrintSetup.setOption('footerStrRight', '');
        jsPrintSetup.definePaperSize(101, 101, "Custom", "Custom_Paper", "Custom PAPER", 300, 400, jsPrintSetup.kPaperSizeMillimeters);
        jsPrintSetup.setPaperSizeData(101);
        //pwin.document.open();
        w = window.open();
        w.document.write(content);
        w.print();
        w.close();
        //setTimeout(function () { pwin.close(); }, 1000);
        jsPrintSetup.setSilentPrint(false);
    }
</script>
@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA COTIZACION*@

@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA VENTA Y NOTA DE CREDITO*@
<script type="text/javascript">
    var id_venta = 0;
    var id_nota_credito = 0;
    var cambio = 0;
    var cantidad_tickets = parseInt($('#configuracion_cantidad_tickets').val());;
    function ConfiguracionImpresionVenta(id, id_nc, cantidad_cambio) {
        id_venta = id;
        id_nota_credito = id_nc;
        cambio = cantidad_cambio;
        if (impresion_solo_ticket) {
            try {
                GenerarTicketVenta();
                if (parseInt(id_nota_credito) != 0) {
                    GenerarTicketNotaCredito();
                }
            } catch (e) {
                var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
                $.ajax({
                    url: url,
                    data: {},
                    success: function (VistaParcial) {
                        bootbox.dialog({
                            className: "ModalAdvertenciaImpresionNoMozilla",
                            message: VistaParcial,
                            closeButton: false,
                            onEscape: true
                        });
                    },
                    async: false
                });
            }
        } else {
            EscogerModoImpresionVenta();
        }
    }
    function EscogerModoImpresionVenta() {
        var url = '@Url.Action("ModalSeleccionarModoImpresion", "printer")';
        $.ajax({
            url: url,
            data: {},
            success: function (VistaParcial) {
                bootbox.dialog({
                    className: "ModalSeleccionarModoImpresion ModalSeleccionarModoImpresionVenta",
                    message: VistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    $(document).on('click', '.ModalSeleccionarModoImpresionVenta #selectPDF', function () {
        window.open('@Url.Action("GenerarPDFVenta", "FormatoPDF", new { id = "_id_" })'.replace("_id_", id_venta));
        $(".ModalSeleccionarModoImpresion").modal("hide");
        bootbox.hideAll();
        window.location.reload(true);
    });
    $(document).on('click', '.ModalSeleccionarModoImpresionVenta #selectTicketPrinter', function () {
        try {
            $(".ModalSeleccionarModoImpresion").modal("hide");
            GenerarTicketVenta();
        } catch (e) {
            var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
            $.ajax({
                url: url,
                data: {},
                success: function (VistaParcial) {
                    bootbox.dialog({
                        className: "ModalAdvertenciaImpresionNoMozilla",
                        message: VistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    });
    function GenerarTicketVenta() {
        cantidad_tickets = parseInt(cantidad_tickets);
        if (isNaN(cantidad_tickets)) {
            cantidad_tickets = 1;
        }
        var url = '@Url.Action("VistaParcialGenerarTicketVenta", "Venta")';
        $.ajax({
            url: url,
            data: { idVenta: id_venta, cambio: cambio },
            success: function (VistaParcial) {
                $("#Ticket").html(VistaParcial);
                for (var i = 0; i < cantidad_tickets; i++) {
                    ImprimirTicketVenta(document.getElementById('Ticket'));
                }
            },
            async: false
        });
    }
    function ImprimirTicketVenta(Ticket) {
        jsPrintSetup.setSilentPrint(true);
        var content = Ticket.innerHTML
        jsPrintSetup.setOption('marginTop', 5);
        jsPrintSetup.setOption('marginBottom', 15);
        jsPrintSetup.setOption('marginLeft', 5);
        jsPrintSetup.setOption('marginRight', 5);
        // set page header
        jsPrintSetup.setOption('headerStrLeft', '');
        jsPrintSetup.setOption('headerStrCenter', '');
        jsPrintSetup.setOption('headerStrRight', '');
        // set empty page footer
        jsPrintSetup.setOption('footerStrLeft', '');
        jsPrintSetup.setOption('footerStrCenter', '');
        jsPrintSetup.setOption('footerStrRight', '');
        jsPrintSetup.definePaperSize(101, 101, "Custom", "Custom_Paper", "Custom PAPER", 300, 400, jsPrintSetup.kPaperSizeMillimeters);
        jsPrintSetup.setPaperSizeData(101);
        //pwin.document.open();
        w = window.open();
        w.document.write(content);
        w.print();
        w.close();
        //setTimeout(function () { pwin.close(); }, 1000);
        jsPrintSetup.setSilentPrint(false);
    }
    function GenerarTicketNotaCredito() {
        cantidad_tickets = parseInt(cantidad_tickets);
        if (isNaN(cantidad_tickets)) {
            cantidad_tickets = 1;
        }
        var url = '@Url.Action("VistaParcialGenerarTicketNotaCredito", "NotaCredito")';
        $.ajax({
            url: url,
            data: { id: id_nota_credito },
            success: function (result) {
                $("#Ticket").html(result);
                for (var i = 0; i < cantidad_tickets; i++) {
                    ImprimirTicketNotaCredito(document.getElementById('Ticket'));
                }
            },
            async: false
        });
    }
    function ImprimirTicketNotaCredito(Ticket) {
        jsPrintSetup.setSilentPrint(true);
        var content = Ticket.innerHTML
        jsPrintSetup.setOption('marginTop', 5);
        jsPrintSetup.setOption('marginBottom', 15);
        jsPrintSetup.setOption('marginLeft', 5);
        jsPrintSetup.setOption('marginRight', 5);
        // set page header
        jsPrintSetup.setOption('headerStrLeft', '');
        jsPrintSetup.setOption('headerStrCenter', '');
        jsPrintSetup.setOption('headerStrRight', '');
        // set empty page footer
        jsPrintSetup.setOption('footerStrLeft', '');
        jsPrintSetup.setOption('footerStrCenter', '');
        jsPrintSetup.setOption('footerStrRight', '');
        jsPrintSetup.definePaperSize(101, 101, "Custom", "Custom_Paper", "Custom PAPER", 300, 400, jsPrintSetup.kPaperSizeMillimeters);
        jsPrintSetup.setPaperSizeData(101);
        //pwin.document.open();
        w = window.open();
        w.document.write(content);
        w.print();
        w.close();
        //setTimeout(function () { pwin.close(); }, 1000);
        jsPrintSetup.setSilentPrint(false);
    }
</script>
@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA VENTA Y NOTA DE CREDITO*@

<script type="text/javascript">
    function decimalAdjust(type, value, exp) {
        // If the exp is undefined or zero...
        if (typeof exp === 'undefined' || +exp === 0) {
            return Math[type](value);
        }
        value = +value;
        exp = +exp;
        // If the value is not a number or the exp is not an integer...
        if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
            return NaN;
        }
        // If the value is negative...
        if (value < 0) {
            return -decimalAdjust(type, -value, exp);
        }
        // Shift
        value = value.toString().split('e');
        value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));
        // Shift back
        value = value.toString().split('e');
        return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
    }

    // Decimal round
    if (!Math.round10) {
        Math.round10 = function (value, exp) {
            return decimalAdjust('round', value, exp);
        };
    }
    // Decimal floor
    if (!Math.floor10) {
        Math.floor10 = function (value, exp) {
            return decimalAdjust('floor', value, exp);
        };
    }
    // Decimal ceil
    if (!Math.ceil10) {
        Math.ceil10 = function (value, exp) {
            return decimalAdjust('ceil', value, exp);
        };
    }
</script>

<script type="text/javascript">
    $(document).on("keydown", ".txt_pago", function (event) {
        var charCode = (event.which) ? event.which : event.keyCode
        if (event.which == 13) {//enter
            $('#BotonConfirmarVenta').trigger('click');
        }
    });
</script>

<!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
<!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
<!-- *** *** *** *** ***            PARA LA MODALPRODUCTOS           *** *** *** *** *** *** *** -->
<!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
<!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
<script>
    var numeroProductos = $('#numeroProductos').val();
    var filtro = $('#filtro_lista').val();
    var ordenamiento = $('#ordenamiento').val();
    var pagina = 1;
    var siguiente_hoja = false;
    $(document).ready(function () {
        $(document).on('click', '#paginacion a', function () {
            pagina = $(this).attr("name");
            siguiente_hoja = true;
            VistaParcialProductos();
        });
        $(document).on('change', '#numeroProductos', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('change', '#filtro_lista', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('change', '#ordenamiento', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('change', '#productos_ocultos', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
    });

    function VistaParcialProductos() {
        numeroProductos = $('#numeroProductos').val();
        filtro = $('#filtro_lista').val();
        ordenamiento = $('#ordenamiento').val();
        productos_ocultos = $("input[id='productos_ocultos']:checked").length;
        if (siguiente_hoja == false) {
            pagina = 1;
        }
        var params = {
            'pagina': pagina,
            'numeroProductos': numeroProductos,
            'filtro': filtro,
            'ordenamiento': ordenamiento,
            'productos_ocultos': productos_ocultos
        };
        var url = '@Url.Action("_ModalProductos")';
        $.ajax({
            url: url,
            type: "POST",
            contentType: 'application/json;',
            data: JSON.stringify(params),
            success: function (productos) {
                $('#ModalListaProductos').html(productos);
            },
            async: false
        });
    }
    function CerrarModalListaProductos() {
        $('.ModalListaProductos').modal('hide');
        $('#txt_cantidad').focus();
    }
    $(document).on("dblclick", ".tr_modal_lista_productos", function () {
        var producto_cliqueado = $(this).children().html().trim();
        $("#codigo_producto").val(producto_cliqueado);
        var seguir = true;
        _idsucursal = $("#id_sucursal option:selected").val();
        if (respetar_inventario) {
            seguir = traer_existencia_inventario(producto_cliqueado, _idsucursal);
            if (seguir) {
                traer_precio();
                CerrarModalListaProductos();
            }
            else {
                if (producto_cliqueado != '') {
                    var cantidad_en_existencia = traer_cantidad_inventario(_codigo, _idsucursal);
                    if (parseFloat(cantidad_en_existencia) <= 0)
                    {
                        cantidad_en_existencia = 0;
                    }
                    $('#TdInventario').html("<span style='color: red;'>" + cantidad_en_existencia + "</span>");
                    $("#AlertaProductoSinInventario").slideDown('slow').delay(3000).slideUp('slow');
                    CerrarModalListaProductos();
                }
            }
        }
        else {
            traer_precio();
            CerrarModalListaProductos();
        }
    });
    function se_paga_correctamente_cantidades() {
        var valor_total = 0;
        var total_que_se_debe_pagar = parseFloat($('#txt_total').html().trim());
        $('.txt_pago').each(function () {
            if ($(this).parent().parent().parent().parent().is(':visible') == true) {
                if ($(this).val() > 0) {
                    valor_total = valor_total + parseFloat($(this).val());
                }
            }
        });
        var pago_contado = 0;
        if ($('#txt_pago_Efectivo').is(':visible')) {
            pago_contado = parseFloat($('#txt_pago_Efectivo').val());
            if (isNaN(pago_contado))
                pago_contado = 0;
        }
        var cambio = (parseFloat(total_que_se_debe_pagar) - parseFloat(valor_total)) * (-1);
        if (cambio > pago_contado)
            return false;
        else
            return true;
    }
</script>