﻿@model POS.Models.venta
@{
    ViewBag.Title = "POS - Error Al Recuperar La Venta";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Error Al Recuperar La Venta</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="float: left; width: 100%;">
            <table id="TablaConceptos" class="table" style="width: 100%;">
                <thead>
                    <tr>
                        <td style="text-align: center; padding-bottom: 20px; padding-top: 20px; font-size: 30px;">Esta cotización ya ha sido transformada a venta por entregar.</td>
                    </tr>
                </thead>
            </table>
        </div>
        <button onclick='location.href="@Url.Action("Cotizacion")"' class="btn btn-danger" style="margin-left:10px; margin-bottom:10px; margin-top:10px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-arrow-left"></i>
            </span>
            <span class="button-content">Volver</span>
        </button>
    </div>
</div>