﻿@model List<string>
@if (@Model.Count != 0)
{ }
<table id="tabla_lista_archivos_cotizacion" style="font-size: 12px;color: #7B7B7B;margin:0 auto">
    <tbody>
        @foreach (string archivo in @Model)
        {
            <tr FileName="@archivo" id_cotizacion="@ViewBag.id_cotizacion" style="cursor:pointer">
                <td style="text-align:center">@Html.Raw(POS.Fn.FnFiles.TraerIcono(archivo))</td>
                <td>@POS.Fn.FnFiles.CortarNombre(5,archivo,"...")</td>
@*                <td>
                    <label class="btn_ver_archivo boton_hover_verde " FileName="@archivo" style="padding: 2px;margin: 10px;" >
                        <i class="fa fa-check-square-o fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>Ver
                    </label>
                </td>
                <td>
                    <label class="eliminarOrden boton_hover_rojo" FileName="@archivo"   style="padding: 2px;margin: 10px;" >
                        <i class="fa fa-times-circle fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>Eliminar
                    </label>
                </td>*@
            </tr>
        }
    </tbody>
</table>
