﻿@{
    List<POS.Models.venta> ListaCotizaciones = ViewBag.ListaCotizaciones as List<POS.Models.venta>;
}

@foreach (POS.Models.venta cotizacion in ListaCotizaciones)
{
    <tr>
        <td style="text-align: center;">@cotizacion.Serie-@POS.Fn.Numeros.agregarCeros(cotizacion.Folio.Value)</td>
        <td style="text-align: center;">@cotizacion.cliente.Razon_social</td>
        <td style="text-align: center;">@cotizacion.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
        <td style="text-align: center;">@cotizacion.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">@cotizacion.usuario_punto_venta.nombre_usuario</td>
        <td style="text-align: center;">@cotizacion.conceptos_por_venta.Count</td>
        <td style="text-align: right;">
            @{
                decimal diff = POS.Fn.FnVenta.traerDiffMXN(cotizacion.id);
                string diff_string = Math.Round(diff).ToString("#,##0.00").Replace("-", "");
                if (Convert.ToDecimal(diff_string) != 0)
                {
                    <div style="margin-right: 20px">
                        $ @Math.Round(cotizacion.total.Value, 2).ToString("#,##0.00") MXN
                    </div>

                    if (diff > 0)
                    {
                        //aumento
                        <div>
                            <label style="color: #fc5858">+ $@diff_string<i class="glyph-icon icon-arrow-up" aria-hidden="true" style="margin-right: 15px;padding-left: 5px;"></i></label>
                        </div>
                    }
                    if (diff < 0)
                    {
                        //baja
                        <div>
                            <label style="color: #00b73e">- $@diff_string<i class="glyph-icon icon-arrow-down" aria-hidden="true" style="margin-right: 15px;padding-left: 5px;"></i></label>
                        </div>
                    }
                }
            }
        </td>
        <td style="text-align: right;">@POS.Fn.FnVenta.calcularNuevoTotalSumPesos(cotizacion.id)</td>
        <td style="text-align: center;">
            <section>
                <div class="wrapper-demo">
                    <div class="wrapper-dropdown-5" tabindex="1">
                        <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                        Acciones
                        <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                            <li>
                                <label onclick="RecuperarCotizacion(@cotizacion.id)" style="color: #0d5a22"><i class="glyph-icon icon-check" aria-hidden="true" style="margin-right: 15px;"></i>Recuperar</label>
                            </li>
                            <li>
                                <label onclick="ImprimirCotizacion(@cotizacion.id)" style="color: #254054"><i class="glyph-icon icon-print" aria-hidden="true" style="margin-right: 15px;"></i>Imprimir</label>
                            </li>
                            <li>
                                <label onclick="VerCotizacion(@cotizacion.id)" style="color: #254054"><i class="glyph-icon icon-eye" aria-hidden="true" style="margin-right: 15px;"></i>Detalle</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </td>
    </tr>
}

<script type="text/javascript">
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
    $(function () {
        $(".wrapper-dropdown-5").each(function () {
            var dd = new DropDown($(this));
            $(document).click(function () {
                // all dropdowns
                $('.wrapper-dropdown-5').removeClass('active');
            });
        });
    });
</script>