﻿<input id="codigo_producto" type="text" class="form-control autocomplete-input ui-autocomplete-input" autocomplete="off" style="text-align: center;" />
<script>
    $(document).ready(function () {
        var lista = @Html.Raw(ViewBag.codigos_autocomplete)
       $("#codigo_producto").autocomplete({
           source: lista
       });
    });
</script>
