﻿@{
    List<POS.Models.venta> ListaVentas = ViewBag.ListaVentas as List<POS.Models.venta>;
}

@foreach (POS.Models.venta venta in ListaVentas)
{
    <tr>
        <td id="@("serie_folio_" + venta.id) style="text-align:center;">@POS.Fn.Numeros.serie_folio_by_id(venta.id)</td>
        <td style="text-align:center;">@venta.cliente.Razon_social</td>
        <td style="text-align:center;">@venta.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
        <td style="text-align:center;">@venta.sucursal.nombre_sucursal</td>
        <td style="text-align:center;">@venta.usuario_punto_venta.nombre_usuario</td>
        <td style="text-align:center;">@venta.conceptos_por_venta.Count</td>
        <td style="text-align:center;">@venta.total</td>
        <td style="text-align:center;">
            <section>
                <div class="wrapper-demo">
                    <div class="wrapper-dropdown-5" tabindex="1">
                        <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                        Acciones
                        <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                            <li>
                                <label onclick="EntregarVenta(@venta.id)" style="color: #0d5a22"><i class="glyph-icon icon-check" aria-hidden="true" style="margin-right: 15px;"></i>Entregar</label>
                            </li>
                            <li>
                                <label onclick="EditarVenta(@venta.id)" style="color: #254054"><i class="glyph-icon icon-pencil" aria-hidden="true" style="margin-right: 15px;"></i>Editar</label>
                            </li>
                            <li>
                                <label onclick="ImprimirVenta(@venta.id)" style="color: #254054"><i class="glyph-icon icon-print" aria-hidden="true" style="margin-right: 15px;"></i>Imprimir</label>
                            </li>
                            <li>
                                <label onclick="VerVenta(@venta.id)" style="color: #254054"><i class="glyph-icon icon-eye" aria-hidden="true" style="margin-right: 15px;"></i>Detalle</label>
                            </li>
                            @if (venta.Serie != "T")
                            {
                                <li>
                                    <label onclick="CancelarVenta(@venta.id)" style="color: #ff0000"><i class="glyph-icon icon-times" aria-hidden="true" style="margin-right: 15px;"></i>Cancelar</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </section>
        </td>
    </tr>
}

<script>
    $("#TablaEntrega").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx", "csv", "txt"],     // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: 7,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>