﻿@model POS.Models.venta
@{
    List<POS.Models.nota_credito>
    ListaNotasCredito = ViewBag.ListaNotasCredito as List<POS.Models.nota_credito>;
    List<POS.Models.descuento> ListaDescuentos = ViewBag.ListaDescuentos as List<POS.Models.descuento>;
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    POS.Models.configuracion_pos configuracion_pos = POS.Fn.Configuracion.TraerConfiguracionPOS();
    Decimal total_descuentos = ViewBag.total_descuentos;
    Decimal total_porcentaje_descuentos = ViewBag.total_porcentaje_descuentos;
}

<table style="max-width: 320px; font-size: 16px; font-family: Arial; line-height: 16px;">
    <tr>
        <td colspan="4" style="text-align: center; padding-bottom: 20px; padding-top: 10px;">
            <img src="@Url.Content("/UploadFolder/logo/" + configuracion_general.logo)" style="max-width:300px; max-height:200px;" />
        </td>
    </tr>
    @Html.Raw(configuracion_pos.encabezado_ticket)
    @if (Model.catalogo_status_id == 1 || Model.catalogo_status_id == 2 || Model.catalogo_status_id == 3)
    {
        <tr style="text-align: center;">
            <td colspan="4" style="padding-bottom: 20px;">
                <label style="font-size: 20px; font-weight: 600; text-align:center;">VENTA</label>
            </td>
        </tr>
    }
    else if (Model.catalogo_status_id == 8 || Model.catalogo_status_id == 9 || Model.catalogo_status_id == 10 || Model.catalogo_status_id == 11 || Model.catalogo_status_id == 12)
    {
        <tr style="text-align: center; padding-bottom: 20px;">
            <td colspan="4" style="padding-bottom: 20px;">
                <label style="font-size: 20px; font-weight: 600; text-align:center;">VENTA ONLINE</label>
            </td>
        </tr>
    }
    @*
    else if (Model.catalogo_status_id == 4)
    {
        <tr style="text-align: center; padding-bottom: 20px;">
            <td colspan="4" style="padding-bottom: 20px;">
                <label style="font-size: 20px; font-weight: 600; text-align:center;">COTIZACIÓN</label>
            </td>
        </tr>
    }
    else if (Model.catalogo_status_id == 7)
    {
        <tr style="text-align: center; padding-bottom: 20px;">
            <td colspan="4" style="padding-bottom: 20px;">
                <label style="font-size: 20px; font-weight: 600; text-align:center;">COTIZACIÓN ONLINE</label>
            </td>
        </tr>
    }*@
    <tr>
        <td colspan="2">ID:</td>
        <td colspan="2" style="text-transform: uppercase;">@POS.Fn.Numeros.serie_folio_by_id(Model.id)</td>
    </tr>
    <tr>
        <td colspan="2">ESTATUS:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.catalogo_status.status.ToUpper()</td>
    </tr>
    <tr>
        <td colspan="2">CLIENTE:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.cliente.Razon_social</td>
    </tr>
    <tr>
        <td colspan="2">VENDEDOR:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.usuario_punto_venta.nombre_usuario</td>
    </tr>
    <tr>
        <td colspan="2">FECHA DE CREACION:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
    </tr>
    @if (Model.catalogo_status_id == 1)
    {
        <tr>
            <td colspan="2">FECHA DE ENTREGA:</td>
            <td colspan="2" style="text-transform: uppercase;">@Model.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    }
    @if (Model.catalogo_status_id == 2)
    {
        <tr>
            <td colspan="2">FECHA DE CANCELACION:</td>
            <td colspan="2" style="text-transform: uppercase;">@Model.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    }
@*    @if (Model.catalogo_status_id == 4)
    {
        <tr>
            <td colspan="2">FECHA DE COTIZACION:</td>
            <td colspan="2" style="text-transform: uppercase;">@Model.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    }
    @if (Model.catalogo_status_id == 7)
    {
        <tr>
            <td colspan="2">FECHA DE COTIZACION:</td>
            <td colspan="2" style="text-transform: uppercase;">@Model.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    }*@
    @if (Model.catalogo_status_id == 9)
    {
        <tr>
            <td colspan="2">FECHA DE PAGO:</td>
            <td colspan="2" style="text-transform: uppercase;">@Model.fecha_liquidacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    }
    @if (Model.catalogo_status_id == 10)
    {
        <tr>
            <td colspan="2">FECHA DE ENVIO:</td>
            <td colspan="2" style="text-transform: uppercase;">@Model.fechaEnvio.Value.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    }
    @if (Model.catalogo_status_id == 11)
    {
        <tr>
            <td colspan="2">FECHA DE RECIBIDO:</td>
            <td colspan="2" style="text-transform: uppercase;">@Model.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    }
    @if (Model.catalogo_status_id == 12)
    {
        <tr>
            <td colspan="2">FECHA DE CANCELACION:</td>
            <td colspan="2" style="text-transform: uppercase;">@Model.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
    }
    @if (Model.multiple_pago.Count > 0)
    {
        <tr>
            <td colspan="2">TIPO DE PAGO:</td>
            <td colspan="2" style="text-transform: uppercase;">
                @if (Model.multiple_pago.ToList().Count > 1)
                {
                    @:Multiple
                            }
                else
                {
                    @Model.multiple_pago.ToList().First().tipo_pago_venta.tipo
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="4" style="text-align: center">________________________________________________</td>
    </tr>
    <tr style="text-align: center;">
        <td colspan="4" style="padding-top:20px; padding-bottom:20px;">
            <label style="font-size: 18px; font-weight: 300; text-align:center;">CONCEPTOS</label>
        </td>
    </tr>
    <tr style="font-weight: 600">
        <td>DESC./CODIGO</td>
        <td style="margin-right: 5px;">CANTIDAD</td>
        <td>PRECIO</td>
        <td style="text-align: right">IMPOR.</td>
    </tr>
    @if (configuracion_general.desglose_iva.Value == true)
    {
        decimal subtotal = 0;
        decimal iva = 0;
        decimal total = 0;
        decimal notas_credito = 0;
        decimal ventas = 0;
        int index = 0;
        foreach (var c in Model.conceptos_por_venta)
        {
            index++;
            <tr>
                <td colspan="4">
                    <label style="font-weight: 600; text-transform: uppercase;">(@index)</label>
                    @c.producto.Descripcion
                </td>
            </tr>
            <tr>
                <td style="font-weight: 600; text-transform: uppercase;">@c.producto.Codigo</td>
                <td style="text-transform: uppercase;">@c.cantidad</td>
                <td style="text-transform: uppercase;">$ @c.precio_unitario</td>
                <td style="text-align: right; text-transform: uppercase;">$@c.importe</td>
            </tr>
            <tr>
                <td colspan="4">.</td>
            </tr>
        }
        subtotal = Model.subtotal.Value;
        iva = Model.iva.Value;
        ventas = Model.total.Value + total_descuentos;
        notas_credito = ListaNotasCredito.Select(x => x.cantidad).Sum().Value;
        total = ventas - notas_credito - total_descuentos;
        <tr>
            <td colspan="4" style="text-align: left;">NUMERO DE CONCEPTOS: @Model.conceptos_por_venta.Select(x => x.cantidad).Sum()</td>
        </tr>
        @*if (ListaNotasCredito.Count > 0)
            {
                <tr>
                    <td colspan="4" style="text-align: center">________________________________________________</td>
                </tr>
                <tr style="font-weight: 600">
                    <td colspan="2">NOTA DE CREDITO</td>
                    <td>VENTA PROVENIENTE</td>
                    <td>CANTIDAD</td>
                </tr>
                foreach (POS.Models.nota_credito nc in ListaNotasCredito)
                {
                    <tr>
                        <td colspan="2">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(nc.id)</td>
                        <td>@POS.Fn.Numeros.serie_folio_by_id(nc.id_venta)</td>
                        <td>$@Math.Round(nc.cantidad.Value, 2)</td>
                    </tr>
                }
            }
            if (ListaDescuentos.Count > 0)
            {
                <tr>
                    <td colspan="4" style="text-align: center">________________________________________________</td>
                </tr>
                <tr style="font-weight: 600">
                    <td colspan="2">DESCUENTOS</td>
                    <td>PORCENTAJE</td>
                    <td>MONTO</td>
                </tr>
                foreach (POS.Models.descuento descuento in ListaDescuentos)
                {
                    <tr>
                        <td colspan="2"></td>
                        <td>@Math.Round((Decimal)descuento.porcentaje, 2)%</td>
                        <td>@descuento.monto</td>
                    </tr>
                }
            }*@
    if (Model.multiple_pago.Count > 1)
    {
        <tr>
            <td colspan="4" style="text-align: center">________________________________________________</td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="4" style="padding-top:20px; padding-bottom:20px;">
                <label style="font-size: 18px; font-weight: 300; text-align:center;">TIPOS DE PAGO</label>
            </td>
        </tr>
        foreach (POS.Models.multiple_pago tipo_pago in Model.multiple_pago.ToList())
        {
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right;">@tipo_pago.tipo_pago_venta.tipo</td>
                <td style="text-align: right;"><span>$ &nbsp;</span>@tipo_pago.cantidad</td>
            </tr>
        }
    }
    <tr>
        <td colspan="4" style="text-align: center; padding-bottom:20px;">________________________________________________</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" style="text-align: right;">SUBTOTAL:</td>
        <td style="text-align: right;"><span>$ &nbsp;</span>@subtotal</td>
    </tr>
        <tr>
            <td></td>
            <td colspan="2" style="text-align: right;">I.V.A.:</td>
            <td style="text-align: right;"><span>$ &nbsp;</span>@iva</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" style="text-align: right;">VENTA:</td>
            <td style="text-align: right;"><span>$ &nbsp;</span>@ventas</td>
        </tr>
        if (notas_credito > 0)
        {
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right;">NOTAS DE CREDITO:</td>
                <td style="text-align: right;"><span>$ -</span>@Math.Round(notas_credito, 2)</td>
            </tr>
        }
        if (total_descuentos > 0)
        {
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right;">DESCUENTOS:</td>
                <td style="text-align: right;"><span>$ -</span>@Math.Round(total_descuentos, 2)</td>
            </tr>
        }
        <tr>
            <td></td>
            <td colspan="2" style="text-align: right;">TOTAL:</td>
            <td style="text-align: right;"><span>$ &nbsp;</span>@Math.Round(total, 2)</td>
        </tr>
        if (ViewBag.cambio != null)
        {
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right;">CAMBIO:</td>
                <td style="text-align: right;"><span>$ &nbsp;</span>@Math.Round(Convert.ToDecimal(ViewBag.cambio), 2)</td>
            </tr>
        }
        <tr>
            <td colspan="4" style="text-align: center"></td>
        </tr>
    }
    else
    {
        decimal subtotal = 0;
        decimal iva = 0;
        decimal total = 0;
        decimal notas_credito = 0;
        decimal ventas = 0;
        int index = 0;
        foreach (var c in Model.conceptos_por_venta)
        {
            index++;
            <tr>
                <td colspan="4">
                    <label style="font-weight: 600; text-transform: uppercase;">(@index)</label>
                    @c.producto.Descripcion
                </td>
            </tr>
            <tr>
                <td style="font-weight: 600; text-transform: uppercase;">@c.producto.Codigo</td>
                <td style="text-transform: uppercase;">@c.cantidad</td>
                <td style="text-transform: uppercase;">$ @c.precio_unitario_mas_iva</td>
                <td style="text-align: right; text-transform: uppercase;">$ @c.importe_mas_iva</td>
            </tr>
            <tr>
                <td colspan="4">.</td>
            </tr>
        }
        subtotal = Model.subtotal.Value;
        iva = Model.iva.Value;
        ventas = Model.total.Value + total_descuentos;
        notas_credito = ListaNotasCredito.Select(x => x.cantidad).Sum().Value;
        total = ventas - notas_credito - total_descuentos;
        <tr>
            <td colspan="4" style="text-align: left;">NUMERO DE CONCEPTOS: @Model.conceptos_por_venta.Select(x => x.cantidad).Sum()</td>
        </tr>
        @*if (ListaNotasCredito.Count > 0)
            {
                <tr>
                    <td colspan="4" style="text-align: center">________________________________________________</td>
                </tr>
                <tr style="font-weight: 600">
                    <td colspan="2">NOTA DE CREDITO</td>
                    <td>VENTA PROVENIENTE</td>
                    <td>CANTIDAD</td>
                </tr>
                foreach (POS.Models.nota_credito nc in ListaNotasCredito)
                {
                    <tr>
                        <td colspan="2">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(nc.id)</td>
                        <td>@POS.Fn.Numeros.serie_folio_by_id(nc.id_venta)</td>
                        <td>$@Math.Round(nc.cantidad.Value, 2)</td>
                    </tr>
                }
            }
            if (ListaDescuentos.Count > 0)
            {
                <tr>
                    <td colspan="4" style="text-align: center">________________________________________________</td>
                </tr>
                <tr style="font-weight: 600">
                    <td colspan="2">DESCUENTOS</td>
                    <td>PORCENTAJE</td>
                    <td>MONTO</td>
                </tr>
                foreach (POS.Models.descuento descuento in ListaDescuentos)
                {
                    <tr>
                        <td colspan="2"></td>
                        <td>@Math.Round((Decimal)descuento.porcentaje, 2)%</td>
                        <td>@descuento.monto</td>
                    </tr>
                }
            }*@
    if (Model.multiple_pago.Count > 1)
    {
        <tr>
            <td colspan="4" style="text-align: center">________________________________________________</td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="4" style="padding-top:20px; padding-bottom:20px;">
                <label style="font-size: 18px; font-weight: 300; text-align:center;">TIPOS DE PAGO</label>
            </td>
        </tr>
        foreach (POS.Models.multiple_pago tipo_pago in Model.multiple_pago.ToList())
        {
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right;">@tipo_pago.tipo_pago_venta.tipo</td>
                <td style="text-align: right;"><span>$ &nbsp;</span>@tipo_pago.cantidad</td>
            </tr>
        }
    }
    <tr>
        <td colspan="4" style="text-align: center; padding-bottom:20px;">________________________________________________</td>
    </tr>
        <tr>
            <td></td>
            <td colspan="2" style="text-align: right;">VENTA:</td>
            <td style="text-align: right;"><span>$ &nbsp;</span>@Math.Round(ventas, 2)</td>
        </tr>
        if (notas_credito > 0)
        {
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right;">NOTAS DE CREDITO:</td>
                <td style="text-align: right;"><span>$ -</span>@Math.Round(notas_credito, 2)</td>
            </tr>
        }
        if (total_descuentos > 0)
        {
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right;">DESCUENTOS:</td>
                <td style="text-align: right;"><span>$ -</span>@Math.Round(total_descuentos, 2)</td>
            </tr>
        }
        <tr>
            <td></td>
            <td colspan="2" style="text-align: right;">TOTAL:</td>
            <td style="text-align: right;"><span>$ &nbsp;</span>@Math.Round(total, 2)</td>
        </tr>
        if (ViewBag.cambio != null)
        {
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right;">CAMBIO:</td>
                <td style="text-align: right;"><span>$ &nbsp;</span>@Math.Round(Convert.ToDecimal(ViewBag.cambio), 2)</td>
            </tr>
        }
        <tr>
            <td colspan="4" style="text-align: center"></td>
        </tr>
    }
    @Html.Raw(configuracion_pos.pie_ticket)
</table>
