﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Editar Precio Del Dolar</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td style="text-align: center; border: 0px;">Precio Del Dolar: </td>
                    <td style="text-align: center; border: 0px;">
                        <input id="txt_nuevo_precio_dolar" type="text" name="precioDolar" class="form-control decimal" value="@ViewBag.precio_dolar" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; border: 0px;">
                        <a onclick="cambiar_precio_dolar()" class="btn btn-success">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </a>
                        <a onclick="CerrarModal()" class="btn btn-danger">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Cancelar</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalEditarPrecioDolar .modal-dialog').css('width', '30%');
    });
    function CerrarModal() {
        $('.ModalEditarPrecioDolar').modal('hide');
    }
    $(document).on('keypress', '.decimal', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
</script>
