﻿<tr class="tr_productos_destacados">
    <td colspan="4" style="border: 0px; text-align: center; font-weight: bold; font-size: 18px;">Vista Previa</td>
</tr>
<tr class="tr_productos_destacados">
    <td colspan="4" style="Border: 0px;">
        <img src="@Url.Content("~/assets-minified/images/productos_destacados.png")" style="max-width:100%;" />
    </td>
</tr>
