﻿@model POS.Models.usuario_punto_venta
@{
    ViewBag.Title = "POS - Nuevo Usuario";
    List<POS.Models.sucursal> ListaSucursales = ViewBag.ListaSucursales as List<POS.Models.sucursal>;
    List<POS.Models.permiso_vista> ListaPermisos = ViewBag.ListaPermisos as List<POS.Models.permiso_vista>;
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nuevo Usuario</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @using (Html.BeginForm("NuevoUsuario", "Usuario", FormMethod.Post, new { @id = "NuevoUsuario", @style = "margin-bottom:0px;" }))
        { 
            @Html.AntiForgeryToken()
            <table id="TablaUsuarios" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td colspan="6" style="border: 0px; text-align: center; background-color: #506676; color: white;">Informacion General</td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Nombre De Usuario: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Contraseña: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="password" class="form-control" id="pw" name="pw" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Nivel De Usuario: </td>
                        <td style="width: 25%; border: 0px;">@Html.DropDownList("nivel_usuario_id", null, new { @class = "form-control" })</td>
                        <td style="width: 150px; text-align: right; border: 0px;">Activo: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" id="id_estatus_usuario" name="id_estatus_usuario" value="1" style="display: none;" />
                            <input type="checkbox" class="switch-sucursal" style="margin: 5px" id="check_estatus_usuario" value="true" checked="checked" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px; text-align: center; background-color: #506676; color: white;">Sucursales</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <table class="table" style="width: 100%;">
                                <tr>
                                    <td colspan="7" style="border: 0px;">
                                        @foreach (POS.Models.sucursal sucursal in ListaSucursales)
                                        {
                                            <input type="checkbox" class="switch-sucursal" style="margin:5px" name="sucursalesSeleccionadas" value="@sucursal.id" @(false ? "checked=\"checked\"" : "")) /><label style="margin: 0px  20px 0 5px; font-weight: normal">@sucursal.nombre_sucursal</label>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px; text-align: center; background-color: #506676; color: white;">Permisos</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <table id="tablePermisos">
                                <thead>
                                    <tr>
                                        <td colspan="6">
                                            @Html.DropDownList("id_usuario_seleccionado", null, new { @class = "form-control", @style = "width: 200px; display:inline;" })
                                            <a id="btn_copiar_permisos" class="btn btn-info">
                                                <span class="glyph-icon icon-separator">
                                                    <i class="glyph-icon icon-check"></i>
                                                </span>
                                                <span class="button-content">Copiar Permisos</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 20px;"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                        @foreach (var permisosControlador in ListaPermisos.GroupBy(x => x.nombreControlador))
                                        {
                                            <tr>
                                                <td>@permisosControlador.First().nombreControlador.ToUpper()</td>
                                            </tr>
                                            <tr>
                                                @foreach (var permisoVista in permisosControlador)
                                            {
                                                <td>
                                                    <div style="display: inline">
                                                        <input type="checkbox" class="switch-sucursal" style="margin:5px" name="permisosSeleccionados" value="@permisoVista.id" @(false ? "checked=\"checked\"" : "")) />
                                                    </div>
                                                    <label style="margin: 0 20px 0 5px; font-weight: normal">@permisoVista.nombreVistaPublico</label>
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            <td style="height: 20px;"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaUsuario" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Nombre de usuario ya registrado en el sistema.</p>
                                </div>
                            </div>
                            <div id="AlertaPassword" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Verifique su contraseña. Mínimo 8 caracteres. Debe contener Mayúsculas, minúsculas y números. Se recomienda incluir algún carácter especial.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <a id="BotonAgregarUsuario" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </a>
                            <a href="@Url.Action("Index")" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Cancelar</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" id="AgregarUsuario" value="Guardar" style="display: none;" />
        }
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '#BotonAgregarUsuario', function () {
        $('#AgregarUsuario').trigger('click');
    });
</script>

<script type="text/javascript">
    var seguir = true;
    var contraseniaSegura = true;
    $(document).ready(function () {
        var elems = Array.prototype.slice.call(document.querySelectorAll('.switch-sucursal'));
        elems.forEach(function (html) {
            var switchery = new Switchery(html, { size: 'small', secondaryColor: 'rgb(206, 199, 199)' });
        });
        $('#NuevoUsuario').bind('submit', function (event) {
            seguir = true;
            $('.form-control').each(function () {
                if ($(this).val() == "") {
                    seguir = false;
                }
            });
            if (!seguir) {
                $("#AlertaFormulario").slideDown('slow').delay(3000).slideUp('slow');
            }
            //VerificarContrasena();
            VerificarUsuario();
            if (!seguir) {
                return false;
            }
        });
    });
    $(document).on('change', '#check_estatus_usuario', function () {
        if ($('#check_estatus_usuario').is(':checked')) {
            $('#id_estatus_usuario').val("1");
        } else {
            $('#id_estatus_usuario').val("2");
        }
    });
    $(document).on('change', '#pw', function () {
       // VerificarContrasena();
    });
    $(document).on('change', '#nombre_usuario', function () {
        VerificarUsuario();
    });
    function VerificarUsuario() {
        var url = '@Url.Action("VerificarUsuario")';
        $.ajax({
            url: url,
            data: { id: 0, usuario: $('#nombre_usuario').val() },
            type: "POST",
            async: false,
            success: function (existe) {
                if (existe == "True") {
                    $("#AlertaUsuario").slideDown('slow').delay(3000).slideUp('slow');
                    seguir = false;
                }
            }
        });
    }
    function VerificarContrasena() {
        contraseniaSegura = true;
        var pswd = $('#pw').val();
        if (pswd.length < 8) {
            contraseniaSegura = false;
        }
        else if (!(pswd.match(/[A-z]/))) {
            contraseniaSegura = false;
        }
        else if (!(pswd.match(/[A-Z]/))) {
            contraseniaSegura = false;
        }
        else if (!(pswd.match(/\d/))) {
            contraseniaSegura = false;
        }
        if (!contraseniaSegura) {
            $("#AlertaPassword").slideDown('slow').delay(3000).slideUp('slow');
            seguir = false;
        }
    }
    $(document).on('click', '#btn_copiar_permisos', function () {
        $("#tablePermisos tbody").html("<tr><td>....CargandoPermisos</td></tr>");
        var url = '@Url.Action("parcial_traerPermisosUsuario")';
        _id = parseInt($("#id_usuario_seleccionado option:selected").val());
        $.ajax({
            url: url,
            data: { id: $("#id_usuario_seleccionado option:selected").val() },
            success: function (permisos) {
                $("#tablePermisos tbody").hide().html(permisos).fadeIn('slow');
                //    S W I T C H E R Y 
                var elems = Array.prototype.slice.call(document.querySelectorAll('.switch-permiso'));
                elems.forEach(function (html) {
                    var switchery = new Switchery(html, { size: 'small', secondaryColor: 'rgb(206, 199, 199)' });
                });
                //    S W I T C H E R Y 
            },
            async: false
        });
    });
</script>
