﻿@{
    List<Tienda_Online.Models.itemproductocarrito2> ListaCarrito = ViewBag.ListaCarrito as List<Tienda_Online.Models.itemproductocarrito2>;
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
    Tienda_Online.Models.sucursal sucursal = Tienda_Online.Fn.Configuracion.TraerConfiguracionSucursales().First();
    List<Decimal> lista_subtotales_conceptos = new List<Decimal>();
    List<Decimal> lista_ivas_conceptos = new List<Decimal>();
    List<Decimal> lista_totales_conceptos = new List<Decimal>();
}

<style>
    p {
        margin: 0 !important;
    }
</style>
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootstrap.min.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/font-awesome.min.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/prettyPhoto.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/price-range.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/animate.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/main.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/responsive.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/etalage.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootbox.min.css")">
<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Montserrat">
<script type='text/javascript' src="@Url.Content("~/js/jquery.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/number.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/Numeros.js")"></script>

<html>
<body style="font-family: 'Montserrat', sans-serif;">
    <section id="cart_items">
        <div class="">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                </div>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="@Url.Content("~/UploadFolder/logo/" + configuracion_general.logo)" alt="Logotipo" style="width: 50%; margin-bottom:20px; margin-top:20px; margin-left: 2%;" />
                    </div>
                </div>
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">
                    <h2 style="font-size: 50px; color: #2f2f2f; font-weight: bold;">COTIZACIÓN</h2>
                </div>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @if (configuracion_general.marca != null)
                        {
                            <p>
                                <label>@configuracion_general.marca</label>
                            </p>
                        }
                        @if (sucursal.razon_social != null)
                        {
                            <p>
                                <label>@sucursal.razon_social</label>
                            </p>
                        }
                        @if (sucursal.rfc != null)
                        {
                            <p>
                                <label>@sucursal.rfc</label>
                            </p>
                        }
                        <p>
                            @if (sucursal.calle != null)
                            {
                                <label style="display: inline;">@sucursal.calle</label>
                            }
                            @if (sucursal.exterior != null)
                            {
                                <label style="display: inline;">@sucursal.exterior</label>
                            }
                            @if (sucursal.interior != null)
                            {
                                <label style="display: inline;">@sucursal.interior</label>
                            }
                            @if (sucursal.colonia != null)
                            {
                                <label style="display: inline;">@sucursal.colonia</label>
                            }
                        </p>
                        <p>
                            @if (sucursal.municipio != null)
                            {
                                <label style="display: inline;">@sucursal.municipio</label>
                            }
                            @if (sucursal.estado != null)
                            {
                                <label style="display: inline;">@sucursal.estado</label>
                            }
                            @if (sucursal.pais != null)
                            {
                                <label style="display: inline;">@sucursal.pais</label>
                            }
                            @if (sucursal.cp != null)
                            {
                                <label style="display: inline;">@sucursal.cp</label>
                            }
                        </p>
                        @foreach (Tienda_Online.Models.configuracion_sucursal_telefono configuracion_sucursal_telefono in sucursal.configuracion_sucursal_telefono.ToList())
                        {
                            if (configuracion_sucursal_telefono.nombre != null)
                            {
                            <p>@configuracion_sucursal_telefono.nombre</p>
                            }
                        }
                        @foreach (Tienda_Online.Models.configuracion_sucursal_correo configuracion_sucursal_correo in sucursal.configuracion_sucursal_correo.ToList())
                        {
                            if (configuracion_sucursal_correo.correo != null)
                            {
                            <p>@configuracion_sucursal_correo.correo</p>
                            }
                        }
                        <br />
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float: right; text-align: right">
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>FECHA:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>@DateTime.Now.ToString("dd/MM/yyyy HH:mm")</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>
                                <img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; margin:0px 10px;' />Dólar:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>
                                <label style="font-weight: normal;">$@ViewBag.tipoCambiario MXN</label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            @if (ListaCarrito != null)
            {
                if (ListaCarrito.Count != 0)
                {
                <div class="container" style="margin-bottom: 20px;">
                    @foreach (Tienda_Online.Models.itemproductocarrito2 producto in ListaCarrito)
                    {
                        Decimal subtotal_concepto_individual = Tienda_Online.Fn.FnCarrito.traerSubtotalConcepto(producto.Precio_Unitario, producto.Cantidad);
                        Decimal iva_concepto_individual = Tienda_Online.Fn.FnCarrito.traerIvaConcepto(producto.cantidad_iva_unitario, producto.Cantidad);
                        Decimal total_concepto_individual = Tienda_Online.Fn.FnCarrito.traerTotalConcepto(producto.Precio_Unitario, producto.cantidad_iva_unitario, producto.Cantidad);
                        lista_subtotales_conceptos.Add(subtotal_concepto_individual);
                        lista_ivas_conceptos.Add(iva_concepto_individual);
                        lista_totales_conceptos.Add(total_concepto_individual);
                        
                        <div class="ProductoCarrito col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="margin-top:20px !important;border: 1px solid #d7d5d5;margin-bottom: 20px; color: #4A4A4A" id_producto="@producto.Id" codigo="@producto.Codigo">
                            <div class=" col-lg-1 col-md-2 col-sm-12 col-xs-12" style="padding-top: 20px;">
                                <div class="canvas_img" style="height: 100px;">
                                    <div>
                                        @if (producto.imagen != null)
                                        {

                                            if (!producto.imagen.Equals(""))
                                            {
                                                if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + producto.imagen))))
                                                {
                                            <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/" + producto.imagen) + "');margin:0;width:auto;background-color: transparent;")"></div>
                                                }
                                                //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                                else
                                                {
                                            <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                                }
                                            }
                                            //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                            else
                                            {
                                            <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                        }
                                    </div>
                                </div>
                                <div style="width: 100%; text-align: center;" class="fontbolt20-sm-xs ">
                                    @producto.Codigo
                                </div>
                            </div>
                            <div class=" col-lg-11 col-md-11 col-sm-12 col-xs-12 nopadnomar-sm-sx">
                                <div class=" col-lg-12 col-md-12 col-sm-12  hide-sm-sx">
                                    <div class=" col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Nombre del producto y detalles</label>
                                    </div>
                                    <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Precio Unitario</label>
                                    </div>
                                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;">
                                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Cantidad</label>
                                    </div>
                                </div>
                                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12   nopadnomar-sm-sx">
                                    <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 align-center-sm-sx padtop20nomar-sm-sx">
                                        <label>@producto.Descripcion</label>
                                    </div>
                                    <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12 align-center-sm-sx ">
                                        @if (producto.Precio_Dolar == 0)
                                        {
                                            <label class="precio_unitario" style="font-weight: bold; line-height: 30px;">
                                                $
                                            <span class="precio" precio_dolar="@producto.Precio_Dolar" style="display: none">@producto.Precio_Unitario</span>
                                                <span class="iva_unitario" style="display: none;">@producto.cantidad_iva_unitario</span>
                                                <span style="font-weight: bold">@producto.Precio_Unitario.ToString("#,##0.00")</span>
                                                <span class="Moneda" style="font-weight: bold">MXN</span>
                                                <img class="bandera_unitario" src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px;' />
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="precio_unitario" style="font-weight: bold; line-height: 30px;">
                                                $
                                            <span class="precio" precio_dolar="@producto.Precio_Dolar" style="display: none">@producto.Precio_Unitario</span>
                                                <span class="iva_unitario" style="display: none;">@producto.cantidad_iva_unitario</span>
                                                <span style="font-weight: bold">@(Math.Round((producto.Precio_Unitario / ViewBag.tipoCambiario), 2).ToString("#,##0.00"))</span>
                                                <span class="Moneda" style="font-weight: bold">USD</span>
                                                <img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px;' />
                                            </label>
                                        }
                                    </div>
                                    <div class=" col-lg-3 col-md-2 col-sm-12 col-xs-12 align-center-sm-sx nopadnomar-sm-sx">
                                        <div style="text-align: center;">
                                            <div class="cart_quantity_button" id_producto="@producto.Id" style="display: inline-block;">
                                                <input class="cart_quantity_input form-control cantidad" type="text" value="@producto.Cantidad.ToString("#,##0")" autocomplete="off" style="width: 55px; border-radius: 0px;" disabled="disabled">
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 padtop20nomar-sm-sx">
                                        <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6 nopadnomar-sm-sx" style="padding: 0">
                                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                                        </div>
                                        <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6 nopadnomar-sm-sx" style="padding: 0">
                                            <label class="centrar_label" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                                $<span class="importe" style="font-weight: bold">@subtotal_concepto_individual</span>
                                                <span style="font-weight: bold; margin-right: 5px;">MXN</span>
                                            </label>
                                        </div>
                                        <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6 nopadnomar-sm-sx" style="padding: 0">
                                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                                        </div>
                                        <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6 nopadnomar-sm-sx" style="padding: 0">
                                            <label class="" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                            $<span class="iva" style="font-weight: bold">@iva_concepto_individual</span>
                                                <span style="font-weight: bold; margin-right: 5px;">MXN</span>
                                            </label>
                                        </div>
                                        <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6 nopadnomar-sm-sx" style="padding: 0">
                                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                                        </div>
                                        <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6 nopadnomar-sm-sx" style="padding: 0">
                                            <label class="" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                            $<span class="total" style="font-weight: bold">@total_concepto_individual</span>
                                                <span style="font-weight: bold; margin-right: 5px;">MXN</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                }
                else
                {
                <div class="container" style="margin-bottom: 20px;">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar-sm-sx" style="text-align: center;">
                        <label style="display: inline-block; padding: 20px; font-weight: bold; border: 1px dashed #4A4A4A; margin: 5px; color: #4A4A4A; width: 100%">La cotización esta vacía</label>
                    </div>
                </div>
                }
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar20-sm-sx " style="text-align: center;">
                    <div class="divTotales col-lg-11 col-md-11 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 nopadnomar-sm-sx" style="padding-left: 0px; padding-right: 0px; margin: 0px; width: 100%;">
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-8 col-md-offset-8" style="border: 1px solid #d7d5d5; margin-right: 0; padding-right: 0; padding-left: 0px;">
                            <div style="width: 100%;">
                                <h2 class="text-center" style="margin-top: 0px; padding-bottom: 10px; padding-top: 10px !important; font-size: 25px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2;">Totales</h2>
                            </div>
                            <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-4 nopadnomar-sm-sx" style="padding: 0">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-8 nopadnomar-sm-sx" style="padding: 0">
                                <label class="" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario; margin-right: 34px;">
                                $<span id="subtotalpesos" style="font-weight: bold">@lista_subtotales_conceptos.Sum()</span>
                                    <span style="font-weight: bold">MXN</span>
                                </label>
                            </div>
                            <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-4 nopadnomar-sm-sx" style="padding: 0">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-8 nopadnomar-sm-sx" style="padding: 0">
                                <label style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario; margin-right: 34px">
                                $<span id="ivaPesos" style="font-weight: bold">@lista_ivas_conceptos.Sum()</span>
                                    <span style="font-weight: bold">MXN</span>
                                </label>
                            </div>
                            <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-4 nopadnomar-sm-sx" style="padding: 0">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-8 nopadnomar-sm-sx" style="padding: 0">
                                <label style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                $<span id="totalPesos" style="font-weight: bold">@lista_totales_conceptos.Sum()</span>
                                    <span style="font-weight: bold">MXN</span>
                                    <img class="bandera_subtotal" src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px; vertical-align: central;margin: 0 0 0 10px' />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="container" style="margin-bottom: 20px;">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                        <label style="display: inline-block; padding: 20px; font-weight: bold; border: 1px dashed #4A4A4A; margin: 5px; color: #4A4A4A; width: 100%">La cotización esta vacía</label>
                    </div>
                </div>
            }
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center;">
                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="text-align: center;">
                            <label>DATOS DE TRANFERENCIA</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center;">
                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin-top: 20px">
                    @foreach (Tienda_Online.Models.configuracion_cuenta_bancaria configuracion_cuenta_bancaria in sucursal.configuracion_cuenta_bancaria.ToList())
                    {
                        <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: left;">
                                <label>@configuracion_cuenta_bancaria.beneficiario</label><br />
                                <label>@configuracion_cuenta_bancaria.banco.nombre</label><br />
                                <label>@configuracion_cuenta_bancaria.clabe</label><br />
                                <label>@configuracion_cuenta_bancaria.cuenta</label><br />
                                <label>@configuracion_cuenta_bancaria.otro</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center;">
                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="text-align: center;">
                            <label>TERMINOS Y CONDICIONES</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center;">
                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="text-align: left;">
                            @sucursal.terminos_condicones
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center;">
                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="text-align: left;">
                            @sucursal.pie_cotizacion
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $(".reload_page").click(function () {
            location.reload();
        });
        InputEnteroSinDecimales(".cantidad");
        $('precio_unitario').each(function () {
            $(this).html(parseFloat($(this).html()).toFixed(2));
        });
        CalcularTotales();
    });
    function CalcularTotales() {
        var subtotalPesos = 0;
        var ivaPesos = 0;
        var totalPesos = 0;
        var subtotalDolares = 0;
        var precioDolar = parseFloat("@ViewBag.tipoCambiario");

        $('.ProductoCarrito').each(function () {
            var unitario = $(this).find('.precio_unitario .precio').html();
            var iva_unitario = $(this).find('.precio_unitario .iva_unitario').html();
            var cantidad = parseFloat($(this).find('.cantidad').val()).toFixed(2);

            var precio_concepto_producto = (parseFloat(unitario) * cantidad);
            var iva_concepto_producto = (parseFloat(iva_unitario) * cantidad);
            var total_concepto_producto = parseFloat(precio_concepto_producto) + parseFloat(iva_concepto_producto);

            subtotalPesos += parseFloat(precio_concepto_producto);
            ivaPesos += parseFloat(iva_concepto_producto);
            totalPesos += parseFloat(total_concepto_producto);

            //if ($(this).find('.precio_unitario .precio').attr("precio_dolar") == 1) {
            //    importe = importe * precioDolar;
            //}

            $(this).find(".importe").html($.number(precio_concepto_producto, 2))
            $(this).find(".iva").html($.number(iva_concepto_producto, 2))
            $(this).find(".total").html($.number(total_concepto_producto, 2));
            Moneda = $(this).find('.Moneda').html();
            banderaSrc = $(this).find('.bandera_unitario').attr("src");
            $(this).find(".tipoMoneda").html(Moneda);
            //$(importe).html((parseFloat($(this).find('.precio_unitario').html()) * );
        });

        var ivaDolares = 0;
        var totalPesos = parseFloat(subtotalPesos) + parseFloat(ivaPesos);
        var totalDolares = parseFloat(subtotalDolares) + parseFloat(ivaDolares);

        $("#subtotalpesos").html($.number(subtotalPesos, 2));
        $("#ivaPesos").html($.number(ivaPesos, 2));
        $("#totalPesos").html($.number(totalPesos, 2));

        $("#subtotaldolares").html($.number(subtotalpesos, 2));
        $("#ivadolares").html($.number(ivaPesos, 2));
        $("#totaldolares").html($.number(totalPesos, 2));
    }
</script>


