﻿@{
    ViewBag.Title = "POS - Historial De Movimientos";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Historial De Movimientos</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="margin-left: 10px; margin-top: 10px; float: left;">
            <label>Periodo: </label>
            <div class="btn btn-primary" style="width: 375px; background-color: #254054; border-color: #254054;">
                <i class="glyph-icon icon-calendar"></i>
                <input type="text" id="periodo" class="form-control" readonly="readonly" style="border: none; background-color: transparent; color: white; padding-left: 0px; display: inline; box-shadow: none; cursor: pointer; opacity: 100; text-align: center;" />
            </div>
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 160px;" })
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Tipo de Movimiento: </label>
            @Html.DropDownList("id_tipo_movimiento_inventario", null, new { @class = "form-control", @style = "display: inline; width: 160px;" })
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="MasDetalle" class="btn btn-info" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-eye"></i>
                </span>
                <span class="button-content">Mas Detalle</span>
            </a>
        </div>
        @*<div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarExcel" class="btn btn-success" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <table id="TablaMovimientosInventario" class="table table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Tipo De Movimiento</th>
                    <th>Genera</th>
                    <th>Recibe</th>
                    <th>Total De Conceptos</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla" style="font-size:13px;">
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#periodo').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
            "timePickerSeconds": true,
            "locale": {
                "format": "MM/DD/YYYY hh:mm:ss A",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizado",
                "daysOfWeek": ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                "firstDay": 1
            },
            ranges: {
                'Hoy': ["@ViewBag.HoyInicio", "@ViewBag.HoyFin"],
                'Ayer': ["@ViewBag.AyerInicio", "@ViewBag.AyerFin"],
                'Antier': ["@ViewBag.AntierInicio", "@ViewBag.AntierFin"],
                'Semana Actual': ["@ViewBag.SemanaActualInicio", "@ViewBag.SemanaActualFin"],
                'Semana Pasada': ["@ViewBag.SemanaPasadaInicio", "@ViewBag.SemanaPasadaFin"],
                'Semana Antepasada': ["@ViewBag.SemanaAntepasadaInicio", "@ViewBag.SemanaAntepasadaFin"],
                'Quincena Actual': ["@ViewBag.QuincenaActualInicio", "@ViewBag.QuincenaActualFin"],
                'Quincena Pasada': ["@ViewBag.QuincenaPasadaInicio", "@ViewBag.QuincenaPasadaFin"],
                'Quincena Antepasada': ["@ViewBag.QuincenaAntepasadaInicio", "@ViewBag.QuincenaAntepasadaFin"],
                'Mes Actual': ["@ViewBag.MesActualInicio", "@ViewBag.MesActualFin"],
                'Mes Pasado': ["@ViewBag.MesPasadoInicioFin", "@ViewBag.MesPasadoFin"],
                'Mes Antepasado': ["@ViewBag.MesAntepasadoInicio", "@ViewBag.MesAntepasadoFin"]
            }
        });
    });

    $(document).ready(function () {
        $('#id_tipo_movimiento_inventario').prepend('<option value="0">Todos</option>');
        $('#id_tipo_movimiento_inventario option[value="0"]').attr("selected", "selected");
        onload = function () {
            filtrar();
        }
        $("#periodo").change(function () {
            filtrar_fechas();
        });
        $("#id_sucursal").change(function () {
            establecer_id_sucursal_virtual(parseInt($(this).val()));
            filtrar();
        });
        $("#id_tipo_movimiento_inventario").change(function () {
            filtrar();
        });
        $("#ExportarExcel").click(function () {
            $('#TablaMovimientosInventario .xlsx').trigger("click");
        });
        function filtrar() {
            periodo = $("#periodo").val();
            var id_sucursal_virtual = recuperar_id_sucursal_virtual();
            if (id_sucursal_virtual != null)
                _id_sucursal = id_sucursal_virtual;
            else
                _id_sucursal = $("#id_sucursal").val();
            var url = '@Url.Action("VistaParcialHistorialMovimientosInventario")';
            $.ajax({
                url: url,
                data: { idSucursal: _id_sucursal, id_tipo_movimiento: $('#id_tipo_movimiento_inventario').val(), periodo: periodo },
                success: function (result) {
                    $('#TablaMovimientosInventario').dataTable().fnClearTable();
                    $('#TablaMovimientosInventario').dataTable().fnDestroy();
                    $("#CuerpoTabla").html(result);
                    $(".wrapper-dropdown-5").each(function () {
                        var dd = new DropDown($(this));
                        $(document).click(function () {
                            $('.wrapper-dropdown-5').removeClass('active');
                        });
                    });
                    CrearTablaMovimientosInventario();
                    $('#TablaMovimientosInventario').css('width', '100%');
                },
                async: false
            });
        }
        function filtrar_fechas() {
            periodo = $("#periodo").val();
            _id_sucursal = $("#id_sucursal option:selected").val();
            var url = '@Url.Action("VistaParcialHistorialMovimientosInventario")';
            $.ajax({
                url: url,
                data: { idSucursal: _id_sucursal, id_tipo_movimiento: $('#id_tipo_movimiento_inventario').val(), periodo: periodo },
                success: function (result) {
                    $('#TablaMovimientosInventario').dataTable().fnClearTable();
                    $('#TablaMovimientosInventario').dataTable().fnDestroy();
                    $("#CuerpoTabla").html(result);
                    $(".wrapper-dropdown-5").each(function () {
                        var dd = new DropDown($(this));
                        $(document).click(function () {
                            $('.wrapper-dropdown-5').removeClass('active');
                        });
                    });
                    CrearTablaMovimientosInventario();
                    $('#TablaMovimientosInventario').css('width', '100%');
                },
                async: false
            });
        }
    });
    $(document).on('click', '#MasDetalle', function () {
        var url = $(this).attr('href');
        window.location.href = url;
    });
    function DetalleMovimiento(id) {
        var url = '@Url.Action("ModalConceptosMovimientoInventario")';
        var _vista_parcial
        $.ajax({
            url: url,
            data: { id: id },
            success: function (vistaParcial) {
        bootbox.dialog({
            className: "ModalConceptosMovimientoInventario",
            message: vistaParcial,
            closeButton: false,
            onEscape: true
        });
            },
            async: false
        });
    }
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
</script>

<script type="text/javascript">
    function CrearTablaMovimientosInventario() {
        $('#TablaMovimientosInventario').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Historial de Movimientos de Inventario',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Historial de Movimientos de Inventario',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Movimientos de Inventario',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
    @*$('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var periodo = $("#periodo").val();
        var id_tipo_movimiento = $('#id_tipo_movimiento_inventario').val();
        var url = '@Url.Action("TraerPDFListaMovimientosInventarios", "FormatoPDF", new { idSucursal = "_id_", id_tipo_movimiento = "_id_tipo_movimiento_", periodo = "_periodo_" })'.replace("_id_", id_sucursal);
        url = url.replace("_id_tipo_movimiento_", id_tipo_movimiento);
        url = url.replace("_periodo_", periodo);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }*@
</script>
