﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white; line-height: 35px;">Log</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaLog" class="table table-hover" style="width: 100%;">
        </table>
        <a onclick="CerrarModalLog()" class="btn btn-danger" style="margin-left: 10px; margin-bottom: 10px; margin-top: 10px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-times"></i>
            </span>
            <span class="button-content">Cerrar</span>
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#TablaLog').html("@Html.Raw(ViewBag.tabla)");
        $('.ModalLog .modal-dialog').css('width', '50%');
        $('#TablaLog tbody tr td').each(function () {
            $(this).css('text-align', 'center');
        });
    });
    function CerrarModalLog() {
        $('.ModalLog').modal('hide');
    }
</script>
