﻿@model IEnumerable<POS.Models.temp_movimientos_actualiza_inventario>
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white; line-height: 35px;">@ViewBag.titulo</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaProductosExcel" class="table table-hover" id="filtro">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Ubicación</th>
                    <th>Cantidad</th>
                    <th>Descripción del movimiento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (POS.Models.temp_movimientos_actualiza_inventario p in Model)
                {
                    <tr>
                        <td style="text-align: center;">@p.Codigo</td>
                        <td style="text-align: center;">@p.ubicacion</td>
                        <td style="text-align: center;">@p.cantidad</td>
                        <td style="text-align: center;">@p.desc_movimiento</td>
                    </tr>
                }
            </tbody>
        </table>
        <a onclick="CerrarModalProductos()" class="btn btn-danger" style="margin-left: -205px; margin-bottom: 10px; margin-top: 20px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-times"></i>
            </span>
            <span class="button-content">Cerrar</span>
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.modal_listaExcelProductos .modal-dialog').css('width', '95%');
    });
    function CerrarModalProductos() {
        $('.modal_listaExcelProductos').modal('hide');
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#TablaProductosExcel').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true
        });
    });
</script>
