.font-black {
    color: #464646!important;
}

.font-blue {
    color: #1f6dca!important;
}

.font-blue-alt {
    color: #65a6ff!important;
}

.font-azure {
    color: #41e5c0!important;
}

.font-gray, .text-muted {
    color: #c2c2c2!important;
}

.font-gray-dark, .text-info {
    color: #828282!important;
}

.font-green, .text-success {
    color: #9cd159!important;
}

.font-orange, .text-warning {
    color: #fa7753!important;
}

.font-yellow {
    color: #fc0!important;
}

.font-purple {
    color: #984dff!important;
}

.font-red, .parsley-required, .text-danger {
    color: #ff5757!important;
}

.font-white {
    color: #fff!important;
}

.alert-info, .alert-info a {
    color: #6c6c6c;
    border-color: #c9c9c9;
    background: #e5e5e5;
}

.alert-notice, .alert-notice a {
    color: #0f2c62;
    border-color: #62baf6;
    background: #c6e8ff;
}

.alert-success, .alert-success a, .parsley-success {
    color: #1e620f;
    border-color: #7cd362;
    background: #d3ffc6;
}

.parsley-success {
    background: #fff;
}

.alert-warning, .alert-warning a, .warning {
    color: #624b0f;
    border-color: #ebc875;
    background: #ffeec6;
}

.alert-danger, .alert-danger a, .danger, .parsley-error {
    color: #620f0f;
    border-color: #db6a6a;
    background: #ffc6c6;
}

.parsley-error {
    background: #fff;
}

.bg-facebook {
    color: #fff!important;
    background: #3b5998;
}

.btn.bg-facebook:hover {
    background: #304b85;
}

.bg-twitter {
    color: #fff!important;
    background: #3a92c8;
}

.btn.bg-twitter:hover {
    background: #2b80b4;
}

.bg-google {
    color: #fff!important;
    background: #dd4b39;
}

.btn.bg-google:hover {
    background: #c93b2a;
}

/*.badge-info, .bg-blue, .bootstrap-switch-info, .btn-info, .checkbox-info div[id^=uniform-] span.checked, .hover-blue:hover, .hover-info:hover, .label-info, .radio-info div[id^=uniform-] span.checked {
    color: #fff;
    border-color: #3dc4f5;
    background: #5bccf6;
}*/

.badge-info, .bg-blue, .bootstrap-switch-info, .btn-info, .checkbox-info div[id^=uniform-] span.checked, .hover-blue:hover, .hover-info:hover, .label-info, .radio-info div[id^=uniform-] span.checked {
    color: #fff;
    border-color: #254054;
    background: rgba(44, 91, 125, 0.83);
}

    /*.btn-info.active, .btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info:active, .btn-info:focus, .btn-info:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, .label-info[href]:focus, .label-info[href]:hover, .open .dropdown-toggle.btn-info {
        color: #fff;
        background: #45bfec;
    }*/
    .btn-info.active, .btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info:active, .btn-info:focus, .btn-info:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, .label-info[href]:focus, .label-info[href]:hover, .open .dropdown-toggle.btn-info {
        color: #fff;
        background: rgba(24, 89, 138, 0.54);
    }

.badge-danger, .bg-danger, .bg-red, .bootstrap-switch-danger, .btn-danger, .checkbox-danger div[id^=uniform-] span.checked, .hover-danger:hover, .hover-red:hover, .label-danger, .radio-danger div[id^=uniform-] span.checked {
    color: #fff;
    border-color: #f33;
    background: #ff5757;
}

    .btn-danger.active, .btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, .label-danger[href]:focus, .label-danger[href]:hover, .open .dropdown-toggle.btn-danger {
        color: #fff;
        border-color: #ff1f1f;
        background: #f33;
    }

.badge-gray, .bg-gray, .btn-gray, .hover-gray:hover, .label-gray {
    color: #666;
    background: #efefef;
}

    .btn-gray.active, .btn-gray.disabled, .btn-gray.disabled.active, .btn-gray.disabled:active, .btn-gray.disabled:focus, .btn-gray.disabled:hover, .btn-gray:active, .btn-gray:focus, .btn-gray:hover, .btn-gray[disabled], .btn-gray[disabled].active, .btn-gray[disabled]:active, .btn-gray[disabled]:focus, .btn-gray[disabled]:hover, .label-gray[href]:focus, .label-gray[href]:hover, .open .dropdown-toggle.btn-gray {
        color: #333;
        background: #e7e7e7;
    }

.badge-gray-alt, .bg-gray-alt, .btn-gray-alt, .hover-gray-alt:hover, .label-gray-alt {
    color: #888;
    background: #f6f6f6;
}

    .btn-gray-alt.active, .btn-gray-alt.disabled, .btn-gray-alt.disabled.active, .btn-gray-alt.disabled:active, .btn-gray-alt.disabled:focus, .btn-gray-alt.disabled:hover, .btn-gray-alt:active, .btn-gray-alt:focus, .btn-gray-alt:hover, .btn-gray-alt[disabled], .btn-gray-alt[disabled].active, .btn-gray-alt[disabled]:active, .btn-gray-alt[disabled]:focus, .btn-gray-alt[disabled]:hover, .label-gray-alt[href]:focus, .label-gray-alt[href]:hover, .open .dropdown-toggle.btn-gray-alt {
        color: #444;
        background: #ededed;
    }

.badge-black, .bg-black, .btn-black, .hover-black:hover, .label-black {
    color: #ccc;
    border-color: #000;
    background: #2d2d2d;
}

    .btn-black.active, .btn-black.disabled, .btn-black.disabled.active, .btn-black.disabled:active, .btn-black.disabled:focus, .btn-black.disabled:hover, .btn-black:active, .btn-black:focus, .btn-black:hover, .btn-black[disabled], .btn-black[disabled].active, .btn-black[disabled]:active, .btn-black[disabled]:focus, .btn-black[disabled]:hover, .label-black[href]:focus, .label-black[href]:hover, .open .dropdown-toggle.btn-black {
        color: #fdfdfd;
        background: #151515;
    }

.badge-black-opacity, .bg-black-opacity, .btn-black-opacity, .hover-black-opacity:hover, .label-black-opacity {
    color: #ccc;
    background: rgba(0,0,0,.7);
}

    .btn-black-opacity.active, .btn-black-opacity.disabled, .btn-black-opacity.disabled.active, .btn-black-opacity.disabled:active, .btn-black-opacity.disabled:focus, .btn-black-opacity.disabled:hover, .btn-black-opacity:active, .btn-black-opacity:focus, .btn-black-opacity:hover, .btn-black-opacity[disabled], .btn-black-opacity[disabled].active, .btn-black-opacity[disabled]:active, .btn-black-opacity[disabled]:focus, .btn-black-opacity[disabled]:hover, .label-black-opacity[href]:focus, .label-black-opacity[href]:hover, .open .dropdown-toggle.btn-black-opacity {
        color: #fff;
        background: rgba(0,0,0,.95);
    }

.badge-black-opacity-alt, .bg-black-opacity-alt, .btn-black-opacity-alt, .hover-black-opacity-alt:hover, .label-black-opacity-alt {
    color: #fff;
    background: rgba(0,0,0,.2);
    border-color: transparent;
}

    .btn-black-opacity-alt.active, .btn-black-opacity-alt.disabled, .btn-black-opacity-alt.disabled.active, .btn-black-opacity-alt.disabled:active, .btn-black-opacity-alt.disabled:focus, .btn-black-opacity-alt.disabled:hover, .btn-black-opacity-alt:active, .btn-black-opacity-alt:focus, .btn-black-opacity-alt:hover, .btn-black-opacity-alt[disabled], .btn-black-opacity-alt[disabled].active, .btn-black-opacity-alt[disabled]:active, .btn-black-opacity-alt[disabled]:focus, .btn-black-opacity-alt[disabled]:hover, .label-black-opacity-alt[href]:focus, .label-black-opacity-alt[href]:hover, .open .dropdown-toggle.btn-black-opacity-alt {
        color: #fff;
        background: rgba(0,0,0,.3);
    }

/*.badge-success, .bg-green, .bootstrap-switch-success, .btn-success, .checkbox-success div[id^=uniform-] span.checked, .hover-green:hover, .hover-success:hover, .label-success, .radio-success div[id^=uniform-] span.checked {
    color: #fff;
    border-color: #8eca3f;
    background: #9cd159;
}*/

.badge-success, .bg-green, .bootstrap-switch-success, .btn-success, .checkbox-success div[id^=uniform-] span.checked, .hover-green:hover, .hover-success:hover, .label-success, .radio-success div[id^=uniform-] span.checked {
    color: #fff;
    border-color: rgb(7, 66, 23);
    background: rgb(13, 90, 34);
}

    /*.btn-success.active, .btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success:active, .btn-success:focus, .btn-success:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, .label-success[href]:focus, .label-success[href]:hover, .open .dropdown-toggle.btn-success {
        color: #fff;
        border-color: #79b030;
        background: #8eca3f;
    }*/

    .btn-success.active, .btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success:active, .btn-success:focus, .btn-success:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, .label-success[href]:focus, .label-success[href]:hover, .open .dropdown-toggle.btn-success {
        color: #fff;
        border-color: rgb(7, 66, 23);
        background: rgba(7, 66, 23, 0.64);
    }

.badge-warning, .bg-orange, .bg-warning, .bootstrap-switch-warning, .btn-warning, .checkbox-warning div[id^=uniform-] span.checked, .hover-orange:hover, .hover-warning:hover, .label-warning, .radio-warning div[id^=uniform-] span.checked {
    color: #fff;
    border-color: #f96339;
    background: #fa7753;
}

    .btn-warning.active, .btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, .label-warning[href]:focus, .label-warning[href]:hover, .open .dropdown-toggle.btn-warning {
        color: #fff;
        background: #e95f3a;
    }

.bg-white, .label-white {
    background: #fff;
}

.bg-white-opacity {
    background: rgba(255,255,255,.85);
}

.hover-white:hover {
    background: #fafafa;
}

.badge-yellow, .bg-yellow, .btn-yellow, .hover-yellow:hover, .label-yellow {
    color: #fff;
    background: #fc0;
}

    .btn-yellow.active, .btn-yellow.disabled, .btn-yellow.disabled.active, .btn-yellow.disabled:active, .btn-yellow.disabled:focus, .btn-yellow.disabled:hover, .btn-yellow:active, .btn-yellow:focus, .btn-yellow:hover, .btn-yellow[disabled], .btn-yellow[disabled].active, .btn-yellow[disabled]:active, .btn-yellow[disabled]:focus, .btn-yellow[disabled]:hover, .label-yellow[href]:focus, .label-yellow[href]:hover, .open .dropdown-toggle.btn-yellow {
        color: #fff;
        background: #ddb411;
    }

.badge-purple, .bg-purple, .btn-purple, .hover-purple:hover, .label-purple {
    color: #fff;
    background: #984dff;
}

    .btn-purple.active, .btn-purple.disabled, .btn-purple.disabled.active, .btn-purple.disabled:active, .btn-purple.disabled:focus, .btn-purple.disabled:hover, .btn-purple:active, .btn-purple:focus, .btn-purple:hover, .btn-purple[disabled], .btn-purple[disabled].active, .btn-purple[disabled]:active, .btn-purple[disabled]:focus, .btn-purple[disabled]:hover, .label-purple[href]:focus, .label-purple[href]:hover, .open .dropdown-toggle.btn-purple {
        color: #fff;
        background: #8134eb;
    }

.badge-blue-alt, .bg-blue-alt, .btn-blue-alt, .hover-blue-alt:hover, .label-blue-alt {
    color: #fff;
    background: #65a6ff;
}

    .btn-blue-alt.active, .btn-blue-alt.disabled, .btn-blue-alt.disabled.active, .btn-blue-alt.disabled:active, .btn-blue-alt.disabled:focus, .btn-blue-alt.disabled:hover, .btn-blue-alt:active, .btn-blue-alt:focus, .btn-blue-alt:hover, .btn-blue-alt[disabled], .btn-blue-alt[disabled].active, .btn-blue-alt[disabled]:active, .btn-blue-alt[disabled]:focus, .btn-blue-alt[disabled]:hover, .label-blue-alt[href]:focus, .label-blue-alt[href]:hover, .open .dropdown-toggle.btn-blue-alt {
        color: #fff;
        background: #478ded;
    }

.badge-azure, .bg-azure, .btn-azure, .hover-azure:hover, .label-azure {
    color: #fff;
    background: #41e5c0;
}

    .btn-azure.active, .btn-azure.disabled, .btn-azure.disabled.active, .btn-azure.disabled:active, .btn-azure.disabled:focus, .btn-azure.disabled:hover, .btn-azure:active, .btn-azure:focus, .btn-azure:hover, .btn-azure[disabled], .btn-azure[disabled].active, .btn-azure[disabled]:active, .btn-azure[disabled]:focus, .btn-azure[disabled]:hover, .label-azure[href]:focus, .label-azure[href]:hover, .open .dropdown-toggle.btn-azure {
        color: #fff;
        background: #27d1ab;
    }

.border-black {
    border-color: #212121!important;
}

.border-blue {
    border-color: #5bccf6!important;
}

.border-blue-alt {
    border-color: #65a6ff!important;
}

.border-azure {
    border-color: #41e5c0!important;
}

.border-gray {
    border-color: #c2c2c2!important;
}

.border-gray-dark {
    border-color: #828282!important;
}

.border-green {
    border-color: #9cd159!important;
}

.border-orange {
    border-color: #fa7753!important;
}

.border-yellow {
    border-color: #fc0!important;
}

.border-purple {
    border-color: #984dff!important;
}

.border-red {
    border-color: #ff5757!important;
}

.parsley-success {
    border-color: #77e038!important;
}

.parsley-error {
    border-color: #e03838!important;
}
