﻿@model POS.Models.cliente
@{
    ViewBag.Title = "POS - Editar Dias De Credito";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Editar Dias De Credito</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @using (Html.BeginForm("EditarDiasCredito", "Credito", FormMethod.Post, new { @style = "margin-bottom:0px;" }))
        { 
            <input name="id" value="@ViewBag.id" style="display:none;" />
            <table id="TablaUsuarios" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Cliente: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" value="@Model.Razon_social" readonly="readonly" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Dias de Credito: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" name="dias" value="@Model.dias_credito" /></td>
                        <td style=" border: 0px;"></td>
                        <td style=" border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style=" border: 0px;">
                            <a id="BotonEditarCliente" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </a>
                            @if (Convert.ToInt32(ViewBag.ruta) == 1)
                            {
                                <a href="@Url.Action("Index")" class="btn btn-danger">
                                    <span class="glyph-icon icon-separator">
                                        <i class="glyph-icon icon-times"></i>
                                    </span>
                                    <span class="button-content">Cancelar</span>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("MostrarCreditosClientes", new { id = Model.id })" class="btn btn-danger">
                                    <span class="glyph-icon icon-separator">
                                        <i class="glyph-icon icon-times"></i>
                                    </span>
                                    <span class="button-content">Cancelar</span>
                                </a>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="text" name="ruta" value="@ViewBag.ruta" style="display: none;" />
            <input type="submit" id="EditarCliente" value="Guardar" style="display: none;" />
        }
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '#BotonEditarCliente', function () {
        $('#EditarCliente').trigger('click');
    });
</script>
