﻿@{
    List<POS.Models.venta> ListaVentasCreditoCliente = ViewBag.ListaVentasCreditoCliente as List<POS.Models.venta>;
}

@foreach (POS.Models.venta venta in ListaVentasCreditoCliente)
{
    <tr>
        <td style="text-align: center;">@venta.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">@venta.Serie-@POS.Fn.Numeros.agregarCeros(venta.Folio.Value)</td>
        <td style="text-align: center;">@venta.cliente.Razon_social</td>
        <td style="text-align: center;">@venta.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
        <td style="text-align: center;">@venta.usuario_punto_venta.nombre_usuario</td>
        <td style="text-align: center;">@venta.total</td>
        <td style="text-align: center;">@venta.aduedo</td>
        <td style="text-align: center;">
            @if (venta.aduedo.Value != 0)
            {
                <label style="color: #0d5a22;"><span class="visible-print-block">Pendiente</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
            }
            else
            {
                <label style="color: #ff0000;"><span class="visible-print-block">Pagada</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
            }
        </td>
        <td style="text-align: center;">
            @if (venta.fecha_cancelacion != null)
            {
                @venta.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
            }
        </td>
        <td style="text-align: center;">
            @if (venta.usuario_punto_venta1 != null)
            {
                @venta.usuario_punto_venta1.nombre_usuario
            }
        </td>
        <td style="text-align: center;">
            @if (venta.aduedo != 0)
            {
                <section>
                    <div class="wrapper-demo">
                        <div class="wrapper-dropdown-5" tabindex="1">
                            <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                            Acciones
                            <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                @if (venta.aduedo > 0)
                                {
                                    <li>
                                        <label onclick="AbonarVenta(@venta.id)" style="color: #254054"><i class="glyph-icon icon-pencil" aria-hidden="true" style="margin-right: 15px;"></i>Abonar</label>
                                    </li>
                                }
                                <li>
                                    <label onclick="CancelarCredito(@venta.id)" style="color: #ff0000"><i class="glyph-icon icon-times" aria-hidden="true" style="margin-right: 15px;"></i>Cancelar</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            }
        </td>
    </tr>
}

<script>
    $("#TablaCreditosPorVenta").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],     				// (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: 10,                     // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>