﻿@model IEnumerable<POS.Models.nota_credito>
@foreach (var item in Model)
{
    <tr name="@item.id">
        <td style="text-align: center;">@item.venta.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(item.id)</td>
        <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id(item.id_venta)</td>
        <td style="text-align: center;">
            @{ 
            if (item.id_estatus_nota_credito == 1)
            {
                <label style="color: #0d5a22;"><span class="visible-print-block">@item.estatus_nota_credito.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
            }
            else if (item.id_estatus_nota_credito == 2)
            {
                <label style="color: #c58557;"><span class="visible-print-block">@item.estatus_nota_credito.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
            }
            else
            {
                <label style="color: #ff0000;"><span class="visible-print-block">@item.estatus_nota_credito.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
            }
            }
        </td>
        <td style="text-align: center;">
            @if (item.fecha_creacion != null)
                {
                @item.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
            }
        </td>
        <td style="text-align: center;">
            @if (item.fecha_uso != null)
                {
                @item.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")
            }
        </td>
        <td style="text-align: center;">
            @if (item.fecha_cancelacion != null)
                {
                @item.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
            }
        </td>
        <td style="text-align: center;"><span>$</span>@item.cantidad</td>
        <td style="text-align: center;">
            @if (item.id_estatus_nota_credito == 1)
                {
                <section>
                    <div class="wrapper-demo">
                        <div class="wrapper-dropdown-5" tabindex="1">
                            <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                            Acciones
                            <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                <li>
                                    <label onclick="CancelarNotaCredito(@item.id, @item.venta.Cliente_id)" style="color: #ff0000"><i class="glyph-icon icon-times" aria-hidden="true" style="margin-right: 15px;"></i>Cancelar</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            }
        </td>
    </tr>
}