﻿@model POS.Models.cliente
@{
    ViewBag.Title = "POS - Ventas A Credito";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Creditos: @Model.Razon_social</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a href="@Url.Action("VistaEditarDiasCredito", new { id = ViewBag.id, ruta = 2 })" class="btn btn-info" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-pencil"></i>
                </span>
                <span class="button-content">Editar Dias De Credito</span>
            </a>
        </div>
        @*<div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Estatus: </label>
            <select id="select_estatus_ventas_credito" class="form-control" style="display: inline; width: 200px;">
                <option value="TRUE">Pendientes</option>
                <option value="FALSE">Pendientes/Pagadas</option>
            </select>
            <input id="dias_de_credito" type="text" value="@(Model.dias_credito > 0 ? Model.dias_credito : 0)" style="display:none;" />
        </div>
        <table class="table" style="width: 100%;">
            <tr>
                <td style="border: 0px; text-align: center; background-color: #506676; color: white;">Creditos</td>
            </tr>
            @*<tr>
                <td>
                    <div style="margin-right: 10px; float: right;">
                        <a id="ExportarExcelCreditos" class="btn btn-success" style="margin-top: 6px;">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-file-excel-o"></i>
                            </span>
                            <span class="button-content">Exportar A Excel</span>
                        </a>
                    </div>
                </td>
            </tr>*@
            <tr>
                <td style="border: 0px;">
                    <table id="TablaCreditosPorClientes" class="table table-hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Sucursal</th>
                                <th>ID Venta</th>
                                <th>Fecha</th>
                                <th>Fecha De Pago</th>
                                <th>Vencimiento</th>
                                <th>Vendedor</th>
                                <th>Total</th>
                                <th>Adeudo Imp.</th>
                                <th>Estatus</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="CuerpoTabla"></tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border: 0px; text-align: center; background-color: #506676; color: white;">Notas De Credito</td>
            </tr>
            @*<tr>
                <td>
                    <div style="margin-right: 10px; float: right;">
                        <a id="ExportarExcelNotasCredito" class="btn btn-success" style="margin-top: 6px;">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-file-excel-o"></i>
                            </span>
                            <span class="button-content">Exportar A Excel</span>
                        </a>
                    </div>
                </td>
            </tr>*@
            <tr>
                <td style="border: 0px;">
                    <table id="TablaNotasCreditoPorClientes" class="table table-hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Sucursal</th>
                                <th>ID Nota Credito</th>
                                <th>ID Venta</th>
                                <th>Estatus</th>
                                <th>Fecha Creacion</th>
                                <th>Fecha Uso</th>
                                <th>Fecha Cancelacion</th>
                                <th>Importe</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="CuerpoTablaNotasCreditoPorClientes"></tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border: 0px; text-align: center; background-color: #506676; color: white;">Abonos</td>
            </tr>
            @*<tr>
                <td>
                    <div style="margin-right: 10px; float: right;">
                        <a id="ExportarExcelAbonos" class="btn btn-success" style="margin-top: 6px;">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-file-excel-o"></i>
                            </span>
                            <span class="button-content">Exportar A Excel</span>
                        </a>
                    </div>
                </td>
            </tr>*@
            <tr>
                <td style="border: 0px;">
                    <table id="TablaAbonos" class="table table-hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Sucursal</th>
                                <th>Id Abono</th>
                                <th>Id Venta</th>
                                <th>Tipo De Pago</th>
                                <th>Fecha</th>
                                <th>Usuario Recibe</th>
                                <th>Estatus</th>
                                <th>Fecha De Cancelacion</th>
                                <th>Usuario Cancelacion</th>
                                <th>Importe</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="CuerpoTablaAbonos" style="font-size: 13px;"></tbody>
                    </table>
                </td>
            </tr>
        </table>
        <a href="@Url.Action("Index")" class="btn btn-danger" style="margin-bottom: 10px; margin-left: 10px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-arrow-left"></i>
            </span>
            <span class="button-content">Regresar</span>
        </a>
    </div>
</div>


<script>
    $(document).ready(function () {
        actualizar_vistas_parciales();
    });
    $("#select_estatus_ventas_credito").change(function () {
        actualizar_vistas_parciales();
        calcular_fechas_credito();
    });
    function addDays(theDate, days) {
        return new Date(theDate.getTime() + days * 24 * 60 * 60 * 1000);
    }
    function calcular_fechas_credito() {
        if ($('#TablaCreditosPorClientes tbody tr').first('td').text() != "No hay entradas disponibles"){
            $("#TablaCreditosPorClientes tbody tr").each(function () {
                id = $(this).attr("name");
                dias_credito = parseInt($("#dias_de_credito").val());
                fecha_venta = $("#fecha_de_venta_" + id).html();
                var fecha_split = fecha_venta.split("/");
                var dia = fecha_split[0];
                var mes = fecha_split[1];
                var año = fecha_split[2];
                fecha_venta_date = new Date(mes + "/" + dia + "/" + año);
                var fecha_vencimiento = addDays(fecha_venta_date, dias_credito)
                //revisar si esta vencida
                var hoy = (new Date).getTime();
                var dif = fecha_vencimiento - hoy;
                var dias_dif = parseFloat((dif / 1000 / 60 / 60 / 24), 0).toFixed(0);
                if (dias_dif >= 0 && $(this).children().find('label').text() != "Pagada") {
                    if (dias_dif == 0) {
                        $("#vencida_" + id).html("Hoy Vence");
                    }
                    else {
                        $("#vencida_" + id).html("Vence en: " + dias_dif + " Dias");
                    }
                }
                else {
                    if($(this).children().find('label').text() != "Pagada")
                        $("#vencida_" + id).html("");
                }
                //convertir a dd/mm/yyyy
                var m = fecha_vencimiento.getMonth() + 1;
                var d = fecha_vencimiento.getDate();
                var a = fecha_vencimiento.getFullYear();
                var dia_vencimiento = (d < 10) ? '0' + d : d;
                var mes_vencimiento = (m < 10) ? '0' + m : m;
                var año_vencimiento = fecha_vencimiento.getFullYear();
                var fecha_vencimiento_dd_mm_yyy = dia_vencimiento + "/" + mes_vencimiento + "/" + año_vencimiento;
                if($(this).children().find('label').text() != "Pagada")
                    $("#fecha_de_pago_" + id).html(fecha_vencimiento_dd_mm_yyy)
            });
        }
    }
    function actualizar_vistas_parciales(){
        var estatus = $("#select_estatus_ventas_credito option:selected").val();
        var url = '@Url.Action("MostrarCreditosClientesVistaParcial")';
        $.ajax({
            url: url,
            data: { id: @ViewBag.id, solamente_pendientes: estatus },
            success: function (parcial) {
                $('#TablaCreditosPorClientes').dataTable().fnClearTable();
                $('#TablaCreditosPorClientes').dataTable().fnDestroy();
                $("#CuerpoTabla").html(parcial);
            },
            async: false
        });
        var url2 = '@Url.Action("MostrarNotasCreditoClientesVistaParcial")';
        $.ajax({
            url: url2,
            data: { id: @ViewBag.id, solamente_pendientes: estatus },
            success: function (parcial) {
                $('#TablaNotasCreditoPorClientes').dataTable().fnClearTable();
                $('#TablaNotasCreditoPorClientes').dataTable().fnDestroy();
                $("#CuerpoTablaNotasCreditoPorClientes").html(parcial);
            },
            async: false
        });
        var url3 = '@Url.Action("VistaParcialHistorialAbonosXCliente")';
        $.ajax({
            url: url3,
            data: { id_cliente: @ViewBag.id },
            success: function (parcial) {
                $('#TablaAbonos').dataTable().fnClearTable();
                $('#TablaAbonos').dataTable().fnDestroy();
                $("#CuerpoTablaAbonos").html(parcial);
            },
            async: false
        });

        $(".wrapper-dropdown-5").each(function () {
            var dd = new DropDown($(this));
            $(document).click(function () {
                $('.wrapper-dropdown-5').removeClass('active');
            });
        });

        CrearTablaCreditosPorClientes();
        CrearTablaNotasCreditoPorClientes();
        CrearTablaAbonos();
        calcular_fechas_credito();
    }
    function CancelarAbono(id_abono)
    {
        var url = '@Url.Action("CancelaAbono")';
        $.ajax({
            url: url,
            data: { id: id_abono },
            success: function (result) {
                if(result.success)
                {
                    actualizar_vistas_parciales();
                }
                else
                {
                    alert("Ocurrion un error al intentar cancelar el abono");
                }
            },
            async: false
        });
    }
    function AbonoVenta(id) {
        window.location.href = '@Url.Action("AbonoVentaCliente", new { id = "_id_" })'.replace("_id_", id);
    }
    function CancelarNotaCredito(id, id_cliente) {
        window.location.href = '@Url.Action("CancelarNotaCredito", new { id = "_id_" })'.replace('_id_', id) + "?id_cliente=" + encodeURIComponent(id_cliente);
    }
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
</script>

<script type="text/javascript">
        function CrearTablaCreditosPorClientes() {
            $('#TablaCreditosPorClientes').dataTable({
                "pagingType": "full_numbers",
                stateSave: true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                "retrieve": true,
                "destroy": true,
                "autoWidth": true,
                dom: 'Bflrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                        titleAttr: 'Copiar al Portapapeles',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Lista de Creditos del Cliente',
                        text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                        titleAttr: 'Exporta a Excel',
                        className: 'btn btn-success',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Lista de Creditos del Cliente',
                        text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                        titleAttr: 'Exporta a PDF',
                        className: 'btn btn-danger',
                        message: 'Creditos del Cliente',
                        orientation: 'landscape',
                        pageSize: 'LETTER',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        }
                    }
                ],
                language: idioma_espaniol_datatable
            });
        }
        function CrearTablaNotasCreditoPorClientes() {
            $('#TablaNotasCreditoPorClientes').dataTable({
                "pagingType": "full_numbers",
                stateSave: true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                "retrieve": true,
                "destroy": true,
                "autoWidth": true,
                dom: 'Bflrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                        titleAttr: 'Copiar al Portapapeles',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Lista de Notas de Credito del Cliente',
                        text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                        titleAttr: 'Exporta a Excel',
                        className: 'btn btn-success',

                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Lista de Notas de Credito del Cliente',
                        text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                        titleAttr: 'Exporta a PDF',
                        className: 'btn btn-danger',

                        message: 'Notas de Credito del Cliente',
                        orientation: 'landscape',
                        pageSize: 'LETTER',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    }
                ],
                language: idioma_espaniol_datatable
            });
        }
        function CrearTablaAbonos() {
            $('#TablaAbonos').dataTable({
                "pagingType": "full_numbers",
                stateSave: true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                "retrieve": true,
                "destroy": true,
                "autoWidth": true,
                dom: 'Bflrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                        titleAttr: 'Copiar al Portapapeles',
                        className: 'btn btn-default',

                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Lista de Abonos del Cliente',
                        text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                        titleAttr: 'Exporta a Excel',
                        className: 'btn btn-success',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Lista de Abonos del Cliente',
                        text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                        titleAttr: 'Exporta a PDF',
                        className: 'btn btn-danger',
                        message: 'Abonos del Cliente',
                        orientation: 'landscape',
                        pageSize: 'LETTER',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                        }
                    }
                ],
                language: idioma_espaniol_datatable
            });
        }
        //$('#ExportarPDF').click(function () {
        //    descargar_pdf();
        //});
        @*function descargar_pdf() {
            var id_cliente = @ViewBag.id;
            var solamente_pendientes = $("#select_estatus_ventas_credito option:selected").val();
            var url = '@Url.Action("TraerPDFListaResumenCreditosCliente", "FormatoPDF", new { id_cliente = "_id_", solamente_pendientes = "_solamente_pendientes_" })'.replace("_id_", id_cliente);
            url = url.replace("_solamente_pendientes_", solamente_pendientes);
            url = url.replace(/amp;/g, "");
            window.open(url);
        }*@
</script>