﻿@model IEnumerable<POS.Models.venta>
@foreach (var item in Model)
{
    <tr name="@item.id">
        <td style="text-align: center;">@item.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">@item.Serie-@POS.Fn.Numeros.agregarCeros(item.Folio.Value)</td>
        <td id="@("fecha_de_venta_" + item.id)" style="text-align: center;">@item.Fecha_entrega.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
        <td id="@("fecha_de_pago_" + item.id)" style="text-align: center;"></td>
        <td id="@("vencida_" + item.id)" style="text-align: center;"></td>
        <td style="text-align: center;">@item.usuario_punto_venta.nombre_usuario</td>
        <td style="text-align: center;">@item.total</td>
        <td style="text-align: center;">@item.aduedo</td>
        <td class="estado" style="text-align: center;">
            @if (item.aduedo.Value != 0)
            {
                <label style="color: #0d5a22;"><span class="visible-print-block">Pendiente</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
            }
            else
            {
                <label style="color: #ff0000;"><span class="visible-print-block">Pagada</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
            }
        </td>
        @if (item.aduedo == 0)
        {
            <td></td>
        }
        else
        {
            <td style="text-align: center;">
            <section>
                    <div class="wrapper-demo">
                        <div class="wrapper-dropdown-5" tabindex="1">
                            <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                            Acciones
                            <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                <li>
                                    <a onclick="AbonoVenta(@item.id)"><label style="color: #254054"><i class="glyph-icon icon-dollar" aria-hidden="true" style="margin-right: 15px;"></i>Abonar</label></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </td>
        }
    </tr>  
}