﻿@{
    List<POS.Models.cliente> ListaCreditosClientes = ViewBag.ListaCreditosClientes as List<POS.Models.cliente>;
}

@foreach (POS.Models.cliente cliente in ListaCreditosClientes)
{
    <tr>
        <td style="text-align: center;">@cliente.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">@cliente.tipocliente.Tipo</td>
        <td style="text-align: center;">@cliente.Razon_social</td>
        <td style="text-align: center;">@cliente.correo</td>
        <td style="text-align: center;">@cliente.Limite_credito</td>
        <td style="text-align: center;">
            <label style="font-weight: normal; width: 20px; text-align: right;">@cliente.dias_credito</label>
            <a href="@Url.Action("VistaEditarDiasCredito", new { id = cliente.id, ruta = 1 })" class="btn btn-info hidden-print">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-pencil"></i>
                </span>
                <span class="button-content">Editar</span>
            </a>
        </td>
        <td style="text-align: center;">@cliente.Adeudo_credito</td>
        <td style="text-align: center;">
            <section>
                <div class="wrapper-demo">
                    <div class="wrapper-dropdown-5" tabindex="1">
                        <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                        Acciones
                        <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                            <li>
                                <label onclick="MostrarCreditosCliente(@cliente.id)" style="color: #254054"><i class="glyph-icon icon-eye" aria-hidden="true" style="margin-right: 15px;"></i>Ver Ventas</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </td>
    </tr>
}

<script>
    $("#TablaCreditosPorClientes").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx", "csv", "txt"],     // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: 7,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>