﻿@{
    List<POS.Models.abono> ListaAbonos = ViewBag.ListaAbonos as List<POS.Models.abono>;
}

@foreach (POS.Models.abono abono in ListaAbonos)
{
    <tr>
        <td style="text-align: center;">@abono.venta.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">@abono.id</td>
        <td style="text-align: center;">@abono.venta.Serie-@POS.Fn.Numeros.agregarCeros(abono.venta.Folio.Value)</td>
        <td style="text-align: center;">@abono.venta.cliente.Razon_social</td>
        <td style="text-align: center;">@abono.tipo_pago_abono.tipo</td>
        <td style="text-align: center;">@abono.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
        <td style="text-align: center;">@abono.usuario_punto_venta1.nombre_usuario</td>
        @if (abono.estatus == true)
        {
            <td style="text-align: center;">
                <label style="color: #0d5a22;"><span class="visible-print-block">Activo</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
            </td>
        }
        else
        {
            <td style="text-align: center;">
                <label style="color: #ff0000;"><span class="visible-print-block">Cancelado</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
            </td>
        }
        <td style="text-align: center;">
            @if (abono.fecha_cancelacion != null)
            {
                @abono.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
            }
        </td>
        <td style="text-align: center;">
            @if (abono.usuario_punto_venta != null)
            {
                @abono.usuario_punto_venta.nombre_usuario
            }
        </td>
        <td style="text-align: center;">@abono.importe</td>
        <td style="text-align: center;">
            @if (abono.estatus == true)
            {
                <section>
                    <div class="wrapper-demo">
                        <div class="wrapper-dropdown-5" tabindex="1">
                            <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                            Acciones
                            <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                <li>
                                    <label onclick="CancelarAbono(@abono.id)" style="color: #ff0000"><i class="glyph-icon icon-times" aria-hidden="true" style="margin-right: 15px;"></i>Cancelar</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            }
        </td>
    </tr>
}

<script>
    $("#TablaAbonos").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],     				// (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: 11,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>