﻿@{
    List<POS.Models.permiso_vista> ListaPermisos = ViewBag.ListaPermisos as List<POS.Models.permiso_vista>;
}

@foreach (POS.Models.permiso_vista permiso in ListaPermisos)
{
    <tr>
        <td>
            <div style="margin-left: 30%; text-align: left">@permiso.nombreControlador.ToUpper()</div>
        </td>
        <td>
            <div style="margin-left: 30%; text-align: left">@permiso.nombreVistaPublico.ToUpper() </div>
        </td>
        <td style="text-align: center;">
            <section>
                    <div class="wrapper-demo">
                        <div class="wrapper-dropdown-5" tabindex="1">
                            <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                            Acciones
                            <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                <li>
                                    <label onclick="EliminarPermiso(@permiso.id)" style="color: #ff0000"><i class="glyph-icon icon-times" aria-hidden="true" style="margin-right: 15px;"></i>Eliminar</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
        </td>
    </tr>
}