﻿@{
    List<POS.Models.imagen_carousel> ListaImagenesSlider = ViewBag.ListaImagenesSlider as List<POS.Models.imagen_carousel>;
}

<tr class="tr_slider">
    <td style="width: 200px; text-align: right; border: 0px;">Nuevo Slider</td>
    <td colspan="3" style="width: 30%; border: 0px;">
        <input type="file" id="imagen_slider" class="form-control" style="display:inline; width:400px;" />
        <a id="BotonAgregarSlider" class="btn btn-success"">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-check"></i>
            </span>
            <span class="button-content">Guardar Slider</span>
        </a>
    </td>
</tr>
<tr class="tr_slider">
    <td colspan="4" style="border: 0px; text-align: center; font-weight: bold; font-size: 18px;">Vista Previa</td>
</tr>
<tr class="tr_slider">
    <td colspan="4" style="Border: 0px;">
        @if (ListaImagenesSlider.Where(x => x.activa == 1).Count() > 0)
        {
            <div class="container-fluid">
                <div class="row" style="margin: 0px;">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @{var b = 0;}
                            @foreach (POS.Models.imagen_carousel imagen in ListaImagenesSlider.Where(x => x.activa == 1).ToList())
                            {
                                if (b == 0)
                                {
                                <div class="item active" style="padding: 0px;">
                                    <img src="@Url.Content("/UploadFolder/imagen_slide/" + imagen.nombre)" alt="First slide @(b++)">
                                    @*<img src="@Url.Content("~/UploadFolder/imagen_slide/" + imagen.nombre)" alt="First slide @(b++)">*@
                                </div>
                                }
                                else
                                {
                                <div class="item" style="padding: 0px;">
                                    <img src="@Url.Content("/UploadFolder/imagen_slide/" + imagen.nombre)" alt="Promociòn @(b++) ">
                                    @*<img src="@Url.Content("~/UploadFolder/imagen_slide/" + imagen.nombre)" alt="Promociòn @(b++) ">*@
                                </div>
                                }
                            }
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyph-icon icon-chevron-left glyphicon_carousel"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyph-icon icon-chevron-right glyphicon_carousel"></span>
                        </a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container-fluid" style="text-align: center; font-size: 30px;">No hay sliders activos</div>
        }
    </td>
</tr>
<tr class="tr_slider">
    <td colspan="2" style="border: 0px; text-align: center; font-weight: bold; font-size: 18px;border-right: 3px solid;">Activos</td>
    <td colspan="2" style="border: 0px; text-align: center; font-weight: bold; font-size: 18px;">Inactivos</td>
</tr>
<tr class="tr_slider">
    <td colspan="2" style="border: 0px;border-right: 3px solid; vertical-align: baseline; width:50%;">
        @if (ListaImagenesSlider.Where(x => x.activa == 1).Count() > 0)
        {
            foreach (POS.Models.imagen_carousel imagen in ListaImagenesSlider.OrderBy(x => x.fecha_publicacion))
            {
                if (imagen.activa == 1)
                {
            <div>
                <img class="img-responsive imagen_guardada" src="@Url.Content("/UploadFolder/imagen_slide/" + imagen.nombre)" style="width: 100%;" />
                @*<img class="img-responsive imagen_guardada" src="@Url.Content("~/UploadFolder/imagen_slide/" + imagen.nombre)" style="width: 100%;" />*@
                <img class="DesactivarSlider" name="@imagen.id" src="@Url.Content("~/assets-minified/images/remove.png")" title="Desactivar" style="position: relative; left: 0; top: -50px; width:40px; cursor:pointer;" />
            </div>
                }
            }
        }
        else
        {
            <div style="width: 100%; height: 50px; text-align: center; font-size: 15px; margin-top: 25px;">
                No hay sliders activos
            </div>
        }
    </td>
    <td colspan="2" style="border: 0px; vertical-align: baseline; width:50%;">
        @if (ListaImagenesSlider.Where(x => x.activa == 0).Count() > 0)
        {
            foreach (POS.Models.imagen_carousel imagen in ListaImagenesSlider.OrderBy(x => x.fecha_publicacion))
            {
                if (imagen.activa == 0)
                {
            <div>
                <img class="img-responsive imagen_eliminada" src="@Url.Content("/UploadFolder/imagen_slide/" + imagen.nombre)" style="height: 215px;" />
                @*<img class="img-responsive imagen_eliminada" src="@Url.Content("~/UploadFolder/imagen_slide/" + imagen.nombre)" style="width: 100%;" />*@
                <img class="EliminarSlider" name="@imagen.id" src="@Url.Content("~/assets-minified/images/remove_absolute.png")" title="Eliminar" style="position: relative; left: 0; top: -50px; width:40px; cursor:pointer;" />
                <img class="ActivarSlider" name="@imagen.id" src="@Url.Content("~/assets-minified/images/undo.png")" title="Activar" style="position: relative; left: 0; top: -50px; width:40px; cursor:pointer;" />
            </div>
                }
            }
        }
        else
        {
            <div style="width: 100%; height: 50px; text-align: center; font-size: 15px; margin-top: 25px;">
                No hay sliders inactivos
            </div>
        }
    </td>
</tr>