﻿@model POS.Models.tipocliente
@{
    ViewBag.Title = "POS - Nuevo Tipo De Precio";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nuevo Tipo De Precio</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @using (Html.BeginForm("agregar_tipo_cliente", "Producto", FormMethod.Post, new { @id = "FormularioNuevoTipoPrecio", @style = "margin-bottom:0px;" }))
        { 
            <table id="TablaTiposPrecios" class="table" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Sucursal: </td>
                        <td style="width: 25%; border: 0px;">
                            @Html.DropDownList("id_sucursal", null, String.Empty, new { @class = "form-control" })</td>
                        <td style="width: 150px; text-align: right; border: 0px;">Tipo De Precio: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="Tipo" name="Tipo" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaTipoPrecio" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p id="SucursalTipoPrecio"></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <a id="BotonAgregarTipoPrecio" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </a>
                            <a href="@Url.Action("agregar_nuevo_precio", new { idProducto = ViewBag.idProducto })" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Cancelar</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="text" name="idProducto" value="@ViewBag.idProducto" style="display: none;" />
            <input type="submit" id="AgregarTipoPrecio" value="Guardar" style="display: none;" />
        }
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '#BotonAgregarTipoPrecio', function () {
        $('#AgregarTipoPrecio').trigger('click');
    });
</script>

<script type="text/javascript">
    var seguir = true;
    $(document).ready(function () {
        $('#FormularioNuevoTipoPrecio').bind('submit', function (event) {
            seguir = true;
            $('.form-control').each(function () {
                if ($(this).val() == "") {
                    seguir = false;
                }
            });
            if (!seguir) {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
            VerificarTipoPrecio();
            if (!seguir) {
                return false;
            }
        });
    });
    $(document).on('change', '#Tipo', function () {
        VerificarTipoPrecio();
    });
    $(document).on('change', '#id_sucursal', function () {
        VerificarTipoPrecio();
    });
    function VerificarTipoPrecio() {
        var url = '@Url.Action("VerificarTipoPrecio")';
        if ($('#id_sucursal').val() != '') {
            var sucursal = $('#id_sucursal').val();
            $.ajax({
                url: url,
                data: { id: 0, id_sucursal: $('#id_sucursal').val(), tipo_precio: $('#Tipo').val() },
                type: "POST",
                async: false,
                success: function (existe) {
                    if (existe == "True") {
                        $('#SucursalTipoPrecio').html('Tipo de precio para la sucursal ' + $('#id_sucursal option:selected').text().toUpperCase() + ' ya registrado en el sistema.');
                        MostrarAlertaTipoPrecio();
                        OcultarAlertaTipoPrecio();
                        seguir = false;
                    }
                }
            });
        }
    }
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function MostrarAlertaTipoPrecio() {
        $('#AlertaTipoPrecio').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
    function OcultarAlertaTipoPrecio() {
        setTimeout(function () {
            $('#AlertaTipoPrecio').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaTipoPrecio').hide(1500);
        }, 3000);
    }
</script>