﻿@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
}

<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nuevo Producto</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div id="div_principal_nuevo_producto">
            <table id="TablaProducto" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td colspan="4" style="border: 0px; text-align: center; background-color: #506676; color: white;">Informacion General</td>
                    </tr>
                    <tr>
                        <td style="border: 0px; width: 350px; text-align: center;">
                            Codigo
                            <input type="text" id="Codigo" name="Codigo" class="form-control FormularioProducto" />
                        </td>
                        <td style="border: 0px; width: 350px; text-align: center;">
                            Descripción
                            <input type="text" id="Descripcion" name="Descripcion" class="form-control" />
                        </td>
                        <td style="border: 0px; width: 350px; text-align: center;">
                            <div>Familia</div>
                            <div style="border: 1px solid #ddd; border-radius: 3px;">
                                <select id="Familia" name="SubFamilia_id" class="selectFamilia form-control FormularioProducto" style="display: inline; width: calc(100% - 40px); border: 0px; box-shadow: none;"></select>
                                <div id="btn_nueva_familia" class="btn btn-success">
                                    <span class="glyph-icon icon-separator">
                                        <i class="glyph-icon icon-plus"></i>
                                    </span>
                                    <span class="button-content" style="margin-left: 6px;"></span>
                                </div>
                            </div>
                        </td>
                        <td style="border: 0px; width: 350px; text-align: center;">
                            <div>Subfamilia</div>
                            <div style="border: 1px solid #ddd; border-radius: 3px;">
                                <select id="SubFamilia_id" name="SubFamilia_id" class="form-control FormularioProducto" style="display: inline; width: calc(100% - 40px); border: 0px; box-shadow: none;"></select>
                                <div id="btn_nueva_subfamilia" class="btn btn-success">
                                    <span class="glyph-icon icon-separator">
                                        <i class="glyph-icon icon-plus"></i>
                                    </span>
                                    <span class="button-content" style="margin-left: 6px;"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 0px; width: 350px; text-align: center;">
                            Modelo (Opcional)
                            <input type="text" id="modelo" name="modelo" class="form-control" />
                        </td>
                        <td style="border: 0px; width: 350px; text-align: center;">
                            Medida(Opcional)
                            <input type="text" id="medida" name="medida" class="form-control" />
                        </td>
                        <td style="border: 0px; width: 350px; text-align: center;">
                            <div>Marca</div>
                            <div style="border: 1px solid #ddd; border-radius: 3px;">
                                <select id="id_marca" name="id_marca" class="form-control FormularioProducto" style="display: inline; width: calc(100% - 40px); border: 0px; box-shadow: none;"></select>
                                <div id="btn_nueva_marca" class="btn btn-success">
                                    <span class="glyph-icon icon-separator">
                                        <i class="glyph-icon icon-plus"></i>
                                    </span>
                                    <span class="button-content" style="margin-left: 6px;"></span>
                                </div>
                            </div>
                        </td>
                        <td style="border: 0px; width: 350px; text-align: center;">
                            <div>Proveedor</div>
                            <div style="border: 1px solid #ddd; border-radius: 3px;">
                                <select id="Proveedor_id" name="Proveedor_id" class="form-control FormularioProducto" style="display: inline; width: calc(100% - 40px); border: 0px; box-shadow: none;"></select>
                                <div id="btn_nuevo_proveedor" class="btn btn-success">
                                    <span class="glyph-icon icon-separator">
                                        <i class="glyph-icon icon-plus"></i>
                                    </span>
                                    <span class="button-content" style="margin-left: 6px;"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    @if (configuracion_general.venta_consignacion == true)
                    {
                        <tr>
                            <td rowspan="6" colspan="3" style="border: 0px; width: 400px; text-align: center;">
                                Descripción Detallada
                                <textarea style="height: 205px; padding-bottom: 0px; resize: none;" id="descripcion_detallada" name="descripcion_detallada" class="form-control"></textarea>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td rowspan="5" colspan="3" style="border: 0px; width: 400px; text-align: center;">
                                Descripción Detallada
                                <textarea style="height: 165px; padding-bottom: 0px; resize: none;" id="descripcion_detallada" name="descripcion_detallada" class="form-control"></textarea>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="border: 0px; width: 350px; text-align: center;">
                            Costo (Opcional)
                            <input type="text" id="costo" name="costo" class="form-control txtNumeroDecimales" />
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 0px; width: 350px;">
                            <table class="table" style="width:100%;">
                                <tr>
                                    <td style="border:0px; width:50%;">
                                        <input id="precio_dolar" name="precio_dolar" type="checkbox" class="switch-web" style="margin:5px;" />
                                        <img class="bandera_unitario" src='@Url.Content("~/assets-minified/images/dolares.png")' style='width: 25px;' />
                                        <label style="font-weight: normal; height: 22px; vertical-align: text-top;">
                                            USD
                                        </label>
                                    </td>
                                    <td style="border:0px; width:50%;">
                                        <input id="visible" name="visible" type="checkbox" class="switch-web" checked="checked" value="true" style="margin:5px;" />
                                        <label style="font-weight: normal; height: 22px; vertical-align: text-top;">
                                            Visible
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 0px; width: 350px;">
                            <table class="table" style="width:100%;">
                                <tr>
                                    <td style="border:0px; width:50%;">
                                        <input id="publicar" name="publicar" type="checkbox" class="switch-web" style="margin:5px;" />
                                        <label style="font-weight: normal; height: 22px; vertical-align: text-top;">
                                            Publicar WEB
                                        </label>
                                    </td>
                                    <td style="border:0px; width:50%;">
                                        <input id="carrusel" name="carrusel" type="checkbox" class="switch-web" style="margin:5px;" />
                                        <label style="font-weight: normal; height: 22px; vertical-align: text-top;">
                                            Destacado WEB
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    @if (configuracion_general.venta_consignacion == true)
                    {
                        <tr>
                            <td style="border: 0px; width: 350px;">
                                <table class="table" style="width:100%;">
                                    <tr>
                                        <td style="border:0px; width:50%;">
                                            <input id="consignacion" name="consignacion" type="checkbox" class="switch-web" style="margin:5px;"  @( configuracion_general.venta_consignacion == true ? "checked=\" checked\"" : "" ) />
                                            <label style="font-weight: normal; height: 22px; vertical-align: text-top;">
                                                Consignacion
                                            </label>
                                        </td>
                                        <td style="border:0px; width:50%;"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="border: 0px; width: 350px;">
                            <table class="table" style="width:100%;">
                                <tr>
                                    <td style="border:0px; width:50%;">
                                        <input id="iva" name="iva" type="text" class="form-control txtNumeroDecimales FormularioProducto" style="width:60px; display:inline; text-align:center;" value="@configuracion_general.iva" />
                                        <label style="font-weight: normal; height: 22px; vertical-align: text-top; display:inline;">
                                            <span> % <span>IVA</span></span>
                                        </label>
                                    </td>
                                    <td style="border:0px; width:50%;">
                                        @*<input id="ieps" name="ieps" type="text" class="form-control txtNumeroDecimales FormularioProducto" style="width:60px; display:inline; text-align:center;" value="@configuracion_general.ieps" />
                                            <label style="font-weight: normal; height: 22px; vertical-align: text-top; display:inline;">
                                                <span> % <span>IEPS</span></span>
                                            </label>*@
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border: 0px; text-align: center; background-color: #506676; color: white;">Precios</td>
                    </tr>
                    @if (configuracion_general.precios_netos == true)
                    {
                        <tr>
                            <td colspan="4" style="border: 0px; text-align: center; font-weight:bold; font-size:18px; color:red;">IMPORTANTE: SUS PRECIOS YA INCLUYEN IVA</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" style="border: 0px; text-align: center; font-weight:bold; font-size:18px; color:red;">IMPORTANTE: SUS PRECIOS NO INCLUYEN IVA</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4" style="border: 0px;">
                            <table class="table" style="width: 100%">
                                @{
                                    int susursalnum = 0;
                                    List<POS.Models.tipocliente> iEtipoCliente = (List<POS.Models.tipocliente>)ViewBag.tipoPrecio;
                                    List<POS.Models.sucursal> iESucursales = (List<POS.Models.sucursal>)ViewBag.sucursales;
                                    POS.Models.configuracion_general configuracion2 = POS.Fn.Configuracion.TraerConfiguracionGeneral();
                                    if (iESucursales.Count() != 0)
                                    {
                                        if (iEtipoCliente.Count() != 0)
                                        {
                                            //SI SE CUENTA CON SUCURSALES Y TIPO PRECIO
                                            if (configuracion2.centralizacion_precios_sucursales.Value && configuracion2.centralizacion_precios_web.Value)
                                            {
                                                //H O M O L O G A C I O N       W E B     Y     S U C
                                                //precio homologados para todas las sucursales incluso web
                                                <tr>
                                                    @foreach (var tp in iEtipoCliente.OrderBy(x => x.orden))
                                                    {
                                                        <td style="text-align: center; border: 0px;">
                                                            @tp.Tipo
                                                            @if (configuracion_general.precios_netos == true)
                                                            {
                                                                <input type="text" idTipoPrecio="@tp.id" sucursal_id="" class="form-control Precio txtNumeroDecimales" placeholder="PRECIO CON IVA" style="text-align:center;" />
                                                            }
                                                            else
                                                            {
                                                                <input type="text" idTipoPrecio="@tp.id" sucursal_id="" class="form-control Precio txtNumeroDecimales" placeholder="PRECIO SIN IVA" style="text-align:center;" />
                                                            }
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                            else if (configuracion2.centralizacion_precios_sucursales.Value && !configuracion2.centralizacion_precios_web.Value)
                                            {
                                                //H O M O L O G A C I O N   S U C
                                                //precio web se maneja aparte, las demas sucursales homologan sus precios
                                                //W E B
                                                foreach (var suc in iESucursales.Where(x => x.id == 1))
                                                {
                                                    <tr>
                                                        <td style="text-align: center; border: 0px; vertical-align: bottom;">
                                                            <label style="background-color: #a7b2ba; color: white; padding: 7px; width: 100%; border-radius: 3px;">@suc.nombre_sucursal</label>
                                                        </td>
                                                        @foreach (var tp in iEtipoCliente.OrderBy(x => x.orden))
                                                        {

                                                            <td style="text-align: center; border: 0px;">
                                                                @tp.Tipo
                                                                @if (configuracion_general.precios_netos == true)
                                                                {
                                                                    <input type="text" idTipoPrecio="@tp.id" sucursal_id="@suc.id" class="form-control Precio txtNumeroDecimales" placeholder="PRECIO CON IVA" style="text-align:center;" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="text" idTipoPrecio="@tp.id" sucursal_id="@suc.id" class="form-control Precio txtNumeroDecimales" placeholder="PRECIO SIN IVA" style="text-align:center;" />
                                                                }
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                                //S U c
                                                //foreach (var suc in iESucursales.Where(x => x.id != 1).ToList().First())
                                                //{
                                                if (iESucursales.Where(x => x.id != 1).ToList().Count > 1)
                                                {
                                                    <tr>
                                                        <td style="text-align: center; border: 0px; vertical-align: bottom;">
                                                            <label style="background-color: #a7b2ba; color: white; padding: 7px; width: 100%; border-radius: 3px;">Sucursales</label>
                                                        </td>
                                                        @foreach (var tp in iEtipoCliente.OrderBy(x => x.orden))
                                                        {
                                                            <td style="text-align: center; border: 0px;">
                                                                @tp.Tipo
                                                                @if (configuracion_general.precios_netos == true)
                                                                {
                                                                    <input type="text" idTipoPrecio="@tp.id" sucursal_id="" class="form-control Precio txtNumeroDecimales" placeholder="PRECIO CON IVA" style="text-align:center;" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="text" idTipoPrecio="@tp.id" sucursal_id="" class="form-control Precio txtNumeroDecimales" placeholder="PRECIO SIN IVA" style="text-align:center;" />
                                                                }
                                                            </td>

                                                        }
                                                    </tr>
                                                }
                                                //}
                                            }
                                            else
                                            {
                                                //N O   H O M O L O G A C I O N
                                                //todas las sucursales manejan precios independientes
                                                foreach (var suc in iESucursales.OrderBy(x => x.id))
                                                {
                                                    <tr>
                                                        <td style="text-align: center; border: 0px; vertical-align: bottom;">
                                                            <label style="background-color: #a7b2ba; color: white; padding: 7px; width: 100%; border-radius: 3px;">@suc.nombre_sucursal</label>
                                                        </td>
                                                        @foreach (var tp in iEtipoCliente.OrderBy(x => x.orden))
                                                        {
                                                            <td style="text-align: center; border: 0px;">
                                                                @tp.Tipo
                                                                @if (configuracion_general.precios_netos == true)
                                                                {
                                                                    <input type="text" idTipoPrecio="@tp.id" sucursal_id="@suc.id" class="form-control Precio txtNumeroDecimales" placeholder="PRECIO CON IVA" style="text-align:center;" />
                                                                }
                                                                else
                                                                {
                                                                    <input type="text" idTipoPrecio="@tp.id" sucursal_id="@suc.id" class="form-control Precio txtNumeroDecimales" placeholder="PRECIO SIN IVA" style="text-align:center;" />
                                                                }
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            // sin tipos de precio registrados
                                            <tr>
                                                <td style="text-align: center; border: 0px;">No has dado de alta ningún tipo de precio en tu tienda</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            @if (ViewBag.totalSucursales == 0)
                                            {
                                                <td style="text-align: center; border: 0px;">No has dado de alta ninguna sucursal en tu tienda</td>
                                            }
                                            else
                                            {
                                                <td style="text-align: center; border: 0px;">Tu usuario no tiene asignada niguna sucursal. Pide a tu administrador que te agrege alguna.</td>
                                            }
                                        </tr>
                                    }
                                }
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border: 0px; text-align: center; background-color: #506676; color: white;">Archivos</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border: 0px;">
                            <table class="table" style="width: 100%; margin: 0 auto;">
                                <thead>
                                    <tr>
                                        <th style="width: 50%;">Imagenes</th>
                                        <th style="width: 50%;">Manuales De Especificaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="border: 0px;">
                                            <input type="file" multiple="multiple" id="imagenes" name="imagenes" class="imagenes" />
                                        </td>
                                        <td style="border: 0px;">
                                            <input type="file" multiple="multiple" id="pdfs" name="pdfs" class="pdfs" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="previsualizacion" style="border: 0px;"></td>
                                        <td id="previsualizacionPdf" style="border: 0px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaCodigo" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Producto ya registrada en el sistema.</p>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4" style="border: 0px; text-align: center;">
                            <a id="BotonNuevoProducto" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </a>
                            <a class="btn btn-danger" onclick="CerrarModal()">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Cerrar</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="text" id="id" value="0" style="display: none;" />
        </div>

        @*DIV NUEVA FAMILIA*@
        <div id="div_nueva_familia" style="display: none">
            <table id="Tablafamilia" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 25%; border: 0px;">
                            Nueva Familia:
                            <input type="text" id="nombre_nueva_familia" name="nombre_nueva_familia" class="form-control" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaNuevaFamiliaCamposIncompletos" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaFamilia" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Familia ya registrada en el sistema.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="BotonAgregarFamilia" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </div>
                            <div id="BotonCancelarAgregarFamilia" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Atras</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            Familias Registradas
        </div>
        @*DIV NUEVA FAMILIA*@

        @*DIV NUEVA SUBFAMILIA*@
        <div id="div_nueva_subfamilia" style="display: none">
            <table id="TablaSubfamilia" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 25%; border: 0px;">
                            Familia
                            <select id="familiaNuevaSubfamiia" class="selectFamilia  form-control"></select>
                        </td>
                        <td style="width: 25%; border: 0px;">
                            Subfamilia
                            <input type="text" id="nombreNuevaSubfamilia" name="nombre" class="form-control" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaNuevaSubFamiliaCamposIncompletos" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaSubfamilia" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p id="FamiliaSubfamilia"></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="BotonAgregarSubfamilia" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </div>
                            <div id="botonCancelarAgregarSubfamilia" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Atras</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @*DIV NUEVA SUBFAMILIA*@

        @*DIV NUEVA MARCA*@
        <div id="div_nueva_marca" style="display: none">
            <table class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 25%; border: 0px;">
                            Nueva Marca:
                            <input type="text" id="nombre_nueva_marca" name="nombre_nueva_familia" class="form-control" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaNuevaMarcaCamposIncompletos" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaMarca" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Marca ya registrada en el sistema.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="BotonAgregarMarca" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </div>
                            <div id="BotonCancelarAgregarMarca" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Atras</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            Marcas Registradas
        </div>
        @*DIV NUEVA MARCA*@

        @*DIV NUEVO PROVEEDOR*@
        <div id="div_nuevo_proveedor" style="display: none">
            <table class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 25%; border: 0px;">
                            Nuevo Proveedor:
                            <input type="text" id="nombre_nuevo_proveedor" name="nombre_nueva_familia" class="form-control" />
                        </td>
                        <td style="width: 25%; border: 0px;">
                            Correo:
                            <input type="email" id="correo_nuevo_proveedor" name="correo_nuevo_proveedor" class="form-control" />
                        </td>
                        <td style="width: 25%; border: 0px;">
                            Telefono:
                            <input type="email" id="telefono_nuevo_proveedor" name="telefono_nuevo_proveedor" class="form-control" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaNuevoProveedorCamposIncompletos" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaProvedor" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Familia ya registrada en el sistema.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="BotonAgregarProveedor" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </div>
                            <div id="BotonCancelarAgregarProveedor" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Atras</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            Proveedores Registrados
        </div>
        @*DIV NUEVO PROVEEDOR*@


    </div>
</div>

<script>

    divPrincipal = document.getElementById("div_principal_nuevo_producto");

    $(document).ready(function () {
        InputEnteroDosDecimales(".txtNumeroDecimales");
        $('.ModalNuevoProducto .modal-dialog').css('width', '90%');
        actualizar_familias();
        actualizar_sub_familia();
        actualizar_marcas();
        actualizar_proveedores();

        $('.switchery').remove();
        var elems = Array.prototype.slice.call(document.querySelectorAll('.switch-web'));
        elems.forEach(function (html) {
            var switchery = new Switchery(html, { size: 'small', secondaryColor: 'rgb(206, 199, 199)' });
        });
    });


    // F A M I L I A
    $("#btn_nueva_familia").click(function () {
        //- - - - - - - - - - - - - - - - - - - - - - - - -
        input = document.getElementById("nombre_nueva_familia");
        divSecundario = document.getElementById("div_nueva_familia");
        botonCancelar = document.getElementById("BotonCancelarAgregarFamilia");
        botonGuardar = document.getElementById("BotonAgregarFamilia");
        //- - - - - - - - - - - - - - - - - - - - - - - - -
        $(divSecundario).slideDown("slow");
        $(divPrincipal).slideUp("slow");

        $(input).focus();

        $(botonCancelar).click(function () {
            //OCULAR DIV SECUNDSARIO Y MOSTRAR PRIMARIO
            $(divPrincipal).slideDown("slow");
            $(divSecundario).slideUp("slow");
        });

        $(botonGuardar).unbind().click(function () {
            nombre = $(input).val();
            seguir = true;
            if (nombre == "") {
                seguir = false;
            }
            if (!seguir) {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
            VerificarFamilia();
            if (!seguir) {
                return false;
            }
            else {
                //guarda familia
                var url = '@Url.Action("guardarNuevaFamilia", "producto")';
                $.ajax({
                    url: url,
                    data: { nombre: nombre },
                    type: "POST",
                    success: function (r) {
                        if (r.success) {
                            // actualizar_sub_familia()
                            actualizar_familias();
                            $("#Familia").val(r.idFamilia);
                            actualizar_sub_familia();
                            //OCULAR DIV SECUNDSARIO Y MOSTRAR PRIMARIO
                            $(divPrincipal).slideDown("slow");
                            $(divSecundario).slideUp("slow");
                            $(input).val("");
                        } else {
                            MostrarAlertaFamilia();
                            OcultarAlertaFamilia();
                        }
                    },
                    async: false
                });
            }
        });

        function VerificarFamilia() {
            var url = '@Url.Action("VerificarFamilia")';
            $.ajax({
                url: url,
                data: { id: 0, familia: $('#nombre_nueva_familia').val() },
                type: "POST",
                async: false,
                success: function (existe) {
                    if (existe == "True") {
                        //MostrarAlertaFamilia();
                        //OcultarAlertaFamilia();
                        seguir = false;
                    }
                }
            });
        }
    });

    //S U B -  F A M I L I A
    //
    $("#btn_nueva_subfamilia").click(function () {
        //- - - - - - - - - - - - - - - - - - - - - - - - -
        input = document.getElementById("nombre_nueva_familia");
        idFamilia = $("#Familia option:selected").val() != "" ? $("#Familia option:selected").val() : -1;
        divSecundario = document.getElementById("div_nueva_subfamilia");
        botonCancelar = document.getElementById("botonCancelarAgregarSubfamilia");
        botonGuardar = document.getElementById("BotonAgregarSubfamilia");
        idFamilia
        $("#familiaNuevaSubfamiia").val(idFamilia);
        //- - - - - - - - - - - - - - - - - - - - - - - - -
        //$(divSecundario).show();
        //$(divSecundario).animateCss('fadeInLeft');
        //$(divPrincipal).animateCss('fadeOutRight');
        $(divSecundario).slideDown("slow");
        $(divPrincipal).slideUp("slow");
        $(input).focus();

        $(botonCancelar).click(function () {
            //OCULAR DIV SECUNDSARIO Y MOSTRAR PRIMARIO
            $(divPrincipal).slideDown("slow", function () {
                $(divSecundario).slideUp("slow");
            });
        });
        $(botonGuardar).unbind().click(function () {
            //VALIDAR CAMPOS
            seguir = true;
            nombreNuevaSubF = $("#nombreNuevaSubfamilia").val();
            if ($("#familiaNuevaSubfamiia").val() == "" || nombreNuevaSubF == "") {
                seguir = false;
            }
            if (!seguir) {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
            VerificarSubfamilia();
            if (!seguir) {
                return false;
            }
            else {
                //GUARDAR
                var url = '@Url.Action("guardarNuevaSubFamilia", "producto")';
                idFamila = $("#Familia").val();
                $.ajax({
                    url: url,
                    data: { idFamilia: idFamila, nombre: nombreNuevaSubF },
                    type: "POST",
                    success: function (r) {
                        if (r.success) {
                            $("#nombreNuevaSubfamilia").val("");
                            actualizar_familias();
                            $("#Familia").val(r.idFamilia);
                            actualizar_sub_familia();
                            $("#SubFamilia_id").val(r.idSubfamilia);
                            //OCULAR DIV SECUNDSARIO Y MOSTRAR PRIMARIO
                            $(divPrincipal).slideDown("slow", function () {
                                $(divSecundario).slideUp("slow");
                            });
                            $(input).val("");
                        } else {
                            //MostrarAlertaSubFamilia();
                            //OcultarAlertaSubFamilia();
                        }
                    },
                    async: false
                });

            }
        });
        function VerificarSubfamilia() {
            var url = '@Url.Action("VerificarSubfamilia")';
            if ($('#familiaNuevaSubfamiia').val() != '') {
                var familiaid = $('#familiaNuevaSubfamiia').val();
                $.ajax({
                    url: url,
                    data: { id: 0, id_familia: familiaid, subfamilia: $('#nombreNuevaSubfamilia').val() },
                    type: "POST",
                    async: false,
                    success: function (existe) {
                        if (existe == "True") {
                            $('#FamiliaSubfamilia').html('Subfamilia para la Familia ' + $('#Familia_id option:selected').text().toUpperCase() + ' ya registrado en el sistema.');
                            //MostrarAlertaSubfamilia();
                            //OcultarAlertaSubfamilia();
                            seguir = false;
                        }
                    }
                });
            }
        }
    });



    // M A R C A
    $("#btn_nueva_marca").click(function () {
        //- - - - - - - - - - - - - - - - - - - - - - - - -
        input = document.getElementById("nombre_nueva_marca");
        divSecundario = document.getElementById("div_nueva_marca");
        botonCancelar = document.getElementById("BotonCancelarAgregarMarca");
        botonGuardar = document.getElementById("BotonAgregarMarca");
        //- - - - - - - - - - - - - - - - - - - - - - - - -
        $(divSecundario).slideDown("slow");
        $(divPrincipal).slideUp("slow");
        $(input).focus();

        $(botonCancelar).click(function () {
            $(divPrincipal).slideDown("slow");
            $(divSecundario).slideUp("slow");
        });

        seguir = true;

        $(botonGuardar).unbind().click(function () {
            if ($('#nombre_nueva_marca').val() == "") {
                seguir = false;
            }
            if (!seguir) {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
            VerificarMarca();
            if (!seguir) {
                return false;
            }
            else {
                var url = '@Url.Action("agregar_nueva_marca", "Producto")';
                $.ajax({
                    url: url,
                    data: { nombre_marca: $('#nombre_nueva_marca').val() },
                    type: "POST",
                    async: false,
                    success: function (r) {
                        if (r.success) {
                            actualizar_marcas();
                            $("#id_marca").val(r.idMarca);
                            $(divPrincipal).slideDown("slow");
                            $(divSecundario).slideUp("slow");
                            $(input).val("");
                        }
                    }
                });
            }


        });


        function VerificarMarca() {
            var url = '@Url.Action("VerificarMarca", "Producto")';
            $.ajax({
                url: url,
                data: { nombre_marca: $('#nombre_nueva_marca').val() },
                type: "POST",
                async: false,
                success: function (existe) {
                    if (existe == "True") {
                        MostrarAlertaMarca();
                        OcultarAlertaMarca();
                        seguir = false;
                    }
                }
            });
        }
        function MostrarAlertaFormulario() {
            $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
        }
        function MostrarAlertaMarca() {
            $('#AlertaMarca').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
        }
        function OcultarAlertaFormulario() {
            setTimeout(function () {
                $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
                $('#AlertaFormulario').hide(1500);
            }, 3000);
        }
        function OcultarAlertaMarca() {
            setTimeout(function () {
                $('#AlertaMarca').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
                $('#AlertaMarca').hide(1500);
            }, 3000);
        }
    });

    // P R O V E E D O R
    $("#btn_nuevo_proveedor").click(function () {
        //- - - - - - - - - - - - - - - - - - - - - - - - -
        input = document.getElementById("nombre_nuevo_proveedor");
        divSecundario = document.getElementById("div_nuevo_proveedor");
        botonCancelar = document.getElementById("BotonCancelarAgregarProveedor");
        botonGuardar = document.getElementById("BotonAgregarProveedor");
        //- - - - - - - - - - - - - - - - - - - - - - - - -
        $(divSecundario).slideDown("slow");
        $(divPrincipal).slideUp("slow");
        $(input).focus();



        $(botonCancelar).click(function () {
            $(divPrincipal).slideDown("slow");
            $(divSecundario).slideUp("slow");
        });

        var seguir = true;

        $(botonGuardar).unbind().click(function () {

            if ($('#nombre_nuevo_proveedor').val() == "") {
                seguir = false;
            }
            if (!seguir) {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
            VerificarProveedor();
            if (!seguir) {
                return false;
            }
            else {
                var url = '@Url.Action("agregar_nuevo_proveedor", "Producto")';
                $.ajax({
                    url: url,
                    data: { nombre_proveedor: $('#nombre_nuevo_proveedor').val(), correo: $('#correo_nuevo_proveedor').val(), telefono: $('#telefono_nuevo_proveedor').val() },
                    type: "POST",
                    async: false,
                    success: function (r) {
                        if (r.success) {
                            actualizar_proveedores();
                            $("#Proveedor_id").val(r.idProveedor);
                            $(divPrincipal).slideDown("slow");
                            $(divSecundario).slideUp("slow");
                            $(input).val("");
                        }
                    }
                });
            }
        });
        function VerificarProveedor() {
            var url = '@Url.Action("VerificarProveedor", "Producto")';
            $.ajax({
                url: url,
                data: { id: 0, proveedor: $('#nombre_nuevo_proveedor').val() },
                type: "POST",
                async: false,
                success: function (existe) {
                    if (existe == "True") {
                        MostrarAlertaMarca();
                        OcultarAlertaMarca();
                        seguir = false;
                    }
                }
            });
        }
        function MostrarAlertaFormulario() {
            $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
        }
        function MostrarAlertaMarca() {
            $('#AlertaMarca').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
        }
        function OcultarAlertaFormulario() {
            setTimeout(function () {
                $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
                $('#AlertaFormulario').hide(1500);
            }, 3000);
        }
        function OcultarAlertaMarca() {
            setTimeout(function () {
                $('#AlertaMarca').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
                $('#AlertaMarca').hide(1500);
            }, 3000);
        }
    });

    function actualizar_familias() {
        $(".selectFamilia").html()
        var url = '@Url.Action("traer_familia_select", "producto")';
        $.ajax({
            url: url,
            type: "POST",
            success: function (opciones) {
                $(".selectFamilia").html(opciones)
            },
            async: false
        });
    }

    function actualizar_marcas() {
        $("#id_marca").html()
        var url = '@Url.Action("traer_marcas_select", "producto")';
        $.ajax({
            url: url,
            type: "POST",
            success: function (opciones) {
                $("#id_marca").html(opciones)
            },
            async: false
        });
    }
    function actualizar_proveedores() {
        $("#Proveedor_id").html()
        var url = '@Url.Action("traer_proveedores_select", "producto")';
        $.ajax({
            url: url,
            type: "POST",
            success: function (opciones) {
                $("#Proveedor_id").html(opciones)
            },
            async: false
        });
    }


    function CerrarModal() {
        VistaParcialProductos();
        $('.ModalNuevoProducto').modal('hide');
    }
    $("#Familia").change(function () {
        actualizar_sub_familia();
    });
    function actualizar_sub_familia() {
        $("#SubFamilia_id").html("")
        var url = '@Url.Action("traer_subfamilia_select", "producto")';
        familaSelecteValue = $("#Familia option:selected").val();
        if (familaSelecteValue != "") {
            idFamilia = $("#Familia option:selected").val();
            $.ajax({
                url: url,
                data: { idFamilia: idFamilia },
                success: function (opciones) {
                    $("#SubFamilia_id").html(opciones)
                },
                async: false
            });
        }
    }
</script>

<script type="text/javascript">
    function readURL(input) {
        if (typeof input !== "undefined") {
            for (var i = 0, l = input.length; i < l; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previsualizacion').append('<img id="imagen' + i + '" class="imagen" src="' + e.target.result + '" style="width: 100px; margin-right: 10px;" />');
                }
                reader.readAsDataURL(input[i]);
            }
        }
    }
    $("#imagenes").change(function () {
        $('.imagen').remove();
        readURL($(this)[0].files);
    });
    function readURLPdfs(input) {
        if (typeof input !== "undefined") {
            for (var i = 0, l = input.length; i < l; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previsualizacionPdf').append('<img id="pdf' + i + '" class="pdf" src="@Url.Content("~/assets-minified/images/adobe-pdf-icon.png")" style="width: 100px; margin-right: 10px;" />');
                }
                reader.readAsDataURL(input[i]);
                }
            }
        }
        $("#pdfs").change(function () {
            $('.pdf').remove();
            readURLPdfs($(this)[0].files);
        });
</script>
