﻿@model IEnumerable<POS.Models.nuevo_producto>
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white; line-height: 35px;">@ViewBag.titulo</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaProductosExcelModal" class="table table-hover" @*id="filtro"*@ style="width: 100%;">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descripción</th>
                    <th>Desc. Detallada</th>
                    <th>Marca</th>
                    <th>Familia</th>
                    <th>Subfamilia</th>
                    <th>Proveedor</th>
                    <th>Costo</th>
                    <th>Medida</th>
                    <th>Modelo</th>
                    <th>Publicar</th>
                    <th>Carrusel</th>
                </tr>
            </thead>
            <tbody>
                @foreach (POS.Models.nuevo_producto p in Model)
                {
                    <tr>
                        <td style="text-align: center;">@p.codigo</td>
                        <td style="text-align: center;">@p.descripcion</td>
                        <td style="text-align: center;">@p.descripcion_detallada</td>
                        <td style="text-align: center;">@p.marca</td>
                        <td style="text-align: center;">@p.familia</td>
                        <td style="text-align: center;">@p.subfamilia</td>
                        <td style="text-align: center;">@p.proveedor</td>
                        <td style="text-align: center;">@p.costo</td>
                        <td style="text-align: center;">@p.medida</td>
                        <td style="text-align: center;">@p.modelo</td>
                        <td style="text-align: center;">@if (p.publicar == "1")
                                                        {<label style="font: 300;">SÍ</label>}
                                                        else
                                                        {<label style="font: 300;">NO</label>}</td>
                        <td style="text-align: center;">@if (p.carrusel == "1")
                                                        {<label style="font: 300;">SÍ</label>}
                                                        else
                                                        {<label style="font: 300;">NO</label>}</td>
                    </tr>
                }
            </tbody>
        </table>
        <a onclick="CerrarModalProductos()" class="btn btn-danger" style="margin-bottom: 10px; margin-left: 10px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-times"></i>
            </span>
            <span class="button-content">Cerrar</span>
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.modal_listaExcelProductos .modal-dialog').css('width', '95%');
    });
    function CerrarModalProductos() {
        $('.modal_listaExcelProductos').modal('hide');
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#TablaProductosExcelModal').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true
        });
    });
</script>
