﻿@*SELECCIONA SUCURSAL Y TIPO PRECIO*@
@{
    POS.Models.configuracion_general _configuracion = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    string onclickBotonAplicarCambios = "";
}
<div id="divSeleccionaTipoPrecio">
    <table class="table" style="width: 100%;">
        <thead>
            <tr>
                <th colspan="2">Selecciona Parametros De Actualizacion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align: right; border: 0px;">
                    <input class="checkBoxActualizacion form-control" id="checkbox_actualizar_catalogo" type="checkbox" name="name" value="" style="margin-left: 5px; height: 20px;" /></td>
                <td style="text-align: left; border: 0px;">Actualizar Catálogo (Descripción,Familia,Subfamilia etc)</td>
            </tr>
            @if (_configuracion.centralizacion_precios_sucursales.Value && _configuracion.centralizacion_precios_web.Value)
            {
                //PRECIOS CENTRALIZADOS  (SUCURSALES Y WEB)
                onclickBotonAplicarCambios = "confirmarCambiosTodosCentralizados()";
                <tr>
                    <td colspan="2">
                        <div class="col-md-10 col-md-offset-1   alert alert-success" style="height: auto; min-height: 150px">
                            <div class="col-md-2">
                                <div class="bg-blue alert-icon" style="width: 70px; height: 70px; margin-top: 30px; border-radius: 15px;">
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px; margin-top: 15px;"></i>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="alert-content" style="overflow: visible; margin-top: 35px;">
                                    <p class="lblxs">
                                        <label>PRECIOS ESTAN HOMOLOGADOS EN TODAS LAS SUCURSALES</label>
                                        <br />
                                        @foreach (var s in (ViewBag.sucursales as IEnumerable<POS.Models.sucursal>))
                                        {
                                            <label style="margin: 0 5px; border: 1px solid #ccc; padding: 5px; font-weight: normal; background-color: #88e06e; color: white;">
                                                @s.nombre_sucursal.ToUpper()</label>
                                        }

                                    </p>
                                </div>

                            </div>
                        </div>
                        <div>
                            <label style="font-weight: normal">Selecciona el tipo de precio a actualizar</label><br />
                        </div>
                        <div>
                            <label>TIPO PRECIO @Html.DropDownList("tipocliente_id", new SelectList(ViewBag.tipocliente_id, "id", "Tipo"), null, new { @class = "form-control", @style = "display: inline; width: auto;" })</label>
                        </div>
                    </td>
                </tr>

            }
            else if (_configuracion.centralizacion_precios_sucursales.Value && !_configuracion.centralizacion_precios_web.Value)
            {
                //PRECIOS SUCURSALES CENTRALIZADOS
                //Y WEB DESCENTRALIZADO
                onclickBotonAplicarCambios = "confirmarCambiosSucursalesCentralizadas_WebDescentralizada()";
                <tr>
                    <td>
                        <div class="animated alert alert-success" style="margin: 5px 5px 0px 0px; width: 100%; height: auto; margin: 20px 0 /*! display: none; */">
                            <div class="bg-blue alert-icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
                            <div class="alert-content" style="overflow: visible;">
                                <p class="lblxs">
                                    <label>NOTA:</label>
                                    LOS PRECIOS ESTAN HOMOLOGADOS EN LAS SUCURSALES.<br />
                                    El precio a subir sera el mismo para el tipo de precio seleccionado en todas las sucursales.
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            else if (!_configuracion.centralizacion_precios_sucursales.Value && !_configuracion.centralizacion_precios_web.Value)
            {
                //PRECIOS DESCENTRALIZADO SUCURSALES Y WEB
                onclickBotonAplicarCambios = "confirmarCambiosTodosDescentralizados()";
                <tr>
                    <td style="text-align: left; border: 0px;">
                        <input class="checkBoxActualizacion form-control" id="checkbox_actualizar_precio" type="checkbox" name="name" value="" style="margin-left: 5px; height: 20px;" /></td>
                    <td style="text-align: left; border: 0px;">Actualizar lista de precios</td>
                </tr>
                <tr id="panel_seleccionar_tipo_precio_actualizar" style="display: none;">
                    <td colspan="2" style="text-align: left; border: 0px;">
                        @Html.DropDownList("cbx_sucursal", new SelectList(ViewBag.sucursales, "id", "nombre_sucursal"), null, new { @class = "form-control", @style = "display: inline; width: 65%;" })
                        <select id="tipoCliente_id" class="form-control" style="display: inline; width: 34%;">
                        </select>
                    </td>
                </tr>
            }

            <tr id="ErrorSeleccionParametrosActualizacion" style="display: none;">
                <td colspan="2" style="border: 0px;">
                    <div class="alert alert-danger" style="margin-bottom: 0px;">
                        <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                        <div class="alert-content">
                            <h4 class="alert-title">Error</h4>
                            <p>No ha seleccionado ningun parametro de actualización.</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right; border: 0px;">
                    <a id="BtnCancelarCargarArchivoProductos" class="btn btn-danger">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-times"></i>
                        </span>
                        <span class="button-content">Atras</span>
                    </a>
                    <a @*id="BtnConfirmarAplicarCambios"*@ class="btn btn-success" onclick="@onclickBotonAplicarCambios">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-check"></i>
                        </span>
                        <span class="button-content">Aplicar Cambios</span>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<script>
    //VARIABLES
    //actualizar_idTipoPrecio = 0;
    //actualizar_descripcion = false;

    $(document).ready(function () {



        SUBPROCESO = "";
        function UpdateProgressFinal(sendVariable) {
            //$("#panelFinalizar").slideUp();
            RSubProceso = sendVariable[0];
            RPorcentaje = parseInt(sendVariable[1]);
            RAvance = sendVariable[2];

            //SI EL SUBPROCESO CAMBIO
            if (SUBPROCESO != RSubProceso) {
                //ACTUALIZAR LOG
                //OBTENER NOW()
                var dt = new Date();
                var hh = (dt.getHours() < 10 ? '0' : '') + dt.getHours();
                var mm = (dt.getMinutes() < 10 ? '0' : '') + dt.getMinutes();
                var ss = (dt.getSeconds() < 10 ? '0' : '') + dt.getSeconds();
                var NOW = hh + ":" + mm + ":" + ss;
                $("#divLog tbody").append("<tr><td>" + NOW + "</td><td>" + RSubProceso + "</td></tr>");
                SUBPROCESO = RSubProceso;
            }


            var subProceso = $("#SubProceso");
            subProceso.html("Aplicando Cambios");

            var porcentaje = $("#lblPorcentaje");
            porcentaje.html(RPorcentaje + "%");

            $(".progressbar-green .progressbar-inner").css({
                width: RPorcentaje + "%"
            });

            var avance = $("#lblRegistrosProcesados");
            avance.html(RAvance);

            //CUANDO SE COMPLETE EL PROCESO
            if (RPorcentaje == 100) {
                $("#panelFinalizar").slideDown();
            }
        }

        $(".checkBoxActualizacion").change(function () {
            $("#ErrorSeleccionParametrosActualizacion").slideUp();
        });

        $("#checkbox_actualizar_precio").change(function () {
            if ($(this).is(':checked')) {
                $("#panel_seleccionar_tipo_precio_actualizar").slideDown(200);
            }
            else {
                $("#panel_seleccionar_tipo_precio_actualizar").slideUp(200);
            }
        });

        actualiza_cbx_tipo_precio();

        $("#cbx_sucursal").change(function () {
            actualiza_cbx_tipo_precio();
        })

        $("#BtnCancelarCargarArchivoProductos").click(function () {
            var url = '@Url.Action("modalResultadoAnalizarArchivoExcel")';
            $.ajax({
                url: url,
                type: "POST",
                success: function (x) {
                    $("#panelProgreso").slideUp();
                    $("#panelResultado").html(x);
                },
                async: false
            });
        });


        function actualiza_cbx_tipo_precio() {
            id_sucursal = $("#cbx_sucursal option:selected").val();

            $.getJSON('@Url.Action("parcial_cbx_tipo_precio", "venta")', { id_sucursal: id_sucursal }, function (lista) {
                var select_hijo = $('#tipoCliente_id');
                select_hijo.empty();
                $.each(lista, function (index, tipo) {
                    select_hijo.append($('<option/>', {
                        value: tipo.value,
                        text: tipo.text
                    }));
                });
            });
        }



        function confirmarCambiosTodosDescentralizados() {
            if ($("#checkbox_actualizar_precio").is(':checked') || $("#checkbox_actualizar_catalogo").is(':checked')) {
                //REINICIAR PROGRESO
                $("#divProgressBar").html(
                    "<div class='progressbar progressbar-green'>"
                    + "<div class='progressbar-inner' style='width: 0%;'></div>"
                    + "<div style='text-align: right;'>"
                    + " <label id='lblPorcentaje'></label>"
                   + " </div>"
                   + " </div>"
                    );

                $("#lblRegistrosProcesados").html("");
                $("#lblPorcentaje").html("");
                $("#SubProceso").html("");
                $("#lblRegistrosProcesados").html("");


                $("#panelResultado").hide();
                $("#panelProgreso").show();

                //alert($("#checkbox_actualizar_precio").is(':checked') + "," + $("#checkbox_actualizar_catalogo").is(':checked') + "," + $("#tipoCliente_id").val())
                // initialize the connection to the server
                var progressNotifierFinal = $.connection.progressHub;

                // client-side sendMessage function that will be called from the server-side
                progressNotifierFinal.client.sendMessage = function (message) {
                    // update progress
                    UpdateProgressFinal(message);
                };

                // establish the connection to the server and start server-side operation
                $.connection.hub.start().done(function () {
                    // call the method CallLongOperation defined in the Hub
                    BOOL_ACT_PRECIOS = $("#bool_actualiza_precios").is(":checked");
                    BOOL_ACT_CATALOGO = $("#bool_actualiza_productos").is(":checked");
                    idTipoPrecio=$("#tipoCliente_id").val();
                    idSucursal=$("#tipoCliente_id").val();
                    progressNotifierFinal.server.aplicarCambiosExcel(BOOL_ACT_PRECIOS, BOOL_ACT_CATALOGO, idTipoPrecio, idSucursal);
                });


                $(".progressbar-green .progressbar-inner").css({
                    width: "100%"
                });
            }
            else {
                $("#ErrorSeleccionParametrosActualizacion").slideDown(200);
            }
        }


        function confirmarCambiosTodosCentralizados() {
            if ($("#checkbox_actualizar_precio").is(':checked') || $("#checkbox_actualizar_catalogo").is(':checked')) {
                //if ($("#checkbox_actualizar_precio").is(':checked')) { actualizar_tipoPrecio = $("#tipoCliente_id").val(); }
                //if ($("#checkbox_actualizar_catalogo").is(':checked')) { actualizar_descripcion = true; }

                //REINICIAR PROGRESO
                $("#divProgressBar").html(
                    "<div class='progressbar progressbar-green'>"
                    + "<div class='progressbar-inner' style='width: 0%;'></div>"
                    + "<div style='text-align: right;'>"
                    + " <label id='lblPorcentaje'></label>"
                   + " </div>"
                   + " </div>"
                    );

                $("#lblRegistrosProcesados").html("");
                $("#lblPorcentaje").html("");
                $("#SubProceso").html("");
                $("#lblRegistrosProcesados").html("");


                $("#panelResultado").hide();
                $("#panelProgreso").show();

                //alert($("#checkbox_actualizar_precio").is(':checked') + "," + $("#checkbox_actualizar_catalogo").is(':checked') + "," + $("#tipoCliente_id").val())
                // initialize the connection to the server
                var progressNotifierFinal = $.connection.progressHub;

                // client-side sendMessage function that will be called from the server-side
                progressNotifierFinal.client.sendMessage = function (message) {
                    // update progress
                    UpdateProgressFinal(message);
                };

                // establish the connection to the server and start server-side operation
                $.connection.hub.start().done(function () {
                    // call the method CallLongOperation defined in the Hub

                    progressNotifierFinal.server.aplicarCambiosExcel($("#checkbox_actualizar_precio").is(':checked'), $("#checkbox_actualizar_catalogo").is(':checked'), $("#tipoCliente_id").val());
                });


                $(".progressbar-green .progressbar-inner").css({
                    width: "100%"
                });
            }
            else {
                $("#ErrorSeleccionParametrosActualizacion").slideDown(200);
            }
        }


        function confirmarCambiosSucursalesCentralizadas_WebDescentralizada() {
            if ($("#checkbox_actualizar_precio").is(':checked') || $("#checkbox_actualizar_catalogo").is(':checked')) {
                //if ($("#checkbox_actualizar_precio").is(':checked')) { actualizar_tipoPrecio = $("#tipoCliente_id").val(); }
                //if ($("#checkbox_actualizar_catalogo").is(':checked')) { actualizar_descripcion = true; }

                //REINICIAR PROGRESO
                $("#divProgressBar").html(
                    "<div class='progressbar progressbar-green'>"
                    + "<div class='progressbar-inner' style='width: 0%;'></div>"
                    + "<div style='text-align: right;'>"
                    + " <label id='lblPorcentaje'></label>"
                   + " </div>"
                   + " </div>"
                    );

                $("#lblRegistrosProcesados").html("");
                $("#lblPorcentaje").html("");
                $("#SubProceso").html("");
                $("#lblRegistrosProcesados").html("");


                $("#panelResultado").hide();
                $("#panelProgreso").show();

                //alert($("#checkbox_actualizar_precio").is(':checked') + "," + $("#checkbox_actualizar_catalogo").is(':checked') + "," + $("#tipoCliente_id").val())
                // initialize the connection to the server
                var progressNotifierFinal = $.connection.progressHub;

                // client-side sendMessage function that will be called from the server-side
                progressNotifierFinal.client.sendMessage = function (message) {
                    // update progress
                    UpdateProgressFinal(message);
                };

                // establish the connection to the server and start server-side operation
                $.connection.hub.start().done(function () {
                    // call the method CallLongOperation defined in the Hub
                    progressNotifierFinal.server.aplicarCambiosExcel($("#checkbox_actualizar_precio").is(':checked'), $("#checkbox_actualizar_catalogo").is(':checked'), $("#tipoCliente_id").val());
                });


                $(".progressbar-green .progressbar-inner").css({
                    width: "100%"
                });
            }
            else {
                $("#ErrorSeleccionParametrosActualizacion").slideDown(200);
            }
        }

    });
</script>


