﻿@model POS.Models.marca
@{
    ViewBag.Title = "POS - Nueva Marca";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nueva Marca</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @using (Html.BeginForm("NuevaMarca", "Producto", FormMethod.Post, new { @id = "NuevaMarca", @style = "margin-bottom:0px;" }))
        { 
            <table id="TablaMarca" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Nombre: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" id="nombre" name="nombre" class="form-control" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaMarca" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Marca ya registrada en el sistema.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <a id="BotonAgregarMarca" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </a>
                            @if (Convert.ToInt32(ViewBag.id_producto) == 0)
                            {
                                <a href="@Url.Action("agregar_nuevo_producto")" class="btn btn-danger">
                                    <span class="glyph-icon icon-separator">
                                        <i class="glyph-icon icon-times"></i>
                                    </span>
                                    <span class="button-content">Cancelar</span>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("editarProducto", new { id = ViewBag.id_producto })" class="btn btn-danger">
                                    <span class="glyph-icon icon-separator">
                                        <i class="glyph-icon icon-times"></i>
                                    </span>
                                    <span class="button-content">Cancelar</span>
                                </a>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="text" name="id_producto" value="@ViewBag.id_producto" style="display: none;" />
            <input type="submit" id="AgregarMarca" value="Guardar" style="display: none;" />
        }
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '#BotonAgregarMarca', function () {
        $('#AgregarMarca').trigger('click');
    });
</script>

<script type="text/javascript">
    var seguir = true;
    $(document).ready(function () {
        $('#NuevaMarca').bind('submit', function (event) {
            seguir = true;
            $('.form-control').each(function () {
                if ($(this).val() == "") {
                    seguir = false;
                }
            });
            if (!seguir) {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
            VerificarMarca();
            if (!seguir) {
                return false;
            }
        });
    });
    $(document).on('change', '#nombre', function () {
        VerificarMarca();
    });
    function VerificarMarca() {
        var url = '@Url.Action("VerificarMarca", "Marca")';
        $.ajax({
            url: url,
            data: { id: 0, marca: $('#nombre').val() },
            type: "POST",
            async: false,
            success: function (existe) {
                if (existe == "True") {
                    MostrarAlertaMarca();
                    OcultarAlertaMarca();
                    seguir = false;
                }
            }
        });
    }
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function MostrarAlertaMarca() {
        $('#AlertaMarca').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
    function OcultarAlertaMarca() {
        setTimeout(function () {
            $('#AlertaMarca').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaMarca').hide(1500);
        }, 3000);
    }
</script>
