﻿
/*Light CSS3 Loading Bars by MediaLoot
URL: http://medialoot.com/item/light-css3-loading-bars

Designer: Tony Thomas

*/

/* General & Layout */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 0px;
}

h1 {
    color: #333;
    margin: 40px 0px;
}

.divider {
    display: block;
    width: 500px;
    height: 1px;
    margin: 20px 0 0 0;
    background-color: rgba(0,0,0,0.1);
}



/* Spacing */

.loading-container-1, .loading-container-2, .loading-container-3, .loading-container-4, .loading-container-5, .loading-container-6, .loading-container-7, .loading-container-8, .loading-container-9, .loading-container-10, .loading-container-11, .loading-container-12, .loading-container-13, .loading-container-14, .loading-container-15, .loading-container-16, .loading-container-17, .loading-container-18, .loading-container-19, .loading-container-20, .loading-container-21, .loading-container-22, .loading-container-23, .loading-container-24, .loading-container-25, .loading-container-26, .loading-container-27, .loading-container-28, .loading-container-29, .loading-container-30 {
    margin-bottom: 0px;
}

.loading-container-29 {
    box-sizing: inherit;
    background-color: transparent;
    width: 501px;
    height: 8px;
    border-color: rgb(150,217,64);
    border-width: 2px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-style: solid;
}

.loading-progress-29 {
    box-sizing: padding-box;
    background-color: rgb(150,217,64);
    width: 0px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 2px;
}


.progressbar {
    width: 100%;
    height: 16px;
    margin: 0 auto 20px auto;
    padding: 0px;
    background: #cfcfcf;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa #bbb #fff #bbb;
    box-shadow: inset 0px 2px 3px #bbb;
}

.progressbar,
.progressbar-inner {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}

.progressbar-inner {
    width: 77%; /* Change to actual percentage */
    height: 100%;
    background: #999;
    background-size: 18px 18px;
    background-color: #ac0;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    box-shadow: inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);
}

/*
 * Color Options
 */
.progressbar-green .progressbar-inner {
    background-color: rgba(35, 60, 79, 0.58);
    width: 100%;
}

.progressbar-blue .progressbar-inner {
    background-color: #7ce;
    width: 90%;
}

.progressbar-yellow .progressbar-inner {
    background-color: #fb5;
    width: 80%;
}

.progressbar-red .progressbar-inner {
    background-color: #f67;
    width: 70%;
}

/*
 * Transition - just for fun
 */
.progressbar:hover .progressbar-inner {
    /*width:100%;   
}
.progressbar .progressbar-inner,
.progressbar:hover .progressbar-inner{
    -webkit-transition:width .5s ease-in;  
    -moz-transition:width .5s ease-in; 
    -o-transition:width .5s ease-in; 
    transition:width .5s ease-in; 
}*/
    /*
 * Background
 */
    .stage;

{
    position: relative;
    width: 750px;
    height: 267px;
    padding-top: 160px;
    background-color: #eee;
    background-size: 12px 12px;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 10%, transparent 10%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 60%, transparent 60%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .3) 10%, transparent 10%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 60%, transparent 60%, transparent);
    background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .3) 10%, transparent 10%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 60%, transparent 60%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .3) 10%, transparent 10%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 60%, transparent 60%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .3) 10%, transparent 10%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 60%, transparent 60%, transparent);
}
