﻿@{
    ViewBag.Title = "POS - Acceso Denegado";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Error</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table">
            <tr>
                <td style="border: 0px; text-align: center;">
                    <i class="glyph-icon icon-warning" style="font-size: 150px; color: #ffa500;"></i>
                </td>
            </tr>
            <tr>
                <td style="border: 0px; text-align: center; font-size: 36px; font-weight: bold; color: #ffa500;">ACCESO DENEGADO A LA VISTA
                </td>
            </tr>
            <tr>
                <td style="border: 0px; text-align: center; font-weight: bold; color: #ffa500;">
                    @if (ViewBag.ControllerName != null)
                    {
                        <label style="font-size: 20px;">SECCIÓN<label style="background-color: #ffa500; color: white; margin: 5px; padding: 5px;">@ViewBag.ControllerName</label></label>
                    }
                </td>
            </tr>
            <tr>
                <td style="border: 0px; text-align: center; font-weight: bold; color: #ffa500;">
                    @if (ViewBag.ActionName != null)
                    {
                        <label style="font-size: 20px;">PÁGINA<label style="background-color: #ffa500; color: white; margin: 5px; padding: 5px;">@ViewBag.ActionName</label></label>
                    }
                </td>
            </tr>
            <tr>
                <td style="border: 0px; text-align: center; font-weight: bold;">
                    <span style="color: #ffa500; font-size: 25px;">@POS.Fn.usuario_logeado.Nombre().ToUpper()!</span><span>  </span><span style="color: rgb(146, 130, 130);">NO CUENTAS CON EL PERMISO NECESARIO PARA ACCEDER A ESTA SECCIÓN</span>
                </td>
            </tr>
            <tr>
                <td style="border: 0px; text-align: center; font-weight: bold;">
                    <p>
                        <span style="color: rgb(146, 130, 130);">[</span>
                        <span style="color: #ffa500; font-weight: lighter;">usuario:</span>
                        <span style="color: #ffa500;">@POS.Fn.usuario_logeado.Nombre()</span>
                        <span style="color: #ffa500; font-weight: lighter;">Nivel:</span>
                        <span style="color: #ffa500;">@POS.Fn.usuario_logeado.nivel()</span>
                        <span style="color: rgb(146, 130, 130);">]</span>
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>



