﻿@{
    ViewBag.Title = "POS - Inicio";
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Inicio</h3>
    <div class="example-box-wrapper" style="border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45); margin-top: -10px;">
        <div id="FiltroSucursal" class="row">
            <div class="col-lg-12">
                <div style="float: left; margin-bottom: 10px; margin-left: 10px; margin-top: 10px;">
                    <label>Sucursal: </label>
                    @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
                </div>
            </div>
        </div>
        <div id="Reporte">
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("VistaParcialInicio")';
        $.ajax({
            url: url,
            data: { id_sucursal: _id_sucursal },
            success: function (parcial) {
                $('#Reporte').html(parcial);
            },
            async: false
        });
        if ($('#id_sucursal').children('option').length > 1) {
            $('#id_sucursal').append('<option value="0">Todas</option>');
        }
    });
    $(document).on('change', '#id_sucursal', function () {
        var url = '@Url.Action("VistaParcialInicio")';
        $.ajax({
            url: url,
            data: { id_sucursal: $('#id_sucursal').val() },
            success: function (parcial) {
                $('#Reporte').html(parcial);
            },
            async: false
        });
    });
</script>