﻿@{
    Layout = null;
}

@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    POS.Models.configuracion_pos configuracion_pos = POS.Fn.Configuracion.TraerConfiguracionPOS();
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>POS - Terminos y Condiciones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='shortcut icon' type='image/x-icon' href="@Url.Content("/UploadFolder/logo/" + configuracion_general.favicon)" />
    <script type="text/javascript" src="../assets-minified/js-core.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
    </script>
    <style>
        #loading {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            background: #fff;
            z-index: 10000;
        }

            #loading img {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -23px 0 0 -23px;
            }
    </style>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/helpers/helpers-all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/elements/elements-all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/icons/fontawesome/fontawesome.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/snippets/snippets-all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/layout.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/default/layout-color.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/default/framework-color.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/border-radius.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/helpers/colors.css")">
</head>
<body>
    <div id="loading"><img src="../assets-minified/images/spinner/loader-dark.gif" alt="Loading..."></div>
    <script type="text/javascript" src="../assets-minified/widgets/wow/wow.js"></script>
    <script type="text/javascript">
        wow = new WOW({
            animateClass: 'animated',
            offset: 100
        });
        wow.init();
    </script>
    <div id="page-content">
        <div class="page-box">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="col-md-12 wow bounceInDown center-margin">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6" style="text-align:center;">
                                    <img src="@Url.Content("~/assets-minified/images/quianty.png")" style="max-width:100%;" />
                                </div>
                                <div class="col-md-6" style="text-align:center;">
                                    <img src="@Url.Content("/UploadFolder/logo/" + configuracion_general.logo)" style="max-width:100%;" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="server-message">
                                    <h2 style="margin-top:20px; font-size:25px;">Terminos y Condiciones</h2>
                                    <div class="col-md-8 center-margin">
                                        <h3 style="text-align:left;">Te damos la bienvenida a <STRONG>QUIANTY TECNOLOGIA</STRONG></h3><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            Te agradecemos que nuestro servicio de punto de venta y tienda en linea de <STRONG>QUIANTY TECNOLOGIA</STRONG> (en adelante, los <STRONG>SERVICIOS</STRONG>). Los <STRONG>SERVICIOS</STRONG> se
                                            proporcionan a través de <STRONG>QUIANTY TECNOLOGIA</STRONG> Tecnologia (en adelante, <STRONG>QUIANTY</STRONG>), cuyo domicilio está
                                            ubicado en Santa Teresa De Jesus 266, Col. Camino Real 45040, Zapopan, Jalisco, Mexico.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El uso de nuestros <STRONG>SERVICIOS</STRONG> implica la aceptación de estos terminos y condiciones. Te recomendamos que las
                                            leas detenidamente.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Objeto y vigencia</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            <STRONG>QUIANTY</STRONG> licencia al <STRONG>CLIENTE</STRONG> para para el uso de los <STRONG>SERVICIOS</STRONG> y sus aplicaciones de
                                            manera permanente, la vigencia es permanente siempre y cuando se continue pagando la mensualidad
                                            establecida.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            Los <STRONG>SERVICIOS</STRONG> sera para uso unico y exclusivo del personal de el <STRONG>CLIENTE</STRONG>, haciendose este
                                            responsable de cualquier mal uso que se haga de los <STRONG>SERVICIOS</STRONG> tanto por sus empleados como
                                            por terceros, incluida la reproducción ilegal de los <STRONG>SERVICIOS</STRONG> o su transmisión parcial o
                                            total por cualquier vía de su contenido, formas, tecnología o know how que le derive.
                                            Para estos efectos, se entenderá como personal de el <STRONG>CLIENTE</STRONG> todo prestador de servicios
                                            subordinados o no que presten sus servicios a las empresas pertenecientes al grupo.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG>, concede a <STRONG>QUIANTY</STRONG> el derecho de supervisar el número de usuarios de los <STRONG>SERVICIOS</STRONG>
                                            por medios directos o indirectos, incluyendo script de verificación de la
                                            licencia sobre actualizaciones, respuesta a los pedidos de <STRONG>QUIANTY</STRONG> para la auditoria
                                            de la licencia y la verificación de uso de las herramientas administrativas.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Servicios</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            Asimismo, <STRONG>QUIANTY</STRONG> se obliga para con el <STRONG>CLIENTE</STRONG> a realizar servicios de capacitación que
                                            consisten en capacitación y configuración de las licencias. Para tales efectos <STRONG>QUIANTY</STRONG>
                                            asignará a los técnicos y profesionistas que considere necesarios que podrán trabajar en
                                            sitio o de manera remota en horarios indistintos. La capacitación no podrá exceder de 6
                                            horas, en caso de que el <STRONG>CLIENTE</STRONG> necesite más horas de capacitación <STRONG>QUIANTY</STRONG> cobrará una
                                            cuota adicional ya establecida por hora excedente.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Contraprestacion</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            Como contraprestación por las licencias y los servicios, el <STRONG>CLIENTE</STRONG> le pagará a <STRONG>QUIANTY</STRONG>
                                            la cantidad de establecida.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El periodo obligatorio es de 6 meses que se tienen que pagar por adelantado.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            Al terminar el periodo obligatorio el <STRONG>CLIENTE</STRONG> podrá elegir continuar o no con el servicio,
                                            el cual tendrá el costo mensual establecido. Y el cliente podra pagar con un plazo minimo de mes a mes la cantidad establecida.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Mantenimiento</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            <STRONG>QUIANTY</STRONG> proporcionará el servicio de mantenimiento de los <STRONG>SERVICIOS</STRONG> que consiste en:
                                        </p><br />
                                        <ul style="font-size:12px; text-align:justify; list-style-type:decimal;">
                                            <li>Proporcionar a el <STRONG>CLIENTE</STRONG> los códigos de acceso para la actualización de los <STRONG>SERVICIOS</STRONG> en el caso que libere nuevas versiones o actualizaciones de los <STRONG>SERVICIOS</STRONG>.</li>
                                            <li>Proporcionar soporte telefónico en los horarios de lunes a viernes de 8:00 a 18:00 hrs. de acuerdo con el nivel de servicio establecido en el anexo “Nivel de Servicio” que se anexa a este contrato formando parte integrante del mismo. Las consultas de soporte por teléfono realizadas por <STRONG>QUIANTY</STRONG> a el <STRONG>CLIENTE</STRONG>, serán realizadas por cuenta y costo de el <STRONG>CLIENTE</STRONG>.</li>
                                            <li>Los servicios de soporte se otorgarán a solicitud de el <STRONG>CLIENTE</STRONG> durante toda la vigencia del presente contrato. Al término de este período, las partes podrán prorrogar el presente contrato previo acuerdo por escrito.</li>
                                        </ul><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG> reconoce y acepta que el soporte telefónico no reemplaza en ningún momento los servicios
                                            de capacitación requeridos para el correcto funcionamiento de la aplicación de los <STRONG>SERVICIOS</STRONG>
                                            , en virtud de lo cual, <STRONG>QUIANTY</STRONG> se reserva el derecho de otorgar el servicio telefónico
                                            cuando el <STRONG>CLIENTE</STRONG> requiera información que claramente corresponda a capacitación,
                                            tales como por ejemplo: errores del usuario, configuración o parametrización del sistema,
                                            capacitación sobre nuevas funcionalidades, entre otros.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            Para el reporte de fallas técnicas y utilización del escritorio de soporte proporcionado por <STRONG>QUIANTY</STRONG>,
                                            el <STRONG>CLIENTE</STRONG> deberá definir correctamente el problema a reportar, mediante una llamada
                                            telefónica para diagnosticar y solucionar su problema, proporcionando en dicho reporte la siguiente
                                            información:
                                        </p><br />
                                        <ul style="font-size:12px; text-align:justify; list-style-type:decimal;">
                                            <li>
                                                En caso de presentarse, texto exacto del mensaje de error o número de solución encontrada (para
                                                verificar que la puede usar).
                                            </li>
                                            <li>
                                                Pantalla u opción en la que se presenta el problema o pregunta.
                                            </li>
                                            <li>
                                                Descripción breve y concisa del problema o pregunta.
                                            </li>
                                            <li>
                                                Secuencia de eventos que generan el problema o pregunta.
                                            </li>
                                            <li>
                                                Resultados esperados de la operación
                                            </li>
                                            <li>Resultados obtenidos de la operación.</li>
                                        </ul><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El no cumplir cualquiera de estos requisitos, releva a <STRONG>QUIANTY</STRONG> de proporcionar los servicios de
                                            soporte.:
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Informacion</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG> será responsable sobre los datos que guarde en el servidor, así
                                            como será responsable si dichos datos se pierden o son usados indebidamente tanto de manera accidental
                                            como premeditada. De igual manera el <STRONG>CLIENTE</STRONG> se compromete a no borrar ni dar mal uso a los datos
                                            que <STRONG>QUIANTY</STRONG> tenga en el servidor. En caso de incurrir en esta falta, el <STRONG>CLIENTE</STRONG> se hará
                                            acreedor a una sanción que va del equivalente a dos mensualidades de servicio hasta la rescisión del
                                            contrato, dependiendo de la gravedad de la falta sin responsabilidad alguna para <STRONG>QUIANTY</STRONG>.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG> deberá de mantener un respaldo de la información que ingrese en el servidor de <STRONG>QUIANTY</STRONG>,
                                            ya que, no obstante que <STRONG>QUIANTY</STRONG> cuenta con tecnología de punta para la
                                            protección de la información, no será responsable por la pérdida de la misma por causa de cualquiera de
                                            las partes.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Restricciones de uso</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG> puede utilizar y ejecutar los <STRONG>SERVICIOS</STRONG>
                                            mediante el uso de equipos de cómputo.
                                            El <STRONG>CLIENTE</STRONG> se obliga a no copiar los <STRONG>SERVICIOS</STRONG> licenciados, a excepción de propósitos de respaldo y
                                            reserva. Cualquier copia hecha por el <STRONG>CLIENTE</STRONG> estará conforme a este acuerdo y contendrá todos los
                                            avisos respecto a las patentes, marcas registradas y otros derechos de propiedad de <STRONG>QUIANTY</STRONG>.
                                            El <STRONG>CLIENTE</STRONG> no puede prestar, alquilar, arrendar o transferir de otra manera los <STRONG>SERVICIOS</STRONG> licenciados,
                                            su uso o el uso como <STRONG>SERVICIOS</STRONG> de tiempo compartido, servicios de oficina o propósitos similares.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Titulo y contenido</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            Los <STRONG>SERVICIOS</STRONG> son protegidos por las leyes de copyright y tratados
                                            internacionales de copyright así como por la Ley de Derechos de Autor y la Ley de Propiedad Industrial de
                                            México. El título, el contenido, los derechos de propiedad intelectual e industrial respecto a todo los <STRONG>SERVICIOS</STRONG>
                                            y documentación licenciados a el <STRONG>CLIENTE</STRONG> pertenecen a <STRONG>QUIANTY</STRONG> o a sus
                                            accionistas en lo personal. Este acuerdo no incluye el derecho de licenciar los <STRONG>SERVICIOS</STRONG> y es personal
                                            para el <STRONG>CLIENTE</STRONG> y por lo tanto no puede ser cedido por este a ninguna otra persona física o moral.
                                            Asimismo, el <STRONG>CLIENTE</STRONG> reconoce que los <STRONG>SERVICIOS</STRONG> en forma de código fuente sigue siendo un
                                            secreto comercial confidencial de <STRONG>QUIANTY</STRONG>. el <STRONG>CLIENTE</STRONG> acuerda no modificar o crear trabajos
                                            derivados de los <STRONG>SERVICIOS</STRONG>. el <STRONG>CLIENTE</STRONG> acuerda no modificar, descompilar o utilizar técnicas de
                                            ingeniería inversa en los <STRONG>SERVICIOS</STRONG>.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Obligaciones de no hacer</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG> se obliga a cumplir con todas las leyes y
                                            regulaciones aplicables al uso de los <STRONG>SERVICIOS</STRONG>. Además, el <STRONG>CLIENTE</STRONG> acuerda no utilizar los <STRONG>SERVICIOS</STRONG>:
                                        </p><br />
                                        <ul style="font-size:12px; text-align:justify; list-style-type:decimal;">
                                            <li>
                                                Para infringir cualquier copyright, la marca registrada u otros derechos de propiedad intelectual o industrial con cualquier tercero en cualquier manera.
                                            </li>
                                            <li>
                                                Para que se distribuya o promueva pornografía infantil, o cualquier otro material obsceno, ilegal o información educacional sobre actividades ilegales.
                                            </li>
                                            <li>
                                                Para que se disemine mal intencionadamente cualquier virus o rutinas similares de programación dañinas o de borrado.
                                            </li>
                                            <li>
                                                Para que se distribuya o transmita cualquier forma de correo electrónico que pueda ser interpretado como "spamming" o chatarra o correo electrónico no deseado que no haya sido solicitado específicamente por el recipiente.
                                            </li>
                                            <li>
                                                Para vinculación a cualquier sitio que contenga los artículos u objetos mencionados arriba.
                                            </li>
                                        </ul><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Responsabilidad</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            En caso de que surja responsabilidad legal de cualquier tipo en contra
                                            de <STRONG>QUIANTY</STRONG>, ambas partes acuerdan que el monto de la indemnización que en su caso
                                            corresponda no excederá la contraprestación a favor de <STRONG>QUIANTY</STRONG> establecida en este contrato.
                                            El <STRONG>CLIENTE</STRONG> será responsable de cualquier daño que se genere a tercero por las siguientes hipótesis:
                                        </p><br />
                                        <ul style="font-size:12px; text-align:justify; list-style-type:decimal;">
                                            <li>
                                                Que el <STRONG>CLIENTE</STRONG> use una versión reemplazada o alterada de los <STRONG>SERVICIOS</STRONG>.
                                            </li>
                                            <li>
                                                Que el <STRONG>CLIENTE</STRONG> haga cualquier modificación o mejora a los <STRONG>SERVICIOS</STRONG> o a la documentación no autorizado por escrito por <STRONG>QUIANTY</STRONG>.
                                            </li>
                                        </ul><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG> acuerda indemnizar, defender y sacar a salvo a <STRONG>QUIANTY</STRONG> y/o a sus accionistas,
                                            socios, sus afiliados, directores, empleados, consultores y agentes, de cualquier demanda, responsabilidad,
                                            gasto, daño y/o perjuicio (incluyendo, pero no limitado a honorarios de los abogados) que se generen por
                                            el uso por parte de el <STRONG>CLIENTE</STRONG> de los <STRONG>SERVICIOS</STRONG> con violación de este acuerdo, ya sea que el uso lo
                                            realice el <STRONG>CLIENTE</STRONG> o por cualquier otro usuario desde la cuenta o con la llave de el <STRONG>CLIENTE</STRONG>.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Obligaciones de hacer</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG> se obliga a llevar a cabo las tareas de
                                            administración del sistema y estas responsabilidades incluyen:
                                        </p><br />
                                        <ul style="font-size:12px; text-align:justify; list-style-type:decimal;">
                                            <li>
                                                Administrar el acceso de los usuarios finales de los <STRONG>SERVICIOS</STRONG>.
                                            </li>
                                            <li>
                                                Contar con la infraestructura de equipos de cómputo o cualquier otro para acceder a la aplicación.
                                            </li>
                                            <li>
                                                Operar los <STRONG>SERVICIOS</STRONG> conforme a los manuales proporcionados por <STRONG>QUIANTY</STRONG>.
                                            </li>
                                            <li>
                                                Proporcionar soporte a sus usuarios finales.
                                            </li>
                                            <li>
                                                Proporcionar soporte, control y administración exclusiva de las aplicaciones dinámicas creadas por su personal.
                                            </li>
                                            <li>
                                                Realizar los respaldos necesarios para mantener confiabilidad en la información contenida en el servidor o dispositivo de almacenamiento donde resida la aplicación e información.
                                            </li>
                                        </ul><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG> reconoce y acepta, que podrá reproducir los manuales, y realizar copias de información
                                            propia de las aplicaciones de los <STRONG>SERVICIOS</STRONG> sin necesidad de la autorización previa y por escrito de <STRONG>QUIANTY</STRONG>
                                            únicamente en los casos en que tales copias correspondan a un uso interno de tales
                                            manuales y no implique distribución de este material con terceros, desarrolladores independientes de los <STRONG>SERVICIOS</STRONG>,
                                            compañías desarrolladoras de los <STRONG>SERVICIOS</STRONG>, o cualquier otro o cuando implique
                                            violaciones a los derechos intelectuales o industriales de <STRONG>QUIANTY</STRONG>.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            <STRONG>QUIANTY</STRONG> es responsable de la corrección de errores que se llegasen a detectar en el
                                            funcionamiento de las aplicaciones descritas en el presente contrato, para lo cual corregirán sin costo
                                            alguno los errores y fallas que le hayan reportado oportunamente durante el período de garantía establecido
                                            en este contrato.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG> reconoce y acepta, que es de su entera responsabilidad el seguir los procedimientos de
                                            respaldo necesarios para la protección total de la información que se esté manejando y establecidos por
                                            <STRONG>QUIANTY</STRONG>, a través de los programas de cómputo objeto del presente contrato.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            <STRONG>QUIANTY</STRONG> y sus empleados o funcionarios en ningún caso serán responsables frente el
                                            <STRONG>CLIENTE</STRONG> por perjuicios o pérdida de información o daños indirectos, especiales o consecuenciales que
                                            sufra en sus sistemas de cómputo.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG> y <STRONG>QUIANTY</STRONG> reconocen y aceptan, que es su responsabilidad establecer los métodos
                                            de control, verificación y auditoría necesarios para asegurarse que el uso de las aplicaciones de este
                                            contrato produzcan los resultados esperados por el <STRONG>CLIENTE</STRONG>.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Caso fortuito o fuerza mayor</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            En caso de que el cumplimiento de
                                            cualquiera de las obligaciones contraídas por cualquiera de las partes derivadas de este contrato, resulte
                                            imposible debido a un caso fortuito o de fuerza mayor, incluyendo de manera enunciativa pero no limitativa,
                                            las fallas totales o parciales del equipo de cómputo de el <STRONG>CLIENTE</STRONG> o por cualquier otra causa fuera del
                                            control de las partes, el cumplimiento de dicha obligación se suspenderá durante el tiempo en que dicho
                                            evento subsista, en el entendido sin embargo, que a pesar de la existencia de un caso fortuito o de fuerza
                                            mayor, el <STRONG>CLIENTE</STRONG> y <STRONG>QUIANTY</STRONG> renegociarán los periodos e importes que se le adeude a <STRONG>QUIANTY</STRONG>
                                            en los términos y condiciones señalados en este contrato.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Avisos</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            Ambas partes convienen en darse aviso por escrito de cualquier cambio de
                                            domicilio y por lo que hasta en tanto no se informe el mismo, de manera fehaciente, las comunicaciones
                                            que se giren o las notificaciones que se practiquen se entenderán legalmente efectuadas en los domicilios
                                            proporcionados por las partes en las declaraciones del presente contrato.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Resicion</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            Será causa de rescisión del presente contrato en general cualquier
                                            incumplimiento de las partes de alguna de las obligaciones que se contraen en virtud del presente contrato.
                                            Independientemente de lo anterior la parte afectada, tendrá el derecho para reclamar el pago de daños y
                                            perjuicios procedentes.
                                        </p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            La rescisión será unilateral y sin necesidad de declaración judicial de por medio, solo siendo necesaria la
                                            comunicación por parte de la parte afectada, por escrito 15 días posteriores al incumplimiento, señalando
                                            en dicho escrito las causas de incumplimiento.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Cesiones y modificaciones</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            El <STRONG>CLIENTE</STRONG> no podrá, ceder ni transmitir ya sea
                                            de forma total o parcial los derechos y/u obligaciones derivadas de la suscripción del presente Contrato sin
                                            la previa autorización por escrito de <STRONG>QUIANTY</STRONG>.
                                            Ambas partes están de acuerdo en que <STRONG>QUIANTY</STRONG> podrá ceder o transmitir libremente los derechos
                                            y/u obligaciones derivadas del presente contrato con notificación expresa a el <STRONG>CLIENTE</STRONG>. Por lo que de
                                            común acuerdo establecen las partes, para todos los efectos legales que <STRONG>QUIANTY</STRONG> podrá ceder,
                                            descontar, vender, o afectar en cualquier momento a terceras personas físicas o morales, las cuentas por
                                            cobrar o los títulos o derechos de crédito a su favor que provenga de este contrato de promesa de cesión
                                            de derechos o del contrato definitivo.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Plenitud del contrato</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            Ambas partes convienen en que el presente contrato
                                            contiene el acuerdo único y completo entre ellas, dejando sin efecto cualquier otro acuerdo, oferta o
                                            promesa previa, verbal y/o escrito que se haya celebrado con anterioridad a la firma del presente contrato.
                                        </p><br />
                                        <p style="font-size:15px; text-align:left;"><strong>Jurisdiccion y leyes aplicables</strong></p><br />
                                        <p style="font-size:12px; text-align:justify;">
                                            Para la interpretación y cumplimiento del
                                            presente Contrato, las partes se someten a la legislación aplicable y jurisdicción de los tribunales
                                            competentes de la ciudad de Guadalajara, Jalisco, México, respecto a cualquier acción, demanda o
                                            procedimiento que se derive o se relacione con el presente Contrato, renunciando expresa e
                                            irrevocablemente a cualquier otro fuero que pudiere corresponderles en virtud de sus domicilios presentes,
                                            futuros o por cualquier otra causa.
                                        </p><br />
                                        <p>
                                            <a href="@Url.Action("Index", "Home")" class="btn btn-info">
                                                <span class="glyph-icon icon-separator">
                                                    <i class="glyph-icon icon-arrow-left"></i>
                                                </span>
                                                <span class="button-content">Volver</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/widgets/dropdown/dropdown.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/widgets/slidebars/slidebars.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/widgets/uniform/uniform.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/widgets/chosen/chosen.css")">
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/dropdown/dropdown.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/uniform/uniform.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/chosen/chosen.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/superclick/superclick.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/nicescroll/nicescroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/autocomplete/autocomplete.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/autocomplete/menu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/slidebars/slidebars.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/themes/supina/js/layout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/Numeros.js")"></script>
</body>
</html>
