﻿@{
    ViewBag.Title = "POS - Inventario";
}

<style>
    #tabs_principal {
        overflow: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #tabs_principal li {
            float: left;
            margin: 0 .5em 0 0;
        }

        #tabs_principal a {
            position: relative;
            background: #ddd;
            background-image: linear-gradient(to bottom, #fff, #ddd);
            padding: .7em 3.5em;
            float: left;
            text-decoration: none;
            color: #444;
            text-shadow: 0 1px 0 rgba(255,255,255,.8);
            border-radius: 5px 0 0 0;
            box-shadow: 0 2px 2px rgba(0,0,0,.4);
        }

            #tabs_principal a:hover,
            #tabs_principal a:hover::after,
            #tabs_principal a:focus,
            #tabs_principal a:focus::after {
                background: #fff;
            }

            #tabs_principal a:focus {
                outline: 0;
            }

            #tabs_principal a::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                right: -.5em;
                bottom: 0;
                width: 1em;
                background: #ddd;
                background-image: linear-gradient(to bottom, #fff, #ddd);
                box-shadow: 2px 2px 2px rgba(0,0,0,.4);
                transform: skew(10deg);
                border-radius: 0 5px 0 0;
            }

        #tabs_principal #current a,
        #tabs_principal #current a::after {
            background: #fff;
            z-index: 3;
        }

    #content_principal {
        min-height: 250px;
        background: #fff;
        padding: 2em;
        /*height: 220px;*/
        position: relative;
        z-index: 2;
        border-radius: 0 5px 5px 5px;
        box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    }
    /*tabs*/
</style>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/progressBar/progressbar.css")">
<script type="text/javascript" src="@Url.Content("~/assets-minified/jquery.signalR-2.2.0.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets-minified/dateFormat/date_format.js")"></script>
<script src="@Url.Content("~/assets-minified/progressBar/jquery.progress.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>

<div id="page-content" style="background: #fff;">

    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Inventario</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="margin-right: 10px; margin-top: 16px; float: right;">
            <a id="CargarInventarioExcel" class="btn btn-info">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Cargar Inventario</span>
            </a>
        </div>
        <div id="DivCargaInventario" style="width: 97%; margin: 15px auto 0px 1.4vw; border: 1px solid rgba(37, 64, 84, 0.33); float: left; background-color: rgb(37, 64, 84); color: white; display: none;">
            <ul id="tabs_principal">
                <li class="opcion1"><a href="#" name="tab1" checkboxname="bool_actualiza_productos">
                    <i class="fa fa-bars" aria-hidden="true" style="margin: 0 5px"></i>CARGAR INVENTARIO EXCEL</a></li>
            </ul>
            <div id="content_principal" class=" row col-md-12" style="border-bottom: 1px solid #d2d2d2; margin-bottom: 20px;">
                <div id="tab1" class=" row Ttab col-md-12">
                    <input id="bool_actualiza_productos" class="checkboxActualizarExcel" type="checkbox" checked="checked" style="display: none" />
                    <input id="bool_actualiza_precios" class="checkboxActualizarExcel" type="checkbox" style="display: none" />
                    <div style="width: 90%; margin: 0 auto;">
                        <div style="width: 100%">
                            <label onclick="$('#DivActualizacionExcel').slideUp()" style="font-weight: normal; color: white; float: right; width: auto; border: 1px solid white; padding: 5px; cursor: pointer; border-radius: 10px; margin: 8px">
                                <i class="fa fa-times-circle" aria-hidden="true" style="margin: 0 5px;"></i>CERRAR</label>
                        </div>
                        <label id="labelActualizacion" style="float: right; font-size: 20px; margin-right: 5%; margin-top: 10px; font-weight: normal;">
                            ACTUALIZACIÓN EXCEL</label>
                        <table class="table tablaLayoutExcel" style="/*! background-color: white; */margin-top: 30px; margin: 0 auto; width: 100%">
                            <thead>
                                <tr>
                                    <th colspan="14" style="text-align: center">
                                        <label style="font-size: 20px; margin-top: 10px; font-weight: normal;">
                                            INVENTARIO - LAYOUT ACTUALIZACÓN</label></th>
                                </tr>
                                <tr>
                                    <th style="background-color: rgb(37, 64, 84); color: white;">Codigo (*Obligatorio)</th>
                                    <th style="background-color: rgb(37, 64, 84); color: white;">Nombre Sucursal (*Obligatorio)</th>
                                    <th style="background-color: rgb(37, 64, 84); color: white;">Existencias (*Obligatorio)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">AAD93</td>
                                    <td style="text-align: center;">GUADALAJARA</td>
                                    <td style="text-align: center;">400</td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="table">
                            <tr>
                                <td colspan="" style="border: 0px;">
                                    <label style="margin-top: 0px; font-weight: normal">Selecciona un archivo que tenga el formato como indica la tabla.</label><br />
                                    <label style="font-weight: normal">(*)Campo Obligatorio.</label>
                                    <input id="ArchivoExcelProductos" class="form-control" name="ArchivoExcelPrecio" accept=".csv, application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="width: 100%; color: white;" type="file">
                                </td>
                                <td style="border: none">
                                    @using (Html.BeginForm("descargarLayOut", "Producto", FormMethod.Get, new { @id = "descargarLayOutInventario" }))
                                    {  
                                        <input name="nombre" value="layoutActualizarInventario.xlsx" style="display: none" />
                                        <label onclick="$('#descargarLayOutInventario').submit();" class="boton_hover_azul" style="margin-left: 35px; width: auto; float: right; border: 1px solid; margin-top: 15px;"><i class='fa fa-file-excel-o fa-lg' aria-hidden='true' style='margin-right: 5px'></i>Descargar Layout</label>
                                    }
                                </td>
                            </tr>
                        </table>
                        <div style="background-color: #d5d5d5; border-radius: 15px;">
                            <p style="color: #535353; font-size: 15px; padding: 15px 15px 0 15px; font-weight: bold">Notas:</p>
                            <p style="color: #535353; font-size: 13px; padding: 0px 15px 15px 15px;">
                                Los tres campos son obligatorios.
                            </p>
                            <p style="color: #535353; font-size: 13px; padding: 0px 15px 15px 15px;">Solo tomará en cuenta los productos que si estén registrados.</p>
                            <p style="color: #535353; font-size: 13px; padding: 0px 15px 15px 15px;">El nombre de la sucursal debe ser igual que el registrado.</p>
                            <p style="color: #535353; font-size: 13px; padding: 0px 15px 15px 15px;">
                                La cantidad solo admite numeros del 1-9 y punto decimal.
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
        </div>
        <div style="margin-right: 10px; margin-top: 16px; margin-left: 20px; float: left;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-foursquare"></i>
            </span>
            <span>Con Existencia:&nbsp;<input type="checkbox" class="switch-inventario" style="margin:5px" id="check_inventario" /></span>
        </div>
        <table id="TablaInventarios" class="table table-hover">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Familia</th>
                    <th>Subfamilia</th>
                    <th>Proveedor</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
            </tbody>
        </table>
    </div>
</div>



<script>
    $(document).ready(function () {
        $("#content_principal").find("[id^='tab']").hide(); // Hide all content
        $("#tabs_principal li:first").attr("id", "current"); // Activate the first tab
        $("#content_principal #tab1").fadeIn(); // Show first tab's content
        $('#tabs_principal a').click(function (e) {
            $('.checkboxActualizarExcel').prop("checked", false);
            e.preventDefault();
            if ($(this).closest("li").attr("id") == "current") { //detection for current tab
                return;
            }
            else {
                $("#content_principal").find("[id^='tab']").hide(); // Hide all content
                $("#tabs_principal li").attr("id", ""); //Reset id's
                $(this).parent().attr("id", "current"); // Activate this
                $('#' + $(this).attr('name')).fadeIn(); // Show content for the current tab
                $('#' + $(this).attr('checkboxName')).prop("checked", true); // seleccionar checkbox actualizar precio/producto
            }
        });
        var elems = Array.prototype.slice.call(document.querySelectorAll('.switch-inventario'));
        elems.forEach(function (html) {
            var switchery = new Switchery(html, { size: 'small', secondaryColor: 'rgb(206, 199, 199)' });
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal").val();
        var con_inventario = $('#check_inventario').prop('checked');
        var url = '@Url.Action("VistaParcialInventario")';
        $.ajax({
            url: url,
            data: { id_sucursal: _id_sucursal, con_inventario: con_inventario },
            success: function (parcial) {
                $("#CuerpoTabla").html(parcial);
                CrearTablaInventarios();
            },
            async: false
        });
        $("#ExportarExcel").click(function () {
            $('#TablaInventarios .xlsx').trigger("click");
        });
    });
    $(document).on('change', '#id_sucursal', function () {
        establecer_id_sucursal_virtual(parseInt($(this).val()));
        VistaParcialInventario();
    });
    $(document).on('change', '#check_inventario', function () {
        VistaParcialInventario();
    });
    function VistaParcialInventario() {
        var con_inventario = $('#check_inventario').prop('checked');
        var url = '@Url.Action("VistaParcialInventario")';
        $.ajax({
            url: url,
            data: { id_sucursal: $('#id_sucursal').val(), con_inventario: con_inventario },
            success: function (parcial) {
                $('#TablaInventarios').dataTable().fnClearTable();
                $('#TablaInventarios').dataTable().fnDestroy();
                $("#CuerpoTabla").html(parcial);
                CrearTablaInventarios();
            },
            async: false
        });
    }
</script>

<script type="text/javascript">
    function CrearTablaInventarios() {
        $('#TablaInventarios').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Reporte de Inventario',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Reporte de Inventario',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Inventarios',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                }
            ],
            language: idioma_espaniol_datatable

        });
    }
</script>

<script type="text/javascript">
    function AgregarLog(msg) {
        //ACTUALIZAR LOG
        //OBTENER NOW()
        var dt = new Date();
        var hh = (dt.getHours() < 10 ? '0' : '') + dt.getHours();
        var mm = (dt.getMinutes() < 10 ? '0' : '') + dt.getMinutes();
        var ss = (dt.getSeconds() < 10 ? '0' : '') + dt.getSeconds();
        var NOW = hh + ":" + mm + ":" + ss;
        $("#divLog tbody").append("<tr><td>" + NOW + "</td><td>" + msg + "</td></tr>");
    }

    $(document).on('change', '#ArchivoExcelProductos', function () {
        var excelExtensions = ['XLS', 'XLSX'];
        fileExtension = $('#ArchivoExcelProductos').val().replace(/^.*\./, '').toUpperCase().trim();
        //REVISAR QUE NO ESTE VACIA LA CADENA
        if ($('#ArchivoExcelProductos').val() != '') {
            if (jQuery.inArray(fileExtension, excelExtensions) != -1) {
                $('#ErrorProductos').slideUp(200);
                FnPrecargaExcel();
            } else {
                $('#ErrorProductos').slideDown(200);
            }
        }
        else {
            $('#ErrorProductos').slideDown(200);
        }
    });
    function FnPrecargaExcel() {
        //VAR
        nombre_archivo = "";
        //FIN FUNCIONES
        //ARMAR MODAL CARGANDO EXCEL
        if ($('#ArchivoExcelProductos').val() != '') {
            var myFile = document.getElementById("ArchivoExcelProductos").files[0];
            var url = '@Url.Action("ModalCargaArchivoExcelInventario")';
            $.ajax({
                url: url,
                data: {},
                type: "POST",
                success: function (x) {
                    //MOSTRAR MODAL CARGANDO EXCEL
                    bootbox.dialog({
                        title: "",
                        message: x,
                        className: "ModalCargando",
                        closeButton: false,
                        onEscape: true
                    });
                    //SUBIR Y ANALIZAR ARCHIVO EXCEL
                    FnSubirArchivo(myFile);
                },
                async: false
            });
        }
        else {
            $('#ErrorProductos').slideDown(200);
            return false;
        }
    }
    //FN SUBIR ARCHIVO
    function FnSubirArchivo(file) {
        xhr = new XMLHttpRequest();
        xhr.upload.onprogress = function (evt) {
            if (evt.lengthComputable) {
                //AL CARGAR EL ARCHIVO LLEGARA AL 50%
                //Y DEL 50% AL 100% LO HARA CON UN CICLO DE 2000 MILISEGUNDOS
                var _porcent = parseInt(((evt.loaded / evt.total) * 50));
                $("#progress-bar").css({
                    width: _porcent + "%"
                });
                $(".progressbar-green .progressbar-inner").css({
                    width: _porcent + "%"
                });
                $("#lblPorcentaje").text(_porcent + "%");
                if (evt.loaded == evt.total) {
                    AVANCE_CARGA = 50;

                    var cargandoProgreso = setInterval(function () {
                        AVANCE_CARGA++;
                        $(".progressbar-green .progressbar-inner").css({ width: AVANCE_CARGA + "%" });
                        $("#lblPorcentaje").text(AVANCE_CARGA + "%");
                        //AL CARGAR EL 100%
                        if (AVANCE_CARGA == 100) { clearInterval(cargandoProgreso); FnCargarRegistroDB(new_fileName, 1); }
                    }, 40);
                }
            }
        };
        //ARMAR CADENA UNICA CONCATENANDO FECHA + NOMBRE_ARCHIVO
        var date = new Date();
        new_fileName = date.format("dd.MM.yyyy_HH.mm.ss") + "_" + file.name;
        file.fileName = new_fileName;
        xhr.open("post", "@Url.Action("SubirArchivoInventario", "Inventario")" + "?new_fileName=" + new_fileName, true);
        xhr.setRequestHeader("Content-Type", "multipart/form-data");
        xhr.setRequestHeader("X-File-Name", file.name);
        xhr.setRequestHeader("X-File-Size", file.size);
        xhr.setRequestHeader("X-File-Type", file.type);
        // Send the file
        xhr.send(file);
    }
    //FN CARGAR REGISTROS DE EXCEL A LA BASE DE DATOS
    function FnCargarRegistroDB(new_fileName, sucursal_id) {
        // initialize progress bar
        $("#progress-bar").css({
            width: "0%"
        });
        $(".progressbar-green .progressbar-inner").css({
            width: "0%"
        });
        $("#porcentaje_img").text("0%");
        // initialize the connection to the server
        var progressNotifier = $.connection.progressHub_inventario;
        // client-side sendMessage function that will be called from the server-side
        progressNotifier.client.sendMessage = function (message) {
            // update progress
            UpdateProgress(message);
        };

        //CUANDO PASE UN ERROR
        progressNotifier.client.error = function (error) {
            // update progress
            AgregarLog("Fallo el proceso: " + error);
            $(".modal").modal("hide");
            //MOSTRAR MODAL CARGANDO EXCEL
            bootbox.dialog({
                title: "ERROR",
                message: error,
                className: "ModalCargando",
                closeButton: true,
                onEscape: true
            });
            $.connection.hub.stop();
        };

        //CUANDO SE COMPLETE EL PROCESO
        progressNotifier.client.ExcelSubidoDB_OK = function () {
            AgregarLog("Excel Subido a la DB correctamente");

        };

        // establish the connection to the server and start server-side operation
        $.connection.hub.start().done(function () {
            // call the method CallLongOperation defined in the Hub
            progressNotifier.server.inventario_insertar_Temp_movimientos(new_fileName, sucursal_id);
        });
    }
    SUBPROCESO2 = "";
    function UpdateProgress(respuesta) {
        var respuestaJson = jQuery.parseJSON(respuesta);
        //SI EL SUBPROCESO CAMBIO
        if (SUBPROCESO2 != respuestaJson.avanceSubProcesos) {
            //ACTUALIZAR LOG
            //OBTENER NOW()
            var dt = new Date();
            var hh = (dt.getHours() < 10 ? '0' : '') + dt.getHours();
            var mm = (dt.getMinutes() < 10 ? '0' : '') + dt.getMinutes();
            var ss = (dt.getSeconds() < 10 ? '0' : '') + dt.getSeconds();
            var NOW = hh + ":" + mm + ":" + ss;
            $("#divLog tbody").append("<tr><td>" + NOW + "</td><td>" + respuestaJson.avanceSubProcesos + "</td></tr>");
            SUBPROCESO2 = respuestaJson.avanceSubProcesos;
        }
        //var result = $("#SubProceso");
        //result.html(sendVariable[0]);
        $("#SubProceso").html("Cargando Y Revisando Excel");
        var result = $("#lblPorcentaje");
        result.html(respuestaJson.porcentaje + "%");
        $(".progressbar-green .progressbar-inner").css({
            width: respuestaJson.porcentaje + "%"
        });
        var avance = $("#lblRegistrosProcesados");
        avance.html(respuestaJson.avanceRegistrosLabel);
        //CUANDO SE COMPLETE EL PROCESO
        if (respuestaJson.porcentaje == 100) {
            //MOSTRAR RESULTADO DEL ANALISIS
            var url = '@Url.Action("ModalResultadoInventarioAnalizarArchivoExcel")';
            $.ajax({
                url: url,
                type: "POST",
                success: function (x) {
                    $("#panelProgreso").slideUp();
                    $("#panelResultado").html(x);
                },
                async: false
            });
            //SELECCIONAR SUCURSAL Y TIPOPRECIO
            //$("#panelProgreso").slideUp(0);
            //$("#divSeleccionaTipoPrecio").slideDown(300);
        }
    }
    $(document).on('click', '#CargarInventarioExcel', function () {
        if ($('#DivCargaInventario').is(':visible') == true) {
            $('#DivCargaInventario').slideUp(200);
        } else {
            $('#DivCargaInventario').slideDown(200);
        }
    });
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var con_inventario = $('#check_inventario').prop('checked');
        var url = '@Url.Action("TraerPDFListaInventario", "FormatoPDF", new { id_sucursal = "_id_", con_inventario = "_con_inventario_" })'.replace("_id_", id_sucursal);
        url = url.replace("_con_inventario_", con_inventario);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>
