﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white; line-height: 35px;">Actualización De Inventario</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @*PANEL PROGRESO*@
        @*<div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
        </div>*@
        <table id="panelProgreso" class="table">
            <thead>
                <tr>
                    <th id="SubProceso">Subiendo Archivo De Excel</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="lblRegistrosProcesados" style="border: 0px; text-align: center;"></td>
                </tr>
                <tr>
                    <td id="divProgressBar" style="border: 0px; text-align: center;">
                        <div class="progressbar progressbar-green">
                            <div class="progressbar-inner"></div>
                            <div style="text-align: right;">
                                <label id="lblPorcentaje"></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="border: 0px;"></td>
                </tr>
            </tbody>
        </table>
        @* END PANEL PROGRESO*@
        @* PANEL RESULTADO*@
        <div id="panelResultado">
        </div>
        @* END PANEL RESULTADO*@
        @* PANEL FINALIZAR*@
        <table id="panelFinalizar" class="table" style="display: none; margin-top: -25px;">
            <tbody>
                <tr>
                    <td id="finalizacion" style="border: 0px; text-align: center; padding: 0px;">Proceso Completado</td>
                </tr>
                <tr>
                    <td style="border: 0px; text-align: right;">
                        <a id="BotonFinalizacion" class="btn btn-success">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Volver</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        @* END PANEL FINALIZAR*@
        @* END PANEL LOG*@
        <div style="width: 10%; float: left;">
            <a id="verLog" name="#divLog" class="btn btn-info" style="margin-top: 10px; margin-left: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-eye"></i>
                </span>
                <span class="button-content">Log</span>
            </a>
            <table id="divLog" class="table table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Proceso</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        @* END PANEL LOG*@
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#BotonFinalizacion').click(function () {
            window.location.href = '@Url.Action("Index")';
        });
        $("#verLog").click(function () {
            id = $(this).attr("name");
            log = escape($(id).html())
            var url = '@Url.Action("ModalLog")';
            $.ajax({
                url: url,
                data: { tabla: log },
                type: "POST",
                success: function (result) {
                    bootbox.dialog({
                        title: "",
                        className: "ModalLog",
                        message: result,
                        buttons: {
                        },
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        })
        $('.ModalCargando .modal-header').css("text-align", "center");
        $('.ModalCargando .modal-body').css("text-align", "center");
        $('.ModalCargando .modal-dialog').css("width", "50%");
    });
</script>
