﻿@model POS.Models.venta
@{
    ViewBag.Title = "POS - Nueva Salida De Inventario";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nueva Salida De Inventario</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="float: left; width: 100%; float: left; margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
            <label>Tipo De Salida: </label>
            @Html.DropDownList("tipo_movimiento_inventario_id", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
        </div>
        <div style="float: left; width: 100%; margin-bottom: 10px;">
            <a onclick="confirmar_venta()" class="btn btn-success" style="margin-left: 10px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-check"></i>
                </span>
                <span class="button-content">Confirmar Movimientos (F3)</span>
            </a>
            <a onclick="limpiar_ventana()" class="btn btn-danger" style="margin-left: 10px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-times"></i>
                </span>
                <span class="button-content">Limpiar (F4)</span>
            </a>
        </div>
        <table id="TablaMovimientos" class="table table-hover">
            <thead>
                <tr>
                    <td colspan="5" style="border: 0px; text-align: center; background-color: #506676; color: white;">Lista De Movimientos</td>
                </tr>
                <tr>
                    <th style="display: none">ID Inventario</th>
                    <th style="display: none">ID Producto</th>
                    <th>Codigo</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Disponible</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr id="Busqueda">
                    <td style="display: none">
                        <input id="txt_idInventario" value="" type="text" /></td>
                    <td style="display: none">
                        <input id="txt_idProducto" value="" type="text" /></td>
                    <td id="div_codigo" style="text-align: center;"></td>
                    <td id="div_producto" style="text-align: center;"></td>
                    <td id="div_cantidad" style="text-align: center; width: 15%;">
                        <input id="txt_cantidad" class="form-control" type="text" style="text-align: center;" /></td>
                    <td id="div_disponibilidad" style="text-align: center; width: 20%;">
                        <label id="id_disponibilidad"></label>
                        <label id="id_disponibilidad_db" style="display: none"></label>
                    </td>
                    <td id="TdAccion" style="text-align: center;"></td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <td colspan="5" style="border: 0px; text-align: center; background-color: #506676; color: white;">Observaciones</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <textarea id="observaciones" class="form-control" style="height: 70px; resize: none;"></textarea></td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <tbody>
                <tr>
                    <td style="border: 0px;">
                        <div id="AlertaProducto" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Producto inexistente.</p>
                            </div>
                        </div>
                        <div id="AlertaInventario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>El producto seleccionado no tiene inventario para la sucursal seleccionada.</p>
                            </div>
                        </div>
                        <div id="AlertaCantidad" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Introduzca una cantidad valida.</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <a onclick="confirmar_venta()" class="btn btn-success" style="margin-left: 10px; margin-bottom: 10px; margin-top: 10px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-check"></i>
            </span>
            <span class="button-content">Confirmar Movimientos (F3)</span>
        </a>
        <a onclick="limpiar_ventana()" class="btn btn-danger" style="margin-left: 10px; margin-bottom: 10px; margin-top: 10px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-times"></i>
            </span>
            <span class="button-content">Limpiar (F4)</span>
        </a>
        <table class="table table-hover" style="width: 30%; margin: 10px; border: 1px solid rgba(37, 64, 84, 0.49);">
            <thead>
                <tr>
                    <th colspan="2">Catalogo De Teclas Rapidas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>F1</td>
                    <td style="text-align: center;">Volver Al Campo Codigo</td>
                </tr>
                <tr>
                    <td>F2</td>
                    <td style="text-align: center;">Ventana De Productos</td>
                </tr>
                <tr>
                    <td>F3</td>
                    <td style="text-align: center;">Confirmar Movimientos</td>
                </tr>
                <tr>
                    <td>F4</td>
                    <td style="text-align: center;">Limpiar Ventana</td>
                </tr>
                <tr>
                    <td>Ctrl+Z</td>
                    <td style="text-align: center;">Eliminar El Ultimo Concepto Agregado</td>
                </tr>
            </tbody>
        </table>
        <div id="ticket" style="display: none">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        Lock_keypress = false;
        num_renglon = 1;
        actualiza_txt_codigo();
        $("#codigo_producto").focus();
        $("#id_sucursal").change(function () {
            actualiza_txt_codigo();
            $("#codigo_producto").focus();
        });
        $(document).on("keyup", "#codigo_producto", function (event) {
            cadena = $(this).val();
            var charCode = (event.which) ? event.which : event.keyCode
            _cantidad = 1;
            if (charCode == 106 || charCode == 171) {//asterisco
                if (cadena.split('*').length != 1) {
                    _cantidad = cadena.split('*')[0].replace(/\D/g, '');
                }
                $(this).val("");
                $("#txt_cantidad").val(_cantidad);
            }
            if (event.which == 13) {//enter
                if (cadena != "") {
                    //
                    DatosProducto();
                    $("#txt_cantidad").focus();
                    $("#txt_cantidad").select();

                }
            }
        });
        $(document).on("keyup", "#txt_cantidad", function (e) {
            cadena = $(this).val();
            _cantidad = 1;
            if (e.which == 13) {//enter
                if (cadena != "") {
                    DatosProducto();
                    agregar_movimiento_aLista();
                }
            }
        });
    });
    function separarCantidad() {
        _cantidad = "";
        _codigo = "";
        if (_cantidad_y_Codigo_producto.indexOf("emisor") != -1) {
            _codigoProducto_val = $("#codigo_producto").val().split('|')[0];
            _cantidad = 1;
        }
        else {
            _codigoProducto_val = $("#codigo_producto").val().split('|')[0];
            _cantidad = _codigoProducto_val.split('*')[0];

        }
        $("#txt_cantidad").val(_cantidad)
        $("#codigo_producto").val(_codigo)
    }
    function DatosProducto() {
        var seguir = true;
        _codigo = $("#codigo_producto").val();
        _descripcion = "";
        if ($("#codigo_producto").val().indexOf('|') != -1) {
            _codigo = $("#codigo_producto").val().split('|')[0];
            _descripcion = $("#codigo_producto").val().split('|')[1]
        }
        var url = '@Url.Action("VerificarProducto")';
        $.ajax({
            url: url,
            data: { codigo: _codigo },
            success: function (result) {
                if (!result.existe) {
                    $("#AlertaProducto").slideDown('slow').delay(3000).slideUp('slow');
                    $('#id_disponibilidad').html('');
                    $('#TdAccion').html('');
                    $("#txt_cantidad").val("");
                    seguir = false;
                }
            },
            async: false
        });
        if (seguir) {
            var url = '@Url.Action("VerificarInventario")';
            $.ajax({
                url: url,
                data: { codigo: _codigo, id_sucursal: $("#id_sucursal").val() },
                success: function (result) {
                    if (!result.existe) {
                        $("#AlertaInventario").slideDown('slow').delay(3000).slideUp('slow');
                        $('#id_disponibilidad').html('');
                        $('#TdAccion').html('');
                        $("#txt_cantidad").val("");
                        seguir = false;
                    }
                },
                async: false
            });
            if (seguir) {
                var url = '@Url.Action("DatosProducto")';
                $.ajax({
                    url: url,
                    data: { id_sucursal: $("#id_sucursal").val(), codigoProducto: _codigo },
                    success: function (result) {
                        _descripcion = result.descripcion;
                        $("#id_disponibilidad_db").text(result.disponible);
                        $("#txt_idProducto").val(result.idProducto);
                        $("#txt_idInventario").val(result.idInventario);
                        $("#codigo_producto").val(_codigo + "|" + _descripcion);
                        $('#TdAccion').html("<a id='agregar_concepto' class='btn btn-success'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-plus'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
                        disponibilidad_suficiente();
                    },
                    async: false
                });
            }
        }
    }
    $(document).on('blur', '#codigo_producto', function () {
        if ($(this).val() != "") {
            DatosProducto();
            $("#txt_cantidad").focus();
            $("#txt_cantidad").select();
        }
    });
    function disponibilidad_suficiente() {
        resultado = false;
        cantidad = parseFloat($("#txt_cantidad").val());
        disponibleDB = parseFloat($("#id_disponibilidad_db").text());
        disponible_menos_agregados_a_lista = 0;
        //calcular los que ya agregamos a la lista
        sumatoria_ya_agregados_a_lista = 0;
        if ($("#TablaMovimientos tbody .RenglonMovimiento").length != 0) {
            idProducto_seleccionado = $("#txt_idProducto").val();
            $("#TablaMovimientos tbody .RenglonMovimiento").each(function () {
                id_renglon = $(this).attr("id");
                idProducto_renglon = $("#" + id_renglon + " .id_producto").text();
                if (idProducto_renglon == idProducto_seleccionado) {
                    cantidad_renglon = $("#" + id_renglon + " .cantidad").text();
                    sumatoria_ya_agregados_a_lista += parseFloat(cantidad_renglon);
                }
            });
        }
        disponible_menos_agregados_a_lista = disponibleDB - sumatoria_ya_agregados_a_lista;
        $("#id_disponibilidad").text(disponible_menos_agregados_a_lista);
        //alert("disponibledb:" + disponibleDB + "\n" + "sumatoria_lista:" + sumatoria_ya_agregados_a_lista + "\n" + "disponible_menos_agregados_a_lista:" + disponible_menos_agregados_a_lista);
        if (cantidad <= disponible_menos_agregados_a_lista) {
            //todo ok
            resultado = true;
        }
        return resultado;
    }
    $(document).on('click', '#agregar_concepto', function () {
        agregar_movimiento_aLista();
    });
    function agregar_movimiento_aLista() {
        if ($('#txt_cantidad').val() == "" || parseInt($('#txt_cantidad').val()) <= 0) {
            $("#AlertaCantidad").slideDown('slow').delay(3000).slideUp('slow');
        } else {
            var codigo_producto_agregar = $('#codigo_producto').val().split('|')[0].trim();
            var nueva_cantidad = parseFloat($('#txt_cantidad').val());
            if (es_producto_repetido(codigo_producto_agregar)) {
                sumar_cantidad(codigo_producto_agregar, nueva_cantidad);
            }
            else {
                _codigo = $("#codigo_producto").val();
                _descripcion = "";
                id_sucursal = $("#id_sucursal").val();
                _idProducto = $("#txt_idProducto").val();
                _idInventario = $("#txt_idInventario").val();
                if ($("#codigo_producto").val().indexOf('|') != -1) {
                    _codigo = $("#codigo_producto").val().split('|')[0];
                    _descripcion = $("#codigo_producto").val().split('|')[1]
                }
                cantidad = $("#txt_cantidad").val();
                renglon = "<tr id='r_" + num_renglon + "' class='RenglonMovimiento' name='" + num_renglon + "'>" +
                            "<td class='idInventario' style='display:none;'>" + _idInventario + "</td>" +
                            "<td class='id_producto' style='display:none;'>" + _idProducto + "</td>" +
                            "<td class='codigo' style='text-align: center; border:0px;'>" + _codigo + "</td>" +
                            "<td class='producto' style='text-align: center; border:0px;'>" + _descripcion + "</td>" +
                            "<td class='cantidad' style='text-align: center; border:0px;'>" + cantidad + "</td>" +
                            "<td style='text-align: center; border:0px;'></td>" +
                            "<td style='text-align: center; border:0px;'><a class='btn btn-danger eliminar_concepto'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-times'></i></span><span class='button-content' style='margin-left:6px;'></span></a></td>" +
                        "</tr>";
                num_renglon++;
                $(renglon).insertAfter($("#Busqueda"));
            }
            $("#txt_cantidad").val("");
            $("#id_disponibilidad").text("");
            $("#codigo_producto").val("");
            $('#TdAccion').html('');
            $("#codigo_producto").focus();
        }
    }
    function confirmar_venta() {
        var url = '@Url.Action("ModalConfirmarMovimientoInventario")';
        var _vista_parcial
        $.ajax({
            url: url,
            data: {},
            success: function (vistaParcial) {
                bootbox.dialog({
                    className: "ModalConfirmarMovimientoInventario",
                    message: vistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    function confirmar() {
        MovimientoInventario = [];
        MovimientoInventario.push({
            tipo_movimiento_inventario_id: $('#tipo_movimiento_inventario_id').val(),
            sucursal_id: $('#id_sucursal').val(),
            observaciones: $('#observaciones').val()
        });
        var ConceptoMovimientoInventario = [];
        $("#TablaMovimientos tbody .RenglonMovimiento").each(function () {
            ConceptoMovimientoInventario.push({
                cantidad: $(this).find('.cantidad').html(),
                id_producto: $(this).find('.id_producto').html(),
                id_inventario: $(this).find('.idInventario').html()
            });
        });
        if (ConceptoMovimientoInventario.length != 0) {
            var params = {
                'MovimientoInventario': MovimientoInventario[0],
                'ConceptoMovimientoInventario': ConceptoMovimientoInventario
            };
            //enviar venta
            var _url2 = '@Url.Action("NuevaSalida")';
            $.ajax({
                url: _url2,
                type: "POST",
                contentType: 'application/json;',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.success) {
                        location.reload(true);
                    }
                    else {
                        alert("Error al registrar movimiento de inventario:\n" + result.error);
                    }
                },
                async: false
            });
        }
        else {
            $('.ModalConfirmarMovimientoInventario').modal('hide');
            var url = '@Url.Action("ModalMovimientoInventarioVacio")';
        var _vista_parcial
        $.ajax({
            url: url,
            data: {},
            success: function (vistaParcial) {
                bootbox.dialog({
                    title: "",
                    className: "ModalMovimientoInventarioVacio",
                    message: vistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
}
function limpiar_ventana() {
    var url = '@Url.Action("ModalLimpiarMovimientoInventario")';
        var _vista_parcial
        $.ajax({
            url: url,
            data: {},
            success: function (vistaParcial) {
                bootbox.dialog({
                    title: "",
                    className: "ModalLimpiarMovimientoInventario",
                    message: vistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    function limpiar() {
        window.location.href = '@Url.Action("NuevaSalida")';
    }
    $(document).on("click", ".eliminar_concepto", function () {
        $(this).closest("tr").remove();
    });
    function actualiza_txt_codigo() {
        id_sucursal = $("#id_sucursal option:selected").val();
        var url = '@Url.Action("VistaParcialAutocompleteProducto", "venta")';
        var _vistaPacialTxtBoxRFC
        $.ajax({
            url: url,
            data: { id_sucursal: id_sucursal },
            success: function (vistaParcial) {
                $("#div_producto").html(vistaParcial);
            },
            async: false
        });
    }
    //doble click sobre la ventana modal de productos
    $(document).on("dblclick", ".ModalListaProductos #tabla_lista_productos tbody tr", function (event) {
        codigo = $(this).children(".codigo_selecciona_producto").text();
        descripcion = $(this).children(".descripcion_selecciona_producto").text();
        $("#codigo_producto").val(codigo + " | " + descripcion);
        $(".ModalListaProductos").modal("hide");
        DatosProducto();
        $("#txt_cantidad").focus();
        $("#txt_cantidad").select();
    });
    //eventro control+z
    document.addEventListener('keydown', function (event) {
        if (event.keyCode == 90 && event.ctrlKey) {
            $("#TablaMovimientos tbody .RenglonMovimiento:last").remove();
        }
    }, false);
    //doble click sobre la ventana modal de productos
    $(document).on("dblclick", ".ModalListaProductos #tabla_lista_productos tbody tr", function (event) {
        codigo = $(this).children(".codigo_selecciona_producto").text();
        descripcion = $(this).children(".descripcion_selecciona_producto").text();
        $("#codigo_producto").val(codigo + " | " + descripcion);
        $(".bootbox").modal("hide");
        traer_precio();
        $("#Input_TipoPrecioId").focus();
        $("#Input_TipoPrecioId").select();
    });
    //keypress documento completo
    //F:keyCode
    $(document).bind('keydown', function (event) {
        if ($(".bootbox").length == 0) {
            if (!Lock_keypress) {
                var charCode = event.keyCode
                if (charCode === 112 /*F1*/) {
                    $("#codigo_producto").focus();
                }
                if (charCode === 113 /*F2*/) {
                    Lock_keypress = true;
                    var url = '@Url.Action("ModalListaProductos", "Producto")';
                    var _vista_parcial
                    $.ajax({
                        url: url,
                        data: { id_sucursal: $("#id_sucursal").val() },
                        success: function (vistaParcial) {
                            _vista_parcial = vistaParcial
                            Lock_keypress = false;
                        },
                        async: false
                    });
                    bootbox.dialog({
                        title: "",
                        className: "ModalListaProductos",
                        message: _vista_parcial,
                        buttons: {
                        },
                        closeButton: false,
                        onEscape: true
                    });
                }
                if (charCode === 114 /*F3*/) {
                    event.preventDefault();
                    confirmar_venta();
                }
                if (charCode === 115 /*F4*/) {
                    limpiar_ventana();
                }
            }
        }
    });
    $(document).on('keypress', '#txt_cantidad', function (e) {
        var text = $(this).val();
        var cantidadOriginal = $('#id_disponibilidad').html();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                if (parseFloat(text + String.fromCharCode(e.which)) > parseFloat(cantidadOriginal)) {
                    return false
                } else {
                    return true;
                }
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                if (parseFloat(text + String.fromCharCode(e.which)) > parseFloat(cantidadOriginal)) {
                    return false
                } else {
                    return true;
                }
            }
        }
    });
    function es_producto_repetido(codigo_producto) {
        var es_repetido = false;

        $('.RenglonMovimiento').each(function (index) {
            var codigo_individual = $(this).find('.codigo').html().trim();
            if (codigo_producto == codigo_individual) {
                es_repetido = true;
            }
        });

        return es_repetido;
    }

    function sumar_cantidad(codigo_producto, cantidad) {
        $('.RenglonMovimiento').each(function (index) {
            var codigo_individual = $(this).find('.codigo').html().trim();
            if (codigo_producto == codigo_individual) {
                var cantidad_individual = parseFloat($(this).find('.cantidad').html());
                var cantidad_nueva = cantidad_individual + cantidad;
                $(this).find('.cantidad').html(cantidad_nueva);
                return true;
            }
        });
    }
</script>
