﻿@model IEnumerable<POS.Models.conceptos_por_movimiento_inventario>
@foreach (var concepto in Model)
{
    <tr>
        <td style="text-align: center;">@concepto.movimiento_inventario.fecha.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
        <td style="text-align: center;">@concepto.inventario.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">
            @{
                var tipo_movimiento = concepto.movimiento_inventario.tipo_movimiento_inventario.id;
                if (tipo_movimiento == 1 || tipo_movimiento == 3 || tipo_movimiento == 5 || tipo_movimiento == 7)
                {
                    @concepto.movimiento_inventario.tipo_movimiento_inventario.nombre <label class="hidden-print" style="color: #0d5a22;"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></label>
                }
                else if (tipo_movimiento == 2 || tipo_movimiento == 4 || tipo_movimiento == 6)
                {
                    @concepto.movimiento_inventario.tipo_movimiento_inventario.nombre <label class="hidden-print" style="color: #ff0000;"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></label>
                }
            }
        </td>
        <td style="text-align: center;">@concepto.movimiento_inventario.usuario_punto_venta.nombre_usuario</td>
        <td style="text-align: center;">@concepto.movimiento_inventario.recibe</td>
        <td style="text-align: center;">@concepto.inventario.producto.Codigo</td>
        <td style="text-align: center;">@concepto.inventario.producto.Descripcion</td>
        <td style="text-align: center;">@concepto.inventario.producto.marca.nombre</td>
        <td style="text-align: center;">@concepto.inventario.producto.proveedor.nombre_proveedor</td>
        <td style="text-align: center;">@concepto.inventario.producto.subfamilia.familia.nombre</td>
        <td style="text-align: center;">@concepto.inventario.producto.subfamilia.nombre</td>
        <td style="text-align: center;">
            @if (concepto.cantidad > 0)
            {
                <label style="font-weight: 300;">@concepto.cantidad</label>
            }
            else
            {
                <label style="font-weight: 300;">@concepto.cantidad</label>
            }
        </td>
        <td style="text-align: center;">@concepto.movimiento_inventario.observaciones</td>
    </tr>
}

<script>
    $("#TablaResumenES").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],                  // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>