﻿@model IEnumerable<POS.Models.movimiento_inventario>
@foreach (var movimiento in Model)
{
    int idTipoMov = movimiento.tipo_movimiento_inventario_id;
    <tr>
        <td style="text-align: center;">@movimiento.fecha.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
        <td style="text-align: center;">@movimiento.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">
            @{
                var tipo_movimiento = movimiento.tipo_movimiento_inventario.id;
                if (tipo_movimiento == 1 || tipo_movimiento == 3 || tipo_movimiento == 5 || tipo_movimiento == 7)
                {
                    @movimiento.tipo_movimiento_inventario.nombre <label class="hidden-print" style="color: #0d5a22;"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></label>

                }
                else if (tipo_movimiento == 2 || tipo_movimiento == 4 || tipo_movimiento == 6)
                {
                    @movimiento.tipo_movimiento_inventario.nombre <label class="hidden-print" style="color: #ff0000;"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></label>
                }
            }
        </td>
        <td style="text-align: center;">@movimiento.usuario_punto_venta.nombre_usuario</td>
        <td style="text-align: center;">@movimiento.recibe</td>
        <td style="text-align: center;">
            @if (idTipoMov == 1 || idTipoMov == 3)
            {
                <label style="font-weight: 300;">@movimiento.conceptos_por_movimiento_inventario.Select(x => x.cantidad).Sum()</label>
            }
            else
            {
                <label style="font-weight: 300;">@movimiento.conceptos_por_movimiento_inventario.Select(x => x.cantidad).Sum()</label>
            }
        </td>
        <td style="text-align: center;">@movimiento.observaciones</td>
        <td style="text-align: center;">
            <section>
                <div class="wrapper-demo">
                    <div class="wrapper-dropdown-5" tabindex="1">
                        <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                        Acciones
                        <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                            <li>
                                <label onclick="DetalleMovimiento(@movimiento.id)" style="color: #254054"><i class="glyph-icon icon-eye" aria-hidden="true" style="margin-right: 15px;"></i>Detalle</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </td>
    </tr>
                }

<script type="text/javascript">
    $(document).ready(function () {
        $('#MasDetalle').attr('href', '@Url.Action("HistorialMovimientosInventarioDetalle", new { periodo = ViewBag.periodo })');
    });
</script>

<script>
    $("#TablaMovimientosInventario").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx", "csv", "txt"],     // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: 7,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>