﻿@{
    ViewBag.Title = "POS - Consignacion";
}

@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Consignacion</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="width:100%; height:50px;">
            <div style="margin-left: 10px; margin-top: 10px; float: left;">
                <label>Periodo: </label>
                <div class="btn btn-primary" style="width: 375px; background-color: #254054; border-color: #254054;">
                    <i class="glyph-icon icon-calendar"></i>
                    <input type="text" id="periodo" class="form-control" readonly="readonly" style="border: none; background-color: transparent; color: white; padding-left: 0px; display: inline; box-shadow: none; cursor: pointer; opacity: 100; text-align: center;" />
                </div>
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Sucursal: </label>
                @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 150px;" })
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Proveedor: </label>
                @Html.DropDownList("id_proveedor", null, new { @class = "form-control", @style = "display: inline; width: 150px;" })
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Familia: </label>
                @Html.DropDownList("id_familia", null, new { @class = "form-control", @style = "display: inline; width: 150px;" })
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Estatus: </label>
                <select id="id_estatus" class="form-control" style="display: inline; width: 100px;">
                    <option value="0" selected="selected">Todos</option>
                    <option value="1">Por Pagar</option>
                    <option value="2">Pagados</option>
                </select>
            </div>
        </div>
        <div style="width:100%;">
            <div style="margin-left: 10px; margin-top: 10px; float: left;">
                <a id="EnviarReporte" class="btn btn-info">
                    <span class="glyph-icon icon-separator">
                        <i class="glyph-icon icon-elusive-mail"></i>
                    </span>
                    <span class="button-content">Enviar Reporte</span>
                </a>
            </div>
            <div style="margin-left: 10px; margin-top: 10px; float: left;">
                <a id="PagarSeleccionados" class="btn btn-success" style="display:none;">
                    <span class="glyph-icon icon-separator">
                        <i class="glyph-icon icon-check"></i>
                    </span>
                    <span class="button-content">Pagar Seleccionados</span>
                </a>
            </div>
        </div>
        <table id="TablaHistorial" class="table" style="width: 100%;">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Proveedor</th>
                    <th>Familia</th>
                    <th>Venta</th>
                    <th>Sucursal</th>
                    <th>Fecha Venta</th>
                    <th>Estatus</th>
                    <th>Fecha Pago</th>
                    <th>Usuario Pago</th>
                    <th>Cantidad</th>
                    <th>Precio de Venta</th>
                    <th>Costo</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4" style="border: 0px; width: 30%; text-align:center; background-color: #506676; color: white; padding:4px;"></td>
                    <td style="border: 0px; width: 30%; text-align:center; background-color: #506676; color: white; padding:4px;">Totales</td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;"></td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">Total Pagado</td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">
                        <label style="margin-right:5px;">$</label><span id="Pagado"></span>
                    </td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;"></td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">Total Adeudo</td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">
                        <label style="margin-right:5px;">$</label><span id="Adeudo"></span>
                    </td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">Total Vendido</td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">
                        <label style="margin-right:5px;">$</label><span id="Vendido"></span>
                    </td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;"></td>
                </tr>
            </tfoot>
            <tbody id="CuerpoTabla"></tbody>

        </table>
    </div>
</div>

<div id="Ticket" style="display: none;"></div>

<script type="text/javascript">
    var tabla_virtual;
    $(function () {
        $('#periodo').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
            "timePickerSeconds": true,
            "locale": {
                "format": "MM/DD/YYYY hh:mm:ss A",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizado",
                "daysOfWeek": ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                "firstDay": 1
            },
            ranges: {
                'Hoy': ["@ViewBag.HoyInicio", "@ViewBag.HoyFin"],
                'Ayer': ["@ViewBag.AyerInicio", "@ViewBag.AyerFin"],
                'Antier': ["@ViewBag.AntierInicio", "@ViewBag.AntierFin"],
                'Semana Actual': ["@ViewBag.SemanaActualInicio", "@ViewBag.SemanaActualFin"],
                'Semana Pasada': ["@ViewBag.SemanaPasadaInicio", "@ViewBag.SemanaPasadaFin"],
                'Semana Antepasada': ["@ViewBag.SemanaAntepasadaInicio", "@ViewBag.SemanaAntepasadaFin"],
                'Quincena Actual': ["@ViewBag.QuincenaActualInicio", "@ViewBag.QuincenaActualFin"],
                'Quincena Pasada': ["@ViewBag.QuincenaPasadaInicio", "@ViewBag.QuincenaPasadaFin"],
                'Quincena Antepasada': ["@ViewBag.QuincenaAntepasadaInicio", "@ViewBag.QuincenaAntepasadaFin"],
                'Mes Actual': ["@ViewBag.MesActualInicio", "@ViewBag.MesActualFin"],
                'Mes Pasado': ["@ViewBag.MesPasadoInicioFin", "@ViewBag.MesPasadoFin"],
                'Mes Antepasado': ["@ViewBag.MesAntepasadoInicio", "@ViewBag.MesAntepasadoFin"]
            }
        });
    });
    $(document).ready(function () {
        /*CONFIGURACIONES*/
        if ($('#configuracion_caja_centralizada').val() == "True") {
            caja_centralizada = true;
        } else {
            caja_centralizada = false;
        }
        if ($('#configuracion_edicion_precios').val() == "True") {
            editar_precio_dinamicamente = true;
        } else {
            editar_precio_dinamicamente = false;
        }
        if ($('#configuracion_imprimir_solo_ticket').val() == "True") {
            impresion_solo_ticket = true;
        } else {
            impresion_solo_ticket = false;
        }
        if ($('#confirmacion_directa').val() == "True") {
            confirmacion_directa = true;
        } else {
            confirmacion_directa = false;
        }
        /*CONFIGURACIONES*/
        if ($('#id_sucursal').children('option').length > 1) {
            $('#id_sucursal').prepend('<option value="0">Todas</option>');
        }
        $('#id_sucursal option[value="0"]').attr("selected", "selected");
        $('#id_proveedor').prepend('<option value="0">Todos</option>');
        $('#id_proveedor option[value="0"]').attr("selected", "selected");
        $('#id_familia').prepend('<option value="0">Todos</option>');
        $('#id_familia option[value="0"]').attr("selected", "selected");
        ActualizarVistaParcialHistorial();
        actualizar_totales_por_filtro();
        $(document).on('change', '#periodo', function () {
            ActualizarVistaParcialHistorial();
            actualizar_totales_por_filtro();
        });
        $("#ExportarExcel").click(function () {
            $('#TablaHistorial .xlsx').trigger("click");
        });
        $(document).on('change', '#id_sucursal', function () {
            ActualizarVistaParcialHistorial();
            actualizar_totales_por_filtro();
        });
        $(document).on('change', '#id_proveedor', function () {
            ActualizarVistaParcialHistorial();
            actualizar_totales_por_filtro();
        });
        $(document).on('change', '#id_familia', function () {
            ActualizarVistaParcialHistorial();
            actualizar_totales_por_filtro();
        });
        $(document).on('change', '#id_estatus', function () {
            ActualizarVistaParcialHistorial();
            actualizar_totales_por_filtro();
        });
    });
    function ActualizarVistaParcialHistorial() {
        var url = '@Url.Action("VistaParcialConsignacion")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_sucursal: $("#id_sucursal").val(), id_proveedor: $("#id_proveedor").val(), id_familia: $("#id_familia").val(), id_estatus: $("#id_estatus").val(), periodo: $("#periodo").val() },
            success: function (result) {
                $('#TablaHistorial').dataTable().fnClearTable();
                $('#TablaHistorial').dataTable().fnDestroy();
                $("#CuerpoTabla").html(result);
                $(".wrapper-dropdown-5").each(function () {
                    var dd = new DropDown($(this));
                    $(document).click(function () {
                        $('.wrapper-dropdown-5').removeClass('active');
                    });
                });
                CrearTablaHistorial();
            },
            async: false
        });
    }
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
    function PagarConcepto(id) {
        var url = '@Url.Action("PagarConcepto")';
        $.ajax({
            url: url,
            type: "POST",
            dataType: "JSON",
            data: { id_concepto_por_venta: id },
            success: function (result) {
                if (result.success) {
                    ActualizarVistaParcialHistorial();
                } else {
                    alert("Error: No se ha podido registrar el pago.");
                    ActualizarVistaParcialHistorial();
                }
            },
            async: false
        });
        actualizar_totales_por_filtro();
    }
    $(document).on('click', '#PagarSeleccionados', function () {
        var pagados_seleccionados = 0;
        $('.selected').each(function () {
            if ($(this).attr('pagado') == "pagado") {
                pagados_seleccionados = pagados_seleccionados + 1;
            }
        });
        if (pagados_seleccionados > 0) {
            alert("Hay conceptos seleccionados ya pagados. Por favor, desmarque los conceptos ya pagados.");
        } else {
            var Conceptos = [];
            $('.selected').each(function () {
                if ($(this).attr('pagado') != "pagado") {
                    Conceptos.push($(this).attr('name'));
                }
            });
            if (Conceptos.length > 0) {
                var params = {
                    'ListaConceptos': Conceptos
                };
                var url = '@Url.Action("PagarListaConceptos")';
                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: 'application/json;',
                    dataType: 'json',
                    data: JSON.stringify(params),
                    success: function (result) {
                        if (result.success) {
                            ActualizarVistaParcialHistorial();
                        }
                        else {
                            alert("Error: No se ha podido registrar el pago.");
                            ActualizarVistaParcialHistorial();
                        }
                    },
                    async: false
                });
            } else {
                alert("No hay ningun concepto seleccionado.");
            }
        }
    });
    $('#TablaHistorial tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
        if ($('.selected').length > 0) {
            $('#PagarSeleccionados').show();
        } else {
            $('#PagarSeleccionados').hide();
        }
    });
    $(document).on('click', '#EnviarReporte', function () {
        var url = '@Url.Action("ModalReporteVentaConsignacion")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_sucursal: $("#id_sucursal").val(), periodo: $("#periodo").val(), id_proveedor: $("#id_proveedor").val(), id_estatus: $("#id_estatus").val(), id_familia: $("#id_familia").val() },
            success: function (Modal) {
                bootbox.dialog({
                    className: "ModalReporteVentaConsignacion",
                    message: Modal,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    });
    $(document).on('click', '#MandarReporteVentaConsignacion', function () {
        $('.proveedor').each(function () {
            if ($(this).find('.correo').val() != "" && $(this).find('.correo').val() != null && $(this).find('.correo').val() != undefined) {
                $(this).find('.correo').css('border', '1px solid #ddd');
                var proveedor = $(this);
                var url = '@Url.Action("EnviarCorreoReporteVentaConsignacion", "FormatoPDF")';
                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: { id_proveedor: $(this).find('.id_proveedor').val(), nombre_proveedor: $(this).find('.nombre_proveedor').val(), correo: $(this).find('.correo').val(), id_sucursal: $("#id_sucursal").val(), periodo: $("#periodo").val(), id_estatus: $("#id_estatus").val() },
                    success: function (result) {
                        if (result.success) {
                            $(proveedor).find('.icono').html('<img src="@Url.Content("~/assets-minified/images/success_proveedor.png")" style="width:25px;" />');
                        }
                        else {
                            $(proveedor).find('.icono').html('<img src="@Url.Content("~/assets-minified/images/error_proveedor.png")" style="width:25px;" />');
                            alert("Error: No se pudo mandar el reporte de proveedor " + result.proveedor);
                        }
                    },
                    async: false
                });
            } else {
                $(this).find('.correo').css('border', '1px solid red');
            }
        });
    });
    $(document).on('click', '#CancelarReporteVentaConsignacion', function () {
        $('.ModalReporteVentaConsignacion').modal('hide');
    });
    //$('#ExportarPDF').click(function () {
    //    descargar_pdf();
    //});
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var periodo = $("#periodo").val();
        var id_proveedor = $('#id_proveedor').val();
        var id_estatus = $('#id_estatus').val();
        var url = '@Url.Action("TraerPDFListaConsignaciones", "FormatoPDF", new { id_sucursal = "_id_", id_proveedor = "_id_proveedor_", id_estatus = "_id_estatus_", periodo = "_periodo_" })'.replace("_id_", id_sucursal);
        url = url.replace("_id_proveedor_", id_proveedor);
        url = url.replace("_id_estatus_", id_estatus);
        url = url.replace("_periodo_", periodo);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }

    $(document).on('keyup', '#TablaHistorial_filter input', actualizar_totales_por_filtro);

    function actualizar_totales_por_filtro() {
        var all_rows = tabla_virtual.rows({filter : 'applied'});
        var lista_id_ventas = [];
        console.log("--------------->");
        $(all_rows.nodes()).each(function () {
            console.log("id: " + $(this).attr('name'));
            lista_id_ventas.push($(this).attr('name'));
        });
        console.log("<---------------");
        var params = {
            'lista_id_ventas': lista_id_ventas
        };

        var url = '@Url.Action("TraerTotalesFiltroConsignacion")';
        $.ajax({
            url: url,
            type: "POST",
            contentType: 'application/json;',
            dataType: 'json',
            data: JSON.stringify(params),
            success: function (result) {
                $('#Pagado').html(result.TotalPagado);
                $('#Adeudo').html(result.TotalDeuda);
                $('#Vendido').html(result.TotalVendido);
            },
            async: false
        });
    }
</script>

<script type="text/javascript">
    function CrearTablaHistorial() {
        tabla_virtual = $('#TablaHistorial').DataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    title: 'Lista de Venta consignaciones',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista Venta Consignaciones',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Lista Venta Consignaciones',
                    message: 'Reporte Consignación',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    footer: true,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>