﻿@{
    ViewBag.Title = "POS - Historial";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Historial</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="margin-left: 10px; margin-top: 10px; float: left;">
            <label>Periodo: </label>
            <div class="btn btn-primary" style="width: 375px; background-color: #254054; border-color: #254054;">
                <i class="glyph-icon icon-calendar"></i>
                <input type="text" id="periodo" class="form-control" readonly="readonly" style="border: none; background-color: transparent; color: white; padding-left: 0px; display: inline; box-shadow: none; cursor: pointer; opacity: 100; text-align: center;" />
            </div>
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Estatus: </label>
            @Html.DropDownList("id_catalogo_status", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
        </div>
        @*<div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarExcel" class="btn btn-success" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <table id="TablaHistorial" class="table" style="width: 100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Vendedor</th>
                    <th>Tipo De Pago</th>
                    <th>Estatus</th>
                    <th>Costo</th>
                    <th>Precio</th>
                    <th>Ganancia</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla"></tbody>
            <tfoot>
                <tr>
                    <td colspan="10" style="border:0px; padding: 0px;">
                        <table class="table" style="margin-top:15px;">
                            <tr>
                                <td style="border: 0px; width: 70%; padding:4px;"></td>
                                <td colspan="3" style="border: 0px; width: 30%; text-align:center; background-color: #506676; color: white; padding:4px;">Totales</td>
                            </tr>
                            <tr>
                                <td style="border: 0px; width: 70%; padding:4px;"></td>
                                <td style="border: 0px; width: 10%; text-align:center; background-color: #9AA7B0; color: white; padding:4px;"></td>
                                <td style="border: 0px; width: 10%; text-align:center; background-color: #9AA7B0; color: white; font-weight:bold; padding:4px;"><i class="glyph-icon icon-arrow-down" style="margin-right: 5px"></i>ENTRADA</td>
                                <td style="border: 0px; width: 10%; text-align:center; background-color: #9AA7B0; color: white; font-weight:bold; padding:4px;"><i class="glyph-icon icon-arrow-up" style="margin-right: 5px"></i>SALIDA</td>
                            </tr>
                            <tr>
                                <td style="border: 0px; width: 70%; padding:4px;"></td>
                                <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">Total Facturado</td>
                                <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">
                                    <label style="margin-right:5px;">$</label><span id="Facturado"></span>
                                </td>
                                <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;"></td>
                            </tr>
                            <tr>
                                <td style="border: 0px; width: 70%; padding:4px;"></td>
                                <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">Total Cancelado</td>
                                <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;"></td>
                                <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">
                                    <label style="margin-right:5px;">-$</label><span id="Cancelado"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0px; width: 70%; padding:4px;"></td>
                                <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">Total</td>
                                <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">
                                    <label style="margin-right:5px;">$</label><span id="Total"></span>
                                </td>
                                <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div id="Ticket" style="display: none;"></div>

<script type="text/javascript">
    $(function () {
        $('#periodo').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
            "timePickerSeconds": true,
            "locale": {
                "format": "MM/DD/YYYY hh:mm:ss A",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizado",
                "daysOfWeek": ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                "firstDay": 1
            },
            ranges: {
                'Hoy': ["@ViewBag.HoyInicio", "@ViewBag.HoyFin"],
                'Ayer': ["@ViewBag.AyerInicio", "@ViewBag.AyerFin"],
                'Antier': ["@ViewBag.AntierInicio", "@ViewBag.AntierFin"],
                'Semana Actual': ["@ViewBag.SemanaActualInicio", "@ViewBag.SemanaActualFin"],
                'Semana Pasada': ["@ViewBag.SemanaPasadaInicio", "@ViewBag.SemanaPasadaFin"],
                'Semana Antepasada': ["@ViewBag.SemanaAntepasadaInicio", "@ViewBag.SemanaAntepasadaFin"],
                'Quincena Actual': ["@ViewBag.QuincenaActualInicio", "@ViewBag.QuincenaActualFin"],
                'Quincena Pasada': ["@ViewBag.QuincenaPasadaInicio", "@ViewBag.QuincenaPasadaFin"],
                'Quincena Antepasada': ["@ViewBag.QuincenaAntepasadaInicio", "@ViewBag.QuincenaAntepasadaFin"],
                'Mes Actual': ["@ViewBag.MesActualInicio", "@ViewBag.MesActualFin"],
                'Mes Pasado': ["@ViewBag.MesPasadoInicioFin", "@ViewBag.MesPasadoFin"],
                'Mes Antepasado': ["@ViewBag.MesAntepasadoInicio", "@ViewBag.MesAntepasadoFin"]
            }
        });
    });
    $(document).ready(function () {
        $('#id_catalogo_status').prepend('<option value="0">Todos</option>');
        $('#id_catalogo_status option[value="0"]').attr("selected", "selected");
        /*CONFIGURACIONES*/
        if ($('#configuracion_caja_centralizada').val() == "True") {
            caja_centralizada = true;
        } else {
            caja_centralizada = false;
        }
        if ($('#configuracion_edicion_precios').val() == "True") {
            editar_precio_dinamicamente = true;
        } else {
            editar_precio_dinamicamente = false;
        }
        if ($('#configuracion_imprimir_solo_ticket').val() == "True") {
            impresion_solo_ticket = true;
        } else {
            impresion_solo_ticket = false;
        }
        if ($('#confirmacion_directa').val() == "True") {
            confirmacion_directa = true;
        } else {
            confirmacion_directa = false;
        }
        /*CONFIGURACIONES*/
        ActualizarVistaParcialHistorial();
            $(document).on('change', '#periodo', function () {
                ActualizarVistaParcialHistorial();
            });
            $("#ExportarExcel").click(function () {
                $('#TablaHistorial .xlsx').trigger("click");
            });
            $(document).on('change', '#id_sucursal', function () {
                establecer_id_sucursal_virtual(parseInt($(this).val()));
                ActualizarVistaParcialHistorial();
            });
            $(document).on('change', '#id_catalogo_status', function () {
                ActualizarVistaParcialHistorial();
            });
    });
    function ActualizarVistaParcialHistorial() {
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal").val();
        var id_catalogo_status = $('#id_catalogo_status').val();
        var url = '@Url.Action("VistaParcialHistorial")';
        $.ajax({
            url: url,
            data: { idSucursal: _id_sucursal, id_catalogo_status: id_catalogo_status, periodo: $("#periodo").val() },
            success: function (result) {
                $('#TablaHistorial').dataTable().fnClearTable();
                $('#TablaHistorial').dataTable().fnDestroy();
                $("#CuerpoTabla").html(result);
                $(".wrapper-dropdown-5").each(function () {
                    var dd = new DropDown($(this));
                    $(document).click(function () {
                        $('.wrapper-dropdown-5').removeClass('active');
                    });
                });
                CrearTablaHistorial();
            },
            async: false
        });
    }
    $(document).on('keypress', '.TipoPago, .txt_descuento', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
    $(document).on('click', '#BotonCerrarModal', function () {
        $(".ModalAdjuntos").modal("hide");
    });
    function ImprimirVenta(id) {
        ConfiguracionImpresionVenta(id);
    }
    function DetalleVenta(id) {
        var url = '@Url.Action("ModalConceptosVenta")';
            $.ajax({
                url: url,
                data: { id_venta: id },
                type: "POST",
                success: function (vista) {
                    bootbox.dialog({
                        className: "ModalConceptosVenta",
                        message: vista,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
    }
    function OCVenta(id) {
        var url = '@Url.Action("ModalArchivosAdjuntos")';
        $.post(url, { id: id },
            function (x) {
                bootbox.dialog({
                    title: "Adjuntos",
                    message: x,
                    className: "ModalAdjuntos"
                });
            });
    }
    function CancelarVenta(id, folio) {
        mensaje = "";
        var url = '@Url.Action("VerificarEstatusVenta")';
            $.ajax({
                url: url,
                type: "POST",
                dataType: "JSON",
                data: { id_venta: id },
                success: function (respuesta) {
                    if (respuesta.nc_aplicadas_a_esta_venta == 0) {
                        if (respuesta.nc_generadas_aplicadas > 0 && respuesta.nc_generadas_disponibles > 0) {
                            mensaje = "La venta " + folio + " tiene notas de credito que ya han sido aplicadas, por lo que no se puede cancelar la venta. Se generara una nota de credito por el resto de la venta. ¿Quiere continuar?";
                        } else if (respuesta.nc_generadas_aplicadas > 0) {
                            mensaje = "La venta " + folio + " tiene notas de credito que ya han sido aplicadas, por lo que no se puede cancelar la venta. Se generara una nota de credito por el resto de la venta. ¿Quiere continuar?";
                        } else if (respuesta.nc_generadas_disponibles > 0) {
                            mensaje = "La venta " + folio + " tiene notas de credito disponibles, si se cancela la venta tendran que cancelarse estas notas de credito. ¿Quiere continuar?";
                        } else {
                            //alert("Cancelacion Normal");
                        }
                    } else if (respuesta.nc_aplicadas_a_esta_venta > 0) {
                        if (respuesta.nc_generadas_aplicadas > 0 && respuesta.nc_generadas_disponibles > 0) {
                            mensaje = "La venta " + folio + " tiene notas de credito que ya han sido aplicadas, por lo que no se puede cancelar la venta. Se generara una nota de credito por el resto de la venta. ¿Quiere continuar?";
                        } else if (respuesta.nc_generadas_aplicadas > 0) {
                            mensaje = "La venta " + folio + " tiene notas de credito que ya han sido aplicadas, por lo que no se puede cancelar la venta. Se generara una nota de credito por el resto de la venta. ¿Quiere continuar?";
                        } else if (respuesta.nc_generadas_disponibles > 0) {
                            mensaje = "La venta " + folio + " se pago con una nota de credito, por lo que si se quiere cancelar tendra que quedar disponible la nota de credito con la que se hizo la venta. Y las notas de credito de esta venta se cancelaran. ¿Quiere continuar?";
                        } else {
                            mensaje = "La venta " + folio + " se pago con una nota de credito, por lo que si se quiere cancelar tendra que quedar disponible la nota de credito con la que se hizo la venta. ¿Quiere continuar?";
                        }
                    }
                    var url = '@Url.Action("ModalCancelarVenta")';
                $.ajax({
                    url: url,
                    data: { id: id, mensaje: mensaje },
                    type: "POST",
                    success: function (vista) {
                        bootbox.dialog({
                            className: "ModalCancelarVenta",
                            message: vista,
                            closeButton: false,
                            onEscape: true
                        });
                    },
                    async: false
                });
            },
            async: false
        });
    }
    function CancelarVentaOnline(id) {
        var url = '@Url.Action("CancelarVentaOnline", "TiendaOnline")';
        $.ajax({
            url: url,
            data: { id: id },
            type: "POST",
            dataType: "JSON",
            success: function (result) {
                if (result.success) {
                    $('.ModalCancelarEntregaVenta').modal('hide');
                    ConfiguracionImpresionVenta(id);
                    ActualizarVistaParcialHistorial();
                } else {
                    alert("Error al cancelar la venta");
                }
            },
            async: false
        });
    }
    function cancelar_venta(id) {
        motivo = $("#motivo_cancelacion").val();
        if (motivo == "") {
            MostrarAlertaFormulario();
            OcultarAlertaFormulario();
            return false;
        }
        else {
            var url = '@Url.Action("CancelarVenta")';
            $.ajax({
                url: url,
                data: { id: id, motivo: motivo },
                success: function (result) {
                    if (result.success) {
                        $(".bootbox").modal('hide');
                        var ListaNotaCredito = result.ListaNotaCredito;
                        var index_lista_nota_credito = result.index_lista_nota_credito;
                        ConfiguracionImpresionVenta(id);
                        for (var i = 0; i < index_lista_nota_credito; i++) {
                            ConfiguracionImpresionNotaCredito(ListaNotaCredito[i]);
                        }
                        ActualizarVistaParcialHistorial();
                    }
                    else {
                        alert("error al cancelar venta");
                    }
                },
                async: false
            });
        }
    }
    $(document).on('click', '.ModalConceptosVenta #ModalEditarTipoPago', function () {
        idVenta = $(this).attr("name");
        var url = '@Url.Action("ModalEditarTipoPago", "Venta")';
        $.ajax({
            url: url,
            data: { idVenta: idVenta },
            success: function (result) {
                bootbox.dialog({
                    message: result,
                    className: "ModalEditarTipoPago",
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    });
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }

    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var periodo = $("#periodo").val();
        var url = '@Url.Action("TraerPDFListaReporteHistorial", "FormatoPDF", new { idSucursal = "_id_", periodo = "_periodo_" })'.replace("_id_", id_sucursal);
        url = url.replace("_periodo_", periodo);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>

<script type="text/javascript">
    function CrearTablaHistorial() {
        $('#TablaHistorial').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Historial de Ventas',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Historial de Ventas',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Ventas',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>

@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA VENTA Y NOTA DE CREDITO*@
<script type="text/javascript">
    var id_venta = 0;
    var cantidad_tickets = parseInt($('#configuracion_cantidad_tickets').val());;
    function ConfiguracionImpresionVenta(id) {
        id_venta = id;
        if (impresion_solo_ticket) {
            try {
                GenerarTicketVenta();
            } catch (e) {
                var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
                $.ajax({
                    url: url,
                    data: {},
                    success: function (VistaParcial) {
                        bootbox.dialog({
                            className: "ModalAdvertenciaImpresionNoMozilla",
                            message: VistaParcial,
                            closeButton: false,
                            onEscape: true
                        });
                    },
                    async: false
                });
            }
        } else {
            EscogerModoImpresionVenta();
        }
    }
    function EscogerModoImpresionVenta(){
        var url = '@Url.Action("ModalSeleccionarModoImpresion", "printer")';
        $.ajax({
            url: url,
            data: { },
            success: function (VistaParcial) {
                bootbox.dialog({
                    className: "ModalSeleccionarModoImpresion ModalSeleccionarModoImpresionVenta",
                    message: VistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    $(document).on('click', '.ModalSeleccionarModoImpresionVenta #selectPDF', function () {
        window.open('@Url.Action("GenerarPDFVenta", "FormatoPDF", new { id = "_id_" })'.replace("_id_", id_venta));
        $(".ModalSeleccionarModoImpresion").modal("hide");
        bootbox.hideAll();
        window.location.reload(true);
    });
    $(document).on('click', '.ModalSeleccionarModoImpresionVenta #selectTicketPrinter', function () {
        try {
            $(".ModalSeleccionarModoImpresion").modal("hide");
            GenerarTicketVenta();
        } catch (e) {
            var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
            $.ajax({
                url: url,
                data: {},
                success: function (VistaParcial) {
                    bootbox.dialog({
                        className: "ModalAdvertenciaImpresionNoMozilla",
                        message: VistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    });
    function GenerarTicketVenta() {
        cantidad_tickets = 1;
        var url = '@Url.Action("VistaParcialGenerarTicketVenta", "Venta")';
        $.ajax({
            url: url,
            data: { idVenta: id_venta },
            success: function (VistaParcial) {
                $("#Ticket").html(VistaParcial);
                for (var i = 0; i < cantidad_tickets; i++) {
                    ImprimirTicketVenta(document.getElementById('Ticket'));
                }
            },
            async: false
        });
    }
    function ImprimirTicketVenta(Ticket) {
        jsPrintSetup.setSilentPrint(true);
        var content = Ticket.innerHTML
        jsPrintSetup.setOption('marginTop', 5);
        jsPrintSetup.setOption('marginBottom', 15);
        jsPrintSetup.setOption('marginLeft', 5);
        jsPrintSetup.setOption('marginRight', 5);
        // set page header
        jsPrintSetup.setOption('headerStrLeft', '');
        jsPrintSetup.setOption('headerStrCenter', '');
        jsPrintSetup.setOption('headerStrRight', '');
        // set empty page footer
        jsPrintSetup.setOption('footerStrLeft', '');
        jsPrintSetup.setOption('footerStrCenter', '');
        jsPrintSetup.setOption('footerStrRight', '');
        jsPrintSetup.definePaperSize(101, 101, "Custom", "Custom_Paper", "Custom PAPER", 300, 400, jsPrintSetup.kPaperSizeMillimeters);
        jsPrintSetup.setPaperSizeData(101);
        //pwin.document.open();
        w = window.open();
        w.document.write(content);
        w.print();
        w.close();
        //setTimeout(function () { pwin.close(); }, 1000);
        jsPrintSetup.setSilentPrint(false);
    }
</script>
@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA VENTA Y NOTA DE CREDITO*@

@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA NOTA DE CREDITO*@
<script type="text/javascript">
    var id_nota_credito = 0;
    var cantidad_tickets = parseInt($('#configuracion_cantidad_tickets').val());;
    function ConfiguracionImpresionNotaCredito(id) {
        id_nota_credito = id;
        if (impresion_solo_ticket) {
            try {
                GenerarTicketNotaCredito();
            } catch (e) {
                var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
                $.ajax({
                    url: url,
                    data: {},
                    success: function (VistaParcial) {
                        bootbox.dialog({
                            className: "ModalAdvertenciaImpresionNoMozilla",
                            message: VistaParcial,
                            closeButton: false,
                            onEscape: true
                        });
                    },
                    async: false
                });
            }
        }
        //else {
        //    EscogerModoImpresionNotaCredito();
        //}
    }
    @*function EscogerModoImpresionNotaCredito(){
        var url = '@Url.Action("ModalSeleccionarModoImpresion", "printer")';
        $.ajax({
            url: url,
            data: { },
            success: function (VistaParcial) {
                bootbox.dialog({
                    className: "ModalSeleccionarModoImpresion ModalSeleccionarModoImpresionNotaCredito",
                    message: VistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }*@
    @*$(document).on('click', '.ModalSeleccionarModoImpresionNotaCredito #selectPDF', function () {
        window.location.href = '@Url.Action("GenerarPDFNotaCredito", "NotaCredito", new { id = "_id_" })'.replace("_id_", id_nota_credito);
        $(".ModalSeleccionarModoImpresion").modal("hide");
        var url = '@Url.Action("ModalCargandoPDF")';
        $.ajax({
            url: url,
            data: {},
            success: function (VistaParcial) {
                bootbox.dialog({
                    className: "ModalCargandoPDF",
                    message: VistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
        window.setTimeout(function () {
            bootbox.hideAll();
            window.location.reload(true);
        }, 3000);
    });*@
    @*$(document).on('click', '.ModalSeleccionarModoImpresionNotaCredito #selectTicketPrinter', function () {
        try {
            $(".ModalSeleccionarModoImpresion").modal("hide");
            GenerarTicketNotaCredito();
        } catch (e) {
            var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
            $.ajax({
                url: url,
                data: {},
                success: function (VistaParcial) {
                    bootbox.dialog({
                        className: "ModalAdvertenciaImpresionNoMozilla",
                        message: VistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    });*@
    function GenerarTicketNotaCredito() {
        cantidad_tickets = parseInt(cantidad_tickets);
        if (isNaN(cantidad_tickets)) {
            cantidad_tickets = 1;
        }
        var url = '@Url.Action("VistaParcialGenerarTicketNotaCredito", "NotaCredito")';
        $.ajax({
            url: url,
            data: { id: id_nota_credito },
            success: function (VistaParcial) {
                $("#Ticket").html(VistaParcial);
                for (var i = 0; i < cantidad_tickets; i++) {
                    ImprimirTicketNotaCredito(document.getElementById('Ticket'));
                }
            },
            async: false
        });
        //ESTA FUNCION SOLO SE NECESITA SI NO SIRVE CARGAR LA VISTA PARCIAL PARA HACER OTRA NOTA DE CREDITO
        //window.location.reload(true);
        //ESTA FUNCION SOLO SE NECESITA SI NO SIRVE CARGAR LA VISTA PARCIAL PARA HACER OTRA NOTA DE CREDITO
    }
    function ImprimirTicketNotaCredito(Ticket) {
        jsPrintSetup.setSilentPrint(true);
        var content = Ticket.innerHTML
        jsPrintSetup.setOption('marginTop', 5);
        jsPrintSetup.setOption('marginBottom', 15);
        jsPrintSetup.setOption('marginLeft', 5);
        jsPrintSetup.setOption('marginRight', 5);
        // set page header
        jsPrintSetup.setOption('headerStrLeft', '');
        jsPrintSetup.setOption('headerStrCenter', '');
        jsPrintSetup.setOption('headerStrRight', '');
        // set empty page footer
        jsPrintSetup.setOption('footerStrLeft', '');
        jsPrintSetup.setOption('footerStrCenter', '');
        jsPrintSetup.setOption('footerStrRight', '');
        jsPrintSetup.definePaperSize(101, 101, "Custom", "Custom_Paper", "Custom PAPER", 300, 400, jsPrintSetup.kPaperSizeMillimeters);
        jsPrintSetup.setPaperSizeData(101);
        //pwin.document.open();
        w = window.open();
        w.document.write(content);
        w.print();
        w.close();
        //setTimeout(function () { pwin.close(); }, 1000);
        jsPrintSetup.setSilentPrint(false);
    }
    //ESTA FUNCION SOLO SE NECESITA SI NO SIRVE CARGAR LA VISTA PARCIAL PARA HACER OTRA NOTA DE CREDITO
    //$(document).on('click', '.ModalAdvertenciaImpresionNoMozilla #BotonAceptarAdvertencia', function () {
    //    window.location.reload(true);
    //});
    //ESTA FUNCION SOLO SE NECESITA SI NO SIRVE CARGAR LA VISTA PARCIAL PARA HACER OTRA NOTA DE CREDITO
</script>
@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA NOTA DE CREDITO*@