﻿@{
    ViewBag.Title = "POS - Inventario En Consignacion";
}

@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Inventario En Consignacion</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="width:100%; height:50px;">
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Sucursal: </label>
                @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 150px;" })
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Proveedor: </label>
                @Html.DropDownList("id_proveedor", null, new { @class = "form-control", @style = "display: inline; width: 150px;" })
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Familia: </label>
                @Html.DropDownList("id_familia", null, new { @class = "form-control", @style = "display: inline; width: 150px;" })
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 15px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-foursquare"></i>
                </span>
                <span>Con Existencia:&nbsp;<input type="checkbox" class="switch-inventario" style="margin:5px" id="check_inventario" /></span>
            </div>
        </div>
        <div style="width:100%;">
            <div style="margin-left: 10px; margin-top: 10px; float: left;">
                <a id="EnviarReporte" class="btn btn-info">
                    <span class="glyph-icon icon-separator">
                        <i class="glyph-icon icon-elusive-mail"></i>
                    </span>
                    <span class="button-content">Enviar Reporte</span>
                </a>
            </div>
        </div>
        <table id="TablaHistorial" class="table" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Familia</th>
                    <th>Subfamilia</th>
                    <th>Proveedor</th>
                    <th>Cantidad</th>
                    <th>Costo</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla"></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var tabla_virtual;
    $(document).ready(function () {
        if ($('#id_sucursal').children('option').length > 1) {
            $('#id_sucursal').prepend('<option value="0">Todas</option>');
        }
        $('#id_sucursal option[value="0"]').attr("selected", "selected");
        $('#id_proveedor').prepend('<option value="0">Todos</option>');
        $('#id_proveedor option[value="0"]').attr("selected", "selected");
        $('#id_familia').prepend('<option value="0">Todos</option>');
        $('#id_familia option[value="0"]').attr("selected", "selected");
        ActualizarVistaParcialHistorial();
        $("#ExportarExcel").click(function () {
            $('#TablaHistorial .xlsx').trigger("click");
        });
        $(document).on('change', '#id_sucursal', function () {
            ActualizarVistaParcialHistorial();
            actualizar_totales_por_filtro();
        });
        $(document).on('change', '#id_proveedor', function () {
            ActualizarVistaParcialHistorial();
        });
        $(document).on('change', '#id_familia', function () {
            ActualizarVistaParcialHistorial();
        });
        $(document).on('change', '#id_estatus', function () {
            ActualizarVistaParcialHistorial();
        });
        $(document).on('change', '#check_inventario', function () {
            ActualizarVistaParcialHistorial();
        });
        var elems = Array.prototype.slice.call(document.querySelectorAll('.switch-inventario'));
        elems.forEach(function (html) {
            var switchery = new Switchery(html, { size: 'small', secondaryColor: 'rgb(206, 199, 199)' });
        });
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal").val();
    });
    function ActualizarVistaParcialHistorial() {
        var con_inventario = $('#check_inventario').prop('checked');
        var url = '@Url.Action("VistaParcialInventarioConsignacion")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_sucursal: $("#id_sucursal").val(), id_proveedor: $("#id_proveedor").val(), id_familia: $("#id_familia").val(), con_inventario: con_inventario },
            success: function (result) {
                $('#TablaHistorial').dataTable().fnClearTable();
                $('#TablaHistorial').dataTable().fnDestroy();
                $("#CuerpoTabla").html(result);
                $(".wrapper-dropdown-5").each(function () {
                    var dd = new DropDown($(this));
                    $(document).click(function () {
                        $('.wrapper-dropdown-5').removeClass('active');
                    });
                });
                CrearTablaHistorial();
            },
            async: false
        });
    }
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
    $(document).on('click', '#EnviarReporte', function () {
        var con_inventario = $('#check_inventario').prop('checked');
        var url = '@Url.Action("ModalReporteInventarioConsignacion")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_sucursal: $("#id_sucursal").val(), id_proveedor: $("#id_proveedor").val(), id_familia: $("#id_familia").val(), con_inventario: con_inventario },
            success: function (Modal) {
                bootbox.dialog({
                    className: "ModalReporteInventarioConsignacion",
                    message: Modal,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    });
    $(document).on('click', '#MandarReporteInventarioConsignacion', function () {
        $('.proveedor').each(function () {
            var con_inventario = $('#check_inventario').prop('checked');
            if ($(this).find('.correo').val() != "" && $(this).find('.correo').val() != null && $(this).find('.correo').val() != undefined) {
                $(this).find('.correo').css('border', '1px solid #ddd');
                var proveedor = $(this);
                var url = '@Url.Action("EnviarCorreoReporteInventarioConsignacion", "FormatoPDF")';
                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: { id_sucursal: $("#id_sucursal").val(), id_proveedor: $("#id_proveedor").val(), id_familia: $("#id_familia").val(), con_inventario: con_inventario, nombre_proveedor: $(this).find('.nombre_proveedor').val(), correo: $(this).find('.correo').val() },
                    success: function (result) {
                        if (result.success) {
                            $(proveedor).find('.icono').html('<img src="@Url.Content("~/assets-minified/images/success_proveedor.png")" style="width:25px;" />');
                        }
                        else {
                            $(proveedor).find('.icono').html('<img src="@Url.Content("~/assets-minified/images/error_proveedor.png")" style="width:25px;" />');
                            alert("Error: No se pudo mandar el reporte de inventario " + result.proveedor);
                        }
                    },
                    async: false
                });
            } else {
                $(this).find('.correo').css('border', '1px solid red');
            }
        });
    });
    $(document).on('click', '#CancelarReporteInventarioConsignacion', function () {
        $('.ModalReporteInventarioConsignacion').modal('hide');
    });
</script>

<script type="text/javascript">
    function CrearTablaHistorial() {
        tabla_virtual = $('#TablaHistorial').DataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    title: 'Lista de Venta consignaciones',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista Venta Consignaciones',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Lista Venta Consignaciones',
                    message: 'Reporte Consignación',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    footer: true,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>