﻿@if (ViewBag.permisoParaCancelar)
{ 
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Alerta</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="2" style="text-align:justify; font-size: 17px;">@ViewBag.mensaje</td>
                </tr>
                <tr>
                    <td style="width: 35%; border:0px;">Motivo De Cancelacion:</td>
                    <td style="border:0px;">
                        <input type="text" id="motivo_cancelacion" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="border: 0px;">
                        <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 10px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Por favor rellene el campo Motivo.</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; border:0px;">
                        <a onclick="cancelar_venta(@ViewBag.id)" class="btn btn-success">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </a>
                    </td>
                    <td style="text-align: center; border:0px;">
                        <a onclick="CerrarModal()" class="btn btn-danger">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Cancelar</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalCancelarVenta .modal-dialog').css('width', '40%');
    });
    function CerrarModal() {
        $('.ModalCancelarVenta').modal('hide');
    }
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
</script>
}
else{
 <div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
        <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Alerta</h3>
        <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
            <table class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td colspan="2" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 10px; width: 100%; display: block;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>No es posible cancelar una venta si no eres adminsitrador.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}