﻿@{
    ViewBag.Title = "POS - Ventas Por Producto";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Ventas Por Producto</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="margin-left: 10px; margin-top: 10px; float: left;">
            <label>Periodo: </label>
            <div class="btn btn-primary" style="width: 375px; background-color: #254054; border-color: #254054;">
                <i class="glyph-icon icon-calendar"></i>
                <input type="text" id="periodo" class="form-control" readonly="readonly" style="border: none; background-color: transparent; color: white; padding-left: 0px; display: inline; box-shadow: none; cursor: pointer; opacity: 100; text-align: center;" />
            </div>
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
        </div>
        <div id="divParcial"></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#periodo').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
            "timePickerSeconds": true,
            "locale": {
                "format": "MM/DD/YYYY hh:mm:ss A",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizado",
                "daysOfWeek": ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                "firstDay": 1
            },
            ranges: {
                'Hoy': ["@ViewBag.HoyInicio", "@ViewBag.HoyFin"],
                'Ayer': ["@ViewBag.AyerInicio", "@ViewBag.AyerFin"],
                'Antier': ["@ViewBag.AntierInicio", "@ViewBag.AntierFin"],
                'Semana Actual': ["@ViewBag.SemanaActualInicio", "@ViewBag.SemanaActualFin"],
                'Semana Pasada': ["@ViewBag.SemanaPasadaInicio", "@ViewBag.SemanaPasadaFin"],
                'Semana Antepasada': ["@ViewBag.SemanaAntepasadaInicio", "@ViewBag.SemanaAntepasadaFin"],
                'Quincena Actual': ["@ViewBag.QuincenaActualInicio", "@ViewBag.QuincenaActualFin"],
                'Quincena Pasada': ["@ViewBag.QuincenaPasadaInicio", "@ViewBag.QuincenaPasadaFin"],
                'Quincena Antepasada': ["@ViewBag.QuincenaAntepasadaInicio", "@ViewBag.QuincenaAntepasadaFin"],
                'Mes Actual': ["@ViewBag.MesActualInicio", "@ViewBag.MesActualFin"],
                'Mes Pasado': ["@ViewBag.MesPasadoInicioFin", "@ViewBag.MesPasadoFin"],
                'Mes Antepasado': ["@ViewBag.MesAntepasadoInicio", "@ViewBag.MesAntepasadoFin"]
            }
        });
    });
    $(document).ready(function () {
            ActualizarVistaParcialVentaTipoPrecio();
            $("#ExportarExcel").click(function () {
                $('#TablaVentasTipoPrecio .xlsx').trigger("click");
            });
            $(document).on('change', '#periodo', function () {
                $('#TablaVentasTipoPrecio').dataTable().fnClearTable();
                $('#TablaVentasTipoPrecio').dataTable().fnDestroy();
                ActualizarVistaParcialVentaTipoPrecio();
            });
            $(document).on('change', '#id_sucursal', function () {
                establecer_id_sucursal_virtual(parseInt($(this).val()));
                $('#TablaVentasTipoPrecio').dataTable().fnClearTable();
                $('#TablaVentasTipoPrecio').dataTable().fnDestroy();
                ActualizarVistaParcialVentaTipoPrecio();
            });
    });
    function ActualizarVistaParcialVentaTipoPrecio() {
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("VistaParcialResumenVenta")';
        $.ajax({
            url: url,
            data: { idSucursal: _id_sucursal, periodo: $("#periodo").val() },
            success: function (result) {
                $("#divParcial").html(result);
                CrearTablaVentasTipoPrecio();
            },
            async: false
        });
    }
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var periodo = $("#periodo").val();
        var url = '@Url.Action("TraerPDFListaVentasPorProducto", "FormatoPDF", new { idSucursal = "_id_", periodo = "_periodo_" })'.replace("_id_", id_sucursal);
        url = url.replace("_periodo_", periodo);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>


<script type="text/javascript">
    function CrearTablaVentasTipoPrecio() {
        $('#TablaVentasTipoPrecio').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Historial de Ventas',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Historial de Ventas',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Ventas',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>
