﻿@{ 
    List<POS.Models.venta> ListaVentas = ViewBag.ListaVentas as List<POS.Models.venta>;
    List<POS.Models.conceptos_por_venta> ListaConceptos = ViewBag.ListaConceptos as List<POS.Models.conceptos_por_venta>;
    List<POS.Models.producto> ListaProductos = ViewBag.ListaProductos as List<POS.Models.producto>;
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
}

@foreach (POS.Models.conceptos_por_venta conceptos_por_venta in ListaConceptos)
{
    <tr>
        <td style="text-align: center;">@conceptos_por_venta.venta.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
        <td style="text-align: center;">@conceptos_por_venta.producto.Codigo</td>
        <td style="text-align: center;">@conceptos_por_venta.producto.Descripcion</td>
        <td style="text-align: center;">@conceptos_por_venta.producto.marca.nombre</td>
        <td style="text-align: center;">@conceptos_por_venta.producto.proveedor.nombre_proveedor</td>
        <td style="text-align: center;">@conceptos_por_venta.producto.subfamilia.familia.nombre</td>
        <td style="text-align: center;">@conceptos_por_venta.producto.subfamilia.nombre</td>
        <td style="text-align: center;">@conceptos_por_venta.tipocliente.Tipo</td>
        <td style="text-align: center;">@conceptos_por_venta.cantidad</td>
        <td style="text-align: center;">
            @if (conceptos_por_venta.producto.costo != null)
            {
                @Math.Round((conceptos_por_venta.producto.costo.Value * conceptos_por_venta.cantidad), 2)
            }
        </td>
        <td style="text-align: center;">
            @{
                Decimal precio = 0;
                if (configuracion_general.precios_netos == true)
                {
                    precio = Math.Round((conceptos_por_venta.cantidad * conceptos_por_venta.precio_unitario_original.Value) * POS.Fn.Config.iva(conceptos_por_venta.Producto_id), 2);
                }
                else
                {
                    precio = Math.Round((conceptos_por_venta.cantidad * conceptos_por_venta.precio_unitario_original.Value), 2);
                }
            }
            @precio
        </td>
        <td style="text-align: center;">
            @if (conceptos_por_venta.producto.costo != null)
            {
                @Math.Round(precio - (conceptos_por_venta.producto.costo.Value * conceptos_por_venta.cantidad), 2)
            }
        </td>
    </tr>
}




@*<th>Fecha</th>
<th>Codigo</th>
<th>Descripcion</th>
<th>Marca</th>
<th>Proveedor</th>
<th>Familia</th>
<th>Subfamilia</th>
<th>Tipo De Precio</th>
<th>Cantidad</th>
<th>Costo</th>
<th>Precio</th>
<th>Ganancia</th>*@