﻿@{
    List<POS.Models.inventario> ListaInventario = ViewBag.ListaInventario as List<POS.Models.inventario>;
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
}

@foreach (POS.Models.inventario inventario in ListaInventario)
{
    <tr>
        <td style="text-align: center;">@inventario.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">@inventario.producto.Codigo</td>
        <td style="text-align: center;">@inventario.producto.Descripcion</td>
        <td style="text-align: center;">@inventario.producto.marca.nombre</td>
        <td style="text-align: center;">@inventario.producto.subfamilia.familia.nombre</td>
        <td style="text-align: center;">@inventario.producto.subfamilia.nombre</td>
        <td style="text-align: center;">@inventario.producto.proveedor.nombre_proveedor <strong>@inventario.producto.proveedor.folio</strong></td>
        @{
            var cantidad_inventario = inventario.cantidad;

            if (cantidad_inventario > 7)
            {
                <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #0d5a22;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
            }
            else if (cantidad_inventario >= 3)
            {
                <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #ffd800;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
            }
            else if (cantidad_inventario > 0)
            {
                <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #ff6a00;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
            }
            else
            {
                <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #ff0000;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
            }
        }
        <td style="text-align: center;">@inventario.producto.costo</td>
        <td style="text-align: center;">
        @{
            if (inventario.producto.costo != null)
            {
                @Math.Round(inventario.cantidad.Value * inventario.producto.costo.Value, 2)
            }
        }
        </td>
    </tr>
}

<script>
    $("#TablaHistorial").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],                  // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>