﻿@{ 
    List<POS.Models.conceptos> ListaConceptos = ViewBag.ListaConceptos as List<POS.Models.conceptos>;
}
<table id="TablaVentasTipoPrecio" class="table table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (POS.Models.conceptos concepto in ListaConceptos)
        {
            <tr>
                <td style="text-align: center;">@concepto.codigo</td>
                <td style="text-align: center;">@concepto.descripcion</td>
                <td style="text-align: center;">@concepto.cantidad</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr><td></td><td></td><td></td></tr>
    </tfoot>
</table>

@*<script>
    $("#TablaVentasTipoPrecio").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx", "csv", "txt"],     // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>*@
