﻿@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    POS.Models.configuracion_pos configuracion_pos = POS.Fn.Configuracion.TraerConfiguracionPOS();
}

<!DOCTYPE html>
<html>
<head>
    <link rel='shortcut icon' type='image/x-icon' href="@Url.Content("/UploadFolder/logo/" + configuracion_general.favicon)" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="@Url.Content("~/assets-minified/js-core.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/urlExist.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/bootbox.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/wow/wow.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Switchery/switchery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/Numeros.js")"></script>
    <!--   E X C E L  -->
    <script src="@Url.Content("~/assets-minified/excel_export/xlsx.core.js")"></script>
    <script src="@Url.Content("~/assets-minified/excel_export/Blob.js")"></script>
    <script src="@Url.Content("~/assets-minified/excel_export/FileSaver.js")"></script>
    <script src="@Url.Content("~/assets-minified/excel_export/tableexport.js")"></script>
    <!--   M E N U     2   -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/Menu/default.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/Menu/component.css")" />
    <script src="@Url.Content("~/assets-minified/Menu/modernizr.custom.js")"></script>
    <script type="text/javascript">
        wow = new WOW({
            animateClass: 'animated',
            offset: 100
        });
        wow.init();
    </script>
    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
        function exportar_a_excel(table_export, nombre_tabla, col_discriminados, id_boton = "ExportarExcel") {
            $("#" + id_boton).click(function () {
                $('#' + nombre_tabla + ' .xlsx').trigger("click");
            });

            table_export = $('#' + nombre_tabla).tableExport({
                headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
                footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
                formats: ["xlsx"],                  // (String[]), filetype(s) for the export
                fileName: "id",                     // (id, String), filename for the downloaded file
                bootstrap: true,                    // (Boolean), style buttons using bootstrap
                position: "bottom",                 // (top, bottom), position of the caption element relative to table
                ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
                ignoreCols: col_discriminados,      // (Number, Number[]), column indices to exclude from the exported file
                ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
                emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
                trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
            });
        }
            function recuperar_id_sucursal_virtual(){
                var id_sucursal_virtual = localStorage.getItem("id_sucursal_virtual");

                if(id_sucursal_virtual == null || id_sucursal_virtual == undefined || id_sucursal_virtual == 0)
                {
                    return null;
                }
                else
                {
                    $('#id_sucursal').val(id_sucursal_virtual);
                    return id_sucursal_virtual;
                }
            }
            function establecer_id_sucursal_virtual(id_sucursal_virtual){
                if(typeof(Storage) !== "undefined") {
                    localStorage.setItem("id_sucursal_virtual", id_sucursal_virtual);
                }
                else{
                    console.log("local storage no soportado en este navegador");
                }
            }
            var idioma_espaniol_datatable = {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
    </script>
    <style>
        #loading {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            background: #fff;
            z-index: 10000;
        }

            #loading img {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -23px 0 0 -23px;
            }

        caption.bottom {
            display: none;
        }

        #TerminosCondiciones {
            color: #7e7e7e !important;
        }

            #TerminosCondiciones:hover {
                color: #454040 !important;
            }

        button:focus {
            opacity: 0.6;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/bootbox.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/helpers/helpers-all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/helpers/colors.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/elements/elements-all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/elements/canvasImg.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/icons/elusive/elusive.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/icons/fontawesome/fontawesome.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/icons/iconic/iconic.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/icons/linecons/linecons.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/icons/meteocons/meteocons.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/icons/spinnericon/spinnericon.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/icons/typicons/typicons.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/snippets/snippets-all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/widgets/dropdown/dropdown.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/default/layout-color.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/default/framework-color.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/border-radius.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/layout.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/datetimepickerrange/daterangepicker.css")" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/datatables/jquery.dataTables.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/datatables/buttons.dataTables.min.css")" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/datatables/jquery.dataTables.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/datatables/buttons.dataTables.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/datatables/custom_data_table.css")" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/tablas.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/carousel.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/wrapped-dropdown.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/font-awesome.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/btn_style.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Switchery/switchery.css")" />

</head>
<body>
    @{
        POS.Models.usuario_punto_venta usuario = POS.Fn.usuario_logeado.traerUsuario();
        int configuracion_cantidad_tickets = configuracion_pos.cantidad_tickets.Value;
        bool configuracion_caja_centralizada = configuracion_pos.caja_centralizada.Value;
        bool configuracion_edicion_precios = configuracion_pos.edicion_precios.Value;
        bool configuracion_imprimir_solo_ticket = configuracion_pos.imprimir_solo_ticket.Value;
        bool configuracion_desglose_iva = configuracion_general.desglose_iva.Value;
        bool confirmacion_directa = configuracion_pos.confirmacion_directa.Value;
        <div id="Configuraciones">
            <input id="configuracion_cantidad_tickets" type="hidden" value="@Html.Raw(configuracion_pos.cantidad_tickets)" />
            <input id="configuracion_caja_centralizada" type="hidden" value="@Html.Raw(configuracion_pos.caja_centralizada)" />
            <input id="configuracion_edicion_precios" type="hidden" value="@Html.Raw(configuracion_pos.edicion_precios)" />
            <input id="configuracion_imprimir_solo_ticket" type="hidden" value="@Html.Raw(configuracion_pos.imprimir_solo_ticket)" />
            <input id="configuracion_desglose_iva" type="hidden" value="@Html.Raw(configuracion_general.desglose_iva)" />
            <input id="confirmacion_directa" type="hidden" value="@Html.Raw(configuracion_pos.confirmacion_directa)" />
            <input id="respetar_inventario" type="hidden" value="@Html.Raw(configuracion_general.respetar_inventario)" />
            <input id="precios_netos" type="hidden" value="@Html.Raw(configuracion_general.precios_netos)" />
        </div>
    }
    <div id="loading">
        <img src="@Url.Content("~/assets-minified/images/spinner/loader-dark.gif")" alt="Cargando...">
    </div>
    <div id="sb-site">
        <div id="page-wrapper">
            <!--   M E N U  2   -->
            <div class="row" style="margin-left:0px; margin-right:0px; background-color: #254054;">
                <div class="col-sm-12" style="height: 50px;padding-left:0px; padding-right:0px;">
                    <div class="col-sm-2" style="height: 50px; background-color:white; padding-left: 0px; padding-right: 0px;">
                        <nav id="menu-usuario" class="cbp-hrmenu">
                            <ul>
                                <li style="cursor:pointer;">
                                    <a style="text-align: center; cursor:pointer; color: white;">
                                        <img id="logo" src="@Url.Content("/UploadFolder/logo/" + configuracion_general.favicon)" style="width:25px;vertical-align: text-top;" />
                                        <label class="lblSubText" style="text-align: center; position: relative; top: -5px; cursor:pointer; color: #254054;">
                                            @if (Request.IsAuthenticated)
                                            {
                                                <span style="text-transform: uppercase; font-weight:bold;">@usuario.nombre_usuario</span><span> - </span>
                                                <span style="text-transform: uppercase; font-weight:bold; color:green;">@usuario.nivel_usuario.nombre.ToUpper()</span>
                                            }
                                        </label>
                                    </a>
                                    <div class="cbp-hrsub" style="width: 100%; padding: 0px; border: 0px; left: 0em; top: -0.4em; position: relative; background-color: #ff5757; color: white !important; border-radius: 3px; text-align: center; cursor: pointer;">
                                        <div class="cbp-hrsub-inner" style="cursor: pointer;">
                                            <div style="padding: 0px; width: 100%; text-align: center; cursor: pointer;">
                                                <h4 onclick="location.href = '@Url.Action("LogOff", "Account")'" style="padding: 0px;cursor: pointer;">
                                                    <i class="glyph-icon icon-power-off fa-lg" style="display: inline;margin-right: 10px;color: white;font-size: 19px;cursor: pointer;"></i><label style="display: inline; color: white; font-size: 16px; cursor: pointer;">Cerrar Sesion</label>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-sm-10" style="height: 50px;padding-left:0px; padding-right:0px;">
                        <nav id="cbp-hrmenu" class="cbp-hrmenu">
                            <ul>
                                <li style="cursor:pointer;">
                                    <a onclick="location.href = '@Url.Action("Index", "Home")'" style="text-align: center; cursor:pointer; color: white;">
                                        <i class="glyph-icon icon-home fa-2x" style="margin-right: 5px; font-size:1.3em;"></i>
                                        <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px;cursor:pointer;">
                                            Inicio
                                        </label>
                                    </a>
                                </li>
                                <li style="cursor:pointer;">
                                    <a onclick="location.href = '@Url.Action("NuevaVenta", "Venta")'" style="text-align: center; cursor:pointer; color: white;">
                                        <i class="glyph-icon icon-elusive-basket fa-2x" style="margin-right: 5px; font-size:1.3em;"></i>
                                        <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px;cursor:pointer;">
                                            Nueva Venta
                                        </label>
                                    </a>
                                </li>
                                <li style="cursor:pointer;">
                                    <a style="text-align: center; cursor:pointer; color: white;">
                                        <i class="glyph-icon icon-linecons-shop fa-2x" style="margin-right: 5px; font-size:1.3em;"></i>
                                        <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px; cursor:pointer;">
                                            Punto De Venta
                                        </label>
                                    </a>
                                    <div class="cbp-hrsub">
                                        <div class="cbp-hrsub-inner">
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("NuevaVenta", "Venta")'">
                                                    <i class="glyph-icon icon-elusive-basket fa-lg" style="margin-left: 5px;"></i>
                                                    Venta
                                                </h4>
                                                <ul>
                                                    <li><a href="@Url.Action("NuevaVenta", "Venta")">Nueva Venta</a></li>
                                                    <li><a href="@Url.Action("EntregaVenta", "Venta")">Entregar Venta</a></li>
                                                    <li><a href="@Url.Action("Cotizacion", "Venta")">Cotizaciones</a></li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("VentaOnline", "TiendaOnline")'">
                                                    <i class="glyph-icon icon-cloud-upload fa-lg" style="margin-left: 5px;"></i>
                                                    Tienda En Linea
                                                </h4>
                                                <ul>
                                                    <li><a href="@Url.Action("VentaOnline", "TiendaOnline")">Ventas En Linea</a></li>
                                                    <li><a href="@Url.Action("CotizacionOnline", "TiendaOnline")">Cotizaciones En Linea</a></li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "Credito")'">
                                                    <i class="glyph-icon icon-file-text-o fa-lg" style="margin-left: 5px;"></i>
                                                    Creditos
                                                </h4>
                                                <ul>
                                                    <li><a href="@Url.Action("Index", "Credito")">Creditos Por Cliente</a></li>
                                                    <li><a href="@Url.Action("HistorialCreditos", "Credito")">Creditos Por Venta</a></li>
                                                    <li><a href="@Url.Action("HistorialAbonosClientes", "Credito")">Abonos</a></li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "NotaCredito")'">
                                                    <i class="glyph-icon icon-file-text-o fa-lg" style="margin-left: 5px;"></i>
                                                    Notas De Credito
                                                </h4>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "CorteCaja")'">
                                                    <i class="glyph-icon icon-elusive-laptop fa-lg" style="margin-left: 5px;"></i>
                                                    Cortes De Caja
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="cbp-hrsub-inner">
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Historial", "Reporte")'">
                                                    <i class="glyph-icon icon-bar-chart-o fa-lg" style="margin-left: 5px;"></i>
                                                    Reportes
                                                </h4>
                                                <ul>
                                                    <li><a href="@Url.Action("Historial", "Reporte")" title="Historial"><span>Historial De Ventas</span></a></li>
                                                    @if (configuracion_general.venta_consignacion == true)
                                                    {
                                                        <li><a href="@Url.Action("Consignacion", "Reporte")" title="Consignacion"><span>Consignacion</span></a></li>
                                                        <li><a href="@Url.Action("PoolConsignacion", "Reporte")" title="Consignacion"><span>Consignacion Por Proveedor</span></a></li>
                                                        <li><a href="@Url.Action("InventarioConsignacion", "Reporte")" title="Inventario En Consignacion"><span>Inventario En Consignacion</span></a></li>
                                                    }
                                                    <li><a href="@Url.Action("ResumenVenta", "Reporte")" title="Ventas Por Producto"><span>Ventas Por Producto</span></a></li>
                                                    <li><a href="@Url.Action("VentaTipoPrecio", "Reporte")" title="Ventas Por Tipo De Precio"><span>Ventas Por Tipo De Precio</span></a></li>
                                                </ul>
                                            </div>
                                            @if (Convert.ToBoolean(configuracion_pos.movimientos_efectivo) == true)
                                            {
                                                <div>
                                                    <h4 onclick="location.href = '@Url.Action("Index", "MovimientoEfectivo")'">
                                                        <i class="glyph-icon icon-iconic-layers-alt fa-lg" style="margin-left: 5px;"></i>
                                                        Movimientos Efectivo
                                                    </h4>
                                                </div>
                                            }
                                            @*<div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "Factura")'">
                                                    <i class="glyph-icon icon-file fa-lg" style="margin-left: 5px;"></i>
                                                    Facturacion Electronica
                                                </h4>
                                            </div>*@
                                        </div>
                                    </div>
                                </li>
                                <li style="cursor:pointer;">
                                    <a style="text-align: center; cursor:pointer; color: white;">
                                        <i class="glyph-icon icon-cubes fa-2x" style="margin-right: 5px; font-size:1.3em;"></i>
                                        <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px; cursor:pointer;">
                                            Productos
                                        </label>
                                    </a>
                                    <div class="cbp-hrsub">
                                        <div class="cbp-hrsub-inner">
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "Producto")'">
                                                    <i class="glyph-icon icon-cube fa-lg" style="margin-left: 5px;"></i>
                                                    Productos
                                                </h4>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "Proveedor")'">
                                                    <i class="glyph-icon icon-truck fa-lg" style="margin-left: 5px;"></i>
                                                    Proveedores
                                                </h4>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "Marca")'">
                                                    <i class="fa-lg" style="margin-left: 5px;">&#174;</i>
                                                    Marcas
                                                </h4>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "Familia")'">
                                                    <i class="glyph-icon icon-elusive-font fa-lg" style="margin-left: 5px;"></i>
                                                    Familia
                                                </h4>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "Subfamilia")'">
                                                    <i class="glyph-icon icon-elusive-fontsize fa-lg" style="margin-left: 5px;"></i>
                                                    Subfamilias
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="cbp-hrsub-inner">
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "Inventario")'">
                                                    <i class="glyph-icon icon-iconic-exchange fa-lg" style="margin-left: 5px;"></i>
                                                    Inventario
                                                </h4>
                                                <ul>
                                                    <li><a href="@Url.Action("Index", "Inventario")" title="Inventario"><span>Inventario</span></a></li>
                                                    <li><a href="@Url.Action("NuevaEntrada", "Inventario")" title="Nueva Entrada De Inventario"><span>Nueva Entrada De Inventario</span></a></li>
                                                    <li><a href="@Url.Action("NuevaSalida", "Inventario")" title="Nueva Salida De Inventario"><span>Nueva Salida De Inventario</span></a></li>
                                                    <li><a href="@Url.Action("HistorialMovimientosInventario", "Inventario")" title="Historial De Movimientos"><span>Historial De Movimientos</span></a></li>
                                                    <li><a href="@Url.Action("HistorialMovimientosInventarioDetalle", "Inventario")" title="Resumen De Entradas/Salidas"><span>Resumen De Entradas/Salidas</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="cursor:pointer;">
                                    <a onclick="location.href = '@Url.Action("Index", "Cliente")'" style="text-align: center; cursor:pointer; color: white;">
                                        <i class="glyph-icon icon-users fa-2x" style="margin-right: 5px; font-size:1.3em;"></i>
                                        <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px; cursor:pointer;">
                                            Clientes
                                        </label>
                                    </a>
                                </li>
                                <li style="cursor:pointer;">
                                    <a onclick="location.href = '@Url.Action("Index", "Usuario")'" style="text-align: center; cursor:pointer; color: white;">
                                        <i class="glyph-icon icon-user fa-2x" style="margin-right: 5px; font-size:1.3em;"></i>
                                        <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px; cursor:pointer;">
                                            Usuarios
                                        </label>
                                    </a>
                                </li>
                                <li style="cursor:pointer;">
                                    <a style="text-align: center; cursor:pointer; color: white;">
                                        <i class="glyph-icon icon-gears fa-2x" style="margin-right: 5px; font-size:1.3em;"></i>
                                        <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px; cursor:pointer;">
                                            Configuracion
                                        </label>
                                    </a>
                                    <div class="cbp-hrsub">
                                        <div class="cbp-hrsub-inner">
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "Sucursal")'">
                                                    <i class="glyph-icon icon-elusive-home fa-lg" style="margin-left: 5px;"></i>
                                                    Sucursales
                                                </h4>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "TipoPrecio")'">
                                                    <i class="glyph-icon icon-money fa-lg" style="margin-left: 5px;"></i>
                                                    Tipos De Precio
                                                </h4>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Permiso", "Configuracion")'">
                                                    <i class="glyph-icon icon-ban fa-lg" style="margin-left: 5px;"></i>
                                                    Permisos
                                                </h4>
                                            </div>
                                            <div style="width:33%;">
                                                <h4 onclick="location.href = '@Url.Action("Index", "Configuracion")'">
                                                    <i class="glyph-icon icon-gear fa-lg" style="margin-left: 5px;"></i>
                                                    Configuracion De La Plataforma
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li style="cursor:pointer;">
                                    <a style="text-align: center; cursor:pointer; color: white;">
                                        <i class="glyph-icon icon-gears fa-2x" style="margin-right: 5px; font-size:1.3em;"></i>
                                        <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px; cursor:pointer;">
                                            Caja
                                        </label>
                                    </a>
                                    <div class="cbp-hrsub">
                                        <div class="cbp-hrsub-inner">
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "Sucursal")'">
                                                    <i class="glyph-icon icon-elusive-home fa-lg" style="margin-left: 5px;"></i>
                                                    Historial Movimientos
                                                </h4>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "TipoPrecio")'">
                                                    <i class="glyph-icon icon-money fa-lg" style="margin-left: 5px;"></i>
                                                    Nuevo Movimiento
                                                </h4>
                                            </div>
                                            <div>
                                                <h4 onclick="location.href = '@Url.Action("Permiso", "Configuracion")'">
                                                    <i class="glyph-icon icon-ban fa-lg" style="margin-left: 5px;"></i>
                                                    Corte Caja
                                                </h4>
                                            </div>
                                            <div style="width:33%;">
                                                <h4 onclick="location.href = '@Url.Action("Index", "Configuracion")'">
                                                    <i class="glyph-icon icon-gear fa-lg" style="margin-left: 5px;"></i>
                                                    Configuracion De La Plataforma
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="page-content-wrapper" class="rm-transition" style="margin-top: 10px;">
                @RenderBody()
            </div>
        </div>
    </div>
    <div style="width:100%;font-size: 9px;background-color: #f1eeee;height:26px;text-align:center;padding-top: 7px;">
        <img src="@Url.Content("~/assets-minified/images/quianty.png")" style="width: 85px;">
        <a id="TerminosCondiciones" style="cursor:pointer;">Terminos y condiciones</a>
        <label style="font-weight: lighter;">Version 2.0.3</label>
    </div>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/uniform/uniform.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/chosen/chosen.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/superclick/superclick.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/nicescroll/nicescroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/autocomplete/autocomplete.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/autocomplete/menu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/widgets/slidebars/slidebars.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/themes/supina/js/layout.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/assets-minified/datatables/jquery.dataTables.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/assets-minified/datatables/dataTables.buttons.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/assets-minified/datatables/buttons.flash.js")"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
        <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
        <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>*@
    <!-- *** *** *** *** *** *** *** *** *** *** *** CDN's *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
    <script type="text/javascript" src="@Url.Content("~/assets-minified/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/datatables/dataTables.buttons.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/datatables/buttons.flash.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/datatables/jszip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/datatables/pdfmake.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/datatables/vfs_fonts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/datatables/buttons.html5.min.js")"></script>
    <script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/excel_export/jquery.base64.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/excel_export/tableExport.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/datetimepickerrange/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/datetimepickerrange/daterangepicker.js")"></script>
    <script src="@Url.Content("~/assets-minified/Menu/cbpHorizontalMenu.js")"></script>
    <script>
        $(function () {
            cbpHorizontalMenu.init();
            cbpHorizontalMenuUsuario.init();
        });
    </script>
</body>
</html>

<script>
    $(document).ready(function(){
        recuperar_id_sucursal_virtual();
    });
    $(document).on('click', '#TerminosCondiciones', function () {
        window.location.href = '@Url.Action("TerminosCondiciones", "Home")';
    });
    $(document).on('change', '#id_sucursal', function(){
        establecer_id_sucursal_virtual(parseInt($(this).val()));
    });
    function objectifyForm(formArray) {//serialize data function
        var returnArray = {};
        for (var i = 0; i < formArray.length; i++) {
            value = formArray[i]['value'];
            isCheckbox = formArray[i].type.toUpperCase() == "CHECKBOX";
            if (isCheckbox) {
                value = formArray[i].checked == true ? 1 : 0;
            }
            else {
                className = formArray[i]['className'].toUpperCase();
                if (className.indexOf("separadorMiles".toUpperCase()) !== -1) {
                    value = value.replace(/,/g, "");
                }
            }
            returnArray[formArray[i]['name']] = value;

        }
        return returnArray;
    }
</script>
