﻿@model POS.Models.marca
@{
    ViewBag.Title = "POS - Editar Marca";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nuevo Marca</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @using (Html.BeginForm("EditarMarca", "Marca", FormMethod.Post, new { @id = "EditarMarca", @style = "margin-bottom:0px;", enctype = "multipart/form-data" }))
        { 
            <table id="TablaMarca" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Nombre: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" id="nombre" name="nombre" class="form-control" value="@Model.nombre" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Imagen: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="file" id="imagen_marca" name="imagen_marca" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="2" id="previsualizacion" style="border: 0px; text-align: center;">
                            @if (Model.imagen != null)
                            {
                                <div style="display: inline;">
                                    <img class="imagen_guardada" src="@Url.Content("/UploadFolder/imagen_marca/" + Model.imagen)" style="max-width: 300px;" />

                                    <input type="text" class="id_imagen_guardada" name="id_imagen_guardada" value="@Model.id" style="display:none;" />
                                    <img class="borrar_imagen" src="@Url.Content("~/assets-minified/images/remove.png")" title="Eliminar" style="position: relative; vertical-align: bottom; width:20px; cursor:pointer; background-color: black; border-radius: 50%;" />
                                    <img class="recuperar_imagen" src="@Url.Content("~/assets-minified/images/undo.png")" title="Recuperar" style="position: relative; vertical-align: bottom; width:20px; cursor:pointer; background-color: black; border-radius: 50%; display:none;" />
                                </div>
                            }
                        </td>
                        <td colspan="4" style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaMarca" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Marca ya registrada en el sistema.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <a id="BotonEditarMarca" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </a>
                            <a href="@Url.Action("Index")" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Cancelar</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" id="EditarMarca" value="Guardar" style="display: none;" />
            <input type="text" name="imagen" value="@Model.imagen" style="display:none;" />
        }
    </div>
</div>

<script type="text/javascript">
    document.getElementById("BotonEditarMarca").addEventListener("click", function () {
        $('#EditarMarca').submit();
    });
</script>

<script type="text/javascript">
    var seguir = true;
    $(document).ready(function () {
        $('#EditarMarca').bind('submit', function (event) {
            seguir = true;
            $('.form-control').each(function () {
                if ($(this).val() == "") {
                    seguir = false;
                }
            });
            if (!seguir) {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
            VerificarMarca();
            if (!seguir) {
                return false;
            }
        });
    });
    $(document).on('change', '#nombre', function () {
        VerificarMarca();
    });
    function VerificarMarca() {
        var url = '@Url.Action("VerificarMarca")';
        $.ajax({
            url: url,
            data: { id: @Model.id, marca: $('#nombre').val() },
            type: "POST",
            async: false,
            success: function (existe) {
                if (existe == "True") {
                    MostrarAlertaMarca();
                    OcultarAlertaMarca();
                    seguir = false;
                }
            }
        });
    }
    function readURL(input) {
        if (typeof input !== "undefined") {
            for (var i = 0, l = input.length; i < l; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previsualizacion').append('<img id="imagen' + i + '" class="imagen" src="' + e.target.result + '" style="max-width: 300px;" />');
                }
                reader.readAsDataURL(input[i]);
            }
        }
    }
    $("#imagen_marca").change(function(){
        $('.imagen').remove();
        $('.imagen_guardada').each(function () {
            $(this).parent().remove();
        });
        $('.imagen_eliminada').each(function () {
            $(this).parent().remove();
        });
        readURL($(this)[0].files);
    });
    $(document).on('click', '.borrar_imagen', function () {
        $(this).parent().find('.imagen_guardada').css('opacity', '.2');
        $(this).parent().find('.imagen_guardada').addClass('imagen_eliminada');
        $(this).parent().find('.imagen_guardada').removeClass('imagen_guardada');
        $(this).parent().find('.id_imagen_guardada').addClass('id_imagen_eliminada');
        $(this).parent().find('.id_imagen_guardada').attr('name', 'id_imagen_eliminada');
        $(this).parent().find('.id_imagen_guardada').removeClass('id_imagen_guardada');
        $(this).parent().find('.recuperar_imagen').show();
        $(this).hide();
    });
    $(document).on('click', '.recuperar_imagen', function () {
        $(this).parent().find('.imagen_eliminada').css('opacity', '1');
        $(this).parent().find('.imagen_eliminada').addClass('imagen_guardada');
        $(this).parent().find('.imagen_eliminada').removeClass('imagen_eliminada');
        $(this).parent().find('.id_imagen_eliminada').addClass('id_imagen_guardada');
        $(this).parent().find('.id_imagen_eliminada').attr('name', 'id_imagen_guardada');
        $(this).parent().find('.id_imagen_eliminada').removeClass('id_imagen_eliminada');
        $(this).parent().find('.borrar_imagen').show();
        $(this).hide();
    });
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function MostrarAlertaMarca() {
        $('#AlertaMarca').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
    function OcultarAlertaMarca() {
        setTimeout(function () {
            $('#AlertaMarca').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaMarca').hide(1500);
        }, 3000);
    }
</script>
