﻿
.tt-menu,
.gist{text-align:left;}
.table-of-contents li{display:inline-block;*display:inline;zoom:1;}
.table-of-contents li a{font-size:16px;color:#999;}
.title{margin:20px 0 0 0;font-size:64px;}
.example{padding:30px 0;}
.example-name{margin:20px 0;font-size:32px;}
.demo{position:relative;*z-index:1;margin:50px 0;}
.typeahead,
.tt-query,
.tt-hint{}
.typeahead{background-color:#fff;}
.typeahead:focus{border:2px solid #0097cf;}
.tt-query{-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.tt-hint{color:#999;}
.tt-menu{width:100%;margin:-5px 0;padding:8px 0;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.2);-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:10px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);}
.tt-suggestion{padding:3px 20px;font-size:10px;line-height:24px;}
.tt-suggestion:hover{cursor:pointer;color:#fff;background-color:#00B73E;}
.tt-suggestion.tt-cursor{color:#fff;background-color:#00B73E;}
.tt-suggestion p{margin:0;}
.gist{font-size:14px;}
#custom-templates .empty-message{padding:5px 10px;text-align:center;}
#multiple-datasets .league-name{margin:0 20px 5px 20px;padding:3px 0;border-bottom:1px solid #ccc;}
#scrollable-dropdown-menu .tt-menu{max-height:150px;overflow-y:auto;}
#rtl-support .tt-menu{text-align:right;}
.twitter-typeahead{width:74%;float:left;}