﻿body{}
.navbar .navbar-form{padding-top:0;padding-bottom:0;margin-right:0;margin-left:0;border:0;-webkit-box-shadow:none;box-shadow:none;}
#searchcategory{width:100px;color:#333;background-color:#e6e6e6;border-color:#adadad;}