﻿.boton_paginacion{background-color:#FFFFFF !important;margin:0 3px;cursor:pointer;padding:9px 7px !important;color:#848484;font-size:14px;background:#ffffff;border:medium none;font-weight:300;outline:medium none;border:1px solid #848484;}
.boton_paginacion:hover{color:#00b73e !important;border:1px solid #00b73e;text-decoration:none;}
.boton_paginacion_active{background-color:#00b73e !important;color:white !important;}
.familiaSeleccionada{color:#00B73E !important;}
.subfamiliaSeleccionada{color:#00B73E!important;}
.marcaSeleccionada{color:#00B73E !important;}