﻿@{
    POS.Models.venta venta = ViewBag.Venta as POS.Models.venta;
    int NumeroNotasCredito = Convert.ToInt32(ViewBag.NumeroNotasCredito);
    bool existe_descuento = ViewBag.existe_descuento;
}
@if (ViewBag.correcto == 1)
{
    <input type="text" name="id_venta" id="id_venta" value="@venta.id" style="display:none;" />
    <input type="text" name="id_sucursal" id="id_sucursal" value="@venta.sucursal_id" style="display:none;" />
    <table id="TablaProduccion" class="table" style="width: 100%;">
        <tbody>
            <tr class="General">
                <td style="width: 150px; text-align: right; border: 0px; font-weight:bold;">Sucursal: </td>
                <td style="width: 25%; border: 0px;">@venta.sucursal.nombre_sucursal</td>
                <td style="border: 0px;"></td>
                <td style="width: 150px; text-align: right; border: 0px; font-weight:bold;">Cliente: </td>
                <td style="width: 25%; border: 0px;">@venta.cliente.Razon_social</td>
                <td style="border: 0px;"></td>
            </tr>
            <tr class="General">
                <td style="width: 150px; text-align: right; border: 0px; font-weight:bold;">Fecha: </td>
                <td style="width: 25%; border: 0px;">@venta.Fecha_entrega</td>
                <td style="border: 0px;"></td>
                <td style="width: 150px; text-align: right; border: 0px; font-weight:bold;">Estatus: </td>
                <td style="width: 25%; border: 0px;">@venta.catalogo_status.status</td>
                <td style="border: 0px;"></td>
            </tr>
            <tr class="General">
                <td style="width: 150px; text-align: right; border: 0px; font-weight:bold;">Vendedor: </td>
                <td style="width: 25%; border: 0px;">@venta.usuario_punto_venta.nombre_usuario</td>
                <td style="border: 0px;"></td>
                <td style="width: 150px; text-align: right; border: 0px; font-weight:bold;">Precio Dolar: </td>
                <td style="width: 25%; border: 0px;">@venta.precio_dolar_venta</td>
                <td style="border: 0px;"></td>
            </tr>
            @if (NumeroNotasCredito != 0)
            {
                <tr>
                    <td colspan="6" style="text-align: center; border: 0px; background-color: #506676; color: white;">Notas De Credito Anteriores</td>
                </tr>
                <tr>
                    <td colspan="6" style="border: 0px; text-align: center;">
                        <table id="Conceptos" class="table">
                            <thead>
                                <tr>
                                    <th>ID Nota Credito</th>
                                    <th>ID Venta</th>
                                    <th>Sucursal</th>
                                    <th>Estatus</th>
                                    <th>Fecha Creacion</th>
                                    <th>Fecha Uso</th>
                                    <th>Fecha Cancelacion</th>
                                    <th>Importe</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (POS.Models.nota_credito nota_credito in (ViewBag.ListaNotasCredito as List<POS.Models.nota_credito>))
                                {
                                    <tr>
                                        <td style="border: 0px;">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(nota_credito.id)</td>
                                        <td style="border: 0px;">@POS.Fn.Numeros.serie_folio_by_id(nota_credito.id_venta)</td>
                                        <td style="border: 0px;">@nota_credito.venta.sucursal.nombre_sucursal</td>
                                        <td style="border: 0px;">@nota_credito.estatus_nota_credito.nombre</td>
                                        <td style="border: 0px;">
                                            @if (nota_credito.fecha_creacion != null)
                                            {
                                                @nota_credito.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                            }
                                        </td>
                                        <td style="border: 0px;">
                                            @if (nota_credito.fecha_uso != null)
                                            {
                                                @nota_credito.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                            }
                                        </td>
                                        <td style="border: 0px;">
                                            @if (nota_credito.fecha_cancelacion != null)
                                            {
                                                @nota_credito.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                            }
                                        </td>
                                        <td style="border: 0px;"><span>$</span>@nota_credito.cantidad.Value</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="6" style="text-align: center; border: 0px; background-color: #506676; color: white;">Conceptos</td>
            </tr>
            <tr>
                <td colspan="6" style="border: 0px; text-align: center;">
                    <table id="Conceptos" class="table">
                        <thead>
                            <tr>
                                <th style="width: 30px;"></th>
                                <th style="width: 100px;">Regresa</th>
                                <th style="width: 100px;">Cantidad</th>
                                <th>Codigo</th>
                                <th>Descripcion</th>
                                <th>Tipo De Precio</th>
                                <th>Precio Unitario</th>
                                <th style="width:150px;">Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (POS.Models.conceptos_por_venta concepto in (ViewBag.ListaConceptos as List<POS.Models.conceptos_por_venta>))
                            {
                                <tr>
                                    <td style="border: 0px;"><input type="checkbox" name="concepto" class="form-control SeleccionarConcepto concepto" value="@concepto.id" style="height: 14px;" /></td>
                                    <td style="border: 0px;"><input type="text" class="form-control cantidad" style="text-align:center;" readonly="readonly" /></td>
                                    <td class="cantidadOriginal" style="border: 0px;">@concepto.cantidad</td>
                                    <td style="border: 0px;">@concepto.producto.Codigo</td>
                                    <td style="border: 0px;">@concepto.producto.Descripcion</td>
                                    <td style="border: 0px;">@concepto.tipocliente.Tipo</td>
                                    <td style="border: 0px;"><span>$</span>@concepto.precio_unitario</td>
                                    <td style="border: 0px;"><span>$</span>@concepto.importe</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="6" style="border: 0px;"></td>
                                <td style="text-align:right; font-weight:bold; border: 0px;">Subtotal:</td>
                                <td style="border: 0px;"><span>$</span>@venta.subtotal</td>
                            </tr>
                            <tr>
                                <td colspan="6" style="border: 0px;"></td>
                                <td style="text-align:right; font-weight:bold; border: 0px;">I.V.A.:</td>
                                <td style="border: 0px;"><span>$</span>@venta.iva</td>
                            </tr>
                            <tr>
                                <td colspan="6" style="border: 0px;"></td>
                                <td style="text-align:right; font-weight:bold; border: 0px;">Total:</td>
                                <td style="border: 0px;"><span>$</span>@venta.total</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    if (existe_descuento)
    {
        POS.Models.descuento descuento = ViewBag.descuento as POS.Models.descuento;
        <div id="AlertaExistenDescuentos" class="alert alert-info" style="margin: auto; margin-bottom: 10px; width: 70%;">
            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
            <div class="alert-content">
                <h4 class="alert-title">Alerta</h4>
                <p>
                    Cuidado esta venta tiene  descuentos. <br />
                    El total de la nota de credito es en relación con el importe del producto, no al total de la venta; téngalo en consideración.
                </p>
                <p><label>Monto:</label><span>$@descuento.monto</span>&nbsp;&nbsp;&nbsp;<label>Porcentaje:</label><span>@descuento.porcentaje%</span></p>
            </div>
        </div>
    }
}
else if (ViewBag.correcto == -1)
{
    <table id="TablaProduccion" class="table" style="width: 100%;">
        <tbody>
            <tr class="General">
                <td colspan="6" style="text-align: center; border: 0px;">Venta Cancelada</td>
            </tr>
        </tbody>
    </table>
}
else if (ViewBag.correcto == 0)
{
    <table id="TablaProduccion" class="table" style="width: 100%;">
        <tbody>
            <tr class="General">
                <td colspan="6" style="text-align: center; border: 0px;">Venta Inexistente</td>
            </tr>
        </tbody>
    </table>
}

<script type="text/javascript">
    $('.cantidad').bind('keypress', function (e) {
        var text = $(this).val();
        var cantidadOriginal = $(this).parent().parent().find('.cantidadOriginal').html();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                if (parseInt(text + String.fromCharCode(e.which)) > parseInt(cantidadOriginal)) {
                    return false
                } else {
                    return true;
                }
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                if (parseInt(text + String.fromCharCode(e.which)) > parseInt(cantidadOriginal)) {
                    return false
                } else {
                    return true;
                }
            }
        }
    });
</script>