﻿@{
    List<POS.Models.venta> ListaVentas = ViewBag.ListaVentas as List<POS.Models.venta>;
    List<POS.Models.pdf_venta> ListaPDF = ViewBag.ListaPDF as List<POS.Models.pdf_venta>;
    int i = 0;
    string nivel = POS.Fn.usuario_logeado.nivel();
    int nivel_id = POS.Fn.usuario_logeado.nivel_id();
}

@foreach (POS.Models.venta venta in ListaVentas)
{
    String serie_folio = POS.Fn.Numeros.serie_folio_by_id(venta.id);
    <tr>
        <td id="serie_folio_venta" style="text-align: center;">@serie_folio</td>
        <td style="text-align: center;">@venta.cliente.Razon_social</td>
        <td style="text-align: center;">@venta.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
        <td style="text-align: center;">@venta.usuario_punto_venta.nombre_usuario</td>
        @if (venta.multiple_pago.Count == 1)
        {
            <td style="text-align: center;">@venta.multiple_pago.First().tipo_pago_venta.tipo</td>
        }
        else
        {
            <td style="text-align: center;">Multiple</td>
        }
        <td style="text-align: center;">
            @{
                if (venta.catalogo_status_id != 2 && venta.catalogo_status_id != 12)
                {
                    <label style="color: #0d5a22;"><span class="visible-print-block">@venta.catalogo_status.status.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                }
                else
                {
                    <label style="color: #ff0000;"><span class="visible-print-block">@venta.catalogo_status.status.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                }
            }
        </td>
        <td style="text-align: center;">
            @{ 
                Decimal costo = 0;
                foreach (POS.Models.conceptos_por_venta concepto in venta.conceptos_por_venta.ToList())
                {
                    if (concepto.producto.costo != null)
                    {
                        costo = costo + (concepto.producto.costo.Value * concepto.cantidad);
                    }
                }
            }
            @Math.Round(costo, 2)
        </td>
        <td style="text-align: center;">@venta.total</td>
        <td style="text-align: center;">
            @if (costo != 0)
            {
                @Math.Round(venta.total.Value - costo, 2)
            }
        </td>
        <td style="text-align: center;">
            <section>
                <div class="wrapper-demo">
                    <div class="wrapper-dropdown-5" tabindex="1">
                        <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                        Acciones
                        <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                            <li>
                                <label onclick="DetalleVenta(@venta.id)" style="color: #254054"><i class="glyph-icon icon-eye" aria-hidden="true" style="margin-right: 15px;"></i>Detalle</label>
                            </li>
                            <li>
                                <label onclick="ImprimirVenta(@venta.id)" style="color: #254054"><i class="glyph-icon icon-print" aria-hidden="true" style="margin-right: 15px;"></i>Imprimir</label>
                            </li>
                            @{
                                POS.Models.pdf_venta archivo = venta.pdf_venta.Where(x => x.id_venta == venta.id).FirstOrDefault();
                                if (archivo != null)
                                {
                                    <li>
                                        <label onclick="OCVenta(@ListaPDF.ElementAt(i++).id)" style="color: #254054"><i class="glyph-icon icon-pencil" aria-hidden="true" style="margin-right: 15px;"></i>Detalle</label>
                                    </li>
                                }
                            }
                            @if (venta.catalogo_status_id == 1 && Math.Round(venta.nota_credito.Where(x => x.id_estatus_nota_credito != 3).Select(y => y.cantidad).Sum().Value, 2) != Math.Round(venta.total.Value, 2))
                            {
                                <li>
                                    <label onclick="CancelarVenta(@venta.id, '@serie_folio')" style="color: #ff0000"><i class="glyph-icon icon-times" aria-hidden="true" style="margin-right: 15px;"></i>Cancelar</label>
                                </li>
                            }
                            else if (venta.catalogo_status_id == 9 || venta.catalogo_status_id == 10 || venta.catalogo_status_id == 11)
                            {
                                <li>
                                    <label onclick="CancelarVentaOnline(@venta.id)" style="color: #ff0000"><i class="glyph-icon icon-times" aria-hidden="true" style="margin-right: 15px;"></i>Cancelar</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </section>
        </td>
    </tr>
                                }