﻿@{
    ViewBag.Title = "Editar Cotización";
}

@{
    Tienda_Online.Models.venta venta = ViewBag.cotizacion as Tienda_Online.Models.venta;
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
}

<section id="cart_items">
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3  col-md-6 col-md-offset-3   col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto;">
                <label class="titulo1" style="text-align: center;">EDITAR COTIZACIÓN</label>
            </div>
        </div>
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
            <label style="display: inline-block; padding: 20px; font-weight: bold; border: 1px dashed #4A4A4A; margin: 5px; color: #4A4A4A; width: 100%">La cotización esta vacía</label>
        </div>
        @foreach (Tienda_Online.Models.conceptos_por_venta conceptos_por_venta in venta.conceptos_por_venta.ToList())
        {
            string moneda = conceptos_por_venta.producto.precio_dolar.Value == 1 ? "USD" : "MXN";
            <div class="ProductoCarrito" style="width:100%;float: left;position: relative;padding:20px; border: 1px solid #d7d5d5; padding: 20px; margin-bottom: 20px; color: #4A4A4A" id_producto="@conceptos_por_venta.Producto_id">
                <div class=" col-lg-1 col-md-2 col-sm-12 col-xs-12">
                    <div class="canvas_img" style="height: 100px;">
                        <div>
                            @if (conceptos_por_venta.producto.imagen.Count() != 0)
                            {

                                if (!conceptos_por_venta.producto.imagen.First().Equals(""))
                                {
                                    if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + conceptos_por_venta.producto.imagen))))
                                    {
                                <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/" + conceptos_por_venta.producto.imagen) + "');margin:0;width:auto;background-color: transparent;")"></div> 
                                    }
                                    //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                    else
                                    {
                                <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                    }
                                }
                                //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                else
                                {
                                <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                }
                            }
                            else
                            {
                                <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                            }
                        </div>
                    </div>
                </div>
                <div class=" col-lg-11 col-md-11 col-sm-12 col-xs-12">
                    <div style="width: 100%; float: left; position: relative; padding: 5px">
                        <div class=" col-lg-3 col-md-4 col-sm-12 col-xs-12">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Nombre del producto y detalles</label>
                        </div>
                        <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Precio Unitario</label>
                        </div>
                        <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Cantidad</label>
                        </div>

                    </div>
                    <div style="width: 100%; float: left; position: relative; padding: 5px">
                        <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label>@conceptos_por_venta.producto.Descripcion</label>
                        </div>
                        <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            @if (conceptos_por_venta.producto.precio_dolar == 0)
                            {   
                                <label class="precio_unitario" style="cursor: pointer; font-weight: bold; line-height: 30px; float: left">
                                    $
                                    <span class="precio" precio_dolar="@conceptos_por_venta.producto.precio_dolar"   style="display: none">@conceptos_por_venta.precio_unitario.Value.ToString("0.00")</span>
                                    <span style="font-weight: bold">@conceptos_por_venta.precio_unitario.Value.ToString("#,##0.00")</span>
                                    <span class="Moneda" style="font-weight: bold">MXN</span>
                                </label>
                                <img class="bandera_unitario" src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px; float: left' />
                            }
                            else
                            {
                                <label class="precio_unitario" style="cursor: pointer; font-weight: bold; line-height: 30px; float: left">
                                    $
                                    <span class="precio" precio_dolar="@conceptos_por_venta.producto.precio_dolar"   style="display: none">@conceptos_por_venta.precio_unitario.Value.ToString("0.00")</span>
                                    <span style="font-weight: bold">@conceptos_por_venta.precio_unitario.Value.ToString("#,##0")</span>
                                    <span class="Moneda" style="font-weight: bold">USD</span>
                                </label>   
                                <img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px; float: left' />

                            }
                        </div>
                        <div class=" col-lg-3 col-md-2 col-sm-12 col-xs-12">
                            <div style="text-align: center;">
                                <div class="cart_quantity_button" id_producto="@conceptos_por_venta.Producto_id" style="display: inline-block;">
                                    <i class="bajar_cantidad2 fa fa-minus" aria-hidden="true"></i>
                                    <input class="cart_quantity_input form-control cantidad" type="text" value="@conceptos_por_venta.cantidad" autocomplete="off" style="width: 80px; border-radius: 0px;">
                                    <i class=" subir_cantidad2 fa fa-plus" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-3 col-md-2 col-sm-12 col-xs-12">
                            <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label class="" style="cursor: pointer; font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                    $<span class="importe" style="font-weight: bold"></span>
                                    <span class="tipoMoneda" style="font-weight: bold">@moneda</span>
                                </label>
                            </div>
                            <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label class="" style="cursor: pointer; font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                    $<span class="iva" style="font-weight: bold"></span>
                                    <span class="tipoMoneda" style="font-weight: bold">@moneda</span>
                                </label>
                            </div>

                            <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                @*<img class="bandera_subtotal" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; vertical-align: bottom;margin: 0 0 0 10px;float: left;' />*@
                                <label class="" style="cursor: pointer; font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                    $<span class="total" style="font-weight: bold"></span>
                                    <span class="tipoMoneda" style="font-weight: bold">
                                        @moneda
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class=" col-lg-1 col-md-2 col-sm-12 col-xs-12">
                            <label class="botonEliminar"><i class=" fa fa-minus-circle" aria-hidden="true"></i>Eliminar</label>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="divTotales col-lg-3 col-lg-offset-6 col-md-3  col-md-offset-6  col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5">
            <div class="container">
                <div style="text-align: center; width: 100%; float: left; position: relative; padding: 5px">
                    <div style="display: inline-block;">
                        <label style="float: left; line-height: 30px">MNX</label><img class="bandera_unitario" src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px; float: left' />
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">SUBTOTAL</label>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    $<label id="subtotalpesos" style="float: right;"></label>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">IVA</label>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    $<label id="ivaPesos" style="float: right;"></label>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">TOTAL</label>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    $<label id="totalPesos" style="float: right;"></label>
                </div>
            </div>
        </div>

        <div class="divTotales col-lg-3 col-md-3 col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5">
            <div class="container">
                <div style="text-align: center; width: 100%; float: left; position: relative; padding: 5px">
                    <div style="display: inline-block;">
                        <label style="float: left; line-height: 30px">USD</label><img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px; float: left' />
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">SUBTOTAL</label>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    $<label id="subtotaldolares" style="float: right;"></label>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">IVA</label>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    $<label id="ivadolares" style="float: right;"></label>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">TOTAL</label>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    $<label id="totaldolares" style="float: right;"></label>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top: 35px">
            <a  href="@Url.Action("Index", "Home")">
                <label class="botonBordeRojo" style=""><i class="fa fa-chevron-left" aria-hidden="true" style="margin-right: 5px"></i>Cancelar</label></a>
        </div>
        <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top: 35px">
            <label id="ReiniciarCotizacion" class="botonBordeVerde" href="#"><i class="fa fa-refresh" aria-hidden="true" style="margin-right: 5px"></i>Reiniciar</label>
        </div>
        <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top: 35px">
            <label id="GuardarCotizacion" class="botonBordeVerde" href="#">Guardar Cotización</label>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {


        $("#ReiniciarCotizacion").click(function () {
            location.reload();
        });
        $(document).on('click', '.subir_cantidad2', function () {
            divCantidad = $(this).closest(".cart_quantity_button");
            cantidad = parseInt(divCantidad.find(".cart_quantity_input").val()) + 1;
            divCantidad.find(".cart_quantity_input").val(cantidad);
            CalcularTotales();
        });

        $(document).on('click', '.bajar_cantidad2', function () {
            if ((parseInt($(this).parent().find('.cantidad').val()) - 1) > 0) {
                divCantidad = $(this).closest(".cart_quantity_button");
                cantidad = parseInt(divCantidad.find(".cart_quantity_input").val()) - 1;
                divCantidad.find(".cart_quantity_input").val(cantidad);
            }
            CalcularTotales();
        });

        $('precio_unitario').each(function () {
            $(this).html(parseFloat($(this).html()).toFixed(2));
        });
        CalcularTotales();

    });

    $(document).on('click', '.botonEliminar', function () {
        var producto = $(this).closest(".ProductoCarrito ");
        producto.remove();
        CalcularTotales();
        //si no hay productos entonces eliminar los subtotales acumulados pesos y dolares
        if ($(".ProductoCarrito").length == 0) {
            $(".divTotales").hide();
        }

    });

    function CalcularTotales() {
        var subtotalPesos = 0;
        var subtotalDolares = 0;
        $('.ProductoCarrito').each(function () {
            var unitario = $(this).find('.precio_unitario .precio').html();
            var cantidad = parseFloat($(this).find('.cantidad').val()).toFixed(2);
            var importe = (parseFloat(unitario) * parseFloat(cantidad)).toFixed(2);
            if ($(this).find('.precio_unitario .precio').attr("precio_dolar") == 1) {
                subtotalDolares += parseFloat(importe);

            }
            else {
                subtotalPesos += parseFloat(importe);
            }


            var iva = parseFloat(importe * .16).toFixed(2);
            var total = parseFloat(importe) + parseFloat(iva);
            $(this).find(".importe").html($.number(importe, 2))
            $(this).find(".iva").html($.number(iva, 2))
            $(this).find(".total").html($.number(total, 2))
            Moneda = $(this).find('.Moneda').html();
            banderaSrc = $(this).find('.bandera_unitario').attr("src");
            $(this).find(".tipoMoneda").html(Moneda);


        });


        var ivaPesos = parseFloat(subtotalPesos) * .16;
        var ivaDolares = parseFloat(subtotalDolares) * .16;
        var totalPesos = parseFloat(subtotalPesos) + parseFloat(ivaPesos);
        var totalDolares = parseFloat(subtotalDolares) + parseFloat(ivaDolares);

        $("#subtotalpesos").html($.number(subtotalPesos, 2))
        $("#ivaPesos").html($.number(ivaPesos, 2))
        $("#totalPesos").html($.number(totalPesos, 2))

        $("#subtotaldolares").html($.number(subtotalDolares, 2))
        $("#ivadolares").html($.number(ivaDolares, 2))
        $("#totaldolares").html($.number(totalDolares, 2))

    }

    $(document).on('click', '#EditarCotizacion', function () {

        var url = '@Url.Action("EditarCotizacion")';
        var Conceptos = [];
        $('.producto').each(function () {
            Conceptos.push({
                id: $(this).attr('name'),
                cantidad: $(this).find('.cantidad').val()
            });
        });
        var params = {
            'id_cotizacion': '@venta.id',
            'conceptos': Conceptos
        };
        $.ajax({
            url: url,
            type: "POST",
            datetype: 'JSON',
            contentType: 'application/json;',
            data: JSON.stringify(params),
            success: function (result) {
                if (result.success == true) {
                    id_cotizacion = result.id_cotizacion;
                    id_venta = result.idventa;
                    var url = '@Url.Action("ModalGuardarCotizacion")';
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: { id_cotizacion: id_cotizacion, id_venta: id_venta },
                        success: function (Modal) {
                            bootbox.dialog({
                                title: "Cotizacion Actualizada Exitosamente",
                                message: Modal,
                                className: "ModalGuardarCotizacion",
                                onEscape: false,
                                closeButton: false
                            });
                        },
                        async: false
                    });
                } else {
                    var url = '@Url.Action("ModalErrorCotizacion")';
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {},
                        success: function (Modal) {
                            bootbox.dialog({
                                title: "Error Al Actualizar La Cotizacion",
                                message: Modal,
                                className: "ModalErrorCotizacion",
                                onEscape: false,
                                closeButton: false
                            });
                        },
                        async: false
                    });
                }
            },
            async: "false"
        });
    });
</script>
