﻿@{
    Tienda_Online.Models.cliente cliente = ViewBag.cliente as Tienda_Online.Models.cliente;
    ViewBag.Title = "Editar Cuenta";
}

@if (cliente != null)
{
    <div class="container formulario_2">
        <div class="col-sm12" style="margin-bottom: 30px;">
            <div class="signup-form">
                <h2 class="text-center" style="margin: 30px 0 auto; padding-bottom: 40px; padding-top: 40px !important; font-size: 35px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2;margin-top: 20px;">Editar cuenta</h2>
            </div>
            <div class="container" style="width: 100%; margin: 0; padding: 0; position: relative">
                <div class="col-sm-12 container">
                    <div class="col-lg-3 col-lg-offset-9 col-md-4 col-sm-6 col-xs-12 ">
                        <a href="@Url.Action("aviso", "Home")">
                            <label class="botonBordeVerde" style="margin-top: 20px; line-height: 25px"><i class="fa fa-eye" aria-hidden="true" style="margin-right: 5px; font-size: 25px;"></i>Ver aviso de privacidad</label></a>
                    </div>
                </div>
            </div>
            <div class="borde_gris container">
                <div class="col-sm-12 " style="margin: 15px; font-size: 20px;">
                    Información General
                </div>
                <div class="span2">
                    <label class="label_form1">Logo: </label>
                    <div class="canvas_img" style="height: 150px; margin-bottom: 20px;">
                        <div>
                            @if (cliente.imagen != null)
                            {
                                if (cliente.imagen != "")
                                {
                                    if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_cliente/" + cliente.imagen))))
                                    {
                                <div class="img cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_cliente/" + cliente.imagen) + "');margin:0;width:auto;background-color: transparent;")"></div> 
                                    }
                                    //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                    else
                                    {
                                <div class="img cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/images/usuario.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                    }
                                }
                                //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                else
                                {
                                <div class="img cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/images/usuario.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                }
                            }
                            else
                            {
                                <div class="img cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/images/usuario.png") + "');margin:0;width:auto;background-color: transparent;")"></div>     
                            }
                        </div>
                    </div>
                    <div id="div_progress" style="width: 100%; border: 1px solid lightgray; height: 12px; display: none">
                        <div id="progress-bar" style="background-color: #07db4f; height: 10px; width: 1%; text-align: right">
                            <label id="porcentaje_img" style="font-size: 12px; margin: 0px; padding: 0px; line-height: 12px; color: #fff;"></label>
                        </div>
                    </div>
                    <input type="file" id="imagen" name="imagen" style="padding-top: 10px;" />
                </div>
                <div class="span2">
                    <label class="label_form1" style="display: inline;">Nombre o Razón social: </label>
                    <input type="text" id="Razon_social" name="Razon_social" class="campo_obligatorio" placeholder="Nombre o Razon Social (Obligatorio)" value="@cliente.Razon_social" />
                    <label id="AlertaRazonSocial" class="lbl_error"><i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 10px; font-size: 15px;"></i>La Razon Social ya ha sido registrado en el sistema. Por favor elija otro.</label>
                </div>
                <div class="span2">
                    <label class="label_form1" style="display: inline;">RFC: </label>
                    <input type="text" id="RFC" name="RFC" placeholder="R.F.C." value="@cliente.RFC" />
                    <label id="AlertaRFC" class="lbl_error"><i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 10px; font-size: 15px;"></i>EL RFC ya ha sido registrado en el sistema. Por favor elija otro.</label>
                </div>
                <div class="span2">
                    <label class="label_form1">Correo Electronico: </label>
                    <input type="text" id="correo" name="correo" class="campo_obligatorio" placeholder="Correo Electronico: (Obligatorio)" value="@cliente.correo" />
                    <label id="AlertaCorreo" class="lbl_error"><i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 10px; font-size: 15px;"></i>El correo ya ha sido registrado en el sistema. Por favor elija otro.</label>
                </div>
                <div class="span2" style="">
                    <label class="label_form1">Contraseña: </label>
                    <input type="password" id="contrasena" name="contrasena" class="campo_obligatorio" placeholder="Contraseña (Obligatorio)" value="@cliente.contrasena" />
                    <label id="AlertaPassword" class=" lbl_error"><i class="fa fa-exclamation-circle" aria-hidden="true" style="margin-right: 10px; font-size: 15px;"></i>Verifique su contraseña. Mínimo 8 caracteres. Debe contener Mayúsculas, minúsculas y números. Se recomienda incluir algún carácter especial.</label>
                </div>
                <div class="span2">
                    <label class="label_form1">Teléfono: </label>
                    <input type="text" id="telefono" name="telefono" placeholder="Teléfono" value="@cliente.telefono" />
                </div>
            </div>
            <div class="borde_gris ">
                <div class="col-sm-12 container" style="margin: 15px; font-size: 20px;">
                    <i class="fa fa-home" aria-hidden="true" style="margin-right: 5px"></i>
                    Domicilio
                </div>
                <div class="container div_domicilio">
                    <div class="span2">
                        <label class="label_form1">Calle: </label>
                        <input type="text" id="calle" name="calle" placeholder="Calle" value="@cliente.calle"/>
                    </div>
                    <div class="span2">
                        <label class="label_form1">Exterior: </label>
                        <input type="text" id="exterior" name="exterior" placeholder="Exterior" value="@cliente.exterior"/>
                    </div>
                    <div class="span2">
                        <label class="label_form1">Interior: </label>
                        <input type="text" id="interior" name="interior" placeholder="Interior" value="@cliente.interior"/>

                    </div>
                    <div class="span2">
                        <label class="label_form1">Colonia: </label>
                        <input type="text" id="colonia" name="colonia" placeholder="Colonia" value="@cliente.colonia"/>

                    </div>
                    <div class="span2">
                        <label class="label_form1">Municipio: </label>
                        <input type="text" id="municipio" name="municipio" placeholder="Municipio" value="@cliente.municipio"/>

                    </div>
                    <div class="span2">
                        <label class="label_form1">Estado: </label>
                        <input type="text" id="estado" name="estado" placeholder="Estado" value="@cliente.estado"/>

                    </div>
                    <div class="span2">
                        <label class="label_form1">Código postal: </label>
                        <input type="text" id="cp" name="cp" placeholder="Codigo postal" value="@cliente.cp"/>
                    </div>
                </div>
            </div>
            <div class="borde_gris">
                <div class="col-sm-12 container" style="margin: 15px; font-size: 20px;">
                    <div class="span2">
                        <div class="span2">
                            <i class="fa fa-truck" aria-hidden="true" style="margin-right: 5px"></i>
                            Domicilio de embarque
                        </div>
                        <div class="span2" style="text-align: right">
                            <div style="/*border: 1px solid #ABABAB; */">
                                <div style="margin-right: 15px;">
                                    <label style="font-size: 15px; color: #4A4A4A;">
                                        Mismo domicilio
                                    </label>
                                    <input type="text" id="domicilio_embarque_igual" value="@cliente.domicilio_embarque_igual" style="display: none;" />
                                    <input type="checkbox" class="switch-activo" style="margin: 5px" id="check_domicilio_embarque_igual" value="@cliente.domicilio_embarque_igual" @(cliente.domicilio_embarque_igual == 1 ? "checked=\"checked\"" : "")  />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container div_domicilio_embarque">
                    <div class="span2">
                        <label class="label_form1">Calle embarque: </label>
                        <input type="text" id="calle_embarque" name="calle_embarque" placeholder="Exterior" value="@cliente.calle_embarque"/>
                    </div>
                    <div class="span2">
                        <label class="label_form1">Exterior embarque: </label>
                        <input type="text" id="exterior_embarque" name="exterior_embarque" placeholder="Exterior" value="@cliente.exterior_embarque"/>
                    </div>
                    <div class="span2">
                        <label class="label_form1">Interior embarque: </label>
                        <input type="text" id="interior_embarque" name="interior_embarque" placeholder="Interior" value="@cliente.interior_embarque"/>
                    </div>
                    <div class="span2">
                        <label class="label_form1">Colonia embarque: </label>
                        <input type="text" id="colonia_embarque" name="colonia_embarque" placeholder="Colonia" value="@cliente.colonia_embarque" />
                    </div>
                    <div class="span2">
                        <label class="label_form1">Municipio embarque: </label>
                        <input type="text" id="municipio_embarque" name="municipio_embarque" placeholder="Municipio" value="@cliente.municipio_embarque"/>
                    </div>
                    <div class="span2">
                        <label class="label_form1">Estado embarque: </label>
                        <input type="text" id="estado_embarque" name="estado_embarque" placeholder="Estado" value="@cliente.estado_embarque"/>
                    </div>
                    <div class="span2">
                        <label class="label_form1">Código postal embarque: </label>
                        <input type="text" id="cp_embarque" name="cp_embarque" placeholder="Codigo Postal" value="@cliente.cp_embarque"/>
                    </div>
                </div>
                <div class="container">
                    <div id="AlertaFormulario" class="span2" style="display: none">
                        <label class="lbl_error" style="display: block"><i class="fa fa-exclamation-circle fa-lg" aria-hidden="true" style="margin-right: 10px; font-size: 15px;"></i>Por favor llene los campos todos los campos obligatorios.</label>
                    </div>
                </div>
                <div class="container">
                    <div class="span2">
                        <div id="alerta_ok" class="centrado w100 btn_ok_borde" style="display: none"><i class="fa fa-check-circle-o fa-2x" aria-hidden="true" style="margin-right: 5px"></i>Cambios guardados correctamente </div>
                        <div id="alerta_error" class="centrado w100 btn_cancel_borde" style="display: none"><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="margin-right: 5px"></i>Error al guardar cambios. Inténtelo de nuevo más tarde</div>
                        <label id="BotonAgregarCliente" class="btn_ok" style="width: 100%; text-align: center;">Guardar Cambios</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var seguir = true;
        var contraseniaSegura = true;
        var isChecked = false;
        $(document).on('click', '#BotonAgregarCliente', function () {
            $('#AgregarCliente').trigger('click');
        });
        $(document).ready(function () {
            revisarMismoDomicilioYCopiar();
            //////////////////////Switchery
            var elems = Array.prototype.slice.call(document.querySelectorAll('.switch-activo'));
            elems.forEach(function (html) {
                var switchery = new Switchery(html, { size: 'small', secondaryColor: 'rgb(245, 130, 130)' });
            });
            //////////////////////Switchery
            //revisarMismoDomicilioYCopiar();
            $('#BotonAgregarCliente').click(function () {
                seguir = true;
                camposCompletos = true;
                $('.campo_obligatorio').each(function () {
                    if ($(this).val() == "" || $(this).val() == null || $(this).val() == undefined) {
                        seguir = false;
                    }
                });
                if (!seguir) {
                    $('#AlertaFormulario').show();
                } else {
                    $('#AlertaFormulario').hide();
                }
                VerificarContrasena();
                VerificarCorreo();
                VerificarRazonSocial();
                VerificarRFC();
                if (seguir) {
                    var Cliente = [];
                    Cliente.push({
                        id: @cliente.id,
                        id_estatus_cliente: @cliente.id_estatus_cliente,
                        correo: $('#correo').val(),
                        contrasena: $('#contrasena').val(),
                        Razon_social: $('#Razon_social').val(),
                        RFC: $('#RFC').val(),
                        TipoCliente_id: @cliente.TipoCliente_id,
                        Limite_credito: parseFloat("@cliente.Limite_credito"),
                        Adeudo_credito: parseFloat("@cliente.Adeudo_credito"),
                        dias_credito: @cliente.dias_credito,
                        calle: $('#calle').val(),
                        exterior: $('#exterior').val(),
                        interior: $('#interior').val(),
                        colonia: $('#colonia').val(),
                        municipio: $('#municipio').val(),
                        estado: $('#estado').val(),
                        cp: $('#cp').val(),
                        telefono: $('#telefono').val(),
                        calle_embarque: $('#calle_embarque').val(),
                        exterior_embarque: $('#exterior_embarque').val(),
                        interior_embarque: $('#interior_embarque').val(),
                        colonia_embarque: $('#colonia_embarque').val(),
                        municipio_embarque: $('#municipio_embarque').val(),
                        estado_embarque: $('#estado_embarque').val(),
                        cp_embarque: $('#cp_embarque').val(),
                        domicilio_embarque_igual: $('#domicilio_embarque_igual').val()
                    });
                    var params = {
                        'cliente': Cliente[0]
                    };
                    var url = '@Url.Action("EditarCuenta")';
                    var id_cliente;
                    $.ajax({
                        url: url,
                        type: "POST",
                        dataType: 'JSON',
                        contentType: 'application/json;',
                        data: JSON.stringify(params),
                        success: function (result) {
                            if (result.success) {
                                $('#BotonAgregarCliente').slideUp();
                                $("#alerta_ok").slideDown('slow').delay(1500).slideUp('slow');
                                $('#BotonAgregarCliente').delay(1550).slideDown('slow');
                            }
                            else {
                                $('#BotonAgregarCliente').slideUp();
                                $("#alerta_error").slideDown('slow').delay(1500).slideUp('slow');
                                $('#BotonAgregarCliente').delay(1550).slideDown('slow');
                            }
                        },
                        async: "false"
                    });
                }
            });

        });
        $(document).on('change', '#check_domicilio_embarque_igual', function () {
            if ($('#check_domicilio_embarque_igual').is(':checked')) {
                $('#domicilio_embarque_igual').val("1");
            } else {
                $('#domicilio_embarque_igual').val("2");
            }
            revisarMismoDomicilioYCopiar();
        });
        $(document).on('keyup', '#Razon_social', function () {
            VerificarRazonSocial();
        });
        $(document).on('change', '#Razon_social', function () {
            VerificarRazonSocial();
        });
        $(document).on('keyup', '#RFC', function () {
            VerificarRFC();
        });
        $(document).on('change', '#RFC', function () {
            VerificarRFC();
        });
        $(document).on('keyup', '#correo', function () {
            VerificarCorreo();
        });
        $(document).on('change', '#correo', function () {
            VerificarCorreo();
        });
        $(document).on('change', '#contrasena', function () {
            VerificarContrasena();
        });
        $(document).on('keyup', '#contrasena', function () {
            VerificarContrasena();
        });
        function VerificarRazonSocial() {
            var url = '@Url.Action("VerificarRazonSocial")';
            $.ajax({
                url: url,
                data: { id: @cliente.id, Razon_social: $('#Razon_social').val() },
                type: "POST",
                async: false,
                success: function (existe) {
                    if (existe == "True") {
                        $("#AlertaRazonSocial").show();
                        seguir = false;
                    } else {
                        $("#AlertaRazonSocial").hide();
                    }
                }
            });
        }
        function VerificarRFC() {
            var url = '@Url.Action("VerificarRFC")';
            $.ajax({
                url: url,
                data: { id: @cliente.id, RFC: $('#RFC').val() },
            type: "POST",
            async: false,
            success: function (existe) {
                if (existe == "True") {
                    $("#AlertaRFC").show();
                    seguir = false;
                } else {
                    $("#AlertaRFC").hide();
                }
            }
        });
    }
    function VerificarCorreo() {
        var url = '@Url.Action("VerificarCorreo")';
        $.ajax({
            url: url,
            data: { id: @cliente.id, correo: $('#correo').val() },
            type: "POST",
            async: false,
            success: function (existe) {
                if (existe == "True") {
                    $("#AlertaCorreo").show();
                    seguir = false;
                } else {
                    $("#AlertaCorreo").hide();
                }
            }
        });
    }
    function VerificarContrasena() {
        contraseniaSegura = true;
        // set password variable
        var pswd = $('#contrasena').val();
        //validate the length
        if (pswd.length < 8) {
            contraseniaSegura = false;
        }
            //validate letter
        else if (!(pswd.match(/[A-z]/))) {
            contraseniaSegura = false;
        }
            //validate capital letter
        else if (!(pswd.match(/[A-Z]/))) {
            contraseniaSegura = false;
        }
            //validate number
        else if (!(pswd.match(/\d/))) {
            contraseniaSegura = false;
        }
        if (!contraseniaSegura) {
            $('#AlertaPassword').show();
            seguir = false;
        }
        else {
            $('#AlertaPassword').hide();
        }
    }
    function revisarMismoDomicilioYCopiar() {
        isChecked = $('#check_domicilio_embarque_igual').prop('checked');
        if (isChecked) {
            copiarCampos();
        }
        else {
            borrarCampos();
        }
    }
    function copiarCampos() {
        $(".div_domicilio_embarque").slideUp("slow");
        $('#calle_embarque').val($('#calle').val()).attr("readonly", "readonly");
        $('#exterior_embarque').val($('#exterior').val()).attr("readonly", "readonly");
        $('#interior_embarque').val($('#interior').val()).attr("readonly", "readonly");
        $('#colonia_embarque').val($('#colonia').val()).attr("readonly", "readonly");
        $('#municipio_embarque').val($('#municipio').val()).attr("readonly", "readonly");
        $('#estado_embarque').val($('#estado').val()).attr("readonly", "readonly");
        $('#cp_embarque').val($('#cp').val()).attr("readonly", "readonly");
    }
    function borrarCampos() {
        $(".div_domicilio_embarque").slideDown("slow");
        $('#calle_embarque').val("").removeAttr("readonly");
        $('#exterior_embarque').val("").removeAttr("readonly");
        $('#interior_embarque').val("").removeAttr("readonly");
        $('#colonia_embarque').val("").removeAttr("readonly");
        $('#municipio_embarque').val("").removeAttr("readonly");
        $('#estado_embarque').val("").removeAttr("readonly");
        $('#cp_embarque').val("").removeAttr("readonly");
    }
    $(document).on('change', '#calle', function () {
        if (isChecked) {
            $('#calle_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#exterior', function () {
        if (isChecked) {
            $('#exterior_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#interior', function () {
        if (isChecked) {
            $('#interior_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#colonia', function () {
        if (isChecked) {
            $('#colonia_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#municipio', function () {
        if (isChecked) {
            $('#municipio_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#estado', function () {
        if (isChecked) {
            $('#estado_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#cp', function () {
        if (isChecked) {
            $('#cp_embarque').val($(this).val());
        }
    });
    </script>

    <script>
        $(".canvas_img").click(function () {
            $("#imagen").click();
        });
        $("#imagen").change(function () {
            $("#div_progress").slideDown();
            var myFile = document.getElementById("imagen").files[0];
            var id = "@cliente.id";//$("#id").val();
            upload_file(myFile, id);
        });
        function upload_file(file, idCliente) {
            //ocultar mensaje de OK
            $("#div_cargado").hide();
            xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", function (evt) {
                if (evt.lengthComputable) {
                    //update the progress bar
                    _porcent = (evt.loaded / evt.total) * 100;
                    $("#progress-bar").css({
                        width: _porcent + "%"
                    });
                    $(".progressbar-green .progressbar-inner").css({
                        width: _porcent + "%"
                    });
                    $("#porcentaje_img").text(parseInt(_porcent) + "%");
                    if (_porcent == 100) {
                        //d = new Date();
                        //src_img = "url(" + "@Url.Content("~/UploadFolder/imagen_cliente/")" + idCliente + "-" + file.name.replace(" ", "") + "?" + d.getTime() + ")";
                        //mostrar mensaje de OK
                        $("#div_cargado").slideDown();
                        $(".canvas_img .img").css('filter', "");
                        $(".canvas_img .img").css('opacity', "");
                        //cargar imagen actual
                        src_img = "url('" + "@Url.Content("~/UploadFolder/imagen_cliente/")" + idCliente + "-" + file.name + "')";
                        $(".canvas_img .img").css('background-image', src_img);
                    }
                }
            }, false);
            xhr.open("post", '@Url.Action("UploadFile_IMG", new { idCliente = "_id_" })'.replace('_id_', idCliente), true);
            xhr.setRequestHeader("Content-Type", "multipart/form-data");
            xhr.setRequestHeader("X-File-Name", file.name);
            xhr.setRequestHeader("X-File-Size", file.size);
            xhr.setRequestHeader("X-File-Type", file.type);
            // Send the file
            xhr.send(file);
        }
    </script>
}
else
{
    <div class="container formulario_2">
        <div class="col-sm12" style="margin-bottom: 30px;">
            <div class="signup-form">
                <h2 class="text-center" style="margin: 30px 0 auto; padding-bottom: 40px; padding-top: 40px !important; font-size: 35px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2">Editar cuenta</h2>
            </div>
            <div class="container" style="width: 100%; margin: 0; padding: 0; position: relative">
                <div class="col-sm-12 container">
                    <div class="col-lg-3 col-lg-offset-9 col-md-4 col-sm-6 col-xs-12 ">
                        <a href="@Url.Action("aviso", "Home")">
                            <label class="botonBordeVerde" style="margin-top: 20px; line-height: 25px"><i class="fa fa-eye" aria-hidden="true" style="margin-right: 5px; font-size: 25px;"></i>Ver aviso de privacidad</label></a>
                    </div>
                </div>
            </div>
            <div class="borde_gris container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="centrado w100 btn_cancel_borde" style="height: auto;"><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="margin-right: 5px"></i>SOLAMENTE PUEDES EDITAR TU USUARIO ACTIVO</div>
                </div>
            </div>
        </div>
    </div>
}