﻿@model Tienda_Online.Models.LogOnModel
@{
    Layout = null;
}

@{
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootstrap.min.css")" />
    <link type='text/css' rel='stylesheet' href="@Url.Content("~/css/font-awesome.min.css")" />
    <link type='text/css' rel='stylesheet' href="@Url.Content("~/css/prettyPhoto.css")" />
    <link type='text/css' rel='stylesheet' href="@Url.Content("~/css/price-range.css")" />
    <link type='text/css' rel='stylesheet' href="@Url.Content("~/css/animate.css")">
    <link type='text/css' rel='stylesheet' href="@Url.Content("~/css/main.css")">
    <link type='text/css' rel='stylesheet' href="@Url.Content("~/css/responsive.css")">
    <link type='text/css' rel='stylesheet' href="@Url.Content("~/css/etalage.css")">
    <link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootbox.min.css")">
    <script type='text/javascript' src="@Url.Content("~/js/jquery.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="@Url.Content("~/js/html5shiv.js")"></script>
    <script src="@Url.Content("~/js/respond.min.js")"></script>
    <![endif]-->
    <style>
        .btn_ok {
            cursor: pointer;
            padding: 10px;
            height: 40px;
            background: @configuracion_tienda_online.color_primario;
            border-radius: 4px;
            font-size: 14px;
            color: #FFFFFF;
            width: 100%;
            font-family: inherit;
            text-align: center;
        }

            .btn_ok:hover {
                background-color: @configuracion_tienda_online.color_secundario;
            }
    </style>
</head>
<body style="font-family: 'Montserrat', sans-serif;">
    @using (Html.BeginForm("LogOn", "Cuenta", FormMethod.Post, new { id = "formulario" }))
    {
        <div class=" formulario_2 col-lg-6 col-lg-offset-3  col-md-6 col-md-offset-3  col-sm-12 col-xs-12" style="margin-top: 60px">
            <div class=" col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/UploadFolder/logo/" + configuracion_general.logo)" style="width:100%"/></a>
            </div>
            <div class=" col-lg-12  col-md-12  col-sm-12 col-xs-12 nopadnomar">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="label_form1">Email: </label>
                    <input type="text" id="UserName" name="UserName" value="@(Model != null ? Model.UserName : "")" class="" placeholder="Email" />
                </div>
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="label_form1" style="display: inline;">Contraseña: </label>
                    <input type="password" id="password" name="password" value="@(Model != null ? Model.Password : "")" class="campo_obligatorio" placeholder="Contraseña" />
                </div>
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="AlertaFormulario" class="alerta_formulario borde_rojo" style="">
                        <div>
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            <label>Por favor llene los campos todos los campos obligatorios..</label>
                        </div>
                    </div>
                    @if (ViewBag.error != null)
                    {
                        <div id="AlertaEnvio" class="alerta_formulario borde_rojo" style="display: block">
                            <div>
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                <label>@ViewBag.error</label>
                            </div>
                        </div>
                    }
                    <div id="AlertaOK" class="alerta_formulario borde_verde" style="">
                        <div>
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            <label>Formulario enviado correctamente.</label>
                        </div>
                    </div>
                    <div id="AlertaEnviando" class="alerta_formulario borde_verde" style="">
                        <div>
                            <img src="../../images/loading.gif" />
                            <label>Enviando.</label>
                        </div>
                    </div>
                    <div>
                        <label id="btn_submit" class="btn_ok" style="width: 100%; text-align: center;">Entrar</label>
                    </div>
                </div>
            </div>
        </div>

    }
    <script type='text/javascript' src="@Url.Content("~/js/jquery.scrollUp.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/jquery.prettyPhoto.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/price-range.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/main.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/jquery.etalage.min.js")"></script>
    <script type='text/javascript' src="@Url.Content("~/js/bootbox.min.js")"></script>
</body>
</html>
<script>
    $("#UserName").focus();

    $('#UserName').on('keypress', function (e) {
        if (e.which === 13) {
            $("#formulario").submit();
        }
    });
    $('#password').on('keypress', function (e) {
        if (e.which === 13) {
            $("#formulario").submit();
        }
    });

    $("#btn_submit").click(function () {
        $("#formulario").submit();
    });
</script>
