﻿@{
    ViewBag.Title = "Resumen De Cuenta";
}

@{
    Tienda_Online.Models.cliente cliente = ViewBag.cliente as Tienda_Online.Models.cliente;
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();

}

<meta name="description" content='@("Mi Cuenta " + configuracion_general.marca + ".!")' />

<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/tabs.css")">

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2 class="text-center" style="padding-bottom: 40px !important; padding-top: 40px !important; font-size: 35px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2;margin-top: 20px;margin-bottom:5px !important;">Mi Cuenta</h2>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right">
    <label style="margin-bottom:0px;">
        <img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; margin:0px 10px;' />Dólar: $
        <label>@ViewBag.tipoCambiario MXN</label>
    </label>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-4  col-sm-12 col-xs-12" style="color: #4a4a4a; border: 1px solid lightgray; border-radius: 10px; padding-top: 20px; padding-bottom: 20px;">
        <div class="canvas_img" style="height: 200px;">
            <div>
                @if (cliente.imagen != null)
                {
                    if (cliente.imagen != "")
                    {
                        if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_cliente/" + cliente.imagen))))
                        {
                            <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_cliente/" + cliente.imagen) + "');margin:0;width:auto;background-color: transparent;")"></div>
                        }
                        //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                        else
                        {
                            <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/images/usuario.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                        }
                    }
                    //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                    else
                    {
                        <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/images/usuario.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                    }
                }
                else
                {
                    <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/images/usuario.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                }
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right; padding-left: 0px; padding-right: 0px; padding-top:10px;">
            <label class="btn_editar_cliente boton_punteado_gris">EDITAR<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" style="margin-left: 5px"></i></label>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; background-color: #f4f2f2; margin: 0px; padding-left: 0px; padding-right: 0px;">
                <label style="padding: 10px 10px 10px 10px; margin-bottom: 0px;">@cliente.Razon_social.ToUpper()</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                    <label style="font-size:13px; margin-right:10px;">ID CLIENTE</label>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                    <label style="font-size:13px; font-weight:normal;">@Tienda_Online.Fn.Numeros.agregarCeros(cliente.id)</label>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                <div class="col-lg-4 col-md-12  col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                    <label style="font-size:13px; margin-right:10px;">RFC</label>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                    @if (cliente.RFC != null)
                    {
                        <label style="font-size:13px; font-weight:normal;">@cliente.RFC.ToUpper()</label>
                    }
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                    <label style="font-size:13px; margin-right:10px;">DÍAS DE CRÉDITO</label>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                    <label style="font-size:13px; font-weight:normal;">@cliente.dias_credito</label>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                    <label style="font-size:13px; margin-right:10px;">LÍMITE DE CRÉDITO</label>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                    @if (cliente.Limite_credito != null)
                    {
                        <label style="font-size:13px; font-weight:normal;">@Math.Round(cliente.Limite_credito.Value, 2)</label>
                    }
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                    <label style="font-size:13px; margin-right:10px;">ADEUDO</label>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                    @if (cliente.Adeudo_credito != null)
                    {
                        <label style="font-size:13px; font-weight:normal;">@Math.Round(cliente.Adeudo_credito.Value, 2)</label>
                    }
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                    <label style="font-size:13px; margin-right:10px;">CORREO</label>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                    <label style="font-size:13px; font-weight:normal;">@cliente.correo</label>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                    <label style="font-size:13px; margin-right:10px;">TELÉFONO</label>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                    <label style="font-size:13px; font-weight:normal;">@cliente.telefono</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 formato_xs_sm">
        <div id="tabsResumenCuenta">
            <input class="titulo_menu" id="informacion_usuario" type="radio" name="tabs" checked>
            <label class="titulo_menu" for="informacion_usuario"><i class="fa fa-user fa-lg" aria-hidden="true" style="margin-right: 10px;"></i>Información</label>
            <input class="titulo_menu" id="historial_cotizaciones" type="radio" name="tabs">
            <label class="titulo_menu" for="historial_cotizaciones"><i class="fa fa-file-text-o fa-lg" aria-hidden="true" style="margin-right: 10px;"></i>Cotizaciones</label>
            <input class="titulo_menu" id="historial_compras" type="radio" name="tabs">
            <label class="titulo_menu" for="historial_compras"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true" style="margin-right: 10px;"></i>Compras</label>
            <section id="seccion_informacion_usuario" class="section">
                <div id="seccion_informacion" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_xs_sm display_xs_sm" style="text-align: center; background-color: #00b73e; color: white; font-weight: bold; font-size: 20px; padding-top: 10px; padding-bottom: 10px !important; border-radius: 5px; display:none;">
                    INFORMACION
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding_xs_sm margin_top_xs_sm informacion">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; background-color: #f4f2f2;">
                        <label style="padding: 10px 10px 10px 10px; margin-bottom: 0px;">DIRECCIÓN</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">CALLE</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.calle</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">INTERIOR</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.interior</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">EXTERIOR</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.exterior</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">COLONIA</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.colonia</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">CP</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.cp</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">MUNICIPIO</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.municipio</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">ESTADO</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.estado</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding_xs_sm margin_top_xs_sm informacion">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; background-color: #f4f2f2;">
                        <label style="padding: 10px 10px 10px 10px; margin-bottom: 0px;">DIRECCIÓN EMBARQUE</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">CALLE</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.calle_embarque</label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                                <label style="font-size:13px; margin-right:10px;">INTERIOR</label>
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                                <label style="font-size:13px; font-weight:normal;">@cliente.interior_embarque</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">EXTERIOR</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.exterior_embarque</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">COLONIA</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.colonia_embarque</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">CP</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.cp_embarque</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">MUNICIPIO</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.municipio_embarque</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio" style="text-align:right;">
                            <label style="font-size:13px; margin-right:10px;">ESTADO</label>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 nopadnomar align-center-sm-sx-obligatorio">
                            <label style="font-size:13px; font-weight:normal;">@cliente.estado_embarque</label>
                        </div>
                    </div>
                </div>
            </section>
            <section id="seccion_historial_cotizaciones" class="section">
                <div id="seccion_cotizaciones" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_xs_sm display_xs_sm" style="text-align: center; background-color: #00b73e; color: white; font-weight: bold; font-size: 20px; padding-top: 10px; padding-bottom: 10px !important; border-radius: 5px; margin-bottom:20px; margin-top: 20px; display:none;">
                    COTIZACIONES
                </div>
                <div id="DivTablaHistorialCotizaciones" style="text-align:center;">
                </div>
            </section>
            <section id="seccion_historial_compras" class="section">
                <div id="seccion_compras" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_xs_sm display_xs_sm" style="text-align: center; background-color: #00b73e; color: white; font-weight: bold; font-size: 20px; padding-top: 10px; padding-bottom: 10px !important; border-radius: 5px; display:none;">
                    COMPRAS
                </div>
                <div id="CuerpoTablaHistorialCompras" style="text-align:center;">
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '#seccion_informacion', function () {
        $('.div_loading').remove();
        $('#TablaCotizaciones').remove();
        $('#TablaCompras').remove();
        $('#seccion_informacion').css('margin-bottom', '0px');
        $('#seccion_informacion').css('margin-top', '0px');
        $('#seccion_cotizaciones').css('margin-bottom', '0px');
        $('#seccion_cotizaciones').css('margin-top', '0px');
        $('#seccion_compras').css('margin-bottom', '0px');
        $('#seccion_compras').css('margin-top', '0px');
        $('.informacion').show();
        $('#seccion_cotizaciones').css('margin-bottom', '20px');
        $('#seccion_cotizaciones').css('margin-top', '20px');
    });
    $(document).on('click', '#seccion_cotizaciones', function () {
        $('.div_loading').remove();
        $('#TablaCotizaciones').remove();
        $('#TablaCompras').remove();
        $('.informacion').hide();
        $('#seccion_informacion').css('margin-bottom', '0px');
        $('#seccion_informacion').css('margin-top', '0px');
        $('#seccion_cotizaciones').css('margin-bottom', '0px');
        $('#seccion_cotizaciones').css('margin-top', '0px');
        $('#seccion_compras').css('margin-bottom', '0px');
        $('#seccion_compras').css('margin-top', '0px');
        VistaParcialHistorialCotizaciones();
        $('#seccion_informacion').css('margin-bottom', '20px');
        $('#seccion_compras').css('margin-top', '20px');
    });
    $(document).on('click', '#seccion_compras', function () {
        $('.div_loading').remove();
        $('#TablaCotizaciones').remove();
        $('#TablaCompras').remove();
        $('.informacion').hide();
        $('#seccion_informacion').css('margin-bottom', '0px');
        $('#seccion_informacion').css('margin-top', '0px');
        $('#seccion_cotizaciones').css('margin-bottom', '0px');
        $('#seccion_cotizaciones').css('margin-top', '0px');
        $('#seccion_compras').css('margin-bottom', '0px');
        $('#seccion_compras').css('margin-top', '0px');
        VistaParcialHistorialCompras();
        $('#seccion_informacion').css('margin-bottom', '20px');
        $('#seccion_compras').css('margin-top', '20px');
    });
    $("input:radio[name=tabs]:first").attr('checked', true);
    $("label[for='informacion_usuario']").trigger("click");
    $(".btn_editar_cliente").click(function(){
        url="@Url.Action("EditarCuenta", "Cuenta", new { id = cliente.id })";
        window.location=url;
    });
    $(document).on('click', '#historial_cotizaciones', function () {
        VistaParcialHistorialCotizaciones();
    });
    function VistaParcialHistorialCotizaciones()
    {
        $('#DivTablaHistorialCotizaciones').html("<label class='div_loading'><img src='@Url.Content("~/images/loading_horizontal.gif")' style='height:10px;margin-right:10px' />Cargando...</label>");
        var url = '@Url.Action("VistaParcialHistorialCotizaciones")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_cliente: @cliente.id },
            success: function (Vista) {
                $('.div_loading').remove();
                $('#DivTablaHistorialCotizaciones').html(Vista);
            },
            async: true
        });
    }
    $(document).on('click', '#historial_compras', function () {
        VistaParcialHistorialCompras();
    });
    function VistaParcialHistorialCompras()
    {
        $('#CuerpoTablaHistorialCompras').html("<label class='div_loading'><img src='@Url.Content("~/images/loading_horizontal.gif")' style='height:10px;margin-right:10px' />Cargando...</label>");
        var url = '@Url.Action("VistaParcialHistorialCompras")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_cliente: "@cliente.id" },
            success: function (Vista) {
                $('.div_loading').remove();
                $('#CuerpoTablaHistorialCompras').html(Vista);
            },
            async: true
        });
    }
    $(document).on('click', '.btn_ver_archivo', function () {
        FileName = $(this).attr("FileName");
        //existe el documento??
        url = '@Url.Action("ExisteDocumento", "Cuenta")';
        $.ajax({
            type: "POST",
            url: url,
            data: { FileName: FileName,carpeta:"UploadFolder/adjuntos_cliente_compra"},
            success: function (result) {
                if (result.success) {
                    url = '@Url.Action("descargarDocumento", "Cuenta")';
                    url += "?carpeta=UploadFolder/adjuntos_cliente_compra&FileName=" + FileName;
                    window.location = url;
                }
                else {
                    alert("Archivo no encontrado");
                }
            },
            async:false
        });
    });
    //********************************
    //POPUP MENÚ ACCIONES COTIZACIÓN
    $(document).on('click', '.btn_confirmar', function(){
        var id_cotizacion = $(this).attr('id_cotizacion');
        modalConfirmarCotizacion(id_cotizacion);
    });
    function modalConfirmarCotizacion(id_cotizacion)
    {
        $(".modal").modal("hide");
        var url = '@Url.Action("ModalConfirmarCotizacion")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_cotizacion: id_cotizacion},
            success: function (Modal) {
                bootbox.dialog({
                    title: "Confirmar Compra",
                    message: Modal,
                    className: "ModalConfirmarCotizacion ModalHeaderVerde Modal_responsiva ModalConfirmarCotizacion"
                });
            },
            async: false
        });
    }
    $(document).on('click', '.enviar_a_carrito', function(){
        var id_cotizacion = $(this).attr('id_cotizacion');
        Modal_Enviar_a_carrito(id_cotizacion);
    });
    function Modal_Enviar_a_carrito(id_cotizacion) {
        $('.modal').modal('hide');
        var url = '@Url.Action("ModalenviarCotizacionACarrito", "Carrito")';
        $.post(url, { id_cotizacion: id_cotizacion },
            function (x) {
                bootbox.dialog({
                    title: "Agregar cotización a carrito",
                    message: x,
                    className: "ModalAutoHeight ModalHeaderVerde Modal_responsiva ModalenviarCotizacionACarrito" 
                });
            });
    }
    function Modal_Eliminar_cotizacion(id_cotizacion)
    {
        $('.modal').modal('hide');
        var url = '@Url.Action("ModalEliminarCotización")';
        $.post(url, { id_cotizacion: id_cotizacion },
            function (x) {
                bootbox.dialog({
                    title: "Eliminar cotización",
                    message: x,
                    className: "ModalAutoHeight ModalHeaderVerde Modal_responsiva ModalEliminarCotización"
                });
            });
    }
    //********************************
    //POPUP MENÚ ACCIONES COTIZACIÓN
    $(document).on('click', '.eliminar_cotizacion', function(){
        var _this=$(this)
        var id_cotizacion = _this.attr('id_cotizacion');
        var url="@Url.Action("eliminarCotizacion", "Cuenta")"
        $.ajax({
            url: url,
            type: "POST",
            data: { id_cotizacion: id_cotizacion },
            success: function (respuesta) {
                if (respuesta)
                {
                    _this.slideUp('slow');
                    $("#alert_OK_eliminar_cotizacion").slideDown('slow');
                    VistaParcialHistorialCotizaciones();
                }
                else {
                    $("#alert_OK_eliminar_cotizacion").slideUp('slow');
                    _this.slideDown('slow');
                    alert("error al eliminar cotización");
                }
            },
            async: false
        });
    });
    function ProcedimientoSubirAdjuntosCotizacion(filelist, id) {
        if (typeof filelist !== "undefined") {
            for (var i = 0, l = filelist.length; i < l; i++) {
                SubirAdjuntoCotizacion(filelist[i], id);
            }
        }
    }
    $(document).on('click', '.eliminarOrden', function () {
        var tr = $(this).closest("tr");
        var fileName = tr.attr("FileName");
        eliminarArchivo(fileName, tr);
        var id_cotizacion = tr.attr("id_cotizacion");
        traerArchivosOrdenCompra(id_cotizacion);
        archivosAnexadosCount(id_cotizacion);
    });
    function archivosAnexadosCount(id_cotizacion) {
        var url="@Url.Action("archivosAnexadosCount", "Cuenta")"
        $.ajax({
            url: url,
            type: "POST",
            data: { id_cotizacion: id_cotizacion },
            success: function (respuesta) {
                if (respuesta.count >= 3)
                {
                    $("#div_agregar_archivo").slideUp('slow');
                }
                else {
                    $("#div_agregar_archivo").slideDown('slow');
                }
            },
            async: false
        });
    }
    function traerArchivosOrdenCompra(id_cotizacion) {
        $('#div_archivos_ordenes_compra').html("<label>Cargando...</label>");
        var url = '@Url.Action("TraerARchivosOrdenesCompra")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_cotizacion:id_cotizacion },
            success: function (Vista) {
                $('#div_archivos_ordenes_compra').html(Vista);
            },
            async: false
        });
    }
    function eliminarArchivo(fileName, tr)
    {
        var url = '@Url.Action("eliminarArchivo")';
        $.ajax({
            url: url,
            type: "POST",
            dataType: 'JSON',
            data: { fileName: fileName, carpeta: "UploadFolder/adjuntos_cliente_compra" },
            success: function (result) {
                if (result.success) {
                    tr.remove();
                }
                else {
                }
            },
            async:false
        });
    }
    $(document).on('click', '.btn_mostrar_adjunto_venta_pdf', function () {
        var nodo = $(this).attr("name");
        var url = '@Url.Action("VistaParcialMostrarAdjunto")';
        $.post(url, { id: nodo },
            function (x) {
                bootbox.dialog({
                    title: "Adjuntos",
                    message: x,
                    className: "ModalAdjuntos"
                });
            });
    });
    $(document).on('click', '#BotonCerrarModal', function () {
        $(".ModalAdjuntos").modal("hide");
    });
    $(document).on('click', '#limpiar_carrito_y_agregar', function () {
        var id_cotizacion = $(this).attr("id_cotizacion");
        //limpiar carrito actual
        var url = '@Url.Action("LimpiarCarrito", "Carrito")';
        $.post(url,
            function (resultado) {
                if(resultado){
                    //agregar productos de esta cotizacion a carrito
                    var url = '@Url.Action("agregarCotizacionACarrito", "Carrito")';
                    $.post(url,{id_cotizacion:id_cotizacion},
                        function (resultado) {
                            if(resultado){
                                $(".btn_enviar_cotizacion").slideUp();
                                $("#alert_OK_agregar_Cotizacion").show().slideDown('slow');
                                actualizarCantidadCarrito();
                            }
                            else {
                                alert("error al agregar cotización a carrito");
                            }
                        });
                }
                else {
                    alert("error al limpiar carrito");
                }
            });
    });
        $(document).on('click', '#agregar_cotizacion_carrito_actual', function () {
            var id_cotizacion = $(this).attr("id_cotizacion");
            //agregar productos de esta cotizacion a carrito
            var url = '@Url.Action("agregarCotizacionACarrito", "Carrito")';
            $.post(url,{id_cotizacion:id_cotizacion},
                function (resultado) {
                    if(resultado){
                        $(".btn_enviar_cotizacion").slideUp();
                        $("#alert_OK_agregar_Cotizacion").show().slideDown('slow');
                        actualizarCantidadCarrito();
                    }
                    else {
                        alert("error al agregar cotización a carrito");
                    }
                });
        });
        $(document).on('click', '.btn_mostrar_adjunto_venta_final_pdf', function () {
            var nodo = $(this).attr("name");
            var url = '@Url.Action("VistaParcialMostrarAdjunto")';
                $.post(url, { id: nodo },
                    function (x) {
                        bootbox.dialog({
                            title: "Adjuntos",
                            message: x,
                            className: "ModalAdjuntos"
                        });
                    });
            });
</script>
