﻿<div id="page-content">
    <h3 class="title-hero" style="font-size: 20px; text-align: center;">El registro se realizo exitosamente.</h3>
    <div class="example-box-wrapper">
        <table class="table" style="width: 100%; margin-bottom: 0px;">
            <tbody>
                <tr>
                    <td style="text-align: center; border: 0px;">Su peticion sera revisada por el administrador, y se le enviara un correo confirmando su registro.</td>
                </tr>
                <tr>
                    <td style="text-align: center; border: 0px;">Gracias.</td>
                </tr>
                <tr>
                    <td style="text-align: right; border: 0px;">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-success" style="background-color: #45901a;">
                            <span class="button-content">Cerrar</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalRegistroExitoso .modal-dialog').css('width', '50%');
        $('.ModalRegistroExitoso .modal-header').attr('style', 'background-color: #45901a; color: white; border-radius: 4px 4px 0px 0px;');
        $('#ImprimirPDFCotizacion').click(function () {
            window.location.href = '@Url.Action("GenerarPDFCotizacion","FormatoPDF", new { id_venta = ViewBag.id_venta })';
        });
    });
</script>