﻿@model Tienda_Online.Models.venta
@{
    List<Tienda_Online.Models.itemProductoCarrito> ListaCarrito = ViewBag.ListaCarrito as List<Tienda_Online.Models.itemProductoCarrito>;
    decimal TipoCambioActual = ViewBag.tipoCambiario;
    decimal TipoCambioAnterior = Model.precio_dolar_venta.Value;
    Decimal diffTipoCambio = TipoCambioActual - TipoCambioAnterior;
    string diffTipoCambioString = diffTipoCambio.ToString("#,##0.00");
}

<div id="page-content" style="color: #848484; font-size: 14px">
    @if (Request.IsAuthenticated)
    {
        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin: 50px 0px;">
            <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6" style="text-align: center">
                <div id="BotonConfirmarRecibido" data-dismiss="ModalConfirmarCotizacion" class="btn_ok_real" id_cotizacion="@ViewBag.id_cotizacion">
                    <i class="fa fa-download fa-2x" aria-hidden="true" style="margin-right: 5px"></i>Confirmar recibido
                </div>
            </div>
            <div class="col-lg-6 col-md-6  col-sm-6 col-xs-6" style="text-align: center">
                <div class="btn_cancel" onclick="$('.modal').modal('hide');">
                    <i class="fa fa-times-circle-o fa-2x" aria-hidden="true" style="margin-right: 5px"></i>Cerrar
                </div>
            </div>
        </div>
        List<string> ListaArchivos = (List<string>)ViewBag.ArchivosOrdenesCompra;
        
        
        <section id="cart_items">
            <div class="container">
                @foreach (Tienda_Online.Models.conceptos_por_venta conceptos_por_venta in Model.conceptos_por_venta.ToList())
                {
                    //string moneda = conceptos_por_venta.producto.precio_dolar.Value == 1 ? "USD" : "MXN";
                    <div class="ProductoCarrito" style="margin-top: 20px;width:100%;float: left;position: relative; border: 1px solid #d7d5d5; padding: 0px;margin-bottom: 0px; color: #4A4A4A" id_producto="@conceptos_por_venta.Producto_id">
                        <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12  col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 ">
                            <label style="margin-top: 35px;"> @conceptos_por_venta.producto.Codigo</label>
                        </div>
                        <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12 ">
                            <div class="canvas_img" style="height: 100px;">
                                <div>
                                    @if (conceptos_por_venta.producto.imagen.Count() != 0)
                                    {

                                        if (conceptos_por_venta.producto.imagen.First().nombre != "")
                                        {
                                            if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + conceptos_por_venta.producto.imagen.First().nombre))))
                                            {
                                        <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/" + conceptos_por_venta.producto.imagen.First().nombre) + "');margin:0;width:auto;background-color: transparent;")"></div> 
                                            }
                                            //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                            else
                                            {
                                        <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                            }
                                        }
                                        //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                        else
                                        {
                                        <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div style="width: 100%; float: left; position: relative; padding: 5px">
                                <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Nombre del producto y detalles</label>
                                </div>
                                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align: center;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Cantidad</label>
                                </div>
                            </div>
                            <div style="width: 100%; float: left; position: relative; padding: 5px">
                                <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <label>@conceptos_por_venta.producto.Descripcion</label>
                                </div>
                                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div style="text-align: center;">
                                        <div class="cart_quantity_button" id_producto="@conceptos_por_venta.Producto_id" style="display: inline-block;">
                                            <input class="cart_quantity_input form-control cantidad" type="text" value="@conceptos_por_venta.cantidad.ToString("#,##0")" autocomplete="off" style="width: 55px; border-radius: 0px;" disabled="disabled">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    }

</div>

<script type="text/javascript">
    $('.alerta_ok').hide();


    $(document).ready(function () {


        $('#BotonConfirmarRecibido').click(function () {
            //clearInterval(repearActualizaAnexados);
            _this = $(this);
            //if (pdfs != "" && pdfs != null && pdfs != undefined) {
            var url = "@Url.Action("confirmar_venta_recibido", "Cuenta")"
            $.ajax({
                url: url,
                type: "POST",
                data: { id: "@ViewBag.id_cotizacion" },
                success: function (respuesta) {
                    if (respuesta.success) {
                        _this.slideUp('slow');
                        $(".alerta_ok").slideDown('slow');
                        VistaParcialHistorialCotizaciones();
                        VistaParcialHistorialCompras();
                    }
                    else {
                        _this.slideDown('slow');
                        alert(respuesta.error);
                    }
                },
                async: false
            });
        });
    });

    function CerrarModal() {
        //clearInterval(repearActualizaAnexados);
        $('.ModalConfirmarCotizacion').modal('hide');
    }

</script>


