﻿<div id="page-content">
    <h3 class="title-hero" style="font-size: 20px; text-align: center;">El registro no pudo ser completado con exito.</h3>
    <div class="example-box-wrapper">
        <table class="table" style="width: 100%; margin-bottom: 0px;">
            <tbody>
                <tr>
                    <td style="text-align: center; border: 0px;">Por favor contacte al administrador.</td>
                </tr>
                <tr>
                    <td style="text-align: right; border: 0px;">
                        <a href="#" onclick="CerrarModal()" class="btn btn-success" style="background-color: #45901a;">
                            <span class="button-content">Cerrar</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalRegistroErroneo .modal-dialog').css('width', '50%');
        $('.ModalRegistroErroneo .modal-header').attr('style', 'background-color: #45901a; color: white; border-radius: 4px 4px 0px 0px;');
    });
    function CerrarModal() {
        $('.ModalRegistroErroneo').modal('hide');
    }
</script>