﻿@{
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
}

<div id="page-content">
    <h3 class="title-hero" style="font-size: 20px; text-align: center;">La cotizacion se ha actualizado correctamente con el Folio: @ViewBag.id_cotizacion</h3>
    <div class="example-box-wrapper">
        <table class="table" style="width: 100%; margin-bottom: 0px;">
            <tbody>
                <tr>
                    <td style="text-align: center; border: 0px;">
                        <a href="#" id="ImprimirPDFCotizacion" class="btn btn-info" name="@ViewBag.id_venta">
                            <span class="button-content">Imprimir PDF</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; border: 0px;">
                        <a href="#" onclick="CerrarModal()" class="btn btn-success" style="background-color: @configuracion_tienda_online.color_primario;">
                            <span class="button-content">Cerrar</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalGuardarCotizacion .modal-dialog').css('width', '50%');
        $('.ModalGuardarCotizacion .modal-header').attr('style', 'background-color: @configuracion_tienda_online.color_primario; color: white; border-radius: 4px 4px 0px 0px;');
        $('#ImprimirPDFCotizacion').click(function () {
            window.location.href = '@Url.Action("GenerarPDFCotizacion","FormatoPDF", new { id_venta = ViewBag.id_venta })';
        });
    });
    function CerrarModal() {
        window.location.href = '@Url.Action("MiCuenta", "Cuenta")';
    }
</script>