﻿@model Tienda_Online.Models.venta
@{
    ViewBag.Title = "Cotización";
    List<Tienda_Online.Models.itemProductoCarrito> ListaCarrito = ViewBag.ListaCarrito as List<Tienda_Online.Models.itemProductoCarrito>;
    decimal TipoCambioActual = ViewBag.tipoCambiario;
    decimal TipoCambioAnterior = Model.precio_dolar_venta.Value;
    Decimal diffTipoCambio = TipoCambioActual - TipoCambioAnterior;
    string diffTipoCambioString = diffTipoCambio.ToString("#,##0.00");
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
}

<style type="text/css">
    #GuardarCotizacionDesactivado:hover {
        color: #000;
        background-color: #e6e4df;
        border-color: #e6e4df;
    }
</style>
<section id="cart_items">
    <div class="container">
        <label id="Carrito_desactualizado" class="reload_page botonBordeRojoReal col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display: none; margin-top:20px;">
            <i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size: 25px;"></i>El carrito ha sido modificado desde otra ventana . Pulse para cargar la versión mas actualizada.
        </label>

        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px;">
            <h2 class="text-center" style="margin-top: 20px !important; padding-bottom: 40px !important; padding-top: 40px !important; margin-bottom: 10px !important; font-size: 35px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2;">Cotización @ViewBag.serieFolio</h2>
        </div>

        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="text-align: right; padding-left: 0px; padding-right: 0px;">
            <label>
                <img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; margin:0px 10px;' />Dólar: $
                <label>@ViewBag.tipoCambiario MXN</label>
                @if (diffTipoCambio != 0)
                {
                    if (diffTipoCambio > 0)
                    {
                        //aumento
                        <label style="color: #fc5858">+ $@diffTipoCambioString MXN<i class="fa fa-arrow-up fa-lg" aria-hidden="true" style="width: 20px"></i></label>
                    }
                    else
                    {
                        //baja
                        <label style="color: #00b73e">- $@diffTipoCambioString MXN<i class="fa fa-arrow-down fa-lg" aria-hidden="true" style="width: 20px"></i></label>
                    }
                }
            </label>
        </div>
        @if (Model != null)
        {
            if (Model.conceptos_por_venta.Count != 0)
            {
                foreach (Tienda_Online.Models.conceptos_por_venta concepto in Model.conceptos_por_venta)
                {
                    <div class="ProductoCarrito col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5;margin-bottom: 20px; color: #4A4A4A;padding-left:0px; padding-right:0px;" id_producto="@concepto.Producto_id" codigo="@concepto.producto.Codigo">
                        <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                            <div class="canvas_img" style="height: 100px;" onclick="@("window.open(\"" + Url.Action("DetalleProducto", "Producto", new { id_producto = concepto.Producto_id }) + "\")")">
                                <div>
                                    @if (concepto.producto.imagen.Count() != 0)
                                    {

                                        if (concepto.producto.imagen.First().nombre != "")
                                        {
                                            if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + concepto.producto.imagen.First().nombre))))
                                            {
                                                <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/" + concepto.producto.imagen.First().nombre) + "');margin:0;width:auto;background-color: transparent;")"></div>
                                            }
                                            //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                            else
                                            {
                                                <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                            }
                                        }
                                        //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                        else
                                        {
                                            <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                    }
                                </div>
                            </div>
                            <div style="width: 100%; text-align: center;" class="fontbolt20-sm-xs">
                                @concepto.producto.Codigo
                            </div>
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hide-sm-sx">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left;padding-left:0px; padding-right:0px;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Nombre del producto y detalles</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Ajuste</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Precio Unitario</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Cantidad</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;"></div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                                    <label class="nombre">@concepto.producto.Descripcion</label>
                                </div>
                                @{
                                    Decimal precioAnteriorMonedaOriginal = concepto.producto.precio_dolar == 0 ? concepto.precio_unitario.Value : concepto.precio_en_dolares.Value;
                                    /**/
                                    Decimal precioActualMonedaOriginal = Math.Round(Tienda_Online.Fn.FnVenta.calcularNuevoImporteConcepto(concepto.Producto_id, Model.Cliente_id, Model.sucursal_id), 2);
                                    Tienda_Online.Models.POSEntities db = new Tienda_Online.Models.POSEntities();
                                    int tipoCliente_id = 1;
                                    Tienda_Online.Models.cliente cliente = Tienda_Online.Fn.cliente_logeado.TraerCliente();
                                    if (cliente.id != 0)
                                    {
                                        tipoCliente_id = cliente.TipoCliente_id;
                                    }
                                    Tienda_Online.Models.producto producto = db.producto.Find(concepto.Producto_id);
                                    decimal precioActual = Math.Round(db.precio_por_tipocliente.Where(x => x.Producto_id == concepto.Producto_id && x.TipoCliente_id == tipoCliente_id && x.sucursal_id == 1).Single().Precio.Value, 2);
                                    /**/
                                    Decimal diff = Math.Round(precioActualMonedaOriginal - precioAnteriorMonedaOriginal);
                                    string precioActualMonedaOriginalString = precioActualMonedaOriginal.ToString("#,##0.00");
                                    string precioAnteriorMonedaOriginalString = precioAnteriorMonedaOriginal.ToString("#,##0.00");
                                    string diff_string = Math.Round(diff).ToString("#,##0.00").Replace("-", "");
                                    string banderaImgPath = concepto.producto.precio_dolar == 0 ? Url.Content("~/images/moneda_pesos.png") : Url.Content("~/images/moneda_dolares.png");
                                    string moneda = concepto.producto.precio_dolar == 0 ? "MXN" : "USD";
                                }
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center; padding-left:0px; padding-right:0px;">
                                    @if (diff != 0)
                                    {
                                        <div style="margin-right: 20px">
                                            $ @precioAnteriorMonedaOriginalString
                                        </div>
                                        if (diff > 0)
                                        {
                                            //aumento
                                            <label style="color: #fc5858">+ $@diff_string<i class="fa fa-arrow-up fa-lg" aria-hidden="true" style="width: 20px"></i></label>
                                        }
                                        if (diff < 0)
                                        {
                                            //baja
                                            <label style="color: #00b73e">- $@diff_string<i class="fa fa-arrow-down fa-lg" aria-hidden="true" style="width: 20px"></i></label>
                                        }
                                    }
                                </div>
                                <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    <label class="precio_unitario" style="font-weight: bold; line-height: 30px;">
                                        $
                                        <span class="precio" precio_dolar="@concepto.producto.precio_dolar" style="display: none">@Tienda_Online.Fn.FnVenta.calcularNuevoImporteConcepto(concepto.Producto_id, concepto.venta.Cliente_id, concepto.venta.sucursal_id)</span>
                                        <span style="font-weight: bold">@Tienda_Online.Fn.FnVenta.calcularNuevoImporteConcepto(concepto.Producto_id, concepto.venta.Cliente_id, concepto.venta.sucursal_id)</span>
                                        <span class="Moneda" style="font-weight: bold">@moneda</span>
                                        <img class="bandera_unitario" src='@banderaImgPath' style='width: 20px;' />
                                    </label>
                                </div>
                                <div class=" col-lg-1 col-md-1 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    <div class="cart_quantity_button" style="display: inline-block;">@concepto.cantidad.ToString("#,##0")</div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px;">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                            $<span class="importe" style="font-weight: bold">@Tienda_Online.Fn.FnVenta.calcularNuevoSubtotalConceptoEnPesos(concepto.id, concepto.venta.Cliente_id, concepto.venta.sucursal_id)</span>
                                            <span style="font-weight: bold; margin-right: 5px;">MXN</span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                            $<span class="iva" style="font-weight: bold">@Tienda_Online.Fn.FnVenta.calcularNuevoIvaConceptoEnPesos(concepto.id, concepto.venta.Cliente_id, concepto.venta.sucursal_id)</span>
                                            <span style="font-weight: bold; margin-right: 5px;">MXN</span>
                                        </label>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6" style="padding-left:0px; padding-right:0px;">
                                        <label class="centrar_label" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                            $<span class="total" style="font-weight: bold">@Tienda_Online.Fn.FnVenta.calcularNuevoTotalConceptoEnPesos(concepto.id, concepto.venta.Cliente_id, concepto.venta.sucursal_id)</span>
                                            <span style="font-weight: bold; margin-right: 5px;">MXN</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                    }
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar20-sm-sx" style="text-align: center;padding-right: 0; padding-left: 0px; padding-bottom:20px;">
                                        <div class="divTotales col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadmar20-sm-sx" style="padding-right: 0; padding-left: 0px;">
                                            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12" style="padding-right: 0; padding-left: 0px;">
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5; padding-right: 0; padding-left: 0px;">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                                                    <h2 class="text-center" style="margin-top: 0px !important; padding-bottom: 20px; padding-top: 20px; font-size: 25px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2;">Totales</h2>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-4" style="padding: 0">
                                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                                                </div>
                                                <div class="col-lg-7 col-md-6 col-sm-6 col-xs-8" style="padding: 0">
                                                    <label class="" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario; margin-right: 34px;">
                                                        $<span id="subtotalpesos" style="font-weight: bold">@Tienda_Online.Fn.FnVenta.calcularNuevoSubtotalSumPesos(Model.id)</span>
                                                        <span style="font-weight: bold">MXN</span>
                                                    </label>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-4" style="padding: 0">
                                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                                                </div>
                                                <div class="col-lg-7 col-md-6 col-sm-6 col-xs-8" style="padding: 0">
                                                    <label style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario; margin-right: 34px">
                                                        $<span id="ivaPesos" style="font-weight: bold">@Tienda_Online.Fn.FnVenta.calcularNuevoIvaSumPesos(Model.id)</span>
                                                        <span style="font-weight: bold">MXN</span>
                                                    </label>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-4" style="padding: 0">
                                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                                                </div>
                                                <div class="col-lg-7 col-md-6 col-sm-6 col-xs-8" style="padding: 0">
                                                    <label style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                                        $<span id="totalPesos" style="font-weight: bold">@Tienda_Online.Fn.FnVenta.calcularNuevoTotalSumPesos(Model.id)</span>
                                                        <span style="font-weight: bold">MXN</span>
                                                        <img class="bandera_subtotal" src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px; vertical-align: central;margin: 0 0 0 10px' />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px; padding-bottom:20px; padding-top:20px;">
                                            <label style="display: inline-block; padding: 20px; font-weight: bold; border: 1px dashed #4A4A4A; color: #4A4A4A; width: 100%">La cotización esta vacía</label>
                                        </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;padding-left:0px; padding-right:0px; padding-bottom:20px; padding-top:20px;">
                                            <label style="display: inline-block; padding: 20px; font-weight: bold; border: 1px dashed #4A4A4A; color: #4A4A4A; width: 100%">La cotización esta vacía</label>
                                        </div>
                                    }
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                <label id="DescargarCotizacionPDF" class="btn btn-info botonBordeVerdeReal" style="cursor: pointer;"><i class="fa fa-file-pdf-o fa-lg" aria-hidden="true" style="margin-right:10px"></i>Descargar PDF</label>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('precio_unitario').each(function () {
            $(this).html(parseFloat($(this).html()).toFixed(2));
        });
    });
    $('#DescargarCotizacionPDF').click(function () {
        window.location.href = '@Url.Action("GenerarPDFCotizacion", "FormatoPDF", new { id_venta = Model.id })';
        _generandoPDF = bootbox.dialog({
            message: "Generando PDF..."
        });
        window.setTimeout(function () {
            _generandoPDF.modal("hide");
        }, 2000); // se cierra la ventana 2 segundos despues
    });
</script>


