﻿@{
    Tienda_Online.Models.venta venta = ViewBag.venta as Tienda_Online.Models.venta;
    Tienda_Online.Models.cliente cliente = null;
    Boolean isLogin = false;


    if (ViewBag.isLogin == 1)
    {
        isLogin = true;
    }

    if (isLogin)
    {
        cliente = ViewBag.cliente;
    }
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
}
<section id="cart_items">

    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
        <div style="width: 100%;">
            <h2 class="text-center" style="margin-top: 0px; padding-bottom: 40px; padding-top: 40px !important; font-size: 35px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2">Venta: @ViewBag.serieFolio</h2>
        </div>
    </div>
    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="text-align: right">
        <div style="margin-right: 20px">
            <label>
                <img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; margin:0px 10px;' />Dólar: $
                        <label>@ViewBag.tipoCambiario MXN</label>
            </label>
        </div>
    </div>
    <div class="container">
        @foreach (Tienda_Online.Models.conceptos_por_venta conceptos_por_venta in venta.conceptos_por_venta.ToList())
        {

            Decimal precioAnteriorMonedaOriginal = conceptos_por_venta.producto.precio_dolar == 0 ? conceptos_por_venta.precio_unitario.Value : conceptos_por_venta.precio_en_dolares.Value;
            //Decimal precioActualMonedaOriginal = Math.Round(Tienda_Online.Fn.FnVenta.calcularNuevoImporteConcepto(conceptos_por_venta.Producto_id), 2);
            Decimal precioMXN = Math.Round(Tienda_Online.Fn.FnVenta.calcularNuevoSubtotalConceptoEnPesos(conceptos_por_venta.id, conceptos_por_venta.venta.Cliente_id, conceptos_por_venta.venta.sucursal_id), 2);
            //Decimal diff = Math.Round(precioActualMonedaOriginal - precioAnteriorMonedaOriginal);

            //string precioActualMonedaOriginalString = precioActualMonedaOriginal.ToString("#,##0.00");
            string precioMXNString = precioMXN.ToString("#,##0.00");
            string precioAnteriorMonedaOriginalString = precioAnteriorMonedaOriginal.ToString("#,##0.00");
            //string diff_string = Math.Round(diff).ToString("#,##0.00").Replace("-", "");
            string banderaImgPath = conceptos_por_venta.producto.precio_dolar == 0 ? Url.Content("~/images/moneda_pesos.png") : Url.Content("~/images/moneda_dolares.png");
            string moneda = conceptos_por_venta.producto.precio_dolar == 0 ? "MXN" : "USD";
                
            <div class="ProductoCarrito" style="width:100%;float: left;position: relative;padding:20px; border: 1px solid #d7d5d5; padding: 20px; margin-bottom: 20px; color: #4A4A4A" id_producto="@conceptos_por_venta.Producto_id">
                <div class=" col-lg-1 col-md-2 col-sm-12 col-xs-12">
                    <div class="canvas_img" style="height: 100px;">
                        <div>
                            @if (conceptos_por_venta.producto.imagen.Count() != 0)
                            {

                                if (conceptos_por_venta.producto.imagen.First().nombre != "")
                                {
                                    if ((System.IO.File.Exists(Server.MapPath("~/UploadFolder/imagen_producto/" + conceptos_por_venta.producto.imagen.First().nombre))))
                                    {
                                <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/" + conceptos_por_venta.producto.imagen.First().nombre) + "');margin:0;width:auto;background-color: transparent;")"></div> 
                                    }
                                    //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                    else
                                    {
                                <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                    }
                                }
                                //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                else
                                {
                                <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                }
                            }
                            else
                            {
                                <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                            }
                        </div>
                        <div style="width: 100%">
                            @conceptos_por_venta.producto.Codigo
                        </div>
                    </div>
                </div>
                <div class=" col-lg-11 col-md-11 col-sm-12 col-xs-12">
                    <div style="width: 100%; float: left; position: relative; padding: 5px">
                        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Nombre del producto y detalles</label>
                        </div>
                        <div class=" col-lg-3 col-md-2 col-sm-12 col-xs-12">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Precio Unitario</label>
                        </div>
                        <div class=" col-lg-2 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Cantidad</label>
                        </div>
                    </div>
                    <div style="width: 100%; float: left; position: relative; padding: 5px">
                        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label>@conceptos_por_venta.producto.Descripcion</label>
                        </div>
                        <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="precio_unitario" style="font-weight: bold; line-height: 30px; float: left">
                                $
                                    <span class="precio" precio_dolar="@conceptos_por_venta.producto.precio_dolar"   style="display: none">@precioAnteriorMonedaOriginal</span>
                                <span style="font-weight: bold">@precioAnteriorMonedaOriginalString</span>
                                <span class="Moneda" style="font-weight: bold">@moneda</span>
                            </label>
                            <img class="bandera_unitario" src='@banderaImgPath' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px; float: left' />
                        </div>

                        <div class=" col-lg-2 col-md-1 col-sm-12 col-xs-12">
                            <div style="text-align: center;">
                                <div class="cart_quantity_button" id_producto="@conceptos_por_venta.Producto_id" style="display: inline-block;">
                                    <label>@conceptos_por_venta.cantidad.ToString("#,##0.00")</label>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-3 col-md-2 col-sm-12 col-xs-12">
                            <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label class="" style="cursor: pointer; font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                    $<span class="importe" style="font-weight: bold"></span>@conceptos_por_venta.importe.Value.ToString("#,##0.00")
                                    <span class="tipoMoneda" style="font-weight: bold">MXN</span>
                                </label>
                            </div>
                            <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label class="" style="cursor: pointer; font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                    $<span class="iva" style="font-weight: bold"></span>@conceptos_por_venta.iva_importe.Value.ToString("#,##0.00")
                                    <span class="tipoMoneda" style="font-weight: bold">MXN</span>
                                </label>
                            </div>

                            <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                @*<img class="bandera_subtotal" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; vertical-align: bottom;margin: 0 0 0 10px;float: left;' />*@
                                <label class="" style="cursor: pointer; font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                                    $<span class="total" style="font-weight: bold"></span>@conceptos_por_venta.importe_mas_iva.Value.ToString("#,##0.00")
                                    <span class="tipoMoneda" style="font-weight: bold">MXN</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="text-align: center;">
        <div class="divTotales col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar">
            <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-8 col-md-offset-8" style="border: 1px solid #d7d5d5; margin-right: 0; padding-right: 0; padding-left: 0px;">
                <div style="width: 100%;">
                    <h2 class="text-center" style="margin-top: 0px; padding-bottom: 10px; padding-top: 10px !important; font-size: 25px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2;">Totales</h2>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                </div>
                <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                    <label class="" style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario; margin-right: 34px;">
                        $<span id="subtotalpesos" style="font-weight: bold">@venta.conceptos_por_venta.Select(x => x.importe.Value).Sum().ToString("#,##0.00")</span>
                        <span style="font-weight: bold">MXN</span>
                    </label>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                </div>
                <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                    <label style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario; margin-right: 34px">
                        $<span id="ivaPesos" style="font-weight: bold">@venta.conceptos_por_venta.Select(x => x.iva_importe.Value).Sum().ToString("#,##0.00")</span>
                        <span style="font-weight: bold">MXN</span>
                    </label>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                </div>
                <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                    <label style="font-weight: bold; float: right; color: @configuracion_tienda_online.color_primario;">
                        $<span id="totalPesos" style="font-weight: bold">@venta.conceptos_por_venta.Select(x => x.importe_mas_iva.Value).Sum().ToString("#,##0.00")</span>
                        <span style="font-weight: bold">MXN</span>
                        <img class="bandera_subtotal" src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px; vertical-align: central;margin: 0 0 0 10px' />
                    </label>
                </div>

            </div>
        </div>
    </div>
    @{
        string fechaConfirmacion = venta.fecha != null ? "<label>" + venta.fecha.Value.ToString("dd/MM/yyyy") + "</label><br /><label>" + venta.fecha.Value.ToString("HH:mm:ss") + "</label>" : "";

        string fechapago = venta.fecha_liquidacion != null ? "<label>" + venta.fecha_liquidacion.Value.ToString("dd/MM/yyyy") + "</label><br /><label>" + venta.fecha_liquidacion.Value.ToString("HH:mm:ss") + "</label>" : "";
        string fechaEnvio = venta.fechaEnvio != null ? "<label>" + venta.fechaEnvio.Value.ToString("dd/MM/yyyy") + "</label><br /><label>" + venta.fechaEnvio.Value.ToString("HH:mm:ss") + "</label>" : "";
        string fechaEntrega = venta.Fecha_entrega != null ? "<label>" + venta.Fecha_entrega.Value.ToString("dd/MM/yyyy") + "</label><br /><label>" + venta.Fecha_entrega.Value.ToString("HH:mm:ss") + "</label>" : "";

    }
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="margin-top: 20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5; margin-right: 0; padding-right: 0; padding-left: 0px; color: #4A4A4A">
            <div class="container">
                <div class="">
                    <ul class="progress-tracker progress-tracker--text anim-ripple">

                        <li class="@(fechaConfirmacion != "" ? "progress-step is-complete" : "progress-step")">
                            <span class="progress-marker" style="display:block;"></span>
                            <span class="progress-text">
                                <h4 class="progress-title">Confirmación</h4>
                                @if (fechaConfirmacion != "")
                                { 
                                    <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;"><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px"></i>@Convert.ToInt16((DateTime.Now - venta.fecha.Value).TotalDays) Dias</label>
                                    <br />
                                    @Html.Raw(fechaConfirmacion)
                                }
                            </span>
                        </li>
                        <li class="@(fechapago != "" ? "progress-step is-complete" : "progress-step")">
                            <span class="progress-marker" style="display:block;"></span>
                            <span class="progress-text">
                                <h4 class="progress-title">Pago</h4>
                                @if (fechapago != "")
                                { 
                                    <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;"><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px"></i>@Convert.ToInt16((DateTime.Now - venta.fecha_liquidacion.Value).TotalDays) Dias</label>
                                    <br />
                                    @Html.Raw(fechapago)
                                    <br />
                                    foreach (var _pago in venta.multiple_pago)
                                    {
                                    <br />
                                    <label style="font-size: 11px; color: #9e9e9e;">@_pago.tipo_pago_venta.tipo: $ @_pago.cantidad.Value.ToString("#,##0.00") @_pago.referencia</label>
                                    }
                                }
                            </span>
                        </li>
                        <li class="@(fechaEnvio != "" ? "progress-step is-complete" : "progress-step")">
                            <span class="progress-marker" style="display:block;"></span>
                            <span class="progress-text">
                                <h4 class="progress-title">Envío</h4>
                                @if (fechaEnvio != "")
                                { 
                                    <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;"><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px"></i>@Convert.ToInt16((DateTime.Now - venta.fechaEnvio.Value).TotalDays) Dias</label>
                                    <br />
                                    @Html.Raw(fechaEnvio)      
                                    <br />    
                                    <label style="font-size: 11px; color: #9e9e9e;">@venta.guiaEnvio</label>                                  
                                }
                            </span>
                        </li>
                        <li class="@(fechaEntrega != "" ? "progress-step is-complete" : "progress-step")">
                            <span class="progress-marker" style="display:block;"></span>
                            <span class="progress-text">
                                <h4 class="progress-title">Recepción</h4>
                                @if (fechaEntrega != "")
                                { 
                                    <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;"><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px"></i>@Convert.ToInt16((DateTime.Now - venta.Fecha_entrega.Value).TotalDays) Dias</label>
                                    <br />
                                    @Html.Raw(fechaEntrega)
                                    <br />
                                }
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label class="botonBordeVerde" id="DescargarVentaPDF" class="btn btn-info" style="cursor: pointer;"><i class="fa fa-file-pdf-o  fa-lg" aria-hidden="true" style="margin-right: 10px"></i>Descargar PDF</label>
        </div>
    </div>
</section>

<script>
    $('#DescargarVentaPDF').click(function () {
        window.location.href = '@Url.Action("GenerarPDFVenta", "FormatoPDF", new { id_venta = venta.id })';
        _generandoPDF = bootbox.dialog({
            message: "Generando PDF..."
        });
        window.setTimeout(function () {
            _generandoPDF.modal("hide");
        }, 2000); // se cierra la ventana 2 segundos despues
    });

</script>
