﻿@{
    List<Tienda_Online.Models.venta> ListaCotizaciones = ViewBag.ListaCotizaciones as List<Tienda_Online.Models.venta>;
}

<table id="TablaCotizaciones" class="table tabla_estilo_1 tabla_vertical_center" style="margin-bottom:0px;">
    @if (ListaCotizaciones.Count > 0)
    {
        <thead>
            <tr>
                <th>Folio</th>
                <th>Fecha</th>
                <th style="text-align: right">Ajuste</th>
                <th style="text-align: right">Total</th>
                <th style="text-align: center"></th>
            </tr>
        </thead>
        <tbody class="margin_top_xs_sm">
            @foreach (Tienda_Online.Models.venta cotizacion in ListaCotizaciones)
            {
                <tr style="border-bottom: 1px solid rgba(31, 30, 30, 0.05);">
                    <td style="text-align: center" data-title="Folio">
                        <label class="boton_hover_verde" onclick="@("window.open(\"" + Url.Action("verCotizacion", "Cuenta", new { id = cotizacion.id }) + "\")")">
                            <i class="fa fa-file-text-o fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>
                            @Tienda_Online.Fn.Numeros.serie_folio_by_id(cotizacion.id)
                        </label>
                    </td>
                    <td style="text-align: center" data-title="Fecha"><label style="padding: 5px; font-weight:normal;">@cotizacion.fecha_cotización.Value.ToString("dd/MM/yyyy HH:mm:ss")</label></td>
                    <td style="text-align: right" data-title="Ajuste">
                        @{
                            decimal diff = Tienda_Online.Fn.FnVenta.traerDiffMXN(cotizacion.id);
                            string diff_string = Math.Round(diff).ToString("#,##0.00").Replace("-", "");
                            if (Convert.ToDecimal(diff_string) != 0)
                            {
                                <div>
                                    $ @Math.Round(cotizacion.total.Value, 2).ToString("#,##0.00") MXN
                                </div>
                                if (diff > 0)
                                {
                                    //aumento
                                    <div>
                                        <label style="color: #fc5858">+ $@diff_string<i class="fa fa-arrow-up fa-lg" aria-hidden="true" style="width: 20px"></i></label>
                                    </div>
                                }
                                if (diff < 0)
                                {
                                    //baja
                                    <div>
                                        <label style="color: #00b73e">- $@diff_string<i class="fa fa-arrow-down fa-lg" aria-hidden="true" style="width: 20px"></i></label>
                                    </div>
                                }
                            }
                        }
                    </td>
                    <td style="text-align: right" data-title="Total">
                        <div>
                            <span>
                                $@Math.Round(Tienda_Online.Fn.FnVenta.calcularNuevoTotalSumPesos(cotizacion.id), 2)
                                MXN<img src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px;' />
                            </span>
                        </div>
                        @*<label style="margin-bottom: 0px; line-height: 20px; font-weight: normal;">
                            $ @Math.Round(Tienda_Online.Fn.FnVenta.calcularNuevoTotalSumPesos(cotizacion.id), 2)
                            MXN<img src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px; margin:0 0 0 10px;' />
                        </label>*@
                    </td>
                    <td data-title="Acciones">
                        <section>
                            <div class="wrapper-demo">
                                <div class="wrapper-dropdown-5" tabindex="1">
                                    <i class="fa fa-bars fa-lg" aria-hidden="true" style="margin-right: 12px;"></i>
                                    Acciones
                                    <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                        <li>
                                            <label onclick="@("window.open(\"" + Url.Action("verCotizacion", "Cuenta", new { id = cotizacion.id }) + "\")")" id_cotizacion="@cotizacion.id" style="color:#254054"><i class="fa fa-eye fa-lg" aria-hidden="true" style="margin-right: 15px;"></i>Ver</label>
                                        </li>
                                        <li>
                                            <label onclick='@("Modal_Enviar_a_carrito(" + cotizacion.id + ")")' class="enviar_a_carrito" id_cotizacion="@cotizacion.id" style="color:#254054"><i class="fa fa-share-square fa-lg" aria-hidden="true" style="margin-right: 15px;"></i>Enviar a carrito</label>
                                        </li>
                                        <li>
                                            <label onclick='@("modalConfirmarCotizacion(" + cotizacion.id + ")")' class="btn_confirmar" id_cotizacion="@cotizacion.id" style="color:#0d5a22"><i class="fa fa-check-square-o fa-lg" aria-hidden="true" style="margin-right: 15px;"></i>Confirmar</label>
                                        </li>
                                        <li>
                                            <label onclick='@("Modal_Eliminar_cotizacion(" + cotizacion.id + ")")' class="btn_eliminar" id_cotizacion="@cotizacion.id" style="color:#ff0000"><i class="fa fa-times-circle fa-lg" aria-hidden="true" style="margin-right: 15px;"></i>Eliminar</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </td>
                </tr>
                            }
        </tbody>
                            }
                            else
                            {
                                <tr>
                                    <td>No hay cotizaciones realizadas.</td>
                                </tr>
                            }
</table>
<script>
    $(".ver_cotizacion").click(function () {
        url = $(this).attr("url");
        window.location = url;
    });
</script>


<script type="text/javascript">


    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;

            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }

    $(function () {
        $(".wrapper-dropdown-5").each(function () {
            var dd = new DropDown($(this));
            $(document).click(function () {
                // all dropdowns
                $('.wrapper-dropdown-5').removeClass('active');
            });

        });
    });

</script>
