﻿@model Tienda_Online.Models.LogOnModel
<div class="container" style="height: 200px;position: absolute; width: 350px !important; top: 40px; left: 69%; background-color: white; border-radius: 5px; box-shadow: 0px 0px 6px 2px #888888;">
    <div class="row" style="padding: 5px; margin-bottom: -40px; margin-left:0px; margin-right:0px;">
        <div class="table-responsive">
            @using (Html.BeginForm("LogOn", "Cuenta", FormMethod.Post))
            {
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="border: 0px;">
                                @if (Model != null)
                                {
                                    <input type="text" name="UserName" placeholder="Email" value="@Model.UserName" required="" style="display: block; font-size: 14px; padding-left: 10px; color: black; background: #ffffff; border: medium none;font-family: inherit; font-weight: 300; height: 42px; outline: medium none; box-shadow: 0px 0px 3px 0px #635858; width: 100%;" />
                                }
                                else
                                {
                                    <input type="text" name="UserName" placeholder="Email" required="" style="display: block; font-size: 14px; padding-left: 10px; color: black; background: #ffffff; border: medium none; font-family: inherit; font-weight: 300; height: 42px; outline: medium none; box-shadow: 0px 0px 3px 0px #635858; width: 100%;" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 0px;">
                                @if (Model != null)
                                {
                                    <input type="password" name="Password" placeholder="Contraseña" value="@Model.Password" required="" style="display: block; font-size: 14px; padding-left: 10px; color: black; background: #ffffff; border: medium none; font-weight: 300; height: 42px; outline: medium none; box-shadow: 0px 0px 3px 0px #635858; width: 100%;" />
                                }
                                else
                                {
                                    <input type="password" name="Password" placeholder="Contraseña" required="" style="display: block; font-size: 14px; padding-left: 10px; color: black; background: #ffffff; border: medium none; font-weight: 300; height: 42px; outline: medium none; box-shadow: 0px 0px 3px 0px #635858; width: 100%;" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 0px;padding:0 8px">
                                <span style="vertical-align: sub;">
                                    <input type="checkbox" class="checkbox" name="RememberMe" style="width: 15px; float: left; height: 15px; margin-right: 5px; background: #F0F0E9; border: medium none; color: #696763; display: block;font-size: 13px; font-weight: 300; outline: medium none; padding-left: 10px;">
                                    Recuerdame
                                </span>
                            </td>
                        </tr>
                        @if (ViewBag.error!=null){
                        <tr>
                            <td style="border: 0px; text-align: center;">
                                <label style="color: red; font-weight: normal;">@ViewBag.error</label>
                            </td>
                        </tr>}
                        <tr>
                            <td style="border: 0px;text-align:center">
                                <button type="submit" class="btn_ok" style="width: 100%;" @*style="margin-top: -65px; width: 100%; background: #45901a; border: medium none; border-radius: 0; color: #FFFFFF;"*@>
                                    Entrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
