﻿@{
    List<Tienda_Online.Models.venta> ListaVentas = ViewBag.ListaVentas as List<Tienda_Online.Models.venta>;
    int i = 0;
}
<table id="TablaCompras" class="table tabla_estilo_1 tabla_vertical_center" style="margin-bottom:0px;">
    <thead>
        <tr>
            <th>Folio</th>
            <th>Fecha</th>
            <th>Pago</th>
            <th>Envio</th>
            <th>Recepción</th>
            <th>Anexos</th>
            <th>Tipo De Pago</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody class="margin_top_xs_sm">
        @if (ListaVentas.Count > 0)
        {
            foreach (Tienda_Online.Models.venta venta in ListaVentas.OrderBy(x => x.Folio))
            {
                string _class = venta.fecha_liquidacion != null ? "fechaPago" : "";
                _class = venta.fechaEnvio != null ? _class + " fechaEnvio" : _class;
                _class = venta.Fecha_entrega != null ? _class + " fechaEntrega" : _class;
                <tr style="border-bottom: 1px solid rgba(31, 30, 30, 0.12);" class="@("trVenta " + _class)">
                    <td style="text-align: center" data-title="Folio">
                        <label class="boton_hover_verde" onclick="@("window.open(\"" + Url.Action("verVenta", "Cuenta", new { id = venta.id }) + "\")")">
                            <i class="fa fa-file-text-o fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>
                            @Tienda_Online.Fn.Numeros.serie_folio_by_id(venta.id)
                        </label>
                    </td>
                    <td style="text-align: center" data-title="Fecha">
                        @if (venta.fecha != null)
                    {
                            <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.fecha.Value).TotalDays) Dias</label><br />
                            @venta.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")
                        }
                    </td>
                    @*
                         S T A T U S
                        7	Cotizacion Online
                        8	Venta Online sin pago
                        9	Venta Online pagada
                        10	Venta Online enviada
                        11	Venta Online recibida
                        12 Venta Online cancelada
                    *@

                    <td style="text-align: center" data-title="Pago">
                        @if (venta.fecha_liquidacion != null)
                    {
                            <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.fecha_liquidacion.Value).TotalDays) Dias</label><br />
                            @venta.fecha_liquidacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                        }
                    </td>
                    <td style="text-align: center" data-title="Envio">
                        @if (venta.fechaEnvio != null)
                    {
                            <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.fechaEnvio.Value).TotalDays) Dias</label><br />
                            @venta.fechaEnvio.Value.ToString("dd/MM/yyyy HH:mm:ss")
                        }

                    </td>
                    <td style="text-align: center" data-title="Recepcion">
                        @if (venta.Fecha_entrega != null)
                    {
                            <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.Fecha_entrega.Value).TotalDays) Dias</label><br />
                            @venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm:ss")
                        }
                        else if (venta.fechaEnvio != null)
                        {
                            <div class="botonBordeVerde  btn_confirmar_recibido" idVenta="@venta.id"><i class="fa fa-plus fa-lg" aria-hidden="true" style="margin-right: 5px"></i>Confirmar Recibido</div>
                        }
                    </td>


                    <td style="text-align: center" data-title="Anexos">
                        @{int countAnexos = Tienda_Online.Fn.FnFiles.BuscarCoincidenciasArchivos("UploadFolder/adjuntos_cliente_compra", venta.id + "-").Count();}
                        @if (countAnexos != 0)
                    {
                            <label class="boton_hover_verde btn_modal_anexos" idVenta="@venta.id">
                                <label style="font-size: 14px; margin-bottom: 0px;">@countAnexos</label><i class="fa fa-file-text-o fa-lg" aria-hidden="true" style="margin-left: 5px"></i>
                            </label>
                        }
                    </td>
                    <td style="text-align: center" data-title="Tipo De Pago">
                        @if (venta.fecha_liquidacion != null)
                    {
                        if (venta.multiple_pago.Count == 1)
                        {
                                @venta.multiple_pago.First().tipo_pago_venta.tipo
                            }
                            else
                            {
                                <span>Multiple</span>
                            }
                        }
                    </td>
                    <td style="text-align: right" data-title="Total">
                        <div>
                            <span>
                                $@Math.Round(venta.total.Value, 2).ToString("#,##0.00")
                                MXN<img src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px;' />
                            </span>
                        </div>
                    </td>
                </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" style="text-align: center;">No hay ventas realizadas.</td>
                                </tr>
                            }
    </tbody>
</table>

<script>
    $(".btn_modal_anexos").click(function () {
        idVenta = $(this).attr("idVenta");
        $('.modal').modal('hide');
        var url = '@Url.Action("ModalAnexosVenta", "Cuenta")';
        $.post(url, { id: idVenta },
            function (x) {
                bootbox.dialog({
                    title: "Anexos",
                    message: x,
                    className: "ModalAutoHeight ModalHeaderVerde"
                });
            });
    });
    $(".btn_confirmar_recibido").click(function () {
        idVenta = $(this).attr("idVenta");
        $('.modal').modal('hide');
        var url = '@Url.Action("ModalConfirmarRecibido", "Cuenta")';
        $.post(url, { id: idVenta },
            function (x) {
                bootbox.dialog({
                    title: "Confirmar recibido",
                    message: x,
                    className: "modal_width_90 ModalAutoHeight ModalHeaderVerde"
                });
            });
    });
</script>