﻿@model POS.Models.productopadre
@{
    ViewBag.Title = "Index";
    var optionsCatProveedorTinta = (string)ViewBag.producto;
}
<div class="col-md-12">
    <div class="col-md-4 form-group" id="div_plataforma">
        <label>Producto Padre</label>
        <br />
        Descripcion
        <div id="div_producto"></div>
        Codigo
        @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control obligatorio" })
        Agregar Hijo
        <br />
        <div title="AGREGAR HIJO" onclick="AgregarHijo()" class="boton_hover_verde form-control txtac" style="font-size: 1.5em; width: 30px; float: left">

            <i class="glyph-icon icon-plus"></i>

        </div>
    </div>
    <div class="col-md-4 form-group">
        <label>Productos Hijo</label>
        <div id="divHijos" class="col-md-12"></div>
    </div>
</div>
<div>
    <a id="btn_guarcarValidar" class="btn btn-success btn-fill" onclick="AgregarPadreHijo();return false;" href="#" style="margin-bottom: 20px;">
        <i class="" style="margin-right: 5px; font-size: 1.5em; vertical-align: middle;"></i>
        GUARDAR
    </a>
</div>
<script>
    $(document).ready(function () {
        BuscarHijos();
    });
    var idH = 0;
    function AgregarHijo() {
        idH++;
        inputHijos = "<div class='col-md-12 hijosPadre' id='hijosPadre" + idH + "' style='padding: 0px;'>";
        inputHijos += "<div class='col-md-6'><select class='hijos form-control' id='hijosPadre" + idH + "' style = 'float:left' >" + "@Html.Raw(optionsCatProveedorTinta)" + "</select></div>";
        inputHijos += "<div class='col-md-6'><label onclick='eliminarHijo(this); return false; ' class='boton_hover_rojo' style='width: 41px;padding: 2px;'><i class='glyph-icon icon-trash-o' style='font-size:24px;'></i></label></div>"
        inputHijos += "</div>";
        $("#divHijos").append(inputHijos);
        $("#lblNumTintas").text($(".hijosPadre").length);
    }
    function eliminarHijo(_this) {
        $(_this).closest(".hijosPadre").remove();
        $("#lblNumTintas").text($(".hijosPadre").length);
    }
    function AgregarPadreHijo() {
        var Lhijos = [];
        $(".hijosPadre").each(function () {
            Lhijos.push({
                'id': $(this).find(".hijos option:selected").val()
            });
        });
        var padre = objectifyForm($("#div_plataforma").find("input,select"));
        var params = { 'padre': padre, 'Lhijos': Lhijos };
        console.log(JSON.stringify(params));
        var url = '@Url.Action("AgregarPadreHijo", "ProductoPadre")';
        $.ajax({
            url: url,
            type: "POST",
            async: false,
            data: JSON.stringify(params),
            contentType: "application/json",
            dataType: 'json',
            success: function (r) {
                    window.location = '@Url.Action("Index", "ProductoPadre")';
            }
        });
    }
    function BuscarHijos() {
        var url = '@Url.Action("VistaParcialAutocompleteProducto", "ProductoPadre")';
        $.ajax({
            url: url,
            data: {},
            success: function (vistaParcial) {
                $("#div_producto").html(vistaParcial);
            },
            async: false
        });
    }
</script>