﻿@{
    POS.Models.venta cotizacion = ViewBag.cotizacion as POS.Models.venta;
}

<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    @if (cotizacion.catalogo_status_id == 3)
    {
        <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Venta Por Entregar <span>@POS.Fn.Numeros.serie_folio_by_id(cotizacion.id)</span></h3>
    }
    else if (cotizacion.catalogo_status_id == 4)
    {
        <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Cotizacion <span>@POS.Fn.Numeros.serie_folio_by_id(cotizacion.id)</span></h3>
    }
    else if (cotizacion.catalogo_status_id == 7)
    {
        <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Cotizacion Online <span>@POS.Fn.Numeros.serie_folio_by_id(cotizacion.id)</span></h3>
    }
    else if (cotizacion.catalogo_status_id == 8)
    {
        <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Venta Online Por Entregar <span>@POS.Fn.Numeros.serie_folio_by_id(cotizacion.id)</span></h3>
    }
    else if (cotizacion.catalogo_status_id == 9 || cotizacion.catalogo_status_id == 10 || cotizacion.catalogo_status_id == 11 || cotizacion.catalogo_status_id == 12)
    {
        <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Venta Online <span>@POS.Fn.Numeros.serie_folio_by_id(cotizacion.id)</span></h3>
    }
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaConceptosCotizacion" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <td colspan="6" style="text-align: center; border: 0px; color: #506676;">
                        <label style="margin: 15px 0">
                            <i class="glyph-icon  icon-linecons-user fa-lg" style="margin-right: 10px"></i>
                            DATOS DE CLIENTE</label></td>
                </tr>
                <tr>
                    <th>RAZÓN SOCIAL</th>
                    <th>RFC</th>
                    <th>TELEFONO</th>
                    <th>EMAIL</th>
                    <th colspan="2">DIRECCIÓN</th>
                </tr>
                <tr>
                    <td style="text-align: center;">@if (cotizacion.cliente.Razon_social != null)
                                                    {<span>@cotizacion.cliente.Razon_social.ToUpper()</span>}</td>
                    <td style="text-align: center;">@if (cotizacion.cliente.RFC != null)
                                                    {<span>@cotizacion.cliente.RFC.ToUpper()</span>}</td>
                    <td style="text-align: center;">@if (cotizacion.cliente.telefono != null)
                                                    {<span>@cotizacion.cliente.telefono</span>}</td>
                    <td style="text-align: center;">@if (cotizacion.cliente.correo != null)
                                                    {<span>@cotizacion.cliente.correo.ToUpper()</span>}</td>
                    <td style="text-align: center;" colspan="2">@if (cotizacion.cliente.calle != null)
                                                                {<span>@cotizacion.cliente.calle.ToUpper()</span>}
                        @if (cotizacion.cliente.calle != null)
                        {<span>@cotizacion.cliente.calle.ToUpper()</span>}
                        @if (cotizacion.cliente.exterior != null)
                        {<span>#@cotizacion.cliente.exterior.ToUpper()</span>}
                        @if (cotizacion.cliente.interior != null)
                        {<span> int:@cotizacion.cliente.interior.ToUpper()</span>}
                        @if (cotizacion.cliente.colonia != null)
                        {<span>, @cotizacion.cliente.colonia.ToUpper()</span>}
                        @if (cotizacion.cliente.cp != null)
                        {<span> @cotizacion.cliente.cp</span>}
                        @if (cotizacion.cliente.estado != null)
                        {<span>.@cotizacion.cliente.estado.ToUpper()</span>}
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="height: 20px">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: center; border: 0px; background-color: #506676; color: white;">
                        <label>
                            <i class="glyph-icon  icon-typicons-doc-text fa-lg" style="margin-right: 10px"></i>CONCEPTOS
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>CÓDIGO</th>
                    <th>DESCRIPCIÓN</th>
                    <th>T.DE PRECIO</th>
                    <th>CANTIDAD</th>
                    <th>UNITARIO</th>
                    <th>IMPORTE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (POS.Models.conceptos_por_venta conceptos_por_venta in cotizacion.conceptos_por_venta.ToList())
                {
                    if (cotizacion.catalogo_status_id == 3 || cotizacion.catalogo_status_id == 8 || cotizacion.catalogo_status_id == 9 || cotizacion.catalogo_status_id == 10 || cotizacion.catalogo_status_id == 11 || cotizacion.catalogo_status_id == 12)
                    {
                    <tr>
                        <td style="text-align: center;">@conceptos_por_venta.producto.Codigo</td>
                        <td style="text-align: center;">@conceptos_por_venta.producto.Descripcion</td>
                        <td style="text-align: center;">@conceptos_por_venta.tipocliente.Tipo</td>
                        <td style="text-align: center;">@conceptos_por_venta.cantidad</td>
                        <td style="text-align: center;">@conceptos_por_venta.precio_unitario</td>
                        <td style="text-align: center;">@conceptos_por_venta.importe</td>
                    </tr>
                    }
                    else if (cotizacion.catalogo_status_id == 4 || cotizacion.catalogo_status_id == 7)
                    {
                        Decimal pu = POS.Fn.FnVenta.calcularNuevoSubtotalConceptoEnPesos(conceptos_por_venta.id, cotizacion.sucursal_id);
                    <tr>
                        <td style="text-align: center;">@conceptos_por_venta.producto.Codigo</td>
                        <td style="text-align: center;">@conceptos_por_venta.producto.Descripcion</td>
                        <td style="text-align: center;">@conceptos_por_venta.tipocliente.Tipo</td>
                        <td style="text-align: center;">@conceptos_por_venta.cantidad</td>
                        <td style="text-align: center;">@POS.Fn.FnVenta.obtenerPrecioUnitarioProducto(conceptos_por_venta.Producto_id, conceptos_por_venta.TipoCliente_id, cotizacion.sucursal_id)</td>
                        <td style="text-align: center;">@pu</td>
                    </tr>
                    }
                }
            </tbody>
        </table>
        <table id="TablaTiposPago" class="table" style="width: 100%; margin-top: 20px;">
            <thead>
                <tr>
                    @if (cotizacion.observaciones != null && !cotizacion.observaciones.Equals(""))
                    {
                        <td style="text-align: center; border: 0px; width: 28%; background-color: #506676; color: white;">Observaciones</td>
                        <td style="text-align: center; border: 0px; width: 5%;"></td>
                    }
                    else
                    {
                        <td style="text-align: center; border: 0px; width: 33%;"></td>
                    }
                    @if (cotizacion.Motivo_cancelacion != null && !cotizacion.Motivo_cancelacion.Equals(""))
                    {
                        <td style="text-align: center; border: 0px; width: 28%; background-color: #506676; color: white;">Motivo De Cancelacion</td>
                        <td style="text-align: center; border: 0px; width: 5%;"></td>
                    }
                    else
                    {
                        <td style="text-align: center; border: 0px; width: 33%;"></td>
                    }
                    <td colspan="2" style="text-align: center; border: 0px; width: 20%; background-color: #506676; color: white;">Totales</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @if (cotizacion.observaciones != null && !cotizacion.observaciones.Equals(""))
                    {
                        <td rowspan="3" style="width: 28%; border: 0px; vertical-align: baseline; text-align: center; border-left: 1px solid #9AA7B0; border-right: 1px solid #9AA7B0; border-bottom: 1px solid #9AA7B0;">
                            @cotizacion.observaciones
                        </td>
                        <td rowspan="3" style="width: 5%; border: 0px;"></td>
                    }
                    else
                    {
                        <td rowspan="3" style="width: 33%; border: 0px;"></td>
                    }
                    @if (cotizacion.Motivo_cancelacion != null && !cotizacion.Motivo_cancelacion.Equals(""))
                    {
                        <td rowspan="3" style="width: 28%; border: 0px; vertical-align: baseline; text-align: center; border-left: 1px solid #9AA7B0; border-right: 1px solid #9AA7B0; border-bottom: 1px solid #9AA7B0;">
                            @cotizacion.Motivo_cancelacion
                        </td>
                        <td rowspan="3" style="width: 5%; border: 0px;"></td>
                    }
                    else
                    {
                        <td rowspan="3" style="width: 33%; border: 0px;"></td>
                    }
                    <td style="font-weight: bold; text-align: center; width: 10%;">Subtotal
                    </td>
                    <td style="font-weight: bold; text-align: center; width: 10%;">$
                        <span>
                            @if (cotizacion.catalogo_status_id == 3 || cotizacion.catalogo_status_id == 8 || cotizacion.catalogo_status_id == 9 || cotizacion.catalogo_status_id == 10 || cotizacion.catalogo_status_id == 11 || cotizacion.catalogo_status_id == 12)
                            {
                                <span>@cotizacion.subtotal</span>
                            }
                            else if (cotizacion.catalogo_status_id == 4 || cotizacion.catalogo_status_id == 7)
                            {
                                <span>@POS.Fn.FnVenta.calcularNuevoSubtotalSumPesos(cotizacion.id)</span>
                            }
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold; text-align: center; width: 10%;">IVA
                    </td>
                    <td style="font-weight: bold; text-align: center; width: 10%;">$
                        <span>
                            @if (cotizacion.catalogo_status_id == 3 || cotizacion.catalogo_status_id == 8 || cotizacion.catalogo_status_id == 9 || cotizacion.catalogo_status_id == 10 || cotizacion.catalogo_status_id == 11 || cotizacion.catalogo_status_id == 12)
                            {
                                <span>@cotizacion.iva</span>
                            }
                            else if (cotizacion.catalogo_status_id == 4 || cotizacion.catalogo_status_id == 7)
                            {
                                <span>@POS.Fn.FnVenta.calcularNuevoIvaSumPesos(cotizacion.id)</span>
                            }
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold; text-align: center; width: 10%; background-color: #9AA7B0; color: white;">Total
                    </td>
                    <td style="font-weight: bold; text-align: center; width: 10%; background-color: #9AA7B0; color: white;">$
                        <span>
                            @if (cotizacion.catalogo_status_id == 3 || cotizacion.catalogo_status_id == 8 || cotizacion.catalogo_status_id == 9 || cotizacion.catalogo_status_id == 10 || cotizacion.catalogo_status_id == 11 || cotizacion.catalogo_status_id == 12)
                            {
                                <span>@cotizacion.total</span>
                            }
                            else if (cotizacion.catalogo_status_id == 4 || cotizacion.catalogo_status_id == 7)
                            {
                                <span>@POS.Fn.FnVenta.calcularNuevoTotalSumPesos(cotizacion.id)</span>
                            }
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <a onclick="CerrarModal()" class="btn btn-danger" style="margin-bottom: 10px; margin-left: 10px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-times"></i>
            </span>
            <span class="button-content">Cerrar</span>
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalConceptosCotizacionOnline .modal-dialog').css('width', '95%');
    });
    function CerrarModal() {
        $('.ModalConceptosCotizacionOnline').modal('hide');
    }
</script>
