﻿@model List<POS.Models.venta>
@foreach (var item in Model)
{
    <tr>
        <td style="text-align: center;">@item.Serie-@POS.Fn.Numeros.agregarCeros(item.Folio.Value)</td>
        <td style="text-align: center;">@item.cliente.Razon_social</td>
        <td style="text-align: center;">@item.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
        <td style="text-align: center;">@item.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">@item.usuario_punto_venta.nombre_usuario</td>
        <td style="text-align: center;">@item.conceptos_por_venta.Count</td>
        <td style="text-align: right;">
            @{
                decimal diff = POS.Fn.FnVenta.traerDiffMXN(item.id);
                string diff_string = Math.Round(diff).ToString("#,##0.00").Replace("-", "");
                if (Convert.ToDecimal(diff_string) != 0)
                {
                    <div style="margin-right: 20px">
                        $ @Math.Round(item.total.Value, 2).ToString("#,##0.00") MXN
                    </div>

                    if (diff > 0)
                    {
                        //aumento
                        <div>
                            <label style="color: #fc5858">+ $@diff_string<i class="glyph-icon icon-arrow-up" aria-hidden="true" style="margin-right: 15px;padding-left: 5px;"></i></label>
                        </div>
                    }
                    if (diff < 0)
                    {
                        //baja
                        <div>
                            <label style="color: #00b73e">- $@diff_string<i class="glyph-icon icon-arrow-down" aria-hidden="true" style="margin-right: 15px;padding-left: 5px;"></i></label>
                        </div>
                    }
                }
            }
        </td>
        <td style="text-align: right;">@POS.Fn.FnVenta.calcularNuevoTotalSumPesos(item.id)</td>
        <td style="text-align: center;">
            <section>
                <div class="wrapper-demo">
                    <div class="wrapper-dropdown-5" tabindex="1">
                        <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                        Acciones
                        <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                            <li>
                                <label onclick="DetalleCotizacion(@item.id)" style="color: #254054"><i class="glyph-icon icon-eye" aria-hidden="true" style="margin-right: 15px;"></i>Detalle</label>
                            </li>
                            <li>
                                <label onclick="ImprimirCotizacion(@item.id)" style="color: #254054"><i class="glyph-icon icon-print" aria-hidden="true" style="margin-right: 15px;"></i>Imprimir</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </td>
    </tr>
}

<script>
    $("#TablaCotizaciones").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],                  // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: 7,                      // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>