﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "POS - Error";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Lo sentimos, se ha producido un error</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="font-size: 15vw; text-align: center; color: rgb(37, 64, 84);" class="glyph-icon tooltip-button icon-warning" title="" data-original-title=".icon-warning"></div>
        <table id="TablaUsuarios" class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td style="text-align: center; border: 0px;">Por favor vuelva a intentar o contacte a su administrador.</td>
                </tr>
                <tr>
                    <td style="text-align: center; border: 0px;">Disculpe las molestias.</td>
                </tr>
                <tr>
                    <td style="text-align: center; border: 0px;"><a href="mailto:soporte@quianty.com">soporte@quianty.com</a></td>
                </tr>
                <tr>
                    <td style="text-align: center; border: 0px;">Tel: 20-01-20-58</td>
                </tr>
                <tr>
                    <td id="error" style="display: none;">@Model.Exception</td>
                </tr>
                <tr>
                    <td style="text-align: center; border: 0px;">
                        <a id="boton" class="btn btn-info" style="margin: 0px;">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-elusive-mail"></i>
                            </span>
                            <span class="button-content">Mandar Error</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="loading" style="display: none;">
            <img src="@Url.Content("~/assets-minified/images/spinner/loader-dark.gif")" alt="Cargando...">
        </div>
    </div>
</div>

<style>
    #loading {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: #fff;
        z-index: 10000;
    }

        #loading img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -23px 0 0 -23px;
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var url = "@Url.Action("FallaSistema", "Home")";
        $.ajax({
            url: url,
            type: "POST",
            async: false,
            data: { controlador: "@Model.ControllerName", funcion: "@Model.ActionName", error: $('#error').html() }
        });
        $('#boton').click(function () {
            window.location.href = '@Url.Action("NuevaVenta", "Venta")';
            $('#loading').show();
            $('#loading').fadeOut(800, "linear");
        });
    });
</script>
