﻿@{
    List<POS.Models.ConsultaProducto> ListaProductos = ViewBag.ListaProductos as List<POS.Models.ConsultaProducto>;
    int totalProductos = ViewBag.totalProductos;
    int desde = ViewBag.desde;
    int hasta = ViewBag.hasta;
    int pagina = ViewBag.pagina;
    int numeroProductos = ViewBag.numeroProductos;
}

<table id="TablaProductos" class="table table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripción</th>
            <th>Marca</th>
            <th>Familia</th>
            <th>Subfamilia</th>
            <th>Proveedor</th>
            <th>Medida</th>
            <th>Modelo</th>
        </tr>
    </thead>
    <tbody>
        @if (ListaProductos.Count == 0)
        {
            <tr>
                <td colspan="6" style="text-align: center; padding-top: 15px;">No se encontraron productos.</td>
            </tr>
        }
        else
        {
            foreach (POS.Models.ConsultaProducto producto in ListaProductos)
            {
                <tr class="tr_modal_lista_productos">
                    <td style="text-align: center;">@producto.codigo</td>
                    <td style="text-align: center;">@producto.descripcion</td>
                    <td style="text-align: center;">@producto.marca</td>
                    <td style="text-align: center;">@producto.familia</td>
                    <td style="text-align: center;">@producto.subfamilia</td>
                    <td style="text-align: center;">@producto.proveedor</td>
                    <td style="text-align: center;">@producto.medida</td>
                    <td style="text-align: center;">@producto.modelo</td>
                </tr>
            }
        }
    </tbody>
</table>

<div id="pie_tabla">
    <label id="numero_productos">
        Mostrando los productos @desde al @hasta de @totalProductos productos
    </label>
    <div id="paginacion">
        @{
            int totalPaginas;
            if (Convert.ToString((Convert.ToDecimal(totalProductos) / numeroProductos)).Split('.').Length > 1)
            {
                totalPaginas = (Convert.ToInt32(totalProductos) / numeroProductos) + 1;
            }
            else
            {
                totalPaginas = (Convert.ToInt32(totalProductos) / numeroProductos);
            }
            if (totalPaginas <= 3)
            {
                <a name="1">Primera</a>
                <a name="@(pagina - 1)">Anterior</a>
                for (int i = 0; i < totalPaginas; i++)
                {
                    if ((i + 1) == pagina)
                    {
                        <a class="active" name="@(i + 1)">@(i + 1)</a>
                    }
                    else
                    {
                        <a name="@(i + 1)">@(i + 1)</a>
                    }
                }
                <a name="@(pagina + 1)">Siguiente</a>
                <a name="@totalPaginas">Ultima</a>
            }
            else if (pagina == totalPaginas)
            {
                <a name="1">Primera</a>
                <a name="@(pagina - 1)">Anterior</a>
                <a name="1">1</a>
                <span>...</span>
                <a name="@(pagina - 1)">@(pagina - 1)</a>
                <a class="active" name="@pagina">@pagina</a>
                <a name="@(pagina + 1)">Siguiente</a>
                <a name="@totalPaginas">Ultima</a>
            }
            else if (pagina == 1)
            {
                <a name="1">Primera</a>
                <a name="@(pagina - 1)">Anterior</a>
                <a class="active" name="1">1</a>
                <a name="2">2</a>
                <span>...</span>
                <a name="@totalPaginas">@totalPaginas</a>
                <a name="@(pagina + 1)">Siguiente</a>
                <a name="@totalPaginas">Ultima</a>
            }
            else
            {
                <a name="1">Primera</a>
                <a name="@(pagina - 1)">Anterior</a>
                <span>...</span>
                <a name="@(pagina - 1)">@(pagina - 1)</a>
                <a class="active" name="@(pagina)">@(pagina)</a>
                <a name="@(pagina + 1)">@(pagina + 1)</a>
                <span>...</span>
                <a name="@(pagina + 1)">Siguiente</a>
                <a name="@totalPaginas">Ultima</a>
            }
        }
    </div>
</div>