﻿@model POS.Models.venta
@{
    ViewBag.Title = "POS - Editar Venta";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Editar Venta</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="float: left; width: 100%; margin-bottom: 10px;">
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Sucursal: </label>
                @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Cliente: </label>
                <div id="td_input_cliente" style="display: inline;">
                </div>
                <input id="id_cliente" style="display: none" />
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Tipo De Precio: </label>
                <select id="TipoPrecioId" class="form-control" style="display: inline; width: 200px;"></select>
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Precio Dolar: </label>
                <input type="text" id="txtbox_precio_dolar" class="form-control" style="display: inline; width: 200px;" />
                <label>
                    <button id="cambiar_precio_dolar" class="btn btn-info">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-pencil"></i>
                        </span>
                        <span class="button-content" style="margin-left: 6px;"></span>
                    </button>
                </label>
            </div>
        </div>
        <div style="float: left; width: 100%; margin-bottom: 10px;">
            <button onclick="confirmar_venta()" class="btn btn-success" style="margin-left: 10px; margin-bottom: 10px; margin-top: 10px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-check"></i>
                </span>
                <span class="button-content">Guardar Cambios (F3)</span>
            </button>
            <button onclick="cancelar_venta()" class="btn btn-danger" style="margin-left: 10px; margin-bottom: 10px; margin-top: 10px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-times"></i>
                </span>
                <span class="button-content">Cancelar (F4)</span>
            </button>
        </div>
        <table id="TablaConceptos" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <td colspan="9" style="text-align: center; border: 0px; background-color: #506676; color: white;">Lista De Compra</td>
                </tr>
                <tr>
                    <th>Codigo</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Inventario</th>
                    <th>Tipo De Precio</th>
                    <th>Precio Dolar</th>
                    <th style="text-align: center;">Precio Unitario</th>
                    <th style="text-align: center;">Importe</th>
                    <th style="width:50px !important;"></th>
                </tr>
            </thead>
            <tbody>
                <tr id="Busqueda">
                    <td id="TdCodigo" style="text-align: center;"></td>
                    <td id="TdProducto" style=" text-align: center;"></td>
                    <td id="TdCantidad" style="text-align: center;">
                        <input type="text" id="txt_cantidad" class="form-control" value="1" style="text-align: center;" />
                    </td>
                    <td id="TdInventario" style="text-align: center;"></td>
                    <td id="TdTipoPrecio" style="text-align: center;">
                        <select id="Input_TipoPrecioId" class="form-control"></select>
                    </td>
                    <td id="TdPrecioDolar" style=" text-align: center;">
                        <span id="PrecioDolar_redondeado"></span>
                        <span id="PrecioDolar" style="display:none;"></span>
                        <img id="ImagenDolar" src="@Url.Content("~/assets-minified/images/dolares.png")" style="display:none; width: 20px; vertical-align: bottom; margin-left:10px;" />
                    </td>
                    <td id="TdPrecioUnitario" style="text-align: center;"></td>
                    <td id="TdImporte" style="text-align: center;"></td>
                    <td id="TdAccion" style="text-align: center;"></td>
                </tr>
                @{
                    int renglon = 1;
                    foreach (var c in Model.conceptos_por_venta)
                    {
                        <tr id="@("r_" + renglon)" class="RenglonVenta" name="@renglon">
                            <td class="codigo" style="text-align: center; border: 0px;">@c.producto.Codigo</td>
                            <td class="producto" style="text-align: center; border: 0px;">@c.producto.Descripcion</td>
                            <td style="text-align: center;border: 0px;"><input type="text" class="form-control cantidad" value="@c.cantidad" style="text-align:center;"></td>
                            <td class='inventario' style='text-align: center;border: 0px;'></td>
                            <td class="tipo_precio" style="text-align: center; border: 0px;">@c.tipocliente.Tipo</td>
                            @if (c.producto.precio_dolar == 1)
                            {
                                <td class='' style='text-align: center; border: 0px;'><span class='precio_unitario_dolares_redondeado'>@c.precio_en_dolares</span><img src='@Url.Content("~/assets-minified/images/dolares.png")' style='width: 20px; vertical-align: bottom; margin-left:10px;' /></td>
                            }
                            else
                            {
                                <td class="" style="text-align: center; border: 0px;"></td>
                            }
                            <td style="text-align: center; border: 0px;">
                                <label>$<label class="precio_u_redondeado">@c.precio_unitario</label></label><label class="precio_u" style="display:none;">@c.precio_unitario_original</label>
                            </td>
                            <td class="importe" style="display: none; text-align: center; border: 0px;">@c.importe</td>
                            <td style="text-align: center; border: 0px;">
                                <label>$<label class="importe_sin_iva">@c.importe</label></label>
                            </td>
                            <td style="text-align: center; border: 0px;"><a class="btn btn-danger eliminar_concepto"><span class="glyph-icon icon-separator"><i class="glyph-icon icon-times"></i></span><span class="button-content" style="margin-left:6px;"></span></a></td>
                            <td class="precio_unitario_dolares" style="display: none">@c.precio_en_dolares_original</td>
                            <td class="id_producto" style="display: none">@c.Producto_id</td>
                            <td class="id_tipo_precio" style="display: none">@c.TipoCliente_id</td>
                            <td class="iva_producto" style="display:none;">@((POS.Fn.Config.iva(c.Producto_id) - 1) * 100)</td>
                        </tr>
                        renglon++;
                    }
                }
                <tr>
                    <td colspan="8" style="border: 0px;"></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center; border: 0px; background-color: #506676; color: white;">Observaciones</td>
                    <td colspan="2" style="border: 0px;"></td>
                    <td colspan="4" style="text-align: center; border: 0px; background-color: #506676; color: white;">Totales</td>
                </tr>
                <tr>
                    <td colspan="3" style="padding-top: 0px; border-top-width: 0px;">
                        <textarea id="descripcion_venta" rows="4" cols="30" style="text-align: left; height: 100%; width: 100%; padding-top: 0px; border: 0px; resize: none">@Model.observaciones</textarea>
                    </td>
                    <td colspan="2" style="border: 0px; text-align: center;"></td>
                    <td colspan="4" style="border: 0px; text-align: center;">
                        <table class="table" style="color: black !important;">
                            <tbody>
                                <tr>
                                    <td style="border: 0px; font-weight: bold;">Subtotal:</td>
                                    <td style="border: 0px;">
                                        <label>$ </label>
                                        <span id="lbl_subtotal">0.0</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px; font-weight: bold;">I.V.A.:</td>
                                    <td style="border: 0px;">
                                        <label>$ </label>
                                        <span id="lbl_iva">0.0</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px; font-weight: bold;">Total:</td>
                                    <td style="border: 0px;">
                                        <label>$ </label>
                                        <span id="lbl_total">0.0</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="tr_cambio_inventario" style="height: 42px; display: none;">
                    <td colspan="3" style="padding-top: 0px; border-top-width: 0px;"></td>
                    <td colspan="2" style="border: 0px; text-align: center;"></td>
                    <td colspan="4" style="text-align: center; border: 0px;"></td>
                </tr>
                <tr class="tr_cambio_inventario" style="display: none;">
                    <td colspan="3" style="text-align: center; border: 0px; background-color: #506676; color: white;">Cambios en Inventario</td>
                    <td colspan="2" style="padding-top: 0px; border-top-width: 0px;"></td>
                    <td colspan="4" style="border: 0px; text-align: center;"></td>
                </tr>
                <tr class="tr_cambio_inventario" style="display: none;">
                    <td colspan="3" style="border: 0px; text-align: center;">
                        <table class="table" style="color: black !important;">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Producto</th>
                                    <th>Cantidad Guardada</th>
                                    <th>Cantidad en Inventario</th>
                                    <th>Diferencia</th>
                                </tr>
                            </thead>
                            <tbody id="cuerpo_tabla_diferencia_inventario"></tbody>
                        </table>
                    </td>
                    <td colspan="2" style="padding-top: 0px; border-top-width: 0px;"></td>
                    <td colspan="4" style="border: 0px; text-align: center;"></td>
                </tr>
                <tr>
                    <td colspan="8" style="border: 0px;">
                        <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Por favor rellene todos los campos de cantidad.</p>
                            </div>
                        </div>
                        <div id="AlertaProducto" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Producto inexistente, por favor seleccione uno valido.</p>
                            </div>
                        </div>
                        <div id="AlertaCliente" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Cliente inexistente, por favor seleccione uno valido.</p>
                            </div>
                        </div>
                        <div id="AlertaPrecioProducto" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>El producto seleccionado no contiene el precio para el tipo de precio seleccionado, puede agregarlo dando click en el boton +.</p>
                            </div>
                        </div>
                        <div id="AlertaPrecioDolar" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Precio dolar vacio, por favor introduzca un valor.</p>
                            </div>
                        </div>
                        <div id="AlertaCantidadProducto" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Cantidad vacio, por favor introduzca un valor.</p>
                            </div>
                        </div>
                        <div id="AlertaProductoSinInventario" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p>Producto con inventario inexistente o menor a la cantidad a vender.</p>
                            </div>
                        </div>
                        <div id="AlertaProductoNoSuficienteInventario" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                            <div class="alert-content">
                                <h4 class="alert-title">Error</h4>
                                <p id="cantidad_inventario"></p>
                                <p>Producto con inventario menor a la cantidad a vender.</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button onclick="confirmar_venta()" class="btn btn-success" style="margin-left: 10px; margin-bottom: 10px; margin-top: 10px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-check"></i>
            </span>
            <span class="button-content">Guardar Cambios (F3)</span>
        </button>
        <button onclick="cancelar_venta()" class="btn btn-danger" style="margin-left: 10px; margin-bottom: 10px; margin-top: 10px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-times"></i>
            </span>
            <span class="button-content">Cancelar (F4)</span>
        </button>
        <table class="table table-hover" style="width: 30%; margin: 10px; border: 1px solid rgba(37, 64, 84, 0.49);">
            <thead>
                <tr>
                    <th colspan="2">Catalogo De Teclas Rapidas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>F1</td>
                    <td style="text-align: center;">Volver Al Campo Codigo</td>
                </tr>
                <tr>
                    <td>F2</td>
                    <td style="text-align: center;">Ventana De Productos</td>
                </tr>
                <tr>
                    <td>F3</td>
                    <td style="text-align: center;">Guardar Cambios</td>
                </tr>
                <tr>
                    <td>F4</td>
                    <td style="text-align: center;">Cancelar</td>
                </tr>
                <tr>
                    <td>Ctrl+Z</td>
                    <td style="text-align: center;">Eliminar El Ultimo Concepto Agregado</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<input id="precio" type="hidden" value="@ViewBag.precio" />

<script type="text/javascript">
    var Lock_keypress = false;
    var num_renglon = "@Model.conceptos_por_venta.Count()";
    num_renglon = parseFloat(num_renglon) + 1;
    var respetar_inventario;
    var precios_netos;
    $(document).ready(function () {
        /*CONFIGURACIONES*/
        cantidad_tickets = parseInt($('#configuracion_cantidad_tickets').val());
        if ($('#configuracion_caja_centralizada').val() == "True") {
            caja_centralizada = true;
        } else {
            caja_centralizada = false;
        }
        if ($('#configuracion_edicion_precios').val() == "True") {
            editar_precio_dinamicamente = true;
        } else {
            editar_precio_dinamicamente = false;
        }
        if ($('#configuracion_imprimir_solo_ticket').val() == "True") {
            impresion_solo_ticket = true;
        } else {
            impresion_solo_ticket = false;
        }
        if ($('#confirmacion_directa').val() == "True") {
            confirmacion_directa = true;
        } else {
            confirmacion_directa = false;
        }
        if ($('#respetar_inventario').val() == "True") {
            respetar_inventario = true;
        } else {
            respetar_inventario = false;
        }
        if ($('#precios_netos').val() == "True") {
            precios_netos = true;
        } else {
            precios_netos = false;
        }
        /*CONFIGURACIONES*/

        /*ACCIONES INCIALES*/
        if ($("#txt_cliente").val() != "") {
            traer_datos_cliente();
        }
        $("#codigo_producto").focus();
        calcula_totales();
        /*ACCIONES INCIALES*/

        /*AUTOCOMPLETE PARA LOS PRODUCTOS*/
        actualiza_txt_codigo();
        /*AUTOCOMPLETE PARA LOS PRODUCTOS*/

        /*AUTOCOMPLETE PARA LOS CLIENTES*/
        actualiza_txt_cliente();
        /*AUTOCOMPLETE PARA LOS CLIENTES*/

        /*AUTOCOMPLETE PARA LOS TIPOS DE PRECIO*/
        actualiza_cbx_tipo_precio();
        /*AUTOCOMPLETE PARA LOS TIPOS DE PRECIO*/

        /*TRAER EL PRECIO ACTUAL DEL DOLAR*/
        traer_precio_actual_dolar();
        /*TRAER EL PRECIO ACTUAL DEL DOLAR*/

        /*AL CAMBIA PRECIO DE DOLAR -> AFECTAR LISTA DE CONCEPTOS Y CONCEPTO ACTUAL */
        $("#txtbox_precio_dolar").change(function () {
            actualizar_precio_conceptos_en_dolar();
        });
        /*AL CAMBIA PRECIO DE DOLAR -> AFECTAR LISTA DE CONCEPTOS Y CONCEPTO ACTUAL */

        /*FUNCION PARA MODIFICAR EL PRECIO DEL DOLAR*/
        $("#cambiar_precio_dolar").click(function () {
            idSucursal = $("#id_sucursal option:selected").val();
            if (parseInt(idSucursal) != NaN) {
                url = '@Url.Action("ModalEditarPrecioDolar", "Tipo_de_cambio")';
                $.ajax({
                    url: url,
                    data: { idSucursal: idSucursal },
                    success: function (vistaParcial) {
                        bootbox.dialog({
                            className: "ModalEditarPrecioDolar",
                            message: vistaParcial,
                            closeButton: false,
                            onEscape: true
                        });
                    },
                    async: false
                });
            }
        });
        /*FUNCION PARA MODIFICAR EL PRECIO DEL DOLAR*/

        /*FUNCION CUANDO SE CAMBIA LA SUCURSAL*/
        $("#id_sucursal").change(function () {
            traer_precio_actual_dolar();
            actualiza_txt_codigo();
            actualiza_txt_cliente();
            actualiza_cbx_tipo_precio();
            reiniciar_conceptos_por_venta();
            if ($("#txt_cliente").val() != "") {
                traer_datos_cliente();
            }
            $("#codigo_producto").focus();
            calcula_totales();
        });
        /*FUNCION CUANDO SE CAMBIA LA SUCURSAL*/

        /*FUNCION PARA ACTUALIZAR DATOS DEL CLIENTE A LA HORA QUE EL CAMPO PIERDA EL FOCUS*/
        $("#txt_cliente").focusout(function () {
            traer_datos_cliente();
        });
        /*FUNCION PARA ACTUALIZAR DATOS DEL CLIENTE A LA HORA QUE EL CAMPO PIERDA EL FOCUS*/

        /*FUNCION PARA ACTUALIZAR EL PRECIO DE UN PRODUCTO CUANDO CAMBIE EL TIPO DE PRECIO*/
        $("#Input_TipoPrecioId").change(function () {
            traer_precio();
        });
        /*FUNCION PARA ACTUALIZAR EL PRECIO DE UN PRODUCTO CUANDO CAMBIE EL TIPO DE PRECIO*/

        /*FUNCION PARA ACTUALIZAR EL PRECIO CUANDO SE CAMBIE LA CANTIDAD DE UN PRODUCTO*/
        //$("#txt_cantidad").focus(function () {
        //    idTipoPrecio = $("#TipoPrecioId option:selected").val();
        //    $("#Input_TipoPrecioId option[value='" + idTipoPrecio + "']").prop('selected', true);
        //    traer_precio();
        //});
        $(document).on("change", "#txt_cantidad", function () {
            if (respetar_inventario) {
                var cantidad_en_existencia = 0;
                var cantidad_a_veneder = $(this).val();
                idTipoPrecio = $("#TipoPrecioId option:selected").val();
                $("#Input_TipoPrecioId option[value='" + idTipoPrecio + "']").prop('selected', true);

                _codigo = $("#codigo_producto").val();
                _idsucursal = $("#id_sucursal option:selected").val();
                if ($("#codigo_producto").val().indexOf('|') != -1) {
                    _codigo = $("#codigo_producto").val().split('|')[0];
                }
                cantidad_en_existencia = traer_inventario_utilizado(_codigo);
                if ($("#codigo_producto").val() != "" && cantidad_en_existencia >= cantidad_a_veneder) {
                    traer_precio();
                }
                else {
                    $('#agregar_concepto').hide();
                    $('#cantidad_inventario').html("Solo hay " + cantidad_en_existencia  + " productos registrados en el inventario");
                    $("#AlertaProductoNoSuficienteInventario").slideDown('slow').delay(6000).slideUp('slow');
                    $(this).val("");
                }
            }
            else
            {
                if ($("#codigo_producto").val() != "") {
                    traer_precio();
                }
                else {
                    $('#agregar_concepto').hide();
                    $(this).val("");
                }
            }
        });
        /*FUNCION PARA ACTUALIZAR EL PRECIO CUANDO SE CAMBIE LA CANTIDAD DE UN PRODUCTO*/
        //blur sobre el txtbox cantitidad
        $('#txt_cantidad').blur(function () {
            if ($(this).val() == 0) {
                $(this).val('');
            }
        });
        if(respetar_inventario)
        {
            verificar_cambios_inventario();
        }

        /*
        Función para verificar el si hay afectaciones por parte del inventario
        con respecta a la venta que se va a realizar.
        */

        function verificar_cambios_inventario(){
            var id_sucursal = $("#id_sucursal option:selected").val();
            var cantidad_actual_inventario;
            var existen_cambios = false;
            $('.RenglonVenta').each(function(){
                var codigo_individual = $(this).children('.codigo').html();
                var producto_individual = $(this).children('.producto').html();
                //var cantidad_individual = parseFloat($(this).find('.cantidad').val()).toFixed(2);
                var cantidad_individual = parseFloat($(this).find('.cantidad').val());
                var tipo_precio_individual = $(this).children('.tipo_precio').html();

                //cantidad_actual_inventario = traer_cantidad_inventario(codigo_individual.trim(), id_sucursal).toFixed(2);
                cantidad_actual_inventario = traer_cantidad_inventario(codigo_individual.trim(), id_sucursal);
				if (parseFloat(cantidad_actual_inventario) < parseFloat(cantidad_individual)) 
                {
                    var diferencia = cantidad_actual_inventario - cantidad_individual;
                    //diferencia = diferencia.toFixed(2);
                    diferencia = diferencia;
                    var nuevo_tr = '<tr>' +
                                    '<td class="di_codigo" style="border: 0px;">' + codigo_individual + '</td>' +
                                    '<td class="di_producto" style="border: 0px;">' + producto_individual + '</td>' +
                                    '<td class="di_cantidad_guardada" style="border: 0px;">' + cantidad_individual + '</td>' +
                                    '<td class="di_cantidad_inventario" style="border: 0px;">' + cantidad_actual_inventario + '</td>' +
                                    '<td class="di_diferencia" style="border: 0px;">' + diferencia + '</td>' +
                                '</tr>';
                    $("#cuerpo_tabla_diferencia_inventario").append(nuevo_tr);
                    //$(this).find('.cantidad').val(cantidad_actual_inventario);
                    //$(this).remove();
                    $(this).find('.cantidad').val(cantidad_actual_inventario);
                    if (cantidad_actual_inventario <= 0) {
                        $(this).remove();
                    }
                    existen_cambios = true;
                }
                if(existen_cambios)
                {
                    setTimeout(function () {
                        //$('#loading').fadeOut(400, "linear");
                        $('.tr_cambio_inventario').show(3000);
                    }, 300);
                    calcula_totales();
                }
            });
        }
    });

    /*FUNCION PARA PODER MODIFICAR EL PRECIO AL MOMENTO DE HACER LA VENTA*/
    $(document).on("click", "#btn_editar_precio", function () {
        _codigo = $("#codigo_producto").val();
        if ($("#codigo_producto").val().indexOf('|') != -1) {
            _codigo = $("#codigo_producto").val().split('|')[0];
        }
        id_tipo_precio = $("#Input_TipoPrecioId").val();
        id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("ModalEditarPrecioProducto")';
        var _vista_parcial
        $.ajax({
            url: url,
            data: { codigo: _codigo, id_tipo_precio: id_tipo_precio, id_sucursal: id_sucursal },
            success: function (vistaParcial) {
                bootbox.dialog({
                    className: "ModalEditarPrecioProducto",
                    message: vistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    });
    /*FUNCION PARA PODER MODIFICAR EL PRECIO AL MOMENTO DE HACER LA VENTA*/

    /*FUNCION PARA ACTUALIZAR DATOS DEL CLIENTE A LA HORA DE DAR ENTRE EN EL CAMPO*/
    $(document).on("keyup", "#txt_cliente", function (e) {
        cadena = $(this).val();
        if (e.which == 13) {//enter
            traer_datos_cliente();
        }
    });
    /*FUNCION PARA ACTUALIZAR DATOS DEL CLIENTE A LA HORA DE DAR ENTRE EN EL CAMPO*/

    /*FUNCION PARA ACTUALIZAR EL PRECIO CUANDO SE CAMBIE EL TIPO DE PRECIO*/
    $(document).on("keydown", "#Input_TipoPrecioId", function (event) {
        event.preventDefault();
        var charCode = (event.which) ? event.which : event.keyCode
        if (charCode == 37 || charCode == 38 || charCode == 39 || charCode == 40) {
            traer_precio();
        }
        else {
            if (charCode == 13) {
                traer_precio();
                if (isNaN(parseFloat($("#id_precio").text()))) {
                    if ($("#id_precio").text() != "NO EXISTE")
                    { agregar_precio(); }
                }
                else {
                    //traer_precio_y_agregar_a_lista();
                    $('#agregar_concepto').trigger('click');
                    $("#TdPrecioUnitario").html("");
                }
            }
        }
    });
    /*FUNCION PARA ACTUALIZAR EL PRECIO CUANDO SE CAMBIE EL TIPO DE PRECIO*/

    /*FUNCION KEYUP PARA EL CAMPO DE CODIGO DE PRODUCTO*/
    $(document).on("keyup", "#codigo_producto", function (event) {
        cadena = $(this).val();
        var charCode = (event.which) ? event.which : event.keyCode
        _cantidad = 1;
        if (charCode == 106 || charCode == 171 || charCode == 187) {//asterisco
            if (cadena.split('*').length != 1) {
                _cantidad = cadena.split('*')[0].replace(/\D/g, '');
            }
            $(this).val("");
            $("#txt_cantidad").val(_cantidad);
        }
        if (event.which == 13) {//enter
            if (cadena != "") {
                idTipoPrecio = $("#TipoPrecioId option:selected").val();
                $("#Input_TipoPrecioId option[value='" + idTipoPrecio + "']").prop('selected', true);
                $("#Input_TipoPrecioId").focus();
                traer_precio();
            }
        }
    });
    /*FUNCION KEYUP PARA EL CAMPO DE CODIGO DE PRODUCTO*/

    $(document).on("blur", "#codigo_producto", function () {
        var seguir = true;
        _codigo = $("#codigo_producto").val();
        _descripcion = "";
        _idsucursal = $("#id_sucursal option:selected").val();
        if ($("#codigo_producto").val().indexOf('|') != -1) {
            _codigo = $("#codigo_producto").val().split('|')[0];
            _descripcion = $("#codigo_producto").val().split('|')[1];
        }
        if (respetar_inventario) {
            seguir = traer_existencia_inventario(_codigo, _idsucursal);
            if (seguir) 
			{
                traer_precio();
            }
            else {
                if (_codigo != '') {
                    var cantidad_en_existencia = traer_cantidad_inventario(_codigo, _idsucursal);
                    if (parseFloat(cantidad_en_existencia) <= 0)
                    {
                        cantidad_en_existencia = 0;
                    }
                    $('#TdInventario').html("<span style='color: red;'>" + cantidad_en_existencia + "</span>");
                    $("#AlertaProductoSinInventario").slideDown('slow').delay(3000).slideUp('slow');
                }
            }
        }
        else
        {
            traer_precio();
        }
    });

    /*FUNCION KEYUP PARA EL CAMPO DE CANTIDAD*/
    $(document).on("keyup", "#txt_cantidad", function (e) {
        cadena = $(this).val();
        _cantidad = 1;
        if (e.which == 13) {//enter
            if (cadena != "" && cadena != 0) {
                if (isNaN(parseFloat($("#id_precio").text()))) {
                    if ($("#id_precio").text() != "NO EXISTE")
                    { 
                        agregar_precio();
                    }
                }
                else {
                    if (respetar_inventario) {
                        var cantidad_en_existencia = 0;
                        var cantidad_a_veneder = $(this).val();
                        idTipoPrecio = $("#TipoPrecioId option:selected").val();
                        $("#Input_TipoPrecioId option[value='" + idTipoPrecio + "']").prop('selected', true);

                        _codigo = $("#codigo_producto").val();
                        _idsucursal = $("#id_sucursal option:selected").val();
                        if ($("#codigo_producto").val().indexOf('|') != -1) {
                            _codigo = $("#codigo_producto").val().split('|')[0];
                        }
                        cantidad_en_existencia = traer_inventario_utilizado(_codigo);
                        if ($("#codigo_producto").val() != "" && cantidad_en_existencia >= cantidad_a_veneder) {
                            //traer_precio_y_agregar_a_lista();
                            $('#agregar_concepto').trigger('click');
                            $("#TdPrecioUnitario").html("");
                            $("#TdInventario").html("");
                        }
                        else {
                            $('#agregar_concepto').hide();
                            $('#cantidad_inventario').html("Solo hay " + cantidad_en_existencia + " productos registrados en el inventario");
                            $("#AlertaProductoNoSuficienteInventario").slideDown('slow').delay(6000).slideUp('slow');
                            $(this).val("");
                        }
                    }
                    else{
                        idTipoPrecio = $("#TipoPrecioId option:selected").val();
                        $("#Input_TipoPrecioId option[value='" + idTipoPrecio + "']").prop('selected', true);
                        if ($("#codigo_producto").val() != "") {
                            //traer_precio_y_agregar_a_lista();
                            $('#agregar_concepto').trigger('click');
                        }
                    }
                }
            }
        }
    });
    /*FUNCION KEYUP PARA EL CAMPO DE CANTIDAD*/

    /*FUNCION PARA AGREGAR UN CONCEPTO*/
    $(document).on("click", "#agregar_concepto", function () {
        if ($('#txt_cantidad').val() != '' && $('#txt_cantidad').val() != 0) {
            traer_precio_y_agregar_a_lista();
        }
        else {
            $('#txt_cantidad').focus();
            $("#AlertaCantidadProducto").slideDown('slow').delay(3000).slideUp('slow');
        }
    });
    /*FUNCION PARA AGREGAR UN CONCEPTO*/

    /*FUNCION KEYUP PARA CUANDO SE AGREGA UN NUEVO PRECIO*/
    $(document).on("keyup", ".agregar_nuevo_precio", function (event) {
        var charCode = (event.which) ? event.which : event.keyCode
        if (charCode == 27) {
            $(".agregar_nuevo_precio").modal("hide");
            $("#Input_TipoPrecioId").focus();
        }
        if (charCode == 13) {//enter
            if (cadena != "") {
                guardarPrecio();
                $(".agregar_nuevo_precio").modal("hide");
                $("#Input_TipoPrecioId").focus();
            }
        }
    });
    /*FUNCION KEYUP PARA CUANDO SE AGREGA UN NUEVO PRECIO*/

    /*FUNCION PARA EN EL CAMPO DE CANTIDAD SOLO PERMITA DECIMALES*/
    $('#txt_cantidad').bind('keypress', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
    /*FUNCION PARA EN EL CAMPO DE CANTIDAD SOLO PERMITA DECIMALES*/

    /*FUNCION PARA AGREGAR PRODUCTO DESDE VENTANA FLOTANTE DE PRODUCTOS*/
    $(document).on("dblclick", ".ModalListaProductos #tabla_lista_productos tbody tr", function (event) {
        codigo = $(this).children(".codigo_selecciona_producto").text();
        descripcion = $(this).children(".descripcion_selecciona_producto").text();
        $("#codigo_producto").val(codigo + " | " + descripcion);
        $(".bootbox").modal("hide");
        traer_precio();
        $("#Input_TipoPrecioId").focus();
        $("#Input_TipoPrecioId").select();
    });
    /*FUNCION PARA AGREGAR PRODUCTO DESDE VENTANA FLOTANTE DE PRODUCTOS*/

    /*FUNCION PARA ELIMINAR UN CONCEPTO DE LA VENTA*/
    $(document).on("click", ".eliminar_concepto", function () {
        $(this).closest("tr").remove();
        calcula_totales();
    });
    /*FUNCION PARA ELIMINAR UN CONCEPTO DE LA VENTA*/

    /*FUNCION PARA HABILITAR EL CTRL+Z*/
    document.addEventListener('keydown', function (event) {
        if (event.keyCode == 90 && event.ctrlKey) {
            $("#TablaConceptos tbody .RenglonVenta:last").remove();
            calcula_totales();
        }
    }, false);
    /*FUNCION PARA HABILITAR EL CTRL+Z*/

    /*FUNCION PARA HABILITAR LAS TECLAS RAPIDAS EN CASO DE QUE EL NAVEGADOR SEA FIREFOX*/
    $(document).bind('keydown', function (event) {
        if ($(".bootbox").length == 0) {
            if (!Lock_keypress) {
                var charCode = event.keyCode
                if (charCode === 112 /*F1*/) {
                    $("#codigo_producto").focus();
                }
                @*if (charCode === 113 /*F2*/) {
                    Lock_keypress = true;
                    var url = '@Url.Action("ModalListaProductos", "Producto")';
                    var _vista_parcial
                    $.ajax({
                        url: url,
                        data: { idSucursal: $("#id_sucursal option:selected").val() },
                        success: function (vistaParcial) {
                            bootbox.dialog({
                                className: "ModalListaProductos",
                                message: vistaParcial,
                                closeButton: false,
                                onEscape: true
                            });
                            Lock_keypress = false;
                        },
                        async: false
                    });
                }*@
                if (charCode === 113 /*F2*/) {
                    var url = '@Url.Action("ModalProductos")';
                    var _vista_parcial;
                    $.ajax({
                        url: url,
                        data: {},
                        success: function (vistaParcial) {
                            bootbox.dialog({
                                className: "ModalListaProductos",
                                message: vistaParcial,
                                closeButton: false,
                                onEscape: true
                            });
                        },
                        async: false
                    });
                }
                if (charCode === 114 /*F3*/) {
                    event.preventDefault();
                    confirmar_venta()
                }
                if (charCode === 115 /*F4*/) {
                    cancelar_venta()
                }
            }
        }
    });
    /*FUNCION PARA HABILITAR LAS TECLAS RAPIDAS EN CASO DE QUE EL NAVEGADOR SEA FIREFOX*/

    function CambiarPrecioEditado() {
        if ($(".ModalEditarPrecioProducto #nuevo_precio_editado").val() == '') {
            $("#AlertaFormulario").slideDown('slow').delay(3000).slideUp('slow');
        } else {
            $('.ModalEditarPrecioProducto').modal('hide');
            if (!precios_netos)
            {
                $("#id_precio").text($("#nuevo_precio_editado").val());
            }
            else
            {
                var porcentaje_iva_producto = parseFloat($('.ModalEditarPrecioProducto #porcentaje_iva_producto').val());
                var precio_unitario = parseFloat($("#nuevo_precio_editado").val()) / (1 + (parseFloat(porcentaje_iva_producto) / 100));
                $("#id_precio").text(parseFloat(precio_unitario));
            }
            agregar_a_lista();
        }
    }

    function cambiar_precio_dolar() {
        $('.ModalEditarPrecioDolar').modal('hide');
        nuevo_precio_dolar = $("#txt_nuevo_precio_dolar").val();
        var url = '@Url.Action("EditarPrecioDolar", "Tipo_de_cambio")';
        $.ajax({
            url: url,
            data: { nuevo_precio_dolar: nuevo_precio_dolar, idSucursal: idSucursal },
            success: function (result) {
                if (result.success) {
                    traer_precio_actual_dolar();
                }
                else {
                    alert("Error al guardar precio del dolar");
                }
            }
        });
    }

    function traer_precio_actual_dolar() {
        var idSucursal = $("#id_sucursal option:selected").val();
        var url = '@Url.Action("traerPrecioActualDolar", "Tipo_de_cambio")';
        $.ajax({
            url: url,
            data: { idSucursal: idSucursal },
            success: function (result) {
                $("#txtbox_precio_dolar").val(result);
                actualizar_precio_conceptos_en_dolar();
            },
            async: false
        });
    }

    function actualizar_precio_conceptos_en_dolar() {
        precio_dolar = $("#txtbox_precio_dolar").val();
        if ($("#PrecioDolar").text() != "") {
            precio_unitario_dolares = $("#PrecioDolar").text();
            //_precio_actualizado = parseFloat(precio_dolar).toFixed(2) * parseFloat(precio_unitario_dolares).toFixed(2);
            _precio_actualizado = parseFloat(precio_dolar) * parseFloat(precio_unitario_dolares);
            ////////C O N F I G U R A C I O N E S
            // OPCION DE EDITAR PRECIO DINAMICAMENTE EN LA VENTA
            if (editar_precio_dinamicamente) {
                $("#TdPrecioUnitario").html("<label>$<label id='id_precio_redondeado'>" + decimalAdjust('round', _precio_actualizado, -2) + "</label></label><label id='id_precio' style='display:none;'>" + _precio_actualizado + "</label><a id='btn_editar_precio' class='btn btn-info' style='margin: 0px; margin-left: 10px;'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-pencil'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
                $('#TdAccion').html("<a id='agregar_concepto' class='btn btn-success'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-plus'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
            }
            else {
                $("#TdPrecioUnitario").html("<label>$<label id='id_precio_redondeado'>" + decimalAdjust('round', _precio_actualizado, -2) + "</label></label><label id='id_precio' style='display:none;'>" + _precio_actualizado + "</label>");
                $('#TdAccion').html("<a id='agregar_concepto' class='btn btn-success'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-plus'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
            }
        }
        //actualizar precio en la lista de conceptos
        $("#TablaConceptos tbody .RenglonVenta").each(function () {
            id = $(this).attr("id");
            //precio_unitario_en_dolares = parseFloat($("#" + id + " .precio_unitario_dolares").text()).toFixed(2);
            //precio_unitario_en_dolares = parseFloat($("#" + id + " .precio_unitario_dolares").text());
            precio_unitario_en_dolares = parseFloat($(this).find('.precio_unitario_dolares').text());
            if (precio_unitario_en_dolares > 0) {
                //cantidad = $("#" + id + " .cantidad").val();
                cantidad = parseFloat($(this).find('.cantidad').val());
                //precio_U = $("#" + id + " .precio_u").text();
                precio_U = parseFloat($(this).find('.precio_u').html());
                //precio_U_actualizado = parseFloat(precio_unitario_en_dolares * precio_dolar).toFixed(2);
                precio_U_actualizado = parseFloat(precio_unitario_en_dolares * precio_dolar);
                _precio_actualizado = precio_U_actualizado * cantidad;
                //_precio_actualizado_con_iva = (_precio_actualizado * (1 + (parseFloat($(this).find('.iva_producto').text()) / 100))).toFixed(2);
                //_precio_actualizado_con_iva = (_precio_actualizado * (1 + (parseFloat($(this).find('.iva_producto').text()) / 100)));
                //actualizar
                //$("#" + id + " .precio_u").text(precio_U_actualizado);
                //$("#" + id + " .importe").text(_precio_actualizado);
                //$("#" + id + " .importe_sin_iva").text(_precio_actualizado_con_iva);
                $("#" + id + " .precio_u").text(precio_U_actualizado);
                $("#" + id + " .precio_u_redondeado").text(precio_U_actualizado);
                $("#" + id + " .importe").text(_precio_actualizado);
                $("#" + id + " .importe_sin_iva").text(_precio_actualizado);
            }
        });
        calcula_totales();
    }

    function separarCantidad() {
        _cantidad = "";
        _codigo = "";
        if (_cantidad_y_Codigo_producto.indexOf("emisor") != -1) {
            _codigoProducto_val = $("#codigo_producto").val().split('|')[0];
            _cantidad = 1;
        }
        else {
            _codigoProducto_val = $("#codigo_producto").val().split('|')[0];
            _cantidad = _codigoProducto_val.split('*')[0];
        }
        $("#txt_cantidad").val(_cantidad)
        $("#codigo_producto").val(_codigo)
    }

    function traer_datos_cliente() {
        _nombre = $("#txt_cliente").val();
        if (_nombre == undefined)
        {
            _nombre = "Mostrador";
        }
        _idsucursal = $("#id_sucursal option:selected").val();
        var url = '@Url.Action("traer_datos_cliente")';
        var _vistaPacialTxtBoxRFC
        $.ajax({
            url: url,
            data: { nombre: _nombre, idSucursal: _idsucursal },
            success: function (data) {
                if (data.success) {
                    $("#TipoPrecioId option[value='" + data.id_tipo_precio + "']").prop('selected', true);
                    $("#codigo_producto").focus();
                    $("#id_cliente").val(data.id_cliente);
                }
                else {
                    $("#AlertaCliente").slideDown('slow').delay(3000).slideUp('slow');
                }
            },
            async: false
        });
    }

    function traer_precio() {
        _codigo = $("#codigo_producto").val();
        _descripcion = "";
        _idsucursal = $("#id_sucursal option:selected").val();
        if ($("#codigo_producto").val().indexOf('|') != -1) {
            _codigo = $("#codigo_producto").val().split('|')[0];
            _descripcion = $("#codigo_producto").val().split('|')[1];
            $('#TdCodigo').html(_codigo);
        }
        _id_tipo_precio = $("#Input_TipoPrecioId option:selected").val();
        var url = '@Url.Action("traer_precio")';
        $.ajax({
            url: url,
            data: { codigoProducto: _codigo, idtipoPrecio: _id_tipo_precio, idSucursal: _idsucursal },
            success: function (result) {
                if (result.existe) {
                    if (result.precio != "") {
                        _precio = 0;
                        _iva = result.iva;
                        if (result.precioDolar) {
                            var precio_en_dolares = 0;
                            precio_dolar = parseFloat($("#txtbox_precio_dolar").val());
                            if (precios_netos) {
                                var porcentaje_total = 100 + parseFloat(_iva);
                                var una_porciento = parseFloat(result.precio) / parseFloat(porcentaje_total);
                                var cien_porciento = parseFloat(una_porciento) * 100;
                                //_precio = parseFloat(cien_porciento).toFixed(2);
                                precio_en_dolares = parseFloat(cien_porciento);
                            }
                            else {
                                precio_en_dolares = parseFloat(result.precio);
                            }
                            //_precio = (parseFloat(result.precio) * precio_dolar).toFixed(2);
                            _precio = (parseFloat(precio_en_dolares) * precio_dolar);
                            $("#ImagenDolar").show();
                            $("#PrecioDolar_redondeado").text(decimalAdjust('round', precio_en_dolares, -2));
                            $("#PrecioDolar").text(precio_en_dolares);
                        }
                        else {
                            $("#ImagenDolar").hide();
                            $('#PrecioDolar_redondeado').html('');
                            $('#PrecioDolar').html('');
                            _precio = parseFloat(result.precio);
                            if (precios_netos) {
                                var porcentaje_total = 100 + parseFloat(_iva);
                                var una_porciento = parseFloat(_precio) / parseFloat(porcentaje_total);
                                var cien_porciento = parseFloat(una_porciento) * 100;
                                //_precio = parseFloat(cien_porciento).toFixed(2);
                                _precio = parseFloat(cien_porciento);
                            }
                        }
                        ////////C O N F I G U R A C I O N E S
                        // quitar el iva y mostrar importe sin iva si precios netos = tre
                        //if (precios_netos) {
                        //    var porcentaje_total = 100 + parseFloat(_iva);
                        //    var una_porciento = parseFloat(_precio) / parseFloat(porcentaje_total);
                        //    var cien_porciento = parseFloat(una_porciento) * 100;
                        //    //_precio = parseFloat(cien_porciento).toFixed(2);
                        //    _precio = parseFloat(cien_porciento);
                        //}
                        // OPCION DE EDITAR PRECIO DINAMICAMENTE EN LA VENTA
                        if (editar_precio_dinamicamente) {
                            $("#TdPrecioUnitario").html("<label>$<label id='id_precio_redondeado'>" + decimalAdjust('round', _precio, -2) + "</label></label><label id='id_precio' style='display:none;'>" + _precio + "</label><a id='btn_editar_precio' class='btn btn-info' style='margin: 0px; margin-left: 10px;'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-pencil'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
                            $('#TdAccion').html("<a id='agregar_concepto' class='btn btn-success'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-plus'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
                        }
                        else {
                            $("#TdPrecioUnitario").html("<label>$<label id='id_precio_redondeado'>" + decimalAdjust('round', _precio, -2) + "</label></label><label id='id_precio' style='display:none;'>" + _precio + "</label>");
                            $('#TdAccion').html("<a id='agregar_concepto' class='btn btn-success'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-plus'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
                        }
                        //$("#id_precio").text(result.precio);
                        //agregar a la lista de compra
                        cantidad = $("#txt_cantidad").val();
                        importe = parseFloat(cantidad) * parseFloat(result.precio);
                        _descripcion = result.descripcion;
                        $("#codigo_producto").val(_codigo + "|" + _descripcion);
                        if (respetar_inventario) {
                            cantidad_en_existencia = traer_cantidad_inventario(_codigo.trim(), _idsucursal);
                            var cantidad_parcial_inventario = traer_inventario_utilizado(_codigo);
                            $('#TdInventario').html(cantidad_parcial_inventario);
                        }
                    }
                    else {
                        $('#TdAccion').html('');
                        $("#AlertaPrecioProducto").slideDown('slow').delay(3000).slideUp('slow');
                        $("#TdPrecioUnitario").html("<a class='btn btn-info' onclick='agregar_precio()'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-plus'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
                    }
                }
                else {
                    $("#AlertaProducto").slideDown('slow').delay(3000).slideUp('slow');
                }
            },
            async: false
        });
    }

    function traer_precio_y_agregar_a_lista() {
        _codigo = $("#codigo_producto").val();
        _descripcion = "";
        _idsucursal = $("#id_sucursal option:selected").val();
        if ($("#codigo_producto").val().indexOf('|') != -1) {
            _codigo = $("#codigo_producto").val().split('|')[0];
            _descripcion = $("#codigo_producto").val().split('|')[1]
        }
        _id_tipo_precio = $("#Input_TipoPrecioId option:selected").val();
        _tipo_precio = $("#Input_TipoPrecioId option:selected").text();
        var _iva_producto
        var es_repetido = es_producto_repetido(_codigo, _id_tipo_precio);
        if (es_repetido) {
            var sumo_correctamente = sumar_cantidad(_codigo, _id_tipo_precio, parseFloat($("#txt_cantidad").val()));    
            if (sumo_correctamente){
                $("#txt_cantidad").val("1");
                $("#codigo_producto").val("");
                $("#id_precio").text("");
                $("#id_precio_redondeado").text("");
                $('#TdAccion').html('');
                $("#codigo_producto").focus();
                $('#TdCodigo').html('');
                $('#TdInventario').html('');
                calcula_totales();
                $("#btn_editar_precio").hide();
                $("#ImagenDolar").hide();
                $('#PrecioDolar').html('');
                $('#PrecioDolar_redondeado').html('');
            } 
        }
        else {
            var url = '@Url.Action("traer_precio")';
            $.ajax({
                url: url,
                data: { codigoProducto: _codigo, idtipoPrecio: _id_tipo_precio, idSucursal: _idsucursal },
                success: function (result) {
                    if (result.success) {
                        _precio = 0;
                        _precio_unitario_en_dolares = 0;
                        _iva = result.iva;
                        //if (result.precioDolar) {
                        //    //_precio_unitario_en_dolares = parseFloat(result.precio).toFixed(2);
                        //    _precio_unitario_en_dolares = parseFloat(result.precio);
                        //    precio_dolar = parseFloat($("#txtbox_precio_dolar").val());
                        //    //_precio = (parseFloat(result.precio) * precio_dolar).toFixed(2);
                        //    _precio = (parseFloat(result.precio) * precio_dolar);
                        //    $("#ImagenDolar").show();
                        //    $("#PrecioDolar").text(result.precio);
                        //}
                        //else {
                        //    //_precio = parseFloat(result.precio).toFixed(2);
                        //    _precio = parseFloat(result.precio);
                        //}
                        if (result.precioDolar) {
                        var precio_en_dolares = 0;
                        precio_dolar = parseFloat($("#txtbox_precio_dolar").val());
                        if (precios_netos) {
                            var porcentaje_total = 100 + parseFloat(_iva);
                            var una_porciento = parseFloat(result.precio) / parseFloat(porcentaje_total);
                            var cien_porciento = parseFloat(una_porciento) * 100;
                            //_precio = parseFloat(cien_porciento).toFixed(2);
                            precio_en_dolares = parseFloat(cien_porciento);
                        }
                        else {
                            precio_en_dolares = parseFloat(result.precio);
                        }
                        //_precio = (parseFloat(result.precio) * precio_dolar).toFixed(2);
                        _precio = (parseFloat(precio_en_dolares) * precio_dolar);
                        $("#ImagenDolar").show();
                        $("#PrecioDolar_redondeado").text(decimalAdjust('round', precio_en_dolares, -2));
                        $("#PrecioDolar").text(precio_en_dolares);
                    }
                    else {
                        $("#ImagenDolar").hide();
                        $('#PrecioDolar_redondeado').html('');
                        $('#PrecioDolar').html('');
                        _precio = parseFloat(result.precio);
                        if (precios_netos) {
                            var porcentaje_total = 100 + parseFloat(_iva);
                            var una_porciento = parseFloat(_precio) / parseFloat(porcentaje_total);
                            var cien_porciento = parseFloat(una_porciento) * 100;
                            //_precio = parseFloat(cien_porciento).toFixed(2);
                            _precio = parseFloat(cien_porciento);
                        }
                    }
                        ////////C O N F I G U R A C I O N E S
                        // quitar el iva y mostrar importe sin iva si precios netos = tre
                        //if (precios_netos) {
                        //    var porcentaje_total = 100 + parseFloat(_iva);
                        //    var una_porciento = parseFloat(_precio) / parseFloat(porcentaje_total);
                        //    var cien_porciento = parseFloat(una_porciento) * 100;
                        //    //_precio = parseFloat(cien_porciento).toFixed(2);
                        //    _precio = parseFloat(cien_porciento);
                        //}
                        // OPCION DE EDITAR PRECIO DINAMICAMENTE EN LA VENTA
                        if (editar_precio_dinamicamente) {
                            $("#TdPrecioUnitario").html("<label>$<label id='id_precio_redondeado'>" + decimalAdjust('round', _precio, -2) + "</label></label><label id='id_precio' style='display:none;'>" + _precio + "</label></label><a id='btn_editar_precio' class='btn btn-info' style='margin: 0px; margin-left: 10px;'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-pencil'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
                            $('#TdAccion').html("<a id='agregar_concepto' class='btn btn-success'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-plus'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
                        }
                        else {
                            $("#TdPrecioUnitario").html("<label>$<label id='id_precio_redondeado'>" + decimalAdjust('round', _precio, -2) + "</label></label><label id='id_precio' style='display:none;'>" + _precio + "</label></label><a id='agregar_concepto' class='btn btn-success'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-plus'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
                        }
                        //agregar a la lista de compra
                        cantidad = $("#txt_cantidad").val();
                        //importe = (parseFloat(cantidad) * parseFloat(result.precio)).toFixed(2);
                        //importe = (parseFloat(cantidad) * parseFloat(_precio)).toFixed(2);
                        importe = (parseFloat(cantidad) * parseFloat(_precio));
                        //importe_sin_iva = (importe * (1 + (parseFloat($(this).find('.iva_producto').text()) / 100))).toFixed(2);
                        importe_sin_iva = (importe * (1 + (parseFloat($(this).find('.iva_producto').text()) / 100)));
                        _descripcion = result.descripcion;
                        if (result.precioDolar) {
                            renglon = "<tr id='r_" + num_renglon + "' class='RenglonVenta' name='" + num_renglon + "'>" +
                                    "<td class='codigo' style='text-align: center;border: 0px;'>" + _codigo + "</td>" +
                                    "<td class='producto' style='text-align: center;border: 0px;'>" + _descripcion + "</td>" +
                                    "<td style='text-align: center;border: 0px;'><input type='text' class='form-control cantidad' value='" + cantidad + "' style='text-align:center;' /></td>" +
                                    "<td class='inventario' style='text-align: center;border: 0px;'></td>" +
                                    "<td class='tipo_precio' style='text-align: center;border: 0px;'>" + _tipo_precio + "</td>" +
                                	"<td class='' style='text-align: center;border: 0px;'><span class='precio_unitario_dolares_redondeado'>" + $("#PrecioDolar_redondeado").text() + "</span><img src='@Url.Content("~/assets-minified/images/dolares.png")' style='width: 20px; vertical-align: bottom; margin-left:10px;' />" + "</td>" +
                                    "<td style='text-align: center;border: 0px;'><label>$<label class='precio_u_redondeado'>" + decimalAdjust('round', _precio, -2) + "</label></label><label class='precio_u' style='display:none;'>" + _precio + "</label></td>" +
                                    "<td class='importe' style='display:none;text-align: right;border: 0px;'>" + importe + "</td>" +
                                    "<td style='text-align: center;border: 0px;'><label>$<label  class='importe_sin_iva'>" + importe_sin_iva + "</label></label></td>" +
                                    "<td style='text-align: center;border: 0px;'><a class='btn btn-danger eliminar_concepto'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-times'></i></span><span class='button-content' style='margin-left:6px;'></span></a></td>" +
                                    "<td class='precio_unitario_dolares' style='display:none'>" + $("#PrecioDolar").text() + "</td>" +
                                    "<td class='id_producto' style='display:none'>" + result.id_producto + "</td>" +
                                    "<td class='id_tipo_precio' style='display:none'>" + _id_tipo_precio + "</td>" +
                                    "<td class='iva_producto' style='display:none;'>" + result.iva + "</td>" +
                                "</tr>";
                        }
                        else {
                            renglon = "<tr id='r_" + num_renglon + "' class='RenglonVenta' name='" + num_renglon + "'>" +
                                    "<td class='codigo' style='text-align: center;border: 0px;'>" + _codigo + "</td>" +
                                    "<td class='producto' style='text-align: center;border: 0px;'>" + _descripcion + "</td>" +
                                    "<td style='text-align: center;border: 0px;'><input type='text' class='form-control cantidad' value='" + cantidad + "' style='text-align:center;' /></td>" +
                                    "<td class='inventario' style='text-align: center;border: 0px;'></td>" +
                                    "<td class='tipo_precio' style='text-align: center;border: 0px;'>" + _tipo_precio + "</td>" +
                                    "<td class='' style='text-align: center;border: 0px;'>" + "" + "</td>" +
                                    "<td style='text-align: center;border: 0px;'><label>$<label class='precio_u_redondeado'>" + decimalAdjust('round', _precio, -2) + "</label></label><label class='precio_u' style='display:none;'>" + _precio + "</label></td>" +
                                    "<td class='importe' style='display:none;text-align: right;border: 0px;'>" + importe + "</td>" +
                                    "<td style='text-align: center;border: 0px;'><label>$<label  class='importe_sin_iva'>" + importe_sin_iva + "</label></label></td>" +
                                    "<td style='text-align: center;border: 0px;'><a class='btn btn-danger eliminar_concepto'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-times'></i></span><span class='button-content' style='margin-left:6px;'></span></a></td>" +
                                    "<td class='precio_unitario_dolares' style='display:none'>" + _precio_unitario_en_dolares + "</td>" +
                                    "<td class='id_producto' style='display:none'>" + result.id_producto + "</td>" +
                                    "<td class='id_tipo_precio' style='display:none'>" + _id_tipo_precio + "</td>" +
                                    "<td class='iva_producto' style='display:none;'>" + result.iva + "</td>" +
                                "</tr>";
                        }
                        num_renglon++;
                        $(renglon).insertAfter($("#Busqueda"));
                        $("#txt_cantidad").val("1");
                        $("#codigo_producto").val("");
                        $("#id_precio").text("");
                        $("#id_precio_redondeado").text("");
                        $('#TdAccion').html('');
                        $("#codigo_producto").focus();
                        $('#TdCodigo').html('');
                        $('#TdInventario').html('');
                        $("#TdPrecioUnitario").html('');
                        calcula_totales();
                        //ocultar boton de editar precio
                        $("#btn_editar_precio").hide();
                        //ocultar tr precio en dolares
                        $("#ImagenDolar").hide();
                        $('#PrecioDolar').html('');
                        $('#PrecioDolar_redondeado').html('');
                    }
                    else {
                        $('#TdAccion').html('');
                        $("#AlertaPrecioProducto").slideDown('slow').delay(3000).slideUp('slow');
                        $("#TdPrecioUnitario").html("<a class='btn btn-info' onclick='agregar_precio()'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-plus'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
                    }            },
                async: false
            });
        }
    }

    function agregar_a_lista() {
        _codigo = $("#codigo_producto").val();
        _descripcion = "";
        _idsucursal = $("#id_sucursal option:selected").val();
        if ($("#codigo_producto").val().indexOf('|') != -1) {
            _codigo = $("#codigo_producto").val().split('|')[0];
            _descripcion = $("#codigo_producto").val().split('|')[1]
        }
        _id_tipo_precio = $("#Input_TipoPrecioId option:selected").val();
        _tipo_precio = $("#Input_TipoPrecioId option:selected").text();
        var url = '@Url.Action("traer_precio")';
        $.ajax({
            url: url,
            data: { codigoProducto: _codigo, idtipoPrecio: _id_tipo_precio, idSucursal: _idsucursal },
            success: function (result) {
                if (result.success) {
                    precio = $("#id_precio").text();
                    //precio = parseFloat(precio).toFixed(2);
                    precio = parseFloat(precio);
                    //agregar a la lista de compra
                    cantidad = $("#txt_cantidad").val();
                    //importe = (parseFloat(cantidad) * parseFloat(precio)).toFixed(2);
                    importe = (parseFloat(cantidad) * parseFloat(precio));
                    //importe_sin_iva = (importe * (1 + (parseFloat($(this).find('.iva_producto').text()) / 100))).toFixed(2);
                    importe_sin_iva = (importe * (1 + (parseFloat($(this).find('.iva_producto').text()) / 100)));
                    _descripcion = result.descripcion;
                    renglon = "<tr id='r_" + num_renglon + "' class='RenglonVenta' name='" + num_renglon + "'>" +
                                "<td class='codigo' style='text-align: center;border: 0px;'>" + _codigo + "</td>" +
                                "<td class='producto' style='text-align: center;border: 0px;'>" + _descripcion + "</td>" +
                                "<td style='text-align: center;border: 0px;'><input type='text' class='form-control cantidad' value='" + cantidad + "' style='text-align:center;' /></td>" +
                                "<td class='inventario' style='text-align: center;border: 0px;'></td>" +
                                "<td class='tipo_precio' style='text-align:center;border: 0px;'>Modificado</td>" +
                                "<td class='' style='text-align: center;border: 0px;'>" + "" + "</td>" +
                                "<td style='text-align: center;border: 0px;'><label>$<label class='precio_u_redondeado'>" + decimalAdjust('round', precio, -2) + "</label></label><label class='precio_u' style='display:none;'>" + precio + "</label></td>" +
                                "<td class='importe' style='display:none;text-align: right;'>" + importe + "</td>" +
                                "<td style='text-align: right;border: 0px;'><label>$<label  class='importe_sin_iva'>" + importe_sin_iva + "</label></label></td>" +
                                "<td style='text-align: center;border: 0px;'><a class='btn btn-danger eliminar_concepto'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-times'></i></span><span class='button-content' style='margin-left:6px;'></span></a></td>" +
                                "<td class='id_producto' style='display:none'>" + result.id_producto + "</td>" +
                                "<td class='id_tipo_precio' style='display:none'>" + _id_tipo_precio + "</td>" +
                                "<td class='iva_producto' style='display:none'>" + _iva + "</td>" +
                            "</tr>";
                    num_renglon++;
                    $(renglon).insertAfter($("#Busqueda"));
                    $("#txt_cantidad").val("1");
                    $("#codigo_producto").val("");
                    $("#TdPrecioUnitario").html("");
                    $('#TdAccion').html('');
                    $("#codigo_producto").focus();
                    $('#TdCodigo').html('');
                    $('#TdInventario').html('');
                    calcula_totales();
                    $("#ImagenDolar").hide();
                    $('#PrecioDolar').html('');
                    $('#PrecioDolar_redondeado').html('');
                }
                else {
                    $("#AlertaPrecioProducto").slideDown('slow').delay(3000).slideUp('slow');
                    $("#TdPrecioUnitario").html("<a class='btn btn-info' onclick='agregar_precio()'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-plus'></i></span><span class='button-content' style='margin-left:6px;'></span></a>");
                }
            },
            async: false
        });
    }

    function agregar_precio() {
        url = '@Url.Action("ModalNuevoPrecioProducto", "Producto")';
        var _vista_parcial;
        $.ajax({
            url: url,
            data: {},
            success: function (vistaParcial) {
                bootbox.dialog({
                    className: "ModalNuevoPrecioProducto",
                    message: vistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }

    function es_producto_repetido(codigo_producto, tipo_precio) {
        var es_repetido = false;
        codigo_producto = codigo_producto.trim();
        $('.RenglonVenta').each(function (index) {
            var codigo_individual = $(this).find('.codigo').html().trim();
            var tipo_precio_individual = $(this).find('.id_tipo_precio').html();
            if (codigo_producto == codigo_individual && parseInt(tipo_precio) == parseInt(tipo_precio_individual)) {
                es_repetido = true;
            }
        });
        return es_repetido;
    }

    function sumar_cantidad(codigo_producto, tipo_precio, cantidad) {
        var sumo_correctamente = true;
        codigo_producto = codigo_producto.trim();
        tipo_precio = tipo_precio;
        if (respetar_inventario) {
            var cantidad_en_existencia = 0;
            cantidad_en_existencia = traer_cantidad_inventario(_codigo, _idsucursal);
            $('.RenglonVenta').each(function (index) {
                var codigo_individual = $(this).find('.codigo').html().trim();
                var tipo_precio_individual = $(this).find('.id_tipo_precio').html();
                if (codigo_producto == codigo_individual && parseInt(tipo_precio) == parseInt(tipo_precio_individual)) {
                    var cantidad_individual = parseFloat($(this).find('.cantidad').val());
                    var cantidad_nueva = cantidad_individual + cantidad;
                    if (parseFloat(cantidad_nueva) <= parseFloat(cantidad_en_existencia)) {
                        $(this).find('.cantidad').val(cantidad_nueva);
                        sumo_correctamente = true;
                    }
                    else {
                        $('#agregar_concepto').hide();
                        $('#cantidad_inventario').html("Solo hay " + cantidad_en_existencia + " productos registrados en el inventario.\n" +
                        "Y usted esta intentando vender " + nueva_cantidad_producto);
                        $("#AlertaProductoNoSuficienteInventario").slideDown('slow').delay(8000).slideUp('slow');
                        $('#txt_cantidad').val('');
                        sumo_correctamente = false;
                    }
                }
            });
        } else {
            $('.RenglonVenta').each(function (index) {
                var codigo_individual = $(this).find('.codigo').html().trim();
                var tipo_precio_individual = $(this).find('.id_tipo_precio').html();
                if (codigo_producto == codigo_individual && parseInt(tipo_precio) == parseInt(tipo_precio_individual)) {
                    var cantidad_individual = parseFloat($(this).find('.cantidad').val());
                    var cantidad_nueva = cantidad_individual + cantidad;
                    $(this).find('.cantidad').val(cantidad_nueva);
                    sumo_correctamente = true;
                }
            });
        }
        return sumo_correctamente;
    }

    function reiniciar_conceptos_por_venta() {
        $("#TablaConceptos tbody .RenglonVenta").remove();
    }

    function actualiza_txt_cliente() {
        id_sucursal = $("#id_sucursal option:selected").val();
        var url = '@Url.Action("VistaParcialAutocompleteCliente")';
        var _vistaPacialTxtBoxRFC
        $.ajax({
            url: url,
            data: { id_sucursal: id_sucursal, id_cliente: @Model.Cliente_id },
            success: function (vistaParcial) {
                $("#td_input_cliente").html(vistaParcial);
            },
            async: false
        });
    }

    function actualiza_txt_codigo() {
        _idsucursal = $("#id_sucursal option:selected").val();
        var url = '@Url.Action("VistaParcialAutocompleteProducto")';
        var _vistaPacialTxtBoxRFC
        $.ajax({
            url: url,
            data: { id_sucursal: _idsucursal },
            success: function (vistaParcial) {
                $("#TdProducto").html(vistaParcial);
                $('#codigo_producto').focus();
            },
            async: false
        });
    }

    function actualiza_cbx_tipo_precio() {
        id_sucursal = $("#id_sucursal option:selected").val();
        $.getJSON('@Url.Action("parcial_cbx_tipo_precio")', { id_sucursal: id_sucursal }, function (lista) {
            var select_hijo = $('#TipoPrecioId');
            select_hijo.empty();
            $.each(lista, function (index, tipo) {
                select_hijo.append($('<option/>', {
                    value: tipo.value,
                    text: tipo.text
                }));
            });

            var select_hijo2 = $('#Input_TipoPrecioId');
            select_hijo2.empty();
            $.each(lista, function (index, tipo) {
                select_hijo2.append($('<option/>', {
                    value: tipo.value,
                    text: tipo.text
                }));
            });
        });
    }

    function calcula_totales() {
        importe = 0;
        iva = 0;
        total = 0;
        $("#TablaConceptos tbody .RenglonVenta").each(function () {
            id = $(this).attr("id");
            var cantidad_producto = parseFloat($(this).find('.cantidad').val());
            var precio_producto = parseFloat($(this).find('.precio_u').html());
            //var importe_sin_iva_producto = (parseFloat(cantidad_producto) * parseFloat(precio_producto)).toFixed(2);
            var importe_sin_iva_producto = (parseFloat(cantidad_producto) * parseFloat(precio_producto));
            //var importe_producto = (importe_sin_iva_producto * (1 + (parseFloat($(this).find('.iva_producto').text()) / 100))).toFixed(2);
            var importe_producto = (importe_sin_iva_producto * (1 + (parseFloat($(this).find('.iva_producto').text()) / 100)));
            if (isNaN(importe_sin_iva_producto)) {
                //importe_sin_iva_producto = (0).toFixed(2);
                importe_sin_iva_producto = (0);
            }
            if (isNaN(importe_producto)) {
                //importe_producto = (0).toFixed(2);
                importe_producto = (0);
            }
            $(this).find('.precio_u_redondeado').html(decimalAdjust('round', precio_producto, -2));
            $(this).find('.importe').html(decimalAdjust('round', importe_sin_iva_producto, -2));
            $(this).find('.importe_sin_iva').html(decimalAdjust('round', importe_sin_iva_producto, -2));
            importe += parseFloat(importe_sin_iva_producto);
            //var iva_aux = parseFloat(importe_sin_iva_producto * (parseFloat($(this).find('.iva_producto').text()) / 100).toFixed(2));
            var iva_aux = parseFloat(importe_sin_iva_producto * (parseFloat($(this).find('.iva_producto').text()) / 100));
            iva = parseFloat(iva) + parseFloat(iva_aux);
        });
        //importe = parseFloat(importe).toFixed(2);
        importe = parseFloat(importe);
        //total = (parseFloat(importe) + parseFloat(iva)).toFixed(2);
        total = (parseFloat(importe) + parseFloat(iva));
        if (total > 0) {
            $('#lbl_total').css('color', 'green');
        } else if (total < 0) {
            $('#lbl_total').css('color', 'red');
        } else {
            $('#lbl_total').css('color', 'black');
        }
        //$("#lbl_subtotal").text(parseFloat(importe).toFixed(2));
        $("#lbl_subtotal").text(decimalAdjust('round', importe, -2));
        //$("#lbl_iva").text(iva.toFixed(2));
        $("#lbl_iva").text(decimalAdjust('round', iva, -2));
        //$("#lbl_total").text(parseFloat(total).toFixed(2));
        $("#lbl_total").text(decimalAdjust('round', total, -2));
    }

    function guardarPrecio() {
        $('.ModalNuevoPrecioProducto').modal('hide');
        _precio = $("#nuevo_precio").val();
        var _url2 = '@Url.Action("NuevoPrecioProducto", "Producto")';
        $.ajax({
            url: _url2,
            data: { idSucursal: _idsucursal, codigoProducto: _codigo, idtipoPrecio: _id_tipo_precio, precio: _precio },
            success: function (result) {
                if (result.success) {
                    traer_precio();
                    $("#Input_TipoPrecioId").focus();
                }
                else { alert("error al agregar precio"); }
            }
        });
    }

    $(document).on('keypress', '.cantidad', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });

    $(document).on('change', '.cantidad', function (e) {
        if (respetar_inventario) {
            var cantidad_en_existencia = 0;
            _codigo = $(this).parent().prev().prev().html().trim();
            _idsucursal = $("#id_sucursal option:selected").val();
            var cantidad_en_existencia = traer_cantidad_inventario(_codigo.trim(), _idsucursal);
            var cantidad_utilizada = 0;
            $(".RenglonVenta").each(function () {
                var codigo_tr = $(this).children().html().trim();
                if (codigo_tr == _codigo) {
                    var utilizado_tr_individual = parseFloat($(this).find('td>input.cantidad').val());
                    cantidad_utilizada += parseFloat(utilizado_tr_individual);
                }
            });
            var cantidad_quiere_vender = parseFloat($(this).val());
            if (cantidad_utilizada > cantidad_en_existencia) {
                $('#cantidad_inventario').html("Solo hay " + cantidad_en_existencia + " productos registrados en el inventario." +
                    "Usted quiere vender " + cantidad_utilizada + " y solo se tiene un registro de " + cantidad_en_existencia + " productos en inventario");
                $("#AlertaProductoNoSuficienteInventario").slideDown('slow').delay(9000).slideUp('slow');
                var diferencia = cantidad_utilizada - cantidad_en_existencia;
                var nuevo_valor = cantidad_quiere_vender - diferencia;
                $(this).val(parseFloat(nuevo_valor));
            }
        }
        calcula_totales();
    });

    function cancelar_venta() {
        if (confirmacion_directa) {
            window.location.href = '@Url.Action("EntregaVenta")';
        } else {
            var url = '@Url.Action("ModalCancelarEditarVenta")';
            $.ajax({
                url: url,
                data: {},
                type: "POST",
                success: function (vista) {
                    bootbox.dialog({
                        className: "ModalCancelarEditarVenta",
                        message: vista,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    }

    function confirmar_venta() {
        if (confirmacion_directa) {
            confirmarVenta();
        } else {
            var url = '@Url.Action("ModalConfirmarEditarVenta")';
            $.ajax({
                url: url,
                data: {},
                type: "POST",
                success: function (vista) {
                    bootbox.dialog({
                        className: "ModalConfirmarEditarVenta",
                        message: vista,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    }

    function confirmarVenta() {
        traer_datos_cliente();
        var conceptos = [];
        $("#TablaConceptos tbody .RenglonVenta").each(function () {
            id = $(this).attr("id");
            cantidad = $("#" + id + " .cantidad").val();
            codigo = $("#" + id + " .codigo").text();
            precio_U = $("#" + id + " .precio_u_redondeado").text();
            precio_U_original = $("#" + id + " .precio_u").text();
            importe = $("#" + id + " .importe").text();
            id_producto = $("#" + id + " .id_producto").text();
            id_tipo_precio = $("#" + id + " .id_tipo_precio").text();
            precio_en_dolares = $("#" + id + " .precio_unitario_dolares_redondeado").text();
            precio_en_dolares_original = $("#" + id + " .precio_unitario_dolares").text();
            var iva_unitario;
            var precio_unitario_mas_iva;
            var iva_importe;
            var importe_mas_iva;
            /*  *** *** *** Calcular el iva del la venta *** *** ***
            Se saca el iva de cada producto  y  se  suma,
            tener en cuenta que si el el iva es 0 ¡¡¡No multiplicar por 0!!!
            */
            var iva_producto = parseFloat($(this).find('.iva_producto').html());
            var iva_decimal;
            if (iva_producto > 0) {
                //iva_decimal = parseFloat(iva_producto / 100).toFixed(2);
                iva_decimal = parseFloat(iva_producto / 100);
            }
            else {
                iva_decimal = 0;
            }
            if (iva_decimal > 0) {
                iva_unitario = parseFloat(parseFloat(precio_U) * parseFloat(iva_decimal));
                iva_importe = parseFloat(parseFloat(importe) * parseFloat(iva_decimal));
            }
            else {
                iva_unitario = 0;
                iva_importe = 0;
            }
            precio_unitario_mas_iva = parseFloat(precio_U) + parseFloat(iva_unitario);
            importe_mas_iva = parseFloat(importe) + parseFloat(iva_importe);

            conceptos.push({
                id_producto: id_producto,
                tipoCliente_id: id_tipo_precio,
                cantidad: cantidad,
                precio_unitario: precio_U,
                precio_unitario_original: precio_U_original,
                iva_unitario: iva_unitario,
                precio_unitario_mas_iva: precio_unitario_mas_iva,
                importe: importe,
                iva_importe: iva_importe,
                importe_mas_iva: importe_mas_iva,
                precio_en_dolares: precio_en_dolares,
                precio_en_dolares_original: precio_en_dolares_original,
                codigo: codigo
            });
        });
        if (conceptos.length != 0) {
            var params = {
                'idVenta': "@Html.Raw(Model.id.ToString())",
                'id_cliente': $("#id_cliente").val(),
                'lista_conceptos': conceptos,
                'observaciones': $('#descripcion_venta').val()
            };
            //enviar venta
            var _url2 = '@Url.Action("confirmar_cambios_venta")';
            $.ajax({
                url: _url2,
                type: "POST",
                contentType: 'application/json;',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.success) {
                        url3 = '@Url.Action("EntregaVenta", "Venta")';
                        window.location.href = url3;
                    }
                    else {
                        alert("error al emitir venta");
                    }
                },
                async: false
            });
        }
        else {
            $('.ModalConfirmarEditarVenta').modal('hide');
            var url = '@Url.Action("ModalVentaVacia")';
            var _vista_parcial
            $.ajax({
                url: url,
                data: {},
                success: function (vistaParcial) {
                    bootbox.dialog({
                        className: "ModalVentaVacia",
                        message: vistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    }
    $(document).on('keypress', '.decimal', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
    function traer_existencia_inventario(codigo_producto, id_sucursal) {
        var seguir = true;
        var cantidad = 0;
        var url = '@Url.Action("cantidadEnInventario")';
        $.ajax({
            url: url,
            type: "POST",
            data: { codigo_producto: codigo_producto, id_sucursal: id_sucursal },
            datetype: 'json',
            success: function (result) {
                if (result.success) {
                    if (result.cantidad_en_inventario > 0)
                        seguir = true;
                    else
                        seguir = false;
                }
                else {
                    seguir = false;
                }
            },
            async: false
        });
        return seguir;
    }

    function traer_cantidad_inventario(codigo_producto, id_sucursal) {
        var cantidad = 0;
        var url = '@Url.Action("cantidadEnInventario")';
        $.ajax({
            url: url,
            type: "POST",
            data: { codigo_producto: codigo_producto, id_sucursal: id_sucursal },
            datetype: 'json',
            success: function (result) {
                if (result.success) {
                    cantidad = result.cantidad_en_inventario;
                }
                else {
                    cantidad = -1;
                }
            },
            async: false
        });
        return cantidad;
    }

    function traer_inventario_utilizado(codigo) {
        _codigo = $("#codigo_producto").val();
        _idsucursal = $("#id_sucursal option:selected").val();
        if ($("#codigo_producto").val().indexOf('|') != -1) {
            _codigo = $("#codigo_producto").val().split('|')[0];
        }
        _codigo = _codigo.trim();
        var cantidad_en_existencia = traer_cantidad_inventario(_codigo.trim(), _idsucursal);
        var valor_a_retornar = traer_cantidad_inventario(_codigo.trim(), _idsucursal);
        var nueva_cantidad_inventario = parseFloat(cantidad_en_existencia);
        var ya_existia = false;
        $(".RenglonVenta").each(function () {
            var codigo_tr = $(this).children().html().trim();
            if (codigo_tr == _codigo) {
                ya_existia = true;
                var a_restar = parseFloat($(this).find('td>input.cantidad').val());
                nueva_cantidad_inventario -= a_restar;
            }
        });
        if (nueva_cantidad_inventario >= 0) {
            valor_a_retornar = nueva_cantidad_inventario;
        }
        else {
            valor_a_retornar = 0;
        }
        return valor_a_retornar;
    }
</script>

<script type="text/javascript">
    function decimalAdjust(type, value, exp) {
        // If the exp is undefined or zero...
        if (typeof exp === 'undefined' || +exp === 0) {
            return Math[type](value);
        }
        value = +value;
        exp = +exp;
        // If the value is not a number or the exp is not an integer...
        if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
            return NaN;
        }
        // If the value is negative...
        if (value < 0) {
            return -decimalAdjust(type, -value, exp);
        }
        // Shift
        value = value.toString().split('e');
        value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));
        // Shift back
        value = value.toString().split('e');
        return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
    }

    // Decimal round
    if (!Math.round10) {
        Math.round10 = function (value, exp) {
            return decimalAdjust('round', value, exp);
        };
    }
    // Decimal floor
    if (!Math.floor10) {
        Math.floor10 = function (value, exp) {
            return decimalAdjust('floor', value, exp);
        };
    }
    // Decimal ceil
    if (!Math.ceil10) {
        Math.ceil10 = function (value, exp) {
            return decimalAdjust('ceil', value, exp);
        };
    }
</script>

<!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
<!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
<!-- *** *** *** *** ***            PARA LA MODALPRODUCTOS           *** *** *** *** *** *** *** -->
<!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
<!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
<script>
    var numeroProductos = $('#numeroProductos').val();
    var filtro = $('#filtro_lista').val();
    var ordenamiento = $('#ordenamiento').val();
    var pagina = 1;
    var siguiente_hoja = false;
    $(document).ready(function () {
        $(document).on('click', '#paginacion a', function () {
            pagina = $(this).attr("name");
            siguiente_hoja = true;
            VistaParcialProductos();
        });
        $(document).on('change', '#numeroProductos', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('change', '#filtro_lista', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('change', '#ordenamiento', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('change', '#productos_ocultos', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
    });

    function VistaParcialProductos() {
        numeroProductos = $('#numeroProductos').val();
        filtro = $('#filtro_lista').val();
        ordenamiento = $('#ordenamiento').val();
        productos_ocultos = $("input[id='productos_ocultos']:checked").length;
        if (siguiente_hoja == false) {
            pagina = 1;
        }
        var params = {
            'pagina': pagina,
            'numeroProductos': numeroProductos,
            'filtro': filtro,
            'ordenamiento': ordenamiento,
            'productos_ocultos': productos_ocultos
        };
        var url = '@Url.Action("_ModalProductos")';
        $.ajax({
            url: url,
            type: "POST",
            contentType: 'application/json;',
            data: JSON.stringify(params),
            success: function (productos) {
                $('#ModalListaProductos').html(productos);
            },
            async: false
        });
    }
    function CerrarModalListaProductos() {
        $('.ModalListaProductos').modal('hide');
        $('#txt_cantidad').focus();
    }
    $(document).on("dblclick", ".tr_modal_lista_productos", function () {
        var producto_cliqueado = $(this).children().html().trim();
        $("#codigo_producto").val(producto_cliqueado);
        var seguir = true;
        _idsucursal = $("#id_sucursal option:selected").val();
        if (respetar_inventario) {
            seguir = traer_existencia_inventario(producto_cliqueado, _idsucursal);
            if (seguir) {
                traer_precio();
                CerrarModalListaProductos();
            }
            else {
                if (producto_cliqueado != '') {
                    var cantidad_en_existencia = traer_cantidad_inventario(_codigo, _idsucursal);
                    if (parseFloat(cantidad_en_existencia) <= 0)
                    {
                        cantidad_en_existencia = 0;
                    }
                    $('#TdInventario').html("<span style='color: red;'>" + cantidad_en_existencia + "</span>");
                    $("#AlertaProductoSinInventario").slideDown('slow').delay(3000).slideUp('slow');
                    CerrarModalListaProductos();
                }
            }
        }
        else {
            traer_precio();
            CerrarModalListaProductos();
        }
    });
</script>