﻿@{
    ViewBag.Title = "POS - Entregas";
}
@{
    List<POS.Models.tipo_pago_venta> ListaTipoPago = ViewBag.ListaTipoPago as List<POS.Models.tipo_pago_venta>;
    String string_lista_tipo_pago = "";
    foreach (var ltp in ListaTipoPago)
    {
        string_lista_tipo_pago += ltp.tipo + ",";
    }
    string_lista_tipo_pago = string_lista_tipo_pago.TrimEnd(',');
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Entregas</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
            <button onclick="filtrar()" class="btn btn-success" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-refresh"></i>
                </span>
                <span class="button-content" style="margin-left: 6px;"></span>
            </button>
        </div>
        @*<div style="margin-right: 10px; margin-top: 10px; float: right;">
            <button id="ExportarExcel" class="btn btn-success" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </button>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <table id="TablaEntrega" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Vendedor</th>
                    <th>Conceptos</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla"></tbody>
        </table>
    </div>
</div>

<div id="Ticket" style="display: none;"></div>

<input type="hidden" id="string_tipos_pagos" value="@string_lista_tipo_pago" />

<script>
    var table_export;
    $(document).ready(function () {
        /*CONFIGURACIONES*/
        if ($('#configuracion_caja_centralizada').val() == "True") {
            caja_centralizada = true;
        } else {
            caja_centralizada = false;
        }
        if ($('#configuracion_edicion_precios').val() == "True") {
            editar_precio_dinamicamente = true;
        } else {
            editar_precio_dinamicamente = false;
        }
        if ($('#configuracion_imprimir_solo_ticket').val() == "True") {
            impresion_solo_ticket = true;
        } else {
            impresion_solo_ticket = false;
        }
        if ($('#confirmacion_directa').val() == "True") {
            confirmacion_directa = true;
        } else {
            confirmacion_directa = false;
        }
        /*CONFIGURACIONES*/
        filtrar();
        $("#ExportarExcel").click(function () {
            $('#TablaEntrega .xlsx').trigger("click");
        });
    });
    function filtrar() {
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal option:selected").val();
        var url = '@Url.Action("VistaParcialEntregaVenta")';
        $.ajax({
            url: url,
            data: { idSucursal: _id_sucursal },
            success: function (result) {
                $('#TablaEntrega').dataTable().fnClearTable();
                $('#TablaEntrega').dataTable().fnDestroy();
                $("#CuerpoTabla").html(result);
                $(".wrapper-dropdown-5").each(function () {
                    var dd = new DropDown($(this));
                    $(document).click(function () {
                        $('.wrapper-dropdown-5').removeClass('active');
                    });
                });
                CrearTablaEntrega();
            },
            async: false
        });
    }
    $(document).on('change', '#id_sucursal', function () {
        establecer_id_sucursal_virtual(parseInt($(this).val()));
        filtrar();
    });
    $(document).on('click', '.EliminarNC', function () {
        $(this).parent().parent().remove();
        if ($('.NotaCredito').length == 0) {
            $('.TRNC').hide();
        }
        calcula_totales_confirmar_venta();
        calcular_total();
        calcular_cambio();
        recalcular_porcentaje();
        //Lo siguiente por si el pago es con tarjeta y cobran comision
        recalcular_de_nuevo_si_existe_comision_pago_tarjeta();
    });
    function calcula_totales_confirmar_venta() {
        notas_credito_credito = 0;
        descuentos = 0;
        importe = 0;
        iva = 0;
        total = 0;
        ventas = 0;
        $('.NotaCredito').each(function () {
            notas_credito_credito += parseFloat($(this).find('.ImporteNC').html());
        });
        descuentos = parseFloat($('#txt_descuento_total').html());
        importe = parseFloat($('#txt_subtotal').html());
        iva = parseFloat($('#txt_iva').html());
        ventas = (parseFloat(importe) + parseFloat(iva));
        notas_credito_credito = parseFloat(notas_credito_credito);
        total = (parseFloat(ventas) - parseFloat(notas_credito_credito) - parseFloat(descuentos));
        if (notas_credito_credito == 0) {
            $('#txt_notas_credito').css('color', 'black');
        } else {
            $('#txt_notas_credito').css('color', 'red');
        }
        if (ventas == 0) {
            $('#txt_ventas').css('color', 'black');
        } else {
            $('#txt_ventas').css('color', 'green');
        }
        if (total > 0) {
            $('#txt_total').css('color', 'green');
        } else if (total < 0) {
            $('#txt_total').css('color', 'red');
        } else {
            $('#txt_total').css('color', 'black');
        }
        $('#txt_notas_credito').text(notas_credito_credito);
        $("#txt_subtotal").text(importe);
        $("#txt_iva").text(iva);
        $('#txt_ventas').text(ventas);
        $("#txt_total").text(total);
    }
    function MostrarModalNotaVenta() {
        var url = '@Url.Action("ModalAgregarNotaCredito")';
        $.ajax({
            url: url,
            data: {},
            success: function (vistaParcial) {
                bootbox.dialog({
                    className: "ModalAgregarNotaCredito",
                    message: vistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
        }
    function AgregarNotaCredito() {
        var url = '@Url.Action("VerificarNotaCredito")';
        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: { id_nota_credito: $('#txt_id_nota_credito').val() },
            success: function (respuesta) {
                if (respuesta.correcto) {
                    if (respuesta.id_estatus_nota_credito == 1) {
                        var usado = false;
                        $('.NotaCredito').each(function () {
                            if (parseInt($(this).find('.IdNC').html()) == respuesta.id_nota_credito) {
                                usado = true;
                            }
                        });
                        if (usado) {
                            var url = '@Url.Action("ModalNotaCreditoUsada")';
                            $.ajax({
                                url: url,
                                data: {},
                                success: function (vistaParcial) {
                                    bootbox.dialog({
                                        className: "ModalNotaCreditoUsada",
                                        message: vistaParcial,
                                        closeButton: false,
                                        onEscape: true
                                    });
                                },
                                async: false
                            });
                            $('#txt_id_nota_credito').val('');
                            $('#txt_id_nota_credito').focus();
                        } else {
                            $('.ModalAgregarNotaCredito').modal('hide');
                            renglon = "<tr class='NotaCredito'>" +
                                    "<td class='IdNC' style='text-align: center;border: 0px; display:none;'>" + respuesta.id_nota_credito + "</td>" +
                                    "<td class='FolioNC' style='text-align: center;border: 0px;'>" + respuesta.folio_nota_credito + "</td>" +
                                    "<td class='SucursalNC' style='text-align: center;border: 0px;'>" + respuesta.sucursal + "</td>" +
                                    "<td class='EstatusNC' style='text-align:center;border: 0px;'>" + respuesta.estatus + "</td>" +
                                    "<td class='FechaCreacionNC' style='text-align: center;border: 0px;'>" + respuesta.fecha_creacion + "</td>" +
                                    "<td style='text-align: center;border: 0px;'><span> $</span><span class='ImporteNC'>" + respuesta.importe + "</span></td>" +
                                    "<td class='AccionNC' style='text-align: center;border: 0px;'><a class='btn btn-danger EliminarNC'><span class='glyph-icon icon-separator'><i class='glyph-icon icon-times'></i></span><span class='button-content'>Eliminar</span></a></td>" +
                                "</tr>";
                            $("#CuerpoTablaNotasCredito").prepend(renglon);
                            if ($('.NotaCredito').length > 0) {
                                $('.TRNC').show();
                            }
                            calcula_totales_confirmar_venta();
                            calcular_total();
                            calcular_cambio();
                            recalcular_porcentaje();
                            //Lo siguiente por si el pago es con tarjeta y cobran comision
                            recalcular_de_nuevo_si_existe_comision_pago_tarjeta();
                        }
                    } else if (respuesta.id_estatus_nota_credito == 2) {
                        var url = '@Url.Action("ModalNotaCreditoUsada")';
                        $.ajax({
                            url: url,
                            data: {},
                            success: function (vistaParcial) {
                                bootbox.dialog({
                                    className: "ModalNotaCreditoUsada",
                                    message: vistaParcial,
                                    closeButton: false,
                                    onEscape: true
                                });
                            },
                            async: false
                        });
                        $('#txt_id_nota_credito').val('');
                        $('#txt_id_nota_credito').focus();
                    } else if (respuesta.id_estatus_nota_credito == 3) {
                        var url = '@Url.Action("ModalNotaCreditoCancelada")';
                            $.ajax({
                                url: url,
                                data: {},
                                success: function (vistaParcial) {
                                    bootbox.dialog({
                                        className: "ModalNotaCreditoCancelada",
                                        message: vistaParcial,
                                        closeButton: false,
                                        onEscape: true
                                    });
                                },
                                async: false
                            });
                            $('#txt_id_nota_credito').val('');
                            $('#txt_id_nota_credito').focus();
                        }
            } else {
                var url = '@Url.Action("ModalNotaCreditoInexistente")';
                    $.ajax({
                        url: url,
                        data: {},
                        success: function (vistaParcial) {
                            bootbox.dialog({
                                className: "ModalNotaCreditoInexistente",
                                message: vistaParcial,
                                closeButton: false,
                                onEscape: true
                            });
                        },
                        async: false
                    });
                    $('#txt_id_nota_credito').val('');
                    $('#txt_id_nota_credito').focus();
                }
            },
            async: false
        });
    }

    function AgregarDescuento() {
        var _monto = parseFloat($('#txt_monto').val());
        var _token = $('#txt_token_confirmacion').val();
        var _total = parseFloat($('#txt_total').html());
        if (!(_monto > 0 && _monto <= _total)) {
            $("#AlertaDescuento").slideDown('slow').delay(3000).slideUp('slow');
        }
        else {
            var url = '@Url.Action("VerificarDescuento")';
            var _id_sucursal = $('#id_sucursal').val();
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                data: { monto: _monto, token: _token, id_sucursal: _id_sucursal },
                success: function (respuesta) {
                    if (respuesta.correcto) {
                        $('#cuerpo_descuentos .monto_descuento').html(respuesta.monto);
                        var porcentaje = calcular_porcentaje_descuento(parseFloat(respuesta.monto));
                        $('#cuerpo_descuentos .porcentaje_descuento .solo_porcentaje').html(porcentaje.toFixed(2));
                        $('#txt_descuento_total').html(respuesta.monto);
                        calcula_totales_confirmar_venta();
                        calcular_total();
                        calcular_cambio();
                        $('.ModalAgregarDescuento').modal('hide');
                        $('.td_descuentos').show();
                        //Lo siguiente por si el pago es con tarjeta y cobran comision
                        recalcular_de_nuevo_si_existe_comision_pago_tarjeta();
                    } else {
                        var url = '@Url.Action("ModalFalloEntregaDescuento")';
                        $.ajax({
                            url: url,
                            data: {},
                            success: function (vistaParcial) {
                                bootbox.dialog({
                                    className: "ModalFalloEntregaDescuento",
                                    message: vistaParcial,
                                    closeButton: false,
                                    onEscape: true
                                });
                            },
                            async: false
                        });
                        $('#txt_token_confirmacion').val('');
                        $('#txt_monto').focus();
                    }
                },
                async: false
            });
        }
    }

    function calcular_porcentaje_descuento(descuento_individual) {
        var total_venta = parseFloat($('#txt_ventas').html());
        var total_nc = parseFloat($('#txt_notas_credito').html());
        var total_venta_menos_nc = total_venta - total_nc;
        var uno_porciento = total_venta_menos_nc / 100;
        var porcentaje = descuento_individual / uno_porciento;

        //return porcentaje.toFixed(2);
        return porcentaje;
    }

    function calcular_monto_descuento(porcentaje_individual)
    {
        var total_venta = parseFloat($('#txt_ventas').html());
        var total_nc = parseFloat($('#txt_notas_credito').html());
        var total_venta_menos_nc = total_venta - total_nc;
        var uno_porciento = total_venta_menos_nc / 100;
        var monto = uno_porciento * porcentaje_individual;

        //return monto.toFixed(2);
        return monto;
    }

    $(document).on("keyup", "#txt_porcentaje_monto", function () {
        if ($(this).val() < 100) {
            var nuevo_monto = calcular_monto_descuento($(this).val());
            $('#txt_monto').val(decimalAdjust('round', nuevo_monto, -2));
        }
        else {
            var total_maximo_descuento_venta = parseFloat($('#txt_ventas').html());
            nuevo_porcentaje = calcular_porcentaje_descuento(total_maximo_descuento_venta);
            $(this).val(decimalAdjust('round', nuevo_porcentaje, -2));
            $('#txt_monto').val(decimalAdjust('round', total_maximo_descuento_venta, -2));
        }
    });
    $(document).on("keyup", "#txt_monto", function () {
        var total_maximo_descuento_venta = parseFloat($('#txt_ventas').html());
        if ($(this).val() <= total_maximo_descuento_venta) {
            var nuevo_porcentaje = calcular_porcentaje_descuento($(this).val());
            $('#txt_porcentaje_monto').val(decimalAdjust('round', nuevo_porcentaje, -2));
        }
        else
        {
            $(this).val(total_maximo_descuento_venta);
            var nuevo_porcentaje = calcular_porcentaje_descuento($(this).val());
            $('#txt_porcentaje_monto').val(decimalAdjust('round', nuevo_porcentaje, -2));
        }
    });

    $(document).on('click', '.EliminarDescuento', function () {
        $('#txt_descuento_total').html("0.00");
        $('#cuerpo_descuentos .monto_descuento').html("");
        $('#cuerpo_descuentos .porcentaje_descuento .solo_porcentaje').html("");
        $('.td_descuentos').hide();
        calcula_totales_confirmar_venta();
        calcular_total();
        calcular_cambio();
        //Lo siguiente por si el pago es con tarjeta y cobran comision
        recalcular_de_nuevo_si_existe_comision_pago_tarjeta();
    });
    function recalcular_porcentaje() {
        var total_venta_inicial = parseFloat($('#txt_ventas').html());
        var total_notas_credito = parseFloat($('#txt_notas_credito').html());
        if (total_notas_credito == undefined || total_notas_credito == null) {
            total_notas_credito = 0;
        }
        var total_venta_menos_nc = total_venta_inicial - total_notas_credito;
        var uno_porciento = total_venta_menos_nc / 100;

        $('#cuerpo_descuentos .monto_descuento').each(function () {
            var descuento_individual = parseFloat($(this).html());
            if (descuento_individual != '' && descuento_individual != undefined && descuento_individual != null && descuento_individual > 0) {
                var porcentaje = descuento_individual / uno_porciento;
                $(this).next().children('.solo_porcentaje').html(porcentaje.toFixed(2));
            }
        });
    }
    //Modal confirmar venta focus key press
    //f1 - confirmar
    //1(efectivo)
    //2(tarjeta)
    //3(prestamo)
    $(document).on("keypress", ".ModalConfirmarVentaCentralizada", function (event) {
        var charCode = (event.which) ? event.which : event.keyCode
        if (charCode === 13 /*enter -CONFIRMAR*/) {
            confirmarVenta();
        }
        else {
            var id_elemento_activo = $(':focus').attr("id");
            if (id_elemento_activo != "txt_pago_cliente" && id_elemento_activo != "txt_cambio") {
                if (charCode == 49 || charCode == 50 || charCode == 51 || charCode == 52) {
                    if (charCode === 49 /*1-EFECTIVO*/) {
                    }
                    if (charCode === 50 /*1-TAJETA*/) {
                    }
                    if (charCode === 51 /*1-PRESTAMO*/) {
                    }
                    if (charCode === 52 /*1-CREDITO*/) {
                    }
                }
            }
        }
    });
    var res = $('#string_tipos_pagos').val().split(",");
    $.each(res, function (index, value) {
        $(document).on("click", "#td_" + value, function () {
            if ($(this).hasClass('tipo_pago_seleccionado')) {
                $(this).css('background-color', 'black');
                $(this).css('border-color', 'black');
                $(this).removeClass('tipo_pago_seleccionado');
                $("#pago_" + value).hide();
                if (index == 0) {
                    $('#solo_para_cambio').css('visibility', 'hidden');
                }
                else if (index == 1) {
                    $('#solo_para_porcentaje_comision').css('visibility', 'hidden');
                }
                else if (index == 4) {
                    $('#solo_para_deposito').css('visibility', 'hidden');
                }
            } else {
                $(this).css('background-color', '#ff5757');
                $(this).css('border-color', '#ff5757');
                $(this).addClass('tipo_pago_seleccionado');
                $("#pago_" + value).show();
                $('#txt_pago_' + value).focus();
                if (index == 0) {
                    $('#solo_para_cambio').css('visibility', 'visible');
                }
                else if (index == 1) {
                    $('#solo_para_porcentaje_comision').css('visibility', 'visible');
                }
                else if (index == 4) {
                    $('#solo_para_deposito').css('visibility', 'visible');
                }
            }
            calcular_total();
            calcular_cambio();
        });
    });
    function confirmarVenta() {
        var hay_productos_cantidad_no_cero = false;
        //confirmar venta de status a venta entregada
        if ($(".ModalConfirmarVentaCentralizada .tipo_pago_seleccionado").length == 0 && ((parseFloat($('#txt_ventas').html()) - parseFloat($('#txt_notas_credito').html()) - parseFloat($('#txt_descuento_total').html())) > 0)) {
            MostrarAlertaFormulario();
            OcultarAlertaFormulario();
        } else {
            var valor_total = 0;
            $('.txt_pago').each(function () {
                if ($(this).parent().parent().parent().parent().is(':visible') == true) {
                    if ($(this).val() > 0) {
                        valor_total = valor_total + parseFloat($(this).val());
                    }
                }
            });
            var valor_total_sin_contado = 0;
            $('.txt_pago').each(function () {
                if ($(this).parent().parent().parent().parent().is(':visible') == true && $(this).attr('name') != "1") {
                    if ($(this).val() > 0) {
                        valor_total_sin_contado = valor_total_sin_contado + parseFloat($(this).val());
                    }
                }
            });
            var es_pago_correcto = se_paga_correctamente_cantidades();
            if (parseFloat(valor_total) < parseFloat($('#txt_total').html()) || (!es_pago_correcto)) {
                if (!es_pago_correcto)
                {
                    MostrarAlertaPagoMayor();
                    OcultarAlertaPagoMayor();
                }
                else
                {
                    MostrarAlertaCantidad();
                    OcultarAlertaCantidad();
                }
            } else {
                if (respetar_inventario) {
                    hay_productos_cantidad_no_cero = VerificarCantidadesNoCero();
                }
                else {
                    hay_productos_cantidad_no_cero = true;
                }
                if (hay_productos_cantidad_no_cero) {
                    id = $(".ModalConfirmarVentaCentralizada #txt_id_venta_entregar").val();
                    folio_serie = $(".ModalConfirmarVentaCentralizada #folio_serie_entregar").text();
                    var TiposPagos = [];
                    $('.txt_pago').each(function () {
                        if ($(this).parent().parent().parent().parent().is(':visible') == true) {
                            if ($(this).val() > 0) {
                                if (parseInt($(this).attr('name')) == 1) {
                                    var pago_efectivo = parseFloat($(this).val());
                                    var pago_no_efectivo = parseFloat(parseFloat(valor_total) - parseFloat(pago_efectivo));
                                    var pago_cambio = parseFloat($('#txt_cambio').html());
                                    TiposPagos.push({
                                        id_tipo_pago_venta: $(this).attr('name'),
                                        //cantidad: (valor_total - (pago_no_efectivo + pago_cambio)).toFixed(5)
                                        cantidad: (valor_total - (pago_no_efectivo + pago_cambio))
                                    });
                                } else {
                                    TiposPagos.push({
                                        id_tipo_pago_venta: $(this).attr('name'),
                                        cantidad: $(this).val()
                                    });
                                }
                            }
                        }
                    });
                    var NotasCredito = [];
                    $('.NotaCredito').each(function () {
                        NotasCredito.push($(this).find('.IdNC').html())
                    });
                    var Descuentos = [];
                    $('#cuerpo_descuentos .monto_descuento').each(function () {
                        var des_cuento = parseFloat($(this).html());
                        if (des_cuento != '' && des_cuento != undefined && des_cuento != null && des_cuento > 0) {
                            Descuentos.push($(this).html());
                        }
                    });
                    var Referencia = $('#txt_referencia').val();
                    if (Referencia == '' || Referencia == undefined) {
                        Referencia = null;
                    }
                    if ($('#RenglonVentaComision').length > 0)
                    {
                        var porcentaje_comision_pago_tarjeta = parseFloat($('#txt_porcentaje_comision').val());
                        var monto_comision = parseFloat($('#RenglonVentaComision .importe').html()) + parseFloat($('#RenglonVentaComision .iva_unitario').html());
                    }
                    else {
                        var porcentaje_comision_pago_tarjeta = 0;
                        var monto_comision = 0;
                    }
                    var params = {
                        'id': id,
                        'ListaTiposPagos': TiposPagos,
                        'ListaNotasCredito': NotasCredito,
                        'ListaDescuentos': Descuentos,
                        'porcentaje_comision_pago_tarjeta': porcentaje_comision_pago_tarjeta,
                        'monto_comision': monto_comision,
                        'Referencia': Referencia
                    };
                    var _url2 = '@Url.Action("confirmar_venta_id")';
                    $.ajax({
                        url: _url2,
                        type: "POST",
                        contentType: 'application/json;',
                        dataType: 'json',
                        data: JSON.stringify(params),
                        success: function (result) {
                            if (result.success) {
                                if (confirmacion_directa) {
                                    $('.ModalConfirmarVentaCentralizada').modal('hide');
                                    ConfiguracionImpresionVenta(result.idventa, result.id_nueva_nota_credito, $('#txt_cambio').html());
                                    filtrar();
                                } else {
                                    var url = '@Url.Action("ModalVentaEntregadaExitosamente")';
                                    $.ajax({
                                        url: url,
                                        data: { folio: folio_serie, folio_nuevo: result.folio_serie_nueva, id_venta: result.idventa, id_nota_credito: result.id_nueva_nota_credito, cambio: $('#txt_cambio').html() },
                                        type: "POST",
                                        success: function (vista) {
                                            bootbox.dialog({
                                                className: "ModalVentaEntregadaExitosamente",
                                                message: vista,
                                                closeButton: false,
                                                onEscape: true
                                            });
                                        },
                                        async: false
                                    });
                                }
                            }
                            else {
                                var url = '@Url.Action("ModalFalloEntregaVenta")';
                                $.ajax({
                                    url: url,
                                    data: { folio: folio_serie, error: result.error },
                                    type: "POST",
                                    success: function (vista) {
                                        bootbox.dialog({
                                            className: "ModalFalloEntregaVenta",
                                            message: vista,
                                            closeButton: false,
                                            onEscape: true
                                        });
                                    },
                                    async: false
                                });
                            }
                        },
                        async: false
                    });
                }
                else {
                    $("#AlertaProductoSinInventario").slideDown('slow').delay(6000).slideUp('slow');
                }
            }
        }
    }
    function EntregarVenta(id) {
        var url = '@Url.Action("ModalConfirmarVentaCentralizada")';
        $.ajax({
            url: url,
            data: { idVenta: id },
            type: "POST",
            success: function (vista) {
                bootbox.dialog({
                    className: "ModalConfirmarVentaCentralizada",
                    message: vista,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    function CancelarVenta(id) {
        serie_folio = $("#serie_folio_" + id).text();
        var url = '@Url.Action("ModalCancelarEntregaVenta")';
        $.ajax({
            url: url,
            data: { id: id, folio: serie_folio },
            type: "POST",
            success: function (vista) {
                bootbox.dialog({
                    className: "ModalCancelarEntregaVenta",
                    message: vista,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
    });
    }
    function eliminar_entrega(id) {
        var url = '@Url.Action("eliminar_venta_por_entregar", "Venta")';
        $.ajax({
            url: url,
            data: { id: id },
            success: function (result) {
                if (result.success) {
                    $('.ModalCancelarEntregaVenta').modal('hide');
                    filtrar();
                }
            },
            async: false
        });
    }
    function EditarVenta(id) {
        window.location.href = '@Url.Action("EditarVenta", new { id = "_id_" })'.replace("_id_", id);
    }
    function MostrarModalDescuento() {
        var url = '@Url.Action("ModalAgregarDescuento")';
        $.ajax({
            url: url,
            data: {},
            success: function (vistaParcial) {
                bootbox.dialog({
                    className: "ModalAgregarDescuento",
                    message: vistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    function VerVenta(id) {
        var url = '@Url.Action("ModalConceptosCotizacionOnline", "TiendaOnline")';
        $.ajax({
            url: url,
            data: { id: id },
            type: "POST",
            success: function (vista) {
                bootbox.dialog({
                    className: "ModalConceptosCotizacionOnline",
                    message: vista,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    $(document).on('keypress', '.decimal', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
    function ImprimirVenta(id) {
        ConfiguracionImpresionVenta(id, 0, 0);
    }
</script>

<script type="text/javascript">
    function CrearTablaEntrega() {
        $('#TablaEntrega').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista Ventas por Entregar',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Lista Ventas por Entregar',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',

                    message: 'Ventas por Entregar',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>

@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA VENTA Y NOTA DE CREDITO*@
<script type="text/javascript">
    var id_venta = 0;
    var id_nota_credito = 0;
    var cambio = 0;
    var cantidad_tickets = parseInt($('#configuracion_cantidad_tickets').val());;
    function ConfiguracionImpresionVenta(id, id_nc, cantidad_cambio) {
        id_venta = id;
        id_nota_credito = id_nc;
        cambio = cantidad_cambio;
        if (impresion_solo_ticket) {
            try {
                GenerarTicketVenta();
                if (parseInt(id_nota_credito) != 0) {
                    GenerarTicketNotaCredito();
                }
            } catch (e) {
                var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
                $.ajax({
                    url: url,
                    data: {},
                    success: function (VistaParcial) {
                        bootbox.dialog({
                            className: "ModalAdvertenciaImpresionNoMozilla",
                            message: VistaParcial,
                            closeButton: false,
                            onEscape: true
                        });
                    },
                    async: false
                });
            }
        } else {
            EscogerModoImpresionVenta();
        }
    }
    function EscogerModoImpresionVenta(){
        var url = '@Url.Action("ModalSeleccionarModoImpresion", "printer")';
        $.ajax({
            url: url,
            data: { },
            success: function (VistaParcial) {
                bootbox.dialog({
                    className: "ModalSeleccionarModoImpresion ModalSeleccionarModoImpresionVenta",
                    message: VistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    $(document).on('click', '.ModalSeleccionarModoImpresionVenta #selectPDF', function () {
        window.open('@Url.Action("GenerarPDFVenta", "FormatoPDF", new { id = "_id_" })'.replace("_id_", id_venta));
        $(".ModalSeleccionarModoImpresion").modal("hide");
        bootbox.hideAll();
        window.location.reload(true);
    });
    $(document).on('click', '.ModalSeleccionarModoImpresionVenta #selectTicketPrinter', function () {
        try {
            $(".ModalSeleccionarModoImpresion").modal("hide");
            GenerarTicketVenta();
        } catch (e) {
            var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
            $.ajax({
                url: url,
                data: {},
                success: function (VistaParcial) {
                    bootbox.dialog({
                        className: "ModalAdvertenciaImpresionNoMozilla",
                        message: VistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    });
    function GenerarTicketVenta() {
        cantidad_tickets = parseInt(cantidad_tickets);
        if (isNaN(cantidad_tickets)) {
            cantidad_tickets = 1;
        }
        var url = '@Url.Action("VistaParcialGenerarTicketVenta", "Venta")';
        $.ajax({
            url: url,
            data: { idVenta: id_venta, cambio: cambio },
            success: function (VistaParcial) {
                $("#Ticket").html(VistaParcial);
                for (var i = 0; i < cantidad_tickets; i++) {
                    ImprimirTicketVenta(document.getElementById('Ticket'));
                }
            },
            async: false
        });
    }
    function ImprimirTicketVenta(Ticket) {
        jsPrintSetup.setSilentPrint(true);
        var content = Ticket.innerHTML
        jsPrintSetup.setOption('marginTop', 5);
        jsPrintSetup.setOption('marginBottom', 15);
        jsPrintSetup.setOption('marginLeft', 5);
        jsPrintSetup.setOption('marginRight', 5);
        // set page header
        jsPrintSetup.setOption('headerStrLeft', '');
        jsPrintSetup.setOption('headerStrCenter', '');
        jsPrintSetup.setOption('headerStrRight', '');
        // set empty page footer
        jsPrintSetup.setOption('footerStrLeft', '');
        jsPrintSetup.setOption('footerStrCenter', '');
        jsPrintSetup.setOption('footerStrRight', '');
        jsPrintSetup.definePaperSize(101, 101, "Custom", "Custom_Paper", "Custom PAPER", 300, 400, jsPrintSetup.kPaperSizeMillimeters);
        jsPrintSetup.setPaperSizeData(101);
        //pwin.document.open();
        w = window.open();
        w.document.write(content);
        w.print();
        w.close();
        //setTimeout(function () { pwin.close(); }, 1000);
        jsPrintSetup.setSilentPrint(false);
    }
    function GenerarTicketNotaCredito() {
        cantidad_tickets = parseInt(cantidad_tickets);
        if (isNaN(cantidad_tickets)) {
            cantidad_tickets = 1;
        }
        var url = '@Url.Action("VistaParcialGenerarTicketNotaCredito", "NotaCredito")';
        $.ajax({
            url: url,
            data: { id: id_nota_credito },
            success: function (result) {
                $("#Ticket").html(result);
                for (var i = 0; i < cantidad_tickets; i++) {
                    ImprimirTicketNotaCredito(document.getElementById('Ticket'));
                }
            },
            async: false
        });
    }
    function ImprimirTicketNotaCredito(Ticket) {
        jsPrintSetup.setSilentPrint(true);
        var content = Ticket.innerHTML
        jsPrintSetup.setOption('marginTop', 5);
        jsPrintSetup.setOption('marginBottom', 15);
        jsPrintSetup.setOption('marginLeft', 5);
        jsPrintSetup.setOption('marginRight', 5);
        // set page header
        jsPrintSetup.setOption('headerStrLeft', '');
        jsPrintSetup.setOption('headerStrCenter', '');
        jsPrintSetup.setOption('headerStrRight', '');
        // set empty page footer
        jsPrintSetup.setOption('footerStrLeft', '');
        jsPrintSetup.setOption('footerStrCenter', '');
        jsPrintSetup.setOption('footerStrRight', '');
        jsPrintSetup.definePaperSize(101, 101, "Custom", "Custom_Paper", "Custom PAPER", 300, 400, jsPrintSetup.kPaperSizeMillimeters);
        jsPrintSetup.setPaperSizeData(101);
        //pwin.document.open();
        w = window.open();
        w.document.write(content);
        w.print();
        w.close();
        //setTimeout(function () { pwin.close(); }, 1000);
        jsPrintSetup.setSilentPrint(false);
    }
</script>
@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA VENTA Y NOTA DE CREDITO*@

<script type="text/javascript">
    function decimalAdjust(type, value, exp) {
        // If the exp is undefined or zero...
        if (typeof exp === 'undefined' || +exp === 0) {
            return Math[type](value);
        }
        value = +value;
        exp = +exp;
        // If the value is not a number or the exp is not an integer...
        if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
            return NaN;
        }
        // If the value is negative...
        if (value < 0) {
            return -decimalAdjust(type, -value, exp);
        }
        // Shift
        value = value.toString().split('e');
        value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));
        // Shift back
        value = value.toString().split('e');
        return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
    }

    // Decimal round
    if (!Math.round10) {
        Math.round10 = function (value, exp) {
            return decimalAdjust('round', value, exp);
        };
    }
    // Decimal floor
    if (!Math.floor10) {
        Math.floor10 = function (value, exp) {
            return decimalAdjust('floor', value, exp);
        };
    }
    // Decimal ceil
    if (!Math.ceil10) {
        Math.ceil10 = function (value, exp) {
            return decimalAdjust('ceil', value, exp);
        };
    }
</script>

<script type="text/javascript">
    $(document).on("keydown", ".txt_pago", function (event) {
        var charCode = (event.which) ? event.which : event.keyCode
        if (event.which == 13) {//enter
            $('#BotonConfirmarVenta').trigger('click');
        }
    });
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("TraerPDFListaEntregaVentas", "FormatoPDF", new { idSucursal = "_id_" })'.replace("_id_", id_sucursal);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
    function se_paga_correctamente_cantidades()
    {
        var valor_total = 0;
        var total_que_se_debe_pagar = parseFloat($('#txt_total').html().trim());
        $('.txt_pago').each(function () {
            if ($(this).parent().parent().parent().parent().is(':visible') == true) {
                if ($(this).val() > 0) {
                    valor_total = valor_total + parseFloat($(this).val());
                }
            }
        });
        var pago_contado = 0;
        if ($('#txt_pago_Efectivo').is(':visible'))
        {
            pago_contado = parseFloat($('#txt_pago_Efectivo').val());
            if (isNaN(pago_contado))
                pago_contado = 0;
        }
        var cambio = (parseFloat(total_que_se_debe_pagar) - parseFloat(valor_total)) * (-1);
        if (cambio > pago_contado)
            return false;
        else
            return true;
    }
</script>