﻿@{ 
    POS.Models.venta cotizacion = ViewBag.cotizacion as POS.Models.venta;
}
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Cotizacion <span>@POS.Fn.Numeros.serie_folio_by_id(cotizacion.id)</span></h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaConceptosCotizacion" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Tipo De Precio</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Precio Unitario Con IVA</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total</th>
                    <th>@cotizacion.total</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (POS.Models.conceptos_por_venta conceptos_por_venta in cotizacion.conceptos_por_venta.ToList())
                {
                    <tr>
                        <td style="text-align: center;">@conceptos_por_venta.producto.Codigo</td>
                        <td style="text-align: center;">@conceptos_por_venta.producto.Descripcion</td>
                        <td style="text-align: center;">@conceptos_por_venta.tipocliente.Tipo</td>
                        <td style="text-align: center;">@conceptos_por_venta.cantidad</td>
                        <td style="text-align: center;">@conceptos_por_venta.precio_unitario</td>
                        <td style="text-align: center;">@conceptos_por_venta.precio_unitario_mas_iva</td>
                        <td style="text-align: center;">@conceptos_por_venta.importe_mas_iva</td>
                    </tr>
                }
            </tbody>
        </table>
        <button onclick="CerrarModal()" class="btn btn-danger autofocus" style="margin-bottom: 10px; margin-left: 10px;" autofocus>
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-times"></i>
            </span>
            <span class="button-content">Cerrar</span>
        </button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalConceptosCotizacion .modal-dialog').css('width', '80%');
        $('.ModalConceptosCotizacion').on('shown.bs.modal', function () {
            $(".autofocus").focus();
        });
    });
    function CerrarModal() {
        $('.ModalConceptosCotizacion').modal('hide');
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#TablaConceptosCotizacion').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true
        });
    });
</script>
