﻿@model  POS.Models.venta
@{
    List<POS.Models.tipo_pago_venta> ListaTipoPago = ViewBag.ListaTipoPago as List<POS.Models.tipo_pago_venta>;
    decimal porcentaje_comision = ViewBag.porcentaje_comision;
    decimal iva_producto_comision = ViewBag.iva_producto_comision;
}
<input id="txt_id_venta_entregar" value="@Model.id" style="display:none" />
<input id="iva_producto_comision" value="@iva_producto_comision" style="display:none" />
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 id="folio_serie_entregar" class="title-hero" style="text-align: center; background-color: #254054; color: white;">Venta Por Entregar: <span>@POS.Fn.Numeros.serie_folio_by_id(Model.id)</span></h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="3" style="text-align: center; border: 0px; background-color: #506676; color: white;">Lista De Compra</td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 0px; text-align: center;">
                        <table class="table" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Descripcion</th>
                                    <th>Tipo De Precio</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Importe</th>
                                    <th style="display: none;">id_producto</th>
                                    <th style="display: none;">id_precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int renglon = 1;
                                    foreach (var c in Model.conceptos_por_venta)
                                    {
                                    <tr class="RenglonVentaModal">
                                        <td class="codigo" style="text-align: center; border: 0px;">@c.producto.Codigo</td>
                                        <td class="producto" style="text-align: center; border: 0px;">@c.producto.Descripcion</td>
                                        <td class="tipo_precio" style="text-align: center; border: 0px;">@c.tipocliente.Tipo</td>
                                        <td class="cantidad" style="text-align: center; border: 0px;">@c.cantidad</td>
                                        <td class="precio_u" style="text-align: center; border: 0px;">@c.precio_unitario</td>
                                        <td class="importe" style="text-align: center; border: 0px;">@c.importe</td>
                                        <td class="id_producto" style="display: none; text-align: center;">@c.Producto_id</td>
                                        <td class="id_tipo_precio" style="display: none; text-align: center;">@c.TipoCliente_id</td>
                                        <td class="iva_unitario" style="display: none; text-align: center;">@c.iva_unitario</td>
                                    </tr>
                                        renglon++;
                                    }
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="td_descuentos" style="display: none;">
                    <td colspan="3" style="border: 0px;"></td>
                </tr>
                <tr class="td_descuentos" style="display: none;">
                    <td colspan="3" style="text-align: center; border: 0px; background-color: #506676; color: white;">Descuentos</td>
                </tr>
                <tr>
                    <td class="td_descuentos" colspan="3" style="border: 0px; text-align: center; display: none;">
                        <table class="table" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Monto</th>
                                    <th>Porcentaje</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="cuerpo_descuentos">
                                <tr>
                                    <td class="monto_descuento" style="text-align: center; border: 0px;"></td>
                                    <td class="porcentaje_descuento" style="text-align: center; border: 0px;"><span class="solo_porcentaje"></span>%</td>
                                    <td class="acciones_descuento" style="text-align: center; border: 0px;">
                                        <button class="btn btn-danger EliminarDescuento"><span class="glyph-icon icon-separator"><i class="glyph-icon icon-times"></i></span><span class="button-content" style="margin-left:6px;"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 0px;"></td>
                </tr>
                @if (Model.observaciones != null)
                {
                    if (!Model.observaciones.Equals(""))
                    {
                        <tr>
                            <td style="text-align: center; border: 0px;background-color: #fafafa; color: black; font-weight: 700; border-bottom: 2px solid rgba(37, 64, 84, 0.45);">
                                Observaciones
                            </td>
                            <td colspan="2" style="border: 0px;"></td>
                        </tr>
                        <tr>
                            <td style="border: 0px;">@Model.observaciones</td>
                            <td colspan="2" style="border: 0px;"></td>
                        </tr>
                    }
                }
                <tr class="TRNC" style="display: none;">
                    <td colspan="3" style="border: 0px;"></td>
                </tr>
                <tr class="TRNC" style="display: none;">
                    <td colspan="3" style="text-align: center; border: 0px; background-color: #506676; color: white;">Notas De Credito</td>
                </tr>
                <tr class="TRNC" style="display: none;">
                    <td colspan="3" style="border: 0px; text-align: center;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="display: none;">ID</th>
                                    <th style="width: 10%;">ID Nota Credito</th>
                                    <th>Sucursal</th>
                                    <th>Estatus</th>
                                    <th>Fecha Creacion</th>
                                    <th>Importe</th>
                                    <th style="width: 100px;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="CuerpoTablaNotasCredito"></tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 0px;"></td>
                </tr>
                <tr>
                    <td style="text-align: center; border: 0px; background-color: #506676; color: white; width: 60%;">Selecciona la forma de pago</td>
                    <td style="width: 10%; border: 0px;"></td>
                    <td style="text-align: center; border: 0px; background-color: #506676; color: white; width: 40%;">Totales</td>
                </tr>
                <tr>
                    <td style="border: 0px; text-align: center; height: 200px; vertical-align: super;">
                        <table id="TiposPago" class="table">
                            <tbody>
                                 <tr>
                                    @{
                                        var cantidad_ltp = ListaTipoPago.Count;
                                        foreach(var ltp in ListaTipoPago){
                                        <td style="text-align: center; border: 0px; width: calc(100% / @cantidad_ltp);">
                                            <button id="@("td_" + ltp.tipo)" class="btn btn-danger botontipopago" role="button" style="background-color: black; border-color: black;">
                                                <span class="glyph-icon icon-separator">
                                                    <i class="glyph-icon icon-money"></i>
                                                </span>
                                                <span class="button-content">@ltp.tipo</span>
                                            </button>
                                        </td>
                                       }
                                     }
                                </tr>
                                <tr>
                                    @{
                                    foreach (var ltp in ListaTipoPago){
                                    <td style="text-align: center; border: 0px; width: calc(100% / @cantidad_ltp);">
                                        <table id="@("pago_" + ltp.tipo)" class="table" style="width: 100%; margin: 0 auto; display: none;">
                                            <thead>
                                                <tr>
                                                    <th>Pago</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="border: 0px;">
                                                        <input type="text" id="@("txt_pago_" + ltp.tipo)" name="@ltp.id" class="form-control txt_pago" style="text-align: center;"/>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                        }
                                        }
                                </tr>
                                <tr>
                                    <td id="solo_para_cambio" style="border: 0px; visibility: hidden;"><span style="font-weight: bold; color: black;">Cambio: $</span><span id="txt_cambio" style="color: black;">0</span></td>
                                    <td id="solo_para_porcentaje_comision" style="border: 0px; visibility: hidden;"><span style="font-weight: bold; color: black;">Comisión (%):</span><input id="txt_porcentaje_comision" class="form-control txt_referencia decimal" style="text-align: center;" value="@porcentaje_comision" /></td>
                                    <td colspan="@(cantidad_ltp - 3)" style="border: 0px;"></td>
                                    <td id="solo_para_deposito" style="border: 0px; visibility: hidden;"><span style="font-weight: bold; color: black;">Referencia:</span><input id="txt_referencia" class="form-control txt_referencia" style="text-align: center;" /></td>
                                </tr>
                                <tr>
                                    <td colspan="@(cantidad_ltp - 1)" style="border: 0px;"></td>
                                    <td style="border: 0px;"><span style="font-weight: bold; color: black;">Gran Total: $</span><span id="gran_total" style="color: black;">0</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="border: 0px; text-align: center;"></td>
                    <td style="border: 0px; text-align: center;">
                        @{
                            Decimal subtotal = Model.subtotal.Value;
                            Decimal iva = Model.iva.Value;
                            Decimal ventas = Model.total.Value;
                            Decimal total = ventas;
                        }
                        <table class="table" style="color: black;">
                            <tbody>
                                <tr>
                                    <td style="border: 0px; font-weight: bold; text-align: right; width: 50%;">Subtotal:</td>
                                    <td style="border: 0px; width: 50%; text-align: left;"><span>$</span><span id="txt_subtotal">@subtotal</span></td>
                                </tr>
                                <tr>
                                    <td style="border: 0px; font-weight: bold; text-align: right; width: 50%;">I.V.A.:</td>
                                    <td style="border: 0px; width: 50%; text-align: left;"><span>$</span><span id="txt_iva">@iva</span></td>
                                </tr>
                                <tr>
                                    <td style="border: 0px; font-weight: bold; text-align: right; width: 50%;">Ventas:</td>
                                    <td style="border: 0px; width: 50%; text-align: left;">
                                        @if (ventas == 0)
                                        {
                                            <span>$</span><span id="txt_ventas" style="color: black;">@ventas</span>
                                        }
                                        else
                                        {
                                            <span>$</span><span id="txt_ventas" style="color: green;">@ventas</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px; font-weight: bold; text-align: right; width: 50%;">Notas De Credito:</td>
                                    <td style="border: 0px; width: 50%; text-align: left;">
                                        <span>$ -</span><span id="txt_notas_credito" style="color: black;">0.00</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px; font-weight: bold; text-align: right; width: 50%;">Descuentos:</td>
                                    <td style="border: 0px; width: 50%; text-align: left;">
                                        <span>$ -</span><span id="txt_descuento_total" style="color: black;">0.00</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px; font-weight: bold; text-align: right; width: 50%;">Total:</td>
                                    <td style="border: 0px; width: 50%; text-align: left;">
                                        @if (total > 0)
                                        {
                                            <span>$</span><span id="txt_total" style="color: green;">@total</span>
                                        }
                                        else if (total < 0)
                                        {
                                            <span>$</span><span id="txt_total" style="color: red;">@total</span>
                                        }
                                        else
                                        {
                                            <span>$</span><span id="txt_total" style="color: black;">@total</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="border: 0px; text-align: center;">
                                        <button onclick="MostrarModalNotaVenta()" class="btn btn-info" role="button">
                                            <span class="glyph-icon icon-separator">
                                                <i class="glyph-icon icon-plus"></i>
                                            </span>
                                            <span class="button-content">Agregar Nota De Credito</span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="border: 0px; text-align: center;">
                                        <button onclick="MostrarModalDescuento()" class="btn btn-info" role="button">
                                            <span class="glyph-icon icon-separator">
                                                <i class="glyph-icon icon-plus"></i>
                                            </span>
                                            <span class="button-content">Agregar Descuento</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="tr_cambio_inventario" style="height: 42px; display: none;">
                    <td colspan="3" style="border: 0px; text-align: center;"></td>
                </tr>
                <tr class="tr_cambio_inventario" style="display: none;">
                    <td colspan="3" style="text-align: center; border: 0px; background-color: #506676; color: white;">Cambios en Inventario</td>
                </tr>
                <tr class="tr_cambio_inventario" style="display: none;">
                    <td colspan="3" style="border: 0px; text-align: center;">
                        <table class="table" style="color: black !important;">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Producto</th>
                                    <th>Cantidad Guardada</th>
                                    <th>Cantidad en Inventario</th>
                                    <th>Diferencia</th>
                                </tr>
                            </thead>
                            <tbody id="cuerpo_tabla_diferencia_inventario"></tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="border: 0px; text-align: center;">
                        <table class="table" style="width: 50%; margin: 0 auto;">
                            <tbody>
                                <tr>
                                    <td colspan="2" style="border: 0px; text-align: center;">
                                        <div id="AlertaFormulario" class="alert alert-info" style="margin: 0 auto; margin-bottom: 10px; width: 70%; display: none;">
                                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">Error</h4>
                                                <p>Por favor seleccione por lo menos un tipo de pago.</p>
                                            </div>
                                        </div>
                                        <div id="AlertaCantidad" class="alert alert-info" style="margin: 0 auto; margin-bottom: 0px; width: 70%; display: none;">
                                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">Error</h4>
                                                <p>El Pago es menor al Total.</p>
                                            </div>
                                        </div>
                                        <div id="AlertaPagoMayor" class="alert alert-info" style="margin: 0 auto; margin-bottom: 0px; width: 70%; display: none;">
                                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">Error</h4>
                                                <p>El Pago es mayor al Total. </p>
                                                <p>El efectivo recibido no es suficiente para el cambio a ser entregado.</p>
                                            </div>
                                        </div>
                                        <div id="AlertaProductoSinInventario" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">Error</h4>
                                                <p>Producto con inventario inexistente o menor a la cantidad a vender.</p>
                                            </div>
                                        </div>
                                        <div id="AlertaProductoNoSuficienteInventario" class="alert alert-info" style="margin-bottom: 0px; width: 100%; display: none;">
                                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">Error</h4>
                                                <p id="cantidad_inventario"></p>
                                                <p>Producto con inventario menor a la cantidad a vender.</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px;">
                                        <button id="BotonConfirmarVenta" onclick="confirmarVenta()" class="btn btn-success" role="button">
                                            <span class="glyph-icon icon-separator">
                                                <i class="glyph-icon icon-check"></i>
                                            </span>
                                            <span class="button-content">Aceptar</span>
                                        </button>
                                    </td>
                                    <td style="border: 0px;">
                                        <button onclick="CerrarModal()" class="btn btn-danger" role="button">
                                            <span class="glyph-icon icon-separator">
                                                <i class="glyph-icon icon-times"></i>
                                            </span>
                                            <span class="button-content">Cancelar</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".ModalConfirmarVentaDescentralizada").on('shown.bs.modal', function () {
            $('#td_Efectivo').trigger("click");
            $(this).find('#txt_pago_Efectivo').focus();
        });
        $('.ModalConfirmarVentaDescentralizada .modal-dialog').css('width', '95%');
        $(".txt_pago").on("keyup", function (e) {
            calcular_total();
            calcular_cambio();
        });
        $('.botontipopago').click(function () {
            calcular_total();
            calcular_cambio();
        });
        $('#td_Tarjeta').click(function () {
            if (!$('#pago_Tarjeta').is(":visible")) {
                var pago_actual_tarjeta_con_comision = obtener_pago_actual_tarjeta();
                $('#txt_pago_Tarjeta').val(decimalAdjust('round', pago_actual_tarjeta_con_comision, -2));
                if (parseFloat($('#txt_porcentaje_comision').val()) > 0)
                    agregar_renglon_concepto_comision_pago_targeta();
                else
                    $('#RenglonVentaComision').remove();
            }
            else {
                $('#RenglonVentaComision').remove();
            }
            recalcular_cantidades_totales_con_comision();
            calcular_total();
            calcular_cambio();
        });
        $('#txt_porcentaje_comision').keyup(function () {
            recalcular_de_nuevo_si_existe_comision_pago_tarjeta();
        });
        $('#txt_porcentaje_comision').blur(function () {
            if ($(this).val() <= 0 || isNaN($(this).val())) {
                $(this).val(0);
                $('#RenglonVentaComision').remove();
                recalcular_cantidades_totales_con_comision();
                calcular_total();
                calcular_cambio();
            }
        });
        if ($('#respetar_inventario').val() == "True") {
            respetar_inventario = true;
        } else {
            respetar_inventario = false;
        }
        if (respetar_inventario) {
            verificar_cambios_inventario();
        }

        /*
        Función para verificar el si hay afectaciones por parte del inventario
        con respecta a la venta que se va a realizar.
        */

        function verificar_cambios_inventario() {
            var cantidad_actual_inventario;
            var existen_cambios = false;
            var _id_sucursal = $('#id_sucursal').val();
            $('.RenglonVentaModal').each(function () {
                var codigo_individual = $(this).children('.codigo').html();
                var producto_individual = $(this).children('.producto').html();
                var cantidad_individual = parseFloat($(this).children('.cantidad').html());
                var tipo_precio_individual = $(this).children('.tipo_precio').html();

                cantidad_actual_inventario = traer_cantidad_inventario_modal(codigo_individual.trim(), _id_sucursal);

                if (parseFloat(cantidad_actual_inventario) < parseFloat(cantidad_individual)) {
                    var diferencia = cantidad_actual_inventario - cantidad_individual;
                    diferencia = diferencia;
                    var nuevo_tr = '<tr>' +
                                    '<td class="di_codigo" style="border: 0px;">' + codigo_individual + '</td>' +
                                    '<td class="di_producto" style="border: 0px;">' + producto_individual + '</td>' +
                                    '<td class="di_cantidad_guardada" style="border: 0px;">' + cantidad_individual + '</td>' +
                                    '<td class="di_cantidad_inventario" style="border: 0px;">' + cantidad_actual_inventario + '</td>' +
                                    '<td class="di_diferencia" style="border: 0px;">' + diferencia + '</td>' +
                                '</tr>';
                    $("#cuerpo_tabla_diferencia_inventario").append(nuevo_tr);
                    $(this).children('.cantidad').html(cantidad_actual_inventario);
                    if (cantidad_actual_inventario <= 0) {
                        $(this).remove();
                    }
                    existen_cambios = true;
                }
                if (existen_cambios) {
                    setTimeout(function () {
                        $('.tr_cambio_inventario').show(3000);
                    }, 300);
                    recalcular_cantidades_precio();
                }
            });
        }
        $('#txt_pago_Tarjeta').change(function () {
            var nuevo_valor = calcular_restante();
            if (nuevo_valor < 0)
                nuevo_valor = parseFloat(nuevo_valor) * (-1);
            else
                nuevo_valor = 0;
            nuevo_valor = obtner_nueva_comision_restante(nuevo_valor);
            $('#txt_pago_Tarjeta').val(decimalAdjust('round', nuevo_valor, -2));
            recalcular_concepto_comision_pago_targeta();
            recalcular_cantidades_totales_con_comision();
            calcular_total();
            calcular_cambio();
        });
    });
    function recalcular_cantidades_precio() {
        var subtotal = 0;
        var iva = 0;
        var ventas = 0;

        $('.RenglonVentaModal').each(function () {
            var cantidad_individual = parseFloat($(this).children('.cantidad').html());
            var precio_unitario = parseFloat($(this).children('.precio_u').html());
            var nuevo_importe = cantidad_individual * precio_unitario;
            $(this).children('.importe').html(nuevo_importe);
            subtotal += nuevo_importe;
            //Para calcular iva repentando precios no/si netos
            var iva_unitario = parseFloat($(this).children('.iva_unitario').html());
            iva += (parseFloat(iva_unitario) * cantidad_individual);
        });
        ventas = subtotal + iva;
        $('#txt_subtotal').html(decimalAdjust('round', subtotal, -2));
        $('#txt_iva').html(decimalAdjust('round', iva, -2));
        $('#txt_ventas').html(decimalAdjust('round', ventas, -2));
        $('#txt_total').html(decimalAdjust('round', ventas, -2));
        //$('#txt_subtotal').html(subtotal);
        //$('#txt_iva').html(iva);
        //$('#txt_ventas').html(ventas);
        //$('#txt_total').html(ventas);
    }
    /* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
    /* sumar las cantidades de todos los tipos de pago seleccionados y el monto    */
    /* acumulado de las notas de credito y ponerlo en Gran Total (toal pagado)     */
    /* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
    function calcular_total() {
        var gran_total = 0;
        $('.txt_pago').each(function () {
            if ($(this).parent().parent().parent().parent().is(':visible') == true) {
                if ($(this).val() > 0) {
                    gran_total = gran_total + parseFloat($(this).val());
                }
            }
        });
        gran_total = gran_total + parseFloat($('#txt_notas_credito').html());
        $('#gran_total').html(decimalAdjust('round', gran_total, -2));
    }
    /* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
    /* primero obtener el total a pagar, sacar el total de todos los tipos de pago */
    /* seleccionados y ponerlo en el campo cambio si esta visible                  */
    /* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */
    function calcular_cambio() {
        var total = parseFloat($("#txt_total").text());
        var pago = 0;
        $('.txt_pago').each(function () {
            if ($(this).parent().parent().parent().parent().is(':visible')) {
                if ($(this).val() > 0) {
                    pago = pago + parseFloat($(this).val());
                }
            }
        });
        pago = pago;
        if ($('#pago_Efectivo').is(':visible')) {
            var cambio = (pago - total);
            if (isNaN(cambio)) {
                cambio = 0;
            }
            $("#txt_cambio").html(decimalAdjust('round', cambio, -2));
        }
    }
    function CerrarModal() {
        $('.ModalConfirmarVentaDescentralizada').modal('hide');
    }
    $('.txt_pago').bind('keypress', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
    function MostrarAlertaCantidad() {
        $('#AlertaCantidad').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaCantidad() {
        setTimeout(function () {
            $('#AlertaCantidad').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaCantidad').hide(1500);
        }, 3000);
    }
    function MostrarAlertaPagoMayor() {
        $('#AlertaPagoMayor').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaPagoMayor() {
        setTimeout(function () {
            $('#AlertaPagoMayor').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaPagoMayor').hide(1500);
        }, 3000);
    }
    function traer_existencia_inventario_modal(codigo_producto, id_sucursal) {
        var seguir = true;
        var cantidad = 0;
        var url = '@Url.Action("cantidadEnInventario")';
        $.ajax({
            url: url,
            type: "POST",
            data: { codigo_producto: codigo_producto, id_sucursal: id_sucursal },
            datetype: 'json',
            success: function (result) {
                if (result.success) {
                    if (result.cantidad_en_inventario > 0)
                        seguir = true;
                    else
                        seguir = false;
                }
                else {
                    seguir = false;
                }
            },
            async: false
        });
        return seguir;
    }
    function traer_cantidad_inventario_modal(codigo_producto, id_sucursal) {
        var cantidad = 0;
        var url = '@Url.Action("cantidadEnInventario")';
        $.ajax({
            url: url,
            type: "POST",
            data: { codigo_producto: codigo_producto, id_sucursal: id_sucursal },
            datetype: 'json',
            success: function (result) {
                if (result.success) {
                    cantidad = result.cantidad_en_inventario;
                }
                else {
                    cantidad = -1;
                }
            },
            async: false
        });
        return cantidad;
    }
    function VerificarCantidadesNoCero() {
        var existe_cantidad_no_cero = false;
        $('.RenglonVentaModal').each(function () {
            var codigo_individual = $(this).children('.codigo').html();
            var producto_individual = $(this).children('.producto').html();
            //var cantidad_individual = parseFloat($(this).children('.cantidad').html()).toFixed(2);
            var cantidad_individual = parseFloat($(this).children('.cantidad').html());
            var tipo_precio_individual = $(this).children('.tipo_precio').html();

            if (cantidad_individual > 0) {
                existe_cantidad_no_cero = true;
            }
        });
        return existe_cantidad_no_cero;
    }

    function agregar_renglon_concepto_comision_pago_targeta() {
        var nuevo_pago_actual_tarjeta = parseFloat(calcular_restante());
        if (nuevo_pago_actual_tarjeta < 0) {
            nuevo_pago_actual_tarjeta = parseFloat(nuevo_pago_actual_tarjeta) * (-1);
            if (isNaN($('#txt_porcentaje_comision').val()))
                var porcentaje_comision_esta_venta = 0;
            else
                var porcentaje_comision_esta_venta = $('#txt_porcentaje_comision').val();
            var porcentaje_decimal = parseFloat(porcentaje_comision_esta_venta) / 100;
            var precio_neto = parseFloat(nuevo_pago_actual_tarjeta) * parseFloat(porcentaje_decimal);
            var precio_u = parseFloat(precio_neto) / (1 + (parseFloat($('#iva_producto_comision').val()) / 100));
            var iva_unitario = parseFloat(precio_neto) - parseFloat(precio_u);
            var renglon = '<tr id="RenglonVentaComision" class="RenglonVentaModal">' +
                            '<td class="codigo" style="text-align: center; border: 0px;">TPV_COMISION</td>' +
                            '<td class="producto" style="text-align: center; border: 0px;">Comisión pagó con tarjeta.</td>' +
                            '<td class="tipo_precio" style="text-align: center; border: 0px;">Lista</td>' +
                            '<td class="cantidad" style="text-align: center; border: 0px;">1.000</td>' +
                            '<td class="precio_u" style="text-align: center; border: 0px;">' + decimalAdjust('round', precio_u, -2) + '</td>' +
                            '<td class="importe" style="text-align: center; border: 0px;">' + decimalAdjust('round', precio_u, -2) + '</td>' +
                            '<td class="id_producto" style="display: none; text-align: center;">1</td>' +
                            '<td class="id_tipo_precio" style="display: none; text-align: center;">1</td>' +
                            '<td class="iva_unitario" style="display: none; text-align: center;">' + decimalAdjust('round', iva_unitario, -2) + '</td>' +
                        '</tr>';
            $(renglon).insertAfter(".RenglonVentaModal:last");
        }
    }
    function recalcular_concepto_comision_pago_targeta() {
        var nuevo_pago_actual_tarjeta = parseFloat(calcular_restante());
        if (nuevo_pago_actual_tarjeta < 0) {
            nuevo_pago_actual_tarjeta = parseFloat(nuevo_pago_actual_tarjeta) * (-1);
            if (isNaN($('#txt_porcentaje_comision').val()))
                var porcentaje_comision_esta_venta = 0;
            else
                var porcentaje_comision_esta_venta = $('#txt_porcentaje_comision').val();
            var porcentaje_decimal = parseFloat(porcentaje_comision_esta_venta) / 100;
            var precio_neto = parseFloat(nuevo_pago_actual_tarjeta) * parseFloat(porcentaje_decimal);
            var precio_u = parseFloat(precio_neto) / (1 + (parseFloat($('#iva_producto_comision').val()) / 100));
            var iva_unitario = parseFloat(precio_neto) - parseFloat(precio_u);
            $('#RenglonVentaComision .precio_u').html(decimalAdjust('round', precio_u, -2));
            $('#RenglonVentaComision .importe').html(decimalAdjust('round', precio_u, -2));
            $('#RenglonVentaComision .iva_unitario').html(decimalAdjust('round', iva_unitario, -2));
        }
        else {
            $('#RenglonVentaComision').remove();
        }
    }
    function recalcular_cantidades_totales_con_comision() {
        var subtotal = 0;
        var iva = 0;
        var ventas = 0;
        var total_final;

        $('.RenglonVentaModal').each(function () {
            var cantidad_individual = parseFloat($(this).children('.cantidad').html());
            var precio_unitario = parseFloat($(this).children('.precio_u').html());
            var nuevo_importe = cantidad_individual * precio_unitario;
            $(this).children('.importe').html(nuevo_importe);
            subtotal += nuevo_importe;
            //Para calcular iva repentando precios no/si netos
            var iva_unitario = parseFloat($(this).children('.iva_unitario').html());
            iva += (parseFloat(iva_unitario) * cantidad_individual);
        });

        ventas = subtotal + iva;
        total_final = ventas - parseFloat($('#txt_notas_credito').html());
        total_final -= parseFloat($('#txt_descuento_total').html());
        total_final = total_final.toFixed(1);
        $('#txt_subtotal').html(decimalAdjust('round', subtotal, -2));
        $('#txt_iva').html(decimalAdjust('round', iva, -2));
        $('#txt_ventas').html(decimalAdjust('round', ventas, -2));
        $('#txt_total').html(decimalAdjust('round', total_final, -2));
        //$('#txt_subtotal').html(subtotal);
        //$('#txt_iva').html(iva);
        //$('#txt_ventas').html(ventas);
        //$('#txt_total').html(ventas);
    }

    function recalcular_de_nuevo_si_existe_comision_pago_tarjeta() {
        if ($('#pago_Tarjeta').is(":visible")) {
            var nuevo_valor = obtner_nueva_comision_restante(calcular_restante());
            if (nuevo_valor < 0) {
                nuevo_valor = parseFloat(nuevo_valor) * (-1);
                $('#txt_pago_Tarjeta').val(decimalAdjust('round', nuevo_valor, -2));
            }
            else {
                $('#txt_pago_Tarjeta').val(0);
            }
            if (!(isNaN($('#txt_porcentaje_comision').val())) && parseFloat($('#txt_porcentaje_comision').val()) >= 0) {
                if ($('#RenglonVentaComision').length < 1) {
                    agregar_renglon_concepto_comision_pago_targeta();
                }
                else {
                    recalcular_concepto_comision_pago_targeta();
                }
                recalcular_cantidades_totales_con_comision();
                calcular_total();
                calcular_cambio();
            }
        }
    }
    function obtener_pago_actual_tarjeta() {
        var pago_restante = calcular_restante();
        if (pago_restante < 0) {
            pago_restante = parseFloat(pago_restante) * (-1);
            var nuevo_pago_actual_tarjeta = parseFloat(pago_restante);
            if (isNaN($('#txt_porcentaje_comision').val()))
                var porcentaje_comision_esta_venta = 0;
            else
                var porcentaje_comision_esta_venta = $('#txt_porcentaje_comision').val();
            var porcentaje_decimal = parseFloat(porcentaje_comision_esta_venta) / 100;
            var precio_neto = (parseFloat(nuevo_pago_actual_tarjeta) * parseFloat(porcentaje_decimal)) + parseFloat(nuevo_pago_actual_tarjeta);
            var precio_u = parseFloat(precio_neto) / (1 + (parseFloat($('#iva_producto_comision').val()) / 100));
            var iva_unitario = parseFloat(precio_neto) - parseFloat(precio_u);
            return precio_neto;
        }
        else
            return 0;
    }

    function calcular_restante() {
        if ($('#RenglonVentaComision').length > 0)
            var total = parseFloat($("#txt_total").text()) - parseFloat($('#RenglonVentaComision .precio_u').html()) - parseFloat($('#RenglonVentaComision .iva_unitario').html());
        else
            var total = parseFloat($("#txt_total").text());
        var pago = 0;
        $('.txt_pago').each(function () {
            if ($(this).parent().parent().parent().parent().is(':visible')) {
                if ($(this).val() > 0) {
                    pago = pago + parseFloat($(this).val());
                }
            }
        });
        if ($('#pago_Tarjeta').is(":visible") && !isNaN($('#txt_pago_Tarjeta').val()))
            pago = parseFloat(pago) - parseFloat($('#txt_pago_Tarjeta').val());
        var cambio = (pago - total);
        if (isNaN(cambio)) {
            cambio = 0;
        }
        return decimalAdjust('round', cambio, -2);
    }

    function obtner_nueva_comision_restante(restante) {
        if (isNaN($('#txt_porcentaje_comision').val()))
            var porcentaje_comision_esta_venta = 0;
        else
            var porcentaje_comision_esta_venta = $('#txt_porcentaje_comision').val();
        var porcentaje_decimal = parseFloat(porcentaje_comision_esta_venta) / 100;
        var nuevo_restante = (parseFloat(restante) * parseFloat(porcentaje_decimal)) + parseFloat(restante);
        return decimalAdjust('round', nuevo_restante, -2);
    }
</script>
