﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">La venta ha sido entregada correctamente con el ID De Venta <span>@ViewBag.folio_nuevo</span></h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <thead>
                <tr>
                    <td style="text-align: center; border: 0px;">
                        <button id="confirmarEntregarVenta" onclick="CerrarModal()" class="btn btn-success autofocus" autofocus>
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </button>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalConfirmarVentaCentralizada').modal('hide');
        $('.ModalVentaEntregadaExitosamente .modal-dialog').css('width', '60%');
        $(".ModalVentaEntregadaExitosamente").on('shown.bs.modal', function () {
            $(this).find('#confirmarEntregarVenta').focus();
        });
    });
    function CerrarModal() {
        $('.ModalVentaEntregadaExitosamente').modal('hide');
        ConfiguracionImpresionVenta(@ViewBag.id_venta, @ViewBag.id_nota_credito, @ViewBag.cambio);
        filtrar();
    }
</script>
