﻿@model  POS.Models.venta
<style>
    .vermas {
        display: none;
    }
</style>
<input id="txt_id_venta_entregar" value="@Model.id" style="display:none" />
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 id="folio_serie_entregar" class="title-hero" style="text-align: center; background-color: #254054; color: white;">Venta Por Entregar: <span>@POS.Fn.Numeros.serie_folio_by_id(Model.id)</span></h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="3" style="border: 0px; text-align: center;">
                        <table class="table" style="width: 500px; margin: 0 auto; margin-bottom: 30px">
                            <tbody>
                                <tr>
                                    <td style="border: 0px" colspan="2">
                                        <label style="width: 90%;">Descripción del envío (Max.100)<textarea id="txtEnvio" maxlength="100" row="4" class="form-control autofocus" autofocus/></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="border: 0px; text-align: center;">
                                        <div id="AlertaFormulario" class="alert alert-info" style="margin: 0 auto; margin-bottom: 10px; width: 70%; display: none;">
                                            <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">Error</h4>
                                                <p>Por favor agrege una descripción al envío.</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px;">
                                        <button onclick="@("confirmar_envio_online("+Model.id+")")" class="btn btn-success">
                                            <span class="glyph-icon icon-separator">
                                                <i class="glyph-icon icon-check"></i>
                                            </span>
                                            <span class="button-content">Aceptar</span>
                                        </button>
                                    </td>
                                    <td style="border: 0px;">
                                        <button onclick="CerrarModal()" class="btn btn-danger">
                                            <span class="glyph-icon icon-separator">
                                                <i class="glyph-icon icon-times"></i>
                                            </span>
                                            <span class="button-content">Cancelar</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="btn_vermas" class="boton_hover_verde"><i class="fa fa-plus fa-lg" aria-hidden="true" style="padding: 10px;"></i>Ver mas</label>
                        <label id="btn_vermenos" class="boton_hover_verde" style="display: none"><i class="fa fa-minus fa-lg" aria-hidden="true" style="padding: 10px;"></i>Ver menos</label>
                    </td>
                </tr>
                <script>
                    $("#btn_vermas").click(function () {
                        $("#btn_vermenos").show();
                        $("#btn_vermas").hide();
                        $(".vermas").slideDown("slow");
                    });
                    $("#btn_vermenos").click(function () {
                        $("#btn_vermas").show();
                        $("#btn_vermenos").hide();
                        $(".vermas").hide();
                    });
                </script>
                <tr class="vermas">
                    <td colspan="3" style="border: 0px;">
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tipo pago</th>
                                        <th>Monto</th>
                                        <th>Referencia</th>
                                    </tr>
                                </thead>
                                @foreach (var pago in Model.multiple_pago)
                                {
                                    <tr>
                                        <td style="text-align: center">@pago.tipo_pago_venta.tipo</td>
                                        <td style="text-align: center">@pago.cantidad.ToString()</td>
                                        <td style="text-align: center">@pago.referencia</td>
                                    </tr>
                                }
                            </table>
                        </div>

                    </td>
                </tr>
                <tr class="vermas">
                    <td colspan="3" style="text-align: center; border: 0px; background-color: #506676; color: white;">Lista De Compra</td>
                </tr>
                <tr class="vermas">
                    <td colspan="3" style="border: 0px; text-align: center;">
                        <table class="table" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Descripcion</th>
                                    <th>Tipo De Precio</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Importe</th>
                                    <th style="display: none;">id_producto</th>
                                    <th style="display: none;">id_precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int renglon = 1;
                                    foreach (var c in Model.conceptos_por_venta)
                                    {
                                    <tr>
                                        <td class="codigo" style="text-align: center; border: 0px;">@c.producto.Codigo</td>
                                        <td class="producto" style="text-align: center; border: 0px;">@c.producto.Descripcion</td>
                                        <td class="tipo_precio" style="text-align: center; border: 0px;">@c.tipocliente.Tipo</td>
                                        <td class="cantidad" style="text-align: center; border: 0px;">@c.cantidad</td>
                                        <td class="precio_u" style="text-align: center; border: 0px;">@c.precio_unitario</td>
                                        <td class="importe" style="text-align: center; border: 0px;">@c.importe</td>
                                        <td class="id_producto" style="display: none; text-align: center;">@c.Producto_id</td>
                                        <td class="id_tipo_precio" style="display: none; text-align: center;">@c.TipoCliente_id</td>
                                    </tr>
                                        renglon++;
                                    }
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="vermas">
                    <td colspan="3" style="border: 0px;"></td>
                </tr>
                <tr class="vermas">
                    <td style="text-align: center; border: 0px; background-color: #506676; color: white; width: 60%;">Anexos</td>
                </tr>
                <tr class="vermas">
                    <td style="width: 60%;">
                        <div id="divArhivosAnexos"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".ModalConfirmarEnvioOnline").on('shown.bs.modal', function () {
            $(this).find('#txt_pago_cliente').focus();
        });
        $('.ModalConfirmarEnvioOnline .modal-dialog').css('width', '95%');
        $(".txt_pago").on("keyup", function (e) {
            calcular_total();
            calcular_cambio();
        });
        $('.botontipopago').click(function () {
            calcular_total();
            calcular_cambio();
        });
        $('.ModalConfirmarEnvioOnline').on('shown.bs.modal', function () {
            $(".autofocus").focus();
        });
    });
    function calcular_total() {
        var gran_total = 0;
        $('.txt_pago').each(function () {
            if ($(this).parent().parent().parent().parent().is(':visible') == true) {
                if ($(this).val() > 0) {
                    gran_total = gran_total + parseFloat($(this).val());
                }
            }
        });
        gran_total = gran_total + parseFloat($('#txt_notas_credito').html());
        //$('#gran_total').html(eval(gran_total.toFixed(5)));
        //$('#gran_total').html(gran_total.toFixed(5));
        $('#gran_total').html(gran_total);
    }
    function calcular_cambio() {
        var total = parseFloat($("#txt_total").text());
        var pago = 0;
        $('.txt_pago').each(function () {
            if ($(this).parent().parent().parent().parent().is(':visible')) {
                if ($(this).val() > 0) {
                    pago = pago + parseFloat($(this).val());
                }
            }
        });
        //pago = pago.toFixed(5);
        pago = pago;
        if ($('#pago_contado').is(':visible')) {
            //var cambio = (pago - total).toFixed(2);
            var cambio = (pago - total);
            if (isNaN(cambio)) {
                cambio = 0;
            }
            $("#txt_cambio").html(cambio);
        }
    }
    function CerrarModal() {
        $('.ModalConfirmarEnvioOnline').modal('hide');
    }
    $('.txt_pago').bind('keypress', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
    function MostrarAlertaCantidad() {
        $('#AlertaCantidad').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaCantidad() {
        setTimeout(function () {
            $('#AlertaCantidad').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaCantidad').hide(1500);
        }, 3000);
    }
</script>

@*ARCHIVOS ANEXOS*@
<script>

    $(document).ready(function () {
        traerArchivosOrdenCompra("@Model.id");

    });
</script>
