﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Venta Generada Correctamente</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tr>
                <td style="text-align: center; font-size: 2.5vw; border:0px;">ID: @ViewBag.folio</td>
            </tr>
            <tr>
                @if (ViewBag.tipo_entrega == 3)
                {
                    <td style="text-align: center; border:0px;">
                        <button onclick='location.href="@Url.Action("Cotizacion")"' class="btn btn-success autofocus" autofocus>
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </button>
                    </td>
                }
                else
                {
                    <td style="text-align: center; border:0px;">
                        <button onclick='location.href="@Url.Action("CotizacionOnline", "TiendaOnline")"' class="btn btn-success autofocus" autofocus>
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </button>
                    </td> 
                }
            </tr>
        </table>
    </div>
</div>
<input id="tipo_entrega" type="hidden"  value="@ViewBag.tipo_entrega"/>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalFalloRecuperarCotizacion .modal-dialog').css('width', '30%');
        $('.ModalFalloRecuperarCotizacion').on('shown.bs.modal', function () {
            $(".autofocus").focus();
        });
    });
    function CerrarModal() {
        $('.ModalFalloRecuperarCotizacion').modal('hide');
    }
</script>
