﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Agregar Nota De Credito</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td style="border: 0px;">Numero De Nota De Credito:</td>
                    <td style="border: 0px;"><input type="text" id="txt_id_nota_credito" class="form-control" style="text-align: center; text-transform:uppercase;" autofocus/></td>
                </tr>
                <tr>
                    <td style="text-align: center; border: 0px;">
                        <button onclick="AgregarNotaCredito()" class="btn btn-success">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Agregar</span>
                        </button>
                    </td>
                    <td style="text-align: center; border: 0px;">
                        <button onclick="CerrarModalAgregarNotaCredito()" class="btn btn-danger">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Cancelar</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalAgregarNotaCredito .modal-dialog').css('width', '30%');
        $(".ModalAgregarNotaCredito").on('shown.bs.modal', function () {
            $(this).find('#txt_id_nota_credito').focus();
        });
    });
    function CerrarModalAgregarNotaCredito() {
        $('.ModalAgregarNotaCredito').modal('hide');
        $('body').css('padding-right', '0px !important');
    }
</script>
