﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">¿Desea descartar los cambios de la venta actual?</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <button id="limpiarVentana" onclick='location.href="@Url.Action("NuevaVenta")"' class="btn btn-success" autofocus>
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </button>
                    </td>
                    <td style="text-align: center;">
                        <button onclick="CerrarModal()" class="btn btn-danger">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Cancelar</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalLimpiarVenta .modal-dialog').css('width', '40%');
        $(".ModalLimpiarVenta").on('shown.bs.modal', function () {
            $(this).find('#limpiarVentana').focus();
        });
    });
    function CerrarModal() {
        $('.ModalLimpiarVenta').modal('hide');
    }
</script>
