﻿@model List<string>
@{
    var venta = (POS.Models.venta)ViewBag.venta;
}
<div style="width: 100%;">
    <h2 class="text-center" style="padding: 10px;margin:20px; font-size: 15px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2">Anexos <br /> @POS.Fn.Numeros.serie_folio_by_id(venta.id)
    </h2>
</div>
<table id="tabla_lista_archivos_cotizacion" style="font-size: 12px; color: #7B7B7B; margin: 0 auto">
    <tbody>
        @foreach (string archivo in Model)
        { 
            <tr FileName="@archivo" id_cotizacion="@venta.id">
                <td>@Html.Raw(POS.Fn.FnFiles.TraerIcono(archivo))</td>
                <td>@archivo</td>
                <td>
                    <label class="btn_ver_archivo boton_hover_verde " FileName="@archivo" style="padding: 2px;margin: 10px;">
                        <i class="fa fa-check-square-o fa-lg" aria-hidden="true" style="margin-right: 5px;"></i>Ver
                    </label>
                </td>
            </tr>
        }
    </tbody>
</table>

<div style="width: 100%;">
    <h2 class="text-center" style="padding: 10px;margin:20px; font-size: 15px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2">Conceptos <br /> @POS.Fn.Numeros.serie_folio_by_id(venta.id)
    </h2>
</div>
<table style="font-size: 12px; color: #7B7B7B; margin: 0 auto;margin-bottom: 20px;">
    <thead>
        <tr style="border: 1px solid #cecece;">
            <th style="text-align: center; padding: 10px 5px;">Concepto</th>
            <th style="text-align: center; padding: 10px 5px;">Cantidad</th>
            <th style="text-align: center; padding: 10px 5px;">Importe</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var c in venta.conceptos_por_venta)
        {
            <tr>
                <td>
                    <label style="padding: 5px 30px;">@c.producto.Codigo</label>
                </td>
                <td>
                    <label style="padding: 5px 30px;">@c.cantidad</label>
                </td>
                <td style="text-align: right;">
                    <label>$@Math.Round(c.importe_mas_iva.Value, 2).ToString("#,##0.00")</label>
                </td>
            </tr>
        }
        <tr style="">
            <td></td>
            <td></td>
            <td style="text-align: right;border: 1px solid #cecece;">
                <label>$@Math.Round(venta.total.Value, 2).ToString("#,##0.00")</label></td>
        </tr>
    </tbody>
</table>

