﻿@{
    Layout = null;
    ViewBag.Title = "POS - Nueva Venta";
}

@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    POS.Models.configuracion_pos configuracion_pos = POS.Fn.Configuracion.TraerConfiguracionPOS();
    POS.Models.usuario_punto_venta usuario = POS.Fn.usuario_logeado.traerUsuario();
}

<!DOCTYPE html>
<html>
<head>
    <link rel='shortcut icon' type='image/x-icon' href="@Url.Content("/UploadFolder/logo/" + configuracion_general.favicon)" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>POS - Nueva Venta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="@Url.Content("~/NuevosAssests/jquery-3.2.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/NuevosAssests/bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/NuevosAssests/bootstrap/js/npm.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/NuevosAssests/smoke/js/smoke.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/NuevosAssests/smoke/lang/es.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/NuevosAssests/bootbox.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets-minified/Menu/modernizr.custom.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/NuevosAssests/bootstrap/css/bootstrap-theme.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/NuevosAssests/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/NuevosAssests/smoke/css/smoke.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/Menu/default.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/Menu/component.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/NuevosAssests/font-awesome/css/font-awesome.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/icons/linecons/linecons.css")" />
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="background-color: #254054;">
            <div class="col-sm-12" style="height: 50px;padding-left:0px; padding-right:0px;">
                <div class="col-sm-2" style="height: 50px; background-color:white; padding-left: 0px; padding-right: 0px;">
                    <nav id="menu-usuario" class="cbp-hrmenu">
                        <ul>
                            <li style="cursor:pointer;">
                                <a style="text-align: center; cursor:pointer; color: white;">
                                    <img id="logo" src="@Url.Content("/UploadFolder/logo/" + configuracion_general.favicon)" style="width:25px;vertical-align: text-top;" />
                                    <label class="lblSubText" style="text-align: center; position: relative; top: -5px; cursor:pointer; color: #254054;">
                                        @if (Request.IsAuthenticated)
                                        {
                                        <span style="text-transform: uppercase; font-weight:bold;">@usuario.nombre_usuario</span><span> - </span>
                                        <span style="text-transform: uppercase; font-weight:bold; color:green;">@usuario.nivel_usuario.nombre.ToUpper()</span>
                                        }
                                    </label>
                                </a>
                                <div class="cbp-hrsub" style="width: 100%; padding: 0px; border: 0px; left: 0em; top: -0.4em; position: relative; background-color: #ff5757; color: white !important; border-radius: 3px; text-align: center; cursor: pointer;">
                                    <div class="cbp-hrsub-inner" style="cursor: pointer;">
                                        <div style="padding: 0px; width: 100%; text-align: center; cursor: pointer;">
                                            <h4 onclick="location.href = '@Url.Action("LogOff", "Account")'" style="padding: 0px;cursor: pointer;">
                                                <i class="glyph-icon icon-power-off fa-lg" style="display: inline;margin-right: 10px;color: white;font-size: 19px;cursor: pointer;"></i><label style="display: inline; color: white; font-size: 16px; cursor: pointer;">Cerrar Sesion</label>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-10" style="height: 50px;padding-left:0px; padding-right:0px;">
                    <nav id="cbp-hrmenu" class="cbp-hrmenu">
                        <ul>
                            <li style="cursor:pointer;">
                                <a onclick="location.href = '@Url.Action("Index", "Home")'" style="text-align: center; cursor:pointer; color: white;">
                                    <i class="fa fa-home" aria-hidden="true" style="font-size:1.3em;"></i>
                                    <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px;cursor:pointer;">
                                        Inicio
                                    </label>
                                </a>
                            </li>
                            <li style="cursor:pointer;">
                                <a onclick="location.href = '@Url.Action("NuevaVenta", "Venta")'" style="text-align: center; cursor:pointer; color: white;">
                                    <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:1.3em;"></i>
                                    <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px;cursor:pointer;">
                                        Nueva Venta
                                    </label>
                                </a>
                            </li>
                            <li style="cursor:pointer;">
                                <a style="text-align: center; cursor:pointer; color: white; text-decoration:none;">
                                    <i class="glyph-icon icon-linecons-shop" style="font-size:1em; font-style:normal;"></i>
                                    <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px; cursor:pointer;">
                                        Punto De Venta
                                    </label>
                                </a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("NuevaVenta", "Venta")'">
                                                <i class="glyph-icon icon-elusive-basket fa-lg" style="margin-left: 5px;"></i>
                                                Venta
                                            </h4>
                                            <ul>
                                                <li><a href="@Url.Action("NuevaVenta", "Venta")">Nueva Venta</a></li>
                                                <li><a href="@Url.Action("EntregaVenta", "Venta")">Entregar Venta</a></li>
                                                <li><a href="@Url.Action("Cotizacion", "Venta")">Cotizaciones</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("VentaOnline", "TiendaOnline")'">
                                                <i class="glyph-icon icon-cloud-upload fa-lg" style="margin-left: 5px;"></i>
                                                Tienda En Linea
                                            </h4>
                                            <ul>
                                                <li><a href="@Url.Action("VentaOnline", "TiendaOnline")">Ventas En Linea</a></li>
                                                <li><a href="@Url.Action("CotizacionOnline", "TiendaOnline")">Cotizaciones En Linea</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "Credito")'">
                                                <i class="glyph-icon icon-file-text-o fa-lg" style="margin-left: 5px;"></i>
                                                Creditos
                                            </h4>
                                            <ul>
                                                <li><a href="@Url.Action("Index", "Credito")">Creditos Por Cliente</a></li>
                                                <li><a href="@Url.Action("HistorialCreditos", "Credito")">Creditos Por Venta</a></li>
                                                <li><a href="@Url.Action("HistorialAbonosClientes", "Credito")">Abonos</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "NotaCredito")'">
                                                <i class="glyph-icon icon-file-text-o fa-lg" style="margin-left: 5px;"></i>
                                                Notas De Credito
                                            </h4>
                                        </div>
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "CorteCaja")'">
                                                <i class="glyph-icon icon-elusive-laptop fa-lg" style="margin-left: 5px;"></i>
                                                Cortes De Caja
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Historial", "Reporte")'">
                                                <i class="glyph-icon icon-bar-chart-o fa-lg" style="margin-left: 5px;"></i>
                                                Reportes
                                            </h4>
                                            <ul>
                                                <li><a href="@Url.Action("Historial", "Reporte")" title="Historial"><span>Historial De Ventas</span></a></li>
                                                @if (configuracion_general.venta_consignacion == true)
                                                {
                                                <li><a href="@Url.Action("Consignacion", "Reporte")" title="Consignacion"><span>Consignacion</span></a></li>
                                                <li><a href="@Url.Action("PoolConsignacion", "Reporte")" title="Consignacion"><span>Consignacion Por Proveedor</span></a></li>
                                                }
                                                <li><a href="@Url.Action("VentaTipoPrecio", "Reporte")" title="Ventas Por Producto"><span>Ventas Por Producto</span></a></li>
                                                <li><a href="@Url.Action("ResumenVenta", "Reporte")" title="Ventas Por Tipo De Precio"><span>Ventas Por Tipo De Precio</span></a></li>
                                            </ul>
                                        </div>
                                        @if (Convert.ToBoolean(configuracion_pos.movimientos_efectivo) == true)
                                        {
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "MovimientoEfectivo")'">
                                                <i class="glyph-icon icon-iconic-layers-alt fa-lg" style="margin-left: 5px;"></i>
                                                Movimientos Efectivo
                                            </h4>
                                        </div>
                                        }
                                        @*<div>
                                                <h4 onclick="location.href = '@Url.Action("Index", "Factura")'">
                                                    <i class="glyph-icon icon-file fa-lg" style="margin-left: 5px;"></i>
                                                    Facturacion Electronica
                                                </h4>
                                            </div>*@
                                    </div>
                                </div>
                            </li>
                            <li style="cursor:pointer;">
                                <a style="text-align: center; cursor:pointer; color: white;">
                                    <i class="fa fa-cubes" aria-hidden="true" style="font-size:1.3em;"></i>
                                    <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px; cursor:pointer;">
                                        Productos
                                    </label>
                                </a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "Producto")'">
                                                <i class="glyph-icon icon-cube fa-lg" style="margin-left: 5px;"></i>
                                                Productos
                                            </h4>
                                        </div>
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "Proveedor")'">
                                                <i class="glyph-icon icon-truck fa-lg" style="margin-left: 5px;"></i>
                                                Proveedores
                                            </h4>
                                        </div>
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "Marca")'">
                                                <i class="fa-lg" style="margin-left: 5px;">&#174;</i>
                                                Marcas
                                            </h4>
                                        </div>
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "Familia")'">
                                                <i class="glyph-icon icon-elusive-font fa-lg" style="margin-left: 5px;"></i>
                                                Familia
                                            </h4>
                                        </div>
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "Subfamilia")'">
                                                <i class="glyph-icon icon-elusive-fontsize fa-lg" style="margin-left: 5px;"></i>
                                                Subfamilias
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "Inventario")'">
                                                <i class="glyph-icon icon-iconic-exchange fa-lg" style="margin-left: 5px;"></i>
                                                Inventario
                                            </h4>
                                            <ul>
                                                <li><a href="@Url.Action("Index", "Inventario")" title="Inventario"><span>Inventario</span></a></li>
                                                <li><a href="@Url.Action("NuevaEntrada", "Inventario")" title="Nueva Entrada De Inventario"><span>Nueva Entrada De Inventario</span></a></li>
                                                <li><a href="@Url.Action("NuevaSalida", "Inventario")" title="Nueva Salida De Inventario"><span>Nueva Salida De Inventario</span></a></li>
                                                <li><a href="@Url.Action("HistorialMovimientosInventario", "Inventario")" title="Historial De Movimientos"><span>Historial De Movimientos</span></a></li>
                                                <li><a href="@Url.Action("HistorialMovimientosInventarioDetalle", "Inventario")" title="Resumen De Entradas/Salidas"><span>Resumen De Entradas/Salidas</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="cursor:pointer;">
                                <a onclick="location.href = '@Url.Action("Index", "Cliente")'" style="text-align: center; cursor:pointer; color: white;">
                                    <i class="fa fa-users" aria-hidden="true" style="font-size:1.3em;"></i>
                                    <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px; cursor:pointer;">
                                        Clientes
                                    </label>
                                </a>
                            </li>
                            <li style="cursor:pointer;">
                                <a onclick="location.href = '@Url.Action("Index", "Usuario")'" style="text-align: center; cursor:pointer; color: white;">
                                    <i class="fa fa-user" aria-hidden="true" style="font-size:1.3em;"></i>
                                    <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px; cursor:pointer;">
                                        Usuarios
                                    </label>
                                </a>
                            </li>
                            <li style="cursor:pointer;">
                                <a style="text-align: center; cursor:pointer; color: white;">
                                    <i class="fa fa-gears" aria-hidden="true" style="font-size:1.3em;"></i>
                                    <label class="lblSubText" style="text-align: center; color: inherit; position: relative; top: -5px; cursor:pointer;">
                                        Configuracion
                                    </label>
                                </a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "Sucursal")'">
                                                <i class="glyph-icon icon-elusive-home fa-lg" style="margin-left: 5px;"></i>
                                                Sucursales
                                            </h4>
                                        </div>
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Index", "TipoPrecio")'">
                                                <i class="glyph-icon icon-money fa-lg" style="margin-left: 5px;"></i>
                                                Tipos De Precio
                                            </h4>
                                        </div>
                                        <div>
                                            <h4 onclick="location.href = '@Url.Action("Permiso", "Configuracion")'">
                                                <i class="glyph-icon icon-ban fa-lg" style="margin-left: 5px;"></i>
                                                Permisos
                                            </h4>
                                        </div>
                                        <div style="width:33%;">
                                            <h4 onclick="location.href = '@Url.Action("Index", "Configuracion")'">
                                                <i class="glyph-icon icon-gear fa-lg" style="margin-left: 5px;"></i>
                                                Configuracion De La Plataforma
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                    <label>
                        <label style="font-size:14px;">Sucursal: </label>
                        <label id="sucursal" style="font-weight:normal;font-size:13px;">Quianty</label>
                        <input type="text" id="id_sucursal" class="form-control" style="display: none" />
                        <button class="btn btn-info" role="button" style="padding:0px 6px;">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                    <label>
                        <label style="font-size:14px;">Cliente: </label>
                        <label id="cliente" style="font-weight:normal;font-size:13px;">Mostrador</label>
                        <input type="text" id="id_cliente" class="form-control" style="display: none" />
                        <button class="btn btn-info" role="button" style="padding:0px 6px;">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                    <label>
                        <label style="font-size:14px;">Tipo De Precio: </label>
                        <label id="tipo_precio" style="font-weight:normal;font-size:13px;">Publico</label>
                        <input type="text" id="id_tipo_precio" class="form-control" style="display: none" />
                        <button class="btn btn-info" role="button" style="padding:0px 6px;">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                    <label>
                        <label style="font-size:14px;">Precio Dolar: </label>
                        <label style="font-weight:normal;font-size:13px;"><span>$</span><span id="precio_dolar">21.00</span></label>
                        <button class="btn btn-info" role="button" style="padding:0px 6px;">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </label>
                </div>
            </div>
        </div>
        <div id="conceptos_venta" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-left: 0px; padding-right: 0px;background-color: #254054; color: white;">
                    <label style="font-size: 17px; line-height: 35px; margin-bottom:0px;">Lista De Venta</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px; color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; padding: 0px; border-top-width: 0px; border-top-style: solid;">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center" style="padding-left: 0px; padding-right: 0px;">
                        <label style="font-size: 14px;">Codigo</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center" style="padding-left: 0px; padding-right: 0px;">
                        <label style="font-size: 14px;">Producto</label>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center" style="padding-left: 0px; padding-right: 0px;">
                        <label style="font-size: 14px;">Cantidad</label>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center" style="padding-left: 0px; padding-right: 0px;">
                        <label style="font-size: 14px;">Inventario</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center" style="padding-left: 0px; padding-right: 0px;">
                        <label style="font-size: 14px;">Tipo De Precio</label>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center" style="padding-left: 0px; padding-right: 0px;">
                        <label style="font-size: 14px;">Precio Dolar</label>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center" style="padding-left: 0px; padding-right: 0px;">
                        <label style="font-size: 14px;">Precio Unitario</label>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center" style="padding-left: 0px; padding-right: 0px;">
                        <label style="font-size: 14px;">Importe</label>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 text-center" style="padding-left: 0px; padding-right: 0px;">
                        <label style="height:15px;"></label>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-left:0px; padding-right:0px; line-height: 100px; background-color: rgb(241, 238, 238);">
                            <label style="font-weight:normal; margin-bottom: 0px; font-size: 20px;">Lista vacia</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                    <button onclick="confimar_nueva_venta()" class="btn btn-success" role="button" style="width:100%;">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-check"></i>
                        </span>
                        <span class="button-content">Venta (F4)</span>
                    </button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                    <button onclick="guardar_nueva_cotizacion()" class="btn btn-info" role="button" style="width:100%;">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-save"></i>
                        </span>
                        <span class="button-content">Cotización (F5)</span>
                    </button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-bottom:10px;">
                    <button onclick="limpiar_nueva_venta()" class="btn btn-danger" role="button" style="width:100%;">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-times"></i>
                        </span>
                        <span class="button-content">Limpiar (F6)</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px; bottom:0;">
                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-left:0px; padding-right:0px; background-color: #254054; color: white;">
                        <label>Atajos</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-left:0px; padding-right:0px;">
                        <button class="btn btn-info" role="button" style="width:100%;">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-left:0px; padding-right:0px; background-color: #254054; color: white;">
                        <label>Observaciones</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-left:0px; padding-right:0px;">
                        <textarea id="descripcion_venta" class="form-control" rows="4" cols="30" style="resize:none; height:82px;"></textarea>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;border-left: 1px solid #254054; border-right: 1px solid #254054;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-left:0px; padding-right:0px; background-color: #254054; color: white;">
                            <label>Totales</label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;background-color: rgba(203, 203, 203, 0.65);">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right" style="padding-left:0px; padding-right:0px;">
                            <label style="margin-right: 5px;">Subtotal:</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left" style="padding-left:0px; padding-right:0px;">
                            <label style="font-weight:normal;margin-left: 5px;"><span>$</span><span id="subtotal">100</span></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;background-color: #f1eeee;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right" style="padding-left:0px; padding-right:0px;">
                            <label style="margin-right: 5px;">I.V.A.:</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left" style="padding-left:0px; padding-right:0px;">
                            <label style="font-weight:normal;margin-left: 5px;"><span>$</span><span id="iva">16</span></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px; padding-right:0px;background-color: rgba(203, 203, 203, 0.65);">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right" style="padding-left:0px; padding-right:0px;">
                            <label style="margin-right: 5px;">Total:</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left" style="padding-left:0px; padding-right:0px;">
                            <label style="font-weight:normal;margin-left: 5px;"><span>$</span><span id="total">116</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width:100%;font-size: 9px;background-color: #f1eeee;height:26px;text-align:center;padding-top: 7px;margin-top: 10px;">
        <img src="@Url.Content("~/assets-minified/images/quianty.png")" style="width: 85px;">
        <a id="TerminosCondiciones" style="cursor:pointer;color: black !important; text-decoration:none;">Terminos y condiciones</a>
        <label>Version 2.0.2</label>
    </div>
    <script src="@Url.Content("~/assets-minified/Menu/cbpHorizontalMenu.js")"></script>
    <script>
        $(function () {
            cbpHorizontalMenu.init();
            cbpHorizontalMenuUsuario.init();
        });
    </script>
</body>
</html>

<script type="text/javascript">
        $(function () {
            $.smkProgressBar({
                element: 'body',
                status: 'start',
                bgColor: '#fff',
                barColor: '#000',
                content: 'Cargando...'
            });
            setTimeout(function () {
                $.smkProgressBar({
                    status: 'end'
                });
            }, 400);
        });
    $(document).on('click', '#TerminosCondiciones', function () {
        window.location.href = '@Url.Action("TerminosCondiciones", "Home")';
    });
</script>


@*<table id="TablaConceptos" class="table" style="width: 100%;">
        <tbody>
            <tr id="Busqueda">
                <td id="TdCodigo"></td>
                <td id="TdProducto"></td>
                <td id="TdCantidad">
                    <input type="text" id="txt_cantidad" class="form-control" value="1" />
                </td>
                <td id="TdInventario"></td>
                <td id="TdTipoPrecio">
                    <select id="Input_TipoPrecioId" class="form-control"></select>
                </td>
                <td id="TdPrecioDolar">
                    <span id="PrecioDolar_redondeado"></span>
                    <span id="PrecioDolar" style="display:none;"></span>
                    <img id="ImagenDolar" src="@Url.Content("~/assets-minified/images/dolares.png")" style="display:none;" />
                </td>
                <td id="TdPrecioUnitario"></td>
                <td id="TdImporte"></td>
                <td id="TdAccion"></td>
            </tr>
        </tbody>
    </table>*@