﻿<input id="txt_cliente" type="text" class="form-control" value="@ViewBag.cliente_default" style="display: inline; width: 200px;" />
<script>
    $(document).ready(function () {
        var lista = @Html.Raw(ViewBag.autocomplete)
       $("#txt_cliente").autocomplete({
           source: lista
       });
    });
</script>
