﻿<table class="table table-hover" style="width: 100%;">
    <thead>
        <tr>
            <td colspan="5" style="text-align: center;">Cambios De Precio</td>
        </tr>
        <tr>
            <th>Codigo</th>
            <th>Precio Unitario Anterior</th>
            <th>Precio Unitario Actual</th>
            <th>Difirencia Unitaria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cambio in (ViewBag.lista_cambios_precio as List<POS.Models.cambio_precio>))
        {
            <tr>
                <td style="text-align: center;">@cambio.codigo</td>
                <td style="text-align: center;">@cambio.precio_anterior</td>
                <td style="text-align: center;">@cambio.precio_actual</td>
                <td style="text-align: center;">@cambio.diferencia</td>
                <td style="text-align: center;">
                    @if (cambio.diferencia < 0)
                    {
                        <i class="glyph-icon icon-arrow-down" style="color: green; font-size: 20px;"></i>
                                    
                    }
                    else
                    {
                        <i class="glyph-icon icon-arrow-up" style="color: red; font-size: 20px;"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
