﻿@model POS.Models.venta

{
@* ================================== *@
@* =====   C O T I Z A C I Ó N  ===== *@
@* ================================== *@
@* ================================== *@

@{
    List<POS.Models.nota_credito>
    ListaNotasCredito = ViewBag.ListaNotasCredito as List<POS.Models.nota_credito>;
    List<POS.Models.descuento> ListaDescuentos = ViewBag.ListaDescuentos as List<POS.Models.descuento>;
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    POS.Models.configuracion_pos configuracion_pos = POS.Fn.Configuracion.TraerConfiguracionPOS();
    Decimal total_descuentos = ViewBag.total_descuentos;
    Decimal total_porcentaje_descuentos = ViewBag.total_porcentaje_descuentos;
    int index = 0;
    decimal precioUnitarioRecalculado = 0;
    decimal precioUnitarioRecalculado_masIVA = 0;
    decimal importeRecalculado = 0;
    decimal importeRecalculado_masIVA = 0;
    decimal ivaUnitario_recalculado = 0;

}

<table style="max-width: 320px; font-size: 16px; font-family: Arial; line-height: 16px;">
    <tr>
        <td colspan="4" style="text-align: center; padding-bottom: 20px; padding-top: 10px;">
            <img src="@Url.Content("/UploadFolder/logo/" + configuracion_general.logo)" style="max-width:300px; max-height:200px;" />
        </td>
    </tr>
    @Html.Raw(configuracion_pos.encabezado_ticket)
    @if (Model.catalogo_status_id == 4)
    {
        <tr style="text-align: center; padding-bottom: 20px;">
            <td colspan="4" style="padding-bottom: 20px;">
                <label style="font-size: 20px; font-weight: 600; text-align: center;">COTIZACIÓN</label>
            </td>
        </tr>
    }
    else if (Model.catalogo_status_id == 7)
    {
        <tr style="text-align: center; padding-bottom: 20px;">
            <td colspan="4" style="padding-bottom: 20px;">
                <label style="font-size: 20px; font-weight: 600; text-align: center;">COTIZACIÓN ONLINE</label>
            </td>
        </tr>
    }
    <tr>
        <td colspan="2">ID:</td>
        <td colspan="2" style="text-transform: uppercase;">@POS.Fn.Numeros.serie_folio_by_id(Model.id)</td>
    </tr>
    <tr>
        <td colspan="2">ESTATUS:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.catalogo_status.status.ToUpper()</td>
    </tr>
    <tr>
        <td colspan="2">CLIENTE:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.cliente.Razon_social</td>
    </tr>
    <tr>
        <td colspan="2">VENDEDOR:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.usuario_punto_venta.nombre_usuario</td>
    </tr>
    <tr>
        <td colspan="2">FECHA DE CREACION:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
    </tr>
    <tr>
        <td colspan="2">FECHA DE COTIZACION:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
    </tr>
    }
    <tr>
        <td colspan="4" style="text-align: center">________________________________________________</td>
    </tr>
    <tr style="text-align: center;">
        <td colspan="4" style="padding-top: 20px; padding-bottom: 20px;">
            <label style="font-size: 18px; font-weight: 300; text-align: center;">CONCEPTOS</label>
        </td>
    </tr>
    <tr style="font-weight: 600">
        <td>DESC./CODIGO</td>
        <td style="margin-right: 5px;">CANTIDAD</td>
        <td>PRECIO</td>
        <td style="text-align: right">IMPOR.</td>
    </tr>


    @foreach (var c in Model.conceptos_por_venta)
    {

        precioUnitarioRecalculado = POS.Fn.FnVenta.calcularNuevoImporteConcepto(c.Producto_id, c.TipoCliente_id, Model.sucursal_id);
        precioUnitarioRecalculado_masIVA = POS.Fn.FnVenta.calcularNuevoImporteConcepto_masIVA(c.Producto_id, c.TipoCliente_id, Model.sucursal_id);
        ivaUnitario_recalculado = POS.Fn.FnVenta.calcularIvaUnitarioProducto(c.TipoCliente_id, Model.sucursal_id, c.Producto_id);
        importeRecalculado = POS.Fn.FnVenta.calcularNuevoSubtotalConceptoEnPesos(c.id, Model.sucursal_id);
        importeRecalculado_masIVA = POS.Fn.FnVenta.calcularNuevoSubtotalConceptoEnPesos_masIVA(c.id, Model.sucursal_id);
        index++;
        <tr>
            <td colspan="4">
                <label style="font-weight: 600; text-transform: uppercase;">(@index)</label>
                @c.producto.Descripcion
            </td>
        </tr>
        <tr>
            <td style="font-weight: 600; text-transform: uppercase;">@c.producto.Codigo</td>
            <td style="text-transform: uppercase;">@c.cantidad</td>
            <td style="text-transform: uppercase;">$ @(configuracion_general.desglose_iva.Value == true ? precioUnitarioRecalculado : precioUnitarioRecalculado_masIVA)</td>
            <td style="text-align: right; text-transform: uppercase;">$ @(configuracion_general.desglose_iva.Value == true ? importeRecalculado : importeRecalculado_masIVA)</td>
        </tr>
        <tr>
            <td colspan="4">.</td>
        </tr>
    }
    <tr>
        <td colspan="4" style="text-align: left;">NUMERO DE CONCEPTOS: @Model.conceptos_por_venta.Select(x => x.cantidad).Sum()</td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: center; padding-bottom: 20px;">________________________________________________</td>
    </tr>

    @*//D E S G L O S E     D E     I V A*@

    @if (configuracion_general.desglose_iva.Value == true)
    {
        <tr>
            <td></td>
            <td colspan="2" style="text-align: right;">SUBTOTAL:</td>
            <td style="text-align: right;"><span>$ &nbsp;</span>@POS.Fn.FnVenta.calcularNuevoSubtotalSumPesos(Model.id)</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" style="text-align: right;">I.V.A.:</td>
            <td style="text-align: right;"><span>$ &nbsp;</span>@POS.Fn.FnVenta.calcularNuevoIvaSumPesos(Model.id)</td>
        </tr>
    }
    <tr>
        <td></td>
        <td colspan="2" style="text-align: right;">TOTAL:</td>
        <td style="text-align: right;"><span>$ &nbsp;</span>@Math.Round(POS.Fn.FnVenta.calcularNuevoTotalSumPesos(Model.id), 2)</td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: center"></td>
    </tr>



    @Html.Raw(configuracion_pos.pie_ticket)
</table>
