﻿@model POS.Models.sucursal
@{
    ViewBag.Title = "POS - Editar Sucursal";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Editar Sucursal</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @using (Html.BeginForm("EditarSucursal", "Sucursal", FormMethod.Post, new { @id = "EditarSucursal", @style = "margin-bottom:0px;" }))
        {
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.rfc)
            @Html.HiddenFor(model => model.razon_social)
            @Html.HiddenFor(model => model.regimen_fiscal)
            @Html.HiddenFor(model => model.contrasena)
            @Html.HiddenFor(model => model.calle)
            @Html.HiddenFor(model => model.exterior)
            @Html.HiddenFor(model => model.interior)
            @Html.HiddenFor(model => model.colonia)
            @Html.HiddenFor(model => model.cp)
            @Html.HiddenFor(model => model.municipio)
            @Html.HiddenFor(model => model.estado)
            @Html.HiddenFor(model => model.pais)
            @Html.HiddenFor(model => model.mapa)
            @Html.HiddenFor(model => model.calle_facturacion)
            @Html.HiddenFor(model => model.exterior_facturacion)
            @Html.HiddenFor(model => model.interior_facturacion)
            @Html.HiddenFor(model => model.colonia_facturacion)
            @Html.HiddenFor(model => model.cp_facturacion)
            @Html.HiddenFor(model => model.municipio_facturacion)
            @Html.HiddenFor(model => model.estado_facturacion)
            @Html.HiddenFor(model => model.pais_facturacion)
            @Html.HiddenFor(model => model.domicilio_facturacion_igual)
            @Html.HiddenFor(model => model.pie_cotizacion)
            @Html.HiddenFor(model => model.terminos_condicones)
            <table id="TablaSucursales" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Nombre: </td>
                        <td style="width: 25%; border: 0px;">
                            @if (Model.id == 1)
                            {
                                <input type="text" class="form-control" id="nombre_sucursal" name="nombre_sucursal" value="@Model.nombre_sucursal" readonly="readonly" />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="nombre_sucursal" name="nombre_sucursal" value="@Model.nombre_sucursal" />
                            }
                        </td>
                        <td style="width: 150px; text-align: right; border: 0px;">Precio Dolar: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control decimal" id="precio_dolar" name="precio_dolar" value="@Model.precio_dolar" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaSucursal" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Sucursal ya registrada en el sistema.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <a id="BotonEditarSucursal" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Guardar Cambios</span>
                            </a>
                            <a href="@Url.Action("Index")" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Cancelar</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" id="EditarSucursal" value="Guardar" style="display: none;" />
        }
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '#BotonEditarSucursal', function () {
        $('#EditarSucursal').trigger('click');
    });
</script>

<script type="text/javascript">
    var seguir = true;
    $(document).ready(function () {
        $('#EditarSucursal').bind('submit', function (event) {
            seguir = true;
            $('.form-control').each(function () {
                if ($(this).val() == "") {
                    seguir = false;
                }
            });
            if (!seguir) {
                $("#AlertaFormulario").slideDown('slow').delay(3000).slideUp('slow');
            }
            VerificarSucursal();
            if (!seguir) {
                return false;
            }
        });
    });
    $(document).on('change', '#nombre_sucursal', function () {
        VerificarSucursal();
    });
    function VerificarSucursal() {
        var url = '@Url.Action("VerificarSucursal")';
        $.ajax({
            url: url,
            data: { id: @Model.id, sucursal: $('#nombre_sucursal').val() },
            type: "POST",
            async: false,
            success: function (existe) {
                if (existe == "True") {
                    $("#AlertaSucursal").slideDown('slow').delay(3000).slideUp('slow');
                    seguir = false;
                }
            }
        });
    }
    $(document).on('keypress', '.decimal', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
</script>
