﻿@{
    ViewBag.Title = "POS - Sucursales";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Sucursales</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @if (POS.Fn.usuario_logeado.nivel_id() == 1)
        {
            <div style="margin-right: 10px; margin-top: 10px; float: right;">
                <a href="@Url.Action("NuevaSucursal")" class="btn btn-success">
                    <span class="glyph-icon icon-separator">
                        <i class="glyph-icon icon-plus"></i>
                    </span>
                    <span class="button-content">Nueva Sucursal</span>
                </a>
            </div>
        }
        @*<div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarExcel" class="btn btn-success">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 4px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <table id="TablaSucursales" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio Dolar</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var url = '@Url.Action("VistaParcialSucursal")';
        $.ajax({
            url: url,
            data: {},
            success: function (parcial) {
                $("#CuerpoTabla").html(parcial);
                $(".wrapper-dropdown-5").each(function () {
                    var dd = new DropDown($(this));
                    $(document).click(function () {
                        // all dropdowns
                        $('.wrapper-dropdown-5').removeClass('active');
                    });
                });
                CrearTablaSucursales();
            },
            async: false
        });
        $("#ExportarExcel").click(function () {
            $('#TablaSucursales .xlsx').trigger("click");
        });
    });
    function EditarSucursal(id) {
        window.location.href = '@Url.Action("EditarSucursal", new { id = "_id_" })'.replace("_id_", id);
    }
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var url = '@Url.Action("TraerPDFListaSucursales", "FormatoPDF")';
        window.open(url);
    }
</script>

<script type="text/javascript">
    function CrearTablaSucursales() {
        $('#TablaSucursales').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista de Sucursales',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Lista de Sucursales',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Sucursales',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>