﻿@{
    List<POS.Models.inventario> ListaInventario = ViewBag.ListaInventario as List<POS.Models.inventario>;
    List<POS.Models.proveedor> ListaProveedores = ViewBag.ListaProveedores as List<POS.Models.proveedor>;
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
}

<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;margin-bottom: 0px;">Reporte De Inventario A Consignacion</h3>
    <div class="example-box-wrapper" style="margin-top: 0px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @foreach (POS.Models.proveedor proveedor in ListaProveedores.OrderBy(x => x.nombre_proveedor).ToList())
        {
            Decimal TotalInventario = 0;
            <table class="table proveedor" style="width:100%; margin-bottom:25px;">
                <thead>
                    <tr style="display:none;">
                        <td colspan="11">
                            <input class="id_proveedor" value="@proveedor.id" />
                            <input class="nombre_proveedor" value="@proveedor.nombre_proveedor" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" style="text-align: center; background-color: #506676; color: white; margin-bottom: 0px; margin-top: 0px; line-height: 35px; font-size: 15px; text-transform: uppercase;"><span style="display:inline;">@proveedor.nombre_proveedor</span><span class="icono" style="display:inline; margin-left: 10px;"></span></td>
                    </tr>
                    <tr>
                        <th>Sucursal</th>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Marca</th>
                        <th>Familia</th>
                        <th>Subfamilia</th>
                        <th>Proveedor</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody style="font-size:13px;">
                    @foreach (POS.Models.inventario inventario in ListaInventario.Where(x => x.producto.Proveedor_id == proveedor.id).ToList())
                    {
                        <tr>
                            <td style="text-align: center;">@inventario.sucursal.nombre_sucursal</td>
                            <td style="text-align: center;">@inventario.producto.Codigo</td>
                            <td style="text-align: center;">@inventario.producto.Descripcion</td>
                            <td style="text-align: center;">@inventario.producto.marca.nombre</td>
                            <td style="text-align: center;">@inventario.producto.subfamilia.familia.nombre</td>
                            <td style="text-align: center;">@inventario.producto.subfamilia.nombre</td>
                            <td style="text-align: center;">@inventario.producto.proveedor.nombre_proveedor <strong>@inventario.producto.proveedor.folio</strong></td>
                            @{
                                var cantidad_inventario = inventario.cantidad;

                                if (cantidad_inventario > 7)
                                {
                                    <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #0d5a22;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
                                }
                                else if (cantidad_inventario >= 3)
                                {
                                    <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #ffd800;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
                                }
                                else if (cantidad_inventario > 0)
                                {
                                    <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #ff6a00;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
                                }
                                else
                                {
                                    <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #ff0000;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
                                }
                            }
                            <td style="text-align: center;">@inventario.producto.costo</td>
                            <td style="text-align: center;">
                                @{
                                    if (inventario.producto.costo != null)
                                    {
                                        @Math.Round(inventario.cantidad.Value * inventario.producto.costo.Value, 2)
                                    }
                                }
                            </td>
                        </tr>
                                    if (inventario.producto.costo != null)
                                    {
                                        TotalInventario = TotalInventario + Math.Round(inventario.producto.costo.Value * inventario.cantidad.Value, 2);
                                    }
                                }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8" style="border: 0px; text-align:center; background-color: rgba(80, 102, 118, 0.68); color: white; padding:4px;">Correos</td>
                        <td colspan="3" style="border: 0px; text-align:center; background-color: rgba(80, 102, 118, 0.68); color: white; padding:4px;">Totales</td>
                    </tr>
                    <tr>
                        <td colspan="8" style="border: 0px; padding:4px;">
                            <textarea class="correo form-control" style="resize:none; height:70px;">@proveedor.correo</textarea>
                        </td>
                        <td colspan="3" style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); border: 0px;  padding:4px;">Total En Inventario<label style="margin-left:5px;">$</label><span>@TotalInventario</span></td>
                    </tr>
                </tfoot>
            </table>
                            }
        <table class="table" style="width:100%;">
            <tr>
                <td style="border:0px; text-align:center;">
                    <a id="MandarReporteInventarioConsignacion" class="btn btn-success">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-check"></i>
                        </span>
                        <span class="button-content">Mandar Reporte</span>
                    </a>
                    <a id="CancelarReporteInventarioConsignacion" class="btn btn-danger">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-times"></i>
                        </span>
                        <span class="button-content">Cancelar</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.ModalReporteInventarioConsignacion .modal-dialog').css('width', '95%');
    });
</script>