﻿@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    POS.Models.configuracion_pos configuracion_pos = POS.Fn.Configuracion.TraerConfiguracionPOS();
    POS.Models.venta venta = ViewBag.Venta as POS.Models.venta;
    List<POS.Models.tipo_pago_venta> TiposPago = ViewBag.TiposPago as List<POS.Models.tipo_pago_venta>;
    List<POS.Models.multiple_pago> TiposPagoVenta = venta.multiple_pago.ToList();
    Boolean EditarTiposPago = ViewBag.EditarTiposPago;
}
<style>
    .PagoSinMonto {
        display: none;
    }
</style>
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    @if (venta.catalogo_status_id == 1 || venta.catalogo_status_id == 2 || venta.catalogo_status_id == 9 || venta.catalogo_status_id == 10 || venta.catalogo_status_id == 11 || venta.catalogo_status_id == 12)
    {
        <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Venta <span id="folio_serie_editar">@POS.Fn.Numeros.serie_folio_by_id(venta.id)</span></h3>
    }
    else if (venta.catalogo_status_id == 4 || venta.catalogo_status_id == 7)
    {
        <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Cotizacion <span id="folio_serie_editar">@POS.Fn.Numeros.serie_folio_by_id(venta.id)</span></h3>
    }
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="InformacionGeneral" class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="6" style="font-size: 13px; text-align: center; border: 0px; background-color: #506676; color: white;">Informacion General</td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Sucursal: </td>
                    <td style="width: 20%; border: 0px;"></td>
                    <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Estatus: </td>
                    <td style="width: 20%; border: 0px;"></td>
                    <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Fecha: </td>
                    <td style="width: 20%; border: 0px;"></td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Estatus: </td>
                    <td style="width: 20%; border: 0px;"></td>
                    <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Vendedor: </td>
                    <td style="width: 20%; border: 0px;"></td>
                    <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Tipo De Pago: </td>
                    <td style="width: 20%; border: 0px;"></td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Costo: </td>
                    <td style="width: 20%; border: 0px;"></td>
                    <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Precio: </td>
                    <td style="width: 20%; border: 0px;"></td>
                    <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Ganancia: </td>
                    <td style="width: 20%; border: 0px;"></td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Precio Dolar: </td>
                    <td style="width: 20%; border: 0px;"></td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Observaciones: </td>
                    <td colspan="5" style="border: 0px;"></td>
                </tr>
                @if (venta.catalogo_status_id == 2 || venta.catalogo_status_id == 12)
                {
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Usuario Que Cancela: </td>
                        <td style="width: 20%; border: 0px;"></td>
                        <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Fecha De Cancelacion: </td>
                        <td style="width: 20%; border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px; background-color: #e9ebed; font-weight: bold;">Motivo De Cancelacion: </td>
                        <td colspan="5" style="border: 0px;"></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @*<div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
            <input id="id_venta" value="@venta.id" style="display:none" />
            <table id="TablaConceptosVenta" class="table" style="width: 100%;">
                <thead>
                    <tr>
                        <td colspan="11" style="text-align: center; border: 0px; background-color: #506676; color: white;">Conceptos De Venta</td>
                    </tr>
                    <tr>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Tipo De Precio</th>
                        <th>Marca</th>
                        <th>Proveedor</th>
                        <th>Familia</th>
                        <th>Suubfamilia</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                        <th>Precio</th>
                        <th>Ganancia</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (POS.Models.conceptos_por_venta cxp in venta.conceptos_por_venta)
                    {
                        <tr>
                            <td style="text-align: center;">@cxp.producto.Codigo</td>
                            <td style="text-align: center;">@cxp.producto.Descripcion</td>
                            <td style="text-align: center;">@cxp.tipocliente.Tipo</td>
                            <td style="text-align: center;">@cxp.producto.marca.nombre</td>
                            <td style="text-align: center;">@cxp.producto.proveedor.nombre_proveedor</td>
                            <td style="text-align: center;">@cxp.producto.subfamilia.familia.nombre</td>
                            <td style="text-align: center;">@cxp.producto.subfamilia.nombre</td>
                            <td style="text-align: center;">@cxp.cantidad</td>
                            <td style="text-align: center;">
                                @if (cxp.producto.costo != null)
                                {
                                    @Math.Round((cxp.producto.costo.Value * cxp.cantidad), 2)
                                }
                            </td>
                            <td style="text-align: center;">
                                @{
                                    Decimal precio = 0;
                                    if (configuracion_general.precios_netos == true)
                                    {
                                        precio = Math.Round((cxp.cantidad * cxp.precio_unitario_original.Value) * POS.Fn.Config.iva(cxp.Producto_id), 2);
                                    }
                                    else
                                    {
                                        precio = Math.Round((cxp.cantidad * cxp.precio_unitario_original.Value), 2);
                                    }
                                }
                                @precio
                            </td>
                            <td style="text-align: center;">
                                @if (cxp.producto.costo != null)
                                {
                                    @Math.Round(precio - (cxp.producto.costo.Value * cxp.cantidad), 2)
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (venta.nota_credito.Count() > 0 || venta.nota_credito1.Count > 0)
            {
                <table id="TablaNotasCredito" class="table" style="width: 100%; margin-top: 20px;">
                    <thead>
                        <tr>
                            <td colspan="9" style="text-align: center; border: 0px none; background-color: #506676; color: white;">Notas De Credito</td>
                        </tr>
                        <tr>
                            <th>ID Nota Credito</th>
                            <th>ID Venta</th>
                            <th>ID Venta Aplicada</th>
                            <th>Sucursal</th>
                            <th>Estatus</th>
                            <th>Fecha Creacion</th>
                            <th>Fecha Uso</th>
                            <th>Fecha Cancelacion</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var nota in venta.nota_credito)
                        {
                            <tr>
                                <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(nota.id)</td>
                                <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id(nota.id_venta)</td>
                                <td style="text-align: center;">
                                    @if (nota.id_venta_aplicada != null)
                                    {
                                        @POS.Fn.Numeros.serie_folio_by_id(nota.id_venta_aplicada.Value)
                                    }
                                </td>
                                <td style="text-align: center;">@nota.venta.sucursal.nombre_sucursal</td>
                                <td style="text-align: center;">@nota.estatus_nota_credito.nombre</td>
                                <td style="text-align: center;">
                                    @if (nota.fecha_creacion != null)
                                    {
                                        @nota.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                    }
                                </td>
                                <td style="text-align: center;">
                                    @if (nota.fecha_uso != null)
                                    {
                                        @nota.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                    }
                                </td>
                                <td style="text-align: center;">
                                    @if (nota.fecha_cancelacion != null)
                                    {
                                        @nota.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                    }
                                </td>
                                <td style="text-align: center;"><span>$</span>@nota.cantidad</td>
                            </tr>
                        }
                        @foreach (var nota in venta.nota_credito1)
                        {
                            <tr>
                                <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(nota.id)</td>
                                <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id(nota.id_venta)</td>
                                <td style="text-align: center;">
                                    @if (nota.id_venta_aplicada != null)
                                    {
                                        @POS.Fn.Numeros.serie_folio_by_id(nota.id_venta_aplicada.Value)
                                    }
                                </td>
                                <td style="text-align: center;">@nota.venta.sucursal.nombre_sucursal</td>
                                <td style="text-align: center;">@nota.estatus_nota_credito.nombre</td>
                                <td style="text-align: center;">
                                    @if (nota.fecha_creacion != null)
                                    {
                                        @nota.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                    }
                                </td>
                                <td style="text-align: center;">
                                    @if (nota.fecha_uso != null)
                                    {
                                        @nota.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                    }
                                </td>
                                <td style="text-align: center;">
                                    @if (nota.fecha_cancelacion != null)
                                    {
                                        @nota.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                    }
                                </td>
                                <td style="text-align: center;"><span>$</span>@nota.cantidad</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (venta.abono.Count() > 0)
            {
                <table id="TablaAbonosVenta" class="table" style="width: 100%; margin-top: 20px;">
                    <thead>
                        <tr>
                            <td colspan="2" style="text-align: center; border: 0px; background-color: #506676; color: white;">Abonos Activos</td>
                        </tr>
                        <tr>
                            <th>Fecha</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (POS.Models.abono a in venta.abono.Where(x => x.estatus == true))
                        {
                            <tr>
                                <td style="text-align: center;">@a.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                <td style="text-align: center;">@a.importe</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <table class="table">
                <tbody>
                    <tr>
                        <td style="border: 0px;">
                            <div id="Adventenciacredito" class="alert alert-info" style="margin-top: 10px; width: 100%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Advertencia</h4>
                                    <p>El total o parcial de la venta fue pagada a credito, si se cambia de tipo de pago, los abonos hechos seran cancelados.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-top: 10px; width: 100%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>La suma de los tipos de pagos no coinciden con el total.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="TablaTiposPago" class="table" style="width: 100%; margin-top: 20px;">
                <thead>
                    <tr>
                        @if (venta.observaciones != null && !venta.observaciones.Equals(""))
                        {
                            <td style="text-align: center; border: 0px; width: 28%; background-color: #506676; color: white;">Observaciones</td>
                            <td style="text-align: center; border: 0px; width: 5%;"></td>
                        }
                        else
                        {
                            <td style="text-align: center; border: 0px; width: 33%;"></td>
                        }
                        @if (venta.Motivo_cancelacion != null && !venta.Motivo_cancelacion.Equals(""))
                        {
                            <td style="text-align: center; border: 0px; width: 28%; background-color: #506676; color: white;">Motivo De Cancelacion</td>
                            <td style="text-align: center; border: 0px; width: 5%;"></td>
                        }
                        else
                        {
                            <td style="text-align: center; border: 0px; width: 33%;"></td>
                        }
                        <td colspan="2" style="text-align: center; border: 0px; width: 20%; background-color: #506676; color: white;">Pago</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (POS.Models.tipo_pago_venta tipo_pago in TiposPago)
                    {
                        String cantidad = "0.00";
                        String referencia = "";
                        <tr>
                            @if (TiposPago.ToList().First().id == tipo_pago.id)
                            {
                                if (venta.observaciones != null && !venta.observaciones.Equals(""))
                                {
                                    <td rowspan="@Convert.ToInt32(TiposPago.Count + 3)" style="width: 28%; border: 0px; vertical-align: baseline; text-align: center; border-left: 1px solid #9AA7B0; border-right: 1px solid #9AA7B0; border-bottom: 1px solid #9AA7B0;">
                                        @venta.observaciones
                                    </td>
                                    <td rowspan="@Convert.ToInt32(TiposPago.Count + 3)" style="width: 5%; border: 0px;"></td>
                                }
                                else
                                {
                                    <td rowspan="@Convert.ToInt32(TiposPago.Count + 3)" style="width: 33%; border: 0px;"></td>
                                }
                                if (venta.Motivo_cancelacion != null && !venta.Motivo_cancelacion.Equals(""))
                                {
                                    <td rowspan="@Convert.ToInt32(TiposPago.Count + 3)" style="width: 28%; border: 0px; vertical-align: baseline; text-align: center; border-left: 1px solid #9AA7B0; border-right: 1px solid #9AA7B0; border-bottom: 1px solid #9AA7B0;">
                                        @venta.Motivo_cancelacion
                                    </td>
                                    <td rowspan="@Convert.ToInt32(TiposPago.Count + 3)" style="width: 5%; border: 0px;"></td>
                                }
                                else
                                {
                                    <td rowspan="@Convert.ToInt32(TiposPago.Count + 3)" style="width: 33%; border: 0px;"></td>
                                }
                            }
                            @if (MultiplePago.Where(x => x.id_tipo_pago_venta == tipo_pago.id).Any())
                            {
                                cantidad = MultiplePago.Where(x => x.id_tipo_pago_venta == tipo_pago.id).Single().cantidad.ToString();
                                <td class="td_tipo_pago" style="font-weight: bold; text-align: center; width: 10%;">
                                    @tipo_pago.tipo
                                    @if (tipo_pago.id == 5)
                                    {
                                        referencia = MultiplePago.Where(x => x.id_tipo_pago_venta == tipo_pago.id).Single().referencia.ToString();
                                        <br />
                                        <span class="td_tipo_pago TipoPagoTexto"><small id="label_referencia" style="color: #7FAAC9;">@referencia</small></span>
                                        <input type="text" id='txt_referencia' class="form-control txt_referencia td_tipo_pago PagoSinMonto" name="referencia" value="@referencia" style="width:95%; height: 50%; padding-top: 1px; padding-bottom: 1px;" />
                                    }
                                </td>
                                <td class="td_tipo_pago" style="font-weight: bold; text-align: center; width: 10%;">
                                    $
                                    <span>
                                        <span id='@("TipoPagoTexto" + tipo_pago.id)' class="TipoPagoTexto" name="@tipo_pago.id">@cantidad</span>
                                        <input type="text" id='@("TipoPago" + tipo_pago.id)' class="form-control TipoPago" name="@tipo_pago.id" value="@cantidad" style="display:none; width:85%;" />
                                    </span>
                                </td>
                            }
                            else
                            {
                                <td class="td_tipo_pago PagoSinMonto" style="font-weight: bold; text-align: center; width: 10%;">
                                    @tipo_pago.tipo
                                    @if (tipo_pago.id == 5)
                                    {
                                        <br />
                                        <span class="td_tipo_pago TipoPagoTexto"><small id="label_referencia" style="color: #7FAAC9;">@referencia</small></span>
                                        <input type="text" id='txt_referencia' class="form-control txt_referencia td_tipo_pago PagoSinMonto" name="referencia" value="@referencia" style="width:95%; height: 50%; padding-top: 1px; padding-bottom: 1px;" />
                                    }
                                </td>
                                <td class="td_tipo_pago PagoSinMonto" style="font-weight: bold; text-align: center; width: 10%;">
                                    $
                                    <span>
                                        <span id='@("TipoPagoTexto" + tipo_pago.id)' class="TipoPagoTexto" name="@tipo_pago.id">@cantidad</span>
                                        <input type="text" id='@("TipoPago" + tipo_pago.id)' class="form-control TipoPago" name="@tipo_pago.id" value="0.00" style="display:none; width:85%;" />
                                    </span>
                                </td>
                            }
                        </tr>
                    }
                    @if (venta.nota_credito1.Count > 0)
                    {
                        <tr>
                            <td style="font-weight: bold; text-align: center; width: 10%;">Notas De Venta</td>
                            <td style="font-weight: bold; text-align: center; width: 10%;">
                                <span>
                                    <span id='TipoPagoTextoNotaCredito'>
                                        $@Math.Round(venta.nota_credito1.ToList().Select(x => x.cantidad.Value).Sum(), 2)
                                    </span>
                                </span>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr style="display: none;">
                            <td style="font-weight: bold; text-align: center; width: 10%;">Notas De Venta</td>
                            <td style="font-weight: bold; text-align: center; width: 10%;">
                                $
                                <span>
                                    <span id='TipoPagoTextoNotaCredito'>
                                        0.00
                                    </span>
                                </span>
                            </td>
                        </tr>
                    }
                    @if (total_descuento > 0)
                    {
                        <tr>
                            <td style="font-weight: bold; text-align: center; width: 10%;">
                                <span><small id="label_porcentaje" style="color: #7FAAC9;">(@String.Format("{0:#.##}", total_porcentaje_descuento)%)</small></span>Descuentos
                            </td>
                            <td style="font-weight: bold; text-align: center; width: 10%;">
                                $
                                <span>
                                    <span id='TotalDescuentos'>
                                        @total_descuento
                                    </span>
                                </span>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="font-weight: bold; text-align: center; width: 10%; background-color: #9AA7B0; color: white;">Total</td>
                        <td style="font-weight: bold; text-align: center; width: 10%; background-color: #9AA7B0; color: white;">$<span id="total_venta">@String.Format("{0:#.##}", (venta.total + total_descuento))</span></td>
                    </tr>
                </tbody>
            </table>
            <div id="BotonCerrarModal" style="margin-left: 10px; display: inline;">
                <a class="btn btn-danger" style="margin-top: 10px; margin-bottom: 10px;">
                    <span class="glyph-icon icon-separator">
                        <i class="glyph-icon icon-times"></i>
                    </span>
                    <span class="button-content">Cerrar</span>
                </a>
            </div>
            @if (editar)
            {
                <div id="BotonCancelarEditarTiposPago" style="margin-left: 10px; display: none;">
                    <a class="btn btn-danger" style="margin-top: 10px; margin-bottom: 10px;">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-times"></i>
                        </span>
                        <span class="button-content">Cancelar</span>
                    </a>
                </div>
                <div id="BotonAceptarEditarTiposPago" style="margin-left: 10px; display: none;">
                    <a class="btn btn-success" style="margin-top: 10px; margin-bottom: 10px;">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-check"></i>
                        </span>
                        <span class="button-content">Aceptar</span>
                    </a>
                </div>
                <div id="BotonEditarTiposPago" style="margin-left: 10px; display: inline;">
                    <a class="btn btn-info" style="margin-top: 10px; margin-bottom: 10px;">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-pencil"></i>
                        </span>
                        <span class="button-content">Modificar Tipos De Pago</span>
                    </a>
                </div>
            }
        </div>*@
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalDetalleVenta .modal-dialog').css('width', '95%');
    });
</script>

@*<script type="text/javascript">
        $(document).ready(function () {
            $('.ModalDetalleVenta .modal-dialog').css('width', '95%');
            $('#BotonEditarTiposPago').click(function () {
                $(this).hide();
                $('#BotonCerrarModal').hide();
                $('#BotonCancelarEditarTiposPago').css('display', 'inline');
                $('#BotonAceptarEditarTiposPago').css('display', 'inline');
                $('.TipoPago').css('display', 'inline');
                $('.TipoPagoTexto').hide();
                if (parseFloat($('#TipoPago4').val()) > 0) {
                    $('#Adventenciacredito').show();
                }
                $('.td_tipo_pago').each(function () {
                    if ($(this).hasClass('PagoSinMonto')) {
                        $(this).removeClass('PagoSinMonto');
                    }
                });
                if (!($('#txt_referencia').hasClass('PagoSinMonto'))) {
                    $('#txt_referencia').css('display', 'inline');
                }
            });
            $('#BotonCerrarModal').click(function () {
                $('.ModalConceptosVenta').modal('hide');
            });
            $('#BotonCancelarEditarTiposPago').click(function () {
                $('#BotonCancelarEditarTiposPago').hide();
                $('#BotonAceptarEditarTiposPago').hide();
                $('#BotonEditarTiposPago').show();
                $('#BotonCerrarModal').show();
                $('.TipoPago').each(function () {
                    if (isNaN($(this).val()) || parseFloat($(this).val()) <= 0) {
                        $(this).parent().parent().addClass('PagoSinMonto').prev().addClass('PagoSinMonto');
                    }
                });
                $('.TipoPago').hide();
                $('.TipoPagoTexto').each(function () {
                    var nodo = $(this).attr('name');
                    $('#TipoPago' + nodo).val($('#TipoPagoTexto' + nodo).html());
                });
                $('#txt_referencia').addClass('PagoSinMonto').css('display', 'none');
                $('.TipoPagoTexto').show();
                $('#Adventenciacredito').hide();
            });
            $('#BotonAceptarEditarTiposPago').click(function () {
                var suma = 0;
                var total_venta = $('#total_venta').html();
                $('.TipoPago').each(function () {
                    if (parseFloat($(this).val()) > 0) {
                        suma = suma + parseFloat($(this).val());
                    }
                });
                suma = suma + parseFloat($('#TipoPagoTextoNotaCredito').html());
                //suma = suma.toFixed(3);
                suma = suma;
                //total_venta = parseFloat(total_venta).toFixed(3);
                total_venta = parseFloat(total_venta)
                if (suma == total_venta) {
                    var TiposPagos = [];
                    $('.TipoPago').each(function () {
                        if (parseFloat($(this).val()) > 0) {
                            TiposPagos.push({
                                id_tipo_pago_venta: $(this).attr('name'),
                                cantidad: $(this).val()
                            });
                        }
                    });
                    var Referencia = $('#txt_referencia').val();
                    if (Referencia == '' || Referencia == undefined) {
                        Referencia = null;
                    }
                    var params = {
                        'id_venta': $('#id_venta').val(),
                        'ListaTiposPagos': TiposPagos,
                        'Referencia': Referencia
                    };
                    var url = '@Url.Action("ActualizarTiposPago")';
                    $.ajax({
                        url: url,
                        type: "POST",
                        contentType: 'application/json;',
                        data: JSON.stringify(params),
                        success: function () {
                            $('.TipoPago').each(function () {
                                if (parseFloat($(this).val()) > 0) {
                                    $('#TipoPagoTexto' + $(this).attr('name')).html($(this).val());
                                } else {
                                    $('#TipoPagoTexto' + $(this).attr('name')).html("0.00");
                                }
                            });
                            $('#BotonEditarTiposPago').show();
                            $('#BotonCerrarModal').show();
                            $('#BotonCancelarEditarTiposPago').hide();
                            $('#BotonAceptarEditarTiposPago').hide();
                            $('.TipoPago').hide();
                            $('.TipoPagoTexto').show();
                            $('.TipoPago').each(function () {
                                if (isNaN($(this).val()) || parseFloat($(this).val()) <= 0) {
                                    $(this).parent().parent().addClass('PagoSinMonto').prev().addClass('PagoSinMonto');
                                }
                            });
                            $('#txt_referencia').addClass('PagoSinMonto').css('display', 'none');
                            $('#label_referencia').html(Referencia);
                        },
                        async: false
                    });
                } else {
                    MostrarAlertaFormulario();
                    OcultarAlertaFormulario();
                }
            });
        });
        function MostrarAlertaFormulario() {
            $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
        }
        function OcultarAlertaFormulario() {
            setTimeout(function () {
                $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
                $('#AlertaFormulario').hide(1500);
            }, 3000);
        }
    </script>*@