﻿@{
    List<POS.Models.venta> ListaVentas = ViewBag.ListaVentas as List<POS.Models.venta>;
    List<POS.Models.conceptos_por_venta> ListaConceptos = ViewBag.ListaConceptos as List<POS.Models.conceptos_por_venta>;
    List<POS.Models.proveedor> ListaProveedores = ViewBag.ListaProveedores as List<POS.Models.proveedor>;
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
}

<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;margin-bottom: 0px;">Reporte De Ventas A Consignacion</h3>
    <div class="example-box-wrapper" style="margin-top: 0px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @foreach (POS.Models.proveedor proveedor in ListaProveedores.OrderBy(x => x.nombre_proveedor).ToList())
        {
            Decimal TotalPagado = 0;
            Decimal TotalDeuda = 0;
            Decimal TotalVendido = 0;
            <table class="table proveedor" style="width:100%; margin-bottom:25px;">
                <thead>
                    <tr style="display:none;">
                        <td colspan="11">
                            <input class="id_proveedor" value="@proveedor.id" />
                            <input class="nombre_proveedor" value="@proveedor.nombre_proveedor" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" style="text-align: center; background-color: #506676; color: white; margin-bottom: 0px; margin-top: 0px; line-height: 35px; font-size: 15px; text-transform: uppercase;"><span style="display:inline;">@proveedor.nombre_proveedor</span><span class="icono" style="display:inline; margin-left: 10px;"></span></td>
                    </tr>
                    <tr>
                        <th>Producto</th>
                        <th>Proveedor</th>
                        <th>Familia</th>
                        <th>Venta</th>
                        <th>Sucursal</th>
                        <th>Fecha Venta</th>
                        <th>Estatus</th>
                        <th>Fecha Pago</th>
                        <th>Usuario Pago</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody style="font-size:13px;">
                    @foreach (POS.Models.conceptos_por_venta concepto_por_venta in ListaConceptos.Where(x => x.producto.Proveedor_id == proveedor.id).ToList())
                    {
                        String serie_folio = POS.Fn.Numeros.serie_folio_by_id(concepto_por_venta.Venta_id);
                        <tr name="@concepto_por_venta.id" pagado="@concepto_por_venta.pagada_consignacion.Value">
                            <td style="text-align: center;">@concepto_por_venta.producto.Codigo<span> - </span>@concepto_por_venta.producto.Descripcion</td>
                            <td style="text-align: center;">@concepto_por_venta.producto.proveedor.nombre_proveedor</td>
                            <td style="text-align: center;">@concepto_por_venta.producto.subfamilia.familia.nombre</td>
                            <td style="text-align: center;">@serie_folio</td>
                            <td style="text-align: center;">@concepto_por_venta.venta.sucursal.nombre_sucursal</td>
                            <td style="text-align: center;">
                                @if (concepto_por_venta.venta.catalogo_status_id == 1)
                                {
                                    @concepto_por_venta.venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                }
                                else if (concepto_por_venta.venta.catalogo_status_id == 9 ||
                                         concepto_por_venta.venta.catalogo_status_id == 10 ||
                                         concepto_por_venta.venta.catalogo_status_id == 11)
                                {
                                    @concepto_por_venta.venta.fecha_liquidacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                }
                            </td>
                            <td style="text-align: center;">
                                @if (concepto_por_venta.pagada_consignacion == true)
                                {
                                    <label style="color: #0d5a22;"><span class="visible-print-block">Pagado</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                }
                                else
                                {
                                    <label style="color: #ff0000;"><span class="visible-print-block">Por Pagar</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                }
                            </td>
                            <td style="text-align: center;">
                                @if (concepto_por_venta.fecha_pagada_consignacion != null)
                                {
                                    @concepto_por_venta.fecha_pagada_consignacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                }
                            </td>
                            <td style="text-align: center;">
                                @if (concepto_por_venta.id_usuario_pago_consignacion != null)
                                {
                                    @concepto_por_venta.usuario_punto_venta.nombre_usuario
                                }
                            </td>
                            <td style="text-align: center;">@concepto_por_venta.cantidad</td>
                            <td style="text-align: center;">
                                @if (concepto_por_venta.producto.costo != null)
                                {
                                    @Math.Round(concepto_por_venta.producto.costo.Value, 2)
                                }
                                else
                                {
                                    @:No tiene costo
                                }
                            </td>
                            <td style="text-align: center;">
                                @if (concepto_por_venta.producto.costo != null)
                                {
                                    @Math.Round(concepto_por_venta.cantidad * concepto_por_venta.producto.costo.Value, 2)
                                }
                                else
                                {
                                    @:No tiene costo
                                }
                            </td>
                        </tr>
                        if (concepto_por_venta.producto.costo != null)
                        {
                            Decimal total_concepto = 0;
                            total_concepto = Math.Round(concepto_por_venta.cantidad * concepto_por_venta.producto.costo.Value, 2);
                            TotalVendido += total_concepto;
                            if (concepto_por_venta.pagada_consignacion == true)
                            {
                                TotalPagado += total_concepto;
                            }
                            else
                            {
                                TotalDeuda += total_concepto;
                            }
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10" style="border: 0px; width: 30%; text-align:center; background-color: rgba(80, 102, 118, 0.68); color: white; padding:4px;">Correos</td>
                        <td colspan="2" style="border: 0px; width: 30%; text-align:center; background-color: rgba(80, 102, 118, 0.68); color: white; padding:4px;">Totales</td>
                    </tr>
                    <tr>
                        <td colspan="10" rowspan="3" style="border: 0px; padding:4px;">
                            <textarea class="correo form-control" style="resize:none; height:70px;">@proveedor.correo</textarea>
                        </td>
                        <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); border: 0px;  padding:4px;">Total Pagado</td>
                        <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); border: 0px;  padding:4px;">
                            <label style="margin-right:5px;">$</label><span>@TotalPagado</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">Total Adeudo</td>
                        <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">
                            <label style="margin-right:5px;">$</label><span>@TotalDeuda</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">Total Vendido</td>
                        <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">
                            <label style="margin-right:5px;">$</label><span>@TotalVendido</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        }
        <table class="table" style="width:100%;">
            <tr>
                <td style="border:0px; text-align:center;">
                    <a id="MandarReporteVentaConsignacion" class="btn btn-success">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-check"></i>
                        </span>
                        <span class="button-content">Mandar Reporte</span>
                    </a>
                    <a id="CancelarReporteVentaConsignacion" class="btn btn-danger">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-times"></i>
                        </span>
                        <span class="button-content">Cancelar</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.ModalReporteVentaConsignacion .modal-dialog').css('width', '95%');
    });
</script>