﻿@{
    ViewBag.Title = "POS - Consignacion Por Proveedor";
}

@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Consignacion Por Proveedor</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="width:100%; height:50px;">
            <div style="margin-left: 10px; margin-top: 10px; float: left;">
                <label>Periodo: </label>
                <div class="btn btn-primary" style="width: 375px; background-color: #254054; border-color: #254054;">
                    <i class="glyph-icon icon-calendar"></i>
                    <input type="text" id="periodo" class="form-control" readonly="readonly" style="border: none; background-color: transparent; color: white; padding-left: 0px; display: inline; box-shadow: none; cursor: pointer; opacity: 100; text-align: center;" />
                </div>
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Sucursal: </label>
                @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 150px;" })
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Proveedor: </label>
                @Html.DropDownList("id_proveedor", null, new { @class = "form-control", @style = "display: inline; width: 150px;" })
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Familia: </label>
                @Html.DropDownList("id_familia", null, new { @class = "form-control", @style = "display: inline; width: 150px;" })
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Estatus: </label>
                <select id="id_estatus" class="form-control" style="display: inline; width: 100px;">
                    <option value="0" selected="selected">Todos</option>
                    <option value="1">Por Pagar</option>
                    <option value="2">Pagados</option>
                </select>
            </div>
        </div>
        <table id="TablaHistorial" class="table" style="width: 100%; padding-top:10px;">
            <tbody id="CuerpoTabla" style="font-size:13px;"></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#periodo').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
            "timePickerSeconds": true,
            "locale": {
                "format": "MM/DD/YYYY hh:mm:ss A",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizado",
                "daysOfWeek": ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                "firstDay": 1
            },
            ranges: {
                'Hoy': ["@ViewBag.HoyInicio", "@ViewBag.HoyFin"],
                'Ayer': ["@ViewBag.AyerInicio", "@ViewBag.AyerFin"],
                'Antier': ["@ViewBag.AntierInicio", "@ViewBag.AntierFin"],
                'Semana Actual': ["@ViewBag.SemanaActualInicio", "@ViewBag.SemanaActualFin"],
                'Semana Pasada': ["@ViewBag.SemanaPasadaInicio", "@ViewBag.SemanaPasadaFin"],
                'Semana Antepasada': ["@ViewBag.SemanaAntepasadaInicio", "@ViewBag.SemanaAntepasadaFin"],
                'Quincena Actual': ["@ViewBag.QuincenaActualInicio", "@ViewBag.QuincenaActualFin"],
                'Quincena Pasada': ["@ViewBag.QuincenaPasadaInicio", "@ViewBag.QuincenaPasadaFin"],
                'Quincena Antepasada': ["@ViewBag.QuincenaAntepasadaInicio", "@ViewBag.QuincenaAntepasadaFin"],
                'Mes Actual': ["@ViewBag.MesActualInicio", "@ViewBag.MesActualFin"],
                'Mes Pasado': ["@ViewBag.MesPasadoInicioFin", "@ViewBag.MesPasadoFin"],
                'Mes Antepasado': ["@ViewBag.MesAntepasadoInicio", "@ViewBag.MesAntepasadoFin"]
            }
        });
    });
    $(document).ready(function () {
        /*CONFIGURACIONES*/
        if ($('#configuracion_caja_centralizada').val() == "True") {
            caja_centralizada = true;
        } else {
            caja_centralizada = false;
        }
        if ($('#configuracion_edicion_precios').val() == "True") {
            editar_precio_dinamicamente = true;
        } else {
            editar_precio_dinamicamente = false;
        }
        if ($('#configuracion_imprimir_solo_ticket').val() == "True") {
            impresion_solo_ticket = true;
        } else {
            impresion_solo_ticket = false;
        }
        if ($('#confirmacion_directa').val() == "True") {
            confirmacion_directa = true;
        } else {
            confirmacion_directa = false;
        }
        /*CONFIGURACIONES*/
        if ($('#id_sucursal').children('option').length > 1) {
            $('#id_sucursal').prepend('<option value="0">Todas</option>');
        }
        $('#id_sucursal option[value="0"]').attr("selected", "selected");
        $('#id_proveedor').prepend('<option value="0">Todos</option>');
        $('#id_proveedor option[value="0"]').attr("selected", "selected");
        $('#id_familia').prepend('<option value="0">Todos</option>');
        $('#id_familia option[value="0"]').attr("selected", "selected");
        ActualizarVistaParcialHistorial();
        $(document).on('change', '#periodo', function () {
            ActualizarVistaParcialHistorial();
        });
        $(document).on('change', '#id_sucursal', function () {
            ActualizarVistaParcialHistorial();
        });
        $(document).on('change', '#id_proveedor', function () {
            ActualizarVistaParcialHistorial();
        });
        $(document).on('change', '#id_familia', function () {
            ActualizarVistaParcialHistorial();
        });
        $(document).on('change', '#id_estatus', function () {
            ActualizarVistaParcialHistorial();
        });
    });
    function ActualizarVistaParcialHistorial() {
        var url = '@Url.Action("VistaParcialPoolConsignacion")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_sucursal: $("#id_sucursal").val(), id_proveedor: $("#id_proveedor").val(), id_familia: $("#id_familia").val(), id_estatus: $("#id_estatus").val(), periodo: $("#periodo").val() },
            success: function (result) {
                $("#CuerpoTabla").html(result);
            },
            async: false
        });
    }
    $(document).on('click', '#CancelarReporteVentaConsignacion', function () {
        $('.ModalReporteVentaConsignacion').modal('hide');
    });
</script>