﻿@{
    ViewBag.Title = "POS - Ventas Por Producto";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Ventas Por Producto</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="margin-left: 10px; margin-top: 10px; float: left;">
            <label>Periodo: </label>
            <div class="btn btn-primary" style="width: 375px; background-color: #254054; border-color: #254054;">
                <i class="glyph-icon icon-calendar"></i>
                <input type="text" id="periodo" class="form-control" readonly="readonly" style="border: none; background-color: transparent; color: white; padding-left: 0px; display: inline; box-shadow: none; cursor: pointer; opacity: 100; text-align: center;" />
            </div>
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
        </div>
        @*<div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarExcel" class="btn btn-success" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <table id="TablaVentasTipoPrecio" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Proveedor</th>
                    <th>Familia</th>
                    <th>Subfamilia</th>
                    <th>Tipo De Precio</th>
                    <th>Cantidad</th>
                    <th>Costo</th>
                    <th>Precio</th>
                    <th>Ganancia</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla"></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var table_export;
    $(function () {
        $('#periodo').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
            "timePickerSeconds": true,
            "locale": {
                "format": "MM/DD/YYYY hh:mm:ss A",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizado",
                "daysOfWeek": ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                "firstDay": 1
            },
            ranges: {
                'Hoy': ["@ViewBag.HoyInicio", "@ViewBag.HoyFin"],
                'Ayer': ["@ViewBag.AyerInicio", "@ViewBag.AyerFin"],
                'Antier': ["@ViewBag.AntierInicio", "@ViewBag.AntierFin"],
                'Semana Actual': ["@ViewBag.SemanaActualInicio", "@ViewBag.SemanaActualFin"],
                'Semana Pasada': ["@ViewBag.SemanaPasadaInicio", "@ViewBag.SemanaPasadaFin"],
                'Semana Antepasada': ["@ViewBag.SemanaAntepasadaInicio", "@ViewBag.SemanaAntepasadaFin"],
                'Quincena Actual': ["@ViewBag.QuincenaActualInicio", "@ViewBag.QuincenaActualFin"],
                'Quincena Pasada': ["@ViewBag.QuincenaPasadaInicio", "@ViewBag.QuincenaPasadaFin"],
                'Quincena Antepasada': ["@ViewBag.QuincenaAntepasadaInicio", "@ViewBag.QuincenaAntepasadaFin"],
                'Mes Actual': ["@ViewBag.MesActualInicio", "@ViewBag.MesActualFin"],
                'Mes Pasado': ["@ViewBag.MesPasadoInicioFin", "@ViewBag.MesPasadoFin"],
                'Mes Antepasado': ["@ViewBag.MesAntepasadoInicio", "@ViewBag.MesAntepasadoFin"]
            }
        });
    });
    $(document).ready(function () {
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal").val();
            var url = '@Url.Action("VistaParcialVentaTipoPrecio")';
            $.ajax({
                url: url,
                data: { idSucursal: _id_sucursal, periodo: $("#periodo").val() },
                success: function (result) {
                    $("#CuerpoTabla").html(result);
                    CrearTablaVentasTipoPrecio();
                },
                async: false
            });
            $("#ExportarExcel").click(function () {
                $('#TablaVentasTipoPrecio .xlsx').trigger("click");
            });
            table_export = $("#TablaVentasTipoPrecio").tableExport({
                headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
                footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
                formats: ["xlsx", "csv", "txt"],     // (String[]), filetype(s) for the export
                fileName: "id",                     // (id, String), filename for the downloaded file
                bootstrap: true,                    // (Boolean), style buttons using bootstrap
                position: "bottom",                 // (top, bottom), position of the caption element relative to table
                ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
                ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
                ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
                emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
                trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
            });
            $(document).on('change', '#periodo', function () {
                ActualizarVistaParcialVentaTipoPrecio();
            });
            $(document).on('change', '#id_sucursal', function () {
                establecer_id_sucursal_virtual(parseInt($(this).val()));
                ActualizarVistaParcialVentaTipoPrecio();
            });
    });
    function ActualizarVistaParcialVentaTipoPrecio() {
        var url = '@Url.Action("VistaParcialVentaTipoPrecio")';
        $.ajax({
            url: url,
            data: { idSucursal: $("#id_sucursal").val(), periodo: $("#periodo").val() },
            success: function (result) {
                $('#TablaVentasTipoPrecio').dataTable().fnClearTable();
                $('#TablaVentasTipoPrecio').dataTable().fnDestroy();
                $("#CuerpoTabla").html(result);
                CrearTablaVentasTipoPrecio();
                table_export.reset();
            },
            async: false
        });
    }
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var periodo = $("#periodo").val();
        var url = '@Url.Action("TraerPDFListaVentasTipoPrecio", "FormatoPDF", new { idSucursal = "_id_", periodo = "_periodo_" })'.replace("_id_", id_sucursal);
        url = url.replace("_periodo_", periodo);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>

<script type="text/javascript">
    function CrearTablaVentasTipoPrecio() {
        $('#TablaVentasTipoPrecio').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Historial de Ventas',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',

                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Historial de Ventas',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Ventas por Tipo de Precio',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>
