﻿@{
    List<POS.Models.venta> ListaVentas = ViewBag.ListaVentas as List<POS.Models.venta>;
    List<POS.Models.conceptos_por_venta> ListaConceptos = ViewBag.ListaConceptos as List<POS.Models.conceptos_por_venta>;
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    Decimal TotalPagado = ViewBag.TotalPagado;
    Decimal TotalDeuda = ViewBag.TotalDeuda;
    Decimal TotalVendido = ViewBag.TotalVendido;
}

@foreach (POS.Models.conceptos_por_venta concepto_por_venta in ListaConceptos)
{
    String serie_folio = POS.Fn.Numeros.serie_folio_by_id(concepto_por_venta.Venta_id);
    <tr name="@concepto_por_venta.id" pagado="@concepto_por_venta.pagada_consignacion.Value">
        <td style="text-align: center;">@concepto_por_venta.producto.Codigo<span> - </span>@concepto_por_venta.producto.Descripcion</td>
        <td style="text-align: center;">@concepto_por_venta.producto.proveedor.nombre_proveedor</td>
        <td style="text-align: center;">@concepto_por_venta.producto.subfamilia.familia.nombre</td>
        <td style="text-align: center;">@serie_folio</td>
        <td style="text-align: center;">@concepto_por_venta.venta.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">
            @if (concepto_por_venta.venta.catalogo_status_id == 1)
            {
                @concepto_por_venta.venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm:ss")
            }
            else if (concepto_por_venta.venta.catalogo_status_id == 9 ||
                     concepto_por_venta.venta.catalogo_status_id == 10 ||
                     concepto_por_venta.venta.catalogo_status_id == 11)
            {
                @concepto_por_venta.venta.fecha_liquidacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
            }
        </td>
        <td style="text-align: center;">
            @if (concepto_por_venta.pagada_consignacion == true)
                {
                <label style="color: #0d5a22;"><span class="visible-print-block">Pagado</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
            }
            else
            {
                <label style="color: #ff0000;"><span class="visible-print-block">Por Pagar</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
            }
        </td>
        <td style="text-align: center;">
            @if (concepto_por_venta.fecha_pagada_consignacion != null)
            {
                @concepto_por_venta.fecha_pagada_consignacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
            }
        </td>
        <td style="text-align: center;">
            @if (concepto_por_venta.id_usuario_pago_consignacion != null)
            {
                @concepto_por_venta.usuario_punto_venta.nombre_usuario
            }
        </td>
        <td style="text-align: center;">@concepto_por_venta.cantidad</td>
        <td style="text-align: center;">@concepto_por_venta.importe_mas_iva</td>
        <td style="text-align: center;">
            @if (concepto_por_venta.producto.costo != null)
            {
                @Math.Round(concepto_por_venta.producto.costo.Value, 2)
            }
            else
            {
                @:No tiene costo
            }
        </td>
        <td style="text-align: center;">
            @if (concepto_por_venta.producto.costo != null)
            {
                @Math.Round(concepto_por_venta.cantidad * concepto_por_venta.producto.costo.Value, 2)
            }
            else
            {
                @:No tiene costo
            }
        </td>
        <td style="text-align: center;">
            <section>
                <div class="wrapper-demo">
                    <div class="wrapper-dropdown-5" tabindex="1">
                        <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                        Acciones
                        <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                            @if (concepto_por_venta.pagada_consignacion == false)
                            {
                                <li>
                                    <label onclick="PagarConcepto(@concepto_por_venta.id)" style="color: #0d5a22"><i class="glyph-icon icon-check" aria-hidden="true" style="margin-right: 15px;"></i>Pagar</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </section>
        </td>
    </tr>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#Pagado').html(@TotalPagado);
        $('#Adeudo').html(@TotalDeuda);
        $('#Vendido').html(@TotalVendido);
    });
</script>

<script>
    $("#TablaHistorial").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],                  // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: 9,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>