﻿@{
    List<POS.Models.venta> ListaVentas = ViewBag.ListaVentas as List<POS.Models.venta>;
    List<POS.Models.conceptos_por_venta> ListaConceptos = ViewBag.ListaConceptos as List<POS.Models.conceptos_por_venta>;
    List<POS.Models.proveedor> ListaProveedores = ViewBag.ListaProveedores as List<POS.Models.proveedor>;
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
}

@if (ListaConceptos.Count > 0)
{
    foreach (POS.Models.proveedor proveedor in ListaProveedores.OrderBy(x => x.nombre_proveedor).ToList())
    {
        Decimal TotalPagado = 0;
        Decimal TotalDeuda = 0;
        Decimal TotalVendido = 0;
        <tr>
            <td colspan="13" style="text-align: center; background-color: #506676; color: white; margin-bottom: 0px; margin-top: 0px; line-height: 35px; font-size: 15px; text-transform: uppercase; padding: 4px; text-align:center;"><span style="display:inline;">@proveedor.nombre_proveedor</span><span class="icono" style="display:inline; margin-left: 10px;"></span></td>
        </tr>
        <tr>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Producto</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Proveedor</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Familia</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Venta</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Sucursal</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Fecha Venta</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Estatus</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Fecha Pago</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Usuario Pago</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Cantidad</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Precio de Venta</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Costo</td>
            <td style="color: #333; background-color: #fafafa; border-color: rgba(37, 64, 84, 0.45); font-weight: 700; vertical-align: bottom; border-bottom-width: 2px; border-bottom-style: solid; text-align: center;">Total</td>
        </tr>
        foreach (POS.Models.conceptos_por_venta concepto_por_venta in ListaConceptos.Where(x => x.producto.Proveedor_id == proveedor.id).ToList())
        {
            String serie_folio = POS.Fn.Numeros.serie_folio_by_id(concepto_por_venta.Venta_id);
            <tr name="@concepto_por_venta.id" pagado="@concepto_por_venta.pagada_consignacion.Value">
                <td style="text-align: center;">@concepto_por_venta.producto.Codigo<span> - </span>@concepto_por_venta.producto.Descripcion</td>
                <td style="text-align: center;">@concepto_por_venta.producto.proveedor.nombre_proveedor</td>
                <td style="text-align: center;">@concepto_por_venta.producto.subfamilia.familia.nombre</td>
                <td style="text-align: center;">@serie_folio</td>
                <td style="text-align: center;">@concepto_por_venta.venta.sucursal.nombre_sucursal</td>
                <td style="text-align: center;">
                    @if (concepto_por_venta.venta.catalogo_status_id == 1)
                        {
                        @concepto_por_venta.venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm:ss")
                    }
                    else if (concepto_por_venta.venta.catalogo_status_id == 9 ||
                             concepto_por_venta.venta.catalogo_status_id == 10 ||
                             concepto_por_venta.venta.catalogo_status_id == 11)
                    {
                        @concepto_por_venta.venta.fecha_liquidacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                    }
                </td>
                <td style="text-align: center;">
                    @if (concepto_por_venta.pagada_consignacion == true)
                        {
                        <label style="color: #0d5a22;"><span class="visible-print-block">Pagado</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                    }
                    else
                    {
                        <label style="color: #ff0000;"><span class="visible-print-block">Por Pagar</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                    }
                </td>
                <td style="text-align: center;">
                    @if (concepto_por_venta.fecha_pagada_consignacion != null)
                        {
                        @concepto_por_venta.fecha_pagada_consignacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                    }
                </td>
                <td style="text-align: center;">
                    @if (concepto_por_venta.id_usuario_pago_consignacion != null)
                        {
                        @concepto_por_venta.usuario_punto_venta.nombre_usuario
                    }
                </td>
                <td style="text-align: center;">@concepto_por_venta.cantidad</td>
                <td style="text-align: center;">@concepto_por_venta.importe_mas_iva</td>
                <td style="text-align: center;">
                    @if (concepto_por_venta.producto.costo != null)
                        {
                        @Math.Round(concepto_por_venta.producto.costo.Value, 2)
                    }
                    else
                    {
                        @:No tiene costo
                                }
                </td>
                <td style="text-align: center;">
                    @if (concepto_por_venta.producto.costo != null)
                        {
                        @Math.Round(concepto_por_venta.cantidad * concepto_por_venta.producto.costo.Value, 2)
                    }
                    else
                    {
                        @:No tiene costo
                                }
                </td>
            </tr>
            if (concepto_por_venta.producto.costo != null)
            {
                Decimal total_concepto = 0;
                total_concepto = Math.Round(concepto_por_venta.cantidad * concepto_por_venta.producto.costo.Value, 2);
                TotalVendido += total_concepto;
                if (concepto_por_venta.pagada_consignacion == true)
                {
                    TotalPagado += total_concepto;
                }
                else
                {
                    TotalDeuda += total_concepto;
                }
            }
        }
        <tr>
            <td colspan="11" style="border: 0px; text-align:center;"></td>
            <td colspan="2" style="width:20%; border: 0px; text-align:center; background-color: rgba(80, 102, 118, 0.68); color: white; padding:4px;">Totales</td>
        </tr>
        <tr>
            <td colspan="11" rowspan="3" style="border: 0px; padding:4px;"></td>
            <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); border: 0px;  padding:4px;">Total Pagado</td>
            <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); border: 0px;  padding:4px;">
                <label style="margin-right:5px;">$</label><span>@TotalPagado</span>
            </td>
        </tr>
        <tr>
            <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">Total Adeudo</td>
            <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">
                <label style="margin-right:5px;">$</label><span>@TotalDeuda</span>
            </td>
        </tr>
            <tr>
                <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">Total Vendido</td>
                <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">
                    <label style="margin-right:5px;">$</label><span>@TotalVendido</span>
                </td>
            </tr>
    }
}
else
{
    <tr>
        <td colspan="13" style="text-align: center; background-color: #506676; color: white; margin-bottom: 0px; margin-top: 0px; line-height: 35px; font-size: 15px; text-transform: uppercase;"><span style="display:inline;">No hay ventas</td>
    </tr>
}