﻿@{
    ViewBag.Title = "POS - Notas De Credito";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Notas De Credito</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="margin-left: 10px; margin-top: 10px; float: left;">
            <label>Periodo: </label>
            <div class="btn btn-primary" style="width: 375px; background-color: #254054; border-color: #254054;">
                <i class="glyph-icon icon-calendar"></i>
                <input type="text" id="periodo" class="form-control" readonly="readonly" style="border: none; background-color: transparent; color: white; padding-left: 0px; display: inline; box-shadow: none; cursor: pointer; opacity: 100; text-align: center;" />
            </div>
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 160px;" })
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Estatus: </label>
            @Html.DropDownList("id_estatus_nota_credito", null, new { @class = "form-control", @style = "display: inline; width: 160px;" })
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a href="@Url.Action("NuevaNotaCredito")" class="btn btn-success" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-plus"></i>
                </span>
                <span class="button-content">Nueva Nota De Credito</span>
            </a>
        </div>
        @*<div style="margin-right: 10px; margin-top: 16px; float: right;">
            <a id="ExportarExcel" class="btn btn-success">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <table id="TablaNotasCredito" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>ID Nota Credito</th>
                    <th>ID Venta</th>
                    <th>ID Venta Aplicada</th>
                    <th>Sucursal</th>
                    <th>Estatus</th>
                    <th>Fecha Creacion</th>
                    <th>Fecha Uso</th>
                    <th>Fecha Cancelacion</th>
                    <th>Importe</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla"></tbody>
        </table>
    </div>
</div>

<div id="Ticket" style="display: none"></div>

<script type="text/javascript">
    $(function () {
        $('#periodo').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
            "timePickerSeconds": true,
            "locale": {
                "format": "MM/DD/YYYY hh:mm:ss A",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizado",
                "daysOfWeek": ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                "firstDay": 1
            },
            ranges: {
                'Hoy': ["@ViewBag.HoyInicio", "@ViewBag.HoyFin"],
                'Ayer': ["@ViewBag.AyerInicio", "@ViewBag.AyerFin"],
                'Antier': ["@ViewBag.AntierInicio", "@ViewBag.AntierFin"],
                'Semana Actual': ["@ViewBag.SemanaActualInicio", "@ViewBag.SemanaActualFin"],
                'Semana Pasada': ["@ViewBag.SemanaPasadaInicio", "@ViewBag.SemanaPasadaFin"],
                'Semana Antepasada': ["@ViewBag.SemanaAntepasadaInicio", "@ViewBag.SemanaAntepasadaFin"],
                'Quincena Actual': ["@ViewBag.QuincenaActualInicio", "@ViewBag.QuincenaActualFin"],
                'Quincena Pasada': ["@ViewBag.QuincenaPasadaInicio", "@ViewBag.QuincenaPasadaFin"],
                'Quincena Antepasada': ["@ViewBag.QuincenaAntepasadaInicio", "@ViewBag.QuincenaAntepasadaFin"],
                'Mes Actual': ["@ViewBag.MesActualInicio", "@ViewBag.MesActualFin"],
                'Mes Pasado': ["@ViewBag.MesPasadoInicioFin", "@ViewBag.MesPasadoFin"],
                'Mes Antepasado': ["@ViewBag.MesAntepasadoInicio", "@ViewBag.MesAntepasadoFin"]
            }
        });
    });
    $(document).ready(function () {
        /*CONFIGURACIONES*/
        if ($('#configuracion_caja_centralizada').val() == "True") {
            caja_centralizada = true;
        } else {
            caja_centralizada = false;
        }
        if ($('#configuracion_edicion_precios').val() == "True") {
            editar_precio_dinamicamente = true;
        } else {
            editar_precio_dinamicamente = false;
        }
        if ($('#configuracion_imprimir_solo_ticket').val() == "True") {
            impresion_solo_ticket = true;
        } else {
            impresion_solo_ticket = false;
        }
        if ($('#confirmacion_directa').val() == "True") {
            confirmacion_directa = true;
        } else {
            confirmacion_directa = false;
        }
        /*CONFIGURACIONES*/
        ActualizarTablaNotaCredito();
        $(document).on('change', '#periodo', function () {
                ActualizarTablaNotaCredito();
        });
        $("#ExportarExcel").click(function () {
            $('#TablaNotasCredito .xlsx').trigger("click");
        });
    });
    $(document).on('change', '#id_sucursal', function () {
        establecer_id_sucursal_virtual(parseInt($(this).val()));
        ActualizarTablaNotaCredito();
    });
    $(document).on('change', '#id_estatus_nota_credito', function () {
        ActualizarTablaNotaCredito();
    });
    function ActualizarTablaNotaCredito() {
        var id_estatus = $('#id_estatus_nota_credito').val();
        if (id_estatus == ""){
            id_estatus = 0;
        }
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("VistaParcialNotaCredito")';
        $.ajax({
            url: url,
            data: { id_sucursal: _id_sucursal, id_estatus_nota_credito: id_estatus, periodo: $('#periodo').val() },
            type: "POST",
            success: function (result) {
                $('#TablaNotasCredito').dataTable().fnClearTable();
                $('#TablaNotasCredito').dataTable().fnDestroy();
                $("#CuerpoTabla").html(result);
                $(".wrapper-dropdown-5").each(function () {
                    var dd = new DropDown($(this));
                    $(document).click(function () {
                        // all dropdowns
                        $('.wrapper-dropdown-5').removeClass('active');
                    });
                });
                CrearTablaNotasCredito();
            },
            async: false
        });
    }
    function CancelarNota(id) {
        var url = '@Url.Action("CancelarNotaCredito")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id: id },
            success: function () {
                ActualizarTablaNotaCredito();
                ConfiguracionImpresionNotaCredito(id);
            },
            async: false
        });
    }
    function ImprimirNota(id) {
        ConfiguracionImpresionNotaCredito(id);
    }
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
</script>

<script type="text/javascript">
    function CrearTablaNotasCredito() {
        $('#TablaNotasCredito').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista de Notas de Credito',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Lista de Notas de Credito',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Notas de Credito',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>

@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA NOTA DE CREDITO*@
<script type="text/javascript">
    var id_nota_credito = 0;
    var cantidad_tickets = parseInt($('#configuracion_cantidad_tickets').val());;
    function ConfiguracionImpresionNotaCredito(id) {
        id_nota_credito = id;
        if (impresion_solo_ticket) {
            try {
                GenerarTicketNotaCredito();
            } catch (e) {
                var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
                $.ajax({
                    url: url,
                    data: {},
                    success: function (VistaParcial) {
                        bootbox.dialog({
                            className: "ModalAdvertenciaImpresionNoMozilla",
                            message: VistaParcial,
                            closeButton: false,
                            onEscape: true
                        });
                    },
                    async: false
                });
            }
        } else {
            EscogerModoImpresionNotaCredito();
        }
    }
    function EscogerModoImpresionNotaCredito(){
        var url = '@Url.Action("ModalSeleccionarModoImpresion", "printer")';
        $.ajax({
            url: url,
            data: { },
            success: function (VistaParcial) {
                bootbox.dialog({
                    className: "ModalSeleccionarModoImpresion ModalSeleccionarModoImpresionNotaCredito",
                    message: VistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    $(document).on('click', '.ModalSeleccionarModoImpresionNotaCredito #selectPDF', function () {
        window.open('@Url.Action("GenerarPDFNotaCredito", "NotaCredito", new { id = "_id_" })'.replace("_id_", id_nota_credito));
        $(".ModalSeleccionarModoImpresion").modal("hide");
        bootbox.hideAll();
        window.location.reload(true);
    });
    $(document).on('click', '.ModalSeleccionarModoImpresionNotaCredito #selectTicketPrinter', function () {
        try {
            $(".ModalSeleccionarModoImpresion").modal("hide");
            GenerarTicketNotaCredito();
        } catch (e) {
            var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
            $.ajax({
                url: url,
                data: {},
                success: function (VistaParcial) {
                    bootbox.dialog({
                        className: "ModalAdvertenciaImpresionNoMozilla",
                        message: VistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    });
    function GenerarTicketNotaCredito() {
        cantidad_tickets = 1;
        var url = '@Url.Action("VistaParcialGenerarTicketNotaCredito", "NotaCredito")';
        $.ajax({
            url: url,
            data: { id: id_nota_credito },
            success: function (VistaParcial) {
                $("#Ticket").html(VistaParcial);
                for (var i = 0; i < cantidad_tickets; i++) {
                    ImprimirTicketNotaCredito(document.getElementById('Ticket'));
                }
            },
            async: false
        });
        //ESTA FUNCION SOLO SE NECESITA SI NO SIRVE CARGAR LA VISTA PARCIAL PARA HACER OTRA NOTA DE CREDITO
        //window.location.reload(true);
        //ESTA FUNCION SOLO SE NECESITA SI NO SIRVE CARGAR LA VISTA PARCIAL PARA HACER OTRA NOTA DE CREDITO
    }
    function ImprimirTicketNotaCredito(Ticket) {
        jsPrintSetup.setSilentPrint(true);
        var content = Ticket.innerHTML
        jsPrintSetup.setOption('marginTop', 5);
        jsPrintSetup.setOption('marginBottom', 15);
        jsPrintSetup.setOption('marginLeft', 5);
        jsPrintSetup.setOption('marginRight', 5);
        // set page header
        jsPrintSetup.setOption('headerStrLeft', '');
        jsPrintSetup.setOption('headerStrCenter', '');
        jsPrintSetup.setOption('headerStrRight', '');
        // set empty page footer
        jsPrintSetup.setOption('footerStrLeft', '');
        jsPrintSetup.setOption('footerStrCenter', '');
        jsPrintSetup.setOption('footerStrRight', '');
        jsPrintSetup.definePaperSize(101, 101, "Custom", "Custom_Paper", "Custom PAPER", 300, 400, jsPrintSetup.kPaperSizeMillimeters);
        jsPrintSetup.setPaperSizeData(101);
        //pwin.document.open();
        w = window.open();
        w.document.write(content);
        w.print();
        w.close();
        //setTimeout(function () { pwin.close(); }, 1000);
        jsPrintSetup.setSilentPrint(false);
    }
    //ESTA FUNCION SOLO SE NECESITA SI NO SIRVE CARGAR LA VISTA PARCIAL PARA HACER OTRA NOTA DE CREDITO
    //$(document).on('click', '.ModalAdvertenciaImpresionNoMozilla #BotonAceptarAdvertencia', function () {
    //    window.location.reload(true);
    //});
    //ESTA FUNCION SOLO SE NECESITA SI NO SIRVE CARGAR LA VISTA PARCIAL PARA HACER OTRA NOTA DE CREDITO

    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var id_estatus_nota_credito = $('#id_estatus_nota_credito').val();
        var periodo = $("#periodo").val();
        var url = '@Url.Action("TraerPDFListaNotasCredito", "FormatoPDF", new { id_sucursal = "_id_", id_estatus_nota_credito = "_id_estatus_nota_credito_", periodo = "_periodo_" })'.replace("_id_", id_sucursal);
        url = url.replace("_id_estatus_nota_credito_", id_estatus_nota_credito);
        url = url.replace("_periodo_", periodo);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>
@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA NOTA DE CREDITO*@