﻿@model POS.Models.nota_credito
@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
}

<table style="max-width: 320px; font-size: 16px; font-family: Arial; line-height: 16px;">
    <tr>
        <td colspan="4" style="text-align: center;">
            <img src="@Url.Content("/UploadFolder/logo/" + configuracion_general.logo)" style="max-width:300px; max-height:200px;"  />
        </td>
    </tr>
    <tr>
        <td colspan="2">NOTA DE CREDITO:</td>
        <td colspan="2" style="text-transform: uppercase;">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(Model.id)</td>
    </tr>
    <tr>
        <td colspan="2">VENTA:</td>
        <td colspan="2" style="text-transform: uppercase;">@POS.Fn.Numeros.serie_folio_by_id(Model.id_venta)</td>
    </tr>
    <tr>
        <td colspan="2">FECHA DE CREACION:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
    </tr>
    @if (Model.id_estatus_nota_credito == 2)
    {
        <tr>
            <td colspan="2">VENTA APLICADA:</td>
            <td colspan="2" style="text-transform: uppercase;">@POS.Fn.Numeros.serie_folio_by_id(Model.id_venta)</td>
        </tr>
        <tr>
            <td colspan="2">FECHA DE USO:</td>
            <td colspan="2" style="text-transform: uppercase;">@Model.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
        </tr>
    }
    else if (Model.id_estatus_nota_credito == 3)
    {
        <tr>
            <td colspan="2">FECHA DE CANCELACION:</td>
            <td colspan="2" style="text-transform: uppercase;">@Model.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
        </tr>
    }
    <tr>
        <td colspan="2">ESTATUS:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.estatus_nota_credito.nombre</td>
    </tr>
    <tr>
        <td colspan="2">CLIENTE:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.venta.cliente.Razon_social</td>
    </tr>
    <tr>
        <td colspan="2">VENDEDOR:</td>
        <td colspan="2" style="text-transform: uppercase;">@Model.usuario_punto_venta.nombre_usuario</td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: center">________________________________________________</td>
    </tr>
    <tr>
        <td colspan="4" style="height: 10px;"></td>
    </tr>
    <tr>
        <td colspan="2">CANTIDAD A FAVOR:</td>
        <td colspan="2" style="text-transform: uppercase;"><span>$</span>@Model.cantidad.Value</td>
    </tr>
    <tr>
</table>