﻿@model POS.Models.LogOnModel
@{
    Layout = null;
}

@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    POS.Models.configuracion_pos configuracion_pos = POS.Fn.Configuracion.TraerConfiguracionPOS();
}

<script type="text/javascript" src="@Url.Content("~/assets-minified/js-core.js")"></script>
<!--B R O W S E R-->
<script src="@Url.Content("~/Scripts/bowser.js")"></script>
<!--B R O W S E R-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>POS - Log In</title>
    <link rel='shortcut icon' type='image/x-icon' href="@Url.Content("/UploadFolder/logo/" + configuracion_general.favicon)" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <script type="text/javascript" src="@Url.Content("~/assets-minified/js-core.js")"></script>
    <script type="text/javascript">
$(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });</script>
    <style>
        #loading {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            background: #fff;
            z-index: 10000;
        }

            #loading img {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -23px 0 0 -23px;
            }

        #iniciarsesion {
            background-color: white;
            color: black;
            border-color: #ccc;
        }

            #iniciarsesion:hover {
                background-color: #254054 !important;
                color: white;
            }

        a:hover {
            color: #454040 !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/helpers/helpers-all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/elements/elements-all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/icons/fontawesome/fontawesome.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/layout.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/default/layout-color.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/default/framework-color.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/themes/supina/border-radius.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/helpers/colors.css")">
</head>
<body>
    <div id="loading">
        <img src="@Url.Content("~/assets-minified/images/spinner/loader-dark.gif")" alt="Cargando...">
    </div>
    <style type="text/css">
        body {
            background: #fff;
        }
    </style>
    <div class="center-vertical">
        <div class="center-content">
            <form action="@Url.Action("LogOn")" id="login-validation" class="center-margin" method="POST" style="width:500px;">
                @Html.AntiForgeryToken()
                <div id="login-form" class="content-box bg-default" style="background-color: white;">
                    <div class="content-box-wrapper pad20A">
                        <img class="center-margin display-block" src="@Url.Content("/UploadFolder/logo/" + configuracion_general.logo)" alt="" style="width:200px;">
                        <h3 class="text-center pad25B" style="margin-top: 10px; font-weight: bold; color: #888; font-size: 15px">@configuracion_pos.texto_login<span class="opacity-80"></span></h3>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon addon-inside bg-gray"><i class="glyph-icon icon-user"></i></span>
                                @if (Model != null)
                                {
                                    <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Nombre De Usuario" value="@Model.UserName" required="" />
                                }
                                else
                                {
                                    <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Nombre De Usuario" required="" />
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon addon-inside bg-gray"><i class="glyph-icon icon-unlock-alt"></i></span>
                                @if (Model != null)
                                {
                                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Contraseña" value="@Model.Password" required="" />
                                }
                                else
                                {
                                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Contraseña" required="" />
                                }
                            </div>
                        </div>
                        <div>
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 10px; width: 100%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="titulo">Error</h4>
                                    <div id="div_alerta_mensaje">&nbsp;@Html.Raw(ViewBag.error)</div>
                                </div>
                            </div>
                            @if (ViewBag.error != null)
                            {
                                <script>
                                    $(document).ready(function () {
                                        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
                                    });
                                </script>
                            }
                        </div>
                        <div id="div_bloqueo_IP" style="position: absolute; width: 300px; height: 200px; z-index: 15; top: 50%; left: 50%; margin: -100px 0 0 -150px; display: none; text-align: center">
                            <div id="CuentaRegresiva" data-timer=""></div>
                            <div id="AlertaBaneo" class="alert alert-info" style="height: 60px; width: 100%; display: none">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">BLOQUEO POR SEGURIDAD</h4>
                                </div>
                            </div>
                        </div>
                        <!--C O U N T   D O W N-->
                        <div class="form-group">
                            <button type="submit" id="iniciarsesion" class="btn btn-block btn-primary" style="line-height: 32px; height: 34px;">
                                Iniciar Sesion
                            </button>
                        </div>
                        @*PANEL IPS-HOSTNAME*@
                        <div style="display: none">
                            <input type="text" id="intento" name="intento" style="font-size: 0.6pc; font-weight: normal; color: lightgray; border: none; width: 100%" />
                            <input type="text" id="localIPS" name="localIPS" style="font-size: 0.6pc; font-weight: normal; color: lightgray; border: none; width: 100%" />
                            <input type="text" id="publicIPS" name="publicIPS" style="font-size: 0.6pc; font-weight: normal; color: lightgray; border: none; width: 100%" />
                            <input type="text" id="hostname" name="hostname" style="font-size: 0.6pc; font-weight: normal; color: lightgray; border: none; width: 100%" />
                        </div>
                        @* / PANEL IPS-HOSTNAME*@
                    </div>
                    <div style="width:100%; text-align:center; font-size:12px; color:#7e7e7e;">Al ingresar acepta nuestros <u><a id="TerminosCondiciones" style="cursor:pointer;">terminos y condiciones</a></u></div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<script>
    //desabilidat ENTER SUBMIT FORM
    $(".form-control").keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
    //<!--C O U N T   D O W N-->
    $.getScript("@Url.Content("~/Scripts/TimeCircles.js")", function () { });
    $('head').append('<link rel="stylesheet" href="@Url.Content("~/Scripts/TimeCircles.css")" type="text/css" />');
    //<!--C O U N T   D O W N-->
    function RevisarBaneoIP(_localIPS, _publicIPS) {
        var url = '@Url.Action("revisar_ip_baneada_segundos", "Account")';
        $.ajax({
            url: url,
            data: { localIPS: _localIPS, publicIPS: _publicIPS },
            success: function (segundos) {
                if (segundos > 5) {
                    $("#login-validation").remove();

                    $("#div_bloqueo_IP").show();
                    $("#CuentaRegresiva").attr("data-timer", segundos);
                    $("#CuentaRegresiva").TimeCircles({ time: { Days: { show: false }, Hours: { show: false } } });

                    $(document).ready(function () {
                        $('#AlertaBaneo').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
                    });

                    // $("#CountDownTimer").css("display","block")
                    $("#CuentaRegresiva").TimeCircles().addListener(function (unit, amount, total) {
                        if (total == 0) {
                            $("#CuentaRegresiva").TimeCircles().stop();
                            window.location = "@Url.Action("LogOn", "Account", new { idP = ViewBag.PlataformaID })";
                        }
                    });
                }
                else {
                    //SI NO TIENE BANEO ENTONCES MUESTRA EL BOTON LOGIN
                    $("#div_loading").remove();
                    $("#div_iniciarsesion").slideDown();
                    //habilitar ENTER SUBMIT FORM
                    $(".form-control").keydown(function (event) {
                        if (event.keyCode == 13) {
                            return true;
                        }
                    });
                }
            },
            async: false
        });
    }
    $(document).ready(function () {
        //crear logon cookie
        $.ajax({
            url: "@Url.Action("crearLogOnCookie")",
            type: 'post',
            success: function (intentos) {
                if (intentos > 0) {
                    $('#AlertaFormulario .titulo').html("Intentos fallidos (" + intentos + ")");
                    $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
                }
                $("#intento").val(intentos);
                traerIPS();
            },
            async: false
        });
        function traerIPS() {
            //TRAER IP PUB, LOC Y HOSTNAME
            $.ajax({
                url: "@Url.Content("~/FnPhp/get_ip_local.php")",
                type: 'post',
                success: function (jsonResponse) {
                    jsonResponse = JSON.parse(jsonResponse);
                    $("#localIPS").val(jsonResponse.ip_local);
                    $("#publicIPS").val(jsonResponse.ip_publica);
                    $("#hostname").val(jsonResponse.hostname);

                    $("#div_loading").slideUp(100);
                    $("#div_iniciarsesion").slideDown(400);
                    //habilitar ENTER SUBMIT FORM
                    $(".form-control").keydown(function (event) {
                        if (event.keyCode == 13) {
                            return true;
                        }
                    });
                    RevisarBaneoIP(jsonResponse.ip_local, jsonResponse.ip_publica);
                    //jsonResponse.hostname
                }
            });
        }
    });
    $(document).on('click', '#TerminosCondiciones', function () {
        window.location.href = '@Url.Action("TerminosCondiciones", "Home")';
    });
</script>

<script type="text/javascript">
    $(window).load(function () {
        setTimeout(function () {
            $('#loading').fadeOut(400, "linear");
        }, 300);
    });
</script>
