﻿@{
    ViewBag.Title = "Aviso de privacidad";
}

@{
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
    Tienda_Online.Models.sucursal sucursal = Tienda_Online.Fn.Configuracion.TraerConfiguracionSucursales().First();
}

<section id="aviso" class="8u" style="margin-left: 10%; width: 78%; text-align: justify;">
    <h2 style="color: #253746; text-align: center; font-weight: lighter;">AVISO DE PRIVACIDAD.</h2>
    <div style="text-align: center">
        <img class="DerechosAutorA" src="@Url.Content("~/UploadFolder/logo/" + configuracion_general.logo)" alt="Logotipo" style="width:100%;">
    </div>
    <p>
        EL AVISO DE PRIVACIDAD FORMA PARTE DEL USO DEL SITIO WEB<a class="DerechosAutorB" href="@Url.Action("Index", "home")" style="color: @configuracion_tienda_online.color_primario; margin-left: 0.5%;">@configuracion_general.pagina_web</a>
    </p>
    <p>
        <strong style="color: @configuracion_tienda_online.color_primario;">@sucursal.razon_social</strong>, denominado  <strong style="color: @configuracion_tienda_online.color_primario;">@configuracion_general.marca</strong> ubicado en
        @if (sucursal.calle != null)
        {
            <label style="display: inline;">@sucursal.calle</label>
        }
        @if (sucursal.exterior != null)
        {
            <label style="display: inline;">@sucursal.exterior</label>
        }
        @if (sucursal.interior != null)
        {
            <label style="display: inline;">@sucursal.interior</label>
        }
        @if (sucursal.colonia != null)
        {
            <label style="display: inline;">@sucursal.colonia</label>
        }
        @if (sucursal.municipio != null)
        {
            <label style="display: inline;">@sucursal.municipio</label>
        }
        @if (sucursal.estado != null)
        {
            <label style="display: inline;">@sucursal.estado</label>
        }
        @if (sucursal.pais != null)
        {
            <label style="display: inline;">@sucursal.pais</label>
        }
        @if (sucursal.cp != null)
        {
            <label style="display: inline;">@sucursal.cp</label>
        }
        .
    </p>
    <p>Para la empresa <strong style="color: @configuracion_tienda_online.color_primario;">@configuracion_general.marca</strong> es primordial respetar la privacidad de sus usuarios y mantener segura la información y datos que se recolectan.</p>
    <p>La empresa <strong style="color: @configuracion_tienda_online.color_primario;">@configuracion_general.marca</strong> informara al usuario que tipo de datos recolecta, como los almacena y la finalidad de la recolección, el alcance de su compromiso de confidencialidad y los derechos que éste posee como titular de la información.</p>
    <p>Con fundamentos en los artículos 15 y 16 de la Ley de Protección de Datos Personales en Posesión de Particulares hacemos de su conocimiento que su información personal será utilizada para las siguientes finalidades, proveer los servicios y productos que han solicitado; notificarle de nuevos productos o servicios que tengan relación con los ya adquiridos; comunicarle sobre cambios en los mismos; realizar explicaciones periódicas de nuestros productos o servicios a efecto de mejorar la calidad de los mismos; evaluar la calidad del servicio que brindamos y en general dar cumplimiento a las obligaciones que hemos contraído con usted. </p>
    <p>Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales:</p>
    <div class="DerechosAutorC">
        <label class="DerechosAutorD">•	Nombre completo</label><br />
        <label class="DerechosAutorD">•	Correo electrónico </label><br />
        <label class="DerechosAutorD">•	Número de teléfono</label><br />
        <label class="DerechosAutorD">•	Nombre de la empresa</label><br />
        <label class="DerechosAutorD">•	Calle y número</label><br />
        <label class="DerechosAutorD">•	Código postal</label><br />
        <label class="DerechosAutorD">•	Ciudad</label><br />
        <label class="DerechosAutorD">•	Estado</label><br />
        <label class="DerechosAutorD">•	País</label><br />
        <label class="DerechosAutorD">•	Datos fiscales</label><br />
        <label class="DerechosAutorD">•	Información laboral</label><br />
        <label class="DerechosAutorD">•	Información financiera</label><br />
        <label class="DerechosAutorD">•	Antecedentes crediticios</label><br />
        <label class="DerechosAutorD">•	Firma autógrafa</label><br />
    </div>
    <h2 style="color: #253746; text-align: center; font-weight: lighter;">DERECHOS DE AUTOR Y CONTENIDOS:</h2>
    <p>Todos los materiales contenidos en este sitio web que incluyen a manera enunciativa y no limitativa, entre otros, logotipos, textos, imágenes, audios, videos y software están protegidos por las leyes de  Derechos de Autor y demás leyes relativas y aplicables tanto internacionales como de los Estados Unidos Mexicanos.</p>
    <p>El uso de marcas registradas o comerciales incluidas en el contenido tiene exclusivamente fines ilustrativos e informativos y no pretende ser una transgresión a los derechos de autor ni a la legislación de la propiedad intelectual aplicable en el país. </p>
    <p>El usuario se compromete a no utilizar los contenidos de <strong style="color: @configuracion_tienda_online.color_primario;">@configuracion_general.marca</strong>, para actividades contrarias a la ley, a la moral o al orden público, ni para difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico- ilegal, de apología de terrorismo o la criminalidad, o constituya un atentado contra los derechos humanos.</p>
    <p>Usted como usuario se obliga a no utilizar la información, datos, fotos, marcas ni cualquier otro contenido en esta página de internet para fines comerciales.</p>
    <h2 style="color: #253746; text-align: center; font-weight: lighter;">RESPONSABILIDAD</h2>
    <p>El usuario acepta que <strong style="color: @configuracion_tienda_online.color_primario;">@configuracion_general.marca</strong> no será el responsable de los daños o pérdidas de cualquier naturaleza, directa, indirecta, consecuencial, derivados de la visualización, uso o presentaciones del sitio web de <strong style="color: @configuracion_tienda_online.color_primario;">@configuracion_general.marca</strong> o de los servicios relacionados con el mismo, debido a las interrupciones del servicio, demoras, errores, mal funcionamiento del sitio web y en general de como el usuario utilice la información contenida o publicada a través del sitio web, así como los demás inconvenientes que tengan o no su origen en causas que escapan del control de <strong style="color: @configuracion_tienda_online.color_primario;">@configuracion_general.marca</strong> y/o que tengan por origen causas  de fuerza mayor.</p>
    <h2 style="color: #253746; text-align: center; font-weight: lighter;">CAMBIOS A LAS POLÍTICAS Y TÉRMINOS DE USO</h2>
    <p><strong style="color: @configuracion_tienda_online.color_primario;">@configuracion_general.marca</strong> se reserva el derecho de modificar las presentes políticas de privacidad y términos de uso en cualquier tiempo, sin necesidad de dar aviso al usuario, siendo este responsable de revisarlas periódicamente. El uso del sitio web constituirá la aceptación del usuario de estas políticas de privacidad y términos de uso, por lo que el usuario es responsable de revisar periódicamente estos cambios. </p>
    <p>Para cualquier duda o comentario puede ponerse en contacto en <a href="@("mailto:" + sucursal.configuracion_sucursal_correo.First().correo)" style="color: @configuracion_tienda_online.color_primario;">@sucursal.configuracion_sucursal_correo.First().correo</a></p>
</section>

<script>
    $(document).ready(function () {
        //ajustar altura
        url = $(location).attr('href');
        divName = url.substring(url.lastIndexOf('#')).replace("#", "");
        if (divName != url && divName != "") {
            goToByScroll(divName);
        }
        var height = parseInt($("#header_fix").height());
        $("#render_body").delay(1000).css("margin-top", height + "px");

    })

    function goToByScroll(id) {
        var height = parseInt($("#header_fix").height());
        // Remove "link" from the ID
        id = id.replace("link", "");
        // Scroll
        $('html,body').animate({
            scrollTop: $("#" + id).offset().top - parseInt(height + 80)
        },
            'slow');
    }
</script>
