﻿@{
                /**/

                ViewBag.Title = "Compras";
}

@{
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
    Tienda_Online.Models.configuracion_menu configuracion_menu = Tienda_Online.Fn.Configuracion.TraerConfiguracionMenu().Last();
}

@foreach (Tienda_Online.Models.configuracion_submenu configuracion_submenu in configuracion_menu.configuracion_submenu.ToList())
{
    <div id="@configuracion_submenu.nombre.Trim().TrimEnd().TrimStart().Replace(" ", "")" class="container" style="margin-top: 30px; text-align: center;">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto;">
                <label class="titulo1" style="text-transform:uppercase;">@configuracion_submenu.nombre</label>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12  col-xs-12 " style="text-align: left; font-weight: normal">
            @Html.Raw(configuracion_submenu.html)
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        //ajustar altura
        url = $(location).attr('href');
        divName = url.substring(url.lastIndexOf('#')).replace("#", "");
        if (divName != url && divName != "") {
            goToByScroll(divName);
        }
        var height = parseInt($("#header_fix").height());
        $("#render_body").delay(1000).css("margin-top", height + "px");

    })

    function goToByScroll(id) {
        var height = parseInt($("#header_fix").height());
        // Remove "link" from the ID
        id = id.replace("link", "");
        // Scroll
        $('html,body').animate({
            scrollTop: $("#" + id).offset().top - parseInt(height + 80)
        },
            'slow');
    }
</script>
