﻿@{
    ViewBag.Title = "nuestraEmpresa";
}

@{
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
    List<Tienda_Online.Models.sucursal> ListaSucursales = Tienda_Online.Fn.Configuracion.TraerConfiguracionSucursales();
}

<div id="contacto" class="container" style="margin-top: 30px;">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto; text-align: center;">
            <label class="titulo1">CONTACTO</label>
        </div>
    </div>
    <div class=" formulario_2 col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <p style="color: #848484;">¿Tienes alguna duda o algún requerimiento?</p>
        <p style="color: #848484;">Ponte en contacto con nosostros por medio de este sencillo formulario </p>
        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 nopadnomar">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="label_form1">Nombre: </label>
                <input type="text" id="Nombre" name="Nombre" class="" placeholder="Nombre" />
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="label_form1" style="display: inline;">Teléfono*: </label>
                <input type="text" id="Telefono" name="Telefono" class="campo_obligatorio" placeholder="Teléfono (Obligatorio)" />
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="label_form1" style="display: inline;">Email*: </label>
                <input type="email" id="Email" name="Email" class="campo_obligatorio" placeholder="Email (Obligatorio)" />
            </div>
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 nopadnomar">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="label_form1" style="display: inline;">Mensaje*: </label>
                <textarea id="Mensaje" name="Telefono" class="campo_obligatorio" placeholder="Mensaje (Obligatorio)" style="height: 170px;"></textarea>
            </div>
        </div>
        <div class=" col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-12 col-xs-12 nopadnomar">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="AlertaFormulario" class="alerta_formulario borde_rojo" style="">
                    <div>
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <label>Por favor llene los campos todos los campos obligatorios..</label>
                    </div>
                </div>
                <div id="AlertaEnvio" class="alerta_formulario borde_rojo" style="">
                    <div>
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <label>Error al enviar formulario..</label>
                    </div>
                </div>
                <div id="AlertaOK" class="alerta_formulario borde_verde" style="">
                    <div>
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        <label>Formulario enviado correctamente.</label>
                    </div>
                </div>
                <div id="AlertaEnviando" class="alerta_formulario borde_verde" style="">
                    <div>
                        <img src="../../images/loading.gif" />
                        <label>Enviando.</label>
                    </div>
                </div>
                <div>
                    <label id="BotonEnviarContacto" class="btn_ok" style="width: 100%; text-align: center;">Enviar</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sucursales" class="container" style="margin-top: 30px; text-align: center;">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto;">
            <label class="titulo1">SUCURSALES</label>
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
        @foreach (Tienda_Online.Models.sucursal sucursal in ListaSucursales)
        {
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin: 30px 0 auto; float: left; color: #848484;">
                @if (sucursal.mapa != null)
                {
                    <iframe src="@Html.Raw(sucursal.mapa)" width="250" height="250" frameborder="0" style="border: 0" allowfullscreen></iframe>
                }
                <div style="display: inline-block; text-align: left;">
                    @if (sucursal.nombre_sucursal != null)
                    {
                        <p style="font-size: 25px; margin-top: 15px;">@sucursal.nombre_sucursal</p>
                    }
                    else
                    {
                        <p style="font-size: 25px; margin-top: 15px;">Sucursal #@sucursal.id</p>
                    }
                    <p style="margin: 0; text-align: left">
                        @if (sucursal.calle != null)
                        {
                            <label style="font-weight: normal; font-size: 14px; display: inline;">@sucursal.calle</label>
                        }
                        @if (sucursal.exterior != null)
                        {
                            <label style="font-weight: normal; font-size: 14px; display: inline;">@sucursal.exterior</label>
                        }
                        @if (sucursal.interior != null)
                        {
                            <label style="font-weight: normal; font-size: 14px; display: inline;">@sucursal.interior</label>
                        }
                    </p>
                    <p style="margin: 0; text-align: left">
                        @if (sucursal.colonia != null)
                        {
                            <label style="font-weight: normal; font-size: 14px; display: inline;">@sucursal.colonia</label>
                        }
                        @if (sucursal.cp != null)
                        {
                            <label style="font-weight: normal; font-size: 14px; display: inline;">@sucursal.cp</label>
                        }
                    </p>
                    <p style="margin: 0; text-align: left">
                        @if (sucursal.municipio != null)
                        {
                            <label style="font-weight: normal; font-size: 14px; display: inline;">@sucursal.municipio</label>
                        }
                        @if (sucursal.estado != null)
                        {
                            <label style="font-weight: normal; font-size: 14px; display: inline;">@sucursal.estado</label>
                        }
                        @if (sucursal.pais != null)
                        {
                            <label style="font-weight: normal; font-size: 14px; display: inline;">@sucursal.pais</label>
                        }
                    </p>
                    @foreach (Tienda_Online.Models.configuracion_sucursal_correo configuracion_sucursal_correo in sucursal.configuracion_sucursal_correo.ToList())
                    {
                        if (configuracion_sucursal_correo.correo != null)
                        {
                            <p style="margin: 0; text-align: left">@configuracion_sucursal_correo.correo</p>
                        }
                    }
                    @foreach (Tienda_Online.Models.configuracion_sucursal_telefono configuracion_sucursal_telefono in sucursal.configuracion_sucursal_telefono.ToList())
                    {
                        if (configuracion_sucursal_telefono.nombre != null)
                        {
                            <p style="font-size: 25px; margin: 10px 0 0 0">@configuracion_sucursal_telefono.nombre</p>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        //ajustar altura
        url = $(location).attr('href');
        divName = url.substring(url.lastIndexOf('#')).replace("#", "");
        if (divName != url && divName != "") {
            goToByScroll(divName);
        }
        var height = parseInt($("#header_fix").height());
        $("#render_body").delay(1000).css("margin-top", height + "px");

    })

    function goToByScroll(id) {
        var height = parseInt($("#header_fix").height());
        // Remove "link" from the ID
        id = id.replace("link", "");
        // Scroll
        $('html,body').animate({
            scrollTop: $("#" + id).offset().top - parseInt(height + 80)
        },
            'slow');
    }
</script>

<script type="text/javascript">
    var seguir = true;
    var isChecked = false;
    $(document).on('click', '#BotonAgregarCliente', function () {
        $('#AgregarCliente').trigger('click');
    });


    $('.campo_obligatorio').keydown(function () {
        $(".alerta_formulario").hide();
        if ($(this).val() != "") {
            $(this).css("border", "none");
        }
    });
    $(document).ready(function () {

        $('#BotonEnviarContacto').click(function () {

            $(".alerta_formulario").hide();
            $("#AlertaEnviando").show();

            seguir = true;
            $('.campo_obligatorio').each(function () {
                $(this).css("border", "none");
                if ($(this).val() == "" || $(this).val() == null) {
                    seguir = false
                    $(this).css("border", "1px dashed #fc5858");
                }
            });

            if (!seguir) {
                $("#AlertaEnviando").hide();
                $('#AlertaFormulario').show();

            } else {
                $('#AlertaFormulario').hide();
            }
            if (seguir) {
                var formularioContacto = [];
                formularioContacto.push({
                    Nombre: $('#Nombre').val(),
                    Apellido: $('#Apellidos').val(),
                    Email: $('#Email').val(),
                    Telefono: $('#Telefono').val(),
                    Mensaje: $('#Mensaje').val(),
                });

                //alert(JSON.stringify(formularioContacto))
                var params = {
                    'formularioContacto': formularioContacto
                };
                var url = '@Url.Action("enviarContacto")';
                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: 'JSON',
                    //contentType: 'application/json;',
                    data: {
                        Nombre: $('#Nombre').val(),
                        Apellidos: $('#Apellidos').val(),
                        Email: $('#Email').val(),
                        Telefono: $('#Telefono').val(),
                        Mensaje: $('#Mensaje').val()
                    },
                    success: function (result) {
                        $("#AlertaEnviando").hide();
                        if (result.success) {
                            $('#AlertaOK').show();

                        }
                        else {
                            $('#AlertaEnvio').show();
                        }
                    },
                    async: true
                });
            }
        });
    });

</script>
