﻿@{
    ViewBag.Title = "Tienda Online - Inicio";
}

@{
    List<Tienda_Online.Models.imagen_carousel> ListaSliders = ViewBag.ListaSliders as List<Tienda_Online.Models.imagen_carousel>;
    List<Tienda_Online.Models.marca> ListaMarcas = ViewBag.ListaMarcas as List<Tienda_Online.Models.marca>;
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
}

@if (configuracion_tienda_online.slider == true && ListaSliders.Count() > 0 && ListaSliders != null)
{
    <div style="background-color: #FFF;">
        <section style="margin-bottom: 30px;">
            <div class="container-fluid">
                <div class="row" style="margin: 0px;">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @{var a = 1;}
                            @foreach (Tienda_Online.Models.imagen_carousel imagen in ListaSliders)
                            {
                                if (a == 0)
                                {
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#carousel-example-generic" data-slide-to="@(a++)"></li>
                                }

                            }
                        </ol>
                        <div class="carousel-inner">
                            @{var b = 0;}
                            @foreach (Tienda_Online.Models.imagen_carousel imagen in ListaSliders)
                            {
                                if (b == 0)
                                {
                                    <div class="item active" style="padding: 0px;">
                                        <img src="@Url.Content("~/UploadFolder/imagen_slide/" + imagen.nombre)" alt="First slide @(b++)">
                                    </div>
                                }
                                else
                                {
                                    <div class="item" style="padding: 0px;">
                                        <img src="@Url.Content("~/UploadFolder/imagen_slide/" + imagen.nombre)" alt="Promociòn @(b++) ">
                                    </div>
                                }
                            }
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left glyphicon_carousel"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right glyphicon_carousel"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script>
        $(".carousel-control").click(function (e) {
            event.preventDefault();
            $('#carousel-example-generic').carousel($(this).attr("data-slide"));

        });
    </script>
}

@if (configuracion_tienda_online.info1 == true)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #FFFFFF; padding-left: 0px; padding-right: 0px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                    <a href="@configuracion_tienda_online.link_1_info1" style="cursor:pointer;">
                        <img src="@Url.Content("~/UploadFolder/imagen_informacion1/" + configuracion_tienda_online.imagen_1_info1)" style="max-width:100%;">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                    <a href="@configuracion_tienda_online.link_2_info1" style="cursor:pointer;">
                        <img src="@Url.Content("~/UploadFolder/imagen_informacion1/" + configuracion_tienda_online.imagen_2_info1)" style="max-width:100%;">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                    <a href="@configuracion_tienda_online.link_3_info1" style="cursor:pointer;">
                        <img src="@Url.Content("~/UploadFolder/imagen_informacion1/" + configuracion_tienda_online.imagen_3_info1)" style="max-width:100%;">
                    </a>
                </div>
            </div>
        </div>
    </div>
}

@if (configuracion_tienda_online.destacados == true)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #FFF;margin-bottom: 20px;">
        <div id="container_productos" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="features_items">
                <div style="width: 100%;">
                    <h2 class="text-center" style="padding-bottom: 40px; padding-top: 40px !important; font-size: 35px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2">Artículos destacados</h2>
                </div>
                <div id="productos_por_pagina" style="width: 100%; height: 40px; color: #4A4A4A; margin-top: 15px;">
                    <label style="float: right;">
                        Productos por página
                        <select id="numeroProductos" style="border: none; background-color: #f4f2f2; height: 35px; width: 70px; color: #4a4a4a; padding-left: 18px;">
                            <option value="12">12</option>
                            <option value="24">24</option>
                            <option value="36">36</option>
                        </select>
                    </label>
                </div>
                <div id="ListaProductos" class="tab-pane fade active in" style=""></div>
            </div>
        </div>
    </div>
}

@if (configuracion_tienda_online.marcas == true)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #FFF; margin-bottom: 20px;">
        <div>
            <div class="row" style="margin: 0px;">
                <div class="col-sm-12">
                    <div class="features_items">
                        <div style="width: 100%;">
                            <h2 class="text-center" style="padding-bottom: 40px; padding-top: 40px !important; font-size: 35px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2">Nuestras Marcas</h2>
                        </div>
                        @foreach (Tienda_Online.Models.marca marca in ListaMarcas)
                        {
                            <div class="imagenProovedor">
                                <a href="@Url.Action("busqueda", "Producto", new { filtro = marca.nombre, tipo = 3 })">
                                    <img src="@Url.Content("~/UploadFolder/imagen_marca/" + marca.imagen)" alt="@marca.nombre" style="width: 100%;" />
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (configuracion_tienda_online.info2 == true)
{
    <div style="width: 100%; padding: 0px">
        <a href="@configuracion_tienda_online.link_info2" style="cursor:pointer;">
            <img src="@Url.Content("~/UploadFolder/imagen_informacion2/" + configuracion_tienda_online.imagen_info2)" style="width: 100%;" />
        </a>
    </div>
}

<div class="container" style="">
    <div class="row" style="margin: 0px;">
        <div style="width: 100%">
            <label id="RegistrateYCotizaEnLinea" class="btn_ok">Registrate y cotiza</label>
        </div>
    </div>
</div>

<script>
    $(".btn_menu").click(function () {
        url = $(this).attr("url");
        if (url != "") {
            window.location.href = url;
        }
    });
</script>
<script type="text/javascript">
    var numeroProductos = $('#numeroProductos').val();
    var filtro = $('#filtro').val();
    var precio = $('.tooltip-inner').html();
    var ordenamiento = $('#ordenamiento').val();
    var pagina = 1;
    var siguiente_hoja = false;
    var precios_netos;
    $(document).ready(function () {
        if ($('#precios_netos').val() == "True") {
            precios_netos = true;
        } else {
            precios_netos = false;
        }
        VistaParcialProductos();
    });
    $(document).on('click', '#btn_todos_productos', function () {
        window.location.href = '@Url.Action("busqueda", "Producto", new { filtro = "", tipo = 1 })';
    });
        $(document).on('click', '#btn_todos_productos', function () {
            window.location.href = '@Url.Action("busqueda", "Producto", new { filtro = "", tipo = 1 })';
        });
        $(document).on('click', '#volverinicio', function () {
            window.location.href = '@Url.Action("Index", "Home")';
        });
        $(document).on('click', '.boton_paginacion', function () {
            pagina = $(this).attr("name");
            siguiente_hoja = true;
            VistaParcialProductos();

        });
        $(document).on('change', '#numeroProductos', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        function VistaParcialProductos() {
            numeroProductos = $('#numeroProductos').val();
            ordenamiento = $('#ordenamiento').val();
            if (siguiente_hoja == false) {
                pagina = 1;
            }
            var Familias = [];
            $(".familiaSeleccionada").each(function () {
                Familias.push($(this).attr('name'))
            });
            var Subfamilias = [];
            $(".subfamiliaSeleccionada").each(function () {
                Subfamilias.push($(this).attr('name'))
            });
            var Proveedores = [];
            $(".proveedorSeleccionada").each(function () {
                Proveedores.push($(this).attr('name'))
            });
            var params = {
                'pagina': pagina,
                'numeroProductos': numeroProductos
            };
            var url = '@Url.Action("VistaParcialProductosDestacados", "Producto")';
            $.ajax({
                url: url,
                type: "POST",
                contentType: 'application/json;',
                data: JSON.stringify(params),
                success: function (productos) {
                    $('#ListaProductos').html(productos);
                },
                async: true
            });
        }
        $(document).on('click', '#RegistrateYCotizaEnLinea', function () {
            window.location.href = "@Url.Action("Registro", "Cuenta")";
        });
        $(document).ready(function () {
            $(document).on('click', 'a.boton_paginacion', function (e) {
                e.preventDefault();
                enlace = $(this).attr('href');
                $('html, body').animate({
                    scrollTop: $(enlace).offset().top - 130
                }, 1000);
            });
        });
</script>
