﻿@{
    List<Tienda_Online.Models.familia> ListaFamilias = ViewBag.ListaFamilias as List<Tienda_Online.Models.familia>;
    List<Tienda_Online.Models.subfamilia> ListaSubfamilias = ViewBag.ListaSubfamilias as List<Tienda_Online.Models.subfamilia>;
    List<Tienda_Online.Models.marca> ListaMarcas = ViewBag.ListaMarcas as List<Tienda_Online.Models.marca>;
}

<a href="#">Productos</a>
<ul class="dl-submenu">
    @foreach (Tienda_Online.Models.familia familia in ListaFamilias)
    {
        List<Tienda_Online.Models.subfamilia> listaSubfamilias = ListaSubfamilias.Where(x => x.Familia_id == familia.id).ToList();
        string nombreFamilia = familia.nombre.First().ToString().ToUpper() + familia.nombre.ToLower().Substring(1);

        <li>
            <a href="#">@nombreFamilia</a>
            <!-- Si queremos mostrar todas las subfamilias-->
            <!--@*<ul class="dl-submenu">
                <li><a href="@Url.Action("busqueda", "Producto", new { filtro = familia.id, tipo = 1 })">@nombreFamilia [Todo]</a></li>
                @foreach (Tienda_Online.Models.subfamilia subfam in familia.subfamilia.OrderBy(x => x.nombre))
                {
                    <li><a href='@Url.Action("busqueda", "Producto", new { filtro = @subfam.id, tipo = 2 })' style='text-align:left;margin-left: 10px;'>@(subfam.nombre.First().ToString().ToUpper() + subfam.nombre.ToLower().Substring(1))</a></li>
                }
            </ul>*@-->

            <ul class="dl-submenu">
                <li><a href="@Url.Action("busqueda", "Producto", new { filtro = familia.id, tipo = 1 })">@nombreFamilia [Todo]</a></li>
                @foreach (Tienda_Online.Models.subfamilia subfam in listaSubfamilias.OrderBy(x => x.nombre))
                {
                    <li><a href='@Url.Action("busqueda", "Producto", new { filtro = @subfam.id, tipo = 2 })' style='text-align:left;margin-left: 10px;'>@(subfam.nombre.First().ToString().ToUpper() + subfam.nombre.ToLower().Substring(1))</a></li>
                }
            </ul>
        </li>
    }
</ul>





