﻿<div style="background-color: #F4F2F2; height: 40px; width: 10%; color: white; float: left">
    <img src="@Url.Content(" ~/images/lupa.svg")" style="height: 23px;margin: 15%;">
</div>
<input type="text" id="filtro" class=" autocomplete-input ui-autocomplete-input" placeholder="Nombre de productos, marcas, categoria, etc." style="width:75%; border: none; background-color: #F4F2F2; height: 40px; float: left" />
<button id="Busqueda" class="btn_busqueda">Buscar</button>
<button id="miniBusqueda" class="btn_busqueda">></button>
<script type="text/javascript">
    var charMap = {
        "à": "a",
        "á": "a",
        "â": "a",
        "é": "e",
        "è": "e",
        "ê": "e",
        "ë": "e",
        "É": "e",
        "ï": "i",
        "î": "i",
        "ô": "o",
        "ö": "o",
        "û": "u",
        "ù": "u",
        "ü": "u",
        "ñ": "n"
    };

    var normalize = function (input) {
        $.each(charMap, function (unnormalizedChar, normalizedChar) {
            var regex = new RegExp(unnormalizedChar, 'gi');
            input = input.replace(regex, normalizedChar);
        });
        return input;
    };

    var queryTokenizer = function (q) {
        var normalized = normalize(q);
        return Bloodhound.tokenizers.whitespace(normalized);
    };


    $(document).ready(function () {
        var lista = @Html.Raw(ViewBag.JsonProductos)
        $("#filtro").autocomplete({
            source: lista
        });

    });
</script>
@*
<style type="text/css">
    .multiple_autocomplete {
        margin: 5px 20px 5px 20px;
        padding: 3px 0;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
        color: #00B73E;
    }
</style>
*@