﻿@{
    List<Tienda_Online.Models.familia> ListaFamilias = ViewBag.ListaFamilias as List<Tienda_Online.Models.familia>;
    List<Tienda_Online.Models.subfamilia> ListaSubfamilias = ViewBag.ListaSubfamilias as List<Tienda_Online.Models.subfamilia>;
    List<Tienda_Online.Models.marca> ListaMarcas = ViewBag.ListaMarcas as List<Tienda_Online.Models.marca>;
}

@*<ul class="megamenu skyblue nav_des" style="font-size: 15px;">*@
<ul class="menu">
    @foreach (Tienda_Online.Models.familia familia in ListaFamilias)
    {
        List<Tienda_Online.Models.subfamilia> listaSubfamilias = ListaSubfamilias.Where(x => x.Familia_id == familia.id).ToList();
        int totalSubfamilias = listaSubfamilias.Count;
        <li class="menu_familia">
            <label for="drop-1" class="toggle">@familia.nombre</label>
            <a href="@Url.Action("busqueda", "Producto", new { filtro = familia.id, tipo = 1 })">@familia.nombre</a>
            <input type="checkbox" id="drop-1" />

            <!-- Si queremos mostrar todas las subfamilias-->
            <!-- @* @if (familia.subfamilia.Count() != 0)
            {
                <ul style="background-color: white; border: 1px solid;">
                    <label style="padding: 0 10px; width: 100%; font-size: 25px; font-weight: lighter; margin-top: 10px;">Categorias</label>
                    @foreach (Tienda_Online.Models.subfamilia subfam in familia.subfamilia.OrderBy(x => x.nombre))
                    {
                        <li style="width: 33%; display: inline-block;"><a href='@Url.Action("busqueda", "Producto", new { filtro = @subfam.id, tipo = 2 })' style='text-align:left;cursor: pointer;'><label style="margin-bottom:10px; font-weight:normal; font-size: 14px; cursor: pointer;">@(subfam.nombre.First().ToString().ToUpper() + subfam.nombre.ToLower().Substring(1))</label></a></li>
                    }
                </ul>
            }*@-->
            <!--Si queremos mostrar las subfamilias que tengan algun producto-->
            @if (listaSubfamilias.Count() != 0)
            {
                <ul style="background-color: white; border: 1px solid;">
                    <label style="padding: 0 10px; width: 100%; font-size: 25px; font-weight: lighter; margin-top: 10px;">Categorias</label>
                    @foreach (Tienda_Online.Models.subfamilia subfam in listaSubfamilias.OrderBy(x => x.nombre))
                    {
                        <li style="width: 33%; display: inline-block;"><a href='@Url.Action("busqueda", "Producto", new { filtro = @subfam.id, tipo = 2 })' style='text-align:left;cursor: pointer;'><label style="margin-bottom:10px; font-weight:normal; font-size: 14px; cursor: pointer;">@(subfam.nombre.First().ToString().ToUpper() + subfam.nombre.ToLower().Substring(1))</label></a></li>
                    }
                </ul>
            }
        </li>
    }
</ul>


