﻿.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
    margin-bottom: 0px !important;
    padding-top: 10px;
}

    .dataTables_wrapper .dataTables_length {
        width: 40%;
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 10px;
        text-align: right;
        display: inline;
        border: 0px solid;
        width: auto;
        font-size: 13px;
        height: 34px;
        padding: 6px 12px;
        color: #777;
    }

        .dataTables_wrapper .dataTables_length select {
            display: inline;
            width: auto;
            font-size: 13px;
            height: 34px;
            padding: 0px 12px;
            border-radius: 3px;
            float: none;
            color: #777;
            border: 1px solid #ddd;
            -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
            -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
            box-shadow: inset 1px 1px 3px #f6f6f6;
        }

    .dataTables_wrapper .dataTables_filter {
        width: 50%;
        float: left;
        text-align: left;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
        display: inline;
        border: 0px solid;
        width: auto;
        font-size: 13px;
        height: 34px;
        padding: 6px 12px;
        color: #777;
    }

        .dataTables_wrapper .dataTables_filter input {
            display: inline;
            width: auto;
            font-size: 13px;
            height: 34px;
            padding: 0px 12px;
            border-radius: 3px;
            float: none;
            color: #777;
            border: 1px solid #ddd;
            -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
            -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
            box-shadow: inset 1px 1px 3px #f6f6f6;
            margin-left: 5px;
        }

    .dataTables_wrapper .dataTables_info {
        width: 60%;
        float: left;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
        display: inline;
        border: 0px solid;
        width: auto;
        font-size: 13px;
        height: 34px;
        padding: 6px 12px;
        color: #777;
    }

    .dataTables_wrapper .dataTables_paginate {
        float: right;
        text-align: right;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 10px;
        display: inline;
        border: 0px solid;
        width: auto;
        font-size: 13px;
        height: 34px;
        padding: 6px 12px;
        color: #777;
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            background-color: #ffffff !important;
            border: 1px solid #aaa;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            margin: 0 3px;
            cursor: pointer;
            padding: 6px 9px !important;
            /*border-color: #ddd !important;*/
            color: #7e7e7e;
            border: 1px solid #aaa !important;
            /*box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            margin-left: 2px;
            text-align: center;
            text-decoration: none !important;
            cursor: pointer;
            *cursor: hand;
            color: #333 !important;
            border: 1px solid transparent;
            border-radius: 2px;*/
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                background-color: #2A3F54 !important;
                color: white !important;
                border: dashed solid #2A3F54 !important;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
                cursor: default;
                color: #666 !important;
                border: 1px solid transparent;
                background: transparent;
                box-shadow: none;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background-color: #2A3F54 !important;
                color: white !important;
                border: dashed solid #2A3F54 !important;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button:active {
                background-color: #2A3F54 !important;
                color: white !important;
                border: dashed solid #2A3F54 !important;
            }

        .dataTables_wrapper .dataTables_paginate .ellipsis {
            padding: 0 1em;
        }

    .dataTables_wrapper .dataTables_processing {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 250px;
        height: 30px;
        margin-left: -125px;
        margin-top: -15px;
        padding: 14px 0 2px 0;
        border: 1px solid #ddd;
        text-align: center;
        color: #999;
        font-size: 14px;
        background-color: white;
    }

    /*.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        color: #333;
    }*/

    .dataTables_wrapper .dataTables_scroll {
        clear: both;
    }

        .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
            *margin-top: -1px;
            -webkit-overflow-scrolling: touch;
        }

            .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td {
                vertical-align: middle;
            }

                .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
                    height: 0;
                    overflow: hidden;
                    margin: 0 !important;
                    padding: 0 !important;
                }

    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border-bottom: 1px solid #111;
    }

    .dataTables_wrapper.no-footer div.dataTables_scrollHead table, .dataTables_wrapper.no-footer div.dataTables_scrollBody table {
        border-bottom: none;
    }

    .dataTables_wrapper:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }

    .dataTables_wrapper div.dataTables_length {
        float: right;
    }

    .dataTables_wrapper div.dataTables_filter {
        float: right;
    }

    div.dt-buttons {
    }

    div.dt-buttons a.buttons-copy, div.dt-buttons a.buttons-excel, div.dt-buttons a.buttons-pdf {
        height: 22px;
        width: 90px;
        padding-top: 0;
    }

    a.buttons-copy {
        background-color: #f3eaea;
        background-image: none;
        border-color: #f3eaea;
    }

    a.buttons-copy:hover {
        background-color: black;
        background-image: none;
        border-color: #f3eaea;
    }

    a.buttons-copy:hover:not(.disabled) {
        background-color: black;
        background-image: none;
        border-color: #f3eaea;
    }

    a.buttons-copy > span {
        background-color: #f3eaea;
        color: black;
        font-weight: bolder;
    }


    a.buttons-copy:hover > span {
        background-color: black;
        color: #f3eaea;
        font-weight: bolder;
    }




    a.buttons-excel {
        background-color: #14a314;
        background-image: none;
        border-color: #14a314;
    }

    a.buttons-excel:hover {
        background-color: white;
        background-image: none;
        border-color: #14a314;
    }

    a.buttons-excel:hover:not(.disabled) {
        background-color: white;
        background-image: none;
        border-color: #14a314;
    }

    a.buttons-excel > span {
        background-color: #14a314;
        color: white;
        font-weight: bolder;
    }


    a.buttons-excel:hover > span {
        background-color: white;
        color: #14a314;
        font-weight: bolder;
    }

    a.buttons-pdf {
        background-color: #f03b2d;
        background-image: none;
        border-color: #f03b2d;
    }

    a.buttons-pdf:hover {
        background-color: white;
        background-image: none;
        border-color: #f03b2d;
    }

    a.buttons-pdf:hover:not(.disabled) {
        background-color: white;
        background-image: none;
        border-color: #f03b2d;
    }

    a.buttons-pdf > span {
        background-color: #f03b2d;
        color: white;
        font-weight: bolder;
    }

    a.buttons-pdf:hover > span {
        background-color: white;
        color: #f03b2d;
        font-weight: bolder;
    }

@media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_filter {
        margin-top: 0.5em;
    }
}