﻿@model POS.Models.subfamilia
@{
    ViewBag.Title = "POS - Nueva Subfamilia";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nueva Subfamilia</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @using (Html.BeginForm("NuevaSubfamilia", "Subfamilia", FormMethod.Post, new { @id = "FormularioNuevaSubfamilia", @style = "margin-bottom:0px;" }))
        {
            <table id="TablaSubfamilia" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Familia: </td>
                        <td style="width: 25%; border: 0px;">
                            @Html.DropDownList("Familia_id", null, String.Empty, new { @class = "form-control" })
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Subfamilia: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" id="nombre" name="nombre" class="form-control" />
                        </td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaSubfamilia" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p id="FamiliaSubfamilia"></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <a id="BotonAgregarSubfamilia" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </a>
                            <a id="BotonCancelarSubfamilia" href="@Url.Action("Index")" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Cancelar</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" id="AgregarSubfamilia" value="Guardar" style="display: none;" />
        }
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '#BotonAgregarSubfamilia', function () {
        $('#AgregarSubfamilia').trigger('click');
    });
</script>

<script type="text/javascript">
    var seguir = true;
    $(document).ready(function () {
        $('#FormularioNuevaSubfamilia').bind('submit', function (event) {
            seguir = true;
            $('.form-control').each(function () {
                if ($(this).val() == "") {
                    seguir = false;
                }
            });
            if (!seguir) {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
            VerificarSubfamilia();
            if (!seguir) {
                return false;
            }
        });
    });
    $(document).on('change', '#Familia_id', function () {
        VerificarSubfamilia();
    });
    $(document).on('change', '#nombre', function () {
        VerificarSubfamilia();
    });
    function VerificarSubfamilia() {
        var url = '@Url.Action("VerificarSubfamilia")';
        if ($('#Familia_id').val() != '') {
            var familia = $('#Familia_id').val();
            $.ajax({
                url: url,
                data: { id: 0, id_familia: $('#Familia_id').val(), subfamilia: $('#nombre').val() },
                type: "POST",
                async: false,
                success: function (existe) {
                    if (existe == "True") {
                        $('#FamiliaSubfamilia').html('Subfamilia para la Familia ' + $('#Familia_id option:selected').text().toUpperCase() + ' ya registrado en el sistema.');
                        MostrarAlertaSubfamilia();
                        OcultarAlertaSubfamilia();
                        seguir = false;
                    }
                }
            });
        }
    }
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function MostrarAlertaSubfamilia() {
        $('#AlertaSubfamilia').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
    function OcultarAlertaSubfamilia() {
        setTimeout(function () {
            $('#AlertaSubfamilia').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaSubfamilia').hide(1500);
        }, 3000);
    }
</script>
