﻿@{
    Tienda_Online.Models.configuracion_general configuracion_general = Tienda_Online.Fn.Configuracion.TraerConfiguracionGeneral();
    Tienda_Online.Models.configuracion_tienda_online configuracion_tienda_online = Tienda_Online.Fn.Configuracion.TraerConfiguracionTiendaOnline();
    List<Tienda_Online.Models.configuracion_menu> ListaMenus = Tienda_Online.Fn.Configuracion.TraerConfiguracionMenu();
}

<script src="@Url.Content("~/js/jquery-3.1.1.min.js")"></script>
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootstrap_new.min.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/fixbarStyle.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/autocomplete.css")">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="@Url.Content("~/css/border-radius.css")" rel="stylesheet" />
<script type='text/javascript' src="@Url.Content("~/js/bootstrap.min.js")"></script>
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootstrap-responsive.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/fixbarStyle.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/font-awesome.min.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/prettyPhoto.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/price-range.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/animate.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/main.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/responsive.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/etalage.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/carousel.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/tabla.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/megamenu.css")" media="all" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/alertify/alertify.core.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/alertify/alertify.default.css")" />
<link type='text/css' rel="stylesheet" href="@Url.Content("~/css/style.css")" />
<link type='text/css' rel="stylesheet" href="@Url.Content("~/css/responsivo.less")" />
<link href="@Url.Content("~/css/progressTracker/progress-tracker.css")" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type='text/javascript' src="@Url.Content("~/js/classie.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/modernizr.custom.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/megamenu.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/PositionCalculator.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/jquery.easing.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/new-age.min.js")"></script>
<script src="@Url.Content("~/js/number.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/jquery.scrollUp.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/jquery.prettyPhoto.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/price-range.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/main.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/jquery.etalage.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/bootbox.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/typeahead.bundle.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/Scripts/alertify/alertify.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/jquery.flexisel.min.js")"></script>
<script src="@Url.Content("~/js/Numeros.js")"></script>
<link type='text/css' rel="stylesheet" href="@Url.Content("~/css/menu/component.css")" />
<script type='text/javascript' src="@Url.Content("~/js/jquery.dlmenu.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/modernizr.custom.js")"></script>
<script src="@Url.Content("~/js/waitforimages.js")"></script>
<link href="@Url.Content("~/js/switchery/switchery.css")" rel="stylesheet" />
<script src="@Url.Content("~/js/switchery/switchery.js")"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='shortcut icon' type='image/x-icon' href="@Url.Content("~/UploadFolder/logo/" + configuracion_general.favicon)" />
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    @*@Html.Raw(configuracion_tienda_online.metadatos)*@
    <title>@ViewBag.Title</title>

    <style type="text/css">
        .tt-suggestion:hover {
            background-color: @configuracion_tienda_online.color_primario;
        }

        .tt-suggestion.tt-cursor {
            background-color: @configuracion_tienda_online.color_primario;
        }

        .btn-success {
            background-color: @configuracion_tienda_online.color_primario;
            border-color: @configuracion_tienda_online.color_secundario;
        }

        .container > .navbar-header,
        .container > .navbar-collapse {
            background-color: @configuracion_tienda_online.color_primario;
        }

        #cotizaEnLinea, #RegistrateYCotizaEnLinea {
            background-color: @configuracion_tienda_online.color_primario;
        }

        #visitarTienda {
            background-color: @configuracion_tienda_online.color_primario;
        }

        #Busqueda {
            background-color: @configuracion_tienda_online.color_primario;
        }

        .ModalHeaderVerde .modal-header {
            background-color: @configuracion_tienda_online.color_primario;
        }

        .btn_ver_detalle {
            background: @configuracion_tienda_online.color_primario;
        }

        .btn_ok {
            background: @configuracion_tienda_online.color_primario;
        }

        .btn_ok_borde {
            border: 2px solid @configuracion_tienda_online.color_primario;
            color: @configuracion_tienda_online.color_primario;
        }

        .btn_ver_detalle {
            background-color: @configuracion_tienda_online.color_primario;
        }

        .bajar_cantidad2, .subir_cantidad2 {
            color: @configuracion_tienda_online.color_primario;
            border: 1px solid @configuracion_tienda_online.color_primario;
        }

            .bajar_cantidad2:hover, .subir_cantidad2:hover {
                background-color: @configuracion_tienda_online.color_primario;
            }

        .imagen_seleccionada {
            border: 2px solid @configuracion_tienda_online.color_primario !important;
        }

        .titulo {
            font-family: "Montserrat",sans-serif;
            border: 3px solid @configuracion_tienda_online.color_primario;
            color: @configuracion_tienda_online.color_primario;
        }

        .formulario_2 .lbl_ok {
            background-color: @configuracion_tienda_online.color_primario;
        }

        .alerta_formulario_error {
            color: @configuracion_tienda_online.color_primario;
        }

        .alerta_formulario {
            color: @configuracion_tienda_online.color_primario;
        }

        .botonBordeVerde {
            color: @configuracion_tienda_online.color_primario;
            border: 2px solid @configuracion_tienda_online.color_primario;
        }

            .botonBordeVerde:hover {
                background-color: @configuracion_tienda_online.color_primario;
            }

        .borde_verde {
            border: 2px solid @configuracion_tienda_online.color_primario;
        }

        .precio_unitario {
            color: @configuracion_tienda_online.color_primario;
        }

        .boton_hover_verde {
            color: @configuracion_tienda_online.color_primario;
        }

        .wrapper-dropdown-5.active {
            background: @configuracion_tienda_online.color_primario;
        }

        .cbp-spmenu a {
            color: @configuracion_tienda_online.color_primario;
        }

        .titulo1 {
            border: 3px solid @configuracion_tienda_online.color_primario;
            color: @configuracion_tienda_online.color_primario;
        }

        .titulo1 {
            border: 3px solid @configuracion_tienda_online.color_primario;
            color: @configuracion_tienda_online.color_primario;
        }

        .boton_paginacion:hover {
            color: @configuracion_tienda_online.color_primario !important;
            border: 1px solid @configuracion_tienda_online.color_primario;
        }

        .boton_paginacion_active {
            background-color: @configuracion_tienda_online.color_primario !important;
        }

        .familiaSeleccionada {
            color: @configuracion_tienda_online.color_primario !important;
        }

        .subfamiliaSeleccionada {
            color: @configuracion_tienda_online.color_primario!important;
        }

        .marcaSeleccionada {
            color: @configuracion_tienda_online.color_primario !important;
        }

        #tabsResumenCuenta > input:checked + label {
            color: #555;
            border: 1px solid #ddd;
            border-bottom: 1px solid #fff;
            border-top: 2px solid @configuracion_tienda_online.color_primario;
        }

        .btn-success:hover,
        .btn-success:focus,
        .btn-success:active,
        .btn-success.active,
        .open .dropdown-toggle.btn-success {
            background-color: @configuracion_tienda_online.color_secundario;
        }

        .btn_ok:hover {
            background-color: @configuracion_tienda_online.color_secundario;
        }

        .imagen_miniatura:hover {
            border-color: @configuracion_tienda_online.color_secundario;
        }

        .boton_hover_verde:hover {
            background-color: @configuracion_tienda_online.color_secundario;
        }

        /* ************** Nuevos Estilos para los botones que deben ser ************
                         rojos o verdes (colores de descarga, pdf, ver )          */
        .botonBordeVerdeReal {
            color: #00b73e;
            border: 2px solid #00b73e;
        }

            .botonBordeVerdeReal:hover {
                background-color: #00b73e;
                border-color: @configuracion_tienda_online.color_primario;
            }

        .borde_verde_real {
            border: 2px solid #00b73e;
        }
        .boton_hover_verde_real:hover {
            background-color: #00b73e;
        }
        .btn_ok_real {
            background: #00B73E;
        }

        .btn_ok_borde_real {
            border: 2px solid #00B73E;
            color: #00B73E;
        }
        .btn_ok_real:hover {
            background-color: #09C94A;
        }
        .div_stock {

        }
        .en_stock {

        }
        .div_no_stock {

        }
        .sin_stock {

        }
        .en_stock_cantidad {
            color: @configuracion_tienda_online.color_primario;
        }
        .sin_stock_cantidad {
            color: @configuracion_tienda_online.color_primario;
        }

    </style>
    <script type="text/javascript">
        function triggerGA_crearCliente() {
            ga('send', 'event', 'crearCliente', 'click', 'crearCliente', { nonInteraction: true });
        }
        function triggerGA_enviarContacto() {
            ga('send', 'event', 'contacto_send', 'click', 'contacto_send', { nonInteraction: true });
        }
    </script>
    @Html.Raw(configuracion_tienda_online.google_analytics)
    @Html.Raw(configuracion_tienda_online.chat_zoho)
    @Html.Raw(configuracion_tienda_online.facebook_pixel)
</head>
<body>
    <div id="header_fix" class=" navbar-default navbar-fixed-top col-lg-12 col-md-12 col-sm-12 col-xs-12 no_padding_margin" role="navigation" style="border: none; background-color: #FFF">
        <div id="header_first" class="navbar-header" style="background-color: @configuracion_tienda_online.color_primario;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no_padding_margin">
                <a id="" class="navbar-brand" href="#" title="@("Teléfono " + configuracion_general.marca)"
                     style="letter-spacing: 1px; font-weight: bold; padding: 10px 0px" onclick="ga('send', 'event', 'tel_header', 'click', 'tel_header', {nonInteraction: true});">
                    <img src="@Url.Content("~/images/icono-telefono.svg")" style="height: 23px; padding-right: 10px; padding-left: 10px;">@configuracion_tienda_online.telefono_principal
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no_padding_margin">
                <div id="div_login" class="navbar-login" style="padding: 0px; margin-right: 10px;">
                    @if (Request.IsAuthenticated)
                    {
                        <a class="menu_header" href="@Url.Action("LogOff", "Cuenta")">
                            <img src="@Url.Content("~/images/icono-iniciar-sesion.svg")" style="height: 23px; padding-right: 10px;">Cerrar sesión
                        </a>
                        <label style="padding: 0 5px 0 5px; color: #FFF">| </label>
                        <a class="menu_header" href="@Url.Action("miCuenta", "Cuenta")">Mi Cuenta</a>

                    }
                    else
                    {
                        <a id="BotonMostrarVistaLogOn" class="menu_header" href="@Url.Action("LogOn", "Cuenta")">
                            <img src="@Url.Content("~/images/icono-iniciar-sesion.svg")" style="height: 23px; padding-right: 10px;">Iniciar sesión
                        </a>
                        <label style="padding: 0 5px 0 5px; color: #FFF">| </label>
                        <a class="menu_header" href="@Url.Action("Registro", "Cuenta")">Registrarse</a>
                    }
                </div>
            </div>
            <div id="VistaPreviaLogOn" style="display: none; position: fixed; top: 5px; right: 354px; z-index: 99999;"></div>
        </div>
        <div class="container second_header" style="padding: 15px  0">
            <div>
                <div id="div_logo_moragas" class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="float: left; text-align: center;">
                    <a href="@Url.Action("Index", "Home")">
                        <img id="volverinicio" src="@Url.Content("~/UploadFolder/logo/" + configuracion_general.logo)" alt="Logo" style="width: 200px;" />
                    </a>
                </div>
                <div id="input_text_busqueda" class="col-lg-5 col-md-5 col-sm-9 col-xs-10" style="float: left;">
                </div>
                <div id="div_cotizacion" class="col-lg-2 col-md-2 col-sm-2" style="padding: 0 0 0 0px; float: left;">
                    <div id="BotonMostrarVistaPreviaCotizacion" class="btn_ok">
                        <div id="" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding: 0 2px">
                            <label id="conceptos_carrito"></label>
                        </div>
                        <div id="" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding: 0 2px">
                            <img src="@Url.Content("~/images/icono-carrito.svg")" style="height: 100%; padding-right: 10px;">
                        </div>
                        <div id="" class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0 10px">
                            <label>Cotización</label>
                        </div>
                    </div>
                </div>
                <div id="div_menu" class="col-lg-1 col-md-1 col-sm-1" style="padding: 0 2px; float: left">
                    <div id="showRight" class="dl-trigger">@*☰*@</div>
                </div>
            </div>
        </div>
        <div class="header-bottom" style="padding: 0px; box-shadow: 0px 2px 2px #b6b6b6;">
            <div>
                <div style="text-align: center;">
                    <div id="menu_categorias2" class="col-sm-12 " style="text-align: center; padding: 0px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="render_body" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
        <div>
            <div class="cbp-spmenu-push">
                <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
                    <div id="dl-menu" class="dl-menuwrapper">
                        <ul class="dl-menu dl-menuopen">
                            <li id="menuCategorias"></li>
                            @foreach (Tienda_Online.Models.configuracion_menu configuracion_menu in ListaMenus)
                            {
                                if (configuracion_menu.id == ListaMenus.Last().id)
                                {
                                <li>
                                    <a href="#">@configuracion_menu.nombre</a>
                                    <ul class="dl-submenu">
                                        @foreach (Tienda_Online.Models.configuracion_submenu configuracion_submenu in configuracion_menu.configuracion_submenu.ToList())
                                        {
                                            <li><a href='@(Url.Action("Ayuda", "Home") + '#' + configuracion_submenu.nombre.Trim().TrimEnd().TrimStart())'>@configuracion_submenu.nombre</a></li>
                                        }
                                    </ul>
                                </li>
                                }
                                else if (configuracion_menu.id == ListaMenus.First().id)
                                {
                                <li>
                                    <a href="#">@configuracion_menu.nombre</a>
                                    <ul class="dl-submenu">
                                        @foreach (Tienda_Online.Models.configuracion_submenu configuracion_submenu in configuracion_menu.configuracion_submenu.ToList())
                                        {
                                            <li><a href='@(Url.Action("nuestraEmpresa", "Home") + '#' + configuracion_submenu.nombre.Trim().TrimEnd().TrimStart())'>@configuracion_submenu.nombre</a></li>
                                        }
                                        <li><a href="@(Url.Action("contacto", "Home") + "#contacto")">Contacto</a></li>
                                        <li><a href="@(Url.Action("contacto", "Home") + "#sucursales")">Sucursales</a></li>
                                    </ul>
                                </li>
                                }
                                else
                                {
                                <li>
                                    <a href="#">@configuracion_menu.nombre</a>
                                    <ul class="dl-submenu">
                                        @foreach (Tienda_Online.Models.configuracion_submenu configuracion_submenu in configuracion_menu.configuracion_submenu.ToList())
                                        {
                                            <li><a href='@(Url.Action("Compras", "Home") + '#' + configuracion_submenu.nombre.Trim().TrimEnd().TrimStart())'>@configuracion_submenu.nombre</a></li>
                                        }
                                        <li><a href="@(Url.Action("aviso", "Home") + "#aviso")">Aviso de privacidad</a></li>
                                    </ul>
                                </li>
                                }
                            }
                            <li>
                                <a href="#">Cuenta</a>
                                <ul class="dl-submenu">
                                    @if (Request.IsAuthenticated)
                                    {
                                        <li><a href="@Url.Action("MiCuenta", "Cuenta")">Mi cuenta</a></li>
                                        <li><a href="@Url.Action("LogOff", "Cuenta")">Cerrar sesión</a></li>
                                    }
                                    else
                                    {

                                        <li><a href="@Url.Action("LogOn", "Cuenta")">Iniciar sesión</a></li>
                                        <li><a href="@Url.Action("Registro", "Cuenta")">Registrarse</a></li>
                                    }
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Carrito")">Cotización</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container">
                    <div class="main">
                        <section></section>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <div id="divider" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-top: 1px solid lightgray; padding: 0px; margin-top: 20px; margin-bottom: 20px;">&nbsp;</div>
    <div id="footer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 0 auto; padding: 0;">
        @foreach (Tienda_Online.Models.configuracion_menu configuracion_menu in ListaMenus)
        {
            if (configuracion_menu.id == ListaMenus.Last().id)
            {
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h4>@configuracion_menu.nombre</h4>
                <ul>
                    @foreach (Tienda_Online.Models.configuracion_submenu configuracion_submenu in configuracion_menu.configuracion_submenu.ToList())
                    {
                        <li><a href='@(Url.Action("Compras", "Home") + '#' + configuracion_submenu.nombre.Trim().TrimEnd().TrimStart().Replace(" ", ""))'>@configuracion_submenu.nombre</a></li>
                    }
                </ul>
            </div>
            }
            else if (configuracion_menu.id == ListaMenus.First().id)
            {
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <h4>@configuracion_menu.nombre</h4>
                <ul>
                    @foreach (Tienda_Online.Models.configuracion_submenu configuracion_submenu in configuracion_menu.configuracion_submenu.ToList())
                    {
                        <li><a href='@(Url.Action("nuestraEmpresa", "Home") + '#' + configuracion_submenu.nombre.Trim().TrimEnd().TrimStart().Replace(" ", ""))'>@configuracion_submenu.nombre</a></li>
                    }
                    <li><a href="@(Url.Action("contacto", "Home") + "#contacto")">Contacto</a></li>
                    <li><a href="@(Url.Action("contacto", "Home") + "#sucursales")">Sucursales</a></li>
                </ul>
            </div>
            }
            else
            {
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <h4>@configuracion_menu.nombre</h4>
                <ul>
                    @foreach (Tienda_Online.Models.configuracion_submenu configuracion_submenu in configuracion_menu.configuracion_submenu.ToList())
                    {
                        <li><a href='@(Url.Action("Ayuda", "Home") + '#' + configuracion_submenu.nombre.Trim().TrimEnd().TrimStart().Replace(" ", ""))'>@configuracion_submenu.nombre</a></li>
                    }
                    <li><a href="@(Url.Action("aviso", "Home") + "#aviso")">Aviso de privacidad</a></li>
                </ul>
            </div>
            }
        }
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <h4>Productos</h4>
            <ul>
                @{
                    Tienda_Online.Models.POSEntities db = new Tienda_Online.Models.POSEntities();
                }
                @foreach (Tienda_Online.Models.familia item in db.familia)
                {
                    <li>
                        <a href='@Url.Action("busqueda", "Producto", new { filtro = item.id, tipo = 1 })'>
                            @(item.nombre.First().ToString().ToUpper() + item.nombre.ToLower().Substring(1))
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: center;">
            <h4>¡Síguenos!</h4>
            <ul>
                @if (configuracion_tienda_online.facebook != null)
                {
                    <li style="margin-bottom: 5px;">
                        <a href="@Html.Raw(configuracion_tienda_online.facebook)">
                            <img src="@Url.Content("~/social_icons/facebook.svg")" style="width: 30px;">
                        </a>
                    </li>
                }
                @if (configuracion_tienda_online.twitter != null)
                {
                    <li style="margin-bottom: 5px;">
                        <a href="@Html.Raw(configuracion_tienda_online.twitter)">
                            <img src="@Url.Content("~/social_icons/twitter.svg")" style="width: 30px;">
                        </a>
                    </li>
                }
                @if (configuracion_tienda_online.instagram != null)
                {
                    <li style="margin-bottom: 5px;">
                        <a href="@Html.Raw(configuracion_tienda_online.instagram)">
                            <img src="@Url.Content("~/social_icons/instagram.svg")" style="width: 30px;">
                        </a>
                    </li>
                }
                @if (configuracion_tienda_online.linkedin != null)
                {
                    <li style="margin-bottom: 5px;">
                        <a href="@Html.Raw(configuracion_tienda_online.linkedin)">
                            <img src="@Url.Content("~/social_icons/linkedin.svg")" style="width: 30px;">
                        </a>
                    </li>
                }
                @if (configuracion_tienda_online.google_plus != null)
                {
                    <li style="margin-bottom: 5px;">
                        <a href="@Html.Raw(configuracion_tienda_online.google_plus)">
                            <img src="@Url.Content("~/social_icons/google-plus.svg")" style="width: 30px;">
                        </a>
                    </li>
                }
                @if (configuracion_tienda_online.youtube != null)
                {
                    <li style="margin-bottom: 5px;">
                        <a href="@Html.Raw(configuracion_tienda_online.youtube)">
                            <img src="@Url.Content("~/social_icons/youtube.svg")" style="width: 30px;">
                        </a>
                    </li>
                }
                @if (configuracion_tienda_online.whatsapp != null)
                {
                    <li style="margin-bottom: 5px;">
                        <a>
                            <img src="@Url.Content("~/social_icons/whatsapp.svg")" style="width: 30px;">@configuracion_tienda_online.whatsapp
                        </a>
                    </li>
                }
                @if (configuracion_tienda_online.snapchat != null)
                {
                    <li style="margin-bottom: 5px;">
                        <a>
                            <img src="@Url.Content("~/social_icons/snapchat.svg")" style="width: 30px;">@configuracion_tienda_online.snapchat
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width: 100%; font-size: 9px; background-color: #f1eeee; height: 26px; text-align: center; padding-top: 7px;">
        <img src="@Url.Content("~/images/quianty.png")" style="width: 85px;">
        <label style="font-weight: lighter;">Version 1.0.2</label>
    </div>
    <input id="respetar_inventario" type="hidden" value="@Html.Raw(configuracion_general.respetar_inventario)" />
    <input id="mostrar_inventario" type="hidden" value="@Html.Raw(configuracion_tienda_online.mostrar_inventario)" />
    <input id="bandera_cantidad" type="hidden" value="@Html.Raw(configuracion_tienda_online.bandera_cantidad)" />
    <input id="precios_netos" type="hidden" value="@Html.Raw(configuracion_general.precios_netos)" />
</body>
</html>
<script>
    var menuRight = document.getElementById('cbp-spmenu-s2'),
        showRight = document.getElementById('showRight'),
        body = document.body;

    showRight.onclick = function () {
        //ocultar menu principal
        hasClass = $(".header-bottom").hasClass("hide_menu");
        if (hasClass) {
            $(".header-bottom").removeClass("hide_menu");
        }
        else {
            $(".header-bottom").addClass("hide_menu");
        }

        //ajustar altura
        var height = parseInt($("#header_fix").height());
        $("#cbp-spmenu-s2").delay(1000).css("margin-top", height + "px");
        //cargar menu

        classie.toggle(this, 'active');
        classie.toggle(menuRight, 'cbp-spmenu-open');
        disableOther('showRight');
    };

    function disableOther(button) {
        if (button !== 'showRight') {
            classie.toggle(this, 'active');
        }
    }

    $("#dl-menu a").click(function () {
        if ($(this).attr("href") != "#") {
            $("#cbp-spmenu-s2").removeClass("cbp-spmenu-open")
            hasClass = $(".header-bottom").hasClass("hide_menu");
            if (hasClass) {
                $(".header-bottom").removeClass("hide_menu");
            }
            else {
                $(".header-bottom").addClass("hide_menu");
            }
            $(".dl-menu").removeClass("dl-subview");
        }

    });
</script>

<script>
    $('#DescPDF').click(function () {
        window.location.href = '@Url.Action("html_to_pdf", "FormatoPDF")';
        _generandoPDF = bootbox.dialog({
            message: "Generando PDF..."
        });
        window.setTimeout(function () {
            _generandoPDF.modal("hide");
        }, 2000); // se cierra la ventana 2 segundos despues
    });

    function init() {
        window.addEventListener('scroll', function (e) {
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                shrinkOn = 300,
                header = document.querySelector("#header_first");
            if (distanceY > shrinkOn) {
                classie.add(header, "smaller");
            } else {
                if (classie.has(header, "smaller")) {
                    classie.remove(header, "smaller");
                }
            }
        });
    }
    window.onload = init();

    $(document).ready(function () {
        ActualizarVistaParcialMenu();
    });

    function ActualizarVistaParcialMenu() {
        var url = '@Url.Action("VistaParcialMenu", "Home")';
        $.ajax({
            url: url,
            type: "POST",
            data: {},
            success: function (vista) {
                $('#menu_categorias2').html(vista);
            },
            async: true
        });
    }
    function ActualizarVistaParcialMenuSlider() {
        var url = '@Url.Action("menuCategorias", "Home")';
        $.ajax({
            url: url,
            type: "POST",
            success: function (vista) {
                $('#menuCategorias').html(vista);
                $('#dl-menu').dlmenu();
                var height = parseInt($("#header_fix").height());
                $("#render_body").css("margin-top", (height) + "px");
            },
            async: true
        });
    }
</script>

<script>
    $(document).on('click', '#BotonMostrarVistaPreviaCotizacion', function () {
        window.location.href = '@Url.Action("Index", "Carrito")';
    });
</script>
<script type='text/javascript'>
    $(document).ready(function () {
        // Cada minuto ó cuando el focus regresa a la pagina
        // Actualizar cantidad de productos en carrito
        var interval;
        var _focus = true;
        var respetar_inventario;
        var mostrar_inventario;
        var bandera_cantidad;
        repeat();
        function repeat() {
            if (_focus) {
                actualizarCantidadCarrito();
                interval = setInterval(actualizarCantidadCarrito, 30000);
            }
        }
        $(window).focus(function () {
            _focus = true;
            clearInterval(interval); // stop the interval
            repeat();
        });
        $(window).blur(function () {
            _focus = false;
            clearInterval(interval); // stop the interval
            repeat();
        });
        ActualizarVistaParcialMenuSlider();
        ActualizarVistaParcialPreviaCotizacion();
        ActualizarVistaParcialLogOn();
        if ($('#mostrar_inventario').val() == "True") {
            mostrar_inventario = true;
        } else {
            mostrar_inventario = false;
        }
        if ($('#bandera_cantidad').val() == "True") {
            bandera_cantidad = true;
        } else {
            bandera_cantidad = false;
        }
        if ($('#respetar_inventario').val() == "True") {
            respetar_inventario = true;
        } else {
            respetar_inventario = false;
        }
    });
    function ActualizarVistaParcialPreviaCotizacion() {
        var url = '@Url.Action("VistaParcialPreviaCotizacion", "Carrito")';
        $.ajax({
            url: url,
            type: "POST",
            data: {},
            success: function (vista) {
                $('#VistaPreviaCotizacion').html(vista);
            },
            async: true
        });
    }
    function ActualizarVistaParcialLogOn() {
        var url = '@Url.Action("VistaParcialLogOn", "Cuenta")';
        $.ajax({
            url: url,
            type: "POST",
            data: {},
            success: function (vista) {
                $('#VistaPreviaLogOn').html(vista);
            },
            async: true
        });
    }
    $(document).on('click', '.cart_quantity_button .bajar_cantidad,.cart_quantity_button .subir_cantidad', function () {
        actualizarCantidadCarrito();
    });
    $(document).on('mouseover', '#BotonMostrarVistaPreviaCotizacion', function () {
        $('#VistaPreviaLogOn').fadeOut();
        $('#VistaPreviaCotizacion').fadeIn();
    });
    $(document).on('mouseleave', '#VistaPreviaCotizacion', function () {
        $('#VistaPreviaCotizacion').fadeOut();
    });

    $(document).on('mouseover', '#BotonMostrarVistaLogOn', function () {
        $('#VistaPreviaCotizacion').fadeOut();
        $('#VistaPreviaLogOn').fadeIn();
    });
    $(document).on('mouseleave', '#VistaPreviaLogOn', function () {
        $('#VistaPreviaLogOn').fadeOut();
    });
</script>
<script type='text/javascript'>
    $(document).ready(function () {
        var url = '@Url.Action("VistaParcialCampoBusqueda", "Home")';
        $.ajax({
            url: url,
            type: "POST",
            data: {},
            success: function (vista) {
                $('#input_text_busqueda').html(vista);
            },
            async: true
        });
    });
    $(document).on('click', '.btn_busqueda', function () {
        if ($('.empty-message').length != 4) {
            var busqueda = $('#filtro').val();
            window.location.href = '@Url.Action("RealizarBusqueda", "Home", new { filtro = "_filtro_", tipo = 3 })'.replace("_filtro_", busqueda);
        }
    });
    $(document).on("keypress", "#filtro", function (event) {
        var charCode = (event.which) ? event.which : event.keyCode
        if (charCode === 13) {
            $('#Busqueda').trigger('click');
        }
    });
</script>

<script>
    $(document).ready(function () {
    });
    function actualizarCantidadCarrito() {
        var url = "@Url.Action("cantidadProductosCarrito", "Carrito")";
        $.ajax({
            url: url,
            type: "POST",
            dataType: "JSON",
            contentType: 'application/json;',
            success: function (result) {
                if (result.success) {
                    $('#conceptos_carrito').fadeOut(10);
                    $('#conceptos_carrito').html(result.cantidad);
                    $('#conceptos_carrito').fadeIn();
                }
            },
            async: true
        });
    }
    $(document).on('click', '.detalleProducto', function () {
        var id = $(this).parent().attr('name');
        window.location.href = '@Url.Action("DetalleProducto", "Producto", new { id_producto = "_id_producto_" })'.replace('_id_producto_', id);
    });
    $(document).on('click', '.agregarProducto', function () {
        var cantidad_a_cotizar_actual = parseFloat($('#cantidad').val());
        if (cantidad_a_cotizar_actual == "" || cantidad_a_cotizar_actual == null || isNaN(cantidad_a_cotizar_actual) || parseInt(cantidad_a_cotizar_actual) == 0) {
            $(this).val(parseInt(0));
        }
        else {
            var info_producto = $(this).parent();
            var Producto = [];
            Producto.push({
                ProductoID: $(this).attr('id_producto'),
                Codigo: $(info_producto).find('.codigo').html(),
                Descripcion: $(info_producto).find('.descripcion').html(),
                Precio_Dolar: $(info_producto).find('.precio').attr('precio_dolar'),
                id_marca: $(this).attr('id_marca'),
                SubFamilia_id: $(this).attr('id_subfamilia'),
                Cantidad: $("#cantidad").val(),
                Precio_Unitario: $(info_producto).find('.precio').html(),
                Importe: "0",
            });

            var params = {
                'ProductoAgregar': Producto[0]
            };
            var url = "@Url.Action("AgregarProductoCarrito", "Carrito")";
            $.ajax({
                url: url,
                type: "POST",
                dataType: "JSON",
                contentType: 'application/json;',
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.success) {
                        actualizarCantidadCarrito();
                        ActualizarVistaParcialPreviaCotizacion();
                        mensaje = result.cantidad == 1 ? "Se agregó correctamente una unidad " : "Se agregaron correctamente " + result.cantidad + " unidades ";
                        mensaje += " de " + result.codigo;
                        $("#alert_OK_agregar_Cotizacion").html(mensaje);
                        $("#alert_OK_agregar_Cotizacion").slideDown('slow').delay(3000).slideUp('slow');
                    }
                    else {
                        $("#alert_error_agregar_Cotizacion").slideDown('slow').delay(3000).slideUp('slow');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#alert_error_agregar_Cotizacion").append(". Error: " + thrownError + ". " + xhr.status);
                    $("#alert_error_agregar_Cotizacion").slideDown('slow').delay(3000).slideUp('slow');
                },
                async: true
            });
        }
    });

    //cuando se agregar aun producto directamente desde destacados, relacionados o como resultado de una busqueda
    $(document).on('click', '.agregarProducto_busqueda', function () {

        $(".alerta_ok").hide();
        $(".alerta_error").hide();
        var _this = $(this);
        var info_producto = _this.closest(".caption");
        var alerta_agregar_ok = info_producto.find(".alerta_ok");
        var alerta_agregar_error = info_producto.find(".alerta_error");

        var Producto = [];
        Producto.push({
            ProductoID: $(this).attr('id_producto'),
            Codigo: $(info_producto).find('.codigo').html(),
            Descripcion: $(info_producto).find('.descripcion').html(),
            Precio_Dolar: $(info_producto).find('.precio').attr('precio_dolar'),
            id_marca: $(this).attr('id_marca'),
            SubFamilia_id: $(this).attr('id_subfamilia'),
            Cantidad: "1",
            Precio_Unitario: $(info_producto).find('.precio').html(),
            Importe: "0",
        });
        var params = {
            'ProductoAgregar': Producto[0]
        };
        var url = "@Url.Action("AgregarProductoCarrito", "Carrito")";
        $.ajax({
            url: url,
            type: "POST",
            dataType: "JSON",
            contentType: 'application/json;',
            data: JSON.stringify(params),
            success: function (result) {
                if (result.success) {
                    _this.slideUp();
                    alerta_agregar_ok.slideDown('slow').delay(1500).slideUp('slow');
                    _this.delay(1500).slideDown('slow');
                    actualizarCantidadCarrito();
                    ActualizarVistaParcialPreviaCotizacion();
                }
                else {

                    _this.slideUp();
                    alerta_agregar_error.slideDown('slow').delay(1500).slideUp('slow');
                    _this.delay(1500).slideDown('slow');


                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $("#alert_error_agregar_Cotizacion").append(". Error: " + thrownError + ". " + xhr.status);
                $("#alert_error_agregar_Cotizacion").slideDown('slow').delay(3000).slideUp('slow');
            },
            async: true
        });
    });
</script>

@* PARA QUE SOLO FUNCIONE EL SCROLL DENTRO DE UNA MODAL CUANDO SE ABRA *@
<script>
    $(function () {
        $(document.body).on('show.bs.modal', function () {
            $(window.document).find('html').addClass('modal-open');
        });
        $(document.body).on('hide.bs.modal', function () {
            $(window.document).find('html').removeClass('modal-open');
        });
    });
    //this is the case if your css doesn't have html tag styling
    $(function () {
        $(document.body).on('show.bs.modal', function () {
            $(document.body).addClass('modal-open');
        });
        $(document.body).on('hide.bs.modal', function () {
            $(document.body).removeClass('modal-open');
        });
    });
</script>

