﻿<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div style="top: 50px; margin-left: auto; margin-right: auto; width: 90%;">
            @ViewBag.html
        </div>
    </header>
</body>
</html>
