﻿@model List<POS.Models.venta>

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Creditos Por Venta: @ViewBag.sucursal</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaCreditosPorVenta" class="table table-hover" style="width:100%;">
            <thead>
                <tr>
                    <th>Id Venta</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Vendedor</th>
                    <th>Total</th>
                    <th>Adeudo</th>
                    <th>Estatus</th>
                    <th>Fecha De Cancelacion</th>
                    <th>Motivo De Cancelacion</th>
                    <th>Usuario Cancelacion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center;">@item.Serie-@POS.Fn.Numeros.agregarCeros(item.Folio.Value)</td>
                        <td style="text-align: center;">@item.cliente.Razon_social</td>
                        <td style="text-align: center;">@item.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td style="text-align: center;">@item.sucursal.nombre_sucursal</td>
                        <td style="text-align: center;">@item.usuario_punto_venta.nombre_usuario</td>
                        <td style="text-align: center;">@item.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).ToList().First().cantidad</td>
                        <td style="text-align: center;">@item.aduedo</td>
                        <td style="text-align: center;">
                            @if (item.aduedo.Value != 0)
                            {
                                <label style="font-weight: 300;">Pendiente</label>
                            }
                            else
                            {
                                <label style="font-weight: 300;">Pagada</label>
                            }
                        </td>
                        <td style="text-align: center;">@item.fecha_cancelacion</td>
                        <td style="text-align: center;">@item.Motivo_cancelacion</td>
                        @if (item.usuario_punto_venta1 == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td style="text-align: center;">@item.usuario_punto_venta1.nombre_usuario</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
