﻿@{
    List<POS.Models.abono> ListaAbonos = ViewBag.ListaAbonos as List<POS.Models.abono>;
}
<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Abonos</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaAbonos" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Id Abono</th>
                    <th>Id Venta</th>
                    <th>Cliente</th>
                    <th>Tipo De Pago</th>
                    <th>Fecha</th>
                    <th>Usuario Recibe</th>
                    <th>Estatus</th>
                    <th>Fecha De Cancelacion</th>
                    <th>Usuario Cancelacion</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla" style="font-size: 13px;">
                @foreach (POS.Models.abono abono in ListaAbonos)
                {
                    <tr>
                        <td style="text-align: center;">@abono.venta.sucursal.nombre_sucursal</td>
                        <td style="text-align: center;">@abono.id</td>
                        <td style="text-align: center;">@abono.venta.Serie-@POS.Fn.Numeros.agregarCeros(abono.venta.Folio.Value)</td>
                        <td style="text-align: center;">@abono.venta.cliente.Razon_social</td>
                        <td style="text-align: center;">@abono.tipo_pago_abono.tipo</td>
                        <td style="text-align: center;">@abono.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td style="text-align: center;">@abono.usuario_punto_venta1.nombre_usuario</td>
                        @if (abono.estatus == true)
                        {
                            <td style="text-align: center;">
                                <label style="color: #0d5a22;"><span class="visible-print-block">Activo</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center;">
                                <label style="color: #ff0000;"><span class="visible-print-block">Cancelado</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                            </td>
                        }
                        <td style="text-align: center;">
                            @if (abono.fecha_cancelacion != null)
                            {
                                @abono.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                            }
                        </td>
                        <td style="text-align: center;">
                            @if (abono.usuario_punto_venta != null)
                            {
                                @abono.usuario_punto_venta.nombre_usuario
                            }
                        </td>
                        <td style="text-align: center;">@abono.importe</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>