﻿@{
    List<POS.Models.usuario_punto_venta> ListaUsuarios = ViewBag.ListaUsuarios as List<POS.Models.usuario_punto_venta>;
}
<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Usuarios</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaUsuarios" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nivel De Usuario</th>
                    <th>Nombre</th>
                    <th>Contraseña</th>
                    <th>Sucursales</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
                @foreach (POS.Models.usuario_punto_venta usuario in ListaUsuarios)
                {
                    bool usuarioLoggeado = usuario.id == ViewBag.id_usuario_logueado ? true : false;
                    <tr>
                        <td style="text-align: center;">
                            <div style="margin-left: 30%; text-align: left">
                                @usuario.nivel_usuario.nombre.ToUpper()
                                @if (usuarioLoggeado)
                {
                                    <i class="fa fa-user" aria-hidden="true" style="margin-right: 5px"></i>
                                }
                            </div>
                        </td>
                        <td style="text-align: left;">
                            <div style="margin-left: 30%; text-align: left">@usuario.nombre_usuario.ToUpper()</div>
                        </td>
                        <td style="text-align: center;">*****</td>
                        <td style="text-align: left;">
                            <div style="margin-left: 30%; text-align: left">
                                @foreach (var sucxus in usuario.sucursales_por_usuario)
                {
                                    @sucxus.sucursal.nombre_sucursal.ToUpper()<br />
                                }
                            </div>
                        </td>
                        <td style="text-align: center;">
                            @{
                                if (usuario.id_estatus_usuario == 1)
                                {
                                    <label style="color: #0d5a22;"><span class="visible-print-block">@usuario.estatus_usuario.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                }
                                else
                                {
                                    <label style="color: #ff0000;"><span class="visible-print-block">@usuario.estatus_usuario.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                }
                            }
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>