﻿@{
    List<POS.Models.movimiento_efectivo> ListaMovimientosEfectivo = ViewBag.ListaMovimientosEfectivo as List<POS.Models.movimiento_efectivo>;
}
<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal - Tipo Movimiento: @ViewBag.tipo_movimiento - @ViewBag.periodo</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Movimientos Efectivo</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaMovimientosEfectivo" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Tipo Movimiento</th>
                    <th>Monto</th>
                    <th>Descripción</th>
                    <th>Fecha Creación</th>
                    <th>Usuario Creación</th>
                    <th>Descripción cancelación</th>
                    <th>Fecha Cancelación</th>
                    <th>Usuario Cancelación</th>
                </tr>
            </thead>
            <tbody id="CuerpoTablaMovimientosEfectivo">
                @foreach (POS.Models.movimiento_efectivo movimiento in ListaMovimientosEfectivo)
                {
                    <tr class=@(movimiento.estatus ? "tr_movimiento_activo" : "tr_movimiento_inactivo")>
                        <td style="text-align: center;">@movimiento.sucursal.nombre_sucursal.ToUpper()</td>
                        <td style="text-align: center;">@movimiento.tipo_movimiento_efectivo.nombre.ToUpper()</td>
                        <td style="text-align: center;">$@movimiento.monto</td>
                        <td style="text-align: center;">@movimiento.descripcion</td>
                        <td style="text-align: center;">@movimiento.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td style="text-align: center;">@movimiento.usuario_punto_venta.nombre_usuario.ToUpper()</td>
                        <td style="text-align: center;">@(movimiento.motivo_cancelacion != null ? movimiento.motivo_cancelacion.ToUpper() : "" )</td>
                        <td style="text-align: center;">@(movimiento.fecha_cancelacion != null ? movimiento.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss") : "" )</td>
                        <td style="text-align: center;">@(movimiento.id_usuario_cancela != 0 && movimiento.id_usuario_cancela != null ? movimiento.usuario_punto_venta1.nombre_usuario.ToUpper() : "" )</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>