﻿@{
    List<POS.Models.venta> ListaVentas = ViewBag.ListaVentas as List<POS.Models.venta>;
    List<POS.Models.pdf_venta> ListaPDF = ViewBag.ListaPDF as List<POS.Models.pdf_venta>;
    int i = 0;
}

<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.2px;">Sucursal @ViewBag.sucursal - @ViewBag.periodo</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Historial</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaHistorial" class="table" style="width: 100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Vendedor</th>
                    <th>Tipo De Pago</th>
                    <th>Estatus</th>
                    <th>Costo</th>
                    <th>Precio</th>
                    <th>Ganancia</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
                @foreach (POS.Models.venta venta in ListaVentas)
                {
                    String serie_folio = POS.Fn.Numeros.serie_folio_by_id(venta.id);
                    <tr>
                        <td id="serie_folio_venta" style="text-align: center;">@serie_folio</td>
                        <td style="text-align: center;">@venta.cliente.Razon_social</td>
                        <td style="text-align: center;">@venta.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td style="text-align: center;">@venta.usuario_punto_venta.nombre_usuario</td>
                        @if (venta.multiple_pago.Count == 1)
                        {
                            <td style="text-align: center;">@venta.multiple_pago.First().tipo_pago_venta.tipo</td>
                        }
                        else
                        {
                            <td style="text-align: center;">Multiple</td>
                        }
                        <td style="text-align: center;">
                            @{
                                if (venta.catalogo_status_id != 2 && venta.catalogo_status_id != 12)
                                {
                                    <label style="color: #0d5a22;"><span class="visible-print-block">@venta.catalogo_status.status.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                }
                                else
                                {
                                    <label style="color: #ff0000;"><span class="visible-print-block">@venta.catalogo_status.status.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                }
                            }
                        </td>
                        <td style="text-align: center;">
                            @{
                                Decimal costo = 0;
                                foreach (POS.Models.conceptos_por_venta concepto in venta.conceptos_por_venta.ToList())
                                {
                                    if (concepto.producto.costo != null)
                                    {
                                        costo = costo + (concepto.producto.costo.Value * concepto.cantidad);
                                    }
                                }
                            }
                            @Math.Round(costo, 2)
                        </td>
                        <td style="text-align: center;">@venta.total</td>
                        <td style="text-align: center;">
                            @if (costo != 0)
                            {
                                @Math.Round(venta.total.Value - costo, 2)
                            }
                        </td>
                    </tr>
                                }
            </tbody>
            <tfoot>
                <tr style="margin-top: 30px;">
                    <td colspan="5" style="border: 0px; padding:4px;"></td>
                    <td colspan="4" style="border: 0px; text-align:center; background-color: #506676; color: white; padding:4px;">Totales</td>
                </tr>
                <tr>
                    <td colspan="5" style="border: 0px; padding:4px;"></td>
                    <td colspan="2" style="border: 0px; text-align:center; background-color: #9AA7B0; color: white; padding:4px;"></td>
                    <td style="border: 0px; text-align:center; background-color: #9AA7B0; color: white; font-weight:bold; padding:4px;"><i class="glyph-icon icon-arrow-down" style="margin-right: 5px"></i>ENTRADA</td>
                    <td style="border: 0px; text-align:center; background-color: #9AA7B0; color: white; font-weight:bold; padding:4px;"><i class="glyph-icon icon-arrow-up" style="margin-right: 5px"></i>SALIDA</td>
                </tr>
                <tr>
                    <td colspan="5" style="border: 0px; padding:4px;"></td>
                    <td colspan="2" style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">Total Facturado</td>
                    <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">
                        <label style="margin-right:5px;">$</label><span id="Facturado">@ViewBag.total_facturado</span>
                    </td>
                    <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;"></td>
                </tr>
                <tr>
                    <td colspan="5" style="border: 0px; padding:4px;"></td>
                    <td colspan="2" style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">Total Cancelado</td>
                    <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;"></td>
                    <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">
                        <label style="margin-right:5px;">-$</label><span id="Cancelado">@ViewBag.total_cancelado</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="border: 0px; padding:4px;"></td>
                    <td colspan="2" style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">Total</td>
                    <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">
                        <label style="margin-right:5px;">$</label><span id="Total">@ViewBag.total</span>
                    </td>
                    <td style="text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#Facturado').html("@ViewBag.total_facturado");
        $('#Cancelado').html("@ViewBag.total_cancelado");
        $('#Total').html("@ViewBag.total");
        $('#TablaTotales').show();
    });
</script>
