﻿@{
    List<POS.Models.permiso_vista> ListaPermisos = ViewBag.ListaPermisos as List<POS.Models.permiso_vista>;
}
<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Permisos</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaPermisos" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Controlador</th>
                    <th>Vista</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
                @foreach (POS.Models.permiso_vista permiso in ListaPermisos)
                {
                    <tr>
                        <td>
                            <div style="margin-left: 30%; text-align: left">@permiso.nombreControlador.ToUpper()</div>
                        </td>
                        <td>
                            <div style="margin-left: 30%; text-align: left">@permiso.nombreVistaPublico.ToUpper() </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>