﻿@model IEnumerable<POS.Models.conceptos_por_movimiento_inventario>
<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal - @ViewBag.tipo_movimietno - @ViewBag.periodo</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Resumen De Entradas / Salidas</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaResumenES" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Tipo De Movimiento</th>
                    <th>Genera</th>
                    <th>Recibe</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Proveedor</th>
                    <th>Familia</th>
                    <th>Suubfamilia</th>
                    <th>Cantidad</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla" style="font-size:13px;">
                @foreach (var concepto in Model)
                {
                    <tr>
                        <td style="text-align: center;">@concepto.movimiento_inventario.fecha.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
                        <td style="text-align: center;">@concepto.inventario.sucursal.nombre_sucursal</td>
                        <td style="text-align: center;">
                            @{
                                var tipo_movimiento = concepto.movimiento_inventario.tipo_movimiento_inventario.id;
                                if (tipo_movimiento == 1 || tipo_movimiento == 3 || tipo_movimiento == 5 || tipo_movimiento == 7)
                                {
                                    @concepto.movimiento_inventario.tipo_movimiento_inventario.nombre <label class="hidden-print" style="color: #0d5a22;"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></label>
                                }
                                else if (tipo_movimiento == 2 || tipo_movimiento == 4 || tipo_movimiento == 6)
                                {
                                    @concepto.movimiento_inventario.tipo_movimiento_inventario.nombre <label class="hidden-print" style="color: #ff0000;"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></label>
                                }
                            }
                        </td>
                        <td style="text-align: center;">@concepto.movimiento_inventario.usuario_punto_venta.nombre_usuario</td>
                        <td style="text-align: center;">@concepto.movimiento_inventario.recibe</td>
                        <td style="text-align: center;">@concepto.inventario.producto.Codigo</td>
                        <td style="text-align: center;">@concepto.inventario.producto.Descripcion</td>
                        <td style="text-align: center;">@concepto.inventario.producto.marca.nombre</td>
                        <td style="text-align: center;">@concepto.inventario.producto.proveedor.nombre_proveedor</td>
                        <td style="text-align: center;">@concepto.inventario.producto.subfamilia.familia.nombre</td>
                        <td style="text-align: center;">@concepto.inventario.producto.subfamilia.nombre</td>
                        <td style="text-align: center;">
                            @if (concepto.cantidad > 0)
                            {
                                <label style="font-weight: 300;">@concepto.cantidad</label>
                            }
                            else
                            {
                                <label style="font-weight: 300;">@concepto.cantidad</label>
                            }
                        </td>
                        <td style="text-align: center;">@concepto.movimiento_inventario.observaciones</td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>