﻿@model POS.Models.movimiento_inventario
@{
    int idTipoMov = Model.tipo_movimiento_inventario_id;
}
<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Movimiento De Inventario</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width:100%;">
            <tbody>
                <tr>
                    <td style="border:0px; font-weight:bold; text-align:right; width:200px;">Fecha:</td>
                    <td style="border:0px; text-align:left; width:20%;">@Model.fecha.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
                    <td style="border:0px; font-weight:bold; text-align:right; width:200px;">Sucursal:</td>
                    <td style="border:0px; text-align:left; width:20%;">@Model.sucursal.nombre_sucursal</td>
                    <td style="border:0px; font-weight:bold; text-align:right; width:200px;">Tipo De Movimiento:</td>
                    <td style="border:0px; text-align:left; width:20%;">
                        @{
                            var tipo_movimiento = Model.tipo_movimiento_inventario.id;
                            if (tipo_movimiento == 1 || tipo_movimiento == 3 || tipo_movimiento == 5 || tipo_movimiento == 7)
                            {
                                @Model.tipo_movimiento_inventario.nombre <label class="hidden-print" style="color: #0d5a22;"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></label>
                            }
                            else if (tipo_movimiento == 2 || tipo_movimiento == 4 || tipo_movimiento == 6)
                            {
                                @Model.tipo_movimiento_inventario.nombre <label class="hidden-print" style="color: #ff0000;"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></label>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td style="border:0px; font-weight:bold; text-align:right; width:200px;">Total De Conceptos:</td>
                    <td style="border:0px; text-align:left; width:20%;">
                        @if (idTipoMov == 1 || idTipoMov == 3)
                        {
                            <label style="font-weight: 300;">@Model.conceptos_por_movimiento_inventario.Select(x => x.cantidad).Sum()</label>
                        }
                        else
                        {
                            <label style="font-weight: 300;">@Model.conceptos_por_movimiento_inventario.Select(x => x.cantidad).Sum()</label>
                        }
                    </td>
                    <td style="border:0px; font-weight:bold; text-align:right; width:200px;">Genero:</td>
                    <td style="border:0px; text-align:left; width:20%;">@Model.usuario_punto_venta.nombre_usuario</td>
                    <td style="border:0px; font-weight:bold; text-align:right; width:200px;">Recibe:</td>
                    <td style="border:0px; text-align:left; width:20%;">@Model.recibe</td>
                </tr>
                <tr>
                    <td style="border:0px; font-weight:bold; text-align:right; width:200px;">Observaciones:</td>
                    <td colspan="5" style="border:0px; text-align:left; width:20%;">@Model.observaciones</td>
                </tr>
            </tbody>
        </table>
        <table id="tabla_conceptos" class="table table-hover" style="width:100%;">
            <thead>
                <tr>
                    <td colspan="7" style="text-align: center; background-color: #506676; color: white; margin-bottom: 0px; margin-top: 0px; line-height: 35px; font-size: 15px; text-transform: uppercase;"><span style="display:inline;">Conceptos</span><span class="icono" style="display:inline; margin-left: 10px;"></span></td>
                </tr>
                <tr>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Proveedor</th>
                    <th>Familia</th>
                    <th>Suubfamilia</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cxm in Model.conceptos_por_movimiento_inventario)
                {
                    <tr>
                        <td style="text-align: center;">@cxm.inventario.producto.Codigo</td>
                        <td style="text-align: center;">@cxm.inventario.producto.Descripcion</td>
                        <td style="text-align: center;">@cxm.inventario.producto.marca.nombre</td>
                        <td style="text-align: center;">@cxm.inventario.producto.proveedor.nombre_proveedor</td>
                        <td style="text-align: center;">@cxm.inventario.producto.subfamilia.familia.nombre</td>
                        <td style="text-align: center;">@cxm.inventario.producto.subfamilia.nombre</td>
                        <td style="text-align: center;">@cxm.cantidad</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
