﻿@model IEnumerable<POS.Models.nota_credito>
<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal - Estatus @ViewBag.estatus_nota_credito - @ViewBag.periodo</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Notas De Credito</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaNotasCredito" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>ID Nota Credito</th>
                    <th>ID Venta</th>
                    <th>ID Venta Aplicada</th>
                    <th>Sucursal</th>
                    <th>Estatus</th>
                    <th>Fecha Creacion</th>
                    <th>Fecha Uso</th>
                    <th>Fecha Cancelacion</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
                @foreach (var nota in Model)
                {
                    <tr>
                        <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(nota.id)</td>
                        <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id(nota.id_venta)</td>
                        <td style="text-align: center;">
                            @if (nota.id_venta_aplicada != null)
                            {
                                @POS.Fn.Numeros.serie_folio_by_id(nota.id_venta_aplicada.Value)
                            }
                        </td>
                        <td style="text-align: center;">@nota.venta.sucursal.nombre_sucursal</td>
                        <td style="text-align: center;">
                            @{
                                if (nota.id_estatus_nota_credito == 1)
                                {
                                    <label style="color: #0d5a22;"><span class="visible-print-block">@nota.estatus_nota_credito.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                }
                                else if (nota.id_estatus_nota_credito == 2)
                                {
                                    <label style="color: #c58557;"><span class="visible-print-block">@nota.estatus_nota_credito.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                }
                                else
                                {
                                    <label style="color: #ff0000;"><span class="visible-print-block">@nota.estatus_nota_credito.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                }
                            }
                        </td>
                        <td style="text-align: center;">
                            @if (nota.fecha_creacion != null)
                {
                                @nota.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                            }
                        </td>
                        <td style="text-align: center;">
                            @if (nota.fecha_uso != null)
                {
                                @nota.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")
                            }
                        </td>
                        <td style="text-align: center;">
                            @if (nota.fecha_cancelacion != null)
                {
                                @nota.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                            }
                        </td>
                        <td style="text-align: center;"><span>$</span>@nota.cantidad</td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>