﻿@{
    List<POS.Models.venta> ListaVentas = ViewBag.ListaVentas as List<POS.Models.venta>;
    List<POS.Models.conceptos_por_venta> ListaConceptos = ViewBag.ListaConceptos as List<POS.Models.conceptos_por_venta>;
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    Decimal TotalPagado = ViewBag.TotalPagado;
    Decimal TotalDeuda = ViewBag.TotalDeuda;
    Decimal TotalVendido = ViewBag.TotalVendido;
}

<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal - @ViewBag.periodo - Estatus: @ViewBag.tipo_movimietno</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Consignacion</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaHistorial" class="table" style="width: 100%;">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Proveedor</th>
                    <th>Venta</th>
                    <th>Sucursal</th>
                    <th>Fecha Venta</th>
                    <th>Estatus</th>
                    <th>Fecha Pago</th>
                    <th>Usuario Pago</th>
                    <th>Cantidad</th>
                    <th>Costo</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla"></tbody>
            <tfoot>
                <tr>
                    <td colspan="9" style="border: 0px; padding:4px;"></td>
                    <td colspan="2" style="border: 0px; width: 30%; text-align:center; background-color: #506676; color: white; padding:4px;">Totales</td>
                </tr>
                <tr>
                    <td colspan="9" style="border: 0px; padding:4px;"></td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">Total Pagado</td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">
                        <label style="margin-right:5px;">$</label><span id="Pagado">@TotalPagado</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" style="border: 0px; padding:4px;"></td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">Total Adeudo</td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); padding:4px;">
                        <label style="margin-right:5px;">$</label><span id="Adeudo">@TotalDeuda</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" style="border: 0px; padding:4px;"></td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">Total Vendido</td>
                    <td style="width: 10%; text-align:center; font-weight:bold; border-color:rgba(37, 64, 84, 0.45); background-color: #9AA7B0; color: white; padding:4px;">
                        <label style="margin-right:5px;">$</label><span id="Vendido">@TotalVendido</span>
                    </td>
                </tr>
            </tfoot>
            @foreach (POS.Models.conceptos_por_venta concepto_por_venta in ListaConceptos)
            {
                String serie_folio = POS.Fn.Numeros.serie_folio_by_id(concepto_por_venta.Venta_id);
                <tr name="@concepto_por_venta.id" pagado="@concepto_por_venta.pagada_consignacion.Value">
                    <td style="text-align: center;">@concepto_por_venta.producto.Codigo<span> - </span>@concepto_por_venta.producto.Descripcion</td>
                    <td style="text-align: center;">@concepto_por_venta.producto.proveedor.nombre_proveedor</td>
                    <td style="text-align: center;">@serie_folio</td>
                    <td style="text-align: center;">@concepto_por_venta.venta.sucursal.nombre_sucursal</td>
                    <td style="text-align: center;">
                        @if (concepto_por_venta.venta.catalogo_status_id == 1)
                        {
                            @concepto_por_venta.venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm:ss")
                        }
                        else if (concepto_por_venta.venta.catalogo_status_id == 9 ||
                                 concepto_por_venta.venta.catalogo_status_id == 10 ||
                                 concepto_por_venta.venta.catalogo_status_id == 11)
                        {
                            @concepto_por_venta.venta.fecha_liquidacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                        }
                    </td>
                    <td style="text-align: center;">
                        @if (concepto_por_venta.pagada_consignacion == true)
                {
                            <label style="color: #0d5a22;"><span class="visible-print-block">Pagado</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                        }
                        else
                        {
                            <label style="color: #ff0000;"><span class="visible-print-block">Por Pagar</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                        }
                    </td>
                    <td style="text-align: center;">
                        @if (concepto_por_venta.fecha_pagada_consignacion != null)
                        {
                            @concepto_por_venta.fecha_pagada_consignacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                        }
                    </td>
                    <td style="text-align: center;">
                        @if (concepto_por_venta.id_usuario_pago_consignacion != null)
                        {
                            @concepto_por_venta.usuario_punto_venta.nombre_usuario
                        }
                    </td>
                    <td style="text-align: center;">@concepto_por_venta.cantidad</td>
                    <td style="text-align: center;">
                        @if (concepto_por_venta.producto.costo != null)
                        {
                            @Math.Round(concepto_por_venta.producto.costo.Value, 2)
                        }
                        else
                        {
                            @:No tiene costo
            }
                    </td>
                    <td style="text-align: center;">
                        @if (concepto_por_venta.producto.costo != null)
                        {
                            @Math.Round(concepto_por_venta.cantidad * concepto_por_venta.producto.costo.Value, 2)
                        }
                        else
                        {
                            @:No tiene costo
            }
                    </td>
                </tr>
            }
        </table>
        </div>
    </div>
