﻿<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Proveedores</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaProveedores" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Folio</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var proveedor in Model)
                {
                    <tr>
                        <td style="text-align: center;">@proveedor.nombre_proveedor</td>
                        <td style="text-align: center;">@proveedor.folio</td>
                        <td style="text-align: center;">@proveedor.correo</td>
                        <td style="text-align: center;">@proveedor.telefono</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
