﻿@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    List<POS.Models.ConsultaProducto> ListaProductos = ViewBag.ListaProductos as List<POS.Models.ConsultaProducto>;
}

<style>
    .imgCheckDesactivado {
        -webkit-filter: grayscale(1);
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: grayscale(100%);
        opacity: 0.3;
        filter: alpha(opacity=30); /* For IE8 and earlier */
    }

        .imgCheckDesactivado:hover {
            width: 20px !important;
            cursor: pointer;
            /*opacity: 1;
            filter: alpha(opacity=100); /* For IE8 and earlier */
        }

    .imgCheckActivado {
        -webkit-filter: grayscale(0);
        -webkit-filter: grayscale(0%);
        filter: initial;
        filter: grayscale(0%);
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }

        .imgCheckActivado:hover {
            width: 20px !important;
            cursor: pointer;
            /*opacity: 0.3;
            filter: alpha(opacity=30); /* For IE8 and earlier */
        }
</style>

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Productos</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">

        <table id="TablaProductos" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descripción</th>
                    <th>Marca</th>
                    <th>Familia</th>
                    <th>Subfamilia</th>
                    <th>Proveedor</th>
                    @if (configuracion_general.venta_consignacion == true)
            {
                        <th></th>
                    }
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (ListaProductos.Count == 0)
                {
                    <tr>
                        <td colspan="7" style="text-align: center; padding-top: 15px;">No se encontraron productos.</td>
                    </tr>
                }
                else
                {
                    foreach (POS.Models.ConsultaProducto producto in ListaProductos)
                    {
                        <tr>
                            <td style="text-align: center;">@producto.codigo</td>
                            <td style="text-align: center;">@producto.descripcion</td>
                            <td style="text-align: center;">@producto.marca</td>
                            <td style="text-align: center;">@producto.familia</td>
                            <td style="text-align: center;">@producto.subfamilia</td>
                            <td style="text-align: center;">@producto.proveedor</td>
                            <td style="text-align: center; width: 30px;">
                                <img title="Visibilidad: Cuando esta activado, el producto se podra vender, de lo contrario no se podra vender." class="@((producto.visible == 1 ? "imgCheckActivado " : "imgCheckDesactivado ") + " imgVisible")" valor="@(producto.visible == 1 ? "1" : "0")" idProducto="@producto.id" src="@Url.Content("~/assets-minified/images/eye.png")" style="width: 20px;" />
                            </td>
                            @if (configuracion_general.venta_consignacion == true)
                    {
                                <td style="text-align: center; width: 30px;">
                                    <img title="Consignacion: Cuando esta activado la consignacion y se vende el producto, se generara una cuenta por pagar al proveedor del producto." class="@((producto.consignacion == 1 ? "imgCheckActivado " : "imgCheckDesactivado ") + " imgConsignacion")" valor="@(producto.consignacion == 1 ? "1" : "0")" idProducto="@producto.id" src="@Url.Content("~/assets-minified/images/consignacion.png")" style="width: 20px;" />
                                </td>
                            }
                            <td style="text-align: center; width: 30px;">
                                <img title="Publicado: Cuando esta activado, el producto aparecera en la tienda en linea." class="@((producto.publicado == 1 ? "imgCheckActivado " : "imgCheckDesactivado ") + " imgPublicado")" valor="@(producto.publicado == 1 ? "1" : "0")" idProducto="@producto.id" src="@Url.Content("~/assets-minified/images/internet.png")" style="width: 20px;" />
                            </td>
                            <td style="text-align: center; width: 30px;">
                                <img title="Destacado: Cuando esta activado, el producto aparecera en la seccion de productos destacados de la tienda en linea." class="@((producto.carrusel == 1 ? "imgCheckActivado " : "imgCheckDesactivado ") + " imgDestacado")" valor="@(producto.carrusel == 1 ? "1" : "0")" idProducto="@producto.id" src="@Url.Content("~/assets-minified/images/destacado.png")" style="width: 20px;" />
                            </td>
                            <td style="text-align: center; width: 30px;">
                                <img title="Precio dolar: Cuando este activado, el producto se cobrara en dolares de acuerdo al precio asignado a la sucursal donde se realize la venta." class="@((producto.precio_dolar == 1 ? "imgCheckActivado " : "imgCheckDesactivado ") + " imgDolar")" valor="@(producto.precio_dolar == 1 ? "1" : "0")" idProducto="@producto.id" src="@Url.Content("~/assets-minified/images/dolares.png")" style="width: 20px;" />
                            </td>
                            <td style="text-align: center; width: 30px;">
                                @if (producto.imagenes > 0)
                                {
                                    <img title="Imagenes" src="@Url.Content("~/assets-minified/images/imagen.png")" style="width: 20px;" />
                                }
                            </td>
                            <td style="text-align: center; width: 30px;">
                                @if (producto.pdfs > 0)
                    {
                                    <img title="PDF" src="@Url.Content("~/assets-minified/images/pdf.png")" style="width: 20px;" />
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

