﻿@{
    List<POS.Models.tipocliente> ListaClientes = ViewBag.ListaClientes as List<POS.Models.tipocliente>;
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Tipos De Precio</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaTiposPrecios" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Tipo De Precio</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
                @foreach (POS.Models.tipocliente tipo_precio in ListaClientes)
                {
                    <tr>
                        <td style="text-align: center;">@tipo_precio.Tipo</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>