﻿@model List<POS.Models.venta>
@{
    String UploadFolderTiendaOnline = ViewBag.UploadFolderTiendaOnline;
    int i = 0;
}
<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal - @ViewBag.periodo</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Ventas Online</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div id="div_parcialVentasOnline">
            <table id="TablaEntrega" class="table table-hover" style="width: 100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Pago</th>
                        <th>Envío</th>
                        <th>Recibido</th>
                        <th>Sucursal</th>
                        <th>Art.</th>
                        <th>Total</th>
                        <th>Adj.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (POS.Models.venta venta in Model)
                    {
                        String serie_folio = POS.Fn.Numeros.serie_folio_by_id(venta.id);
                        <tr>
                            <td id="@("serie_folio_" + @venta.id)" style="text-align:center;">@serie_folio</td>
                            <td style="text-align: center;">@venta.cliente.Razon_social</td>
                            <td style="text-align: center">
                                @if (venta.fecha != null)
                                {
                                    <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.fecha.Value).TotalDays) Dias</label><br />
                                    @venta.fecha.Value.ToString("dd/MM/yyyy")<br />@venta.fecha.Value.ToString("HH:mm:ss")
                                }
                            </td>
                            <td style="text-align: center">
                                @if (venta.fecha_liquidacion != null)
                                {
                                    <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.fecha_liquidacion.Value).TotalDays) Dias</label><br />
                                    @venta.fecha_liquidacion.Value.ToString("dd/MM/yyyy")<br />@venta.fecha_liquidacion.Value.ToString("HH:mm:ss")
                                }
                                else
                                {
                                    <label class="boton_punteado_gris" style="width: auto; padding: 5px 10px" onclick='ConfirmarPagoOnline(@venta.id)'>
                                        <i class="glyph-icon icon-money" aria-hidden="true"></i>
                                    </label>
                                }
                            </td>
                            <td style="text-align: center">
                                @if (venta.fechaEnvio != null)
                                {
                                    <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.fechaEnvio.Value).TotalDays) Dias</label><br />
                                    @venta.fechaEnvio.Value.ToString("dd/MM/yyyy")<br />@venta.fechaEnvio.Value.ToString("HH:mm:ss")
                                }
                                else if (venta.fecha_liquidacion != null)
                                {
                                    <label class="boton_punteado_gris" style="width: auto; padding: 5px 10px" onclick='ConfirmarEnvioOnline(@venta.id)'>
                                        <i class="glyph-icon icon-truck" aria-hidden="true"></i>
                                    </label>
                                }
                            </td>
                            <td style="text-align: center">
                                @if (venta.Fecha_entrega != null)
                                {
                                    <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.Fecha_entrega.Value).TotalDays) Dias</label><br />
                                    @venta.Fecha_entrega.Value.ToString("dd/MM/yyyy")<br />@venta.Fecha_entrega.Value.ToString("HH:mm:ss")
                                }
                                else if (venta.fechaEnvio != null)
                                {
                                    <label class="btn_agregar_entrega boton_punteado_gris" style="width: auto; padding: 5px 10px">
                                        <i class="glyph-icon icon-elusive-download-alt" aria-hidden="true"></i>
                                    </label>
                                }
                            </td>
                            <td style="text-align: center;">@venta.sucursal.nombre_sucursal</td>
                            <td style="text-align: center;">@venta.conceptos_por_venta.Count</td>
                            <td style="text-align: center;">$@venta.total.Value.ToString("#,##0.00")</td>
                            <td style="text-align: center">
                                @{
                                    try
                                    {
                                        int countAnexos = POS.Fn.FnFiles.BuscarCoincidenciasArchivos(UploadFolderTiendaOnline + "\\adjuntos_cliente_compra\\", venta.id + "-").Count();
                                        string style_display = countAnexos == 0 ? "display:none;" : "";
                                        <label class="boton_hover_verde btn_modal_anexos" idVenta="@venta.id" style="">
                                            <label id="@("numAnexos" + venta.id)" class="" style="@(style_display + "font-size: 14px; margin-bottom: 0px;")">@countAnexos</label><i class="fa fa-file-text-o fa-lg" aria-hidden="true" style="margin-left: 5px"></i>
                                        </label>
                                    }
                                    catch (Exception)
                                    {
                                        <label>Error</label>
                                    }
                                }
                            </td>
                        </tr>
                                    }
                </tbody>
            </table>
        </div>
    </div>
</div>