﻿@{
    List<POS.Models.marca> ListaMarca = ViewBag.marcas as List<POS.Models.marca>;
}
<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Marcas</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaMarcas" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (POS.Models.marca marca in ListaMarca)
                {
                    <tr>
                        <td style="text-align: center;">@marca.nombre</td>
                        <td style="text-align: center;">
                            @if (marca.imagen != null)
                            {
                                <img src="@Url.Content("~/assets-minified/images/checked.png")" style="width: 20px;" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
