﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white; margin: 20px 0 0px;">Ticket</h3>
    <div class="example-box-wrapper" style="margin-top: 0px;">
        <button id="selectTicketPrinter" class="btn btn-info autofocus" style="float: left; margin-bottom: 0px; border-radius: 0px; width: 50%;" autofocus>
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-print"></i>
            </span>
            <span class="button-content">Ticket</span>
        </button>
        <button id="selectPDF" class="btn btn-success" style="float: left; margin-bottom: 0px; border-radius: 0px; width: 50%;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-file-pdf-o"></i>
            </span>
            <span class="button-content">PDF</span>
        </button>
        <button onclick="CerrarModal()" class="btn btn-danger" style="float: left; margin-bottom: 0px; border-radius: 0px; width: 100%">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-times"></i>
            </span>
            <span class="button-content">Cerrar</span>
        </button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalSeleccionarModoImpresion .modal-dialog').css('width', '30%');
        $('.ModalSeleccionarModoImpresion').on('shown.bs.modal', function () {
            $(".autofocus").focus();
        });
    });
    function CerrarModal() {
        $('.ModalSeleccionarModoImpresion').modal('hide');
        window.location.reload(true);
    }
</script>
