﻿@model POS.Models.cliente
@{
    ViewBag.Title = "POS - Editar Ciente";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Editar Cliente</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @using (Html.BeginForm("EditarCliente", "Cliente", FormMethod.Post, new { @id = "EditarCliente", @style = "margin-bottom:0px;" }))
        { 
            @Html.HiddenFor(model => model.id)
            <table id="TablaClientes" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Nombre o Razon Social: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control obligatorio" id="Razon_social" name="Razon_social" value="@Model.Razon_social" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">RFC: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="RFC" name="RFC" value="@Model.RFC" placeholder="R.F.C." /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Correo Electronico: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="email" class="form-control obligatorio" id="correo" name="correo" value="@Model.correo" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Contraseña: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="password" class="form-control obligatorio" id="contrasena" name="contrasena" value="@Model.contrasena" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Sucursal: </td>
                        <td style="width: 25%; border: 0px;">
                            @Html.DropDownList("id_sucursal", null, new { @class = "form-control obligatorio" })</td>
                        <td style="width: 150px; text-align: right; border: 0px;">Tipo De Precio: </td>
                        <td style="width: 25%; border: 0px;">
                            @Html.DropDownList("TipoCliente_id", null, new { @class = "form-control obligatorio" })</td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Limite De Credito: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="Limite_credito" name="Limite_credito" placeholder="(Opcional)" value="@Model.Limite_credito" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Dias De Credito: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="dias_credito" name="dias_credito" placeholder="(Opcional)" value="@Model.dias_credito" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Telefono: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="telefono" name="telefono" placeholder="(Opcional)" value="@Model.telefono" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Activo: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" id="id_estatus_cliente" name="id_estatus_cliente" value="@Model.id_estatus_cliente" style="display: none;" />
                            <input type="checkbox" class="switch-sucursal" style="margin:5px" id="check_estatus_cliente" value="@Model.id_estatus_cliente" @(Model.id_estatus_cliente == 1 ? "checked=\"checked\"" : "") /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: center; border: 0px; background-color: #506676; color: white;">Domicilio</td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Calle: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="calle" name="calle" placeholder="(Opcional)" value="@Model.calle" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Exterior: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="exterior" name="exterior" placeholder="(Opcional)" value="@Model.exterior" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Interior: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="interior" name="interior" placeholder="(Opcional)" value="@Model.interior" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Colonia: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="colonia" name="colonia" placeholder="(Opcional)" value="@Model.colonia" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Municipio: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="municipio" name="municipio" placeholder="(Opcional)" value="@Model.municipio" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Estado: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="estado" name="estado" placeholder="(Opcional)" value="@Model.estado" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Codigo Postal: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="cp" name="cp" placeholder="(Opcional)" value="@Model.cp" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: center; border: 0px; background-color: #506676; color: white;">Domicilio De Embarque</td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Mismo domicilio: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" id="domicilio_embarque_igual" name="domicilio_embarque_igual" value="@Model.domicilio_embarque_igual" style="display: none;" />
                            <input type="checkbox" id="check_domicilio_embarque_igual" class="switch-sucursal" style="margin:5px" value="@Model.domicilio_embarque_igual" @(Model.domicilio_embarque_igual == 1 ? "checked=\"checked\"" : "") />
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Calle: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="calle_embarque" name="calle_embarque" placeholder="(Opcional)" value="@Model.calle_embarque" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Exterior: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="exterior_embarque" name="exterior_embarque" placeholder="(Opcional)" value="@Model.exterior_embarque" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Interior: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="interior_embarque" name="interior_embarque" placeholder="(Opcional)" value="@Model.interior_embarque" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Colonia: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="colonia_embarque" name="colonia_embarque" placeholder="(Opcional)" value="@Model.colonia_embarque" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Municipio: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="municipio_embarque" name="municipio_embarque" placeholder="(Opcional)" value="@Model.municipio_embarque" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Estado: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="estado_embarque" name="estado_embarque" placeholder="(Opcional)" value="@Model.estado_embarque" />
                        </td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Codigo Postal: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="cp_embarque" name="cp_embarque" placeholder="(Opcional)" value="@Model.cp_embarque" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                            <div id="AlertaRFC" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>EL RFC ya ha sido registrado en el sistema.</p>
                                </div>
                            </div>
                            <div id="AlertaRazonSocial" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>La Razon Social ya ha sido registrado en el sistema.</p>
                                </div>
                            </div>
                            <div id="AlertaCorreo" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>El correo ya ha sido registrado en el sistema.</p>
                                </div>
                            </div>
                            <div id="AlertaPassword" class="alert alert-info" style="display: none; margin-bottom: 0px; width: 50%; margin-top: 10px;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Verifique su contraseña. Mínimo 8 caracteres. Debe contener Mayúsculas, minúsculas y números. Se recomienda incluir algún carácter especial.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <a id="BotonEditarCliente" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Guardar Cambios</span>
                            </a>
                            <a href="@Url.Action("Index")" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Cancelar</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" id="EditarCliente" value="Guardar" style="display: none;" />
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var elems = Array.prototype.slice.call(document.querySelectorAll('.switch-sucursal'));
        elems.forEach(function(html) {
            var switchery = new Switchery(html, { size: 'small',secondaryColor: 'rgb(206, 199, 199)' });
        });
    });
    $(document).on('click', '#BotonEditarCliente', function () {
        $('#EditarCliente').trigger('click');
    });
</script>

<script type="text/javascript">
    var seguir = true;
    $(document).ready(function () {
        revisarMismoDomicilioYCopiar();
        $('#EditarCliente').bind('submit', function (event) {
            seguir = true;
            $('.obligatorio').each(function () {
                if ($(this).val() == "" || $(this).val() == null || $(this).val() == undefined) {
                    seguir = false;
                }
            });
            if (!seguir) {
                $("#AlertaFormulario").slideDown('slow').delay(3000).slideUp('slow');
            }
            VerificarContrasena();
            VerificarRazonSocial();
            VerificarRFC();
            VerificarCorreo();
            if (!seguir) {
                return false;
            }
        });
    });
    $(document).on('change', '#check_domicilio_embarque_igual', function () {
        if ($('#check_domicilio_embarque_igual').is(':checked')) {
            $('#domicilio_embarque_igual').val("1");
        } else {
            $('#domicilio_embarque_igual').val("2");
        }
        revisarMismoDomicilioYCopiar();
    });
    $(document).on('change', '#check_estatus_cliente', function () {
        if ($('#check_estatus_cliente').is(':checked')) {
            $('#id_estatus_cliente').val("1");
        } else {
            $('#id_estatus_cliente').val("2");
        }
    });
    $(document).on('change', '#contrasena', function () {
        VerificarContrasena();
    });
    $(document).on('change', '#Razon_social', function () {
        VerificarRazonSocial();
    });
    $(document).on('change', '#RFC', function () {
        VerificarRFC();
    });
    $(document).on('change', '#correo', function () {
        VerificarCorreo();
    });
    function VerificarContrasena() {
        contraseniaSegura = true;
        var pswd = $('#contrasena').val();
        if (pswd.length < 8) {
            contraseniaSegura = false;
        }
        else if (!(pswd.match(/[A-z]/))) {
            contraseniaSegura = false;
        }
        else if (!(pswd.match(/[A-Z]/))) {
            contraseniaSegura = false;
        }
        else if (!(pswd.match(/\d/))) {
            contraseniaSegura = false;
        }
        if (!contraseniaSegura) {
            $("#AlertaPassword").slideDown('slow').delay(3000).slideUp('slow');
            seguir = false;
        }
    }
    function VerificarRazonSocial() {
        var url = '@Url.Action("VerificarRazonSocial")';
        $.ajax({
            url: url,
            data: { id: @Model.id, Razon_social: $('#Razon_social').val() },
            type: "POST",
            async: false,
            success: function (existe) {
                if (existe == "True") {
                    $("#AlertaRazonSocial").slideDown('slow').delay(3000).slideUp('slow');
                    seguir = false;
                }
            }
        });
    }
    function VerificarRFC() {
        var url = '@Url.Action("VerificarRFC")';
        $.ajax({
            url: url,
            data: { id: @Model.id, RFC: $('#RFC').val() },
            type: "POST",
            async: false,
            success: function (existe) {
                if (existe == "True") {
                    $("#AlertaRFC").slideDown('slow').delay(3000).slideUp('slow');
                    seguir = false;
                }
            }
        });
    }
    function VerificarCorreo() {
        var url = '@Url.Action("VerificarCorreo")';
        $.ajax({
            url: url,
            data: { id: @Model.id, correo: $('#correo').val() },
            type: "POST",
            async: false,
            success: function (existe) {
                if (existe == "True") {
                    $("#AlertaCorreo").slideDown('slow').delay(3000).slideUp('slow');
                    seguir = false;
                }
            }
        });
    }
    $('#Limite_credito').bind('keypress', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
    $('#dias_credito').bind('keypress', function (e) {
        var text = $(this).val();
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
        else {
            return true;
        }
    });
    function revisarMismoDomicilioYCopiar() {
        isChecked = $('#check_domicilio_embarque_igual').prop('checked');
        if (isChecked) {
            copiarCampos();
        }
        else {
            borrarCampos();
        }
    }
    function copiarCampos() {
        $('#calle_embarque').val($('#calle').val()).attr("readonly", "readonly");
        $('#exterior_embarque').val($('#exterior').val()).attr("readonly", "readonly");
        $('#interior_embarque').val($('#interior').val()).attr("readonly", "readonly");
        $('#colonia_embarque').val($('#colonia').val()).attr("readonly", "readonly");
        $('#municipio_embarque').val($('#municipio').val()).attr("readonly", "readonly");
        $('#estado_embarque').val($('#estado').val()).attr("readonly", "readonly");
        $('#cp_embarque').val($('#cp').val()).attr("readonly", "readonly");
    }
    function borrarCampos() {
        $('#calle_embarque').val("").removeAttr("readonly");
        $('#exterior_embarque').val("").removeAttr("readonly");
        $('#interior_embarque').val("").removeAttr("readonly");
        $('#colonia_embarque').val("").removeAttr("readonly");
        $('#municipio_embarque').val("").removeAttr("readonly");
        $('#estado_embarque').val("").removeAttr("readonly");
        $('#cp_embarque').val("").removeAttr("readonly");
    }
    $(document).on('change', '#calle', function () {
        if (isChecked) {
            $('#calle_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#exterior', function () {
        if (isChecked) {
            $('#exterior_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#interior', function () {
        if (isChecked) {
            $('#interior_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#colonia', function () {
        if (isChecked) {
            $('#colonia_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#municipio', function () {
        if (isChecked) {
            $('#municipio_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#estado', function () {
        if (isChecked) {
            $('#estado_embarque').val($(this).val());
        }
    });
    $(document).on('change', '#cp', function () {
        if (isChecked) {
            $('#cp_embarque').val($(this).val());
        }
    });
</script>
