﻿@{
    ViewBag.Title = "POS - Clientes";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Clientes</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="float: left; margin-bottom: 10px;">
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Sucursal: </label>
                @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
            </div>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a href="@Url.Action("NuevoCliente")" class="btn btn-success" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-plus"></i>
                </span>
                <span class="button-content">Nuevo Cliente</span>
            </a>
        </div>
        @*<div style="margin-right: 10px; margin-top: 16px; float: right;">
            <a id="ExportarExcel" class="btn btn-success">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <table id="TablaClientes" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Tipo De Cliente</th>
                    <th>Nombre o Razon Social</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Limite De Credito</th>
                    <th>Adeudo</th>
                    <th>Dias De Credito</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla" style="font-size: 13px;"></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        ActualizarVistaParcial();
        $("#ExportarExcel").click(function () {
            $('#TablaClientes .xlsx').trigger("click");
        });
    });
    $(document).on('change', '#id_sucursal', function () {
        establecer_id_sucursal_virtual(parseInt($(this).val()));
        $('#TablaClientes').dataTable().fnClearTable();
        $('#TablaClientes').dataTable().fnDestroy();
        ActualizarVistaParcial();
    });
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
    function ActualizarVistaParcial() {
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("VistaParcialCliente")';
        $.ajax({
            url: url,
            data: { id_sucursal: _id_sucursal },
            success: function (parcial) {
                $("#CuerpoTabla").html(parcial);
                $(".wrapper-dropdown-5").each(function () {
                    var dd = new DropDown($(this));
                    $(document).click(function () {
                        $('.wrapper-dropdown-5').removeClass('active');
                    });
                });
                CrearTablaClientes();
            },
            async: false
        });
    }
    function EditarCliente(id) {
        window.location.href = '@Url.Action("EditarCliente", "Cliente", new { id = "_id_" })'.replace("_id_", id);
    }
    function TipoPrecioCliente(id) {
        var url = '@Url.Action("ModalEditarTipoPrecio")';
        $.ajax({
            url: url,
            data: { id: id },
            success: function (Vista) {
                bootbox.dialog({
                    title: "",
                    message: Vista,
                    className: "ModalEditarTipoPrecio",
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    function ActivarCliente(id) {
        var url = '@Url.Action("ActivarClienteTiendaOnline")';
        $.ajax({
            url: url,
            type: "POST",
            datatype: "JSON",
            data: { id: id },
            success: function (result) {
                if (result) {
                    window.location.reload(true);
                } else {
                    alert("Error: No se ha podido activar el cliente.");
                }
            },
            async: false
        });
    }
    function EditarTipoPrecio() {
        var id_cliente = $('#id_cliente').val();
        var id_tipo_precio = $('#id_tipo_precio').val();
        var url = '@Url.Action("EditarTipoPrecio")';
        $.ajax({
            url: url,
            type: "POST",
            datatype: "JSON",
            data: { id: id_cliente, id_tipo_precio: id_tipo_precio },
            success: function (result) {
                if (result) {
                    CerrarModal();
                    window.location.reload(true);
                } else {
                    CerrarModal();
                    alert("Error: No se ha podido hacer el cambio de tipo de precio.");
                }
            },
            async: false
        });
    }
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("TraerPDFListaClientes", "FormatoPDF", new { id_sucursal = "_id_" })'.replace("_id_", id_sucursal);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>

<script type="text/javascript">
    function CrearTablaClientes() {
        $('#TablaClientes').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista  de Clientes',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Lista  de Clientes',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Clientes',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>
