﻿@{
    List<POS.Models.cliente> ListaClientes = ViewBag.ListaClientes as List<POS.Models.cliente>;
}

@foreach (POS.Models.cliente cliente in ListaClientes)
{
    <tr>
        <td style="text-align: center;">@cliente.sucursal.nombre_sucursal</td>
        <td style="text-align: center;">@cliente.tipocliente.Tipo</td>
        <td style="text-align: center;">@cliente.Razon_social</td>
        <td style="text-align: center;">@cliente.correo</td>
        <td style="text-align: center;">@cliente.telefono</td>
        <td style="text-align: center;">@cliente.Limite_credito</td>
        <td style="text-align: center;">@cliente.Adeudo_credito</td>
        <td style="text-align: center;">@cliente.dias_credito </td>
        <td style="text-align: center;">
            @{
                if (cliente.id_estatus_cliente == 1)
                {
                    <label style="color: #0d5a22;"><span class="visible-print-block">@cliente.estatus_cliente.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                }
                else
                {
                    <label style="color: #ff0000;"><span class="visible-print-block">@cliente.estatus_cliente.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                }
            }
        </td>
        <td style="text-align: center;">
            <section>
                <div class="wrapper-demo">
                    <div class="wrapper-dropdown-5" tabindex="1">
                        <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                        Acciones
                                    <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                        <li>
                                            <label onclick="EditarCliente(@cliente.id)" style="color: #254054"><i class="glyph-icon icon-pencil" aria-hidden="true" style="margin-right: 15px;"></i>Editar</label></li>
                                        <li>
                                            <label onclick="TipoPrecioCliente(@cliente.id)" style="color: #254054"><i class="glyph-icon icon-pencil" aria-hidden="true" style="margin-right: 15px;"></i>Tipo Precio</label></li>
                                        @if (cliente.id_estatus_cliente == 2)
                                        {
                                            <li>
                                                <label onclick="ActivarCliente(@cliente.id)" style="color: #0d5a22"><i class="glyph-icon icon-check" aria-hidden="true" style="margin-right: 15px;"></i>Activar</label></li>
                                        }
                                    </ul>
                    </div>
                </div>
            </section>
        </td>
    </tr>
}

<script>
    $("#TablaClientes").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],     				// (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: 8,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>