﻿@{
    Decimal cantidad_ventas_mes_pasado = ViewBag.cantidad_ventas_mes_pasado;
    Decimal cantidad_ventas_mes_actual = ViewBag.cantidad_ventas_mes_actual;
    Decimal cantidad_ventas_semana_pasada = ViewBag.cantidad_ventas_semana_pasada;
    Decimal cantidad_ventas_semana_actual = ViewBag.cantidad_ventas_semana_actual;
    Decimal cantidad_ventas_hoy = ViewBag.cantidad_ventas_hoy;
    Decimal cantidad_ventas_ayer = ViewBag.cantidad_ventas_ayer;
    Decimal cantidad_ventas_sucursal = ViewBag.cantidad_ventas_sucursal;
    Decimal cantidad_ventas_online = ViewBag.cantidad_ventas_online;
    List<POS.Models.venta> venta = ViewBag.venta as List<POS.Models.venta>;
    List<POS.Models.venta> creditos = ViewBag.creditos as List<POS.Models.venta>;
}

<div class="row ReporteInicial">

    <div class="col-lg-7" style="padding-left:0px; padding-right:0px;">
        <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
            <div class="col-lg-4">
                <div class="tile-box tile-box-alt bg-green" style="border: 0px;">
                    <div class="tile-header">
                        Ventas Del Mes
                    </div>
                    <div class="tile-content-wrapper">
                        <i class="glyph-icon icon-long-arrow-up"></i>
                        <div class="tile-content" style="font-size:25px;">
                            @if (cantidad_ventas_mes_actual == cantidad_ventas_mes_pasado)
                            {
                                <i class="glyph-icon icon-minus font-white"></i>
                            }
                            else if (cantidad_ventas_mes_actual > cantidad_ventas_mes_pasado)
                            {
                                <i class="glyph-icon icon-arrow-up font-green"></i>
                            }
                            else
                            {
                                <i class="glyph-icon icon-arrow-down font-red"></i>
                            }
                            $@cantidad_ventas_mes_actual
                        </div>
                        <small style="font-size:13px;">
                            @if (cantidad_ventas_mes_actual == cantidad_ventas_mes_pasado)
                            {
                                @:Igual que el mes pasado
                            }
                            else if (cantidad_ventas_mes_actual > cantidad_ventas_mes_pasado)
                            {
                                if (cantidad_ventas_mes_pasado == 0)
                                {
                                    <span>+@(Math.Round((Convert.ToDecimal(cantidad_ventas_mes_actual)), 2) * 100)% que el mes pasado</span>
                                }
                                else
                                {
                                    <span>+@(Math.Round((Convert.ToDecimal(cantidad_ventas_mes_actual) / Convert.ToDecimal(cantidad_ventas_mes_pasado)), 2) * 100)% que el mes pasado</span>
                                }
                            }
                            else
                            {
                                <span>-@((Math.Round(((Convert.ToDecimal(cantidad_ventas_mes_actual) / Convert.ToDecimal(cantidad_ventas_mes_pasado)) - 1), 2) * 100) * (-1))% que el mes pasado</span>
                            }
                        </small>
                    </div>
                    <a href="@Url.Action("Historial", "Reporte")" title="Detalle" class="tile-footer" style="height: 30px;">
                        Detalle
                        <i class="glyph-icon icon-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tile-box tile-box-alt bg-blue" style="border: 0px;">
                    <div class="tile-header">
                        Ventas De La Semana
                    </div>
                    <div class="tile-content-wrapper">
                        <i class="glyph-icon icon-long-arrow-up"></i>
                        <div class="tile-content" style="font-size:25px;">
                            @if (cantidad_ventas_semana_actual == cantidad_ventas_semana_pasada)
                            {
                                <i class="glyph-icon icon-minus font-white"></i>
                            }
                            else if (cantidad_ventas_semana_actual > cantidad_ventas_semana_pasada)
                            {
                                <i class="glyph-icon icon-arrow-up font-green"></i>
                            }
                            else
                            {
                                <i class="glyph-icon icon-arrow-down font-red"></i>
                            }
                            $@cantidad_ventas_semana_actual
                        </div>
                        <small style="font-size:13px;">
                            @if (cantidad_ventas_semana_actual == cantidad_ventas_semana_pasada)
                            {
                                @:Igual que la semana pasada
                            }
                            else if (cantidad_ventas_semana_actual > cantidad_ventas_semana_pasada)
                            {
                                if (cantidad_ventas_semana_pasada == 0)
                                {
                                    <span>+@(Math.Round((Convert.ToDecimal(cantidad_ventas_semana_actual)), 2) * 100)% que la semana pasada</span>
                                }
                                else
                                {
                                    <span>+@(Math.Round((Convert.ToDecimal(cantidad_ventas_semana_actual) / Convert.ToDecimal(cantidad_ventas_semana_pasada)), 2) * 100)% que la semana pasada</span>
                                }
                            }
                            else
                            {
                                <span>-@((Math.Round(((Convert.ToDecimal(cantidad_ventas_semana_actual) / Convert.ToDecimal(cantidad_ventas_semana_pasada)) - 1), 2) * 100) * (-1))% que la semana pasada</span>
                            }
                        </small>
                    </div>
                    <a href="@Url.Action("Historial", "Reporte")" title="Detalle" class="tile-footer">
                        Detalle
                        <i class="glyph-icon icon-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tile-box tile-box-alt bg-green" style="border: 0px;">
                    <div class="tile-header">
                        Ventas De Hoy
                    </div>
                    <div class="tile-content-wrapper">
                        <i class="glyph-icon icon-long-arrow-up"></i>
                        <div class="tile-content" style="font-size:25px;">
                            @if (cantidad_ventas_hoy == cantidad_ventas_ayer)
                            {
                                <i class="glyph-icon icon-minus font-white"></i>
                            }
                            else if (cantidad_ventas_hoy > cantidad_ventas_ayer)
                            {
                                <i class="glyph-icon icon-arrow-up font-green"></i>
                            }
                            else
                            {
                                <i class="glyph-icon icon-arrow-down font-red"></i>
                            }
                            $@cantidad_ventas_hoy
                        </div>
                        <small style="font-size:13px;">
                            @if (cantidad_ventas_hoy == cantidad_ventas_ayer)
                            {
                                @:Igual que ayer
                            }
                            else if (cantidad_ventas_hoy > cantidad_ventas_ayer)
                            {
                                if (cantidad_ventas_ayer == 0)
                                {
                                    <span>+@(Math.Round((Convert.ToDecimal(cantidad_ventas_hoy)), 2) * 100)% que ayer</span>
                                }
                                else
                                {
                                    <span>+@(Math.Round((Convert.ToDecimal(cantidad_ventas_hoy) / Convert.ToDecimal(cantidad_ventas_ayer)), 2) * 100)% que ayer</span>
                                }
                            }
                            else
                            {
                                <span>-@((Math.Round(((Convert.ToDecimal(cantidad_ventas_hoy) / Convert.ToDecimal(cantidad_ventas_ayer)) - 1), 2) * 100) * (-1))% que ayer</span>
                            }
                        </small>
                    </div>
                    <a href="@Url.Action("Historial", "Reporte")" title="Detalle" class="tile-footer" style="height: 30px;">
                        Detalle
                        <i class="glyph-icon icon-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5" style="padding-left:0px; padding-right:0px;">
        <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
            <div class="col-lg-6">
                <div class="tile-box tile-box-alt bg-gray" style="border: 0px;">
                    <div class="tile-header">
                        Ventas En Sucursal
                    </div>
                    <div class="tile-content-wrapper">
                        <i class="glyph-icon icon-credit-card"></i>
                        <div class="tile-content" style="font-size:25px;">
                            $@cantidad_ventas_sucursal
                        </div>
                        <small style="height: 20px;"></small>
                    </div>
                    <a href="@Url.Action("Historial", "Reporte")" title="Detalle" class="tile-footer">
                        Detalle
                        <i class="glyph-icon icon-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tile-box tile-box-alt bg-blue" style="border: 0px;">
                    <div class="tile-header">
                        Ventas Online
                    </div>
                    <div class="tile-content-wrapper">
                        <i class="glyph-icon icon-users"></i>
                        <div class="tile-content" style="font-size:25px;">
                            $@cantidad_ventas_online
                        </div>
                        <small style="height: 20px;"></small>
                    </div>
                    <a href="@Url.Action("VentaOnline", "TiendaOnline")" title="Detalle" class="tile-footer">
                        Detalle
                        <i class="glyph-icon icon-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row ReporteInicial">
    <div class="col-md-12">
        <div class="content-box">
            <h3 class="content-box-header" style="font-size: 20px; background-color: rgba(37, 64, 84, 0.6); color: white; text-transform: uppercase; text-align: center;">
                Ventas Del Mes
            </h3>
            <div class="content-box-wrapper" style="text-align:center;">
                <div id="GraficaVisitas"></div>
            </div>
        </div>
    </div>
</div>
<div class="row ReporteInicial">
    <div class="col-md-6">
        <div class="content-box">
            <h3 class="content-box-header" style="font-size: 20px; background-color: rgba(37, 64, 84, 0.6); color: white; text-transform: uppercase; text-align: center;">
                Ventas De Ultima Hora
            </h3>
            <div class="content-box-wrapper" style="text-align: center;">
                <table id="TablaMembresiasPorExpirar" class="table table-hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Sucursal</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Condición de Venta</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 13px;">
                        @foreach (POS.Models.venta v in venta)
                        {
                            <tr>
                                <td style="border: 0px; text-align: center;">@v.sucursal.nombre_sucursal</td>
                                <td style="border: 0px; text-align: center;">@v.cliente.Razon_social</td>
                                <td style="border: 0px; text-align: center;">@v.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                <td style="border: 0px; text-align: center;">@v.catalogo_status.status</td>
                                <td style="border: 0px; text-align: center;">$@v.total</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="content-box">
            <h3 class="content-box-header" style="font-size: 20px; background-color: rgba(37, 64, 84, 0.6); color: white; text-transform: uppercase; text-align: center;">
                Creditos Proximos a Vencer
            </h3>
            <div class="content-box-wrapper" style="text-align: center;">
                <table id="TablaMembresiasExpiradas" class="table table-hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Sucursal</th>
                            <th>Tipo Cliente</th>
                            <th>Razón Social</th>
                            <th>Fecha Venta</th>
                            <th>Dias de Credito</th>
                            <th>Dias Restantes</th>
                            <th>Adeudo</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 13px;">
                        @foreach (POS.Models.venta v in creditos)
                        {
                            <tr>
                                <td style="border: 0px; text-align: center;">@v.sucursal.nombre_sucursal</td>
                                <td style="border: 0px; text-align: center;">@v.cliente.tipocliente.Tipo</td>
                                <td style="border: 0px; text-align: center;">@v.cliente.Razon_social</td>
                                <td style="border: 0px; text-align: center;">@v.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                <td style="border: 0px; text-align: center;">@v.cliente.dias_credito</td>
                                @{
                                    DateTime restante = Convert.ToDateTime(v.fecha);
                                    restante = restante.AddDays(Convert.ToInt16(v.cliente.dias_credito) + 1);
                                    //Sacamos la diferencia
                                    TimeSpan ts = restante - DateTime.Now;
                                    int dias = ts.Days;
                                    int horas = ts.Hours;
                                    if (dias < 0)
                                    {
                                        <td style="border: 0px; text-align: center;">Vencido</td>
                                    }
                                    else if (dias == 0)
                                    {
                                        if (horas > 12)
                                        {
                                            <td style="border: 0px; text-align: center;">1 dia</td>
                                        }
                                        else
                                        {
                                            <td style="border: 0px; text-align: center;">Hoy Vence</td>
                                        }

                                    }
                                    else
                                    {
                                        <td style="border: 0px; text-align: center;">@dias dias</td>
                                    }
                                }
                                <td style="border: 0px; text-align: center;">$@v.aduedo</td>
                            </tr>
                                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        Morris.Line({
            element: 'GraficaVisitas',
            data: JSON.parse('@Html.Raw(ViewBag.grafica)'),
            xkey: 'nombre',
            ykeys: ['columna1', 'columna2', 'columna3'],
            labels: ['Mes Actual', 'Mes Pasado', 'Mes Antepasado'],
            parseTime: false
        });
    });
</script>
