﻿@{
    ViewBag.Title = "POS - Cotizaciones Online";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Cotizaciones Online</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div id="datepicker" style="margin-left: 10px; margin-top: 10px; float: left;">
            <label>Periodo: </label>
            <div class="btn btn-primary" style="width: 375px; background-color: #254054; border-color: #254054;">
                <i class="glyph-icon icon-calendar"></i>
                <input type="text" id="periodo" class="form-control" readonly="readonly" style="border: none; background-color: transparent; color: white; padding-left: 0px; display: inline; box-shadow: none; cursor: pointer; opacity: 100; text-align: center;" />
            </div>
        </div>
        <div id="filtro" style="margin-left: 10px; margin-top: 10px; float: left; display: none;">
            <label>ID De Cotizacion: </label>
            <input type="text" id="filtro_" class="form-control" style="display: inline; width: 200px;" />
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Tipo De Busqueda: </label>
            <select id="tipo_busqueda" class="form-control" style="display: inline; width: 200px;">
                <option value="1">Busqueda Por Fecha</option>
                <option value="2">Busqueda Por ID De Cotizacion</option>
            </select>
        </div>
        <div style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>
            @Html.DropDownList("id_sucursal_online", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
        </div>
        @*<div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarExcel" class="btn btn-success" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>*@
        <table id="TablaCotizaciones" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Vendedor</th>
                    <th>Conceptos</th>
                    <th style="text-align: right;">Ajuste</th>
                    <th style="text-align: right;">Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
            </tbody>
        </table>
    </div>
</div>

<div id="Ticket" style="display: none;"></div>

<script type="text/javascript">
    $(function () {
        $('#periodo').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
            "timePickerSeconds": true,
            "locale": {
                "format": "MM/DD/YYYY hh:mm:ss A",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizado",
                "daysOfWeek": ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                "firstDay": 1
            },
            ranges: {
                'Hoy': ["@ViewBag.HoyInicio", "@ViewBag.HoyFin"],
                'Ayer': ["@ViewBag.AyerInicio", "@ViewBag.AyerFin"],
                'Antier': ["@ViewBag.AntierInicio", "@ViewBag.AntierFin"],
                'Semana Actual': ["@ViewBag.SemanaActualInicio", "@ViewBag.SemanaActualFin"],
                'Semana Pasada': ["@ViewBag.SemanaPasadaInicio", "@ViewBag.SemanaPasadaFin"],
                'Semana Antepasada': ["@ViewBag.SemanaAntepasadaInicio", "@ViewBag.SemanaAntepasadaFin"],
                'Quincena Actual': ["@ViewBag.QuincenaActualInicio", "@ViewBag.QuincenaActualFin"],
                'Quincena Pasada': ["@ViewBag.QuincenaPasadaInicio", "@ViewBag.QuincenaPasadaFin"],
                'Quincena Antepasada': ["@ViewBag.QuincenaAntepasadaInicio", "@ViewBag.QuincenaAntepasadaFin"],
                'Mes Actual': ["@ViewBag.MesActualInicio", "@ViewBag.MesActualFin"],
                'Mes Pasado': ["@ViewBag.MesPasadoInicioFin", "@ViewBag.MesPasadoFin"],
                'Mes Antepasado': ["@ViewBag.MesAntepasadoInicio", "@ViewBag.MesAntepasadoFin"]
            }
        });
    });
    $(document).ready(function () {
        /*CONFIGURACIONES*/
        cantidad_tickets = parseInt($('#configuracion_cantidad_tickets').val());
        if ($('#configuracion_caja_centralizada').val() == "True") {
            caja_centralizada = true;
        } else {
            caja_centralizada = false;
        }
        if ($('#configuracion_edicion_precios').val() == "True") {
            editar_precio_dinamicamente = true;
        } else {
            editar_precio_dinamicamente = false;
        }
        if ($('#configuracion_imprimir_solo_ticket').val() == "True") {
            impresion_solo_ticket = true;
        } else {
            impresion_solo_ticket = false;
        }
        if ($('#confirmacion_directa').val() == "True") {
            confirmacion_directa = true;
        } else {
            confirmacion_directa = false;
        }
        /*CONFIGURACIONES*/
        filtrar();
        $('#tipo_busqueda').change(function () {
            var valor = $(this).val();
            if (valor == 1) {
                $('#filtro').hide();
                $('#filtro_').val('');
                $('#datepicker').show();
            } else {
                $('#datepicker').hide();
                $('#filtro').show();
            }
        });
        $("#periodo").change(function () {
            filtrar_fechas();
        });
        $("#filtro_").change(function () {
            filtrar();
        });
        $("#id_sucursal_online").change(function () {
            filtrar();
        });
        function filtrar() {
            periodo = $("#periodo").val();
            _filtro = $("#filtro_").val();
            _id_sucursal_online = $("#id_sucursal_online option:selected").val();
            var url = '@Url.Action("VistaParcialCotizacionOnline")';
            $.ajax({
                url: url,
                data: { idSucursal: _id_sucursal_online, periodo: periodo, filtro: _filtro },
                success: function (result) {
                    $('#TablaCotizaciones').dataTable().fnClearTable();
                    $('#TablaCotizaciones').dataTable().fnDestroy();
                    $("#CuerpoTabla").html(result);
                    $(".wrapper-dropdown-5").each(function () {
                        var dd = new DropDown($(this));
                        $(document).click(function () {
                            // all dropdowns
                            $('.wrapper-dropdown-5').removeClass('active');
                        });
                    });
                    CrearTablaCotizaciones();
                },
                async: false
            });
        }
        function filtrar_fechas() {
            periodo = $("#periodo").val();
            _filtro = $("#filtro_").val();
            _id_sucursal_online = $("#id_sucursal_online option:selected").val();
            var url = '@Url.Action("VistaParcialCotizacionOnline")';
            $.ajax({
                url: url,
                data: { idSucursal: _id_sucursal_online, periodo: periodo, filtro: _filtro },
                success: function (result) {
                    $('#TablaCotizaciones').dataTable().fnClearTable();
                    $('#TablaCotizaciones').dataTable().fnDestroy();
                    $("#CuerpoTabla").html(result);
                    $(".wrapper-dropdown-5").each(function () {
                        var dd = new DropDown($(this));
                        $(document).click(function () {
                            // all dropdowns
                            $('.wrapper-dropdown-5').removeClass('active');
                        });
                    });
                    CrearTablaCotizaciones();
                },
                async: false
            });
        }
        $("#ExportarExcel").click(function () {
            $('#TablaCotizaciones .xlsx').trigger("click");
        });
    });

    function DetalleCotizacion(id) {
        var url = '@Url.Action("ModalConceptosCotizacionOnline")';
        $.ajax({
            url: url,
            data: { id: id },
            type: "POST",
            success: function (vista) {
                bootbox.dialog({
                    className: "ModalConceptosCotizacionOnline",
                    message: vista,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }

    function ImprimirCotizacion(id) {
        ConfiguracionImpresionCotizacion(id, 0, 0);
    }
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
</script>

<script type="text/javascript">
    function CrearTablaCotizaciones() {
        $('#TablaCotizaciones').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista Cotizaciónes Online',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Lista Cotizaciónes Online',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Cotizaciónes Online',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
</script>

@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA COTIZACION*@
<script type="text/javascript">
    var id_cotizacion = 0;
    var cantidad_tickets = parseInt($('#configuracion_cantidad_tickets').val());;
    function ConfiguracionImpresionCotizacion(id) {
        id_cotizacion = id;
        if (impresion_solo_ticket) {
            try {
                GenerarTicketCotizacion();
            } catch (e) {
                var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
                $.ajax({
                    url: url,
                    data: {},
                    success: function (VistaParcial) {
                        bootbox.dialog({
                            className: "ModalAdvertenciaImpresionNoMozilla",
                            message: VistaParcial,
                            closeButton: false,
                            onEscape: true
                        });
                    },
                    async: false
                });
            }
        } else {
            EscogerModoImpresionCotizacion();
        }
    }
    function EscogerModoImpresionCotizacion(){
        var url = '@Url.Action("ModalSeleccionarModoImpresion", "printer")';
        $.ajax({
            url: url,
            data: { },
            success: function (VistaParcial) {
                bootbox.dialog({
                    className: "ModalSeleccionarModoImpresion ModalSeleccionarModoImpresionCotizacion",
                    message: VistaParcial,
                    closeButton: false,
                    onEscape: true
                });
            },
            async: false
        });
    }
    $(document).on('click', '.ModalSeleccionarModoImpresionCotizacion #selectPDF', function () {
        window.open('@Url.Action("traer_pdf_cotizacion", "FormatoPDF", new { id = "_id_" })'.replace("_id_", id_cotizacion));
        $(".ModalSeleccionarModoImpresion").modal("hide");
        bootbox.hideAll();
        window.location.reload(true);
    });
    $(document).on('click', '.ModalSeleccionarModoImpresionCotizacion #selectTicketPrinter', function () {
        try {
            $(".ModalSeleccionarModoImpresion").modal("hide");
            GenerarTicketCotizacion();
        } catch (e) {
            var url = '@Url.Action("ModalAdvertenciaImpresionNoMozilla", "Venta")';
            $.ajax({
                url: url,
                data: {},
                success: function (VistaParcial) {
                    bootbox.dialog({
                        className: "ModalAdvertenciaImpresionNoMozilla",
                        message: VistaParcial,
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        }
    });
    function GenerarTicketCotizacion() {
        cantidad_tickets = 1;
        var url = '@Url.Action("VistaParcialGenerarTicketVenta", "Venta")';
        $.ajax({
            url: url,
            data: { idVenta: id_cotizacion },
            success: function (VistaParcial) {
                $("#Ticket").html(VistaParcial);
                for (var i = 0; i < cantidad_tickets; i++) {
                    ImprimirTicketCotizacion(document.getElementById('Ticket'));
                }
            },
            async: false
        });
    }
    function ImprimirTicketCotizacion(Ticket) {
        jsPrintSetup.setSilentPrint(true);
        var content = Ticket.innerHTML
        jsPrintSetup.setOption('marginTop', 5);
        jsPrintSetup.setOption('marginBottom', 15);
        jsPrintSetup.setOption('marginLeft', 5);
        jsPrintSetup.setOption('marginRight', 5);
        // set page header
        jsPrintSetup.setOption('headerStrLeft', '');
        jsPrintSetup.setOption('headerStrCenter', '');
        jsPrintSetup.setOption('headerStrRight', '');
        // set empty page footer
        jsPrintSetup.setOption('footerStrLeft', '');
        jsPrintSetup.setOption('footerStrCenter', '');
        jsPrintSetup.setOption('footerStrRight', '');
        jsPrintSetup.definePaperSize(101, 101, "Custom", "Custom_Paper", "Custom PAPER", 300, 400, jsPrintSetup.kPaperSizeMillimeters);
        jsPrintSetup.setPaperSizeData(101);
        //pwin.document.open();
        w = window.open();
        w.document.write(content);
        w.print();
        w.close();
        //setTimeout(function () { pwin.close(); }, 1000);
        jsPrintSetup.setSilentPrint(false);
    }
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal_online = $("#id_sucursal_online").val();
        var periodo = $("#periodo").val();
        var filtro = $("#filtro_").val();
        var url = '@Url.Action("TraerPDFListaCotizacionesOnline", "FormatoPDF", new { idSucursal = "_id_", periodo = "_periodo_", filtro = "_filtro_" })'.replace("_id_", id_sucursal_online);
        url = url.replace("_periodo_", periodo);
        url = url.replace("_filtro_", filtro);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>
@*FUNCIONES PARA IMPRIMIR TICKET O PDF DE LA COTIZACION*@