﻿@model List<POS.Models.venta>
@{
    String UploadFolderTiendaOnline = ViewBag.UploadFolderTiendaOnline;
    int i = 0;
}
<table id="TablaEntrega" class="table table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Pago</th>
            <th>Envío</th>
            <th>Recibido</th>
            <th>Sucursal</th>
            <th>Art.</th>
            <th>Total</th>
            <th>Adj.</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (POS.Models.venta venta in Model)
        {
            String serie_folio = POS.Fn.Numeros.serie_folio_by_id(venta.id);
            <tr>
                <td id="@("serie_folio_" + @venta.id)" style="text-align:center;">@serie_folio</td>
                <td style="text-align: center;">@venta.cliente.Razon_social</td>
                <td style="text-align: center">
                    @if (venta.fecha != null)
                    {
                        <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.fecha.Value).TotalDays) Dias</label><br />
                        @venta.fecha.Value.ToString("dd/MM/yyyy")<br />@venta.fecha.Value.ToString("HH:mm:ss")
                    }
                </td>
                <td style="text-align: center">
                    @if (venta.fecha_liquidacion != null)
                    {
                        <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.fecha_liquidacion.Value).TotalDays) Dias</label><br />
                        @venta.fecha_liquidacion.Value.ToString("dd/MM/yyyy")<br />@venta.fecha_liquidacion.Value.ToString("HH:mm:ss")
                    }
                    else
                    {
                        <label class="boton_punteado_gris" style="width: auto; padding: 5px 10px" onclick='ConfirmarPagoOnline(@venta.id)'>
                            <i class="glyph-icon icon-money" aria-hidden="true"></i>
                        </label>
                    }
                </td>
                <td style="text-align: center">
                    @if (venta.fechaEnvio != null)
                    {
                        <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.fechaEnvio.Value).TotalDays) Dias</label><br />
                        @venta.fechaEnvio.Value.ToString("dd/MM/yyyy")<br />@venta.fechaEnvio.Value.ToString("HH:mm:ss")
                    }
                    else if (venta.fecha_liquidacion != null)
                    {
                        <label class="boton_punteado_gris" style="width: auto; padding: 5px 10px" onclick='ConfirmarEnvioOnline(@venta.id)'>
                            <i class="glyph-icon icon-truck" aria-hidden="true"></i>
                        </label>
                    }
                </td>
                <td style="text-align: center">
                    @if (venta.Fecha_entrega != null)
                    {
                        <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;">@Convert.ToInt16((DateTime.Now - venta.Fecha_entrega.Value).TotalDays) Dias</label><br />
                        @venta.Fecha_entrega.Value.ToString("dd/MM/yyyy")<br />@venta.Fecha_entrega.Value.ToString("HH:mm:ss")
                    }
                    else if (venta.fechaEnvio != null)
                    {
                        <label class="btn_agregar_entrega boton_punteado_gris" style="width: auto; padding: 5px 10px">
                            <i class="glyph-icon icon-elusive-download-alt" aria-hidden="true"></i>
                        </label>
                    }
                </td>
                <td style="text-align: center;">@venta.sucursal.nombre_sucursal</td>
                <td style="text-align: center;">@venta.conceptos_por_venta.Count</td>
                <td style="text-align: center;">$@venta.total.Value.ToString("#,##0.00")</td>
                <td style="text-align: center">
                    @{
                        try
                        {
                            int countAnexos = POS.Fn.FnFiles.BuscarCoincidenciasArchivos(UploadFolderTiendaOnline + "\\adjuntos_cliente_compra\\", venta.id + "-").Count();
                            string style_display = countAnexos == 0 ? "display:none;" : "";
                        <label class="boton_hover_verde btn_modal_anexos" idVenta="@venta.id" style="">
                            <label id="@("numAnexos" + venta.id)" class="" style="@(style_display + "font-size: 14px; margin-bottom: 0px;")">@countAnexos</label><i class="fa fa-file-text-o fa-lg" aria-hidden="true" style="margin-left: 5px"></i>
                        </label>
                        }
                        catch (Exception)
                        {
                            <label>Error</label>
                        }
                        }
                </td>
                <td style="text-align:center;">
                    <section>
                        <div class="wrapper-demo">
                            <div class="wrapper-dropdown-5" tabindex="1">
                                <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                                Acciones
                                <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                    <li>
                                        <label onclick="DetalleVenta(@venta.id)" style="color: #254054"><i class="glyph-icon icon-eye" aria-hidden="true" style="margin-right: 15px;"></i>Detalle</label>
                                    </li>
                                    <li>
                                        <label onclick="ImprimirVenta(@venta.id)" style="color: #254054"><i class="glyph-icon icon-print" aria-hidden="true" style="margin-right: 15px;"></i>Imprimir</label>
                                    </li>
                                    <li>
                                        <label onclick="CancelarVenta(@venta.id, '@serie_folio')" style="color: #ff0000"><i class="glyph-icon icon-times" aria-hidden="true" style="margin-right: 15px;"></i>Cancelar</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </td>
            </tr>
                        }
    </tbody>
</table>

<script>
        $(document).ready(function () {
            $(".divArchivosAnexos").each(function () {
                var div = $(this);
                id = div.attr("idVenta");
                div.html("<label>Cargando...</label>");
                var url = '@Url.Action("VistaParcialTraerArchivosOrdenesCompra", "Venta")';
                $.ajax({
                    url: url,
                    type: "POST",
                    data: { id_cotizacion: id },
                    success: function (Vista) {
                        div.html(Vista);
                    },
                    async: true
                });

            });
        });
</script>

<script type="text/javascript">
        $(".btn_modal_anexos").click(function () {
            idVenta = $(this).attr("idVenta");
            $('.modal').modal('hide');
            var url = '@Url.Action("ModalAnexosVenta", "Venta")';
            $.post(url, { id: idVenta },
                function (x) {
                    bootbox.dialog({
                        title: "Anexos",
                        message: x,
                        className: "ModalAutoHeight ModalHeaderVerde"
                    });
                });
        });
        $(document).on('click', '.btn_ver_archivo', function () {
            FileName = $(this).attr("FileName");
            //existe el documento??
            url = '@Url.Action("ExisteDocumento", "Venta")';
            $.ajax({
                type: "POST",
                url: url,
                data: { FileName: FileName, carpeta: "adjuntos_cliente_compra" },
                success: function (result) {
                    if (result.success) {
                        url = '@Url.Action("descargarDocumento", "Venta")';
                        url += "?carpeta=adjuntos_cliente_compra&FileName=" + FileName;
                        window.location = url;
                    }
                    else {
                        alert("Archivo no encontrado");
                    }
                },
                async: false
            });
        });
</script>

<script>
    $("#TablaEntrega").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],                  // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: [9, 10],                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>