﻿@{
    ViewBag.Title = "POS - Movimientos Efectivo";
}

@{
    List<POS.Models.movimiento_efectivo> ListaMovimientosEfectivo = ViewBag.ListaMovimientosEfectivo as List<POS.Models.movimiento_efectivo>;
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Movimientos Efectivo</h3>

    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="display: inline-block;">
            <div style="margin-left: 10px; margin-top: 10px; float: left;">
                <label>Periodo: </label>
                <div class="btn btn-primary" style="width: 375px; background-color: #254054; border-color: #254054;">
                    <i class="glyph-icon icon-calendar"></i>
                    <input type="text" id="periodo" class="form-control" readonly="readonly" style="border: none; background-color: transparent; color: white; padding-left: 0px; display: inline; box-shadow: none; cursor: pointer; opacity: 100; text-align: center;" />
                </div>
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Sucursal: </label>
                @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 150px;" })
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Estatus: </label>
                <select class="form-control" id="estado_del_movimiento" name="estado_del_movimiento" style="display: inline; width: 150px;">
                    <option value="0">Todos</option>
                    <option value="1">Activos</option>
                    <option value="2">Cancelado</option>
                </select>
            </div>
            <div style="float: left; margin-left: 10px; margin-top: 10px;">
                <label>Tipo de Movimiento: </label>
                @Html.DropDownList("tipo_de_movimiento", null, new { @class = "form-control", @style = "display: inline; width: 150px;" })
            </div>
        </div>
        <div style="display: inline-block; float: right;">
            <div style="margin-right: 10px; margin-top: 15px; float: right;">
                <a class="btn btn-success" onclick="MostrarModalagregarMovimiento()">
                    <span class="glyph-icon icon-separator">
                        <i class="glyph-icon icon-plus"></i>
                    </span>
                    <span class="button-content">Nuevo Movimiento</span>
                </a>
            </div>
            <div style="margin-right: 10px; margin-top: 15px; float: right;">
                <a onclick="MostrarModalGenerarFondoCajaAutomatico()" class="btn btn-info" title="Generer Fondo de Caja Automatico">
                    <span class="glyph-icon icon-separator">
                        <i class="glyph-icon icon-iconic-layers-alt"></i>
                    </span>
                    <span class="button-content">Generar Fondo Caja</span>
                </a>
            </div>
        </div>
        <table id="TablaMovimientosEfectivo" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Tipo Movimiento</th>
                    <th>Monto</th>
                    <th>Descripción</th>
                    <th>Fecha Creación</th>
                    <th>Usuario Creación</th>
                    <th>Descripción cancelación</th>
                    <th>Fecha Cancelación</th>
                    <th>Usuario Cancelación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="CuerpoTablaMovimientosEfectivo">
                @foreach (POS.Models.movimiento_efectivo movimiento in ListaMovimientosEfectivo)
                {
                    <tr class=@(movimiento.estatus ? "tr_movimiento_activo" : "tr_movimiento_inactivo")>
                        <td style="text-align: center;">@movimiento.sucursal.nombre_sucursal.ToUpper()</td>
                        <td style="text-align: center;">@movimiento.tipo_movimiento_efectivo.nombre.ToUpper()</td>
                        <td style="text-align: center;">$@movimiento.monto</td>
                        <td style="text-align: center;">@movimiento.descripcion</td>
                        <td style="text-align: center;">@movimiento.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td style="text-align: center;">@movimiento.usuario_punto_venta.nombre_usuario.ToUpper()</td>
                        <td style="text-align: center;">@(movimiento.motivo_cancelacion != null ? movimiento.motivo_cancelacion.ToUpper() : "" )</td>
                        <td style="text-align: center;">@(movimiento.fecha_cancelacion != null ? movimiento.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss") : "" )</td>
                        <td style="text-align: center;">@(movimiento.id_usuario_cancela != 0 && movimiento.id_usuario_cancela != null ? movimiento.usuario_punto_venta1.nombre_usuario.ToUpper() : "" )</td>
                        <td style="text-align: center;">
                            @if (movimiento.estatus)
                            {
                                <section>
                                    <div class="wrapper-demo">
                                        <div class="wrapper-dropdown-5" tabindex="1">
                                            <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                                            Acciones
                                            <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                                <li>
                                                    <label onclick="MostrarModalConfirmarCancelarMovimiento(@movimiento.id)" style="color: #ff0000"><i class="glyph-icon icon-times" aria-hidden="true" style="margin-right: 15px;"></i>Cancelar</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#periodo').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
            "timePickerSeconds": true,
            "locale": {
                "format": "MM/DD/YYYY hh:mm:ss A",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizado",
                "daysOfWeek": ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                "firstDay": 1
            },
            ranges: {
                'Hoy': ["@ViewBag.HoyInicio", "@ViewBag.HoyFin"],
                'Ayer': ["@ViewBag.AyerInicio", "@ViewBag.AyerFin"],
                'Antier': ["@ViewBag.AntierInicio", "@ViewBag.AntierFin"],
                'Semana Actual': ["@ViewBag.SemanaActualInicio", "@ViewBag.SemanaActualFin"],
                'Semana Pasada': ["@ViewBag.SemanaPasadaInicio", "@ViewBag.SemanaPasadaFin"],
                'Semana Antepasada': ["@ViewBag.SemanaAntepasadaInicio", "@ViewBag.SemanaAntepasadaFin"],
                'Quincena Actual': ["@ViewBag.QuincenaActualInicio", "@ViewBag.QuincenaActualFin"],
                'Quincena Pasada': ["@ViewBag.QuincenaPasadaInicio", "@ViewBag.QuincenaPasadaFin"],
                'Quincena Antepasada': ["@ViewBag.QuincenaAntepasadaInicio", "@ViewBag.QuincenaAntepasadaFin"],
                'Mes Actual': ["@ViewBag.MesActualInicio", "@ViewBag.MesActualFin"],
                'Mes Pasado': ["@ViewBag.MesPasadoInicioFin", "@ViewBag.MesPasadoFin"],
                'Mes Antepasado': ["@ViewBag.MesAntepasadoInicio", "@ViewBag.MesAntepasadoFin"]
            }
        });
    });
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
    $(function () {
        $(".wrapper-dropdown-5").each(function () {
            var dd = new DropDown($(this));
            $(document).click(function () {
                // all dropdowns
                $('.wrapper-dropdown-5').removeClass('active');
            });
        });
    });
</script>


<script type="text/javascript">
    function MostrarModalagregarMovimiento() {
        var url = '@Url.Action("ModalAgregarMovimiento")';
        $.ajax({
            url: url,
            type: "POST",
            data: {},
            success: function (Modal) {
                bootbox.dialog({
                    message: Modal,
                    className: "ModalAgregarMovimientoEfectivo",
                    onEscape: true,
                    closeButton: false
                });
            },
            async: false
        });
    }
    function MostrarModalConfirmarCancelarMovimiento(id) {
        var url = '@Url.Action("ModalConfirmarCancelarMovimiento")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id: id },
            success: function (Modal) {
                bootbox.dialog({
                    message: Modal,
                    className: "ModalConfirmarCancelarMovimientoEfectivo",
                    onEscape: true,
                    closeButton: false
                });
            },
            async: false
        });
    }
    function MostrarModalGenerarFondoCajaAutomatico() {
        var id_sucursal = $('#id_sucursal').val();
        var url = '@Url.Action("ModalGenerarFondoCajaAutomatico")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_sucursal: id_sucursal },
            success: function (Modal) {
                bootbox.dialog({
                    message: Modal,
                    className: "ModalGenerarFondoCajaAutomatico",
                    onEscape: true,
                    closeButton: false
                });
            },
            async: false
        });
    }
    $(document).on('click', '.ModalAgregarMovimientoEfectivo #BotonAgregarMovimiento', function () {
        var seguir = true;
        $('.ModalAgregarMovimientoEfectivo .obligatorio').each(function () {
            if ($(this).val() == null || $(this).val() == undefined || $(this).val() == "") {
                seguir = false;
            }
        });
        if (seguir) {
            var movimiento_efectivo = new Object();
            movimiento_efectivo.id_sucursal = $('.ModalAgregarMovimientoEfectivo #id_sucursal').val();
            movimiento_efectivo.id_tipo_movimiento_efectivo = $('.ModalAgregarMovimientoEfectivo #id_tipo_movimiento_efectivo').val();
            movimiento_efectivo.monto = parseFloat($('.ModalAgregarMovimientoEfectivo #monto').val());
            movimiento_efectivo.descripcion = $('.ModalAgregarMovimientoEfectivo #descripcion').val();

            var params = {
                'movimiento_efectivo': movimiento_efectivo
            };
            //guardar movimiento de efectivo
            var url = '@Url.Action("AgregarMovimientoEfectivo")';
            $.ajax({
                url: url,
                type: "POST",
                contentType: 'application/json;',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.success) {
                        $('.ModalAgregarMovimientoEfectivo').modal('hide');
                        window.location.reload(true);
                    }
                    else {
                        alert("Error al guardar cotización:\n" + result.error);
                    }
                },
                async: false
            });
        }
        else {
            $("#AlertaFormulario").slideDown('slow').delay(3000).slideUp('slow');
        }
    });
    $(document).on('click', '.ModalGenerarFondoCajaAutomatico #BotonAgregarMovimiento', function () {
        var seguir = true;
        $('.ModalGenerarFondoCajaAutomatico .obligatorio').each(function () {
            if ($(this).val() == null || $(this).val() == undefined || $(this).val() == "") {
                seguir = false;
            }
        });
        if (seguir) {
            var movimiento_efectivo = new Object();
            movimiento_efectivo.id_sucursal = $('.ModalGenerarFondoCajaAutomatico #id_sucursal').val();
            movimiento_efectivo.id_tipo_movimiento_efectivo = $('.ModalGenerarFondoCajaAutomatico #id_tipo_movimiento_efectivo').val();
            movimiento_efectivo.monto = parseFloat($('.ModalGenerarFondoCajaAutomatico #monto').val());
            movimiento_efectivo.descripcion = $('.ModalGenerarFondoCajaAutomatico #descripcion').val();

            var params = {
                'movimiento_efectivo': movimiento_efectivo
            };
            //guardar movimiento de efectivo
            var url = '@Url.Action("AgregarMovimientoEfectivo")';
            $.ajax({
                url: url,
                type: "POST",
                contentType: 'application/json;',
                dataType: 'json',
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.success) {
                        $('.ModalGenerarFondoCajaAutomatico').modal('hide');
                        window.location.reload(true);
                    }
                    else {
                        alert("Error al guardar cotización:\n" + result.error);
                    }
                },
                async: false
            });
        }
        else {
            $("#AlertaFormulario").slideDown('slow').delay(3000).slideUp('slow');
        }
    });
    $(document).on('click', '.ModalConfirmarCancelarMovimientoEfectivo #confirmar_cancelar_movimiento', function () {
        var seguir = true;
        $('.ModalConfirmarCancelarMovimientoEfectivo .obligatorio').each(function () {
            if ($(this).val() == null || $(this).val() == undefined || $(this).val() == "") {
                seguir = false;
            }
        });
        if (seguir) {
            var movimiento_efectivo = new Object();
            movimiento_efectivo.id_sucursal = $('#id_sucursal').val();
            movimiento_efectivo.id_tipo_movimiento_efectivo = $('.ModalAgregarMovimientoEfectivo #id_tipo_movimiento_efectivo').val();
            movimiento_efectivo.monto = parseFloat($('.ModalAgregarMovimientoEfectivo #monto').val());
            movimiento_efectivo.descripcion = $('.ModalAgregarMovimientoEfectivo #descripcion').val();

            var params = {
                'movimiento_efectivo': movimiento_efectivo
            };
            //guardar movimiento de efectivo
            var url = '@Url.Action("CancelarMovimientoEfectivo")';
            $.ajax({
                url: url,
                type: "POST",
                dataType: 'json',
                data: { id: $('.ModalConfirmarCancelarMovimientoEfectivo #id').val(), motivo_cancelacion: $('.ModalConfirmarCancelarMovimientoEfectivo #motivo_cancelacion').val() },
                success: function (result) {
                    if (result.success) {
                        $('.ModalConfirmarCancelarMovimientoEfectivo').modal('hide');
                        window.location.reload(true);
                    }
                    else {
                        alert("Error al cancelar el movimiento:\n" + result.error);
                    }
                },
                async: false
            });
        }
        else {
            $("#AlertaFormulario").slideDown('slow').delay(3000).slideUp('slow');
        }
    });

    function actualizar_vista_parcial() {
        var id_sucursal_virtual = recuperar_id_sucursal_virtual();
        if (id_sucursal_virtual != null)
            _id_sucursal = id_sucursal_virtual;
        else
            _id_sucursal = $("#id_sucursal").val();
        var url = '@Url.Action("_MovimientosEfectivo")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_sucursal: _id_sucursal, opcion_estatus: $('#estado_del_movimiento').val(), opcion_tipo_movimiento: $('#tipo_de_movimiento').val(), periodo: $("#periodo").val() },
            success: function (Modal) {
                $('#TablaMovimientosEfectivo').dataTable().fnClearTable();
                $('#TablaMovimientosEfectivo').dataTable().fnDestroy();
                $('#CuerpoTablaMovimientosEfectivo').html(Modal);
                $(".wrapper-dropdown-5").each(function () {
                    var dd = new DropDown($(this));
                    $(document).click(function () {
                        $('.wrapper-dropdown-5').removeClass('active');
                    });
                });
                CrearTablaMovimientos();
            },
            async: false
        });
    }
    function CrearTablaMovimientos() {
        $('#TablaMovimientosEfectivo').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true,
            dom: 'Bflrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="glyph-icon icon-clipboard"></i></span><span class="button-content">&nbsp;&nbsp;Copiar',
                    titleAttr: 'Copiar al Portapapeles',
                    className: 'btn btn-default',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'excelHtml5',
                    title: 'Lista de Movimientos de Efectivo',
                    text: '<i class="glyph-icon icon-file-excel-o"></i></span><span class="button-content">&nbsp;&nbsp;Excel',
                    titleAttr: 'Exporta a Excel',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Lista de Movimientos de Efectivo',
                    text: '<i class="glyph-icon icon-file-pdf-o"></i></span><span class="button-content">&nbsp;&nbsp;PDF',
                    titleAttr: 'Exporta a PDF',
                    className: 'btn btn-danger',
                    message: 'Movimientos de Efectivo',
                    orientation: 'landscape',
                    pageSize: 'LETTER',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }
            ],
            language: idioma_espaniol_datatable
        });
    }
    $(document).on('change', '#id_sucursal', function () {
        establecer_id_sucursal_virtual(parseInt($(this).val()));
        actualizar_vista_parcial();
    });
    $(document).on('change', '#estado_del_movimiento, #tipo_de_movimiento, #periodo', function () {
        actualizar_vista_parcial();
    });
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var id_sucursal = $("#id_sucursal").val();
        var opcion_estatus = $('#estado_del_movimiento').val();
        var opcion_tipo_movimiento = $('#tipo_de_movimiento').val();
        var periodo = $("#periodo").val();
        var url = '@Url.Action("PDFListaMovimientosEfectivo", "FormatoPDF", new { id_sucursal = "_id_", opcion_estatus = "_opcion_estatus_", opcion_tipo_movimiento = "_opcion_tipo_movimiento_", periodo = "_periodo_" })'.replace("_id_", id_sucursal);
        url = url.replace("_opcion_estatus_", opcion_estatus);
        url = url.replace("_opcion_tipo_movimiento_", opcion_tipo_movimiento);
        url = url.replace("_periodo_", periodo);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>

<script>
    $(document).ready(function () {
        $('#tipo_de_movimiento').prepend('<option value="0">Todos</option>');
        $('#tipo_de_movimiento option[value="0"]').attr("selected", "selected");
        CrearTablaMovimientos();
        actualizar_vista_parcial();
        $("#ExportarExcel").click(function () {
            $('#TablaMovimientosEfectivo .xlsx').trigger("click");
        });
    });
    /*FUNCION PARA EN EL CAMPO DE CANTIDAD SOLO PERMITA DECIMALES*/
    $(document).on('keypress', '.decimal', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
</script>
