﻿@{
    List<POS.Models.familia> ListaFamilia = ViewBag.familias as List<POS.Models.familia>;
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Familias</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaFamilias" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (POS.Models.familia familia in ListaFamilia)
                {
                    <tr>
                        <td style="text-align: center;">@familia.nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

