﻿@{
    List<POS.Models.sucursal> ListaSucursales = ViewBag.ListaSucursales as List<POS.Models.sucursal>;
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Sucursales</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaSucursales" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio Dolar</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
                @foreach (POS.Models.sucursal sucursal in ListaSucursales)
                {
                    <tr>
                        <td style="text-align: center;">@sucursal.nombre_sucursal</td>
                        <td style="text-align: center;">@sucursal.precio_dolar</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>