﻿@model List<POS.Models.venta>
<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal - @ViewBag.periodo</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Cotizaciones Online</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaCotizaciones" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Vendedor</th>
                    <th>Conceptos</th>
                    <th style="text-align: right;">Ajuste</th>
                    <th style="text-align: right;">Total</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="text-align: center;">@item.Serie-@POS.Fn.Numeros.agregarCeros(item.Folio.Value)</td>
                        <td style="text-align: center;">@item.cliente.Razon_social</td>
                        <td style="text-align: center;">@item.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td style="text-align: center;">@item.sucursal.nombre_sucursal</td>
                        <td style="text-align: center;">@item.usuario_punto_venta.nombre_usuario</td>
                        <td style="text-align: center;">@item.conceptos_por_venta.Count</td>
                        <td style="text-align: right;">
                            @{
                                decimal diff = POS.Fn.FnVenta.traerDiffMXN(item.id);
                                string diff_string = Math.Round(diff).ToString("#,##0.00").Replace("-", "");
                                if (Convert.ToDecimal(diff_string) != 0)
                                {
                                    <div style="margin-right: 20px">
                                        $ @Math.Round(item.total.Value, 2).ToString("#,##0.00") MXN
                                    </div>

                                    if (diff > 0)
                                    {
                                        //aumento
                                        <div>
                                            <label style="color: #fc5858">+ $@diff_string<i class="glyph-icon icon-arrow-up" aria-hidden="true" style="margin-right: 15px;padding-left: 5px;"></i></label>
                                        </div>
                                    }
                                    if (diff < 0)
                                    {
                                        //baja
                                        <div>
                                            <label style="color: #00b73e">- $@diff_string<i class="glyph-icon icon-arrow-down" aria-hidden="true" style="margin-right: 15px;padding-left: 5px;"></i></label>
                                        </div>
                                    }
                                }
                            }
                        </td>
                        <td style="text-align: right;">@POS.Fn.FnVenta.calcularNuevoTotalSumPesos(item.id)</td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>