﻿@{
    List<POS.Models.venta> ListaVentas = ViewBag.ListaVentas as List<POS.Models.venta>;
}
<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Entregas</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaEntrega" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Vendedor</th>
                    <th>Conceptos</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
                @foreach (POS.Models.venta venta in ListaVentas)
                {
                    <tr>
                        <td id="@("serie_folio_" + venta.id) style="text-align:center;">@POS.Fn.Numeros.serie_folio_by_id(venta.id)</td>
                        <td style="text-align:center;">@venta.cliente.Razon_social</td>
                        <td style="text-align:center;">@venta.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td style="text-align:center;">@venta.sucursal.nombre_sucursal</td>
                        <td style="text-align:center;">@venta.usuario_punto_venta.nombre_usuario</td>
                        <td style="text-align:center;">@venta.conceptos_por_venta.Count</td>
                        <td style="text-align:center;">@venta.total</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>