﻿@model POS.Models.cliente
@{
    ViewBag.Title = "POS - Ventas A Credito";
    List<POS.Models.venta> listaVentasCreditoCliente = ViewBag.listaVentasCreditoCliente as List<POS.Models.venta>;
    List<POS.Models.nota_credito> listaNotasCredito = ViewBag.listaNotasCredito as List<POS.Models.nota_credito>;
    List<POS.Models.abono> ListaAbonos = ViewBag.ListaAbonos as List<POS.Models.abono>;
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Creditos: @Model.Razon_social</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
       <table class="table" style="width: 100%;">
            <tr>
                <td style="border: 0px; text-align: center; background-color: #506676; color: white;">Creditos</td>
            </tr>
            <tr>
                <td style="border: 0px;">
                    <table id="TablaCreditosPorClientes" class="table table-hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Sucursal</th>
                                <th>ID Venta</th>
                                <th>Fecha</th>
                                <th>Fecha De Pago</th>
                                <th>Vencimiento</th>
                                <th>Vendedor</th>
                                <th>Total</th>
                                <th>Adeudo Imp.</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody id="CuerpoTabla">
                            @foreach (var item in listaVentasCreditoCliente)
                            {
                                <tr name="@item.id">
                                    <td style="text-align: center;">@item.sucursal.nombre_sucursal</td>
                                    <td style="text-align: center;">@item.Serie-@POS.Fn.Numeros.agregarCeros(item.Folio.Value)</td>
                                    <td id="@("fecha_de_venta_" + item.id)" style="text-align: center;">@item.Fecha_entrega.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
                                    <td id="@("fecha_de_pago_" + item.id)" style="text-align: center;"></td>
                                    <td id="@("vencida_" + item.id)" style="text-align: center;"></td>
                                    <td style="text-align: center;">@item.usuario_punto_venta.nombre_usuario</td>
                                    <td style="text-align: center;">@item.total</td>
                                    <td style="text-align: center;">@item.aduedo</td>
                                    <td class="estado" style="text-align: center;">
                                        @if (item.aduedo.Value != 0)
                                        {
                                            <label style="color: #0d5a22;"><span class="visible-print-block">Pendiente</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                        }
                                        else
                                        {
                                            <label style="color: #ff0000;"><span class="visible-print-block">Pagada</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border: 0px; text-align: center; background-color: #506676; color: white;">Notas De Credito</td>
            </tr>
            <tr>
                <td style="border: 0px;">
                    <table id="TablaNotasCreditoPorClientes" class="table table-hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Sucursal</th>
                                <th>ID Nota Credito</th>
                                <th>ID Venta</th>
                                <th>Estatus</th>
                                <th>Fecha Creacion</th>
                                <th>Fecha Uso</th>
                                <th>Fecha Cancelacion</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                        <tbody id="CuerpoTablaNotasCreditoPorClientes">
                            @foreach (var item in listaNotasCredito)
                            {
                                <tr name="@item.id">
                                    <td style="text-align: center;">@item.venta.sucursal.nombre_sucursal</td>
                                    <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(item.id)</td>
                                    <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id(item.id_venta)</td>
                                    <td style="text-align: center;">
                                        @{
                                            if (item.id_estatus_nota_credito == 1)
                                            {
                                                <label style="color: #0d5a22;"><span class="visible-print-block">@item.estatus_nota_credito.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                            }
                                            else if (item.id_estatus_nota_credito == 2)
                                            {
                                                <label style="color: #c58557;"><span class="visible-print-block">@item.estatus_nota_credito.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                            }
                                            else
                                            {
                                                <label style="color: #ff0000;"><span class="visible-print-block">@item.estatus_nota_credito.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                            }
                                        }
                                    </td>
                                    <td style="text-align: center;">
                                        @if (item.fecha_creacion != null)
                {
                                            @item.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td style="text-align: center;">
                                        @if (item.fecha_uso != null)
                {
                                            @item.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td style="text-align: center;">
                                        @if (item.fecha_cancelacion != null)
                {
                                            @item.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td style="text-align: center;"><span>$</span>@item.cantidad</td>
                                </tr>
                                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border: 0px; text-align: center; background-color: #506676; color: white;">Abonos</td>
            </tr>
            <tr>
                <td>
                    <div style="margin-right: 10px; float: right;">
                        <a id="ExportarExcelAbonos" class="btn btn-success" style="margin-top: 6px;">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-file-excel-o"></i>
                            </span>
                            <span class="button-content">Exportar A Excel</span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="border: 0px;">
                    <table id="TablaAbonos" class="table table-hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Sucursal</th>
                                <th>Id Abono</th>
                                <th>Id Venta</th>
                                <th>Tipo De Pago</th>
                                <th>Fecha</th>
                                <th>Usuario Recibe</th>
                                <th>Estatus</th>
                                <th>Fecha De Cancelacion</th>
                                <th>Usuario Cancelacion</th>
                                <th>Importe</th>
                            </tr>
                        </thead>
                        <tbody id="CuerpoTablaAbonos" style="font-size: 13px;">
                            @foreach (POS.Models.abono abono in ListaAbonos)
                            {
                                <tr>
                                    <td style="text-align: center;">@abono.venta.sucursal.nombre_sucursal</td>
                                    <td style="text-align: center;">@abono.id</td>
                                    <td style="text-align: center;">@abono.venta.Serie-@POS.Fn.Numeros.agregarCeros(abono.venta.Folio.Value)</td>
                                    <td style="text-align: center;">@abono.tipo_pago_abono.tipo</td>
                                    <td style="text-align: center;">@abono.fecha.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    <td style="text-align: center;">@abono.usuario_punto_venta1.nombre_usuario</td>
                                    @if (abono.estatus == true)
                                    {
                                        <td style="text-align: center;">
                                            <label style="color: #0d5a22;"><span class="visible-print-block">Activo</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="text-align: center;">
                                            <label style="color: #ff0000;"><span class="visible-print-block">Cancelado</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                        </td>
                                    }
                                    <td style="text-align: center;">
                                        @if (abono.fecha_cancelacion != null)
                                        {
                                            @abono.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td style="text-align: center;">
                                        @if (abono.usuario_punto_venta != null)
                                        {
                                            @abono.usuario_punto_venta.nombre_usuario
                                        }
                                    </td>
                                    <td style="text-align: center;">@abono.importe</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        
    </div>
</div>




