﻿@{
    List<POS.Models.cliente> ListaClientes = ViewBag.ListaClientes as List<POS.Models.cliente>;
}
<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Clientes</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaClientes" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Tipo De Cliente</th>
                    <th>Nombre o Razon Social</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Limite De Credito</th>
                    <th>Adeudo</th>
                    <th>Dias De Credito</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla" style="font-size: 13px;">
                @foreach (POS.Models.cliente cliente in ListaClientes)
                {
                    <tr>
                        <td style="text-align: center;">@cliente.sucursal.nombre_sucursal</td>
                        <td style="text-align: center;">@cliente.tipocliente.Tipo</td>
                        <td style="text-align: center;">@cliente.Razon_social</td>
                        <td style="text-align: center;">@cliente.correo</td>
                        <td style="text-align: center;">@cliente.telefono</td>
                        <td style="text-align: center;">@cliente.Limite_credito</td>
                        <td style="text-align: center;">@cliente.Adeudo_credito</td>
                        <td style="text-align: center;">@cliente.dias_credito </td>
                        <td style="text-align: center;">
                            @{
                                if (cliente.id_estatus_cliente == 1)
                                {
                                    <label style="color: #0d5a22;"><span class="visible-print-block">@cliente.estatus_cliente.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                }
                                else
                                {
                                    <label style="color: #ff0000;"><span class="visible-print-block">@cliente.estatus_cliente.nombre.ToUpper()</span><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label>
                                }
                            }
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>