﻿@{
    List<POS.Models.cliente> ListaCreditosClientes = ViewBag.ListaCreditosClientes as List<POS.Models.cliente>;
}
<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Creditos Por Cliente</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaCreditosPorClientes" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Tipo De Cliente</th>
                    <th>Razon Social</th>
                    <th>Correo</th>
                    <th>Limite De Credito</th>
                    <th>Dias De Credito</th>
                    <th>Adeudo</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla" style="font-size: 13px;">
                @foreach (POS.Models.cliente cliente in ListaCreditosClientes)
                {
                    <tr>
                        <td style="text-align: center;">@cliente.sucursal.nombre_sucursal</td>
                        <td style="text-align: center;">@cliente.tipocliente.Tipo</td>
                        <td style="text-align: center;">@cliente.Razon_social</td>
                        <td style="text-align: center;">@cliente.correo</td>
                        <td style="text-align: center;">@cliente.Limite_credito</td>
                        <td style="text-align: center;">
                            <label style="font-weight: normal; width: 20px; text-align: right;">@cliente.dias_credito</label>
                            <a href="@Url.Action("VistaEditarDiasCredito", new { id = cliente.id, ruta = 1 })" class="btn btn-info"></a>
                        </td>
                        <td style="text-align: center;">@cliente.Adeudo_credito</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>