﻿@{
    List<POS.Models.inventario> ListaInventario = ViewBag.ListaInventario as List<POS.Models.inventario>;
}
<div id="page-content" style="background: #fff;">
    <h4 class="title-hero" style="text-align: center; background-color: #254054; color: white;  margin-bottom: -18.3px;">Sucursal @ViewBag.sucursal</h4>
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Inventario</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaInventarios" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Familia</th>
                    <th>Subfamilia</th>
                    <th>Proveedor</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody id="CuerpoTabla">
                @foreach (POS.Models.inventario inventario in ListaInventario)
                {
                    <tr>
                        <td style="text-align: center;">@inventario.sucursal.nombre_sucursal</td>
                        <td style="text-align: center;">@inventario.producto.Codigo</td>
                        <td style="text-align: center;">@inventario.producto.Descripcion</td>
                        <td style="text-align: center;">@inventario.producto.marca.nombre</td>
                        <td style="text-align: center;">@inventario.producto.subfamilia.familia.nombre</td>
                        <td style="text-align: center;">@inventario.producto.subfamilia.nombre</td>
                        <td style="text-align: center;">@inventario.producto.proveedor.nombre_proveedor  <strong>@inventario.producto.proveedor.folio</strong></td>
                        @{
                            var cantidad_inventario = inventario.cantidad;

                            if (cantidad_inventario > 7)
                            {
                                <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #0d5a22;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
                            }
                            else if (cantidad_inventario >= 3)
                            {
                                <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #ffd800;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
                            }
                            else if (cantidad_inventario > 0)
                            {
                                <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #ff6a00;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
                            }
                            else
                            {
                                <td style="text-align: center;">@inventario.cantidad <label class="hidden-print" style="color: #ff0000;"><i class="fa fa-circle fa-lg" aria-hidden="true"></i></label></td>
                            }
                        }
                    </tr>
                            }
            </tbody>
        </table>
    </div>
</div>
