﻿@{
    POS.Models.venta venta = ViewBag.venta as POS.Models.venta;
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    POS.Models.sucursal sucursal = POS.Fn.Configuracion.TraerConfiguracionSucursales().Where(x => x.id == venta.sucursal_id).Single();
    String UploadFolderTiendaOnline = ViewBag.UploadFolderTiendaOnline;
    List<POS.Models.nota_credito> ListaNotasCredito = ViewBag.ListaNotasCredito as List<POS.Models.nota_credito>;
    List<POS.Models.descuento> ListaDescuentos = ViewBag.ListaDescuentos as List<POS.Models.descuento>;
    Decimal total_notas_creditos = (Decimal)ListaNotasCredito.Select(x => x.cantidad).Sum();
    POS.Models.configuracion_pos configuracion_pos = POS.Fn.Configuracion.TraerConfiguracionPOS();
    Decimal total_descuentos = ViewBag.total_descuentos;
    Decimal total_porcentaje_descuentos = ViewBag.total_porcentaje_descuentos;
    Decimal total_venta = venta.conceptos_por_venta.Select(x => x.importe_mas_iva.Value).Sum() - total_notas_creditos - total_descuentos;
}

<style>
    p {
        margin: 0 !important;
    }
</style>
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootstrap.min.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/font-awesome.min.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/prettyPhoto.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/price-range.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/animate.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/main.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/responsive.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/etalage.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootbox.min.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/progressTracker/progress-tracker.css")" />
<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Montserrat">
<script type='text/javascript' src="@Url.Content("~/js/jquery.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/number.js")"></script>

<html>
<body style="font-family: 'Montserrat', sans-serif;">
    <section id="cart_items">
        <div class="">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                </div>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="@Url.Content("/UploadFolder/logo/" + configuracion_general.logo)" alt="Logotipo" style="width: 50%; margin-bottom:20px; margin-top:20px; margin-left: 2%;" />
                    </div>
                </div>
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">
                    <h2 style="font-size: 50px; color: #2f2f2f; font-weight: bold;">VENTA</h2>
                </div>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        @if (configuracion_general.marca != null)
                        {
                            <p><label>@configuracion_general.marca</label></p>
                        }
                        @if (sucursal.razon_social != null)
                        {
                            <p><label>@sucursal.razon_social</label></p>
                        }
                        @if (sucursal.rfc != null)
                        {
                            <p><label>@sucursal.rfc</label></p>
                        }
                        <p>
                            @if (sucursal.calle != null)
                            {
                                <label style="display: inline;">@sucursal.calle</label>
                            }
                            @if (sucursal.exterior != null)
                            {
                                <label style="display: inline;">@sucursal.exterior</label>
                            }
                            @if (sucursal.interior != null)
                            {
                                <label style="display: inline;">@sucursal.interior</label>
                            }
                            @if (sucursal.colonia != null)
                            {
                                <label style="display: inline;">@sucursal.colonia</label>
                            }
                        </p>
                        <p>
                            @if (sucursal.municipio != null)
                            {
                                <label style="display: inline;">@sucursal.municipio</label>
                            }
                            @if (sucursal.estado != null)
                            {
                                <label style="display: inline;">@sucursal.estado</label>
                            }
                            @if (sucursal.pais != null)
                            {
                                <label style="display: inline;">@sucursal.pais</label>
                            }
                            @if (sucursal.cp != null)
                            {
                                <label style="display: inline;">@sucursal.cp</label>
                            }
                        </p>
                        @foreach (POS.Models.configuracion_sucursal_telefono configuracion_sucursal_telefono in sucursal.configuracion_sucursal_telefono.ToList())
                        {
                            if (configuracion_sucursal_telefono.nombre != null)
                            {
                            <p>@configuracion_sucursal_telefono.nombre</p>
                            }
                        }
                        @foreach (POS.Models.configuracion_sucursal_correo configuracion_sucursal_correo in sucursal.configuracion_sucursal_correo.ToList())
                        {
                            if (configuracion_sucursal_correo.correo != null)
                            {
                            <p>@configuracion_sucursal_correo.correo</p>
                            }
                        }
                        <br />
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float: right; text-align: right">
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>FECHA:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>@venta.fecha.Value.ToString("dd/MM/yyy HH:mm")</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>CLIENTE No.:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>@venta.Cliente_id</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>Cotización No.:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>@POS.Fn.Numeros.serie_folio_by_id(venta.id)</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>Orden No.:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>@String.Format("{0:00000000}", 1)</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>Factura No.:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>@String.Format("{0:00000000}", 1)</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>Método de envío:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            @if (venta.guiaEnvio == null || venta.guiaEnvio.Equals(""))
                            {
                                <p>----</p>
                            }
                            else
                            {
                                <p>@venta.guiaEnvio</p>
                            }
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>Método de pago:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            @if (venta.multiple_pago.Any())
                            {
                                foreach (var _pago in venta.multiple_pago)
                                {
                                    <p>@_pago.tipo_pago_venta.tipo: $ @_pago.cantidad.Value.ToString("#,##0.00") @_pago.referencia</p>
                                }
                            }
                            else
                            {
                                <p>----</p>
                            }
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong><img class="bandera_unitario" src='@Url.Content("~/assets-minified/images/dolares.png")' style='width: 20px; margin:0px 10px;' />Dólar:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>
                                <label style="font-weight:normal;"> $@venta.precio_dolar_venta MXN</label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="margin-bottom:20px;">
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5;">
                    <div class=" col-lg-6  col-md-6  col-sm-6 col-xs-6" style="height: 150px; margin-top: 5px; margin-bottom: 5px">
                        <strong style="font-size: 20px;">FACTURAR A:</strong>
                        <p>
                            <label style="display:inline;">RAZÓN SOCIAL:</label>
                            <label style="display:inline;">@venta.cliente.Razon_social</label>
                        </p>
                        <p>
                            <label style="display:inline;">RFC:</label>
                            <label style="display:inline;">@venta.cliente.RFC</label>
                        </p>
                        <p>
                            <label style="display:inline;">DIRECCION:</label>
                            @if (venta.cliente.calle != null)
                            {
                                <label style="display:inline;">@venta.cliente.calle</label>
                            }
                            @if (venta.cliente.exterior != null)
                            {
                                <label style="display:inline;">@venta.cliente.exterior</label>
                            }
                            @if (venta.cliente.interior != null)
                            {
                                <label style="display:inline;">@venta.cliente.interior</label>
                            }
                            @if (venta.cliente.colonia != null)
                            {
                                <label style="display:inline;">@venta.cliente.colonia</label>
                            }
                        </p>
                        <p>
                            @if (venta.cliente.municipio != null)
                            {
                                <label style="display:inline;">@venta.cliente.municipio</label>
                            }
                            @if (venta.cliente.estado != null)
                            {
                                <label style="display:inline;">@venta.cliente.estado</label>
                            }
                                <label style="display:inline;">México</label>
                            @if (venta.cliente.cp != null)
                            {
                                <label style="display:inline;">@venta.cliente.cp</label>
                            }
                        </p>
                        <p>
                            <label style="display:inline;">CORREO:</label>
                            <label style="display:inline;">@venta.cliente.correo</label>
                        </p>
                        <p>
                            <label style="display:inline;">TELÉFONO:</label>
                            <label style="display:inline;">@venta.cliente.telefono</label>
                        </p>
                    </div>
                    <div class=" col-lg-6  col-md-6  col-sm-6 col-xs-6" style="height: 150px; margin-top: 5px; margin-bottom: 5px">
                        <strong style="font-size: 20px;">ENVIAR A:</strong>
                        <p>
                            <label style="display:inline;">RAZÓN SOCIAL:</label>
                            <label style="display:inline;">@venta.cliente.Razon_social</label>
                        </p>
                        <p>
                            <label style="display:inline;">DIRECCION:</label>
                            @if (venta.cliente.calle_embarque != null)
                            {
                                <label style="display:inline;">@venta.cliente.calle_embarque</label>
                            }
                            @if (venta.cliente.exterior_embarque != null)
                            {
                                <label style="display:inline;">@venta.cliente.exterior_embarque</label>
                            }
                            @if (venta.cliente.interior_embarque != null)
                            {
                                <label style="display:inline;">@venta.cliente.interior_embarque</label>
                            }
                            @if (venta.cliente.colonia_embarque != null)
                            {
                                <label style="display:inline;">@venta.cliente.colonia_embarque</label>
                            }
                        </p>
                        <p>
                            @if (venta.cliente.municipio_embarque != null)
                            {
                                <label style="display:inline;">@venta.cliente.municipio_embarque</label>
                            }
                            @if (venta.cliente.estado_embarque != null)
                            {
                                <label style="display:inline;">@venta.cliente.estado_embarque</label>
                            }
                                <label style="display:inline;">Mexico</label>
                            @if (venta.cliente.cp_embarque != null)
                            {
                                <label style="display:inline;">@venta.cliente.cp_embarque</label>
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                @foreach (POS.Models.conceptos_por_venta conceptos_por_venta in venta.conceptos_por_venta.ToList())
                {
                    Decimal precioMonedaOriginal = conceptos_por_venta.producto.precio_dolar == 0 ? Math.Round(conceptos_por_venta.precio_unitario.Value, 2) : Math.Round(conceptos_por_venta.precio_en_dolares.Value, 2);
                    Decimal precioMXN = conceptos_por_venta.producto.precio_dolar == 0 ? Math.Round(conceptos_por_venta.precio_unitario.Value, 2) : Math.Round(conceptos_por_venta.precio_en_dolares.Value * venta.precio_dolar_venta.Value, 2);
                    string precioMXNString = precioMXN.ToString("#,##0.00");
                    string precioMonedaOriginalString = precioMonedaOriginal.ToString("#,##0.00");
                    string banderaImgPath = conceptos_por_venta.producto.precio_dolar == 0 ? Url.Content("~/assets-minified/images/pesos.png") : Url.Content("~/assets-minified/images/dolares.png");
                    string moneda = conceptos_por_venta.producto.precio_dolar == 0 ? "MXN" : "USD";
                    <div class="ProductoCarrito" style="width:100%;float: left;position: relative;padding:20px; border: 1px solid #d7d5d5; padding: 20px; margin-bottom: 20px; color: #4A4A4A" id_producto="@conceptos_por_venta.Producto_id">
                        <div class=" col-lg-1 col-md-2 col-sm-12 col-xs-12">
                            <div class="canvas_img" style="height: 100px;">
                                <div>
                                    @if (conceptos_por_venta.producto.imagen.Count() != 0)
                                    {
                                        if (conceptos_por_venta.producto.imagen.First().nombre != "")
                                        {
                                            if ((System.IO.File.Exists(UploadFolderTiendaOnline + "\\imagen_producto\\" + conceptos_por_venta.producto.imagen.First().nombre)))
                                            {
                                                <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("/UploadFolder/imagen_producto/" + conceptos_por_venta.producto.imagen.First().nombre) + "');margin:0;width:auto;background-color: transparent;")"></div>
                                            }
                                            //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                            else
                                            {
                                                <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                            }
                                        }
                                        //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                        else
                                        {
                                            <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                    }
                                </div>
                                <div style="width: 100%">
                                    @conceptos_por_venta.producto.Codigo
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-11 col-md-11 col-sm-12 col-xs-12">
                            <div style="width: 100%; float: left; position: relative; padding: 5px">
                                <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Nombre del producto y detalles</label>
                                </div>
                                <div class=" col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Precio Unitario</label>
                                </div>
                                <div class=" col-lg-2 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Cantidad</label>
                                </div>
                            </div>
                            <div style="width: 100%; float: left; position: relative; padding: 5px">
                                <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label>@conceptos_por_venta.producto.Descripcion</label>
                                </div>
                                <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label class="precio_unitario" style="font-weight: bold; line-height: 30px; float: left">
                                        $
                                        <span class="precio" precio_dolar="@conceptos_por_venta.producto.precio_dolar" style="display: none">@precioMonedaOriginal</span>
                                        <span style="font-weight: bold">@precioMonedaOriginalString</span>
                                        <span class="Moneda" style="font-weight: bold">@moneda</span>
                                    </label>
                                    <img class="bandera_unitario" src='@banderaImgPath' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px; float: left' />
                                </div>
                                <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12">
                                    <div style="text-align: center;">
                                        <div class="cart_quantity_button" id_producto="@conceptos_por_venta.Producto_id" style="display: inline-block;">
                                            <label>@conceptos_por_venta.cantidad.ToString("#,##0.00")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                    <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                                    </div>
                                    <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <label style="cursor: pointer; font-weight: bold; float: right; color: #00b73e;">
                                            $<span class="importe" style="font-weight: bold"></span>@conceptos_por_venta.importe.Value.ToString("#,##0.00")
                                            <span class="tipoMoneda" style="font-weight: bold">MXN</span>
                                        </label>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                                    </div>
                                    <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <label class="" style="cursor: pointer; font-weight: bold; float: right; color: #00b73e;">
                                            $<span class="iva" style="font-weight: bold"></span>@conceptos_por_venta.iva_importe.Value.ToString("#,##0.00")
                                            <span class="tipoMoneda" style="font-weight: bold">MXN</span>
                                        </label>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                                    </div>
                                    <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <label class="" style="cursor: pointer; font-weight: bold; float: right; color: #00b73e;">
                                            $<span class="total" style="font-weight: bold"></span>@conceptos_por_venta.importe_mas_iva.Value.ToString("#,##0.00")
                                            <span class="tipoMoneda" style="font-weight: bold">MXN</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ListaNotasCredito != null && ListaNotasCredito.Count >= 1)
                {
                    <div class="ProductoCarrito" style="width:100%;float: left;position: relative;padding:20px; border: 1px solid #d7d5d5; padding: 20px; margin-bottom: 20px; color: #4A4A4A">
                        @foreach (POS.Models.nota_credito nc in ListaNotasCredito)
                        {
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h5><label style="">Notas de Credito</label></h5>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                                    <div style="width: 100%; float: left; position: relative; padding: 5px">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Nota De Credito</label>
                                        </div>
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Venta Proveniente</label>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12" style="text-align: center;">
                                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Cantidad</label>
                                        </div>
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                        </div>
                                    </div>
                                    <div style="width: 100%; float: left; position: relative; padding: 5px">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            @POS.Fn.Numeros.serie_folio_by_id_nota_credito(nc.id)
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            @POS.Fn.Numeros.serie_folio_by_id(nc.id_venta)
                                        </div>
                                        <div class="col-lg-2 col-md-1 col-sm-12 col-xs-12">
                                            <label class="" style="cursor: pointer; font-weight: bold; float: right; color: #2d6f85; margin-right: 29%;">
                                                $<span class="total" style="font-weight: bold"></span>@Math.Round(nc.cantidad.Value, 2).ToString("#,##0.00")
                                                <span class="tipoMoneda" style="font-weight: bold">MXN</span>
                                            </label>
                                        </div>
                                        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        }
            </div>
            @if (venta.observaciones != null && !venta.observaciones.Equals(""))
            {
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;margin-bottom: 20px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5; padding-left: 0px; padding-right: 0px;">
                            <div style="width: 100%;">
                                <h2 class="text-center" style="margin-top: 0px; padding-bottom: 10px; padding-top: 10px !important; font-size: 25px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2;">Observaciones</h2>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
                                @venta.observaciones
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center;">
                <div class="divTotales col-lg-11 col-md-11 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                    <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-8 col-md-offset-8" style="border: 1px solid #d7d5d5; margin-right: 0; padding-right: 0; padding-left: 0px;">
                        <div style="width: 100%;">
                            <h2 class="text-center" style="margin-top: 0px; padding-bottom: 10px; padding-top: 10px !important; font-size: 25px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2;">Totales</h2>
                        </div>
                        <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                        </div>
                        <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                            <label class="" style="font-weight: bold; float: right; color: #00b73e; margin-right: 34px;">
                                $<span id="subtotalpesos" style="font-weight: bold">@venta.conceptos_por_venta.Select(x => x.importe.Value).Sum().ToString("#,##0.00")</span>
                                <span style="font-weight: bold">MXN</span>
                            </label>
                        </div>
                        <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                        </div>
                        <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                            <label style="font-weight: bold; float: right; color: #00b73e; margin-right: 34px">
                                $<span id="ivaPesos" style="font-weight: bold">@venta.conceptos_por_venta.Select(x => x.iva_importe.Value).Sum().ToString("#,##0.00")</span>
                                <span style="font-weight: bold">MXN</span>
                            </label>
                        </div>
                        @if(ListaNotasCredito.Count >= 1)
                        { 
                        <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Notas Credito</label>
                        </div>
                        <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                            <label class="" style="font-weight: bold; float: right; color: #d02424; margin-right: 34px;">
                                -$<span id="subtotalpesos" style="font-weight: bold">@Math.Round(total_notas_creditos, 2).ToString("#,##0.00")</span>
                                <span style="font-weight: bold">MXN</span>
                            </label>
                        </div>
                        }
                        @if (total_descuentos > 0)
                        {
                            <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Descuentos</label>
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label class="" style="font-weight: bold; float: right; color: #d02424; margin-right: 34px;">
                                    -$<span id="subtotalpesos" style="font-weight: bold">@Math.Round(total_descuentos, 2).ToString("#,##0.00")</span>
                                    <span style="font-weight: bold">MXN</span>
                                </label>
                            </div>
                        }
                        <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                            <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                        </div>
                        <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                            <label style="font-weight: bold; float: right; color: #00b73e;">
                                $<span id="totalPesos" style="font-weight: bold">@total_venta.ToString("#,##0.00")</span>
                                <span style="font-weight: bold">MXN</span>
                                <img class="bandera_subtotal" src='@Url.Content("~/assets-minified/images/pesos.png")' style='width: 20px; vertical-align: central;margin: 0 0 0 10px' />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            @if (venta.catalogo_status_id == 8 || venta.catalogo_status_id == 9 || venta.catalogo_status_id == 10 || venta.catalogo_status_id == 11 || venta.catalogo_status_id == 12)
            {
                string fechaConfirmacion = venta.fecha != null ? "<label>" + venta.fecha.Value.ToString("dd/MM/yyyy") + "</label><br /><label>" + venta.fecha.Value.ToString("HH:mm:ss") + "</label>" : "";
                string fechapago = venta.fecha_liquidacion != null ? "<label>" + venta.fecha_liquidacion.Value.ToString("dd/MM/yyyy") + "</label><br /><label>" + venta.fecha_liquidacion.Value.ToString("HH:mm:ss") + "</label>" : "";
                string fechaEnvio = venta.fechaEnvio != null ? "<label>" + venta.fechaEnvio.Value.ToString("dd/MM/yyyy") + "</label><br /><label>" + venta.fechaEnvio.Value.ToString("HH:mm:ss") + "</label>" : "";
                string fechaEntrega = venta.Fecha_entrega != null ? "<label>" + venta.Fecha_entrega.Value.ToString("dd/MM/yyyy") + "</label><br /><label>" + venta.Fecha_entrega.Value.ToString("HH:mm:ss") + "</label>" : "";
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="margin-top: 20px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5; margin-right: 0; padding-right: 0; padding-left: 0px; color: #4A4A4A">
                        <div class="container">
                            <div class="">
                                <ul class="progress-tracker progress-tracker--text anim-ripple">

                                    <li class="@(fechaConfirmacion != "" ? "progress-step is-complete" : "progress-step")">
                                        <span class="progress-marker"></span>
                                        <span class="progress-text">
                                            <h4 class="progress-title">Confirmación</h4>
                                            @if (fechaConfirmacion != "")
                                            {
                                                <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;"><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px"></i>@Convert.ToInt16((DateTime.Now - venta.fecha.Value).TotalDays) Dias</label>
                                                <br />
                                                @Html.Raw(fechaConfirmacion)
                                            }
                                        </span>
                                    </li>
                                    <li class="@(fechapago != "" ? "progress-step is-complete" : "progress-step")">
                                        <span class="progress-marker"></span>
                                        <span class="progress-text">
                                            <h4 class="progress-title">Pago</h4>
                                            @if (fechapago != "")
                                            {
                                                <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;"><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px"></i>@Convert.ToInt16((DateTime.Now - venta.fecha_liquidacion.Value).TotalDays) Dias</label>
                                                <br />
                                                @Html.Raw(fechapago)
                                                <br />
                                                foreach (var _pago in venta.multiple_pago)
                                                {
                                                    <label style="font-size: 11px; color: #9e9e9e;">@_pago.tipo_pago_venta.tipo: $ @_pago.cantidad.Value.ToString("#,##0.00") @_pago.referencia</label>
                                                }
                                            }
                                        </span>
                                    </li>
                                    <li class="@(fechaEnvio != "" ? "progress-step is-complete" : "progress-step")">
                                        <span class="progress-marker"></span>
                                        <span class="progress-text">
                                            <h4 class="progress-title">Envío</h4>
                                            @if (fechaEnvio != "")
                                            {
                                                <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;"><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px"></i>@Convert.ToInt16((DateTime.Now - venta.fechaEnvio.Value).TotalDays) Dias</label>
                                                <br />
                                                @Html.Raw(fechaEnvio)
                                                <br />
                                                <label style="font-size: 11px; color: #9e9e9e;">@venta.guiaEnvio</label>
                                            }
                                        </span>
                                    </li>
                                    <li class="@(fechaEntrega != "" ? "progress-step is-complete" : "progress-step")">
                                        <span class="progress-marker"></span>
                                        <span class="progress-text">
                                            <h4 class="progress-title">Recepción</h4>
                                            @if (fechaEntrega != "")
                                            {
                                                <label style="font-size: 11px; color: #9e9e9e; margin-bottom: 0px;"><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 5px"></i>@Convert.ToInt16((DateTime.Now - venta.Fecha_entrega.Value).TotalDays) Dias</label>
                                                <br />
                                                @Html.Raw(fechaEntrega)
                                                <br />
                                            }
                                        </span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center;">
                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="text-align: center;">
                            <label>DATOS DE TRANFERENCIAS</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center;">
                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin-top: 20px">
                    @foreach (POS.Models.configuracion_cuenta_bancaria configuracion_cuenta_bancaria in sucursal.configuracion_cuenta_bancaria.ToList())
                    {
                        <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: left;">
                                <label>@configuracion_cuenta_bancaria.beneficiario</label><br />
                                <label>@configuracion_cuenta_bancaria.banco.nombre</label><br />
                                <label>@configuracion_cuenta_bancaria.clabe</label><br />
                                <label>@configuracion_cuenta_bancaria.cuenta</label><br />
                                <label>@configuracion_cuenta_bancaria.otro</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center;">
                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="text-align: center;">
                            <label>TERMINOS Y CONDICIONES</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center;">
                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="text-align: left;">
                            @sucursal.terminos_condicones
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center;">
                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin-top: 20px">
                    <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="text-align: left;">
                            @sucursal.pie_cotizacion
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>