﻿@{
    List<POS.Models.inventario> ListaInventario = ViewBag.ListaInventario as List<POS.Models.inventario>;
    POS.Models.proveedor proveedor = ViewBag.proveedor as POS.Models.proveedor;
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    POS.Models.configuracion_pos configuracion_pos = POS.Fn.Configuracion.TraerConfiguracionPOS();
    POS.Models.sucursal sucursal = POS.Fn.Configuracion.TraerConfiguracionSucursales().Where(x => x.id == ViewBag.id_sucursal).Single();
    String UploadFolderTiendaOnline = ViewBag.UploadFolderTiendaOnline;
    Decimal TotalInventario = 0;
}

<style>
    p {
        margin: 0 !important;
    }
</style>
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootstrap.min.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/font-awesome.min.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/prettyPhoto.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/price-range.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/animate.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/main.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/responsive.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/etalage.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootbox.min.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/progressTracker/progress-tracker.css")" />
<link type='text/css' rel='stylesheet' href="https://fonts.googleapis.com/css?family=Montserrat">
<script type='text/javascript' src="@Url.Content("~/js/jquery.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/number.js")"></script>

<html>
<body style="font-family: 'Montserrat', sans-serif;">
    <section id="cart_items">
        <div class="">
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                        <img src="@Url.Content("/UploadFolder/logo/" + configuracion_general.logo)" alt="Logotipo" style="width: 50%; margin-bottom:20px; margin-top:20px;" />
                    </div>
                </div>
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                    <h2 style="font-size: 35px; color: #2f2f2f; font-weight: bold;">REPORTE INVENTARIO EN CONSIGNACIÓN</h2>
                </div>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                        @if (configuracion_general.marca != null)
                        {
                            <p><label>@configuracion_general.marca</label></p>
                        }
                        @if (sucursal.razon_social != null)
                        {
                            <p><label>@sucursal.razon_social</label></p>
                        }
                        @if (sucursal.rfc != null)
                        {
                            <p><label>@sucursal.rfc</label></p>
                        }
                        <p>
                            @if (sucursal.calle != null)
                            {
                                <label style="display: inline;">@sucursal.calle</label>
                            }
                            @if (sucursal.exterior != null)
                            {
                                <label style="display: inline;">@sucursal.exterior</label>
                            }
                            @if (sucursal.interior != null)
                            {
                                <label style="display: inline;">@sucursal.interior</label>
                            }
                            @if (sucursal.colonia != null)
                            {
                                <label style="display: inline;">@sucursal.colonia</label>
                            }
                        </p>
                        <p>
                            @if (sucursal.municipio != null)
                            {
                                <label style="display: inline;">@sucursal.municipio</label>
                            }
                            @if (sucursal.estado != null)
                            {
                                <label style="display: inline;">@sucursal.estado</label>
                            }
                            @if (sucursal.pais != null)
                            {
                                <label style="display: inline;">@sucursal.pais</label>
                            }
                            @if (sucursal.cp != null)
                            {
                                <label style="display: inline;">@sucursal.cp</label>
                            }
                        </p>
                        @foreach (POS.Models.configuracion_sucursal_telefono configuracion_sucursal_telefono in sucursal.configuracion_sucursal_telefono.ToList())
                        {
                            if (configuracion_sucursal_telefono.nombre != null)
                            {
                                <p>@configuracion_sucursal_telefono.nombre</p>
                            }
                        }
                        @foreach (POS.Models.configuracion_sucursal_correo configuracion_sucursal_correo in sucursal.configuracion_sucursal_correo.ToList())
                        {
                            if (configuracion_sucursal_correo.correo != null)
                            {
                                <p>@configuracion_sucursal_correo.correo</p>
                            }
                        }
                        <br />
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float: right; text-align: right;margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                            <strong>PROVEEDOR No.:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                            <p>@POS.Fn.Numeros.agregarCeros(proveedor.id)</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                            <strong>PROVEEDOR:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                            <p>@proveedor.nombre_proveedor.ToUpper()</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
@foreach (POS.Models.inventario inventario in ListaInventario.Where(x => x.producto.Proveedor_id == proveedor.id).ToList())
{
    if (inventario.producto.costo != null)
    {
        TotalInventario = TotalInventario + Math.Round(inventario.producto.costo.Value * inventario.cantidad.Value, 2);
    }
                    <div class="ProductoCarrito" style="width:100%;float: left;position: relative;padding:20px; border: 1px solid #d7d5d5; padding: 20px; margin-bottom: 20px; color: #4A4A4A">
                        <div class=" col-lg-1 col-md-2 col-sm-12 col-xs-12">
                            <div class="canvas_img" style="height: 100px;">
                                <div>
                                    @if (inventario.producto.imagen.Count() != 0)
                                    {
                                        if (inventario.producto.imagen.First().nombre != "")
                                        {
                                            if ((System.IO.File.Exists(UploadFolderTiendaOnline + "\\imagen_producto\\" + inventario.producto.imagen.First().nombre)))
                                            {
                                                <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("/UploadFolder/imagen_producto/" + inventario.producto.imagen.First().nombre) + "');margin:0;width:auto;background-color: transparent;")"></div>
                                            }
                                            //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                            else
                                            {
                                                <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                            }
                                        }
                                        //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                        else
                                        {
                                            <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="cover_img_100perc" style="@("background-image:url('" + Url.Content("/UploadFolder/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                    }
                                </div>
                                <div style="width: 100%">
                                    @inventario.producto.Codigo
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                            <div style="width: 100%; float: left; position: relative; padding: 5px">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Nombre del producto y detalles</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;"></label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" style="text-align: right;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Cantidad</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: right;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Costo</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: right;">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Total</label>
                                </div>
                            </div>
                            <div style="width: 100%; float: left; position: relative; padding: 5px">
                                <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <label>@inventario.producto.Descripcion</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div style="text-align: center;">
                                        <div class="cart_quantity_button" style="display: inline-block;">
                                            <label></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                    <div style="text-align: right;">
                                        <div class="cart_quantity_button" style="display: inline-block;">
                                            <label>@inventario.cantidad.Value.ToString("#,##0.00")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <div style="text-align: right;">
                                        <div class="precio_unitario" style="display: inline-block;">
                                            <label style="font-weight: bold; line-height: 30px; float: left;">
                                                <span>$</span>
                                                <span style="font-weight: bold">@Math.Round(inventario.producto.costo.Value, 2).ToString("#,##0.00")</span>
                                                <span style="font-weight: bold">MXN</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                    <div style="text-align: right;">
                                        <div class="precio_unitario" style="display: inline-block;">
                                            <label style="font-weight: bold; line-height: 30px; float: left;">
                                                <span>$</span>
                                                    <span style="font-weight: bold">@Math.Round(inventario.cantidad.Value * inventario.producto.costo.Value, 2).ToString("#,##0.00")</span>
                                                    <span style="font-weight: bold">MXN</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadnomar" style="text-align: center; margin-right: 0; padding-right: 0; padding-left: 0px; margin-bottom:20px !important;">
                    <div class="divTotales col-lg-11 col-md-11 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1" style="margin-right: 0; padding-right: 0; padding-left: 0px;">
                        <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-8 col-md-offset-8" style="border: 1px solid #d7d5d5; margin-right: 0; padding-right: 0; padding-left: 0px;">
                            <div style="width: 100%;">
                                <h2 class="text-center" style="margin-top: 0px; padding-bottom: 10px; padding-top: 10px !important; font-size: 25px; color: #4A4A4A; font-weight: 700; text-transform: none; background-color: #F4F2F2;">Totales</h2>
                            </div>
                            <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total En Inventario</label>
                            </div>
                            <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                <label class="" style="font-weight: bold; float: right; color: #00b73e; margin-right: 34px;">
                                    $<span id="subtotalpesos" style="font-weight: bold">@TotalInventario.ToString("#,##0.00")</span>
                                    <span style="font-weight: bold">MXN</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>