﻿@{
    ViewBag.Title = "POS - Detalle De Corte de Caja";
}

@{
    List<POS.Models.venta> ListaVentas = ViewBag.ListaVentas as List<POS.Models.venta>;
    List<POS.Models.abono> ListaAbonos = ViewBag.ListaAbonos as List<POS.Models.abono>;
    List<POS.Models.nota_credito> ListaNotasCredito = ViewBag.ListaNotasCredito as List<POS.Models.nota_credito>;
    List<POS.Models.tipo_pago_venta> ListaTiposPagosVenta = ViewBag.ListaTiposPagosVenta as List<POS.Models.tipo_pago_venta>;
    List<POS.Models.TotalVenta> TotalesVentas = ViewBag.TotalesVentas as List<POS.Models.TotalVenta>;
    POS.Models.TotalVenta TotalesVentasACredito = ViewBag.TotalesVentasACredito as POS.Models.TotalVenta;
    List<POS.Models.TotalVenta> TotalesAbonos = ViewBag.TotalesAbonos as List<POS.Models.TotalVenta>;
    List<Decimal> Totales_Finales = ViewBag.Totales_Finales as List<Decimal>;
    Decimal NotasCreditoPendientes = ViewBag.NotasCreditoPendientes;
    Decimal NotasCreditoCobradas = ViewBag.NotasCreditoCobradas;
    Decimal NotasCreditocanceladas = ViewBag.NotasCreditocanceladas;
    Decimal GranTotal = ViewBag.GranTotal;
    bool movimientos_efectivo = ViewBag.movimientos_efectivo;
    List<POS.Models.movimiento_efectivo> ListaMovimientosEfectivo = null;
    List<POS.Models.TotalVenta> TotalesMovimientosEfectivo = null;
    if (movimientos_efectivo)
    {
        ListaMovimientosEfectivo = ViewBag.ListaMovimientosEfectivo as List<POS.Models.movimiento_efectivo>;
        TotalesMovimientosEfectivo = ViewBag.TotalesMovimientosEfectivo as List<POS.Models.TotalVenta>;
    }
}

<div id="page-content" style="background: #fff;">
    <div id="div_nuevo_corte_impresion">
        <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Corte De Caja: @ViewBag.idCorteCaja</h3>
        <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
            <div style="width: 100%; height: auto;">
                <table class="table" style="margin: 0 auto; width: auto;">
                    <tr>
                        <td style="border: 0px; text-align: center; font-size: 35px; color: #254054;"><i class="glyph-icon icon-calendar" style="margin-right: 10px;"></i>Periodo</td>
                    </tr>
                </table>
                <table class="table" style="margin: 0 auto; width: auto;">
                    <tr>
                        <td style="border: 0px; text-align: center; font-size: 30px; color: #254054;">@Convert.ToDateTime(ViewBag.fechaInicio).ToString("dd/MM/yyyy HH:mm")</td>
                        <td style="border: 0px; text-align: center; font-size: 30px; color: #254054;">-</td>
                        <td style="border: 0px; text-align: center; font-size: 30px; color: #254054;">@Convert.ToDateTime(ViewBag.fechaFin).ToString("dd/MM/yyyy HH:mm")</td>
                    </tr>
                </table>
                <table class="table" style="margin: 0 auto; width: auto;">
                    <tr>
                        <td style="border: 0px; font-size: 25px; color: #254054;"><i class="glyph-icon icon-bars" style="margin-right: 10px;"></i>Movimientos</td>
                    </tr>
                </table>
            </div>



            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** ***  Ventas *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <div style="width: 100%; height: auto; margin-bottom: 20px; float: left;">
                <table class="table" style="width: auto;">
                    <tr>
                        <td style="border: 0px; font-size: 20px; color: #254054;"><i class="glyph-icon icon-elusive-basket" style="margin-right: 10px;"></i>Ventas</td>
                    </tr>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id Venta</th>
                            <th>Cliente</th>
                            <th>Estatus</th>
                            <th>Sucursal</th>
                            <th>Fecha De Entrega</th>
                            <th>Fecha De Cancelacion</th>
                            @foreach (POS.Models.tipo_pago_venta tipo_pago in ListaTiposPagosVenta)
                            {
                                <th style="text-align: right;">@tipo_pago.tipo</th>
                            }

                            <th style="text-align: right;">Egreso</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.ListaVentas != null)
                        {
                            foreach (POS.Models.venta venta in ListaVentas)
                            {
                                if ((((venta.catalogo_status_id == 1 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.Fecha_entrega.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.Fecha_entrega.Value)
                                || (venta.catalogo_status_id == 9 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value)
                                || (venta.catalogo_status_id == 10 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value)
                                || (venta.catalogo_status_id == 11 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value))
                                || ((venta.catalogo_status_id == 2 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.Fecha_entrega.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.Fecha_entrega.Value))
                                || (venta.catalogo_status_id == 12 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value))))
                                && (venta.multiple_pago.Where(x => x.id_tipo_pago_venta != 4).FirstOrDefault() != null))
                                {
                           <!-- *** *** *** *** *** Si es una venta solo a credito esta no tiene que aparecer *** *** *** *** *** -->
                                    <tr>
                                        <td style="text-align: center;">@venta.Serie-@POS.Fn.Numeros.agregarCeros(venta.Folio.Value)</td>
                                        <td style="text-align: center;">@venta.cliente.Razon_social</td>
                                        <td style="text-align: center;">Activa</td>
                                        <td style="text-align: center;">@venta.sucursal.nombre_sucursal</td>
                                        @if (venta.Fecha_entrega == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        }
                                        @if (venta.fecha_cancelacion == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@venta.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        }
                                        @foreach (POS.Models.tipo_pago_venta tipo_pago in ListaTiposPagosVenta)
                                        {
                                            if (venta.multiple_pago.Where(x => x.id_tipo_pago_venta == tipo_pago.id).Any())
                                            {
                                                <td style="text-align: right">$@venta.multiple_pago.Where(x => x.id_tipo_pago_venta == tipo_pago.id).Single().cantidad.ToString()</td>
                                            }
                                            else
                                            {
                                                <td style="text-align: right">$0.00</td>
                                            }
                                        }
                                        <td></td>
                                    </tr>
                                }
                                if (((venta.catalogo_status_id == 2 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_cancelacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_cancelacion.Value))
                                || (venta.catalogo_status_id == 12 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_cancelacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_cancelacion.Value)))
                                && (venta.multiple_pago.Where(x => x.id_tipo_pago_venta != 4).FirstOrDefault() != null))
                                {
                                    <tr>
                                        <td style="text-align: center;">@venta.Serie-@POS.Fn.Numeros.agregarCeros(venta.Folio.Value)</td>
                                        <td style="text-align: center;">@venta.cliente.Razon_social</td>
                                        <td style="text-align: center;">@venta.catalogo_status.status</td>
                                        <td style="text-align: center;">@venta.sucursal.nombre_sucursal</td>
                                        @if (venta.Fecha_entrega == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        }
                                        @if (venta.fecha_cancelacion == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@venta.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        }
                                        @foreach (POS.Models.tipo_pago_venta tipo_pago in ListaTiposPagosVenta)
                                        {
                                            <td></td>
                                        }
                                        @if (venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).FirstOrDefault() == null)
                                        {
                                            <td style="text-align: right">$@venta.total</td>
                                        }
                                        else
                                        {
                                            <td style="text-align: right">$@(venta.total - venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).Single().cantidad)</td>
                                        }
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div style="width: 100%; height: auto; margin-bottom: 20px; float: right;">
                <table class="table" style="width: 100%; text-align: right;">
                    <tr>
                        <td style="border: 0px; font-size: 20px; color: #254054;"><i class="glyph-icon icon-elusive-basket" style="margin-right: 10px;"></i>Resumen De Ventas</td>
                    </tr>
                </table>
                <table class="table" style="width: 35%; float: right">
                    <thead>
                        <tr>
                            <th>Tipo De Pago</th>
                            <th style="text-align: right;">Facturado</th>
                            <th style="text-align: right;">Cancelado</th>
                            <th style="text-align: right;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.TotalesVentas != null)
                        {
                            foreach (POS.Models.TotalVenta total_venta in TotalesVentas)
                            {
                                <tr style="text-align: right;">
                                    <td style="text-align: left; font-weight: bold;">@total_venta.tipo_pago</td>
                                    <td style="font-weight: bold;">$<label style="font-weight: 300;">@total_venta.facturado</label></td>
                                    <td style="font-weight: bold;">$<label style="font-weight: 300;">@total_venta.cancelado</label></td>
                                    <td style="font-weight: bold;">$<label style="font-weight: 300;">@total_venta.total</label></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>


            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** Ventas A Credito ** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <div style="width: 100%; height: auto; margin-bottom: 20px; float: left;">
                <table class="table" style="width: auto;">
                    <tr>
                        <td style="border: 0px; font-size: 20px; color: #254054;"><i class="glyph-icon icon-elusive-basket" style="margin-right: 10px;"></i>Ventas A Credito</td>
                    </tr>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id Venta</th>
                            <th>Cliente</th>
                            <th>Estatus</th>
                            <th>Sucursal</th>
                            <th>Fecha De Entrega</th>
                            <th>Fecha De Cancelacion</th>
                            <th style="text-align: right;">Credito</th>
                            <th style="text-align: right;">Cancelado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.ListaVentas != null)
                        {
                            foreach (POS.Models.venta venta in ListaVentas)
                            {
                                if (venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).FirstOrDefault() != null &&
                                ((venta.catalogo_status_id == 1 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.Fecha_entrega.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.Fecha_entrega.Value)
                                || (venta.catalogo_status_id == 9 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value)
                                || (venta.catalogo_status_id == 10 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value)
                                || (venta.catalogo_status_id == 11 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value)
                                || (venta.catalogo_status_id == 2 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.Fecha_entrega.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.Fecha_entrega.Value))
                                || (venta.catalogo_status_id == 12 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value))
                                ))
                                {
                                    <tr>
                                        <td style="text-align: center;">@venta.Serie-@POS.Fn.Numeros.agregarCeros(venta.Folio.Value)</td>
                                        <td style="text-align: center;">@venta.cliente.RFC</td>
                                        <td style="text-align: center;">Activa</td>
                                        <td style="text-align: center;">@venta.sucursal.nombre_sucursal</td>
                                        @if (venta.Fecha_entrega == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        }
                                        @if (venta.fecha_cancelacion == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@venta.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        }
                                        <td style="text-align: right">$@venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).Single().cantidad.ToString()</td>
                                        <td></td>
                                    </tr>
                                }
                                if (venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).FirstOrDefault() != null
                                && (venta.catalogo_status_id == 2 || venta.catalogo_status_id == 12)
                                && venta.fecha_cancelacion != null)
                                {
                                    if (venta.fecha_cancelacion >= ViewBag.fechaInicio && venta.fecha_cancelacion <= ViewBag.fechaFin)
                                    {
                                        <tr>
                                            <td style="text-align: center;">@venta.Serie-@POS.Fn.Numeros.agregarCeros(venta.Folio.Value)</td>
                                            <td style="text-align: center;">@venta.cliente.RFC</td>
                                            <td style="text-align: center;">@venta.catalogo_status.status</td>
                                            <td style="text-align: center;">@venta.sucursal.nombre_sucursal</td>
                                            @if (venta.Fecha_entrega == null)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td style="text-align: center;">@venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                            }
                                            @if (venta.fecha_cancelacion == null)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td style="text-align: center;">@venta.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                            }
                                            <td></td>
                                            <td style="text-align: right">$@venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).Single().cantidad.ToString()</td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>

                </table>
            </div>
            <div style="width: 100%; height: auto; margin-bottom: 20px; float: right;">
                <table class="table" style="width: 100%; text-align: right;">
                    <tr>
                        <td style="border: 0px; font-size: 20px; color: #254054;"><i class="glyph-icon icon-elusive-basket" style="margin-right: 10px;"></i>Resumen De Ventas a Credito</td>
                    </tr>
                </table>
                <table class="table" style="width: 35%; float: right">
                    <thead>
                        <tr>
                            <th>Tipo De Pago</th>
                            <th style="text-align: right;">Facturado</th>
                            <th style="text-align: right;">Cancelado</th>
                            <th style="text-align: right;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (TotalesVentasACredito != null)
                        {
                            <tr style="text-align: right;">
                                <td style="text-align: left; font-weight: bold;">@TotalesVentasACredito.tipo_pago</td>
                                <td style="font-weight: bold;">$<label style="font-weight: 300;">@TotalesVentasACredito.facturado</label></td>
                                <td style="font-weight: bold;">$<label style="font-weight: 300;">@TotalesVentasACredito.cancelado</label></td>
                                <td style="font-weight: bold;">$<label style="font-weight: 300;">@TotalesVentasACredito.total</label></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>





            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** * Abonos *** *** ** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <div style="width: 100%; height: auto; margin-bottom: 20px; float: right;">
                <table class="table" style="width: auto;">
                    <tr>
                        <td style="border: 0px; font-size: 20px; color: #254054;"><i class="glyph-icon icon-arrow-circle-down" style="margin-right: 10px;"></i>Abonos</td>
                    </tr>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id Abono</th>
                            <th>Id Venta</th>
                            <th>Tipo De Pago</th>
                            <th>Estatus</th>
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th>Fecha De Cancelacion</th>
                            <th>Motivo De Cancelacion</th>
                            <th>Usuario Cancela</th>
                            <th style="text-align: right;">Ingreso</th>
                            <th style="text-align: right;">Egreso</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.ListaAbonos != null)
                        {
                            foreach (POS.Models.abono abono in ListaAbonos)
                            {
                                if (abono.estatus == true || (abono.estatus == false && (Convert.ToDateTime(ViewBag.fechaInicio) <= abono.fecha.Value && Convert.ToDateTime(ViewBag.fechaFin) >= abono.fecha.Value)))
                                {
                                    <tr>
                                        <td style="text-align: center;">@abono.id</td>
                                        <td style="text-align: center;">@abono.venta.Serie-@POS.Fn.Numeros.agregarCeros(abono.venta.Folio.Value)</td>
                                        <td style="text-align: center;">@abono.tipo_pago_abono.tipo</td>
                                        <td style="text-align: center;">Activo</td>
                                        <td style="text-align: center;">@abono.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td style="text-align: center;">@abono.usuario_punto_venta1.nombre_usuario</td>
                                        @if (abono.fecha_cancelacion == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@abono.fecha_cancelacion</td>
                                        }
                                        @if (abono.motivo_cancelacion == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@abono.motivo_cancelacion</td>
                                        }
                                        @if (abono.usuario_punto_venta == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@abono.usuario_punto_venta.nombre_usuario</td>
                                        }
                                        <td style="text-align: right;">$@abono.importe.Value</td>
                                        <td></td>
                                    </tr>
                                }
                                if (abono.estatus == false)
                                {
                                    <tr>
                                        <td style="text-align: center;">@abono.id</td>
                                        <td style="text-align: center;">@abono.venta.Serie-@POS.Fn.Numeros.agregarCeros(abono.venta.Folio.Value)</td>
                                        <td style="text-align: center;">@abono.tipo_pago_abono.tipo</td>
                                        <td style="text-align: center;">Cancelado</td>
                                        <td style="text-align: center;">@abono.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td style="text-align: center;">@abono.usuario_punto_venta1.nombre_usuario</td>
                                        @if (abono.fecha_cancelacion == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@abono.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        }
                                        @if (abono.motivo_cancelacion == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@abono.motivo_cancelacion</td>
                                        }
                                        @if (abono.usuario_punto_venta == null)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center;">@abono.usuario_punto_venta.nombre_usuario</td>
                                        }
                                        <td></td>
                                        <td style="text-align: right;">$@abono.importe.Value</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div style="width: 100%; height: auto; margin-bottom: 20px; float: right;">
                <table class="table" style="width: 100%; text-align: right;">
                    <tr>
                        <td style="border: 0px; font-size: 20px; color: #254054;"><i class="glyph-icon icon-arrow-circle-down" style="margin-right: 10px;"></i>Resumen De Abonos</td>
                    </tr>
                </table>
                <table class="table" style="width: 35%; float: right;">
                    <thead>
                        <tr>
                            <th>Tipo De Pago</th>
                            <th style="text-align: right;">Facturado</th>
                            <th style="text-align: right;">Cancelado</th>
                            <th style="text-align: right;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.TotalesAbonos != null)
                        {
                            foreach (POS.Models.TotalVenta total_abono in TotalesAbonos)
                            {
                                <tr style="text-align: right;">
                                    <td style="text-align: left; font-weight: bold;">@total_abono.tipo_pago</td>
                                    <td style="font-weight: bold;">$<label style="font-weight: 300;">@total_abono.facturado</label></td>
                                    <td style="font-weight: bold;">$<label style="font-weight: 300;">@total_abono.cancelado</label></td>
                                    <td style="font-weight: bold;">$<label style="font-weight: 300;">@total_abono.total</label></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>


            <!-- *** *** *** *** *** *** *** *** *** *** *** ***   *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** Si esta activado movimientos efectivo *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** ***   *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            @if (movimientos_efectivo)
            {
                <div style="width: 100%; height: auto; margin-bottom: 20px; float: right;">
                    <table class="table" style="width: auto;">
                        <tr>
                            <td style="border: 0px; font-size: 20px; color: #254054;"><i class="glyph-icon icon-arrow-circle-down" style="margin-right: 10px;"></i>Movimientos Efectivo</td>
                        </tr>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id Movimiento</th>
                                <th>Sucursal</th>
                                <th>Tipo De Movimiento</th>
                                <th>Estatus</th>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Descripción</th>
                                <th>Fecha De Cancelacion</th>
                                <th>Motivo De Cancelacion</th>
                                <th>Usuario Cancela</th>
                                <th style="text-align: right;">Ingreso</th>
                                <th style="text-align: right;">Egreso</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (TotalesMovimientosEfectivo != null)
                {
                    foreach (POS.Models.movimiento_efectivo movimiento_efectivo in ListaMovimientosEfectivo)
                    {
                        if (movimiento_efectivo.estatus == true || (movimiento_efectivo.estatus == false && (Convert.ToDateTime(ViewBag.fechaInicio) <= movimiento_efectivo.fecha.Value && Convert.ToDateTime(ViewBag.fechaFin) >= movimiento_efectivo.fecha.Value)))
                        {
                                        <tr>
                                            <td style="text-align: center;">@movimiento_efectivo.id</td>
                                            <td style="text-align: center;">@movimiento_efectivo.sucursal.nombre_sucursal</td>
                                            <td style="text-align: center;">@movimiento_efectivo.tipo_movimiento_efectivo.nombre</td>
                                            <td style="text-align: center;">Activo</td>
                                            <td style="text-align: center;">@movimiento_efectivo.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                            <td style="text-align: center;">@movimiento_efectivo.usuario_punto_venta.nombre_usuario</td>
                                            <td style="text-align: center;">@movimiento_efectivo.descripcion</td>
                                            @if (movimiento_efectivo.fecha_cancelacion == null)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td style="text-align: center;">@movimiento_efectivo.fecha_cancelacion</td>
                                            }
                                            @if (movimiento_efectivo.motivo_cancelacion == null)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td style="text-align: center;">@movimiento_efectivo.motivo_cancelacion</td>
                                            }
                                            @if (movimiento_efectivo.usuario_punto_venta1 == null)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td style="text-align: center;">@movimiento_efectivo.usuario_punto_venta1.nombre_usuario</td>
                                            }
                                            @if (movimiento_efectivo.tipo_movimiento_efectivo.id != 2)
                                            {
                                                <td style="text-align: right;">$@movimiento_efectivo.monto</td>
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                                <td style="text-align: right;">$@movimiento_efectivo.monto</td>
                                            }
                                        </tr>
                                    }
                                    if (movimiento_efectivo.estatus == false)
                                    {
                                        <tr>
                                            <td style="text-align: center;">@movimiento_efectivo.id</td>
                                            <td style="text-align: center;">@movimiento_efectivo.sucursal.nombre_sucursal</td>
                                            <td style="text-align: center;">@movimiento_efectivo.tipo_movimiento_efectivo.nombre</td>
                                            <td style="text-align: center;">Cancelado</td>
                                            <td style="text-align: center;">@movimiento_efectivo.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                            <td style="text-align: center;">@movimiento_efectivo.usuario_punto_venta.nombre_usuario</td>
                                            <td style="text-align: center;">@movimiento_efectivo.descripcion</td>
                                            @if (movimiento_efectivo.fecha_cancelacion == null)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td style="text-align: center;">@movimiento_efectivo.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                            }
                                            @if (movimiento_efectivo.motivo_cancelacion == null)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td style="text-align: center;">@movimiento_efectivo.motivo_cancelacion</td>
                                            }
                                            @if (movimiento_efectivo.usuario_punto_venta1 == null)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td style="text-align: center;">@movimiento_efectivo.usuario_punto_venta1.nombre_usuario</td>
                                            }
                                            @if (movimiento_efectivo.tipo_movimiento_efectivo.id != 2)
                                            {
                                                <td></td>
                                                <td style="text-align: right;">$@movimiento_efectivo.monto</td>
                                            }
                                            else
                                            {
                                                <td style="text-align: right;">$@movimiento_efectivo.monto</td>
                                                <td></td>
                                            }

                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div style="width: 100%; height: auto; margin-bottom: 20px; float: right;">
                    <table class="table" style="width: 100%; text-align: right;">
                        <tr>
                            <td style="border: 0px; font-size: 20px; color: #254054;"><i class="glyph-icon icon-arrow-circle-down" style="margin-right: 10px;"></i>Resumen De Movimientos De Efectivo</td>
                        </tr>
                    </table>
                    <table class="table" style="width: 35%; float: right;">
                        <thead>
                            <tr>
                                <th>Tipo De Pago</th>
                                <th style="text-align: right;">Facturado</th>
                                <th style="text-align: right;">Cancelado</th>
                                <th style="text-align: right;">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.TotalesAbonos != null)
                {
                    foreach (POS.Models.TotalVenta total_movimiento_efectivo in TotalesMovimientosEfectivo)
                    {
                                    <tr style="text-align: right;">
                                        <td style="text-align: left; font-weight: bold;">@total_movimiento_efectivo.tipo_pago</td>
                                        <td style="font-weight: bold;">$<label style="font-weight: 300;">@total_movimiento_efectivo.facturado</label></td>
                                        <td style="font-weight: bold;">$<label style="font-weight: 300;">@total_movimiento_efectivo.cancelado</label></td>
                                        <td style="font-weight: bold;">$<label style="font-weight: 300;">@total_movimiento_efectivo.total</label></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }


            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** Notas de Credito *** *** ** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <div style="width: 100%; height: auto; margin-bottom: 20px; float: right;">
                <table class="table" style="width: auto;">
                    <tr>
                        <td style="border: 0px; font-size: 20px; color: #254054;"><i class="glyph-icon icon-arrow-circle-down" style="margin-right: 10px;"></i>Notas De Credito</td>
                    </tr>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID Nota Credito</th>
                            <th>ID Venta</th>
                            <th>ID Venta Aplicada</th>
                            <th>Sucursal</th>
                            <th>Estatus</th>
                            <th>Fecha Creacion</th>
                            <th>Fecha Uso</th>
                            <th>Fecha Cancelacion</th>
                            <th style="text-align: right;">Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.ListaNotasCredito != null)
                        {
                            foreach (POS.Models.nota_credito nota_credito in ListaNotasCredito)
                            {
                                <tr>
                                    <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id_nota_credito(nota_credito.id)</td>
                                    <td style="text-align: center;">@POS.Fn.Numeros.serie_folio_by_id(nota_credito.id_venta)</td>
                                    <td style="text-align: center;">
                                        @if (nota_credito.id_venta_aplicada != null)
                                        {
                                            @POS.Fn.Numeros.serie_folio_by_id(nota_credito.id_venta_aplicada.Value)
                                        }
                                    </td>
                                    <td style="text-align: center;">@nota_credito.venta.sucursal.nombre_sucursal</td>
                                    <td style="text-align: center;">@nota_credito.estatus_nota_credito.nombre</td>
                                    <td style="text-align: center;">
                                        @if (nota_credito.fecha_creacion != null)
                                        {
                                            @nota_credito.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td style="text-align: center;">
                                        @if (nota_credito.fecha_uso != null)
                                        {
                                            @nota_credito.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td style="text-align: center;">
                                        @if (nota_credito.fecha_cancelacion != null)
                                        {
                                            @nota_credito.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                                        }
                                    </td>
                                    <td style="text-align: right;"><span>$</span>@nota_credito.cantidad</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div style="width: 100%; height: auto; margin-bottom: 20px; float: right;">
                <table class="table" style="width: 100%; text-align: right;">
                    <tr>
                        <td style="border: 0px; font-size: 20px; color: #254054;"><i class="glyph-icon icon-arrow-circle-down" style="margin-right: 10px;"></i>Resumen De Notas De Credito</td>
                    </tr>
                </table>
                <table class="table" style="width: 20%; float: right;">
                    <thead>
                        <tr>
                            <th>Estatus</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: right;">
                            <td style="text-align: left; font-weight: bold;">Aplicadas</td>
                            <td style="font-weight: bold;">$<label style="font-weight: 300;">@NotasCreditoCobradas</label></td>
                        </tr>
                        <tr style="text-align: right;">
                            <td style="text-align: left; font-weight: bold;">Por Aplicar</td>
                            <td style="font-weight: bold;">$<label style="font-weight: 300;">@NotasCreditoPendientes</label></td>
                        </tr>
                        <tr style="text-align: right;">
                            <td style="text-align: left; font-weight: bold;">Canceladas</td>
                            <td style="font-weight: bold;">$<label style="font-weight: 300;">@NotasCreditocanceladas</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** ***  Totales *** *** ** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <div style="width: 100%; height: auto; margin-bottom: 20px; float: left;">
                <table class="table" style='width: 25%;'>
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align: center">Totales</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int x = 0; x < ListaTiposPagosVenta.Count; x++)
                        {
                            <tr>
                                <td>@ListaTiposPagosVenta.ElementAt(x).tipo</td>
                                <td style="text-align: right">@Totales_Finales.ElementAt(x)</td>
                            </tr>
                        }
                        @if (TotalesVentasACredito != null)
                        {
                            <tr>
                                <td>*Credito</td>
                                <td style="text-align: right"><span>$</span><span>@TotalesVentasACredito.total</span></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>*Credito</td>
                                <td style="text-align: right"><span>$</span><span>0</span></td>
                            </tr>
                        }

                        <tr>
                            <td>Notas De Credito</td>
                            <td style="text-align: right"><span>$</span><span>@NotasCreditoCobradas</span></td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td style="text-align: right"><span>$</span><span>@GranTotal</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="width: 100%; height: auto; margin-bottom: 20px; float: left;">
                <table class="table" style="width: auto;">
                    <tr>
                        <td style="font-weight: bold; border: 0px; font-size: 20px; color: #254054;">Total En Caja: </td>
                        <td style="border: 0px; font-size: 20px; color: #254054;"><i class="glyph-icon icon-dollar" style="margin-right: 10px;"></i>@Math.Round((Totales_Finales.ElementAt(0)), 2)</td>
                    </tr>
                </table>
            </div>
            <div style="width: 100%; height: auto; float: left;">
                <table class="table" style="width: auto;">
                    <tr>
                        <td style="border: 0px;">
                            <a onclick="javascript:CallPrint('div_nuevo_corte_impresion')" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-print"></i>
                                </span>
                                <span class="button-content">Imprimir</span>
                            </a>
                            <a id="ExportarExcel" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-file-excel-o"></i>
                                </span>
                                <span class="button-content">Exportar A Excel</span>
                            </a>
                            <a href="@Url.Action("Index")" class="btn btn-info">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-arrow-left"></i>
                                </span>
                                <span class="button-content">Volver</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <table id="TablaCorteCajaExcel" style="display: none;">
        <thead>
            <tr>
                <th><h1>Corte de Caja</h1></th>
            </tr>
            <tr>
                <th><h2>Perido: @Convert.ToDateTime(ViewBag.fechaInicio).ToString("dd/MM/yyyy HH:mm") - @Convert.ToDateTime(ViewBag.fechaFin).ToString("dd/MM/yyyy HH:mm")</h2></th>
            </tr>
            <tr>
                <th><h2>Movimientos</h2></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** ***  Ventas *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <tr>
                <td><h2>Ventas</h2></td>
            </tr>
            <tr>
                <td>Id Venta</td>
                <td>Cliente</td>
                <td>Estatus</td>
                <td>Sucursal</td>
                <td>Fecha De Entrega</td>
                <td>Fecha De Cancelacion</td>
                @foreach (POS.Models.tipo_pago_venta tipo_pago in ListaTiposPagosVenta)
                {
                    <td>@tipo_pago.tipo</td>
                }

                <td>Egreso</td>
            </tr>
            @if (ViewBag.ListaVentas != null)
            {
                foreach (POS.Models.venta venta in ListaVentas)
                {
                    if ((((venta.catalogo_status_id == 1 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.Fecha_entrega.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.Fecha_entrega.Value)
                                     || (venta.catalogo_status_id == 9 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value)
                                     || (venta.catalogo_status_id == 10 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value)
                                     || (venta.catalogo_status_id == 11 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value))
                                     || ((venta.catalogo_status_id == 2 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.Fecha_entrega.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.Fecha_entrega.Value))
                                     || (venta.catalogo_status_id == 12 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value))))
                                     && (venta.multiple_pago.Where(x => x.id_tipo_pago_venta != 4).FirstOrDefault() != null))
                    {
                        <!-- *** *** *** *** *** Si es una venta solo a credito esta no tiene que aparecer *** *** *** *** *** -->
                        <tr>
                            <td>@venta.Serie-@POS.Fn.Numeros.agregarCeros(venta.Folio.Value)</td>
                            <td>@venta.cliente.Razon_social</td>
                            <td>Activa</td>
                            <td>@venta.sucursal.nombre_sucursal</td>
                            @if (venta.Fecha_entrega == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm")</td>
                            }
                            @if (venta.fecha_cancelacion == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@venta.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                            }
                            @foreach (POS.Models.tipo_pago_venta tipo_pago in ListaTiposPagosVenta)
                            {
                                if (venta.multiple_pago.Where(x => x.id_tipo_pago_venta == tipo_pago.id).Any())
                                {
                                    <td>$@venta.multiple_pago.Where(x => x.id_tipo_pago_venta == tipo_pago.id).Single().cantidad.ToString()</td>
                                }
                                else
                                {
                                    <td>$0.00</td>
                                }
                            }
                            <td></td>
                        </tr>
                    }
                    if (((venta.catalogo_status_id == 2 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_cancelacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_cancelacion.Value))
                          || (venta.catalogo_status_id == 12 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_cancelacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_cancelacion.Value)))
                          && (venta.multiple_pago.Where(x => x.id_tipo_pago_venta != 4).FirstOrDefault() != null))
                    {
                        <tr>
                            <td>@venta.Serie-@POS.Fn.Numeros.agregarCeros(venta.Folio.Value)</td>
                            <td>@venta.cliente.Razon_social</td>
                            <td>@venta.catalogo_status.status</td>
                            <td>@venta.sucursal.nombre_sucursal</td>
                            @if (venta.Fecha_entrega == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm")</td>
                            }
                            @if (venta.fecha_cancelacion == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@venta.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                            }
                            @foreach (POS.Models.tipo_pago_venta tipo_pago in ListaTiposPagosVenta)
                            {
                                <td></td>
                            }
                            @if (venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).FirstOrDefault() == null)
                            {
                                <td style="text-align: right">$@venta.total</td>
                            }
                            else
                            {
                                <td style="text-align: right">$@(venta.total - venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).Single().cantidad)</td>
                            }
                        </tr>
                    }
                }
            }
            <tr>
                <td></td>
            </tr>
            <tr>
                <td><h2>Resumen de Ventas</h2></td>
            </tr>
            <tr>
                <td>Tipo De Pago</td>
                <td>Facturado</td>
                <td>Cancelado</td>
                <td>Total</td>
            </tr>
            @if (ViewBag.TotalesVentas != null)
            {
                foreach (POS.Models.TotalVenta total_venta in TotalesVentas)
                {
                    <tr>
                        <td>@total_venta.tipo_pago</td>
                        <td>$@total_venta.facturado</td>
                        <td>$@total_venta.cancelado</td>
                        <td>$@total_venta.total</td>
                    </tr>
                }
            }
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** Ventas A Credito ** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->

            <tr>
                <td><h2>Ventas A Credito</h2></td>
            </tr>
            <tr>
                <td>Id Venta</td>
                <td>Cliente</td>
                <td>Estatus</td>
                <td>Sucursal</td>
                <td>Fecha De Entrega</td>
                <td>Fecha De Cancelacion</td>
                <td>Credito</td>
                <td>Cancelado</td>
            </tr>
            @if (ViewBag.ListaVentas != null)
            {
                foreach (POS.Models.venta venta in ListaVentas)
                {
                if (venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).FirstOrDefault() != null &&
                ((venta.catalogo_status_id == 1 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.Fecha_entrega.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.Fecha_entrega.Value)
                || (venta.catalogo_status_id == 9 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value)
                || (venta.catalogo_status_id == 10 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value)
                || (venta.catalogo_status_id == 11 && Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value)
                || (venta.catalogo_status_id == 2 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.Fecha_entrega.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.Fecha_entrega.Value))
                || (venta.catalogo_status_id == 12 && (Convert.ToDateTime(ViewBag.fechaInicio) <= venta.fecha_liquidacion.Value && Convert.ToDateTime(ViewBag.fechaFin) >= venta.fecha_liquidacion.Value))
                ))
                    {
                        <tr>
                            <td>@venta.Serie-@POS.Fn.Numeros.agregarCeros(venta.Folio.Value)</td>
                            <td>@venta.cliente.RFC</td>
                            <td>Activa</td>
                            <td>@venta.sucursal.nombre_sucursal</td>
                            @if (venta.Fecha_entrega == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm")</td>
                            }
                            @if (venta.fecha_cancelacion == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@venta.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                            }
                            <td>$@venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).Single().cantidad.ToString()</td>
                            <td></td>
                        </tr>
                    }
                    if (venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).FirstOrDefault() != null
                    && (venta.catalogo_status_id == 2 || venta.catalogo_status_id == 12)
                    && venta.fecha_cancelacion != null)
                    {
                        if (venta.fecha_cancelacion >= ViewBag.fechaInicio && venta.fecha_cancelacion <= ViewBag.fechaFin)
                        {
                            <tr>
                                <td>@venta.Serie-@POS.Fn.Numeros.agregarCeros(venta.Folio.Value)</td>
                                <td>@venta.cliente.RFC</td>
                                <td>@venta.catalogo_status.status</td>
                                <td>@venta.sucursal.nombre_sucursal</td>
                                @if (venta.Fecha_entrega == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@venta.Fecha_entrega.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                }
                                @if (venta.fecha_cancelacion == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@venta.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                }
                                <td></td>
                                <td>$@venta.multiple_pago.Where(x => x.id_tipo_pago_venta == 4).Single().cantidad.ToString()</td>
                            </tr>
                        }
                    }
                }
            }
            <tr>
                <td></td>
            </tr>
            <tr>
                <td><h2>Resumen De Ventas a Credito</h2></td>
            </tr>
            <tr>
                <th>Tipo De Pago</th>
                <th style="text-align: right;">Facturado</th>
                <th style="text-align: right;">Cancelado</th>
                <th style="text-align: right;">Total</th>
            </tr>
            @if (TotalesVentasACredito != null)
            {
                <tr>
                    <td>@TotalesVentasACredito.tipo_pago</td>
                    <td>$<label style="font-weight: 300;">@TotalesVentasACredito.facturado</label></td>
                    <td>$<label style="font-weight: 300;">@TotalesVentasACredito.cancelado</label></td>
                    <td>$<label style="font-weight: 300;">@TotalesVentasACredito.total</label></td>
                </tr>
            }
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** * Abonos *** *** ** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <tr>
                <td><h2>Abonos</h2></td>
            </tr>
            <tr>
                <td>Id Abono</td>
                <td>Id Venta</td>
                <td>Tipo De Pago</td>
                <td>Estatus</td>
                <td>Fecha</td>
                <td>Usuario</td>
                <td>Fecha De Cancelacion</td>
                <td>Motivo De Cancelacion</td>
                <td>Usuario Cancela</td>
                <td>Ingreso</td>
                <td>Egreso</td>
            </tr>
            @if (ViewBag.ListaAbonos != null)
            {
                foreach (POS.Models.abono abono in ListaAbonos)
                {
                    if (abono.estatus == true || (abono.estatus == false && (Convert.ToDateTime(ViewBag.fechaInicio) <= abono.fecha.Value && Convert.ToDateTime(ViewBag.fechaFin) >= abono.fecha.Value)))
                    {
                        <tr>
                            <td>@abono.id</td>
                            <td>@abono.venta.Serie-@POS.Fn.Numeros.agregarCeros(abono.venta.Folio.Value)</td>
                            <td>@abono.tipo_pago_abono.tipo</td>
                            <td>Activo</td>
                            <td>@abono.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@abono.usuario_punto_venta1.nombre_usuario</td>
                            @if (abono.fecha_cancelacion == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@abono.fecha_cancelacion</td>
                            }
                            @if (abono.motivo_cancelacion == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@abono.motivo_cancelacion</td>
                            }
                            @if (abono.usuario_punto_venta == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@abono.usuario_punto_venta.nombre_usuario</td>
                            }
                            <td>$@abono.importe.Value</td>
                            <td></td>
                        </tr>
                    }
                    if (abono.estatus == false)
                    {
                        <tr>
                            <td>@abono.id</td>
                            <td>@abono.venta.Serie-@POS.Fn.Numeros.agregarCeros(abono.venta.Folio.Value)</td>
                            <td>@abono.tipo_pago_abono.tipo</td>
                            <td>Cancelado</td>
                            <td>@abono.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@abono.usuario_punto_venta1.nombre_usuario</td>
                            @if (abono.fecha_cancelacion == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@abono.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                            }
                            @if (abono.motivo_cancelacion == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@abono.motivo_cancelacion</td>
                            }
                            @if (abono.usuario_punto_venta == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@abono.usuario_punto_venta.nombre_usuario</td>
                            }
                            <td></td>
                            <td>$@abono.importe.Value</td>
                        </tr>
                    }
                }
            }
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h2>Resumen de Abonos</h2>
                </td>
            </tr>
            <tr>
                <td>Tipo De Pago</td>
                <td>Facturado</td>
                <td>Cancelado</td>
                <td>Total</td>
            </tr>
            @if (ViewBag.TotalesAbonos != null)
            {
                foreach (POS.Models.TotalVenta total_abono in TotalesAbonos)
                {
                    <tr>
                        <td>@total_abono.tipo_pago</td>
                        <td>$@total_abono.facturado</td>
                        <td>$@total_abono.cancelado</td>
                        <td>$@total_abono.total</td>
                    </tr>
                }
            }
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>


            <!-- *** *** *** *** *** *** *** *** *** *** *** ***   *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** Si esta activado movimientos efectivo *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** ***   *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            @if (movimientos_efectivo)
            {
                <tr>
                    <td><h2>Movimientos De Efectivo</h2></td>
                </tr>
                <tr>
                    <td>Id Movimiento</td>
                    <td>Sucursal</td>
                    <td>Tipo De Movimiento</td>
                    <td>Estatus</td>
                    <td>Fecha</td>
                    <td>Usuario</td>
                    <td>Descripción</td>
                    <td>Fecha De Cancelacion</td>
                    <td>Motivo De Cancelacion</td>
                    <td>Usuario Cancela</td>
                    <td>Ingreso</td>
                    <td>Egreso</td>
                </tr>
                if (TotalesMovimientosEfectivo != null)
                {
                    foreach (POS.Models.movimiento_efectivo movimiento_efectivo in ListaMovimientosEfectivo)
                    {
                        if (movimiento_efectivo.estatus == true || (movimiento_efectivo.estatus == false && (Convert.ToDateTime(ViewBag.fechaInicio) <= movimiento_efectivo.fecha.Value && Convert.ToDateTime(ViewBag.fechaFin) >= movimiento_efectivo.fecha.Value)))
                        {
                            <tr>
                                <td>@movimiento_efectivo.id</td>
                                <td>@movimiento_efectivo.sucursal.nombre_sucursal</td>
                                <td>@movimiento_efectivo.tipo_movimiento_efectivo.nombre</td>
                                <td>Activo</td>
                                <td>@movimiento_efectivo.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@movimiento_efectivo.usuario_punto_venta.nombre_usuario</td>
                                <td>@movimiento_efectivo.descripcion</td>
                                @if (movimiento_efectivo.fecha_cancelacion == null)
                            {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@movimiento_efectivo.fecha_cancelacion</td>
                                }
                                @if (movimiento_efectivo.motivo_cancelacion == null)
                            {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@movimiento_efectivo.motivo_cancelacion</td>
                                }
                                @if (movimiento_efectivo.usuario_punto_venta1 == null)
                            {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@movimiento_efectivo.usuario_punto_venta1.nombre_usuario</td>
                                }
                                @if (movimiento_efectivo.tipo_movimiento_efectivo.id != 2)
                                {
                                    <td style="text-align: right;">$@movimiento_efectivo.monto</td>
                                    <td></td>
                                }
                                else
                                {
                                    <td></td>
                                    <td style="text-align: right;">$@movimiento_efectivo.monto</td>
                                }
                            </tr>
                        }
                        if (movimiento_efectivo.estatus == false)
                        {
                            <tr>
                                <td>@movimiento_efectivo.id</td>
                                <td>@movimiento_efectivo.sucursal.nombre_sucursal</td>
                                <td>@movimiento_efectivo.tipo_movimiento_efectivo.nombre</td>
                                <td>Cancelado</td>
                                <td>@movimiento_efectivo.fecha.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@movimiento_efectivo.usuario_punto_venta.nombre_usuario</td>
                                <td>@movimiento_efectivo.descripcion</td>
                                @if (movimiento_efectivo.fecha_cancelacion == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@movimiento_efectivo.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                }
                                @if (movimiento_efectivo.motivo_cancelacion == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@movimiento_efectivo.motivo_cancelacion</td>
                                }
                                @if (movimiento_efectivo.usuario_punto_venta1 == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@movimiento_efectivo.usuario_punto_venta1.nombre_usuario</td>
                                }
                                @if (movimiento_efectivo.tipo_movimiento_efectivo.id != 2)
                                {
                                    <td></td>
                                    <td>$@movimiento_efectivo.monto</td>
                                }
                                else
                                {
                                    <td>$@movimiento_efectivo.monto</td>
                                    <td></td>
                                }

                            </tr>
                        }
                    }
                }
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h2>Resumen De Movimientos De Efectivo</h2>
                    </td>
                </tr>
                <tr>
                    <td>Tipo De Pago</td>
                    <td>Facturado</td>
                    <td>Cancelado</td>
                    <td>Total</td>
                </tr>
                if (ViewBag.TotalesAbonos != null)
                {
                    foreach (POS.Models.TotalVenta total_abono in TotalesMovimientosEfectivo)
                    {
                        <tr>
                            <td>@total_abono.tipo_pago</td>
                            <td>$@total_abono.facturado</td>
                            <td>$@total_abono.cancelado</td>
                            <td>$@total_abono.total</td>
                        </tr>
                    }
                }
            }
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>

            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** Notas de Credito *** *** ** *** *** *** *** *** *** *** -->
            <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
            <tr>
                <td>
                    <h2>Notas de Credito</h2>
                </td>
            </tr>
            <tr>
                <td>ID Nota Credito</td>
                <td>ID Venta</td>
                <td>ID Venta Aplicada</td>
                <td>Sucursal</td>
                <td>Estatus</td>
                <td>Fecha Creacion</td>
                <td>Fecha Uso</td>
                <td>Fecha Cancelacion</td>
                <td>Importe</td>
            </tr>
            @if (ViewBag.ListaNotasCredito != null)
            {
                foreach (POS.Models.nota_credito nota_credito in ListaNotasCredito)
                {
                    <tr>
                        <td>@POS.Fn.Numeros.serie_folio_by_id_nota_credito(nota_credito.id)</td>
                        <td>@POS.Fn.Numeros.serie_folio_by_id(nota_credito.id_venta)</td>
                        <td>
                            @if (nota_credito.id_venta_aplicada != null)
                            {
                                @POS.Fn.Numeros.serie_folio_by_id(nota_credito.id_venta_aplicada.Value)
                            }
                        </td>
                        <td>@nota_credito.venta.sucursal.nombre_sucursal</td>
                        <td>@nota_credito.estatus_nota_credito.nombre</td>
                        <td>
                            @if (nota_credito.fecha_creacion != null)
                            {
                                @nota_credito.fecha_creacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                            }
                        </td>
                        <td>
                            @if (nota_credito.fecha_uso != null)
                            {
                                @nota_credito.fecha_uso.Value.ToString("dd/MM/yyyy HH:mm:ss")
                            }
                        </td>
                        <td>
                            @if (nota_credito.fecha_cancelacion != null)
                            {
                                @nota_credito.fecha_cancelacion.Value.ToString("dd/MM/yyyy HH:mm:ss")
                            }
                        </td>
                        <td>$@nota_credito.cantidad</td>
                    </tr>
                }
            }
            <tr>
                <td></td>
            </tr>
            <tr>
                <th>
                    <h2>Resumen de Notas de Credito</h2>
                </th>
            </tr>
            <tr>
                <td>Estatus</td>
                <td>Total</td>
            </tr>
            <tr>
                <td>Aplicadas</td>
                <td>$@NotasCreditoCobradas</td>
            </tr>
            <tr>
                <td>Por Aplicar</td>
                <td>$@NotasCreditoPendientes</td>
            </tr>
            <tr>
                <td>Canceladas</td>
                <td>$@NotasCreditocanceladas</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </tbody>
        <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
        <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** ***  Totales *** *** ** *** *** *** *** *** *** *** *** *** -->
        <!-- *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** -->
        <tfoot>
            <tr>
                <td>
                    <h2>Totales</h2>
                </td>
            </tr>
            <tr>
                <th>Totales</th>
            </tr>
            @for (int x = 0; x < ListaTiposPagosVenta.Count; x++)
            {
                <tr>
                    <td>@ListaTiposPagosVenta.ElementAt(x).tipo</td>
                    <td>$@Totales_Finales.ElementAt(x)</td>
                </tr>
            }
            @if (TotalesVentasACredito != null)
            {
                <tr>
                    <td>*Credito</td>
                    <td><span>$</span><span>@TotalesVentasACredito.total</span></td>
                </tr>
            }
            else
            {
                <tr>
                    <td>*Credito</td>
                    <td><span>$</span><span>0</span></td>
                </tr>
            }

            <tr>
                <td>*Notas De Credito</td>
                <td><span>$-</span><span>@NotasCreditoCobradas</span></td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$@GranTotal</td>
            </tr>
            <tr>
                <td>Total En Caja: </td>
                <td>$@Totales_Finales.ElementAt(0)</td>
            </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">
    function CallPrint(strid) {
        var prtContent = document.getElementById(strid);
        var WinPrint = window.open('', 'printwindow');
        WinPrint.document.write('<html><head></head><body>');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.write('</body></html>');
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
    }
</script>

<script>
    $(document).ready(function () {
        $("#ExportarExcel").click(function () {
            $('#TablaCorteCajaExcel .xlsx').trigger("click");
        });
    });
    $("#TablaCorteCajaExcel").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],     				// (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    });
</script>
