﻿@{
    ViewBag.Title = "POS - Nuevo Corte De Caja";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nuevo Corte De Caja</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div class="Opciones" style="margin-left: 10px; margin-top: 10px; float: left; margin-bottom: 10px;">
            <label>Periodo: </label>
            <div class="btn btn-primary" style="width: 375px; background-color: #254054; border-color: #254054;">
                <i class="glyph-icon icon-calendar"></i>
                <input type="text" id="periodo" class="form-control" value="" readonly="readonly" style="border: none; background-color: transparent; color: white; padding-left: 0px; display: inline; box-shadow: none; cursor: pointer; opacity: 100; text-align: center;">
            </div>
        </div>
        <div class="Opciones" style="float: left; margin-left: 10px; margin-top: 10px;">
            <label>Sucursal: </label>                
            @Html.DropDownList("id_sucursal", null, new { @class = "form-control", @style = "display: inline; width: 200px;" })
        </div>
        <table id="Botones" class="table" style="width: 100%;">
            <tr>
                <td style="border: 0px;">
                    <a id="escogerFechaCorte" class="btn btn-success" style="margin-left: 10px; margin-bottom: 10px;">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-check"></i>
                        </span>
                        <span class="button-content">Generar</span>
                    </a>
                    <a href="@Url.Action("Index")" class="btn btn-danger" style="margin-bottom: 10px;">
                        <span class="glyph-icon icon-separator">
                            <i class="glyph-icon icon-times"></i>
                        </span>
                        <span class="button-content">Cancelar</span>
                    </a>
                </td>
            </tr>
        </table>
        <div id='Impresion'></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#periodo').daterangepicker({
            "showDropdowns": true,
            "timePicker": true,
            "timePickerSeconds": true,
            "locale": {
                "format": "MM/DD/YYYY hh:mm:ss A",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizado",
                "daysOfWeek": ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                "monthNames": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                "firstDay": 1
            },
            ranges: {
                'Hoy': ["@ViewBag.HoyInicio", "@ViewBag.HoyFin"],
                'Ayer': ["@ViewBag.AyerInicio", "@ViewBag.AyerFin"],
                'Antier': ["@ViewBag.AntierInicio", "@ViewBag.AntierFin"],
                'Semana Actual': ["@ViewBag.SemanaActualInicio", "@ViewBag.SemanaActualFin"],
                'Semana Pasada': ["@ViewBag.SemanaPasadaInicio", "@ViewBag.SemanaPasadaFin"],
                'Semana Antepasada': ["@ViewBag.SemanaAntepasadaInicio", "@ViewBag.SemanaAntepasadaFin"],
                'Quincena Actual': ["@ViewBag.QuincenaActualInicio", "@ViewBag.QuincenaActualFin"],
                'Quincena Pasada': ["@ViewBag.QuincenaPasadaInicio", "@ViewBag.QuincenaPasadaFin"],
                'Quincena Antepasada': ["@ViewBag.QuincenaAntepasadaInicio", "@ViewBag.QuincenaAntepasadaFin"],
                'Mes Actual': ["@ViewBag.MesActualInicio", "@ViewBag.MesActualFin"],
                'Mes Pasado': ["@ViewBag.MesPasadoInicioFin", "@ViewBag.MesPasadoFin"],
                'Mes Antepasado': ["@ViewBag.MesAntepasadoInicio", "@ViewBag.MesAntepasadoFin"]
            }
        });
    });
    $(document).on('click', '#escogerFechaCorte', function () {
        var url = '@Url.Action("VistaParcialNuevoCorteCaja")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id_sucursal: $('#id_sucursal').val(), periodo: $('#periodo').val() },
            success: function (x) {
                $('.Opciones').hide();
                $('#Botones').hide();
                $('#Impresion').html(x);
            },
            async: false
        });
    });
</script>
