﻿@{
    List<Tienda_Online.Models.venta> ListaVentasEntregar = ViewBag.ListaVentasEntregar as List<Tienda_Online.Models.venta>;
    List<Tienda_Online.Models.pdf_venta> ListaPDF = ViewBag.ListaPDF as List<Tienda_Online.Models.pdf_venta>;
    int i = 0;
}

@{
    if (ListaVentasEntregar.Count > 0)
    {
        foreach (Tienda_Online.Models.venta venta in ListaVentasEntregar)
        {
            <tr>
                <td>@Tienda_Online.Fn.Numeros.serie_folio_by_id(venta.id)</td>
                <td>@venta.usuario_punto_venta.nombre_usuario</td>
                <td>
                    <a class="btn btn-info btn-xs btn_mostrar_adjunto_venta_pdf" name="@ListaPDF.ElementAt(i++).id"><span><i class="fa fa-eye" aria-hidden="true"></i></span></a>
                </td>
                <td><span>$ </span>@Math.Round(venta.subtotal.Value, 2)</td>
                <td><span>$ </span>@Math.Round(venta.iva.Value, 2)</td>
                <td><span>$ </span>@Math.Round(venta.total.Value, 2)</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6" style="text-align:center;">No hay ventas realizadas.</td>
        </tr>
    }   
}