﻿@{
    Tienda_Online.Models.venta venta = ViewBag.venta as Tienda_Online.Models.venta;
    Tienda_Online.Models.usuario_punto_venta usuario = null;
    Tienda_Online.Models.cliente cliente = null;
    Boolean isLogin = false;

    if (ViewBag.isLogin == 1)
    {
        isLogin = true;
    }

    if (isLogin)
    {
        usuario = ViewBag.usuario;
        cliente = ViewBag.cliente;
    }
    
}

<style>
    p {
        margin: 0 !important;
    }
</style>
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootstrap.min.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/font-awesome.min.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/prettyPhoto.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/price-range.css")" />
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/animate.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/main.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/responsive.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/etalage.css")">
<link type='text/css' rel='stylesheet' href="@Url.Content("~/css/bootbox.min.css")">
<script type='text/javascript' src="@Url.Content("~/js/jquery.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/jquery-qrcode-0.14.0.min.js")"></script>
<script type='text/javascript' src="@Url.Content("~/js/scripts.js")"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


<html>
<body style="font-family: 'Montserrat', sans-serif;">
    <section id="cart_items">
        <div class="">
            @* FF4500  *@
            <div style="background-color: #FF4500; margin-left: auto; margin-right: auto; top: 0px; width: 100%; height: 50px;">
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                </div>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img src="@Url.Content("~/images/logo_nuevo.png")" alt="Logotipo" style="width: 50%; margin-bottom:20px; margin-top:20px; margin-left: 2%;"/>
                    </div>
                </div>
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">
                    <h2 style="font-size: 50px; color: #2f2f2f; font-weight: bold;">COTIZACIÓN</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="text-align: right">
                <div style="margin-right: 20px">
                    <label>
                        <img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; margin:0px 10px;' />Dólar: $
                        <label>@ViewBag.tipoCambiario MXN</label>
                    </label>
                </div>
            </div>
            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>Refacciones Internacionales para Gas SA de CV</label>
                        <p>Garibaldi #1287 Santa Teresita</p>
                        <p>Guadalajara Jalisco México 44600</p>
                        <br />
                    </div>
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p>Puerto Vallarta 01(322)2222766</p>
                        <p>Aguascalientes 01(449)9737067</p>
                        <p>Matriz – Guadalajara 018008373064</p>
                        <br />
                    </div>
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>ventasweb@moragas.com.mx</label>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float: right; text-align: right">
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>FECHA:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>@venta.fecha</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>CLIENTE No.:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>@venta.Cliente_id</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>Cotización No.:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>@Tienda_Online.Fn.Numeros.serie_folio_by_id(venta.id)</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>Orden No.:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>@String.Format("{0:00000000}", 1)</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>Factura No.:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>@String.Format("{0:00000000}", 1)</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>Método de envío:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>----</p>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <strong>Método de pago:</strong>
                        </div>
                        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <p>----</p>
                        </div>
                    </div>
                </div>
            </div>
            @if (isLogin)
            {
                <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray;">
                    <div class=" col-lg-6  col-md-6  col-sm-6 col-xs-6" style="height: 150px; margin-top: 5px; margin-bottom: 5px">
                        <strong style="font-size: 20px; margin-left: 10px">FACTURAR A:</strong>
                        <p><strong>RAZÓN:</strong>@usuario.nombre_usuario</p>
                        <p><strong>DIRECCIÓN:</strong>@cliente.calle @cliente.exterior @cliente.colonia</p>
                        <p><strong>DIRECCIÓN2:</strong>@cliente.cp @cliente.estado México</p>
                        <p><strong>RFC:</strong>@cliente.RFC</p>
                        <p><strong>CORREO:</strong>@cliente.correo</p>
                        <p><strong>TELÉFONO:</strong>@cliente.telefono</p>
                    </div>
                    <div class=" col-lg-6  col-md-6  col-sm-6 col-xs-6" style="height: 150px; margin-top: 5px; margin-bottom: 5px">
                        <strong style="font-size: 20px; margin-left: 10px">ENVIAR A:</strong>
                        <p><strong>NOMBRE:</strong>@usuario.nombre_usuario</p>
                        <p>
                            <strong>DIRECCIÓN:</strong>@cliente.calle_embarque @cliente.exterior_embarque @cliente.colonia_embarque
                    </div>
                </div>
            }
            @foreach (Tienda_Online.Models.conceptos_por_venta conceptos_por_venta in venta.conceptos_por_venta.ToList())
            {
                string moneda = conceptos_por_venta.producto.precio_dolar.Value == 1 ? "USD" : "MXN";
                <div class="ProductoCarrito" style="width:100%;float: left;position: relative;padding:20px; border: 1px solid #d7d5d5; padding: 20px; margin-bottom: 20px; color: #4A4A4A" id_producto="@conceptos_por_venta.Producto_id">
                    <div class=" col-lg-1 col-md-2 col-sm-12 col-xs-12">
                        <div class="canvas_img" style="height: 100px;">
                            <div>
                                @if (conceptos_por_venta.producto.imagen.Count() != 0)
                                {

                                    if (!conceptos_por_venta.producto.imagen.First().Equals(""))
                                    {
                                        if ((System.IO.File.Exists(Server.MapPath("~/imagen_producto/" + conceptos_por_venta.producto.imagen))))
                                        {
                                    <div class="cover_img_100perc"   style="@("background-image:url(" + Url.Content("~/imagen_producto/" + conceptos_por_venta.producto.imagen) + ");margin:0;width:auto;background-color: transparent;")"></div> 
                                        }
                                        //LA IMAGEN DE PRODUCTO FUE DADA DE ALTA PERO NO SE ENCONTRO EN LA CARPETA
                                        else
                                        {
                                    <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;	filter: alpha(opacity=50);opacity: 0.5;")"></div>
                                        }
                                    }
                                    //NO SE HA SUBIDO NINGUNA IMAGEN PARA ESTE PRODUCTO
                                    else
                                    {
                                    <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                    }
                                }
                                else
                                {
                                    <div class="cover_img_100perc"   style="@("background-image:url('" + Url.Content("~/imagen_producto/producto_default.png") + "');margin:0;width:auto;background-color: transparent;")"></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-11 col-md-11 col-sm-12 col-xs-12">
                        <div style="width: 100%; float: left; position: relative; padding: 5px">
                            <div class=" col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Nombre del producto y detalles</label>
                            </div>
                            <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Precio Unitario</label>
                            </div>
                            <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: center;">
                                <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal;">Cantidad</label>
                            </div>

                        </div>
                        <div style="width: 100%; float: left; position: relative; padding: 5px">
                            <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label>@conceptos_por_venta.producto.Descripcion</label>
                            </div>
                            <div class=" col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                @if (conceptos_por_venta.producto.precio_dolar == 0)
                                {   
                                    <label class="precio_unitario" style="cursor: pointer; font-weight: bold; line-height: 30px; float: left">
                                        $
                                    <span class="precio" precio_dolar="@conceptos_por_venta.producto.precio_dolar"   style="display: none">@conceptos_por_venta.precio_unitario.Value.ToString("0.00")</span>
                                        <span style="font-weight: bold">@conceptos_por_venta.precio_unitario.Value.ToString("#,##0.##")</span>
                                        <span class="Moneda" style="font-weight: bold">MXN</span>
                                    </label>
                                    <img class="bandera_unitario" src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px; float: left' />
                                }
                                else
                                {
                                    <label class="precio_unitario" style="cursor: pointer; font-weight: bold; line-height: 30px; float: left">
                                        $
                                    <span class="precio" precio_dolar="@conceptos_por_venta.producto.precio_dolar"   style="display: none">@conceptos_por_venta.precio_unitario.Value.ToString("0.00")</span>
                                        <span style="font-weight: bold">@conceptos_por_venta.precio_unitario.Value.ToString("#,##0")</span>
                                        <span class="Moneda" style="font-weight: bold">USD</span>
                                    </label>   
                                    <img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px; float: left' />

                                }
                            </div>
                            <div class=" col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                <div style="text-align: center;">
                                    <div class="cart_quantity_button" id_producto="@conceptos_por_venta.Producto_id" style="display: inline-block;">
                                        <label>@conceptos_por_venta.cantidad.ToString("#,##0.###")</label>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-lg-3 col-md-2 col-sm-12 col-xs-12">
                                <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Subtotal</label>
                                </div>
                                <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                    <label class="" style="cursor: pointer; font-weight: bold; float: right; color: #00b73e;">
                                        $<span class="importe" style="font-weight: bold"></span>@conceptos_por_venta.importe.Value.ToString("#,##0.###")
                                        <span class="tipoMoneda" style="font-weight: bold">@moneda</span>
                                    </label>
                                </div>
                                <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Iva</label>
                                </div>
                                <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                    <label class="" style="cursor: pointer; font-weight: bold; float: right; color: #00b73e;">
                                        $<span class="iva" style="font-weight: bold"></span>@conceptos_por_venta.iva_importe.Value.ToString("#,##0.###")
                                        <span class="tipoMoneda" style="font-weight: bold">@moneda</span>
                                    </label>
                                </div>

                                <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                    <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">Total</label>
                                </div>
                                <div class=" col-lg-7 col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                    @*<img class="bandera_subtotal" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; vertical-align: bottom;margin: 0 0 0 10px;float: left;' />*@
                                    <label class="" style="cursor: pointer; font-weight: bold; float: right; color: #00b73e;">
                                        $<span class="total" style="font-weight: bold"></span>@conceptos_por_venta.importe_mas_iva.Value.ToString("#,##0.###")
                                        <span class="tipoMoneda" style="font-weight: bold">
                                            @moneda
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class=" col-lg-3 col-md-3  col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5; height: 122px">
                <ul style="font-size: 12px; font-size: 12px; font-weight: normal; list-style: none; margin-top: 30px; padding: 0;">
                    <li>*Esta cotización tiene una vigencia de 15 días</li>
                    <li>*Precios pueden cambiar sin previo aviso</li>
                    <li>*Tiempo de entrega corre a partir del pago del material</li>
                </ul>
            </div>
            <div class=" col-lg-2 col-md-2  col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5; height: 122px">
                <ul style="font-size: 12px; font-size: 12px; font-weight: normal; list-style: none; margin-top: 30px; padding: 0;">
                    <li>DATOS DE TRANFERENCIA</li>
                    <li>
                        <img src="@Url.Content("~/images/banbajio.svg")" style="width:20px" />BanBajio 01215485452198</li>
                    <li>
                        <img src="@Url.Content("~/images/santander.jpg")" style="width:20px" />Santander 21245631582265</li>
                </ul>
            </div>
            <div class="divTotales col-lg-3 col-lg-offset-1 col-md-3  col-md-offset-1  col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5">
                <div class="container">
                    <div style="text-align: center; width: 100%; float: left; position: relative; padding: 5px">
                        <div style="display: inline-block;">
                            <label style="float: left; line-height: 30px">MNX</label><img class="bandera_unitario" src='@Url.Content("~/images/moneda_pesos.png")' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px; float: left' />
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">SUBTOTAL</label>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label id="subtotalpesos" style="float: right;">$ @venta.conceptos_por_venta.Where(x => x.producto.precio_dolar == 0).Select(x => x.importe).Sum()</label>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">IVA</label>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label id="ivaPesos" style="float: right;">$ @venta.conceptos_por_venta.Where(x => x.producto.precio_dolar == 0).Select(x => x.iva_importe).Sum()</label>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">TOTAL</label>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label id="totalPesos" style="float: right;">$ @venta.conceptos_por_venta.Where(x => x.producto.precio_dolar == 0).Select(x => x.importe_mas_iva).Sum()</label>
                    </div>
                </div>
            </div>

            <div class="divTotales col-lg-3 col-md-3 col-sm-12 col-xs-12" style="border: 1px solid #d7d5d5">
                <div class="container">
                    <div style="text-align: center; width: 100%; float: left; position: relative; padding: 5px">
                        <div style="display: inline-block;">
                            <label style="float: left; line-height: 30px">USD</label><img class="bandera_unitario" src='@Url.Content("~/images/moneda_dolares.png")' style='width: 20px; vertical-align: bottom; margin:5px 0 0 10px; float: left' />
                        </div>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">SUBTOTAL</label>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label id="subtotaldolares" style="float: right;">$ @venta.conceptos_por_venta.Where(x => x.producto.precio_dolar == 1).Select(x => x.importe).Sum()</label>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">IVA</label>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label id="ivadolares" style="float: right;">$ @venta.conceptos_por_venta.Where(x => x.producto.precio_dolar == 1).Select(x => x.iva_importe).Sum()</label>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label style="font-size: 12px; color: #a7a7a7; border-bottom: 1px solid #d7d5d5; font-weight: normal; float: right;">TOTAL</label>
                    </div>
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label id="totaldolares" style="float: right;">$ @venta.conceptos_por_venta.Where(x => x.producto.precio_dolar == 1).Select(x => x.importe_mas_iva).Sum()</label>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>

