﻿
.txtar {
    text-align: right !important;
}

.txtal {
    text-align: left !important;
}

.txtac {
    text-align: center !important;
}

.pad5 {
    padding: 5px !important;
}

trfondo_rojo

.pad10 {
    padding: 10px !important;
}

.pad15 {
    padding: 15px !important;
}

.trfondo_rojo {
    background-color: #f9d8d8 !important;
}

.trfondo_amarillo {
    background-color: #f2fcb0 !important;
}

.div10px_verde {
    width: 10px;
    height: 10px;
    background-color: #2bde73 !important;
}

.div10px_amarillo {
    width: 10px;
    height: 10px;
    background-color: #f9d8d8 !important;
}

.div10px_rojo {
    width: 10px;
    height: 10px;
    background-color: #f2fcb0 !important;
}

.labelsm_gris {
    font-size: 11px;
    color: #959595;
    font-weight: normal;
}

.labelxs_gris {
    font-size: 8px;
    color: #959595;
    font-weight: normal;
}

.labelmd_gris {
    font-size: 14px;
    color: #959595;
    font-weight: normal;
}

.inputError {
    border-color: rgba(255, 4, 0, 0.5) !important;
    box-shadow: 1px 0px 4px rgb(254, 126, 124) !important;
}

.indicadores {
    position: relative;
}

    .indicadores[before]:before {
        content: attr(before);
        position: absolute;
        background: white;
        width: 15px;
        height: 20px;
        top: 4px;
        right: 4px;
        font-size: 11px;
        line-height: 19px;
        font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
        font-weight: bold;
        color: #777;
        text-align: center;
    }

    .indicadores[after]:after {
        content: attr(after);
        position: absolute;
        background: white;
        width: 15px;
        height: 20px;
        top: 4px;
        right: -14px;
        font-size: 11px;
        line-height: 19px;
        font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
        font-weight: bold;
        color: #777;
        text-align: center;
    }


.itemsRecibidos {
    color: #8a8a8a !important;
    text-align: center;
    padding: 0px 5px;
    margin: 0px;
    line-height: 18px;
    background-color: white;
}

.itemsEnviados {
    color: #8a8a8a !important;
    text-align: center;
    padding: 0px 5px;
    margin: 0px;
    line-height: 18px;
    background-color: white;
}

.medium .modal-dialog {
    overflow-y: initial !important;
    width: 50%;
    margin: 0 auto;
}

.mini_modal .modal-dialog {
    overflow-y: initial !important;
    width: 200px;
}


.medium_modal .modal-dialog {
    overflow-y: initial !important;
    width: 50%;
}

.large_maxHeight .modal-dialog {
    overflow-y: initial !important;
    width: 90%;
}

.large_maxHeight .modal-body {
    height: 95vh;
    overflow-y: auto;
}

.large_maxHeight table td {
    padding: 0px !important;
}

.large_maxHeight .iframe_large_maxHeight {
    height: 70vh;
}

.subtext {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #9A9A9A;
}

/*.removeRow {
}*/


.bdg {
    position: relative;
}

    .bdg[nbr]:after {
        content: attr(nbr);
        position: absolute;
        background: #ff3b3b; /*red;*/
        width: 20px;
        height: 20px;
        top: -6px;
        right: -5px;
        border-radius: 50%;
        font-size: 11px;
        line-height: 19px;
        box-shadow: -1px 1px 1px #810000; /*#000;*/
        font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
        font-weight: bold;
    }

.badge1 {
    position: relative;
}

    .badge1[data-badge]:after {
        content: attr(data-badge);
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: .8em;
        background: #fff;
        color: #2bde73;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
        border-radius: 50%;
        border: 1px solid #2bde73;
        /*content: attr(data-badge);
position: absolute;
top: -10px;
right: -10px;
font-size: .8em;
background: whitesmoke;
color: #000;
width: 18px;
height: 18px;
text-align: center;
line-height: 18px;
border-radius: 50%;
box-shadow: 0 0 1px #777;*/
    }

.padding_t_b-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.circles {
    margin-bottom: -10px;
}

.circle {
    width: 100px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

    .circle canvas {
        vertical-align: top;
    }

    .circle strong {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
    }

        .circle strong i {
            font-style: normal;
            font-size: 0.6em;
            font-weight: normal;
        }

    .circle span {
        display: block;
        color: #aaa;
        margin-top: 12px;
    }


.circle_complex {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: lightgray;
    float: right;
    margin-left: 5px;
}




/*progressbar CHECKLIST*/
.progressbarCl {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

    .progressbarCl li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 9px;
        width: 10%;
        float: left;
        position: relative;
        text-align: center;
    }

        .progressbarCl li label {
            padding: 0px 5px;
            color: lightgray;
            font-size: 9px;
            margin-bottom: 0px;
            /*border: 1px solid lightgray;*/
        }

        .progressbarCl li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: lightgray;
            background: white;
            border-radius: 3px;
            margin: 0 auto 5px auto;
            border: 1px solid lightgray;
        }
        /*progressbar connectors*/
        .progressbarCl li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }

    .progressbarCl .pfinalizada:before {
        /*background-color: #2bde73 !important;
        color: #FFF !important;*/
        border: 1px solid #2bde73 !important;
        color: #2bde73 !important;
    }

    .progressbarCl .pfinalizada label {
        color: #2bde73 !important;
    }

    .progressbarCl .pActual {
        cursor: pointer;
    }

        .progressbarCl .pActual:before {
            border: 1px solid #2bde73 !important;
            color: #2bde73 !important;
        }

        .progressbarCl .pActual:hover::before {
            background-color: #2bde73 !important;
            border: 1px solid #2bde73 !important;
            color: #fff !important;
        }


        .progressbarCl .pActual label, .progressbarCltitle {
            color: #2bde73 !important;
        }

    .progressbarCl li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
    }
    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    .progressbarCl li.active:before, .progressbarCl li.active:after {
        background: #27AE60;
        color: white;
    }

/*progressbar CHECKLIST*/



/*progressbar PROCESO*/
.progressbarP {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

    .progressbarP li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 9px;
        width: 10%;
        float: left;
        position: relative;
        text-align: center;
    }

        .progressbarP li label {
            padding: 0px 5px;
            color: lightgray;
            font-size: 9px;
            margin-bottom: 0px;
            /*border: 1px solid lightgray;*/
        }

        .progressbarP li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: lightgray;
            background: white;
            border-radius: 3px;
            margin: 0 auto 5px auto;
            border: 1px solid lightgray;
        }
        /*progressbar connectors*/
        .progressbarP li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }

    .progressbarP .pfinalizada:before {
        background-color: #2babde !important;
        border: 1px solid #2babde !important;
        color: #fff !important;
    }

    .progressbarP .pfinalizada:hover::before {
        border: 1px solid #36677b !important;
    }


    .progressbarP .pfinalizada label {
        color: #2babde !important;
    }

    .progressbarP .pActual {
        cursor: pointer;
    }

        .progressbarP .pActual:before {
            border: 1px solid #2babde !important;
            color: #2babde !important;
        }

        .progressbarP .pActual:hover::before {
            background-color: #0c5f80 !important;
            border: 1px solid #2babde !important;
            color: #fff !important;
        }


        .progressbarP .pActual label, .progressbarPtitle {
            color: #2babde !important;
        }

    .progressbarP li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
    }
    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    .progressbarP li.active:before, .progressbarP li.active:after {
        background: #27AE60;
        color: white;
    }

/*progressbar CHECKLIST*/


.div_circles_accion {
    text-align: left;
    width: 28px;
    margin: 0 auto;
}

.circle_accion {
    width: 5px;
    height: 5px;
    background-color: #43e683;
    float: left;
    margin: 2px;
}

.lblSubText {
    font-size: 11px !important;
    width: 100% !important;
    font-weight: normal !important;
}

.fa-lg {
    font-size: 1.5em;
}

.icono_hover_border_azul2 {
    color: #1D91E4;
    border: 1px solid #1D91E4;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0px 10px;
}

    .icono_hover_border_azul2:hover {
        background-color: #1D91E4;
        color: #FFF;
        border: 1px solid #1D91E4;
    }

.icono_hover_border_azul {
    color: #BFD5E6;
    border: 1px solid white;
    cursor: pointer;
    transition: border 0.2s ease;
    padding: 0px 10px;
}

    .icono_hover_border_azul:hover {
        color: #4C9ED9;
        border: 1px solid #4C9ED9;
    }


.icono_hover_border_verde {
    color: #88fbb6;
    border: 1px solid white;
    cursor: pointer;
    transition: border 0.2s ease;
    padding: 0px 10px;
}

    .icono_hover_border_verde:hover {
        color: #2bde73;
        border: 1px solid #2bde73;
    }

.icono_hover_border_rojo2 {
    color: #FFF;
    background-color: #FFCFCE;
    border: 1px solid white;
    cursor: pointer;
    padding: 0px 10px;
    transition: border 0.2s ease;
}

    .icono_hover_border_rojo2:hover {
        color: #FFF;
        background-color: #F3716D;
        border: 1px solid #F3716D;
    }

.icono_hover_border_rojo {
    color: #FFCFCE;
    border: 1px solid white;
    cursor: pointer;
    padding: 0px 10px;
    transition: border 0.2s ease;
}

    .icono_hover_border_rojo:hover {
        color: #F3716D;
        border: 1px solid #F3716D;
    }

.icono_hover_border_naranja {
    color: #DEB69D;
    border: 1px solid white;
    cursor: pointer;
    padding: 0px 10px;
    transition: border 0.2s ease;
}

    .icono_hover_border_naranja:hover {
        color: #F86B1F;
        border: 1px solid #F86B1F;
    }

.icono_hover_border_gris {
    color: #959595;
    border: 1px solid white;
    cursor: pointer;
    padding: 0px 10px;
    transition: border 0.2s ease;
}

    .icono_hover_border_gris:hover {
        color: #363636;
        border: 1px solid #363636;
    }

.errorMaxVal {
    border: 1px solid #ff5757;
    -moz-box-shadow: 0px 2px 4px 0px #ff5757;
    -webkit-box-shadow: 0px 2px 4px 0px #ff5757;
    box-shadow: 0px 2px 4px 0px #ff5757;
}

.letra_verde {
    font-weight: normal;
    color: #2bde73;
    width: auto;
    text-align: center;
    font-weight: normal;
}

.letra_verde2 {
    font-weight: normal;
    color: #2bde73;
    font-weight: normal;
}

.letra_azul {
    font-weight: normal;
    color: #50A7DE;
    width: auto;
    text-align: center;
    font-weight: normal;
}

.letra_naranja {
    font-weight: normal;
    color: #EFBC42;
    width: auto;
    text-align: center;
    font-weight: normal;
}

.letra_rojo {
    font-weight: normal;
    color: #F3716D;
    width: auto;
    text-align: center;
    font-weight: normal;
}

.letra_rojo2 {
    font-weight: normal;
    color: #F3716D;
    font-weight: normal;
}

.letra_gris {
    font-weight: normal;
    color: #6c6c6c;
    text-align: center;
    font-weight: normal;
}

.btn_checklist {
    padding: 5px;
    text-align: center;
    border-radius: 50px !important;
    width: 28px !important;
    height: 28px !important;
    cursor: pointer !important;
    margin: 0px !important;
}

    .btn_checklist i {
        padding: 5px;
    }

.btn_ok {
    border: 1px solid #049F0C !important;
    color: #049F0C !important;
}

.btn_mal {
    border: 1px solid #FF4A55 !important;
    color: #FF4A55 !important;
}

.btn_na {
    border: 1px solid #9A9A9A !important;
    color: #9A9A9A !important;
}

.btn_ok.btn_activo {
    background-color: #049F0C !important;
    color: white !important;
}

.btn_mal.btn_activo {
    background-color: #FF4A55 !important;
    color: white !important;
}

.btn_na.btn_activo {
    background-color: #9A9A9A !important;
    color: white !important;
}

.circulo40px {
    border-radius: 50px;
    width: 30px !important;
    height: 30px !important;
}

.boton_punteado_gris {
    width: 100%;
    color: #c8c8c8;
    border: 1px dashed #c8c8c8;
    text-align: center;
    padding: 5px;
}


.wauto {
    width: auto !important;
}

.boton_punteado_gris:hover {
    cursor: pointer;
    background-color: #6c6c6c;
    color: #FFF;
}

/*.boton_hover_azul3 {
    border: 1px solid #2f2cc3;
    background-color: #2f2cc3;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_azul3:hover {
        cursor: pointer;
        color: #2f2cc3 !important;
        background-color: #FFF;
    }*/



/*.boton_hover_azul4 {
    border: 1px solid #6dc9c9;
    background-color: #6dc9c9;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_azul4:hover {
        cursor: pointer;
        background-color: #FFF;
        color: #6dc9c9 !important;
    }*/


.boton_hover_verde3 {
    border: 1px solid #2bde73;
    background-color: #2bde73;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_verde3:hover {
        cursor: pointer;
        background-color: #1c8747;
    }

.fondo_verde {
    border: 1px solid #2bde73;
    background-color: #2bde73;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}
.fondo_gis {
    background-color: #585858;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.fondo_azul {
    border: 1px solid #4C9ED9;
    background-color: #4C9ED9;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.fondo_amarillo {
    background-color: #efe14b;
    color: #FFF !important;
    text-align: center;
    padding: 5px;
}

.modal_fondo_rojo .modal-content {
    background-color: #fbb0b0;
}

.modal_fondo_rojo .title2 {
    color: #f13838 !important;
}

.modal_fondo_verde .modal-content {
    background-color: #D6ECB3;
}

.modal_fondo_verde .title2 {
    color: #87cb16 !important
}

.fondo_rojo {
    background-color: #ff6868;
    color: #FFF !important;
    text-align: center;
    padding: 5px;
    width: 100%;
}

.boton_hover_verde2 {
    border: 1px solid #2bde73;
    background-color: #2bde73;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_verde2:hover {
        cursor: pointer;
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
        /*background-color: #FFF;
        color: #2bde73 !important;*/
    }

.boton_verde_hover_rojo {
    border: 1px solid #2bde73;
    color: #2bde73 !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_verde_hover_rojo:hover {
        border-color: #F3716D;
        cursor: pointer;
        background-color: #F3716D;
        color: #FFF !important;
    }


.boton_hover_verde {
    border: 1px solid #2bde73;
    color: #2bde73 !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_verde:hover {
        cursor: pointer;
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
        /*background-color: #8fe9b3   ;
        color: #FFF !important;*/
    }


.border_gris {
    border: 1px solid #9c9c9c;
    color: #9c9c9c !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.border_rojo {
    border: 1px solid #F3716D;
    color: #F3716D !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.border_amarillo {
    border: 1px solid #ffec16;
    color: #ffec16 !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.border_verde {
    border: 1px solid #2bde73;
    color: #2bde73 !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.border_naranja {
    border: 1px solid #f56b19;
    color: #f56b19 !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.relleno_verde {
    border: 1px solid #2bde73;
    background-color: #2bde73;
    color: #FFF;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.border_azul {
    border: 1px solid #4C9ED9;
    color: #4C9ED9 !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.boton_hover_rojo2 {
    border: 1px solid #F3716D;
    background-color: #F3716D;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_rojo2:hover {
        cursor: pointer;
        background-color: #FFF;
        color: #F3716D;
    }

        .boton_hover_rojo2:hover i {
            color: #F3716D !important;
        }

        .boton_hover_rojo2:hover label {
            color: #FFF !important;
        }

.boton_hover_azul2 {
    border: 1px solid #50A7DE;
    background-color: #50A7DE;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_azul2:hover {
        cursor: pointer;
        background-color: #FFF !important;
        color: #50A7DE !important;
    }

        .boton_hover_azul2:hover label {
            color: #50A7DE !important;
        }

        .boton_hover_azul2:hover i {
            color: #50A7DE !important;
        }

.boton_hover_azul3 {
    border: 1px solid #50A7DE;
    background-color: #FFF;
    color: #50A7DE !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_azul3:hover {
        cursor: pointer;
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }

.boton_hover_azul4 {
    border: 1px solid #50A7DE;
    background-color: #50A7DE;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_azul4:hover {
        cursor: pointer;
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }

.boton_hover_naranja {
    border: 1px solid #f56b19;
    color: #f56b19 !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_naranja:hover {
        cursor: pointer;
        background-color: #f56b19;
        color: #FFF !important;
    }

        .boton_hover_naranja:hover i, .boton_hover_naranja:hover label {
            color: #FFF !important;
        }

.boton_hover_naranja2 {
    border: 1px solid #f56b19;
    background-color: #f56b19;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_naranja2:hover {
        cursor: pointer;
        background-color: #FFF;
        color: #f56b19 !important;
    }

        .boton_hover_naranja2:hover i {
            color: #f56b19 !important;
        }

.boton_hover_naranja3 {
    border: 1px solid #f56b19;
    background-color: #FFF;
    color: #f56b19 !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_naranja3:hover {
        cursor: pointer;
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }

.boton_hover_naranja4 {
    border: 1px solid #f56b19;
    background-color: #f56b19;
    color: #FFF !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_naranja4:hover {
        cursor: pointer;
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
    }

.boton_hover_rojo {
    border: 1px solid #F3716D;
    color: #F3716D !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_rojo:hover {
        cursor: pointer;
        background-color: #F3716D;
        color: #FFF !important;
    }

        .boton_hover_rojo:hover i {
            color: #FFF !important;
        }

        .boton_hover_rojo:hover label {
            color: #FFF !important;
        }

.boton_accion {
    border: 1px solid #CFCFCF;
    color: #CFCFCF;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #CFCFCF;
}

.boton_hover_gris2 {
    border: 1px solid #CFCFCF;
    color: #CFCFCF;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #CFCFCF;
}

    .boton_hover_gris2:hover {
        cursor: pointer;
        color: #FFF;
    }

.boton_hover_gris {
    border: 1px solid #CFCFCF;
    color: #CFCFCF;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_gris:hover {
        cursor: pointer;
        background-color: #CFCFCF;
        color: #FFF;
    }

        .boton_hover_gris:hover i {
            color: #FFF !important;
        }


.boton_hover_verde_nowidth_noborder {
    color: #2bde73;
    text-align: center;
    padding-top: 7px;
}

    .boton_hover_verde_nowidth_noborder:hover {
        cursor: pointer;
        background-color: #2bde73;
        color: #FFF;
    }

.boton_hover_azul_nowidth_noborder {
    color: #4C9ED9;
    text-align: center;
    padding-top: 7px;
}


    .boton_hover_azul_nowidth_noborder:hover {
        cursor: pointer;
        background-color: #4C9ED9;
        color: #FFF;
    }


.boton_hover_azul {
    border: 1px solid #4C9ED9;
    color: #4C9ED9 !important;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_azul:hover {
        cursor: pointer;
        background-color: #4C9ED9;
        color: #FFF !important;
    }

        .boton_hover_azul:hover i,
        .boton_hover_azul:hover label {
            color: #FFF;
        }


.boton_hover_negro {
    border: 1px solid #474747;
    color: #474747;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_negro:hover {
        cursor: pointer;
        background-color: #474747;
        color: #FFF;
    }

.form-control2 {
    height: 34px;
    padding: 2px 4px;
    border-radius: 3px;
    color: #777;
    border: 1px solid #ddd;
}

@media (max-width: 767px) {
    #imf_rfid {
        margin-left: 23%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #imf_rfid {
        margin-left: 37%;
    }
}
