﻿.container {
	width:98% !important;   
}

/*******************************************
     Estilos para FAQs 
 ********************************************/
#cotizaEnLinea, #RegistrateYCotizaEnLinea {
    /*background-color: #00B73E;*/
    border-color: #35901a;
}

#dejarComentario span {
    margin-right: 2%;
}

/*******************************************
     Fin de estilos para FAQs 
 ********************************************/


/*******************************************
     Estilos para los Nueva Ventana Chats
 ********************************************/

.divChats {
    background-color: #b3a7a7;
}

.cabeceraChat {
    height: 7%;
    background-color: #c8d8c3;
}

.cuerpoChat {
    height: 89%;
    padding: 0;
    background-color: #d2f1b5;
}

.pieChat {
    height: 10%;
    padding-left: 0;
    padding-right: 0;
    background-color: #d2f1b5;
}

.userMessage {
    display: inline;
    width: 80%;
    margin-right: 0;
    margin-left: 1px;
    line-height: 28px;
    border-bottom: 0;
    border-top: 0;
}

.btnSendMessage {
    display: inline;
    width: 17%;
    height: 26px;
    font-size: x-small;
    margin-left: 0;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

.row_chat {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 94%;
}

.col-chat {
    padding-left: 0;
    padding-right: 0;
}

.tituloChat {
    font-size: small;
    margin-top: 1px;
    margin-left: 3px;
}

.messageArea {
    background-color: #d2f1b5;
    border-color: #d2f1b5;
    width: 100%;
    height: 274px;
}

#start-conversation {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 55px;
    right: 12px;
}

.img-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.disponible {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 102px;
    right: 16px;
    background-color: #7db70d;
}

.disponibleParaReceptor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    bottom: 24px;
    left: 297px;
    background-color: #7db70d;
}

#pedirNombre {
    width: 300px;
    height: 185px;
    position: fixed;
    bottom: 10px;
    right: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#iniciarConversacion {
    margin-left: 25%;
    margin-top: 1%;
}

#noIniciar {
    background-color: #b3cccc;
    color: white;
    margin-top: 1%;
}

#listaUsuariosConectados {
    overflow-y: scroll;
    margin-top: 12px;
}

#mensajesUsuarioActivo {
    margin-top: 12px;
}

.divMensajesStaticos {
}

.messageAreaReceptor {
    width: 100%;
    height: 100%;
}

.cuerpoChatReceptor {
    padding: 0;
    height: 385px;
}

.divChatsDisponibles {
    background-color: #f0f6e7;
    border: 2px solid #d3f0b9;
}

.userMessageReceptor {
    width: 91%;
}

.chat-activo {
    background-color: #dbe5f5;
}

.chat-msg-new {
    background-color: #9CF06C;
}

.cerrarChatListaReceptor {
    margin-right: -4%;
}

/*******************************************
     Fin de los estilos parala nueva Ventana Chat
 ********************************************/

/*******************************************
     Estilos para Contacto 
 ********************************************/

#twiiterMoragas {
    overflow-y: scroll;
    min-height: 80px;
    max-height: 260px;
}

#enviarMensaje {
    margin-bottom: 25px;
}

/*******************************************
     Fin de estilos para Contacto
 ********************************************/

/*******************************************
     Estilos para FAQs 
 ********************************************/

#accordion .panel-heading a, #accordion2 .panel-heading a,
#accordion3 .panel-heading a, #accordion4 .panel-heading a,
#accordion5 .panel-heading a,
#accordion .panel-heading a:hover, #accordion2 .panel-heading a:hover,
#accordion3 .panel-heading a:hover, #accordion4 .panel-heading a:hover,
#accordion5 .panel-heading a:hover,
#accordion .panel-heading a:active, #accordion2 .panel-heading a:active,
#accordion3 .panel-heading a:active, #accordion4 .panel-heading a:active,
#accordion5 .panel-heading a:active {
    text-decoration: none;
}

.li_parrafos_info > li > ul > li {
    list-style: inherit;
}

/*******************************************
     Fin de estilos para FAQs 
 ********************************************/

/*******************************************
     Estilos para About 
 ********************************************/

.about .parrafos_info {
    text-align: justify;
    /*text-indent: 25px;*/
    margin-bottom: 0;
}

#visitarTienda {
    /*background-color: #00B73E;*/
}

#imgAcercaNosotros {
    margin-top: 3%;
    width: 700px;
    height: 240px;
}

#imgAcercaOnline {
    margin-top: 5%;
    width: 700px;
    height: 200px;
}

#moragas_online {
    margin-bottom: 25px;
}
/*******************************************
    Fin de estilos para About
 ********************************************/

/*******************************************
     Estilos para Barras de Navegación 
 ********************************************/
#space-nav {
    width: 100%;
    height: 146px;
    background-color: white;
    z-index: 1;
}

#header {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
}

#volverinicio {
    padding-top: 1px;
    width: 210px;
}

#filtro {
    color: black;
    background: #ffffff;
    border: medium none;
    font-family: 'roboto';
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    outline: medium none;
    padding-left: 40px;
    width: 100%;
    background-image: url(../images/home/searchicon.png);
    background-repeat: no-repeat;
    background-position: 2%;
    box-shadow: 0px 0px 3px 0px #635858;
    border-radius: 34px;
    display: inline;
}

#buscar-col-6 {
    padding: 0px;
    height: 43px;
}

#Busqueda {
    width: 150px;
    display: inline;
    margin-left: -35px;
    height: 31px;
    background: none;
    /*background-color: #00B73E;*/
    color: white;
    z-index: -9999;
    border-radius: 0px 34px 34px 0px;
    font-size: 15px;
    margin-top: -1px;
    font-weight: bold;
}

.tt-menu {
    overflow-y: scroll;
    height: 500px;
}

.con-padding {
    padding-bottom: 10px;
    padding-top: 10px;
}

.sin-padding {
    padding-top: 2px;
    padding-bottom: 2px;
}

.sin-padding #Busqueda {
    height: 31px;
}

.sin-padding #filtro {
    height: 29px;
}

.sin-padding #buscar-col-6 {
    height: 30px;
}

.sin-padding #volverinicio {
    padding-top: 1px;
    width: 210px;
}

.carousel-indicators {
    z-index: 1;
}

/*******************************************
     Fin de estilos para Barras de Navegación 
 ********************************************/


/*******************************************
     Estilos para Imagenes Productos Inicio 
 ********************************************/

.productinfo {

}

.productinfo img {
    /*min-width: 80%;
    transform: scale(1, 1);
    width: 80%;*/
    max-width: 80%;
    max-height: 54%;
    }

/*******************************************
     Fin de estilos para Imagenes Productos Inicio 
 ********************************************/



/*******************************************
     Estilos para Imagenes Productos Inicio 
 ********************************************/
.nbs-flexisel-inner {
    background: white;
}

.nbs-flexisel-item p{
    
    line-height: initial;
}

h2.detalleProducto {
        margin: 14px auto 5px;
}

div.detalleProducto {
    margin: 2px auto;
}

.product-image-wrapper {
    margin-bottom: 5px;
}
/*******************************************
     Fin de estilos para Imagenes Productos Inicio 
 ********************************************/

.btn_mostrar_adjunto_venta_pdf, .btn_mostrar_adjunto_venta_final_pdf {
    background: rgba(44, 91, 125, 0.83);
    border-color: rgba(44, 91, 125, 0.83);
}