﻿
body {
    font-family: 'Montserrat', sans-serif;
}

.menu_header:hover {
    background-color: transparent !important;
}

.CleanDiv10px {
    height: 10px;
}

.hidding {
    display: none !important;
}

#div_filtro_resultados .twitter-typeahead {
    width: 90% !important;
}

#menu_categorias {
    background-color: white;
    -webkit-box-shadow: 0px 1px 1px #f0f0f0;
    -moz-box-shadow: 0px 1px 1px #de1dde;
    box-shadow: 0px 1px 1px #b6b6b6;
    padding-bottom: 10px;
    border-bottom: 2px solid #b6b6b6;
}

.second_header {
    background-color: white;
    -webkit-box-shadow: 0px 1px 1px #f0f0f0;
    -moz-box-shadow: 0px 1px 1px #de1dde;
    box-shadow: 0px 1px 1px #b6b6b6;
    border-top: none;
    margin-bottom: 5px;
}

.ModalHeaderVerde .modal-header { /*background-color:#00B73E;*/
    color: white;
    border-radius: 4px 4px 0px 0px;
}

.modal_width_90 .modal-dialog {
    width: 90% !important;
}

.modal_width_60 .modal-dialog {
    width: 60% !important;
}

body.modal-open {
    overflow: visible;
}

.btn_ver_detalle { /*background:#00B73E;*/
    border-radius: 64px;
    font-size: 14px;
    color: #FFFFFF;
}

.btn_busqueda {
    background-color: #4A4A4A;
    height: 40px;
    width: 15%;
    color: white;
    float: left;
    border: none;
    border-radius: 4px;
}

    .btn_busqueda:hover {
        background-color: #6B6767;
    }

.btn_ok, .btn_ok_real {
    cursor: pointer;
    padding: 10px;
    height: 40px; /*background:#00B73E;*/
    border-radius: 4px;
    font-size: 14px;
    color: #FFFFFF;
    color: #FFF;
    text-decoration: none;
}

.btn_cancel {
    cursor: pointer;
    padding: 10px;
    height: 40px;
    background: #D64339;
    border-radius: 4px;
    font-size: 14px;
    color: #FFFFFF;
}

.btn_ok label, .btn_ok img, .btn_ok_real label, .btn_ok_real img {
    cursor: pointer;
}

.btn_ok:hover, .btn_ok_real:hover { /*background-color:#09C94A;*/
    text-decoration: none;
    color: #FFF;
}

.alerta_ok, .alerta_error {
    display: none;
}

.btn_ok:active, .btn_ok_real:active {
    color: #FFF;
    text-decoration: none;
}

.btn_ok_borde, .btn_ok_borde_real { /*border:2px solid #00B73E;*/
    cursor: pointer;
    padding: 5px 10px;
    height: 40px;
    background: #FFF;
    border-radius: 4px;
    font-size: 14px; /*color:#00B73E;*/
    text-decoration: none;
}

.btn_cancel_borde {
    border: 2px solid #D64339;
    cursor: pointer;
    padding: 5px 10px;
    height: 40px;
    background: #FFF;
    border-radius: 4px;
    font-size: 14px;
    color: #D64339;
}

.btn_ok_borde:hover {
}

.btn_cancel_borde:hover {
}

.btn_todos_productos {
    font-family: "Montserrat",sans-serif;
    border: 3px solid #4A4A4A;
    border-radius: 7px;
    color: #4A4A4A;
    padding: 30px 60px;
    font-size: 24px;
    width: 100%;
}

    .btn_todos_productos:hover {
        background-color: #4A4A4A;
        color: #FFF;
        cursor: pointer;
    }

.btn_ver_productos {
    font-size: 14px;
    color: #4A4A4A;
}

.no_padding_margin {
    padding: 0px;
    margin: 0px;
}

.hamburger-unicode {
    margin: 0;
    width: 28px;
    height: 28px;
    font-size: 30px;
    color: #4A4A4A;
    cursor: pointer;
}

    .hamburger-unicode:hover {
        color: #6B6767;
        transition-property: color;
        transition-duration: 200ms;
    }

.div_telefonos {
    font-size: 24px;
}

.hamburger {
    margin: 0;
    padding: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 1px solid gray;
}

    .hamburger div {
        margin: 4px 0;
        padding: 0;
        background-color: #666666;
        border-radius: 2px;
        border-style: none;
        height: 3px;
    }

    .hamburger:hover div {
        background: white;
        transition-property: background;
        transition-duration: 200ms;
    }

    .hamburger:hover {
        background: #414141;
        transition-property: background;
        transition-duration: 200ms;
    }

.header_first {
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

    .header_first.smaller .navbar-brand {
        display: none;
    }

    .header_first.smaller nav a {
        line-height: 75px;
    }

.logoMoragas {
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.smaller .logoMoragas {
    display: block !important;
}

.btn_ver_detalle { /*background-color:#00b73e;*/
    color: white;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    width: 100%;
    font-size: 14px;
    padding: 15px 20%;
    vertical-align: middle;
}

    .btn_ver_detalle:active {
        color: #FFF;
    }

    .btn_ver_detalle:hover {
        background-color: #07d14b;
        cursor: pointer;
        text-decoration: none;
        color: #FFF;
    }

.btn-block a {
    color: #FFF;
}

    .btn-block a:hover {
        color: #FFF;
    }

    .btn-block a:active {
        color: #FFF;
    }

.producto_destacado {
    margin-top: 60px;
}

footer {
    border-top: 1px solid #4A4A4A;
    margin-top: 150px;
    padding: 0 5%;
}

#footer {
    color: #4A4A4A;
    width: 95%;
    margin: 2.5% auto;
}

.footerFloat {
    width: 20%;
}

#footer li {
    cursor: pointer;
}

    #footer li:hover {
        margin-left: 5px;
        color: #989898;
    }

#footer a {
    text-decoration: none;
}

    #footer a:link {
        text-decoration: none;
    }

    #footer a:visited {
        text-decoration: none;
    }

#footerFloat_left li:hover {
    margin-left: 5px;
}

.footerFloat a {
    color: inherit;
    text-decoration: none;
}

#footer ul {
    list-style-type: none;
    margin-top: 20px;
    margin-left: -40px;
}

#footer a {
    color: #4A4A4A;
}

    #footer a:hover {
        color: #989898;
    }

.footerFloat ul {
    list-style-type: none;
    margin-top: 20px;
    margin-left: -40px;
}

.footerFloat_left ul {
    list-style-type: none;
    margin-top: 20px;
    margin-left: -40px;
}

    .footerFloat_left ul li {
        margin-bottom: 20px;
        text-align: center;
    }

.footerFloat ul li {
    font-weight: normal;
}

.subir_cantidad, .bajar_cantidad {
    background-color: #f4f2f2;
    padding: 0 10px 0 10px;
    font-size: 25px;
    line-height: 30px;
    border: 1px solid gray;
    float: left;
    cursor: pointer;
    color: #4A4A4A;
}

.bajar_cantidad2, .subir_cantidad2 {
    float: left;
    background-color: #FFF;
    text-align: center;
    height: 20px; /*color:#00b73e;*/
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 0 20px 0;
    width: 30px; /*border:1px solid #00b73e;*/
    font-size: 10px;
}

    .bajar_cantidad2:hover, .subir_cantidad2:hover {
        cursor: pointer; /*background-color:#00b73e;*/
        color: #FFF;
    }

.cantidad {
    float: left;
    height: 32px;
    text-align: center;
}

.imagen_miniatura {
    border: 1px solid #ECECEC;
    cursor: pointer;
    padding: 0;
    margin-bottom: 15px;
}

    .imagen_miniatura:hover { /*border-color:#09C94A;*/
    }

.imagen_seleccionada { /*border:2px solid #00B73E !important;*/
}

.canvas_img {
    display: inline-block;
    width: 100%;
}

    .canvas_img > div {
    }

    .canvas_img div > div {
        background-repeat: no-repeat;
        background-position: center center;
        background-color: white;
    }

    .canvas_img div.cover_img_100perc {
        background-size: contain;
        margin: 0 auto;
        cursor: pointer;
        height: 100%;
    }

    .canvas_img div.cover_img_80px {
        background-size: contain;
        margin: 0 auto;
        cursor: pointer;
        height: 80px;
    }

    .canvas_img div.cover_img_150px {
        background-size: contain;
        margin: 0 auto;
        cursor: pointer;
        height: 150px;
    }

    .canvas_img div.cover_img_200px {
        background-size: contain;
        margin: 0 auto;
        cursor: pointer;
        height: 200px;
    }

    .canvas_img div.cover_img_300px {
        background-size: contain;
        margin: 0 auto;
        cursor: pointer;
        height: 300px;
    }

    .canvas_img div.cover_img {
        background-size: contain;
        margin: 0 auto;
        cursor: pointer;
    }

ol.simple-list {
    list-style-type: none;
    margin: 0;
    margin-left: 3em;
    padding: 0;
    counter-reset: li-counter;
}

    ol.simple-list > li {
        position: relative;
        margin-bottom: 20px;
        padding-left: 0.5em;
        min-height: 3em;
        border-left: 2px solid #CCCCCC;
    }

        ol.simple-list > li:before {
            position: absolute;
            top: 0;
            left: -1em;
            width: 0.8em;
            font-size: 3em;
            line-height: 1;
            font-weight: bold;
            text-align: right;
            color: #4A4A4A;
            content: counter(li-counter);
            counter-increment: li-counter;
        }

.pestana_descripcion {
    border: 2px solid lightgray;
    text-align: center;
    border-radius: 20px 20px 0 0;
    border-bottom: none;
}

    .pestana_descripcion label {
        padding: 20px;
    }

        .pestana_descripcion label:hover {
            padding: 20px;
            cursor: pointer;
        }

    .pestana_descripcion:hover {
        background-color: #F4F2F2;
        cursor: pointer;
    }

.pestana_activa {
    background-color: #F4F2F2;
    cursor: pointer;
}

#div_contenido_pestana {
    border-top: 2px solid lightgray;
    padding: 1% 15%;
    margin: 0;
    color: #4a4a4a;
}

#wrapper {
    background-color: blue;
    width: 100%;
    overflow: hidden;
}

#follow li {
    text-align: center;
}

#follow img {
    margin-bottom: 20px;
}

.img {
    width: 100%;
    height: 150px;
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    opacity: .8;
    background-color: #FFFFFF;
}
/*.titulo{font-family:"Montserrat",sans-serif;border:3px solid #00b73e;border-radius:7px;color:#00b73e;padding:30px 60px;font-size:24px;width:100%;}*/
.container p {
    margin: 10px 0;
    line-height: 20px;
}

.scrollable {
    height: 100px;
    overflow-y: auto;
}

.imgProd {
    width: 100%;
    height: 200px;
}

#loaderProd {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    opacity: .8;
    background-color: #FFFFFF;
}

.familia {
    font-size: 12px;
}

.marca {
    font-size: 12px;
}

.familia:hover {
    text-decoration: none !important;
}

.subfamilia {
}

.panel-body ul {
    list-style-type: none;
    margin-left: -35px;
}

    .panel-body ul li a {
        font-size: 10px;
        color: #848484;
        text-decoration: none;
    }

        .panel-body ul li a:hover {
            color: #4a4a4a;
            background-color: black;
        }

.formulario_2 input, .formulario_2 textarea {
    background: #F0F0E9;
    border: medium none;
    color: #696763;
    display: block;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 100%;
}

.formulario_2 .lbl_error {
    font-size: 12px;
    font-weight: normal;
    display: none;
    background-color: #fc5858;
    color: white;
    padding: 15px 10px;
    width: 100%;
    text-align: center;
}

.formulario_2 .lbl_ok {
    font-size: 12px;
    font-weight: normal;
    display: none; /*background-color:#00B73E;*/
    color: white;
    padding: 15px 10px;
    width: 100%;
    text-align: center;
}

.formulario_2 .label_form1 {
    display: inline;
    font-weight: normal;
    font-size: 12px;
    color: #939393;
}

.formulario_2 .left {
    text-align: left;
}

.formulario_2 .borde_gris {
    border-bottom: 1px solid #f0f0e9;
}

.alerta_formulario_error {
    background-color: #FFF;
    display: none;
    text-align: center;
    height: auto; /*color:#00b73e;*/
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 15px 10px;
    width: 100%;
}

    .alerta_formulario_error label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .alerta_formulario_error img {
        width: 35px;
        margin-right: 5px;
    }

    .alerta_formulario_error i {
        font-size: 25px;
        float: none;
        display: block;
    }

.alerta_formulario {
    background-color: #FFF;
    display: none;
    text-align: center;
    height: auto; /*color:#00b73e;*/
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 15px 10px;
    width: 100%;
}

    .alerta_formulario label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .alerta_formulario img {
        width: 35px;
        margin-right: 5px;
    }

    .alerta_formulario i {
        font-size: 25px;
        float: none;
        display: block;
    }

.botonEliminar, .botonEliminarReal {
    background-color: #FFF;
    text-align: center;
    color: #fc5858;
    border: 2px solid #fc5858;
    border-radius: 5px;
    padding: 5px;
}

    .botonEliminar:hover, .botonEliminarReal:hover {
        background-color: #fc5858;
        color: #FFF;
        cursor: pointer;
    }

.botonBordeVerde, .botonBordeVerdeReal {
    background-color: #FFF;
    text-align: center;
    height: auto; /*color:#00b73e;*/ /*border:2px solid #00b73e;*/
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 5px;
    width: 100%;
}

    .botonBordeVerde:hover, .botonBordeVerdeReal:hover { /*background-color:#00b73e;*/
        color: #FFF;
        cursor: pointer;
    }

.botonBordeRojo, .botonBordeRojoReal {
    background-color: #FFF;
    text-align: center;
    height: auto;
    color: #fc5858;
    border: 2px solid #fc5858;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 5px;
    width: 100%;
}

    .botonBordeRojo i, .botonBordeRojoReal i {
        margin-right: 5px;
    }

    .botonBordeRojo:hover, .botonBordeRojoReal:hover {
        background-color: #fc5858;
        color: #FFF;
        cursor: pointer;
    }

.botonBordeNaranja, .botonBordeNaranjaReal {
    background-color: #FFF;
    text-align: center;
    height: auto;
    color: #e9910f;
    border: 2px solid #e9910f;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 5px;
    width: 100%;
}

    .botonBordeNaranja i, .botonBordeNaranjaReal i {
        margin-right: 5px;
    }

    .botonBordeNaranja:hover, .botonBordeNaranjaReal:hover {
        background-color: #e9910f;
        color: #FFF;
        cursor: pointer;
    }

.botonBordeAzul, .botonBordeAzulReal {
    background-color: #FFF;
    text-align: center;
    height: auto;
    color: #48a0b7;
    border: 2px solid #48a0b7;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 5px;
    width: 100%;
}

    .botonBordeAzul i, .botonBordeAzulReal i {
        margin-right: 5px;
    }

    .botonBordeAzul:hover, .botonBordeAzulReal:hover {
        background-color: #48a0b7;
        color: #FFF;
        cursor: pointer;
    }

.borde_verde { /*border:2px solid #00b73e;*/
}

.borde_rojo, .borde_rojoReal {
    color: #fc5858;
    border: 2px solid #fc5858;
}

.centrado {
    text-align: center;
}

.w100 {
    width: 100%;
}

.nopadnomar {
    padding: 0px !important;
    margin: 0px !important;
}

.descripcionProducto {
    margin-top: 50px;
}

.carousel-indicators {
    display: none;
}

.precioProducto .precio {
    margin: 0 15px auto;
}

.div_cantidad label {
    font-size: 20px;
}

#div_agregar_cotizacion {
    margin-top: 30px;
}

.precio_unitario { /*color:#00b73e;*/
}

.ModalAutoHeight .modal-content {
    overflow-y: auto;
}

.tabla_vertical_center tbody tr td {
    display: table-cell;
    vertical-align: middle;
}

.tabla_estilo_1 {
    width: 100%;
}

    .tabla_estilo_1 thead tr {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
        padding: 8px;
        font-size: 14px;
        background-color: #F4F2F2;
    }

    .tabla_estilo_1 thead th {
        text-align: center;
    }

    .tabla_estilo_1 tbody td {
        padding: 8px;
        font-size: 12px;
    }

.boton_punteado_gris {
    width: 100%;
    color: gray;
    border: 1px dashed #c8c8c8;
    text-align: center;
    padding: 5px;
}

    .boton_punteado_gris:hover {
        cursor: pointer;
        background-color: #c8c8c8;
        color: #FFF;
    }

.boton_hover_rojo {
    color: #fc5858;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_rojo:hover {
        cursor: pointer;
        background-color: #fc5858;
        color: #FFF;
    }

.boton_hover_verde { /*color:#00B73E;*/
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_verde:hover {
        cursor: pointer; /*background-color:#09C94A;*/
        color: #FFF;
    }

        .boton_hover_verde:hover i {
            color: #FFF !important;
        }

.boton_hover_azul {
    color: #4C9ED9;
    width: 100%;
    text-align: center;
    padding: 5px;
}

    .boton_hover_azul:hover {
        cursor: pointer;
        background-color: #4C9ED9;
        color: #FFF;
    }

.menu_familia:hover {
    background-color: #F4F2F2;
    color: #4A4A4A;
}

#menu_categorias2 {
    display: inline-block;
    text-align: center;
    word-wrap: break-word !important;
    width: auto;
}

    #menu_categorias2 h1 {
        font-size: 60px;
        text-align: center;
        color: #FFF;
    }

    #menu_categorias2 h3 {
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        color: #FFF;
    }

        #menu_categorias2 h3 a {
            color: #FFF;
        }

    #menu_categorias2 a {
        color: #FFF;
    }

    #menu_categorias2 h1 {
        margin-top: 100px;
        text-align: center;
        font-size: 60px;
        line-height: 70px;
        font-family: 'roboto', sans-serif;
    }

    #menu_categorias2 #container {
        margin: 0 auto;
        max-width: 890px;
    }

    #menu_categorias2 p {
        text-align: center;
    }

    #menu_categorias2 .toggle, [id^=drop] {
        display: none;
    }

#menu_categorias2 {
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

    #menu_categorias2 #logo {
        display: block;
        padding: 0 30px;
        float: left;
        font-size: 20px;
        line-height: 40px;
    }

    #menu_categorias2:after {
        content: "";
        display: table;
        clear: both;
    }

    #menu_categorias2 ul {
        text-align: left;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }

        #menu_categorias2 ul li {
            margin: 0px;
            display: inline-block;
            float: left;
        }

    #menu_categorias2 a {
        display: block;
        padding: 0 10px;
        color: #4A4A4A;
        font-size: 12px;
        line-height: 40px;
        text-decoration: none;
        text-align: left;
    }

    #menu_categorias2 ul li ul li:hover {
    }

    #menu_categorias2 a:hover {
        background-color: #F4F2F2;
    }

    #menu_categorias2 ul ul {
        display: none;
        position: absolute;
        top: 40px;
    }

    #menu_categorias2 ul li:hover > ul {
        display: inherit;
        background-color: #F4F2F2;
    }

    #menu_categorias2 ul ul li {
        width: auto;
        float: none;
        display: list-item;
        position: relative;
        background-color: #F4F2F2;
    }

        #menu_categorias2 ul ul li a {
            background-color: #F4F2F2;
            line-height: 20px;
        }

            #menu_categorias2 ul ul li a:hover {
                background-color: #4A4A4A;
                color: #FFF;
            }

                #menu_categorias2 ul ul li a:hover + .menu_familia {
                    background-color: #F4F2F2;
                }

    #menu_categorias2 ul ul ul li {
        position: relative;
        top: -60px;
        left: 170px;
    }

    #menu_categorias2 li > a:only-child:after {
        content: '';
    }

    #menu_categorias2 ul li:last-child ul {
        right: 0px;
    }

@media all and (max-width:768px) {
    #menu_categorias2 #logo; {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    #menu_categorias2 {
        margin: 0;
    }

        #menu_categorias2 .toggle + a,
        #menu_categorias2 .menu {
            display: none;
        }

        #menu_categorias2 .toggle {
            display: block;
            background-color: #254441;
            padding: 0 20px;
            color: #FFF;
            font-size: 20px;
            line-height: 60px;
            text-decoration: none;
            border: none;
        }

            #menu_categorias2 .toggle:hover {
                background-color: #000000;
            }

        #menu_categorias2 [id^=drop]:checked + ul {
            display: block;
        }

        #menu_categorias2 ul li {
            display: block;
            width: 100%;
        }

        #menu_categorias2 ul ul .toggle,
        #menu_categorias2 ul ul a {
            padding: 0 40px;
        }

        #menu_categorias2 ul ul ul a {
            padding: 0 80px;
        }

        #menu_categorias2 a:hover,
        #menu_categorias2 ul ul ul a {
            background-color: #000000;
        }

        #menu_categorias2 ul li ul li .toggle,
        #menu_categorias2 ul ul a {
            background-color: #212121;
        }

        #menu_categorias2 ul ul {
            float: none;
            position: static;
            color: #ffffff;
        }

            #menu_categorias2 ul ul li:hover > ul,
            #menu_categorias2 ul li:hover > ul {
                display: none;
            }

            #menu_categorias2 ul ul li {
                display: block;
                width: 100%;
            }

            #menu_categorias2 ul ul ul li {
                position: static;
            }

        #menu_categorias2 ul li a:hover {
            background-color: #4A4A4A;
            color: #FFF;
        }
}

.hide_menu {
    display: none !important;
}

@media all and (max-width:330px) {
    #menu_categorias2 ul li; {
        display: block;
        width: 94%;
    }
}

.wrapper-dropdown-5 {
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 12px 15px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #4a4a4a;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    .wrapper-dropdown-5:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: #4a4a4a transparent;
    }

    .wrapper-dropdown-5 .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1029;
        background: #F4F2F2;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgba(0,0,0,0.2);
        border-top: none;
        border-bottom: none;
        list-style: none;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        max-height: 0;
        overflow: hidden;
    }

        .wrapper-dropdown-5 .dropdown li {
            padding: 0 10px;
        }

            .wrapper-dropdown-5 .dropdown li label {
                cursor: pointer;
                display: block;
                text-decoration: none;
                color: #333;
                padding: 10px 0;
                transition: all 0.3s ease-out;
                border-bottom: 1px solid #e6e8ea;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
                filter: alpha(opacity=70);
                -moz-opacity: 0.7;
                -khtml-opacity: 0.7;
                opacity: 0.7;
            }

            .wrapper-dropdown-5 .dropdown li:last-of-type label {
                border: none;
            }

            .wrapper-dropdown-5 .dropdown li i {
                margin-right: 5px;
                color: inherit;
                vertical-align: middle;
            }

            .wrapper-dropdown-5 .dropdown li:hover label {
                cursor: pointer;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                filter: alpha(opacity=100);
                -moz-opacity: 1;
                -khtml-opacity: 1;
                opacity: 1;
            }

    .wrapper-dropdown-5.active {
        border-radius: 5px 5px 0 0; /*background:#00b73e;*/
        box-shadow: none;
        border-bottom: none;
        color: white;
    }

        .wrapper-dropdown-5.active:after {
            border-color: #FFF transparent;
        }

        .wrapper-dropdown-5.active .dropdown {
            border-bottom: 1px solid rgba(0,0,0,0.2);
            max-height: 400px;
        }


.div_stock {
         float: right;
    background-color: #6be16b;
    width: 77px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
    line-height: 22px;
}

.en_stock {
    color: white;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

.div_no_stock {
        float: right;
    background-color: #f99;
    width: 77px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
    line-height: 22px;
}

.sin_stock {
    color: white;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

.en_stock_cantidad {
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}


.sin_stock_cantidad {
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}


