﻿
/*RESPONSIVE*/
@screen-xm-min: 0px;
@screen-xm-max: 420px;

@screen-mn-min: 421px;
@screen-mn-max: 767px;

@screen-sm-min: 768px;
@screen-sm-max: 991px;

@screen-md-min: 992px;
@screen-md-max: 1199px;

@screen-lg-min: 1200px;


//EXTRA MINI AND UP
@media (max-width: @screen-xm-max) {
}
//EXTRA MINI ONLY
@media (min-width: @screen-xm-min) and (max-width: @screen-xm-max) {
    .detalleProductoImagen {
        width: 100px !important;
        height: 100px !important;
    }

    .imgProd {
        height: auto!important;
    }

    #listaProductos .panel-title {
        font-size: 14px !important;
    }

    #descripcion_S {
        display: block;
    }

    #descripcion_L {
        display: none;
    }

    .text-center {
        margin: 20px 0px !important;
        padding-bottom: 20px !important;
        padding-top: 20px !important;
        font-size: 25px !important;
        color: #4A4A4A;
        font-weight: 700;
        text-transform: none;
        background-color: #F4F2F2;
    }
}
/**********************************/
/**********************************/ //
/**********************************/
//MINI HASTA MEDIANO
@media (min-width: @screen-xm-min) and (max-width: @screen-md-max) {

    .fontbolt20-sm-xs {
        font-size: 20px;
        font-weight: bold;
    }

    .hide-sm-sx {
        display: none !important;
    }

    .show-sm-sx {
        display: block !important;
    }

   
    .align-center-sm-sx {
        text-align: center;
    }

    .align-right-sm-sx {
        text-align: right;
    }

    .nopadnomar-sm-sx {
        padding: 0px !important;
        margin: 0px !important;
    }

    .padtop20nomar-sm-sx {
        padding: 20px 0 0 0 !important;
        margin: 0px !important;
    }

    .nopadmar20-sm-sx{
        padding: 0px;
        margin: 20px 0 0 0 !important;
    }

    .div_escritorio {
        display: none !important;
    }

    .div_movil {
        display: block !important;
    }


    .carousel-control.right span, .carousel-control.left span {
        padding: 0px !important;
        width: 15px !important;
    }

    .btn_todos_productos {
        padding: 15px 30px;
        font-size: 14px;
    }

    #div_login {
        display: none;
    }

    #miniBusqueda {
        display: block !important;
    }


    #div_menu {
        display: block !important;
    }


    #Busqueda {
        display: none;
    }

    .second_header {
        padding: 0 0 5px 0 !important;
    }

    /*#div_menu {
            display: none !important;
        }*/

    #div_cotizacion {
        display: none !important;
    }

    .btn-block {
        width: 80% !important;
    }

    .content .caption {
        text-align: center !important;
        padding: 0px 20px;
    }

        .content .caption h4 {
            font-size: 18px !important;
        }

        .content .caption p {
            font-size: 14px !important;
            height: auto !important;
        }

        .content .caption button {
            margin: 0 auto !important;
        }

    .content .span3 .img {
        height: 80px !important;
    }

    .content .span3 img {
        width: 100px !important;
        height: 80px !important;
    }

    .features_items h2 {
        padding-top: 0px !important;
        font-size: 20px !important;
        padding: 20px 0 !important;
    }

    #btn_todos_productos {
        padding: 10px 10px !important;
        font-size: 18px !important;
    }

    #div_resumen_display {
        display: none !important;
    }

    #productos_por_pagina {
        display: none !important;
    }


    .codigo {
        font-size: 20px !important;
    }

    .descripcion {
        font-size: 14px !important;
    }

    #listaproductos .panel-title {
        font-size: 20px !important;
    }

    #listaProductos .item {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .header-bottom {
        display: none;
    }

    .titulo1 {
        font-family: "Montserrat",sans-serif;
        /*border: 3px solid #00b73e;*/
        border-radius: 7px;
        /*color: #00b73e;*/
        padding: 10px 20px !important;
        font-size: 20px !important;
        width: 100%;
    }

    #input_text_busqueda {
        padding-right: 0px !important;
    }

        #input_text_busqueda img {
            height: 23px !important;
            margin: 10px 3px !important;
        }

    .div_telefonos {
        font-size: 14px;
    }

    .btn_ver_detalle {
        padding: 6px 12px;
        font-size: 14px;
    }

    .producto_destacado {
        margin-top: 30px;
    }

    .imagenProovedor {
        width: 33% !important;
        float: left;
        cursor: pointer;
    }

    #atencion {
        padding: 20px 0 10px 0 !important;
    }

        #atencion strong span {
            font-size: 15px !important;
        }

        #atencion span {
            font-size: 12px !important;
        }

    #proveedores {
        padding: 50px 10px !important;
    }

    #RegistrateYCotizaEnLinea {
        width: 90%;
        font-size: 18px !important;
        text-align: center;
        height: auto;
        border-radius: 0 0 10px 10px;
        margin: 0 5% 0 5%;
        padding: 10px 0 !important;
    }


    .tituloProducto {
        font-size: 15px;
    }

    .descripcionProducto {
        margin-top: 15px;
    }

    .product-information {
        margin-top: 0px;
    }

    .precioProducto label {
        font-size: 25px !important;
        padding: 0px;
    }

    .precioProducto .precio {
        margin: 0 5px !important;
    }

    .div_cantidad label {
        font-size: 15px;
    }

    #div_agregar_cotizacion {
        margin-top: 10px;
    }

    .nopadnomar_small {
        padding: 0px !important;
        margin: 0px !important;
    }

    #descripcion_S {
        display: block;
    }

    #descripcion_L {
        display: none;
    }
}
/**********************************/
/**********************************/ //
/**********************************/





//MINI AND UP
@media (max-width: @screen-mn-max) {
}
//MINI ONLY

@media (min-width: @screen-mn-min) and (max-width: @screen-mn-max) {
}
//SMALL AND UP
@media (min-width: @screen-sm-min) {
}

//SMALL ONLY
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .imagenProovedor {
        width: 25% !important;
        float: left;
        cursor: pointer;
    }
}
//MEDIUM AND UP
@media (min-width: @screen-md-min) {
    #descripcion_S {
        display: block;
    }

    #descripcion_L {
        display: none;
    }
}
//MEDIUM ONLY
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
}


@media all {
    #miniBusqueda {
        display: none;
    }

    .navbar-fixed-top {
        position: fixed !important;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .detalleProductoImagen {
        width: 100% !important;
        height: 200px;
    }

    #listaproductos .caption {
        text-align: center;
    }

    #listaproductos .panel-title {
        font-size: 36px;
    }

    .imagenProovedor {
        width: 20%;
        float: left;
        cursor: pointer;
    }

    #atencion {
        padding: 50px 0 10px 0;
    }

        #atencion span {
            font-size: 38px;
        }

    #proveedores {
        padding: 50px;
    }
}


@media all and (min-width: 950px) {

    #footer {
        width: 100%;
        margin: 80px auto;
        padding: 5% 0;
    }

    .footerFloat {
        width: 24%;
        float: left;
    }

    .footerFloat_left {
        width: 4%;
        float: left;
    }

    #listaProductos {
        /*-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
        -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
        box-shadow: inset 0 3px 8px rgba(0,0,0,.24);*/
    }

        #listaProductos .item {
            margin-bottom: 25px;
            margin-top: 25px;
            padding-bottom: 25px;
        }

    .imgProd {
        //border:1px solid lightgrey;
        /*box-shadow: 0 1px 10px -5px;
        -moz-box-shadow: 0 1px 10px -5px;
        -webkit-box-shadow: 0 1px 10px -5px;*/
    }

    #descripcion_S {
        display: none;
    }

    #descripcion_L {
        display: block;
    }

    .titulo1 {
        font-family: "Montserrat",sans-serif;
        /*border: 3px solid #00b73e;*/
        border-radius: 7px;
        /*color: #00b73e;*/
        padding: 30px 60px;
        font-size: 24px;
        width: 100%;
    }

    .div_telefonos {
        font-size: 24px;
    }

    .producto_destacado {
        margin-top: 60px;
    }

    .imagenProovedor {
        width: 20%;
        float: left;
        cursor: pointer;
    }

    #atencion {
        padding: 50px 0 10px 0;
    }

        #atencion span {
            font-size: 38px;
        }

    #proveedores {
        padding: 50px;
    }

    #RegistrateYCotizaEnLinea {
        width: 90%;
        font-size: 38px;
        text-align: center;
        height: auto;
        border-radius: 0 0 10px 10px;
        margin: 0 5% 0 5%;
        padding: 30px 0;
    }

    .descripcionProducto {
        margin-top: 50px;
    }

    .div_escritorio {
        display: block;
    }

    .div_movil {
        display: none;
    }

    #div_menu {
        display: none;
    }
}


//LARGE AND UP
@media (min-width: 1360px) {
    body {
        width: 1360px;
        margin: 0 auto;
    }

    #render_body {
        box-shadow: -60px 0px 100px -90px #E4E4E4, 60px 0px 100px -90px #D5D5D5;
    }

    #header_fix {
        width: 1360px;
        margin: 0 auto;
    }
}
