.clearout{height:20px;clear:both;}
#flexiselRecomendados{display:none;}
.nbs-flexisel-container{position:relative;max-width:100%;}
.nbs-flexisel-ul{position:relative;width:99999px;margin:0px;padding:0px;list-style-type:none;text-align:center;}
.nbs-flexisel-inner{position:relative;overflow:hidden;float:left;width:100%;background:#fcfcfc;background:#fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%);background:#fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee));background:#fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%);background:#fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%);background:#fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%);background:#fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%);border:1px solid #ccc;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.nbs-flexisel-item{float:left;margin:0px;padding:0px;cursor:pointer;position:relative;line-height:0px;}
.nbs-flexisel-item img{max-width:100%;cursor:pointer;position:relative;margin-top:10px;margin-bottom:10px;}
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right{padding:5px 10px;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;position:absolute;cursor:pointer;z-index:4;top:40%;background:rgba(0,0,0,0.5);color:#fff;}
.nbs-flexisel-nav-left{left:10px;}
.nbs-flexisel-nav-left:before{content:"<"}
.nbs-flexisel-nav-left.disabled{opacity:0.4;}
.nbs-flexisel-nav-right{right:5px;}
.nbs-flexisel-nav-right:before{content:">"}
.nbs-flexisel-nav-right.disabled{opacity:0.4;}