

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}


#tabsResumenCuenta input {
    display: none;
}

#tabsResumenCuenta > label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

    #tabsResumenCuenta > label:before {
        font-family: fontawesome;
        font-weight: normal;
        margin-right: 10px;
    }

    /*label[for*='1']:before {
  content: '\f1cb';
}

label[for*='2']:before {
  content: '\f17d';
}

label[for*='3']:before {
  content: '\f16b';
}

label[for*='4']:before {
  content: '\f1a9';
}*/

    #tabsResumenCuenta > label:hover {
        color: #888;
        cursor: pointer;
    }

/*#tabsResumenCuenta > input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}*/

#informacion_usuario:checked ~ #seccion_informacion_usuario,
#historial_cotizaciones:checked ~ #seccion_historial_cotizaciones,
#historial_ventas_entregar:checked ~ #secccion_historial_ventas_entregar,
#historial_compras:checked ~ #seccion_historial_compras,
#notas_credito:checked ~ #seccion_notas_credito {
    display: block;
}

@media screen and (max-width: 650px) {
    #tabsResumenCuenta > label {
        font-size: 0;
    }

        #tabsResumenCuenta > label:before {
            margin: 0;
            font-size: 18px;
        }
}

@media screen and (max-width: 400px) {
    #tabsResumenCuenta > label {
        padding: 15px;
    }
}
