﻿@model POS.Models.precio_por_tipocliente
@{
    ViewBag.Title = "POS - Nuevo Precio";
}

@{
    POS.Models.producto producto = ViewBag.producto as POS.Models.producto;
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Nuevo Precio</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @using (Html.BeginForm("agregar_nuevo_precio", "Producto", FormMethod.Post, new { @id = "FormularioNuevoPrecio", @style = "margin-bottom:0px;" }))
        { 
            <table id="TablaPrecio" class="table" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Codigo: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" value="@producto.Codigo" readonly="readonly" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Descripcion: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" name="descripcion" value="@producto.Descripcion" readonly="readonly" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Sucursal: </td>
                        <td style="width: 25%; border: 0px;">
                            @Html.DropDownList("sucursal_id", new SelectList(ViewBag.sucursales, "id", "nombre_sucursal"), new { @class = "form-control" })</td>
                        <td style="width: 150px; text-align: right; border: 0px;">Tipo De Precio: </td>
                        <td style="width: 25%; border: 0px;">
                        @Html.DropDownList("TipoCliente_id", Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                        <td style="border: 0px;">
                            <a href="@Url.Action("agregar_tipo_cliente", new { idProducto = producto.id })" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-plus"></i>
                                </span>
                                <span class="button-content">Nuevo Tipo De Precio</span>
                            </a></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Precio: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="Precio" name="Precio" /></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                        <td style="border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos y seleccione un tipo de precio</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <a id="BotonAgregarPrecio" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </a>
                            <a href="@Url.Action("Lista_de_precios_producto", new { idProducto = producto.id })" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Cancelar</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input Value="@producto.id" id="Producto_id" name="Producto_id" type="text" style="display: none;" />
            <input type="submit" id="AgregarPrecio" value="Guardar" style="display: none;" />
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        traer_tipo_precio_por_sucursal();
        $('#sucursal_id').change(function () {
            traer_tipo_precio_por_sucursal();
        });
    });
    function traer_tipo_precio_por_sucursal() {
        var _idSucursal = $('#sucursal_id').val();
        _idProducto = $("#Producto_id").val();
        $.getJSON('@Url.Action("traer_Tipo_precio_sucursal")', { idSucursal: _idSucursal, idProducto: _idProducto }, function (lista) {
            var select_hijo = $('#TipoCliente_id');
            select_hijo.empty();
            $.each(lista, function (index, tipo) {
                select_hijo.append($('<option/>', {
                    value: tipo.value,
                    text: tipo.text
                }));
            });
        });
    }
    $(document).on('click', '#BotonAgregarPrecio', function () {
        $('#AgregarPrecio').trigger('click');
    });
</script>

<script type="text/javascript">
    var seguir = true;
    $(document).ready(function () {
        $('#FormularioNuevoPrecio').bind('submit', function (event) {
            seguir = true;
            $('.form-control').each(function () {
                if ($(this).attr('name') != 'descripcion') {
                    if ($(this).val() == "") {
                        seguir = false;
                    }
                }
            });
            //revisar que se tenga un tipo precio seleccionado
            if ($("#TipoCliente_id").text() == "") { seguir = false; }
            if (!seguir) {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
            if (!seguir) {
                return false;
            }
        });
    });
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
    $('#Precio').bind('keypress', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
</script>
