﻿@model POS.Models.precio_por_tipocliente
@{
    ViewBag.Title = "POS - Editar Precio";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Editar Precio</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @using (Html.BeginForm("Editar_precio_tipo_cliente", "Producto", FormMethod.Post, new { @id = "FormularioEditarPrecio", @style = "margin-bottom:0px;" }))
        { 
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.TipoCliente_id)
            @Html.HiddenFor(model => model.sucursal_id)
            @Html.HiddenFor(model => model.Producto_id)
            <table id="TablaPrecio" class="table" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Codigo: </td>
                        <td style="width: 25%; border: 0px;"><input type="text" class="form-control" value="@Model.producto.Codigo" readonly="readonly" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Descripcion: </td>
                        <td style="width: 25%; border: 0px;"><input type="text" class="form-control" name="descripcion" value="@Model.producto.Descripcion" readonly="readonly" /></td>
                        <td style=" border: 0px;"></td>
                        <td style=" border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Sucursal: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" value="@Model.sucursal.nombre_sucursal" readonly="readonly" /></td>
                        <td style="width: 150px; text-align: right; border: 0px;">Tipo De Precio: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" value="@Model.tipocliente.Tipo" readonly="readonly" /></td>
                        <td style=" border: 0px;"></td>
                        <td style=" border: 0px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right; border: 0px;">Precio: </td>
                        <td style="width: 25%; border: 0px;">
                            <input type="text" class="form-control" id="Precio" name="Precio" value="@Model.Precio" /></td>
                        <td style=" border: 0px;"></td>
                        <td style=" border: 0px;"></td>
                        <td style=" border: 0px;"></td>
                        <td style=" border: 0px;"></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border: 0px;">
                            <div id="AlertaFormulario" class="alert alert-info" style="margin-bottom: 0px; width: 50%; display: none;">
                                <div class="bg-red alert-icon"><i class="glyph-icon icon-times"></i></div>
                                <div class="alert-content">
                                    <h4 class="alert-title">Error</h4>
                                    <p>Por favor rellene todos los campos.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style=" border: 0px;">
                            <a id="BotonEditarPrecio" class="btn btn-success">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-check"></i>
                                </span>
                                <span class="button-content">Agregar</span>
                            </a>
                            <a href="@Url.Action("Lista_de_precios_producto", new { idProducto = Model.Producto_id })" class="btn btn-danger">
                                <span class="glyph-icon icon-separator">
                                    <i class="glyph-icon icon-times"></i>
                                </span>
                                <span class="button-content">Cancelar</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" id="EditarPrecio" value="Guardar" style="display: none;" />
        }
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '#BotonEditarPrecio', function () {
        $('#EditarPrecio').trigger('click');
    });
</script>

<script type="text/javascript">
    var seguir = true;
    $(document).ready(function () {
        $('#FormularioEditarPrecio').bind('submit', function (event) {
            seguir = true;
            $('.form-control').each(function () {
                if ($(this).attr('name') != 'descripcion') {
                    if ($(this).val() == "") {
                        seguir = false;
                    }
                }
            });
            if (!seguir) {
                MostrarAlertaFormulario();
                OcultarAlertaFormulario();
            }
            if (!seguir) {
                return false;
            }
        });
    });
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
    $('#Precio').bind('keypress', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
</script>
