﻿<div style="margin:0 auto;">
    <svg id="progressBar"></svg>
</div>
<label id="label_avance_contenedor" style="font-size: 15px; font-weight: bold; display: block">
    Progreso:
    <label id="label_avance" style="font-size: 15px;"></label>
</label>
<label id="finalizacion" style="font-weight: bold; font-size: 19px; display: none;">
    <span style="margin-right: 10px;">
        <img src="@Url.Content("~/assets-minified/images/success.png")" /></span>Se ha completado la actualizacion de productos y precios.
</label>
<br />
<br />
<label id="BotonFinalizacion" class="boton_grande_verde" style="display: none;">
    <label>Volver<i class="fa fa-check-circle-o"></i></label>
</label>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalProductos .modal-header').css("text-align", "center");
        $('.ModalProductos .modal-body').css("text-align", "center");
        $('#BotonFinalizacion').click(function () {
            window.location.href = '@Url.Action("Index")';
        });

        var progress2 = $("#progressBar").Progress({
            percent: 0,
            width: 350,
            height: 40,
            barColor: '#5E9DE6',
            fontSize: 16,
            animate: true
        });
        repite = setInterval(revisar_avance, 2000);

        function revisar_avance() {
            var url = '@Url.Action("AvanceProductos")';
            $.ajax({
                url: url,
                success: function (resultado) {
                    progress2.percent(resultado.porcentaje);
                    $("#label_avance").text(resultado.label_avance);
                    $("#barra_avance").css("width", resultado.porcentaje + "%")
                    if (resultado.porcentaje == 100) {
                        finalizar_revisar_avance();
                        $('#imagenProgreso').hide();
                        //$('#label_avance_contenedor').hide();
                        $('#BotonFinalizacion').show();
                        $('.finalizacion').show();
                    }
                },
                async: true
            });
        }

        function finalizar_revisar_avance() { // to be called when you want to stop the timer
            clearInterval(repite);
        }
    });
</script>
