﻿@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    ViewBag.Title = "POS - Productos";
    string label_precio_neto = configuracion_general.precios_netos.Value ? " NETO" : " SIN IVA";

}

<style>
    #tabs_principal {
        overflow: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #tabs_principal li {
            float: left;
            margin: 0 .5em 0 0;
        }

        #tabs_principal a {
            position: relative;
            background: #ddd;
            background-image: linear-gradient(to bottom, #fff, #ddd);
            padding: .7em 3.5em;
            float: left;
            text-decoration: none;
            color: #444;
            text-shadow: 0 1px 0 rgba(255,255,255,.8);
            border-radius: 5px 0 0 0;
            box-shadow: 0 2px 2px rgba(0,0,0,.4);
        }

            #tabs_principal a:hover,
            #tabs_principal a:hover::after,
            #tabs_principal a:focus,
            #tabs_principal a:focus::after {
                background: #fff;
            }

            #tabs_principal a:focus {
                outline: 0;
            }

            #tabs_principal a::after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                right: -.5em;
                bottom: 0;
                width: 1em;
                background: #ddd;
                background-image: linear-gradient(to bottom, #fff, #ddd);
                box-shadow: 2px 2px 2px rgba(0,0,0,.4);
                transform: skew(10deg);
                border-radius: 0 5px 0 0;
            }

        #tabs_principal #current a,
        #tabs_principal #current a::after {
            background: #fff;
            z-index: 3;
        }

    #content_principal {
        min-height: 250px;
        background: #fff;
        padding: 2em;
        /*height: 220px;*/
        position: relative;
        z-index: 2;
        border-radius: 0 5px 5px 5px;
        box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    }
    /*tabs*/
</style>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/assets-minified/progressBar/progressbar.css")">
<script type="text/javascript" src="@Url.Content("~/assets-minified/jquery.signalR-2.2.0.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/assets-minified/dateFormat/date_format.js")"></script>
<script src="@Url.Content("~/assets-minified/progressBar/jquery.progress.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Productos</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <div style="margin-left: 10px; margin-top: 10px; float: left;">
            <label style="font-weight: normal; height: 22px; vertical-align: text-top;">
                Mostrar Productos Ocultos
            </label>
            <input id="productos_ocultos" name="productos_ocultos" type="checkbox" class="switch-web" style="margin:5px" />
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="NuevoProducto" class="btn btn-success">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-plus"></i>
                </span>
                <span class="button-content">Nuevo Producto</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="ExportarExcel" class="btn btn-success">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Exportar A Excel</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 4px; float: right;">
            <a id="ExportarPDF" class="btn btn-danger" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-pdf-o"></i>
                </span>
                <span class="button-content">Exportar A PDF</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="actualizacionExcelPrecios" class="btn btn-info">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Actualización Excel Precios</span>
            </a>
        </div>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a id="actualizacionExcelCatalogos" class="btn btn-danger">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-file-excel-o"></i>
                </span>
                <span class="button-content">Actualización Excel Productos</span>
            </a>
        </div>
        <div id="DivActualizacionExcel" style="width: 97%; margin: 15px auto 0px 1.4vw; border: 1px solid rgba(37, 64, 84, 0.33); float: left; background-color: rgb(37, 64, 84); display: none;">
            <input id="bool_actualiza_productos" class="checkboxActualizarExcel" type="checkbox" checked="checked" style="display: none" />
            <input id="bool_actualiza_precios" class="checkboxActualizarExcel" type="checkbox" style="display: none" />
            <div style="width: 90%; margin: 0 auto;">
                <div style="width: 100%">
                    <label onclick="$('#DivActualizacionExcel').slideUp()" style="font-weight: normal; color: white; float: right; width: auto; border: 1px solid white; padding: 5px; cursor: pointer; border-radius: 10px; margin: 8px">
                        <i class="fa fa-times-circle" aria-hidden="true" style="margin: 0 5px;"></i>CERRAR</label>
                </div>
                <label id="labelActualizacion" style="float: right; font-size: 20px; margin-right: 5%; margin-top: 10px; font-weight: normal;">
                    ACTUALIZACIÓN EXCEL</label>
                <ul id="tabs_principal">
                    <li class="opcion1"><a href="#" name="tab1" checkboxname="bool_actualiza_productos">
                        <i class="fa fa-bars" aria-hidden="true" style="margin: 0 5px"></i>PRODUCTOS</a></li>
                    <li class="opcion2"><a href="#" name="tab2" checkboxname="bool_actualiza_precios">
                        <i class="fa fa-usd" aria-hidden="true" style="margin: 0 5px"></i>PRECIOS</a></li>
                </ul>
                <div id="content_principal" class=" row col-md-12" style="border-bottom: 1px solid #d2d2d2; margin-bottom: 20px;">
                    <div id="tab1" class=" row Ttab col-md-12">
                        <table class="table tablaLayoutExcel" style="margin-top: 30px; margin: 0 auto; width: 100%">
                            <thead>
                                <tr>
                                    <th colspan="14" style="text-align: center">
                                        <label style="font-size: 20px; margin-top: 10px; font-weight: normal;">
                                            PRODUCTOS - LAYOUT ACTUALIZACIÓN
                                        </label>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="background-color: rgb(37, 64, 84); color: white;">Codigo (*Obligatorio)</th>
                                    <th style="vertical-align: middle;">Descripción</th>
                                    <th style="vertical-align: middle;">Desc. Detallada</th>
                                    <th style="vertical-align: middle;">Marca</th>
                                    <th style="vertical-align: middle;">Familia</th>
                                    <th style="vertical-align: middle;">Subfamilia</th>
                                    <th style="vertical-align: middle;">Proveedor</th>
                                    <th style="vertical-align: middle;">Costo</th>
                                    <th style="vertical-align: middle;">% IVA</th>
                                    <th style="vertical-align: middle;">Medida</th>
                                    <th style="vertical-align: middle;">Modelo</th>
                                    <th style="vertical-align: middle;">Publicar</th>
                                    <th style="vertical-align: middle;">Destacado</th>
                                    <th style="vertical-align: middle;">Producto Padre</th>
                                    <th style="vertical-align: middle;">Código Producto Padre</th>
                                    @if (configuracion_general.venta_consignacion == true)
                                    {
                                        <th style="vertical-align: middle;">Consignacion</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">AAD93</td>
                                    <td style="text-align: center;">LAPIZ GRAFITO 5H</td>
                                    <td style="text-align: center;">PARA DIBUJO TEC.</td>
                                    <td style="text-align: center;">DURIK</td>
                                    <td style="text-align: center;">PAPELERIA</td>
                                    <td style="text-align: center;">LAPICES</td>
                                    <td style="text-align: center;">LAPIMATIX</td>
                                    <td style="text-align: center;">2.0</td>
                                    <td style="text-align: center;">16</td>
                                    <td style="text-align: center;">15 cm</td>
                                    <td style="text-align: center;">GRAFITO 2</td>
                                    <td style="text-align: center;">0</td>
                                    <td style="text-align: center;">0</td>
                                    <td style="text-align: center;">LAPIZ GRAFITO</td>
                                    <td style="text-align: center;">LG </td>
                                    @if (configuracion_general.venta_consignacion == true)
                                    {
                                        <th style="vertical-align: middle;">0</th>
                                    }
                                </tr>
                            </tbody>
                        </table>

                        <table id="tablaLayOutActualizaCatalogoProductos" class="table" style="display: none !important">
                            <thead>
                                <tr>
                                    <th style="background-color: rgb(37, 64, 84); color: white;">Codigo (*Obligatorio)</th>
                                    <th style="vertical-align: middle;">Descripción</th>
                                    <th style="vertical-align: middle;">Desc. Detallada</th>
                                    <th style="vertical-align: middle;">Marca</th>
                                    <th style="vertical-align: middle;">Familia</th>
                                    <th style="vertical-align: middle;">Subfamilia</th>
                                    <th style="vertical-align: middle;">Proveedor</th>
                                    <th style="vertical-align: middle;">Costo</th>
                                    <th style="vertical-align: middle;">% IVA</th>
                                    <th style="vertical-align: middle;">Medida</th>
                                    <th style="vertical-align: middle;">Modelo</th>
                                    <th style="vertical-align: middle;">Publicar</th>
                                    <th style="vertical-align: middle;">Destacado</th>
                                    <th style="vertical-align: middle;">Producto Padre</th>
                                    <th style="vertical-align: middle;">Código Producto Padre</th>
                                    @if (configuracion_general.venta_consignacion == true)
                                    {
                                        <th style="vertical-align: middle;">Consignacion</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td style="text-align: center;">AAD93</td>
                                    <td style="text-align: center;">LAPIZ GRAFITO 5H</td>
                                    <td style="text-align: center;">PARA DIBUJO TEC.</td>
                                    <td style="text-align: center;">DURIK</td>
                                    <td style="text-align: center;">PAPELERIA</td>
                                    <td style="text-align: center;">LAPICES</td>
                                    <td style="text-align: center;">LAPIMATIX</td>
                                    <td style="text-align: center;">2.0</td>
                                    <td style="text-align: center;">16</td>
                                    <td style="text-align: center;">15 cm</td>
                                    <td style="text-align: center;">GRAFITO 2</td>
                                    <td style="text-align: center;">0</td>
                                    <td style="text-align: center;">0</td>
                                    <td style="text-align: center;">LAPIZ GRAFITO</td>
                                    <td style="text-align: center;">LG </td>
                                    @if (configuracion_general.venta_consignacion == true)
                                    {
                                        <th style="vertical-align: middle;">0</th>
                                    }
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <tr>
                                <td colspan="14" style="border: 0px;">
                                    <label style="font-weight: normal">Selecciona un archivo que tenga el formato como indica la tabla.</label><br />
                                    <label style="font-weight: normal">(*)Campo Obligatorio.</label>
                                    <input id="ArchivoExcelProductos" class="form-control" name="ArchivoExcelProductos" accept=".csv, application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="width: 100%; color: white;" type="file">
                                </td>
                                <td colspan="12"style="border: 0px;" >
                                    <label onclick="$('#tablaLayOutActualizaCatalogoProductos .xlsx').trigger('click');" class="boton_hover_azul" style="margin-left: 35px; width: auto; float: right; border: 1px solid; margin-top: 15px;"><i class='fa fa-file-excel-o fa-lg' aria-hidden='true' style='margin-right: 5px'></i>Descargar Layout</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" style="border: 0px;">
                                    <div id="ErrorProductos" style="display: none;">
                                        <div class="error-box alert" style="background-color: rgb(0, 200, 135); padding: 15px; width: 325px;">
                                            <div class="msg" style="color: white; margin-top: 5px;">No ha seleccionado ningun archivo Excel valido [.xls][.xlsx].</div>
                                            <a class="toggle-alert" style="background-color: #00C887;">Toggle</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div style="background-color: #d5d5d5; border-radius: 15px;">
                            <p style="color: #535353; font-size: 15px; padding: 15px 15px 0 15px; font-weight: bold">Nota:</p>
                            <p style="color: #535353; font-size: 13px; padding: 0px 15px 15px 15px;">
                                Cuando el Código se encuentra ya registrado en nuestro catálogo de productos se considera una actualización y los campos que encuentre vacíos no los actualizará. Por ejemplo, si dejamos vacío el campo descripción no nos eliminará la descripción actual, pero si por el contrario encuentra un valor, quitara lo que tiene actualmente para poner lo nuevo.
                            </p>
                            <p style="color: #535353; font-size: 13px; padding: 0px 15px 15px 15px;">
                                Cuando el Código no lo encuentra en nuestro catálogo, se considera un producto nuevo, en este caso si encuentra vació familia, subfamilia, marca y proveedor los insertara como ‘N/A’.
                            </p>
                        </div>
                    </div>
                    <div id="tab2" class=" row Ttab col-md-12">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <div style="border: 2px solid #41779f; color: #41779f; border-radius: 15px; text-align: center; height: 120px;">
                                        <p style="font-size: 20px; padding: 15px 15px 0 15px; font-weight: bold">
                                            <i class='fa fa-exclamation-triangle fa-lg' aria-hidden='true' style='margin-right: 5px'></i>
                                            PRECIO  @label_precio_neto
                                        </p>
                                        <p style="font-size: 13px; padding: 0px 15px 15px 15px;">
                                            SEGÚN TÚ CONFIGURACIÓN EL PRECIO SE SUBIRÁ @label_precio_neto
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <div style="border: 2px solid #41779f; color: #41779f; border-radius: 15px; text-align: center; height: 120px;">
                                        <p style="font-size: 20px; padding: 15px 15px 0 15px; font-weight: bold">
                                            <i class='fa fa-exclamation-triangle fa-lg' aria-hidden='true' style='margin-right: 5px'></i>
                                            SUCURSALES
                                        </p>
                                        @if (configuracion_general.centralizacion_precios_sucursales.Value && configuracion_general.centralizacion_precios_web.Value)
                                        {
                                            <label style="font-weight: normal">
                                                <label style="font-size: 20px">**</label>
                                                TODAS                          
                                            </label>
                                        }
                                        else if (configuracion_general.centralizacion_precios_sucursales.Value && !configuracion_general.centralizacion_precios_web.Value)
                                        {
                                            <label style="font-weight: normal">
                                                <label style="font-size: 20px">*</label>
                                                TODAS EXCEPTO WEB
                                            </label>
                                        }
                                        else
                                        {
                                            <label style="font-weight: normal">
                                                ESCRIBA EL NOMBRE COMO ESTÁ REGISTRADO EN SISTEMA.
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <div style="border: 2px solid #41779f; color: #41779f; border-radius: 15px; text-align: center; height: 120px;">
                                        <p style="font-size: 20px; padding: 15px 15px 0 15px; font-weight: bold">
                                            <i class='fa fa-exclamation-triangle fa-lg' aria-hidden='true' style='margin-right: 5px'></i>
                                            PROD. NUEVOS
                                        </p>
                                        <p style="font-size: 13px; padding: 0px 15px 15px 15px;">
                                            SI EL PRODUCTO NO EXISTE NO SE INSERTARÁ.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <label style="font-size: 20px; margin-top: 10px; font-weight: normal; color: #535353">
                            PRECIOS - LAYOUT ACTUALIZACIÓN
                        </label>
                        <table id="" class="table" style="width: 100%; margin: 30px 0px">
                            <thead>
                                <tr>
                                    <th style="text-align: center">CÓDIGO</th>
                                    <th style="text-align: center">SUCURSAL</th>
                                    @foreach (POS.Models.tipocliente tp in (ViewBag.tipoPrecio as List<POS.Models.tipocliente>))
                                    {
                                        <th style="text-align: right;">PRECIO:( @tp.Tipo.ToUpper() ) @label_precio_neto</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int x = 1; decimal y = 5.20M;
                                    if (configuracion_general.centralizacion_precios_sucursales.Value && configuracion_general.centralizacion_precios_web.Value)
                                    {
                                    <tr>
                                        <td style="text-align: center;">AAD91</td>
                                        <td style="text-align: center">**</td>
                                        @foreach (POS.Models.tipocliente tp in (ViewBag.tipoPrecio as List<POS.Models.tipocliente>))
                                        {
                                            y = (y * 1.10M) + x;
                                            <td style="text-align: right;">@Math.Round(y, 2)</td>
                                        }
                                    </tr>
                                    }
                                    else if (configuracion_general.centralizacion_precios_sucursales.Value && !configuracion_general.centralizacion_precios_web.Value)
                                    {
                                    <tr>
                                        <td style="text-align: center;">AAD91</td>
                                        <td style="text-align: center">WEB</td>
                                        @foreach (POS.Models.tipocliente tp in (ViewBag.tipoPrecio as List<POS.Models.tipocliente>))
                                        {
                                            y = (y * 1.10M) + x;
                                            <td style="text-align: right;">@Math.Round(y, 2)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">AAD91</td>
                                        <td style="text-align: center">*</td>
                                        @foreach (POS.Models.tipocliente tp in (ViewBag.tipoPrecio as List<POS.Models.tipocliente>))
                                        {
                                            y = (y * 1.10M) + x;
                                            <td style="text-align: right;">@Math.Round(y, 2)</td>
                                        }
                                    </tr>
                                    }
                                    else
                                    {

                                        foreach (POS.Models.sucursal s in (ViewBag.sucursales as List<POS.Models.sucursal>))
                                        {
                                            x++;
                                    <tr>
                                        <td style="text-align: center;">AAD91</td>
                                        <td style="text-align: center">@s.nombre_sucursal.ToUpper()</td>
                                        @foreach (POS.Models.tipocliente tp in (ViewBag.tipoPrecio as List<POS.Models.tipocliente>))
                                        {
                                            y = (y * 1.10M) + x;
                                            <td style="text-align: right;">@Math.Round(y, 2)</td>
                                        }
                                    </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>

                        <table id="tablaLayOutActualizaPrecios" class="table" style="display: none !important">
                            <thead>
                                <tr>
                                    <th style="text-align: center">CÓDIGO</th>
                                    <th style="text-align: center">SUCURSAL</th>
                                    @foreach (POS.Models.tipocliente tp in (ViewBag.tipoPrecio as List<POS.Models.tipocliente>))
                                    {
                                        <th style="text-align: right;">PRECIO:( @tp.Tipo.ToUpper() ) @label_precio_neto</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    x = 1; y = 5.20M;
                                    if (configuracion_general.centralizacion_precios_sucursales.Value && configuracion_general.centralizacion_precios_web.Value)
                                    {
                                    <tr>
                                        <td style="text-align: center;">AAD91</td>
                                        <td style="text-align: center;">**</td>
                                        @foreach (POS.Models.tipocliente tp in (ViewBag.tipoPrecio as List<POS.Models.tipocliente>))
                                        {
                                            y = (y * 1.10M) + x;
                                            <td style="text-align: right;">@Math.Round(y, 2)</td>
                                        }
                                    </tr>
                                    }
                                    else if (configuracion_general.centralizacion_precios_sucursales.Value && !configuracion_general.centralizacion_precios_web.Value)
                                    {
                                    <tr>
                                        <td style="text-align: center;">AAD91</td>
                                        <td style="text-align: center;">WEB</td>
                                        @foreach (POS.Models.tipocliente tp in (ViewBag.tipoPrecio as List<POS.Models.tipocliente>))
                                        {
                                            y = (y * 1.10M) + x;
                                            <td style="text-align: right;">@Math.Round(y, 2)</td>
                                        }
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">AAD91</td>
                                        <td style="text-align: center;">*</td>
                                        @foreach (POS.Models.tipocliente tp in (ViewBag.tipoPrecio as List<POS.Models.tipocliente>))
                                        {
                                            y = (y * 1.10M) + x;
                                            <td style="text-align: right;">@Math.Round(y, 2)</td>
                                        }
                                    </tr>
                                    }
                                    else
                                    {

                                        foreach (POS.Models.sucursal s in (ViewBag.sucursales as List<POS.Models.sucursal>))
                                        {
                                            x++;
                                    <tr>
                                        <td style="text-align: center;">AAD91</td>
                                        <td style="text-align: center">@s.nombre_sucursal.ToUpper()</td>
                                        @foreach (POS.Models.tipocliente tp in (ViewBag.tipoPrecio as List<POS.Models.tipocliente>))
                                        {
                                            y = (y * 1.10M) + x;
                                            <td style="text-align: right;">@Math.Round(y, 2)</td>
                                        }
                                    </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>

                        <table class="table">
                            <tr>
                                <td colspan="" style="border: 0px;">
                                    <label style="margin-top: 0px; font-weight: normal">Selecciona un archivo que tenga el formato como indica la tabla.</label><br />
                                    <label style="font-weight: normal">Todos los campos son obligatorios.</label>
                                    <input id="ArchivoExcelPrecio" class="form-control" name="ArchivoExcelPrecio" accept=".csv, application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="width: 100%; color: white;" type="file">
                                </td>
                                <td style="border: none">
                                    <label onclick="$('#tablaLayOutActualizaPrecios .xlsx').trigger('click');" class="boton_hover_azul" style="margin-left: 35px; width: auto; float: right; border: 1px solid; margin-top: 15px;"><i class='fa fa-file-excel-o fa-lg' aria-hidden='true' style='margin-right: 5px'></i>Descargar Layout</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="" style="border: 0px;">
                                    <div id="ErrorPrecios" style="display: none;">
                                        <div class="error-box alert" style="background-color: rgb(0, 200, 135); padding: 15px; width: 325px;">
                                            <div class="msg" style="color: white; margin-top: 5px;">No ha seleccionado ningun archivo Excel valido [.xls][.xlsx].</div>
                                            <a class="toggle-alert" style="background-color: #00C887;">Toggle</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        @*<div style="background-color: #f4f871; border-radius: 15px;">
                            <p style="color: #535353; font-size: 15px; padding: 15px 15px 0 15px; font-weight: bold">SUCURSALES:</p>
                            <p style="color: #535353; font-size: 13px; padding: 0px 15px 5px  15px;">
                                SI SOLO DESEA ACTUALIZAR UNA SUCURSAL ESCRIBA EL NOMBRE COMO ESTÁ REGISTRADO EN SISTEMA.
                            </p>
                            <p style="color: #535353; font-size: 13px; padding: 0px 15px 5px  15px;">
                                <label style="font-size: 25px">*</label>
                                ESCRIBA ASTERISCO SI DESEA ACTUALIZAR TODAS EXCEPTO WEB
                            </p>
                            <p style="color: #535353; font-size: 13px; padding: 0px 15px 5px  15px;">
                                <label style="font-size: 25px">**</label>
                                ESCRIBA DOBLE ASTERISCO SI DESEA ACTUALIZAR TODAS                          
                            </p>
                        </div>*@
                        @* <div style="background-color: #f4f871; border-radius: 15px;">
                            <p style="color: #535353; font-size: 15px; padding: 15px 15px 0 15px; font-weight: bold">NOTAS:</p>
                            <p style="color: #535353; font-size: 13px; padding: 0px 15px 15px 15px;">
                                1 -
                                <label>PRECIO @label_precio_neto</label>. SEGÚN TÚ CONFIGURACIÓN INDICA QUE EL PRECIO SE SUBIÁ @label_precio_neto
                            </p>
                            <p style="color: #535353; font-size: 13px; padding: 0px 15px 15px 15px;">
                                2 - SOLO SE ACTUALIZÁN LOS PRODUCTOS QUE YA EXISTAN, SI EL PRODUCTO NO EXISTE NO SE INSERTARÁ.
                            </p>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div id="encabezado_tabla">
            <div id="busqueda">
                <label>Buscar: </label>
                <input type="text" id="filtro_lista" />
            </div>
            <div class="select">
                <label>
                    Mostrando
                                <select id="numeroProductos">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                    <option value="0">TODO</option>
                                </select>
                    entradas por pagina
                </label>
            </div>
            <div class="select">
                <label>
                    Order Por
                                <select id="ordenamiento">
                                    <option value="1">Codigo</option>
                                    <option value="2">Descripcion</option>
                                    <option value="3">Familia</option>
                                    <option value="4">Subfamilia</option>
                                    <option value="5">Marca</option>
                                    <option value="6">Precio Dolar</option>
                                    <option value="7">Publicado</option>
                                    <option value="8">Destacado</option>
                                    <option value="9">Imagenes</option>
                                    <option value="10">Pdfs</option>
                                </select>
                </label>
            </div>
        </div>
        <div id="ListaProductos"></div>
    </div>
</div>

<input id="tempNombreArchivo" style="display: none" value="" />

<div id="Excel" style="display: none;"></div>



<script>
    $("#tablaLayOutActualizaPrecios").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],                  // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    });
    $("#tablaLayOutActualizaCatalogoProductos").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],                  // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    });
</script>

<script>
    $(document).ready(function () {
        $("#content_principal").find("[id^='tab']").hide(); // Hide all content
        $("#tabs_principal li:first").attr("id", "current"); // Activate the first tab
        $("#content_principal #tab1").fadeIn(); // Show first tab's content
        $('#tabs_principal a').click(function (e) {
            $('.checkboxActualizarExcel').prop("checked", false);
            e.preventDefault();
            if ($(this).closest("li").attr("id") == "current") { //detection for current tab
                return;
            }
            else {
                $("#content_principal").find("[id^='tab']").hide(); // Hide all content
                $("#tabs_principal li").attr("id", ""); //Reset id's
                $(this).parent().attr("id", "current"); // Activate this
                $('#' + $(this).attr('name')).fadeIn(); // Show content for the current tab
                $('#' + $(this).attr('checkboxName')).prop("checked", true); // seleccionar checkbox actualizar precio/producto
            }
        });
        var elems = Array.prototype.slice.call(document.querySelectorAll('.switch-web'));
        elems.forEach(function (html) {
            var switchery = new Switchery(html, { size: 'small', secondaryColor: 'rgb(206, 199, 199)' });
        });
    });
</script>

<script>
    var numeroProductos = $('#numeroProductos').val();
    var filtro = $('#filtro_lista').val();
    var ordenamiento = $('#ordenamiento').val();
    var pagina = 1;
    var siguiente_hoja = false;
    $(document).ready(function () {
        numeroProductos = $('#numeroProductos').val();
        filtro = $('#filtro_lista').val();
        ordenamiento = $('#ordenamiento').val();
        pagina = 1;
        siguiente_hoja = false;
        $(document).ready(function () {
            VistaParcialProductos();
        });
        $(document).on('click', '#paginacion a', function () {
            pagina = $(this).attr("name");
            siguiente_hoja = true;
            VistaParcialProductos();
        });
        $(document).on('change', '#numeroProductos', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('change', '#filtro_lista', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('change', '#ordenamiento', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        $(document).on('change', '#productos_ocultos', function () {
            siguiente_hoja = false;
            VistaParcialProductos();
        });
        //CUANDO LA PAGINA SE CIERRA DETEN EL HUB ACTIVO
        $(window).bind("beforeunload", function () {
            $.connection.hub.stop();
        });
        //VARIABLES
        bandera_panel_excel_activo = false;
        $("#ExportarExcel").click(function () {
            $('#TablaProductosExcel .xlsx').trigger("click");
        });
    });

    //-------------------------------------------
    //-------------------------------------------
    //-----H U B     P R O D U C T O S
    //-------------------------------------------

    $(document).on('change', '#ArchivoExcelProductos', function () {
        var excelExtensions = ['XLS', 'XLSX'];
        fileExtension = $('#ArchivoExcelProductos').val().replace(/^.*\./, '').toUpperCase().trim();
        //REVISAR QUE NO ESTE VACIA LA CADENA
        if ($('#ArchivoExcelProductos').val() != '') {
            if (jQuery.inArray(fileExtension, excelExtensions) != -1) {
                $('#ErrorProductos').slideUp(200);
                FnPrecargaExcel();
            } else {
                $('#ErrorProductos').slideDown(200);
            }
        }
        else {
            $('#ErrorProductos').slideDown(200);
        }
    });
    //FUNCIONES SUBIR, CARGAR, REVISAR
    //FN SUBIR ARCHIVO
    function FnSubirArchivo(file) {
        xhr = new XMLHttpRequest();
        xhr.upload.onprogress = function (evt) {
            if (evt.lengthComputable) {
                //AL CARGAR EL ARCHIVO LLEGARA AL 50%
                //Y DEL 50% AL 100% LO HARA CON UN CICLO DE 2000 MILISEGUNDOS
                var _porcent = parseInt(((evt.loaded / evt.total) * 50));
                $("#progress-bar").css({
                    width: _porcent + "%"
                });
                $(".progressbar-green .progressbar-inner").css({
                    width: _porcent + "%"
                });
                $("#lblPorcentaje").text(_porcent + "%");
                if (evt.loaded == evt.total) {
                    AVANCE_CARGA = 50;
                    var cargandoProgreso = setInterval(function () {
                        AVANCE_CARGA++;
                        $(".progressbar-green .progressbar-inner").css({ width: AVANCE_CARGA + "%" });
                        $("#lblPorcentaje").text(AVANCE_CARGA + "%");
                        //AL CARGAR EL 100%
                        if (AVANCE_CARGA == 100) { clearInterval(cargandoProgreso); FnCargarRegistroDB(new_fileName); }
                    }, 40);
                }
            }
        };
        //ARMAR CADENA UNICA CONCATENANDO FECHA + NOMBRE_ARCHIVO
        var date = new Date();
        new_fileName = date.format("d.M.y_H.m.s") + "_" + file.name;
        file.fileName = new_fileName;
        xhr.open("post", "@Url.Action("SubirArchivoProductos", "Producto")" + "?new_fileName=" + new_fileName, true);
        xhr.setRequestHeader("Content-Type", "multipart/form-data");
        xhr.setRequestHeader("X-File-Name", file.name);
        xhr.setRequestHeader("X-File-Size", file.size);
        xhr.setRequestHeader("X-File-Type", file.type);
        // Send the file
        xhr.send(file);
    }

    //FN CARGAR REGISTROS DE EXCEL A LA BASE DE DATOS
    function FnCargarRegistroDB(new_fileName) {
        // initialize progress bar
        $("#progress-bar").css({
            width: "0%"
        });
        $(".progressbar-green .progressbar-inner").css({
            width: "0%"
        });
        $("#porcentaje_img").text("0%");
        // initialize the connection to the server
        var progressNotifier = $.connection.hubProductosExcel;
        // client-side sendMessage function that will be called from the server-side
        progressNotifier.client.sendMessage = function (message) {
            // update progress
            UpdateProgress(message);
        };
        //CUANDO PASE UN ERROR
        progressNotifier.client.error = function (error) {
            // update progress
            AgregarLog("Fallo el proceso: " + error)
            $(".modal").modal("hide");
            //MOSTRAR MODAL CARGANDO EXCEL
            bootbox.dialog({
                title: "ERROR",
                message: error,
                className: "ModalCargando",
                closeButton: true,
                onEscape: true
            });
            $.connection.hub.stop();
        };

        //CUANDO SE COMPLETE EL PROCESO
        progressNotifier.client.ExcelSubidoDB_OK = function () {
            AgregarLog("Excel Subido a la DB correctamente");
        };

        progressNotifier.client.Analizado_OK = function () {
            AgregarLog("Productos Analizados Correctamente");
            $(".progressbar-green .progressbar-inner").css({
                width: "100%"
            });
            //MOSTRAR RESULTADO DEL ANALISIS
            var url = '@Url.Action("modalResultadoAnalizarArchivoExcel")';
            $.ajax({
                url: url,
                type: "POST",
                success: function (x) {
                    $("#panelProgreso").slideUp();
                    $("#panelResultado").html(x);
                },
                async: false
            });
            //SELECCIONAR SUCURSAL Y TIPOPRECIO
            //$("#panelProgreso").slideUp(0);
            //$("#divSeleccionaTipoPrecio").slideDown(300);
        }

        // establish the connection to the server and start server-side operation
        $.connection.hub.start().done(function () {
            // call the method CallLongOperation defined in the Hub
            progressNotifier.server.producto_CargarArchivoProductos_DB(new_fileName);
        });
    }

    function AgregarLog(msg) {
        //ACTUALIZAR LOG
        //OBTENER NOW()
        var dt = new Date();
        var hh = (dt.getHours() < 10 ? '0' : '') + dt.getHours();
        var mm = (dt.getMinutes() < 10 ? '0' : '') + dt.getMinutes();
        var ss = (dt.getSeconds() < 10 ? '0' : '') + dt.getSeconds();
        var NOW = hh + ":" + mm + ":" + ss;
        $("#divLog tbody").append("<tr><td>" + NOW + "</td><td>" + msg + "</td></tr>");
    }

    SUBPROCESO2 = "";
    function UpdateProgress(sendVariable) {
        RSubProceso = sendVariable[0];
        RPorcentaje = parseInt(sendVariable[1]);
        RAvance = sendVariable[2];
        //SI EL SUBPROCESO CAMBIO
        if (SUBPROCESO2 != RSubProceso) {
            AgregarLog(RSubProceso);
            SUBPROCESO2 = RSubProceso;
        }
        //var result = $("#SubProceso");
        //result.html(sendVariable[0]);
        $("#SubProceso").html("Cargando Y Revisando Excel");
        var result = $("#lblPorcentaje");
        result.html(RPorcentaje + "%");
        $(".progressbar-green .progressbar-inner").css({
            width: RPorcentaje + "%"
        });
        var avance = $("#lblRegistrosProcesados");
        avance.html(RAvance);
    }

    function FnPrecargaExcel() {
        //VAR
        nombre_archivo = "";
        //FIN FUNCIONES
        //ARMAR MODAL CARGANDO EXCELFo
        if ($('#ArchivoExcelProductos').val() != '') {
            var myFile = document.getElementById("ArchivoExcelProductos").files[0];
            $("#tempNombreArchivo").val(myFile.name);
            var url = '@Url.Action("modalCargaArchivoExcel")';
            $.ajax({
                url: url,
                data: {},
                type: "POST",
                success: function (x) {
                    //MOSTRAR MODAL CARGANDO EXCEL
                    bootbox.dialog({
                        title: "",
                        message: x,
                        className: "ModalCargando",
                        closeButton: false,
                        onEscape: true
                    });
                    //SUBIR Y ANALIZAR ARCHIVO EXCEL
                    FnSubirArchivo(myFile);
                },
                async: false
            });
        }
        else {
            $('#ErrorProductos').slideDown(200);
            return false;
        }
    }
    //--F I N    ---H U B     P R O D U C T O S



    //-------------------------------------------
    //-------------------------------------------
    //-----H U B     P R E C I O S
    //-------------------------------------------

    $(document).on('change', '#ArchivoExcelPrecio', function () {
        bool_actualiza_productos = $("#bool_actualiza_precios").is(':checked');
        bool_actualiza_precios = $("#bool_actualiza_precios").is(':checked');


        var excelExtensions = ['XLS', 'XLSX'];
        fileExtension = $('#ArchivoExcelPrecio').val().replace(/^.*\./, '').toUpperCase().trim();
        //REVISAR QUE NO ESTE VACIA LA CADENA
        if ($('#ArchivoExcelPrecio').val() != '') {
            if (jQuery.inArray(fileExtension, excelExtensions) != -1) {
                $('#ErrorProductos').slideUp(200);
                FnPrecargaExcelPrecios();
            } else {
                $('#ErrorProductos').slideDown(200);
            }
        }
        else {
            $('#ErrorProductos').slideDown(200);
        }
    });
    //FUNCIONES SUBIR, CARGAR, REVISAR
    //FN SUBIR ARCHIVO
    function FnSubirArchivoPrecios(file) {
        xhr = new XMLHttpRequest();
        xhr.upload.onprogress = function (evt) {
            if (evt.lengthComputable) {
                //AL CARGAR EL ARCHIVO LLEGARA AL 50%
                //Y DEL 50% AL 100% LO HARA CON UN CICLO DE 2000 MILISEGUNDOS
                var _porcent = parseInt(((evt.loaded / evt.total) * 50));
                $("#progress-bar").css({
                    width: _porcent + "%"
                });
                $(".progressbar-green .progressbar-inner").css({
                    width: _porcent + "%"
                });
                $("#lblPorcentaje").text(_porcent + "%");
                if (evt.loaded == evt.total) {
                    AVANCE_CARGA = 50;
                    var cargandoProgreso = setInterval(function () {
                        AVANCE_CARGA++;
                        $(".progressbar-green .progressbar-inner").css({ width: AVANCE_CARGA + "%" });
                        $("#lblPorcentaje").text(AVANCE_CARGA + "%");
                        //AL CARGAR EL 100%
                        if (AVANCE_CARGA == 100) { clearInterval(cargandoProgreso); FnCargarRegistroDBPrecios(new_fileName); }
                    }, 40);
                }
            }
        };
        //ARMAR CADENA UNICA CONCATENANDO FECHA + NOMBRE_ARCHIVO
        var date = new Date();
        new_fileName = date.format("d.M.y_H.m.s") + "_" + file.name;
        file.fileName = new_fileName;
        xhr.open("post", "@Url.Action("SubirArchivoProductos", "Producto")" + "?new_fileName=" + new_fileName, true);
        xhr.setRequestHeader("Content-Type", "multipart/form-data");
        xhr.setRequestHeader("X-File-Name", file.name);
        xhr.setRequestHeader("X-File-Size", file.size);
        xhr.setRequestHeader("X-File-Type", file.type);
        // Send the file
        xhr.send(file);
    }

    //FN CARGAR REGISTROS DE EXCEL A LA BASE DE DATOS
    function FnCargarRegistroDBPrecios(new_fileName) {
        // initialize progress bar
        $("#progress-bar").css({
            width: "0%"
        });
        $(".progressbar-green .progressbar-inner").css({
            width: "0%"
        });
        $("#porcentaje_img").text("0%");
        // initialize the connection to the server
        var progressNotifierPrecios = $.connection.hubPrecioExcel;
        // client-side sendMessage function that will be called from the server-side
        progressNotifierPrecios.client.sendMessage = function (message) {
            // update progress
            UpdateProgressPrecio(message);
        };
        //CUANDO PASE UN ERROR
        progressNotifierPrecios.client.error = function (error) {
            // update progress
            AgregarLogPrecio("Fallo el proceso: " + error)
            $(".modal").modal("hide");
            //MOSTRAR MODAL CARGANDO EXCEL
            bootbox.dialog({
                title: "ERROR",
                message: error,
                className: "ModalCargando",
                closeButton: true,
                onEscape: true
            });
            $.connection.hub.stop();
        };

        //CUANDO SE COMPLETE EL PROCESO
        progressNotifierPrecios.client.ExcelSubidoDB_OK = function () {
            AgregarLogPrecio("Excel Subido a la DB correctamente");
        };

        progressNotifierPrecios.client.Analizado_OK = function () {
            AgregarLogPrecio("Productos Analizados Correctamente");
            $(".progressbar-green .progressbar-inner").css({
                width: "100%"
            });
            //MOSTRAR RESULTADO DEL ANALISIS
            var url = '@Url.Action("modalResultadoAnalizarArchivoExcelPRECIOS")';
            $.ajax({
                url: url,
                type: "POST",
                success: function (x) {
                    $("#panelProgreso").slideUp();
                    $("#panelResultado").html(x);
                },
                async: false
            });
            //SELECCIONAR SUCURSAL Y TIPOPRECIO
            //$("#panelProgreso").slideUp(0);
            //$("#divSeleccionaTipoPrecio").slideDown(300);
        }

        // establish the connection to the server and start server-side operation
        $.connection.hub.start().done(function () {
            // call the method CallLongOperation defined in the Hub
            progressNotifierPrecios.server.producto_CargarArchivoProductos_DB(new_fileName);
        });
    }

    function AgregarLogPrecio(msg) {
        //ACTUALIZAR LOG
        //OBTENER NOW()
        var dt = new Date();
        var hh = (dt.getHours() < 10 ? '0' : '') + dt.getHours();
        var mm = (dt.getMinutes() < 10 ? '0' : '') + dt.getMinutes();
        var ss = (dt.getSeconds() < 10 ? '0' : '') + dt.getSeconds();
        var NOW = hh + ":" + mm + ":" + ss;
        $("#divLog tbody").append("<tr><td>" + NOW + "</td><td>" + msg + "</td></tr>");
    }

    SUBPROCESO2 = "";
    function UpdateProgressPrecio(sendVariable) {
        RSubProceso = sendVariable[0];
        RPorcentaje = parseInt(sendVariable[1]);
        RAvance = sendVariable[2];
        //SI EL SUBPROCESO CAMBIO
        if (SUBPROCESO2 != RSubProceso) {
            AgregarLogPrecio(RSubProceso);
            SUBPROCESO2 = RSubProceso;
        }
        //var result = $("#SubProceso");
        //result.html(sendVariable[0]);
        $("#SubProceso").html("Cargando Y Revisando Excel");
        var result = $("#lblPorcentaje");
        result.html(RPorcentaje + "%");
        $(".progressbar-green .progressbar-inner").css({
            width: RPorcentaje + "%"
        });
        var avance = $("#lblRegistrosProcesados");
        avance.html(RAvance);
    }

    function FnPrecargaExcelPrecios() {
        //VAR
        nombre_archivo = "";
        //FIN FUNCIONES
        //ARMAR MODAL CARGANDO EXCELFo
        if ($('#ArchivoExcelPrecio').val() != '') {
            var myFile = document.getElementById("ArchivoExcelPrecio").files[0];
            $("#tempNombreArchivo").val(myFile.name);
            var url = '@Url.Action("modalCargaArchivoExcel")';
            $.ajax({
                url: url,
                data: {},
                type: "POST",
                success: function (x) {
                    //MOSTRAR MODAL CARGANDO EXCEL
                    bootbox.dialog({
                        title: "",
                        message: x,
                        className: "ModalCargando",
                        closeButton: false,
                        onEscape: true
                    });
                    //SUBIR Y ANALIZAR ARCHIVO EXCEL
                    FnSubirArchivoPrecios(myFile);
                },
                async: false
            });
        }
        else {
            $('#ErrorPrecios').slideDown(200);
            return false;
        }
    }
    //--F I N    ---H U B      P R E C I O S

    $(document).on('click', '#actualizacionExcelPrecios', function () {
        if ($('#DivActualizacionExcel').is(':visible') == true) {
            if ($('.opcion1').is(':visible') == true) {
                $('.opcion1').hide();
                $('#tab1').hide();
                $('.opcion2').show();
                $('#tab2').show();
                $('#DivActualizacionExcel').css('background-color', 'rgb(37, 64, 84)');
                $('#labelActualizacion').html('ACTUALIZACION EXCEL PRECIOS');
            } else {
                $('#DivActualizacionExcel').slideUp(200);
            }
        } else {
            $('.opcion1').hide();
            $('#tab1').hide();
            $('.opcion2').show();
            $('#tab2').show();
            $('#DivActualizacionExcel').css('background-color', 'rgb(37, 64, 84)');
            $('#labelActualizacion').html('ACTUALIZACION EXCEL PRECIOS');
            $('#DivActualizacionExcel').slideDown(200);
        }
    });

    $(document).on('click', '#actualizacionExcelCatalogos', function () {
        if ($('#DivActualizacionExcel').is(':visible') == true) {
            if ($('.opcion2').is(':visible') == true) {
                $('.opcion2').hide();
                $('#tab2').hide();
                $('.opcion1').show();
                $('#tab1').show();
                $('#DivActualizacionExcel').css('background-color', '#ff5757');
                $('#labelActualizacion').html('ACTUALIZACION EXCEL PRODUCTOS');
            } else {
                $('#DivActualizacionExcel').slideUp(200);
            }
        } else {
            $('.opcion2').hide();
            $('#tab2').hide();
            $('.opcion1').show();
            $('#tab1').show();
            $('#DivActualizacionExcel').css('background-color', '#ff5757');
            $('#labelActualizacion').html('ACTUALIZACION EXCEL PRODUCTOS');
            $('#DivActualizacionExcel').slideDown(200);
        }
    });


    $(document).on('click', '#btn_excel_precios', function () {

    });
    $(document).on('click', '#btn_excel_productos', function () {

    });

    function VistaParcialProductos() {
        numeroProductos = $('#numeroProductos').val();
        filtro = $('#filtro_lista').val();
        ordenamiento = $('#ordenamiento').val();
        productos_ocultos = $("input[id='productos_ocultos']:checked").length;
        if (siguiente_hoja == false) {
            pagina = 1;
        }
        var params = {
            'pagina': pagina,
            'numeroProductos': numeroProductos,
            'filtro': filtro,
            'ordenamiento': ordenamiento,
            'productos_ocultos': productos_ocultos
        };
        var url = '@Url.Action("VistaParcialProductos")';
        $.ajax({
            url: url,
            type: "POST",
            contentType: 'application/json;',
            data: JSON.stringify(params),
            success: function (productos) {
                $('#ListaProductos').html(productos);
            },
            async: false
        });
    }
</script>

<script type="text/javascript">
    var SeguirNuevoProducto = true;
    var SeguirEditarProducto = true;
    $(document).on('click', '#NuevoProducto', function () {
        var url = '@Url.Action("ModalNuevoProducto")';
        $.ajax({
            url: url,
            type: "POST",
            data: {},
            success: function (Modal) {
                bootbox.dialog({
                    message: Modal,
                    className: "ModalNuevoProducto",
                    onEscape: false,
                    closeButton: false
                });
            },
            async: false
        });
    });
    $(document).on('click', '#BotonNuevoProducto', function () {
        SeguirNuevoProducto = true;
        $('.FormularioProducto').each(function () {
            if ($(this).val() == "" || $(this).val() == undefined || $(this).val() == null) {
                SeguirNuevoProducto = false;
            }
        });
        $('.precio').each(function () {
            if ($(this).val() == "" || $(this).val() == undefined || $(this).val() == null) {
                SeguirNuevoProducto = false;
            }
        });
        if (!SeguirNuevoProducto) {
            MostrarAlertaFormulario();
            OcultarAlertaFormulario();
        }
        VerificarCodigoProducto();
        if (SeguirNuevoProducto) {
            var precio_dolar = $("input[id='precio_dolar']:checked").length;
            var publicar = $("input[id='publicar']:checked").length;
            var carrusel = $("input[id='carrusel']:checked").length;
            var consignacion = $("input[id='consignacion']:checked").length;
            var visible = $("input[id='visible']:checked").length;
            var Producto = [];
            Producto.push({
                id: "",
                Codigo: $('#Codigo').val(),
                Descripcion: $('#Descripcion').val(),
                descripcion_detallada: $('#descripcion_detallada').val(),
                id_marca: $('#id_marca').val(),
                SubFamilia_id: $('#SubFamilia_id').val(),
                Proveedor_id: $('#Proveedor_id').val(),
                costo: $('#costo').val(),
                medida: $('#medida').val(),
                modelo: $('#modelo').val(),
                precio_dolar: precio_dolar,
                publicar: publicar,
                carrusel: carrusel,
                iva: $('#iva').val(),
                ieps: $('#ieps').val(),
                consignacion: consignacion,
                visible: visible
            });
            var Precios = [];
            $(".Precio").each(function () {
                Precios.push({
                    TipoCliente_id: $(this).attr('idTipoPrecio'),
                    Precio: $(this).val(),
                    sucursal_id: $(this).attr('sucursal_id')
                });
            });
            var params = {
                'producto': Producto[0],
                'ListaPrecios': Precios
            };
            var url = '@Url.Action("NuevoProducto")';
            $.ajax({
                url: url,
                type: "POST",
                datetype: 'json',
                contentType: 'application/json;',
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.success) {
                        ProcedimientoSubirAdjuntosProducto($("#imagenes")[0].files, result.id_producto, 0);
                        ProcedimientoSubirAdjuntosProducto($("#pdfs")[0].files, result.id_producto, 1);
                        $('.ModalNuevoProducto').modal('hide');
                        CrearInventariosNoExistentes(result.id_producto);
                        VistaParcialProductos();
                    } else {
                        $('.ModalNuevoProducto').modal('hide');
                        VistaParcialProductos();
                        alert("Hubo un error al guardar el producto.");
                    }
                },
                async: false
            });
        }
    });
    $(document).on('click', '#BotonEditarProducto', function () {
        SeguirEditarProducto = true;
        $('.FormularioProducto').each(function () {
            if ($(this).val() == "" || $(this).val() == undefined || $(this).val() == null) {
                SeguirEditarProducto = false;
            }
        });
        $('.precio').each(function () {
            if ($(this).val() == "" || $(this).val() == undefined || $(this).val() == null) {
                SeguirEditarProducto = false;
            }
        });
        if (!SeguirEditarProducto) {
            MostrarAlertaFormulario();
            OcultarAlertaFormulario();
        }
        VerificarCodigoProducto();
        if (SeguirEditarProducto) {
            var precio_dolar = $("input[id='precio_dolar']:checked").length;
            var publicar = $("input[id='publicar']:checked").length;
            var carrusel = $("input[id='carrusel']:checked").length;
            var consignacion = $("input[id='consignacion']:checked").length;
            var visible = $("input[id='visible']:checked").length;
            var Producto = [];
            var id_producto = parseInt($('#id').val());
            Producto.push({
                id: $('#id').val(),
                Codigo: $('#Codigo').val(),
                Descripcion: $('#Descripcion').val(),
                descripcion_detallada: $('#descripcion_detallada').val(),
                id_marca: $('#id_marca').val(),
                SubFamilia_id: $('#SubFamilia_id').val(),
                Proveedor_id: $('#Proveedor_id').val(),
                costo: $('#costo').val(),
                medida: $('#medida').val(),
                modelo: $('#modelo').val(),
                precio_dolar: precio_dolar,
                publicar: publicar,
                carrusel: carrusel,
                iva: $('#iva').val(),
                consignacion: consignacion,
                visible: visible
            });

            var Precios = [];
            $(".Precio").each(function () {
                //alert($(this).attr('idTipoPrecio') + "," + $(this).val() + ","+$(this).attr('sucursal_id'));
                Precios.push({
                    TipoCliente_id: $(this).attr('idTipoPrecio'),
                    Precio: $(this).val(),
                    sucursal_id: $(this).attr('sucursal_id')
                });
            });
            var ImagenesEliminadas = [];
            $(".id_imagen_eliminada").each(function () {
                ImagenesEliminadas.push($(this).val());
            });
            var PDFsEliminadas = [];
            $(".id_pdf_eliminado").each(function () {
                PDFsEliminadas.push($(this).val());
            });
            var params = {
                'producto': Producto[0],
                'ListaPrecios': Precios,
                'ImagenesEliminadas': ImagenesEliminadas,
                'PDFsEliminadas': PDFsEliminadas
            };
            var url = '@Url.Action("EditarProducto")';
            $.ajax({
                url: url,
                type: "POST",
                datetype: 'json',
                contentType: 'application/json;',
                data: JSON.stringify(params),
                success: function (result) {
                    if (result.success) {
                        ProcedimientoSubirAdjuntosProducto($("#imagenes")[0].files, result.id_producto, 0);
                        ProcedimientoSubirAdjuntosProducto($("#pdfs")[0].files, result.id_producto, 1);
                        $('.ModalEditarProducto').modal('hide');
                        CrearInventariosNoExistentes(id_producto);
                        VistaParcialProductos();
                    } else {
                        $('.ModalEditarProducto').modal('hide');
                        VistaParcialProductos();
                        alert("Hubo un error al guardar los cambios en el producto");
                    }
                },
                async: false
            });
        }
    });
    function CrearInventariosNoExistentes(id_producto) {
        var url = '@Url.Action("crearInventariosNoExistentes", "Home")';
        $.ajax({
            url: url,
            data: { id_producto: id_producto },
            type: "POST",
            async: false,
            success: function (resultado) {
            }
        });
    }
    function ProcedimientoSubirAdjuntosProducto(filelist, id, opcion) {
        if (typeof filelist !== "undefined") {
            for (var i = 0, l = filelist.length; i < l; i++) {
                SubirAdjuntoProducto(filelist[i], id, opcion);
            }
        }
    }
    function SubirAdjuntoProducto(file, id, opcion) {
        xhr = new XMLHttpRequest();
        xhr.open("post", '@Url.Action("SubirAdjuntos", new { id_producto = "_id_", whatIs = "_opcion_" })'.replace('_id_', id).replace('_opcion_', opcion).replace('amp;', ''), false);
        xhr.setRequestHeader("Content-Type", "multipart/form-data");
        xhr.setRequestHeader("X-File-Name", file.name);
        xhr.setRequestHeader("X-File-Size", file.size);
        xhr.setRequestHeader("X-File-Type", file.type);
        xhr.send(file);
    }
    $(document).on('change', '#Codigo', function () {
        VerificarCodigoProducto();
    });
    function VerificarCodigoProducto() {
        var url = '@Url.Action("VerificarCodigoProducto")';
        $.ajax({
            url: url,
            data: { id: $('#id').val(), codigo: $('#Codigo').val() },
            type: "POST",
            async: false,
            success: function (result) {
                if (result.success == false) {
                    MostrarAlertaCodigo();
                    OcultarAlertaCodigo();
                    SeguirNuevoProducto = false;
                    SeguirEditarProducto = false;
                }
            }
        });
    }
    function MostrarAlertaFormulario() {
        $('#AlertaFormulario').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function MostrarAlertaFormularioTipoPrecio() {
        $('#AlertaFormularioTipoPrecio').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function MostrarAlertaCodigo() {
        $('#AlertaCodigo').css('display', 'block').removeClass().addClass('bounceIn animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
    }
    function OcultarAlertaFormulario() {
        setTimeout(function () {
            $('#AlertaFormulario').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormulario').hide(1500);
        }, 3000);
    }
    function OcultarAlertaFormularioTipoPrecio() {
        setTimeout(function () {
            $('#AlertaFormularioTipoPrecio').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaFormularioTipoPrecio').hide(1500);
        }, 3000);
    }
    function OcultarAlertaCodigo() {
        setTimeout(function () {
            $('#AlertaCodigo').removeClass().addClass('bounceOut animated alert alert-info').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
            $('#AlertaCodigo').hide(1500);
        }, 3000);
    }
    $(document).on('keypress', '.decimal', function (e) {
        var text = $(this).val();
        if (text.indexOf('.') == -1) {
            if (e.which != 8 && e.which != 0 && e.which != 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            };
        } else {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
            else {
                return true;
            }
        }
    });
    function EditarProducto(id) {
        var url = '@Url.Action("ModalEditarProducto")';
        $.ajax({
            url: url,
            type: "POST",
            data: { id: id },
            success: function (Modal) {
                bootbox.dialog({
                    message: Modal,
                    className: "ModalEditarProducto ",
                    onEscape: false,
                    closeButton: false
                });
            },
            async: false
        });
    }
    function PreciosProducto(id) {
        window.location.href = '@Url.Action("Lista_de_precios_producto", new { idProducto = "_id_" })'.replace('_id_', id);
    }
    $('#ExportarPDF').click(function () {
        descargar_pdf();
    });
    function descargar_pdf() {
        var ordenamiento = $("#ordenamiento").val();
        var productos_ocultos = $("input[id='productos_ocultos']:checked").length;
        var filtro = $('#filtro_lista').val();
        var url = '@Url.Action("TraerPDFListaProductos", "FormatoPDF", new { ordenamiento = "_ordenamiento_", productos_ocultos = "_productos_ocultos_", filtro = "_filtro_" })'.replace("_ordenamiento_", ordenamiento);
        url = url.replace("_productos_ocultos_", productos_ocultos);
        url = url.replace("_filtro_", filtro);
        url = url.replace(/amp;/g, "");
        window.open(url);
    }
</script>
