﻿@model IEnumerable<POS.Models.nuevo_producto>
<table id="TablaProductosFinalizado">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripción</th>
            <th>Desc. Detallada</th>
            <th>Marca</th>
            <th>Familia</th>
            <th>Subfamilia</th>
            <th>Proveedor</th>
            <th>Precio</th>
            <th>Costo</th>
            <th>Medida</th>
            <th>Modelo</th>
            <th>Precio Dolar</th>
            <th>Publicar</th>
            <th>Carrusel</th>
            <th>ACTUALIZACION PRODUCTO</th>
            <th>ACTUALIZACION PRECIO</th>
            <th>ERROR</th>
        </tr>
    </thead>
    <tbody>
        @foreach (POS.Models.nuevo_producto p in Model)
        {
            <tr>
                <td style="text-align: center;">@p.codigo</td>
                <td style="text-align: center;">@p.descripcion</td>
                <td style="text-align: center;">@p.descripcion_detallada</td>
                <td style="text-align: center;">@p.marca</td>
                <td style="text-align: center;">@p.familia</td>
                <td style="text-align: center;">@p.subfamilia</td>
                <td style="text-align: center;">@p.proveedor</td>
                <td style="text-align: center;">@p.precio</td>
                <td style="text-align: center;">@p.costo</td>
                <td style="text-align: center;">@p.medida</td>
                <td style="text-align: center;">@p.modelo</td>
                <td style="text-align: center;">
                    @p.precio_dolar
                </td>
                <td style="text-align: center;">@p.publicar</td>
                <td style="text-align: center;">@p.carrusel</td>
                <td style="text-align: center;">@if (p.copiadoCatolgoDescripcion.Value == 1)
                                                { <label>OK</label> }</td>
                <td style="text-align: center;">@if (p.copiadoPrecio.Value == 1)
                                                { <label>OK</label> }</td>
                <td style="text-align: center;">@if (p.copiadoCatolgoDescripcion.Value != 1 && p.copiadoPrecio.Value != 1)
                                                { <label>ERROR</label>}</td>
            </tr>
        }
    </tbody>
</table>



<script type="text/javascript">
    $(document).ready(function () {
        table_export = $("#TablaProductosFinalizado").tableExport({
            headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
            footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
            formats: ["xlsx", "csv", "txt"],     // (String[]), filetype(s) for the export
            fileName: "id",                     // (id, String), filename for the downloaded file
            bootstrap: true,                    // (Boolean), style buttons using bootstrap
            position: "bottom",                 // (top, bottom), position of the caption element relative to table
            ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
            ignoreCols: 9,                   // (Number, Number[]), column indices to exclude from the exported file
            ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
            emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
            trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
        });
    });
</script>
