﻿@model POS.Models.producto
@{
    ViewBag.Title = "POS - Lista De Precios";
}

<div id="page-content" style="background: #fff;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Lista De Precios</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; margin-bottom: 10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table id="TablaProducto" class="table" style="padding-left: 10%; padding-right: 10%; background-color: #254054; width: 100%;">
            <thead>
                <tr>
                    <th style="background-color: #254054; color: white;">Codigo</th>
                    <th style="background-color: #254054; color: white;">Producto</th>
                    <th style="background-color: #254054; color: white;">Familia / Subfamilia</th>
                    <th style="background-color: #254054; color: white;">Proveedor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="background-color: #254054; color: white; text-align: center;">@Model.Codigo</th>
                    <th style="background-color: #254054; color: white; text-align: center;">@Model.Descripcion.ToUpper()</th>
                    <th style="background-color: #254054; color: white; text-align: center;">@Model.subfamilia.familia.nombre.ToUpper() / @Model.subfamilia.nombre.ToUpper()</th>
                    <th style="background-color: #254054; color: white; text-align: center;">@Model.proveedor.nombre_proveedor.ToUpper()</th>
                </tr>
            </tbody>
        </table>
        <div style="margin-right: 10px; margin-top: 10px; float: right;">
            <a href="@Url.Action("agregar_nuevo_precio", new { idProducto = Model.id })" class="btn btn-success" style="margin-top: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-plus"></i>
                </span>
                <span class="button-content">Nuevo Precio</span>
            </a>
        </div>
        <table id="TablaPrecios" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>Sucursal</th>
                    <th>Tipo De Precio</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.precio_por_tipocliente)
                {
                    <tr>
                        <td style="text-align: center;">@item.sucursal.nombre_sucursal</td>
                        <td style="text-align: center;">@item.tipocliente.Tipo</td>
                        <td style="text-align: center;">@item.Precio</td>
                        <td style="text-align: center;">
                        <section>
                            <div class="wrapper-demo">
                                <div class="wrapper-dropdown-5" tabindex="1">
                                    <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                                    Acciones
                                    <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                        <li>
                                            <label onclick="EditarPrecioCliente(@item.id)" style="color: #254054"><i class="glyph-icon icon-pencil" aria-hidden="true" style="margin-right: 15px;"></i>Editar</label>
                                        </li>
                                    </ul>
                               </div>
                            </div>
                        </section>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Index")" class="btn btn-danger" style="margin-bottom: 10px; margin-left: 10px;">
            <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-times"></i>
            </span>
            <span class="button-content">Cancelar</span>
        </a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#TablaPrecios').dataTable({
            "pagingType": "full_numbers",
            stateSave: true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "retrieve": true,
            "destroy": true,
            "autoWidth": true
        });
    });

    function EditarPrecioCliente(id) {
        window.location.href = '@Url.Action("Editar_precio_tipo_cliente", new { id = "_id_" })'.replace("_id_", id);
    }
</script>


<script type="text/javascript">
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
    $(function () {
        $(".wrapper-dropdown-5").each(function () {
            var dd = new DropDown($(this));
            $(document).click(function () {
                // all dropdowns
                $('.wrapper-dropdown-5').removeClass('active');
            });
        });
    });
</script>