﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white; line-height: 35px;">Actualización
    </h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        @*PANEL PROGRESO*@
        <table id="panelProgreso" class="table" style="width: 100%;">
            <thead>
                <tr>
                    <th id="SubProceso">Subiendo Archivo De Excel</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="lblRegistrosProcesados" style="border: 0px; text-align: center;"></td>
                </tr>
                <tr>
                    <td id="divProgressBar" style="border: 0px; text-align: center;">
                        <div class="progressbar progressbar-green">
                            <div class="progressbar-inner"></div>
                            <div style="text-align: right;">
                                <label id="lblPorcentaje"></label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="border: 0px;"></td>
                </tr>
            </tbody>
        </table>
        @* END PANEL PROGRESO*@
        @* PANEL RESULTADO*@
        <div id="panelResultado">
        </div>
        @* END PANEL RESULTADO*@
        @* PANEL FINALIZAR*@
        <table id="panelFinalizar" class="table" style="display: none; margin-top: -25px; width: 100%;">
            <tbody>
                <tr>
                    <td class="finalizacion" style="border: 0px; text-align: center; padding: 0px;">Proceso Completado</td>
                </tr>
                <tr>
                    <td class="finalizacion" style="border: 0px; text-align: center; padding: 0px;">
                        <a id="btn_descargar_lista_productosExcelFinalizado" class="btn btn-info" style="display:none">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-file"></i>
                            </span>
                            <span class="button-content">Descargar Excel procesado</span>
                        </a>
                        <a id="btn_descargar_lista_PRECIOSExcelFinalizado" class="btn btn-info"  style="display:none">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-file"></i>
                            </span>
                            <span class="button-content">Descargar Excel procesado</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="border: 0px; text-align: right;">
                        <a id="BotonFinalizacion" class="btn btn-success">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Volver</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        @* END PANEL FINALIZAR*@
        @* END PANEL LOG*@
        <div style="width: 10%; float: left; margin-top: -37px;">
            <a id="verLog" name="#divLog" class="btn btn-info" style="margin-top: 10px; margin-left: 6px;">
                <span class="glyph-icon icon-separator">
                    <i class="glyph-icon icon-eye"></i>
                </span>
                <span class="button-content">Log</span>
            </a>
            <table id="divLog" class="table table-hover" style="display: none; width: 100%;">
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Proceso</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        @* END PANEL LOG*@
    </div>
</div>
<div id="div_listaExcelProductosFinalizado" style="display:none"></div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#BotonFinalizacion').click(function () {
            var url = "@Url.Action("crearInventarioProductosNuevos")";
            $.ajax({
                url: url,
                data: {},
                type: "POST",
                success: function (x) {
                },
                async: false
            });
            window.location.href = '@Url.Action("Index")';
        });

        $("#btn_descargar_lista_productosExcelFinalizado").click(function () {
            $(".modal").modal("hide");
            var url = "@Url.Action("listaExcelProductosFinalizado")";
            $.ajax({
                url: url,
                data: { nuevos: true },
                type: "POST",
                success: function (x) {
                    $("#div_listaExcelProductosFinalizado").html(x);
                    $('#TablaProductosFinalizado .xlsx').trigger("click");
                    $("#DivActualizacionExcel").slideUp();
                },
                async: false
            });
        });

        $("#btn_descargar_lista_PRECIOSExcelFinalizado").click(function () {
            $(".modal").modal("hide");
            var url = "@Url.Action("listaExcelProductosFinalizadoPrecios")";
            $.ajax({
                url: url,
                data: { nuevos: true },
                type: "POST",
                success: function (x) {
                    $("#div_listaExcelProductosFinalizado").html(x);
                    $('#TablaProductosFinalizado .xlsx').trigger("click");
                    $("#DivActualizacionExcel").slideUp();
                },
                async: false
            });
        });

        $("#verLog").click(function () {
            id = $(this).attr("name");
            log = escape($(id).html())
            var url = '@Url.Action("modal_log")';
            $.ajax({
                url: url,
                data: { tabla: log },
                type: "POST",
                success: function (result) {
                    bootbox.dialog({
                        title: "",
                        className: "modal_log",
                        message: result,
                        buttons: {
                        },
                        closeButton: false,
                        onEscape: true
                    });
                },
                async: false
            });
        })
        $('.ModalCargando .modal-header').css("text-align", "center");
        $('.ModalCargando .modal-body').css("text-align", "center");
        $('.ModalCargando .modal-dialog').css("width", "70%");
    });
</script>
