﻿<div id="page-content" style="background: #fff; padding: 0px; margin-top: -20px;">
    <h3 class="title-hero" style="text-align: center; background-color: #254054; color: white;">Agregar precio al producto</h3>
    <div class="example-box-wrapper" style="margin-top: -10px; border-left: 1px solid rgba(37, 64, 84, 0.45); border-right: 1px solid rgba(37, 64, 84, 0.45); border-bottom: 1px solid rgba(37, 64, 84, 0.45);">
        <table class="table" style="width: 100%;">
            <tbody>
                <tr>
                    <td colspan="2" style="text-align: center; border: 0px;">No existe precio para este producto.</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; border: 0px;">Favor de introducir el precio.</td>
                </tr>
                <tr>
                    <td style="text-align: center; border: 0px;">Precio Del Producto: </td>
                    <td style="text-align: center; border: 0px;">
                        <input id="nuevo_precio" type="text" class="form-control decimal autofocus" value="" autofocus />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; border: 0px;">
                        <button onclick="guardarPrecio()" class="btn btn-success">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-check"></i>
                            </span>
                            <span class="button-content">Aceptar</span>
                        </button>
                        <button onclick="CerrarModal()" class="btn btn-danger">
                            <span class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-times"></i>
                            </span>
                            <span class="button-content">Cancelar</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.ModalNuevoPrecioProducto .modal-dialog').css('width', '30%');
        $('.ModalNuevoPrecioProducto').on('shown.bs.modal', function () {
            $(".autofocus").focus();
        });
    });
    function CerrarModal() {
        $('.ModalNuevoPrecioProducto').modal('hide');
    }
</script>
