﻿@{
    POS.Models.configuracion_general configuracion_general = POS.Fn.Configuracion.TraerConfiguracionGeneral();
    List<POS.Models.ConsultaProducto> ListaProductos = ViewBag.ListaProductos as List<POS.Models.ConsultaProducto>;
    int totalProductos = ViewBag.totalProductos;
    int desde = ViewBag.desde;
    int hasta = ViewBag.hasta;
    int pagina = ViewBag.pagina;
    int numeroProductos = ViewBag.numeroProductos;
}

<style>
    .imgCheckDesactivado {
        -webkit-filter: grayscale(1);
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: grayscale(100%);
        opacity: 0.3;
        filter: alpha(opacity=30); /* For IE8 and earlier */
    }

        .imgCheckDesactivado:hover {
            width: 20px !important;
            cursor: pointer;
            /*opacity: 1;
            filter: alpha(opacity=100); /* For IE8 and earlier */
        }

    .imgCheckActivado {
        -webkit-filter: grayscale(0);
        -webkit-filter: grayscale(0%);
        filter: initial;
        filter: grayscale(0%);
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }

        .imgCheckActivado:hover {
            width: 20px !important;
            cursor: pointer;
            /*opacity: 0.3;
            filter: alpha(opacity=30); /* For IE8 and earlier */
        }
</style>

<script>
    $(".imgPublicado").click(function () {
        _this = $(this);
        valor = $(_this).attr("valor");
        idProducto = $(_this).attr("idProducto");
        var url = '@Url.Action("cambiarPublicado")';
        $.ajax({
            url: url,
            data: { valor: valor, idProducto: idProducto },
            type: "POST",
            success: function (r) {
                if (r.success) {
                    _this.removeClass("imgCheckActivado imgCheckDesactivado");
                    _this.attr("valor", r.valor);
                    if (r.valor) {
                        _this.addClass("imgCheckActivado");
                    }
                    else {
                        _this.addClass("imgCheckDesactivado");
                    }
                    CrearInventariosNoExistentes(idProducto);
                }
            },
            async: false
        });
    });

    $(".imgDestacado").click(function () {
        _this = $(this)
        valor = $(_this).attr("valor");
        idProducto = $(_this).attr("idProducto");
        var url = '@Url.Action("cambiarDestacado")';
        $.ajax({
            url: url,
            data: { valor: valor, idProducto: idProducto },
            type: "POST",
            success: function (r) {
                if (r.success) {
                    _this.removeClass("imgCheckActivado imgCheckDesactivado");
                    _this.attr("valor", r.valor);
                    if (r.valor) {
                        _this.addClass("imgCheckActivado");
                    }
                    else {
                        _this.addClass("imgCheckDesactivado");
                    }
                }
            },
            async: false
        });
    });

    $(".imgDolar").click(function () {
        _this = $(this)
        valor = $(_this).attr("valor");
        idProducto = $(_this).attr("idProducto");
        var url = '@Url.Action("cambiarDolar")';
        $.ajax({
            url: url,
            data: { valor: valor, idProducto: idProducto },
            type: "POST",
            success: function (r) {
                if (r.success) {
                    _this.removeClass("imgCheckActivado imgCheckDesactivado");
                    _this.attr("valor", r.valor);
                    if (r.valor) {
                        _this.addClass("imgCheckActivado");
                    }
                    else {
                        _this.addClass("imgCheckDesactivado");
                    }
                }
            },
            async: false
        });
    });

    $(".imgVisible").click(function () {
        _this = $(this)
        valor = $(_this).attr("valor");
        idProducto = $(_this).attr("idProducto");
        var url = '@Url.Action("cambiarVisibilidad")';
        $.ajax({
            url: url,
            data: { valor: valor, idProducto: idProducto },
            type: "POST",
            success: function (r) {
                if (r.success) {
                    _this.removeClass("imgCheckActivado imgCheckDesactivado");
                    _this.attr("valor", r.valor);
                    VistaParcialProductos()
                    if (r.valor) {
                        _this.addClass("imgCheckActivado");
                    }
                    else {
                        _this.addClass("imgCheckDesactivado");
                    }
                }
            },
            async: false
        });
    });

    $(".imgConsignacion").click(function () {
        _this = $(this)
        valor = $(_this).attr("valor");
        idProducto = $(_this).attr("idProducto");
        var url = '@Url.Action("cambiarConsignacion")';
        $.ajax({
            url: url,
            data: { valor: valor, idProducto: idProducto },
            type: "POST",
            success: function (r) {
                if (r.success) {
                    _this.removeClass("imgCheckActivado imgCheckDesactivado");
                    _this.attr("valor", r.valor);
                    if (r.valor) {
                        _this.addClass("imgCheckActivado");
                    }
                    else {
                        _this.addClass("imgCheckDesactivado");
                    }
                }
            },
            async: false
        });
    });
</script>

<table id="TablaProductos" class="table table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripción</th>
            <th>Marca</th>
            <th>Familia</th>
            <th>Subfamilia</th>
            <th>Proveedor</th>
            @if (configuracion_general.venta_consignacion == true)
            {
                <th></th>
            }
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (ListaProductos.Count == 0)
        {
            <tr>
                <td colspan="7" style="text-align: center; padding-top: 15px;">No se encontraron productos.</td>
            </tr>
        }
        else
        {
            foreach (POS.Models.ConsultaProducto producto in ListaProductos)
            {
                <tr>
                    <td style="text-align: center;">@producto.codigo</td>
                    <td style="text-align: center;">@producto.descripcion</td>
                    <td style="text-align: center;">@producto.marca</td>
                    <td style="text-align: center;">@producto.familia</td>
                    <td style="text-align: center;">@producto.subfamilia</td>
                    <td style="text-align: center;">@producto.proveedor</td>
                    <td style="text-align: center; width: 30px;">
                        <img title="Visibilidad: Cuando esta activado, el producto se podra vender, de lo contrario no se podra vender." class="@((producto.visible == 1 ? "imgCheckActivado " : "imgCheckDesactivado ") + " imgVisible")" valor="@(producto.visible == 1 ? "1" : "0")" idProducto="@producto.id" src="@Url.Content("~/assets-minified/images/eye.png")" style="width: 20px;" />
                    </td>
                    @if (configuracion_general.venta_consignacion == true)
                    {
                        <td style="text-align: center; width: 30px;">
                            <img title="Consignacion: Cuando esta activado la consignacion y se vende el producto, se generara una cuenta por pagar al proveedor del producto." class="@((producto.consignacion == 1 ? "imgCheckActivado " : "imgCheckDesactivado ") + " imgConsignacion")" valor="@(producto.consignacion == 1 ? "1" : "0")" idProducto="@producto.id" src="@Url.Content("~/assets-minified/images/consignacion.png")" style="width: 20px;" />
                        </td>
                    }
                    <td style="text-align: center; width: 30px;">
                        <img title="Publicado: Cuando esta activado, el producto aparecera en la tienda en linea." class="@((producto.publicado == 1 ? "imgCheckActivado " : "imgCheckDesactivado ") + " imgPublicado")" valor="@(producto.publicado == 1 ? "1" : "0")" idProducto="@producto.id" src="@Url.Content("~/assets-minified/images/internet.png")" style="width: 20px;" />
                    </td>
                    <td style="text-align: center; width: 30px;">
                        <img title="Destacado: Cuando esta activado, el producto aparecera en la seccion de productos destacados de la tienda en linea." class="@((producto.carrusel == 1 ? "imgCheckActivado " : "imgCheckDesactivado ") + " imgDestacado")" valor="@(producto.carrusel == 1 ? "1" : "0")" idProducto="@producto.id" src="@Url.Content("~/assets-minified/images/destacado.png")" style="width: 20px;" />
                    </td>
                    <td style="text-align: center; width: 30px;">
                        <img title="Precio dolar: Cuando este activado, el producto se cobrara en dolares de acuerdo al precio asignado a la sucursal donde se realize la venta." class="@((producto.precio_dolar == 1 ? "imgCheckActivado " : "imgCheckDesactivado ") + " imgDolar")" valor="@(producto.precio_dolar == 1 ? "1" : "0")" idProducto="@producto.id" src="@Url.Content("~/assets-minified/images/dolares.png")" style="width: 20px;" />
                    </td>
                    <td style="text-align: center; width: 30px;">
                        @if (producto.imagenes > 0)
                        {
                            <img title="Imagenes" src="@Url.Content("~/assets-minified/images/imagen.png")" style="width: 20px;" />
                        }
                    </td>
                    <td style="text-align: center; width: 30px;">
                        @if (producto.pdfs > 0)
                    {
                            <img title="PDF" src="@Url.Content("~/assets-minified/images/pdf.png")" style="width: 20px;" />
                        }
                    </td>
                    <td style="text-align: center;">
                        <section>
                            <div class="wrapper-demo">
                                <div class="wrapper-dropdown-5" tabindex="1">
                                    <i class="glyph-icon icon-bars" aria-hidden="true" style="margin-right: 12px;"></i>
                                    Acciones
                                    <ul class="dropdown" style="padding: 0px; text-align: left; margin-top: 0px;">
                                        <li>
                                            <label onclick="EditarProducto(@producto.id)" style="color: #254054"><i class="glyph-icon icon-pencil" aria-hidden="true" style="margin-right: 15px;"></i>Editar</label>
                                        </li>
                                        <li>
                                            <label onclick="PreciosProducto(@producto.id)" style="color: #254054"><i class="glyph-icon icon-eye" aria-hidden="true" style="margin-right: 15px;"></i>Precios</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div id="pie_tabla">
    <label id="numero_productos">
        Mostrando los productos @desde al @hasta de @totalProductos productos
    </label>
    <div id="paginacion">
        @{
            int totalPaginas;
            if (Convert.ToString((Convert.ToDecimal(totalProductos) / numeroProductos)).Split('.').Length > 1)
            {
                totalPaginas = (Convert.ToInt32(totalProductos) / numeroProductos) + 1;
            }
            else
            {
                totalPaginas = (Convert.ToInt32(totalProductos) / numeroProductos);
            }
            if (totalPaginas <= 3)
            {
                <a name="1">Primera</a>
                <a name="@(pagina - 1)">Anterior</a>
                for (int i = 0; i < totalPaginas; i++)
                {
                    if ((i + 1) == pagina)
                    {
                        <a class="active" name="@(i + 1)">@(i + 1)</a>
                    }
                    else
                    {
                        <a name="@(i + 1)">@(i + 1)</a>
                    }
                }
                <a name="@(pagina + 1)">Siguiente</a>
                <a name="@totalPaginas">Ultima</a>
            }
            else if (pagina == totalPaginas)
            {
                <a name="1">Primera</a>
                <a name="@(pagina - 1)">Anterior</a>
                <a name="1">1</a>
                <span>...</span>
                <a name="@(pagina - 1)">@(pagina - 1)</a>
                <a class="active" name="@pagina">@pagina</a>
                <a name="@(pagina + 1)">Siguiente</a>
                <a name="@totalPaginas">Ultima</a>
            }
            else if (pagina == 1)
            {
                <a name="1">Primera</a>
                <a name="@(pagina - 1)">Anterior</a>
                <a class="active" name="1">1</a>
                <a name="2">2</a>
                <span>...</span>
                <a name="@totalPaginas">@totalPaginas</a>
                <a name="@(pagina + 1)">Siguiente</a>
                <a name="@totalPaginas">Ultima</a>
            }
            else
            {
                <a name="1">Primera</a>
                <a name="@(pagina - 1)">Anterior</a>
                <span>...</span>
                <a name="@(pagina - 1)">@(pagina - 1)</a>
                <a class="active" name="@(pagina)">@(pagina)</a>
                <a name="@(pagina + 1)">@(pagina + 1)</a>
                <span>...</span>
                <a name="@(pagina + 1)">Siguiente</a>
                <a name="@totalPaginas">Ultima</a>
            }
        }
    </div>
</div>

<script type="text/javascript">
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }
    $(function () {
        $(".wrapper-dropdown-5").each(function () {
            var dd = new DropDown($(this));
            $(document).click(function () {
                // all dropdowns
                $('.wrapper-dropdown-5').removeClass('active');
            });
        });
    });
</script>

<table id="TablaProductosExcel" style="width: 100%;display:none">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripción</th>
            <th>Descripción Detallada</th>
            <th>Marca</th>
            <th>Familia</th>
            <th>Subfamilia</th>
            <th>Proveedor</th>
            <th>Costo</th>
            <th>Medida</th>
            <th>Modelo</th>
            <th>Publicar</th>
            <th>Destacado</th>
            <th>Precio Dolar</th>
            <th>Imagen</th>
            <th>PDF</th>
        </tr>
    </thead>
    <tbody>
        @if (ListaProductos.Count == 0)
        {
            <tr>
                <td colspan="11" style="text-align: center; padding-top: 15px;">No se encontraron productos.</td>
            </tr>
        }
        else
        {
            foreach (POS.Models.ConsultaProducto producto in ListaProductos)
            {
                <tr>
                    <td style="text-align: center;">@producto.codigo</td>
                    <td style="text-align: center;">@producto.descripcion</td>
                    <td style="text-align: center;">@producto.descripcion_detallada</td>
                    <td style="text-align: center;">@producto.marca</td>
                    <td style="text-align: center;">@producto.familia</td>
                    <td style="text-align: center;">@producto.subfamilia</td>
                    <td style="text-align: center;">@producto.proveedor</td>
                    <td style="text-align: center;">@producto.costo</td>
                    <td style="text-align: center;">@producto.medida</td>
                    <td style="text-align: center;">@producto.modelo</td>
                    <td style="text-align: center;">
                        @(producto.publicado == 1 ? "1 " : "0 ")
                    </td>
                    <td style="text-align: center;">
                        @(producto.carrusel == 1 ? "1 " : "0 ")
                    </td>
                    <td style="text-align: center;">
                        @(producto.precio_dolar == 1 ? "1 " : "0 ")
                    </td>
                    <td style="text-align: center;">
                        @(producto.imagenes > 0 ? "1 " : "0 ")
                    </td>
                    <td style="text-align: center;">
                        @(producto.pdfs > 0 ? "1 " : "0 ")
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $("#TablaProductosExcel").tableExport({
        headings: true,                     // (Boolean), display table headings (th/td elements) in the <thead>
        footers: true,                      // (Boolean), display table footers (th/td elements) in the <tfoot>
        formats: ["xlsx"],                  // (String[]), filetype(s) for the export
        fileName: "id",                     // (id, String), filename for the downloaded file
        bootstrap: true,                    // (Boolean), style buttons using bootstrap
        position: "bottom",                 // (top, bottom), position of the caption element relative to table
        ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file
        ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file
        ignoreCSS: ".tableexport-ignore",   // (selector, selector[]), selector(s) to exclude cells from the exported file
        emptyCSS: ".tableexport-empty",     // (selector, selector[]), selector(s) to replace cells with an empty string in the exported file
        trimWhitespace: false               // (Boolean), remove all leading/trailing newlines, spaces (including non-breaking spaces), and tabs from cell text
    }).reset();
</script>